Repository langgenius/dify, pull requests merged in 2023-12, with the labels that each got.

#1660 fix: app setting click pop
  web/app/(commonLayout)/apps/AppCard.tsx
Labels: size:XS

#1663 feat: clipboard paste
  web/app/components/app/chat/index.tsx
  web/app/components/base/image-uploader/hooks.ts
  web/app/components/base/image-uploader/uploader.tsx
  web/types/app.ts
Labels: size:M

#1665 fix: Fix typo in documentation: change 'converation' to 'conversation'
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:S

#1673 Doc/use proper links
  web/app/signin/normalForm.tsx
Labels: size:XS

#1690 feat: add upgrade ga test
  web/app/components/billing/plan/index.tsx
  web/app/components/billing/upgrade-btn/index.tsx
  web/i18n/lang/billing.en.ts
Labels: size:S

#1695 feat: use gtag instead gtm
  web/app/(commonLayout)/apps/NewAppDialog.tsx
  web/app/components/base/ga/index.tsx
  web/app/components/billing/apps-full-in-dialog/index.tsx
  web/app/components/billing/apps-full/index.tsx
  web/app/components/billing/billing-page/index.tsx
  web/app/components/billing/plan/index.tsx
  web/app/components/billing/pricing/plan-item.tsx
  web/app/components/billing/upgrade-btn/index.tsx
  web/app/components/billing/vector-space-full/index.tsx
  web/app/components/datasets/create/embedding-process/index.tsx
  web/app/components/explore/create-app-modal/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
Labels: size:M

#1693 fix(web): reserve default copy behavior
  web/app/components/base/image-uploader/hooks.ts
Labels: size:S, lgtm

#1697 feat: remove documents limit
  web/app/components/base/notion-page-selector/base.tsx
  web/app/components/datasets/create/file-uploader/index.tsx
  web/app/components/datasets/create/step-one/index.tsx
  web/i18n/lang/dataset-creation.en.ts
  web/i18n/lang/dataset-creation.zh.ts
  web/models/common.ts
  web/service/common.ts
Labels: size:M, lgtm

#1691 feat: billing enhancement 20231204
  api/config.py
  api/controllers/console/app/app.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/explore/installed_app.py
  api/controllers/console/workspace/members.py
  api/controllers/console/wraps.py
  api/controllers/service_api/dataset/document.py
  api/controllers/service_api/dataset/segment.py
  api/controllers/service_api/wraps.py
  api/services/billing_service.py
  api/services/dataset_service.py
Labels: size:L, lgtm

#1712 fix: process document priority tip
  web/app/components/datasets/create/embedding-process/index.tsx
Labels: size:XS, lgtm

#1708 Feat/regenrate conversation in embeded window
  web/app/components/app/chat/icon-component/index.tsx
  web/app/components/share/chatbot/index.tsx
  web/app/components/share/header.tsx
  web/i18n/lang/share-app.en.ts
  web/i18n/lang/share-app.zh.ts
  web/yarn.lock
Labels: size:M

#1718 fix: auto generate type error in controllers/web/conversation.py
  api/controllers/web/conversation.py
Labels: size:XS, lgtm

#1719 bump version to 0.3.33
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#1720 fix: remove postgresql default charset config
  api/config.py
Labels: size:XS

#1728 fix: default types
  api/controllers/console/explore/conversation.py
  api/controllers/console/universal_chat/conversation.py
  api/controllers/service_api/app/completion.py
Labels: size:XS, lgtm

#1731 fix: prompt null parse var error
  web/utils/var.ts
Labels: size:XS

#1732 fix: server component use translate errorts lint error
  web/app/(commonLayout)/apps/page.tsx
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/settings/page.tsx
Labels: size:XS

#1736 fix only full text search in app issue
  api/core/index/vector_index/weaviate_vector_index.py
  api/core/tool/dataset_multi_retriever_tool.py
  api/core/tool/dataset_retriever_tool.py
Labels: size:S, lgtm

#1740 check rerank document is not empty
  api/core/model_providers/models/reranking/cohere_reranking.py
  api/core/model_providers/models/reranking/xinference_reranking.py
Labels: size:XS, lgtm

#1741 fix: ad block disabled tracking would block ga then can not pay
  web/app/components/billing/pricing/plan-item.tsx
  web/app/components/billing/upgrade-btn/index.tsx
Labels: size:S

#1742 add self checks to issues and discussions templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/document_issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/help_wanted.yml
  .github/ISSUE_TEMPLATE/translation_issue.yml
Labels: size:M

#1746 remove stripe and anthropic.
  api/.env.example
  api/app.py
  api/config.py
  api/controllers/console/__init__.py
  api/controllers/console/billing/billing.py
  api/controllers/console/webhook/__init__.py
  api/controllers/console/webhook/stripe.py
  api/controllers/console/workspace/model_providers.py
  api/core/model_providers/providers/anthropic_provider.py
  api/core/model_providers/providers/base.py
  api/core/model_providers/providers/hosted.py
  api/core/model_providers/providers/openai_provider.py
  api/extensions/ext_stripe.py
  api/models/provider.py
  api/requirements.txt
  api/services/billing_service.py
  api/services/provider_checkout_service.py
Labels: size:L, lgtm

#1748 chore: update term links
  web/app/components/app/overview/settings/index.tsx
  web/app/components/header/account-about/index.tsx
Labels: size:XS

#1749 feat: update pricing
  web/app/components/base/tooltip-plus/index.tsx
  web/app/components/billing/config.ts
  web/app/components/billing/pricing/plan-item.tsx
  web/app/components/billing/type.ts
  web/i18n/lang/billing.en.ts
  web/i18n/lang/billing.zh.ts
Labels: size:L

#1753 feat: web app support some feature
  web/app/components/share/chat/index.tsx
  web/app/components/share/chat/welcome/index.tsx
  web/app/components/share/chatbot/index.tsx
  web/app/components/share/chatbot/welcome/index.tsx
  web/app/components/share/text-generation/index.tsx
  web/i18n/lang/common.en.ts
Labels: size:M, lgtm

#1752 feat: can replace logo.
  api/controllers/web/site.py
Labels: size:S, lgtm

#1751 azure openai add gpt-4-1106-preview、gpt-4-vision-preview models
  api/core/model_providers/models/llm/azure_openai_model.py
  api/core/model_providers/providers/azure_openai_provider.py
  api/core/model_providers/rules/azure_openai.json
  api/core/third_party/langchain/llms/azure_chat_open_ai.py
  web/i18n/lang/common.en.ts
  web/i18n/lang/common.zh.ts
  web/package.json
  web/yarn.lock
Labels: size:L, lgtm

#1758 update bm25 search properties
  api/core/vector_store/vector/weaviate.py
Labels: size:XS

#1761 feat: remove billing config.
  api/.env.example
Labels: size:XS, lgtm

#1763 fix: issue templates not render correctly
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/document_issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/help_wanted.yml
Labels: size:S

#1767 Annotation management
  api/commands.py
  api/controllers/console/__init__.py
  api/controllers/console/app/annotation.py
  api/controllers/console/app/error.py
  api/controllers/console/app/message.py
  api/controllers/console/app/model_config.py
  api/controllers/console/explore/parameter.py
  api/controllers/console/universal_chat/parameter.py
  api/controllers/console/universal_chat/wraps.py
  api/controllers/console/wraps.py
  api/controllers/service_api/app/app.py
  api/controllers/web/app.py
  api/core/completion.py
  api/core/conversation_message_task.py
  api/core/index/base.py
  api/core/index/keyword_table_index/keyword_table_index.py
  api/core/index/vector_index/milvus_vector_index.py
  api/core/index/vector_index/qdrant_vector_index.py
  api/core/index/vector_index/weaviate_vector_index.py
  api/core/vector_store/milvus_vector_store.py
  api/events/event_handlers/update_app_dataset_join_when_app_model_config_updated.py
  api/fields/annotation_fields.py
  api/fields/app_fields.py
  api/fields/conversation_fields.py
  api/migrations/versions/246ba09cbbdb_add_app_anntation_setting.py
  api/migrations/versions/46976cc39132_add_annotation_histoiry_score.py
  api/migrations/versions/714aafe25d39_add_anntation_history_match_response.py
  api/migrations/versions/e1901f623fd0_add_annotation_reply.py
  api/migrations/versions/f2a6fc85e260_add_anntation_history_message_id.py
  api/models/dataset.py
  api/models/model.py
  api/services/annotation_service.py
  api/services/app_model_config_service.py
  api/services/completion_service.py
  api/services/dataset_service.py
  api/tasks/annotation/add_annotation_to_index_task.py
  api/tasks/annotation/batch_import_annotations_task.py
  api/tasks/annotation/delete_annotation_index_task.py
  api/tasks/annotation/disable_annotation_reply_task.py
  api/tasks/annotation/enable_annotation_reply_task.py
  api/tasks/annotation/update_annotation_to_index_task.py
Labels: size:XL, lgtm

#1768 fix annotation reply in universal chat
  api/controllers/console/universal_chat/wraps.py
Labels: size:XS, lgtm

#1766 feat: custom webapp logo
  api/controllers/console/workspace/workspace.py
  api/controllers/console/wraps.py
  api/controllers/files/image_preview.py
  api/controllers/web/site.py
  api/core/file/upload_file_parser.py
  api/migrations/versions/88072f0caa04_add_custom_config_in_tenant.py
  api/models/account.py
  api/services/account_service.py
  api/services/file_service.py
  api/services/workspace_service.py
  web/app/components/base/icons/assets/vender/line/editor/colors.svg
  web/app/components/base/icons/assets/vender/solid/communication/message-dots-circle.svg
  web/app/components/base/icons/assets/vender/solid/editor/colors.svg
  web/app/components/base/icons/src/vender/line/editor/Colors.json
  web/app/components/base/icons/src/vender/line/editor/Colors.tsx
  web/app/components/base/icons/src/vender/line/editor/index.ts
  web/app/components/base/icons/src/vender/solid/communication/MessageDotsCircle.json
  web/app/components/base/icons/src/vender/solid/communication/MessageDotsCircle.tsx
  web/app/components/base/icons/src/vender/solid/communication/index.ts
  web/app/components/base/icons/src/vender/solid/editor/Colors.json
  web/app/components/base/icons/src/vender/solid/editor/Colors.tsx
  web/app/components/base/icons/src/vender/solid/editor/index.ts
  web/app/components/base/image-uploader/utils.ts
  web/app/components/custom/custom-app-header-brand/index.tsx
  web/app/components/custom/custom-app-header-brand/style.module.css
  web/app/components/custom/custom-page/index.tsx
  web/app/components/custom/custom-web-app-brand/index.tsx
  web/app/components/custom/custom-web-app-brand/style.module.css
  web/app/components/custom/style.module.css
  web/app/components/header/account-setting/index.tsx
  web/app/components/share/chat/index.tsx
  web/app/components/share/chat/welcome/index.tsx
  web/app/components/share/chatbot/index.tsx
  web/app/components/share/chatbot/welcome/index.tsx
  web/i18n/i18next-config.ts
  web/i18n/lang/custom.en.ts
  web/i18n/lang/custom.zh.ts
  web/models/common.ts
  web/service/base.ts
  web/service/common.ts
Labels: size:XL, lgtm

#1771 fix annotation query exception
  api/core/completion.py
Labels: size:L, lgtm

#1772 fix: not owner can not pay
  web/app/components/billing/billing-page/index.tsx
  web/app/components/billing/pricing/index.tsx
  web/app/components/billing/pricing/plan-item.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/context/app-context.tsx
  web/i18n/lang/billing.en.ts
  web/i18n/lang/billing.zh.ts
Labels: size:M

#1770 feat: only tenant owner can subscription.
  api/controllers/console/billing/billing.py
  api/services/billing_service.py
Labels: size:S, lgtm

#1773 chore: update annotation reply english i18n
  web/i18n/lang/app-annotation.en.ts
  web/i18n/lang/app-debug.en.ts
  web/i18n/lang/billing.en.ts
Labels: size:S

#1774 fix: get billing info in self-hosted edition from current workspace
  api/services/workspace_service.py
Labels: size:XS

#1775 fix: add then eidt annotion cause show bug
  web/app/components/app/chat/index.tsx
Labels: size:XS

#1776 Fix/vdb index issue
  api/controllers/console/app/annotation.py
  api/controllers/console/wraps.py
  api/core/completion.py
  api/core/index/vector_index/milvus_vector_index.py
  api/core/index/vector_index/vector_index.py
  api/core/index/vector_index/weaviate_vector_index.py
  api/tasks/annotation/add_annotation_to_index_task.py
Labels: size:S, lgtm

#1780 Feat/add unstructured support
  api/.env.example
  api/config.py
  api/controllers/console/datasets/file.py
  api/core/data_loader/file_extractor.py
  api/core/data_loader/loader/unstructured/unstructured_eml.py
  api/core/data_loader/loader/unstructured/unstructured_markdown.py
  api/core/data_loader/loader/unstructured/unstructured_msg.py
  api/core/data_loader/loader/unstructured/unstructured_ppt.py
  api/core/data_loader/loader/unstructured/unstructured_pptx.py
  api/core/data_loader/loader/unstructured/unstructured_text.py
  api/core/data_loader/loader/unstructured/unstructured_xml.py
  api/core/indexing_runner.py
  api/models/dataset.py
  api/requirements.txt
  api/services/file_service.py
Labels: size:L, lgtm

#1777 feat: unstructured frontend
  web/app/components/datasets/create/file-uploader/index.tsx
  web/i18n/lang/dataset-creation.en.ts
  web/i18n/lang/dataset-creation.zh.ts
  web/service/datasets.ts
Labels: size:M

#1781 chore: enchance annotation ui
  web/app/components/app/configuration/toolbox/annotation/config-param-modal.tsx
  web/app/components/app/overview/settings/index.tsx
  web/i18n/lang/common.zh.ts
Labels: size:S

#1784 fix: web app text
  api/controllers/web/site.py
  api/models/account.py
  web/i18n/lang/custom.en.ts
  web/i18n/lang/custom.zh.ts
Labels: size:XS, lgtm

#1785 fix: unstructured file extension
  web/app/components/datasets/create/file-uploader/index.tsx
Labels: size:XS

#1787 chore: enchance ext name
  web/app/components/datasets/create/file-uploader/index.tsx
Labels: size:M

#1788 feat: bump version to 0.3.34
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#1793 fix: not return annotation author error happens
  web/app/components/app/annotation/header-opts/index.tsx
  web/app/components/app/chat/answer/index.tsx
  web/app/components/app/log/list.tsx
  web/app/components/base/popover/index.tsx
Labels: size:S

#1791 fix typo
  api/controllers/console/datasets/file.py
Labels: size:XS

#1792 Compatible with the situation where there is no user information.
  api/fields/conversation_fields.py
  api/models/model.py
Labels: size:S, lgtm

#1790 ppt & pptx improve
  api/core/data_loader/loader/unstructured/unstructured_ppt.py
  api/core/data_loader/loader/unstructured/unstructured_pptx.py
  api/core/indexing_runner.py
Labels: size:M, lgtm

#1794 Fix: delete member dropdown not shown
  web/app/components/header/account-setting/members-page/index.tsx
  web/yarn.lock
Labels: size:XS, lgtm

#1797 fix: settings/members dropdown ui
  web/app/components/header/account-setting/members-page/index.tsx
Labels: size:XS, lgtm

#1799 fix gpt 4v upload image issue
  api/services/file_service.py
Labels: size:XS, lgtm

#1795 feat: add ChatGLM supports to dify runtime
  api/core/model_runtime/model_providers/chatglm/__init__.py
  api/core/model_runtime/model_providers/chatglm/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/chatglm/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/chatglm/chatglm.py
  api/core/model_runtime/model_providers/chatglm/chatglm.yaml
  api/core/model_runtime/model_providers/chatglm/llm/__init__.py
  api/core/model_runtime/model_providers/chatglm/llm/chatglm2-6b-32k.yaml
  api/core/model_runtime/model_providers/chatglm/llm/chatglm2-6b.yaml
  api/core/model_runtime/model_providers/chatglm/llm/chatglm3-6b-32k.yaml
  api/core/model_runtime/model_providers/chatglm/llm/chatglm3-6b.yaml
  api/core/model_runtime/model_providers/chatglm/llm/llm.py
  api/tests/integration_tests/model_runtime/chatglm/__init__.py
  api/tests/integration_tests/model_runtime/chatglm/test_llm.py
  api/tests/integration_tests/model_runtime/chatglm/test_provider.py
Labels: size:XL

#1789 feat: add billing switch.
  api/config.py
  api/controllers/console/__init__.py
  api/controllers/console/billing/billing.py
  api/controllers/console/feature.py
  api/controllers/console/wraps.py
  api/controllers/service_api/wraps.py
  api/controllers/web/site.py
  api/services/feature_service.py
  api/services/workspace_service.py
  web/app/components/billing/type.ts
  web/app/components/billing/utils/index.ts
  web/app/components/custom/custom-page/index.tsx
  web/app/components/custom/custom-web-app-brand/index.tsx
  web/app/components/header/account-setting/index.tsx
  web/context/provider-context.tsx
  web/service/billing.ts
Labels: size:L, lgtm

#1802 Update README.md
  README.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
Labels: size:L, lgtm

#1807 Update README_ES.md
  README_ES.md
Labels: size:XS, lgtm

#1805 Update README_JA.md
  README_JA.md
Labels: size:S, lgtm

#1806 Update README_CN.md
  README_CN.md
Labels: size:XS, lgtm

#1804 Update README_CN.md
  README_CN.md
Labels: size:XS, lgtm

#1810 feat: add email template for invite new user in workspace
  api/services/account_service.py
  api/tasks/mail_invite_member_task.py
  api/templates/invite_member_mail_template_en-US.html
  api/templates/invite_member_mail_template_zh-CN.html
  web/yarn.lock
Labels: size:L, lgtm

#1811 Fix azure openai gpt4v&1106 config
  web/app/components/header/account-setting/model-page/configs/azure_openai.tsx
Labels: size:S

#1812 fix: mail link color
  api/templates/invite_member_mail_template_en-US.html
  api/templates/invite_member_mail_template_zh-CN.html
Labels: size:XS, lgtm

#1796 Parse base64 eml file
  api/core/data_loader/loader/unstructured/unstructured_eml.py
  api/requirements.txt
Labels: size:M

#1814 add link to canny to README, plus some rewording
  README.md
Labels: size:XS, lgtm

#1816 feat: add roadmap and feedback link
  web/app/components/header/account-dropdown/index.tsx
  web/i18n/lang/common.en.ts
  web/i18n/lang/common.zh.ts
Labels: size:S

#1821 fix unstructured requirements
  api/requirements.txt
Labels: size:XS, lgtm

#1813 Fix Azure OpenAI Provider BASE_MODELS
  api/core/model_providers/providers/azure_openai_provider.py
Labels: size:XS

#1824 fix: edited by is missing
  web/app/components/app/log/list.tsx
  web/models/log.ts
Labels: size:S, lgtm

#1825 Update README.md
  README.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
Labels: size:S

#1826 fix: selection too long break ui
  web/app/components/base/select/index.tsx
Labels: size:XS

#1828 Fix chitchat lost context
  api/core/memory/read_only_conversation_token_db_buffer_shared_memory.py
Labels: size:XS, lgtm

#1831 feat: comment db port to host
  docker/docker-compose.yaml
Labels: size:XS

#1841 fix file type not support when preview
  api/services/file_service.py
Labels: size:S

#1844 fix segment update issue
  api/services/dataset_service.py
Labels: size:XS

#1848 fix: splitting text ui broken
  web/app/components/datasets/create/step-two/index.module.css
  web/app/components/datasets/create/step-two/index.tsx
Labels: size:S

#1851 Feat/add community link to dropdown
  web/README.md
  web/app/components/header/account-dropdown/index.tsx
  web/i18n/lang/common.en.ts
  web/i18n/lang/common.zh.ts
Labels: size:S

#1852 ci: Bump Docker Github actions
  .github/workflows/build-api-image.yml
  .github/workflows/build-web-image.yml
Labels: size:S

#1853 Refactor BaseVectorIndex delete method
  api/core/index/vector_index/base.py
Labels: size:S
