Repository langgenius/dify, pull requests merged in 2024-08, with the labels that each got.

#6854 chore: update SQLAlchemy configuration with custom naming convention
  api/extensions/ext_database.py
  api/migrations/alembic.ini
Labels: size:S, lgtm

#6861 fix: model parameter selector
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#6858 fix: anthropic max token NoneType error
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-5-sonnet-20240620.yaml
Labels: 🐞 bug, size:XS, lgtm

#6746 support xinference tts
  api/core/model_runtime/model_providers/xinference/tts/__init__.py
  api/core/model_runtime/model_providers/xinference/tts/tts.py
  api/core/model_runtime/model_providers/xinference/xinference.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#6863 Fix keyboard shortcut conflict between workflow and browser
  web/app/components/workflow/index.tsx
Labels: size:XS, 🌊 feat:workflow, lgtm, ☕️ typescript

#6862 Add azure gpt4omini
  api/core/hosting_configuration.py
  api/core/model_runtime/model_providers/azure_openai/_constant.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#6865 delete weight_type
  api/core/rag/data_post_processor/data_post_processor.py
  api/core/rag/rerank/entity/weight.py
  api/fields/dataset_fields.py
Labels: size:XS, lgtm

#6866 feat:Azure gpt4o mini
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#6867 fix: remote image not display in answer node
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_img.py
  api/core/workflow/nodes/tool/tool_node.py
Labels: 🐞 bug, size:XS, lgtm

#6870 Revert "feat:Azure gpt4o mini"
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:L

#6839 chore: n to 1 retrieval
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/app/components/app/configuration/dataset-config/params-config/weighted-score.css
  web/app/components/app/configuration/dataset-config/params-config/weighted-score.tsx
  web/app/components/base/radio-card/simple/index.tsx
  web/app/components/base/radio-card/simple/style.module.css
  web/app/components/workflow/nodes/knowledge-retrieval/types.ts
  web/app/components/workflow/nodes/knowledge-retrieval/use-config.ts
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
  web/i18n/en-US/dataset.ts
  web/i18n/zh-Hans/dataset.ts
  web/models/debug.ts
Labels: size:L, 🌊 feat:workflow, lgtm

#6873 Azure 4o mini options
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#6869 Remove tts (blocking call)
  api/core/model_runtime/model_providers/azure_openai/tts/tts.py
  api/core/model_runtime/model_providers/openai/tts/tts.py
  api/core/model_runtime/model_providers/tongyi/tts/tts.py
Labels: 🐞 bug, size:L, lgtm

#6886 feat: Add support for i18n Turkish language (tr-TR)
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_TR.md
  api/constants/languages.py
  web/i18n/language.ts
  web/i18n/languages.json
  web/i18n/tr-TR/app-annotation.ts
  web/i18n/tr-TR/app-api.ts
  web/i18n/tr-TR/app-debug.ts
  web/i18n/tr-TR/app-log.ts
  web/i18n/tr-TR/app-overview.ts
  web/i18n/tr-TR/app.ts
  web/i18n/tr-TR/billing.ts
  web/i18n/tr-TR/common.ts
  web/i18n/tr-TR/custom.ts
  web/i18n/tr-TR/dataset-creation.ts
  web/i18n/tr-TR/dataset-documents.ts
  web/i18n/tr-TR/dataset-hit-testing.ts
  web/i18n/tr-TR/dataset-settings.ts
  web/i18n/tr-TR/dataset.ts
  web/i18n/tr-TR/explore.ts
  web/i18n/tr-TR/layout.ts
  web/i18n/tr-TR/login.ts
  web/i18n/tr-TR/register.ts
  web/i18n/tr-TR/run-log.ts
  web/i18n/tr-TR/share-app.ts
  web/i18n/tr-TR/tools.ts
  web/i18n/tr-TR/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm

#6885 fix: Change API key authentication failure response code from 404 to 401
  api/controllers/inner_api/wraps.py
Labels: 🐞 bug, size:XS, lgtm

#6888 fix: xinference reranker return_documents
  api/core/model_runtime/model_providers/xinference/rerank/rerank.py
  api/tests/integration_tests/model_runtime/__mock/xinference.py
Labels: 🐞 bug, size:XS, lgtm

#6892 delete weight_type in knowledge retrieval node
  api/core/workflow/nodes/knowledge_retrieval/entities.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#6896 fix tongyi tool calls
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
Labels: 🐞 bug, size:S, lgtm

#6876 pref: change ollama embedded api request
  api/core/model_runtime/model_providers/ollama/text_embedding/text_embedding.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#6900 fix score threshold limit be None
  api/core/app/app_config/easy_ui_based_app/dataset/manager.py
  api/core/app/app_config/entities.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/tests/unit_tests/services/workflow/test_workflow_converter.py
Labels: 🐞 bug, size:S, lgtm

#6901 feat: update llama3.1 parameters for openrouter
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.1-405b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.1-70b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.1-8b-instruct.yaml
Labels: 💪 enhancement, size:S, ⚙️ feat:model-runtime, lgtm

#6897 fix: multiple retrieval default weighted score
  web/app/components/datasets/common/retrieval-param-config/index.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#6905 fix: knowledge save button visible
  web/app/components/datasets/settings/form/index.tsx
Labels: size:S, lgtm, ☕️ typescript

#6908 Fix: webapp color theme
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat-with-history/context.tsx
  web/app/components/base/chat/chat-with-history/index.tsx
  web/app/components/base/chat/embedded-chatbot/index.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#6830 fix: code execution node not display clear reasons when sandbox res error
  api/core/helper/code_executor/code_executor.py
Labels: 🐞 bug, size:XS, lgtm

#6911 fix: return code in service api
  api/controllers/service_api/app/conversation.py
Labels: 🐞 bug, size:XS, lgtm

#6891 dep: bump pgvecto-rs client from 0.1.x to 0.2.x
  api/core/rag/datasource/vdb/pgvecto_rs/pgvecto_rs.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/poetry.lock
  api/pyproject.toml
  docker/docker-compose.yaml
Labels: dependencies, 🐍 python, size:S, lgtm

#6912 fix: system model setting missing space between buttons
  web/app/components/header/account-setting/model-provider-page/system-model-selector/index.tsx
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#6910 fix: reranking disable timer error
  api/core/rag/retrieval/dataset_retrieval.py
Labels: 🐞 bug, size:S, lgtm

#6917 fix: default rerank model check
  web/app/components/datasets/common/check-rerank-model.ts
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#6918 fix(nodes/knowledge-retrieval): workflow knowledge retrieval rerank model check
  web/app/components/workflow/nodes/knowledge-retrieval/default.ts
Labels: size:XS, 🌊 feat:workflow, lgtm

#6920 fix update dataset failed when embedding model is not exist
  api/controllers/console/datasets/datasets.py
  api/services/dataset_service.py
Labels: 🐞 bug, size:M, lgtm

#6884 add new provider Solar
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/upstage/__init__.py
  api/core/model_runtime/model_providers/upstage/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/upstage/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/upstage/_common.py
  api/core/model_runtime/model_providers/upstage/llm/__init__.py
  api/core/model_runtime/model_providers/upstage/llm/_position.yaml
  api/core/model_runtime/model_providers/upstage/llm/llm.py
  api/core/model_runtime/model_providers/upstage/llm/solar-1-mini-chat.yaml
  api/core/model_runtime/model_providers/upstage/text_embedding/__init__.py
  api/core/model_runtime/model_providers/upstage/text_embedding/solar-embedding-1-large-passage.yaml
  api/core/model_runtime/model_providers/upstage/text_embedding/solar-embedding-1-large-query.yaml
  api/core/model_runtime/model_providers/upstage/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/upstage/upstage.py
  api/core/model_runtime/model_providers/upstage/upstage.yaml
  api/docker/entrypoint.sh
  api/pyproject.toml
  api/tests/integration_tests/model_runtime/upstage/__init__.py
  api/tests/integration_tests/model_runtime/upstage/test_llm.py
  api/tests/integration_tests/model_runtime/upstage/test_provider.py
  api/tests/integration_tests/model_runtime/upstage/test_text_embedding.py
  dev/pytest/pytest_model_runtime.sh
Labels: 💪 enhancement, size:XXL, ⚙️ feat:model-runtime, lgtm

#6771 dep: support for Python 3.12
  .github/workflows/api-tests.yml
  api/migrations/README
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, 🐍 python, size:XS, lgtm

#6931 fix: sending app trace data to other app trace provider
  api/core/ops/ops_trace_manager.py
  api/tasks/ops_trace_task.py
Labels: 🐞 bug, size:M

#6932 fix: workflow trace user_id error
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/ops_trace_manager.py
Labels: 🐞 bug, size:S, 🌊 feat:workflow, lgtm

#6927 compatible xinference reranker server
  api/core/model_runtime/model_providers/xinference/rerank/rerank.py
Labels: 🐞 bug, size:M, lgtm

#6877 Workflow TTS playback node filtering issue.
  api/core/app/apps/advanced_chat/app_generator_tts_publisher.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/workflow/nodes/base_node.py
  api/core/workflow/workflow_engine_manager.py
Labels: 🐞 bug, size:M, 🌊 feat:workflow, lgtm

#6937 fix: import workflow errors
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: size:XS, 🌊 feat:workflow, lgtm, ☕️ typescript

#6688 Fix increase_usage of total_price in agent_runner
  api/core/agent/cot_agent_runner.py
  api/core/agent/fc_agent_runner.py
Labels: 🐞 bug, size:XS, 🤖 feat:agent, lgtm

#6941 fix: restore xinference secret field
  api/core/model_runtime/model_providers/xinference/xinference.yaml
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
Labels: 🐞 bug, size:XS, lgtm

#6939 chore: fix markdown format and one typo
  docker/README.md
Labels: 📚 documentation, size:S, lgtm

#6946 fix: ensure db migration in docker entry script running with `upgrade-db` command for proper locking
  api/docker/entrypoint.sh
Labels: 🐞 bug, size:XS, lgtm

#6953 Fix: tag & settings modal in dataset card in Firefox
  web/app/(commonLayout)/datasets/DatasetCard.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#6945 fix: The permissions issue of the editor role accessing some backend …
  api/controllers/console/app/annotation.py
  api/controllers/console/app/conversation.py
  api/controllers/console/app/message.py
  api/controllers/console/datasets/datasets_segments.py
Labels: 🐞 bug, size:M, lgtm

#6956 chore: exclude .txt extenstion in create_by_text API
  api/services/file_service.py
Labels: 💪 enhancement, size:XS, lgtm

#6966 chore: optimize streaming tts of xinference
  api/core/model_runtime/model_providers/xinference/tts/tts.py
  api/core/model_runtime/model_providers/xinference/xinference_helper.py
Labels: size:L, ⚙️ feat:model-runtime

#6965 chore: MAX_TREE_DEPTH spelling mistake
  web/app/components/workflow/constants.ts
  web/app/components/workflow/hooks/use-checklist.ts
Labels: size:XS, lgtm, ☕️ typescript

#6967 Revise the wrong pricing of certain LLM models.
  api/core/model_runtime/model_providers/groq/llm/llama3-70b-8192.yaml
  api/core/model_runtime/model_providers/groq/llm/llama3-8b-8192.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo.yaml
Labels: 🐞 bug, size:S, lgtm

#6972 version to 0.6.16
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 💪 enhancement, size:S, ⚙️ feat:model-runtime

#6974 fix doc
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
Labels: size:S, lgtm

#6983 chore: update duckduckgo tool
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_ai.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_search.py
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_search.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:M, 🔨 feat:tools, lgtm

#6973 feat:nvidia add nemotron4-340b and microsoft/phi-3
  api/core/model_runtime/model_providers/nvidia/llm/_position.yaml
  api/core/model_runtime/model_providers/nvidia/llm/llm.py
  api/core/model_runtime/model_providers/nvidia/llm/nemotron-4-340b-instruct.yaml
  api/core/model_runtime/model_providers/nvidia/llm/phi-3-medium-128k-instruct.yaml
  api/core/model_runtime/model_providers/nvidia/llm/phi-3-mini-128k-instruct.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#6987 Chores: fix name typo
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
Labels: size:S, lgtm

#6990 feat: add function calling for deepseek models
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-chat.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-coder.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#6984 Feat/new confirm
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-config-modal.tsx
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/(commonLayout)/datasets/DatasetCard.tsx
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/app/annotation/edit-annotation-modal/index.tsx
  web/app/components/app/annotation/remove-annotation-confirm-modal/index.tsx
  web/app/components/app/annotation/view-annotation-modal/index.tsx
  web/app/components/app/configuration/config-var/index.tsx
  web/app/components/app/configuration/config/automatic/get-automatic-res.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/app/overview/appCard.tsx
  web/app/components/app/switch-app-modal/index.tsx
  web/app/components/base/chat/chat-with-history/sidebar/index.tsx
  web/app/components/base/confirm-ui/index.tsx
  web/app/components/base/confirm/common.module.css
  web/app/components/base/confirm/common.tsx
  web/app/components/base/confirm/index.tsx
  web/app/components/base/modal/delete-confirm-modal/index.tsx
  web/app/components/base/modal/delete-confirm-modal/style.module.css
  web/app/components/datasets/documents/detail/completed/SegmentCard.tsx
  web/app/components/datasets/documents/list.tsx
  web/app/components/develop/secret-key/secret-key-modal.tsx
  web/app/components/explore/sidebar/index.tsx
  web/app/components/header/account-setting/account-page/index.tsx
  web/app/components/header/account-setting/api-based-extension-page/item.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/model-load-balancing-entry-modal.tsx
  web/app/components/tools/provider/detail.tsx
  web/app/components/workflow/header/restoring-title.tsx
  web/app/components/workflow/index.tsx
  web/app/components/workflow/nodes/_base/components/remove-effect-var-confirm.tsx
  web/hooks/use-pay.tsx
  web/i18n/en-US/common.ts
Labels: 💪 enhancement, size:XL, lgtm, ☕️ typescript

#7002 fix: code-block-missing-checks
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: 🐞 bug, size:S

#7007 feat: agent app support generate prompt
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
Labels: size:XS, 🤖 feat:agent, lgtm

#7012 Fix/reranking mode is null
  api/core/rag/datasource/retrieval_service.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/services/hit_testing_service.py
Labels: 🐞 bug, size:M, lgtm

#7006 fix: Fix incorrect context size for jina-reranker-v2 model
  api/core/model_runtime/model_providers/jina/rerank/jina-reranker-v2-base-multilingual.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#7021 fix: typos in wenxin llm
  api/core/model_runtime/model_providers/wenxin/llm/ernie_bot.py
Labels: 🐞 bug, size:XS, lgtm

#7027 Provide output data also in json property of workflow tool (#6924)
  api/core/tools/tool/workflow_tool.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#7029 doc: correct typos in mdx files
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_workflow.en.mdx
Labels: 📚 documentation, size:S, lgtm

#7036 feat: add disabled support to tooltip-plus component
  web/app/components/base/tooltip-plus/index.tsx
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#7033 chore: lint code to remove unused imports and variables
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
  web/app/components/app/annotation/edit-annotation-modal/edit-item/index.tsx
  web/app/components/app/configuration/config-prompt/confirm-add-var/index.tsx
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
  web/app/components/app/overview/appCard.tsx
  web/app/components/base/agent-log-modal/result.tsx
  web/app/components/base/block-input/index.tsx
  web/app/components/base/chat/chat/thought/index.tsx
  web/app/components/billing/vector-space-full/index.tsx
  web/app/components/datasets/hit-testing/textarea.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#7042 chore: show non-English characters in exported DSL files
  api/services/app_dsl_service.py
Labels: 💪 enhancement, size:XS, lgtm

#7046 feat: add gpt-4o-2024-08-06
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-2024-08-06.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#7044 Add support for i18n Farsi language (fa-IR)
  api/constants/languages.py
  web/i18n/fa-IR/app-annotation.ts
  web/i18n/fa-IR/app-api.ts
  web/i18n/fa-IR/app-debug.ts
  web/i18n/fa-IR/app-log.ts
  web/i18n/fa-IR/app-overview.ts
  web/i18n/fa-IR/app.ts
  web/i18n/fa-IR/billing.ts
  web/i18n/fa-IR/common.ts
  web/i18n/fa-IR/custom.ts
  web/i18n/fa-IR/dataset-creation.ts
  web/i18n/fa-IR/dataset-documents.ts
  web/i18n/fa-IR/dataset-hit-testing.ts
  web/i18n/fa-IR/dataset-settings.ts
  web/i18n/fa-IR/dataset.ts
  web/i18n/fa-IR/explore.ts
  web/i18n/fa-IR/layout.ts
  web/i18n/fa-IR/login.ts
  web/i18n/fa-IR/register.ts
  web/i18n/fa-IR/run-log.ts
  web/i18n/fa-IR/share-app.ts
  web/i18n/fa-IR/tools.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/language.ts
  web/i18n/languages.json
Labels: 💪 enhancement, size:XXL, lgtm

#7017 feat: Add hyperlink parsing to the DOCX document.
  api/core/rag/extractor/word_extractor.py
Labels: 💪 enhancement, size:S, lgtm

#7047 fix(api/core/app/segments): Allow to contains boolean value in object segment
  api/core/app/segments/factory.py
  api/core/app/segments/segments.py
  api/tests/unit_tests/core/app/segments/test_factory.py
  api/tests/unit_tests/core/app/segments/test_variables.py
Labels: 🐞 bug, 🐍 python, size:S, lgtm

#7051 add vector field for other vectordb
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector.py
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  api/core/rag/datasource/vdb/opensearch/opensearch_vector.py
  api/core/rag/datasource/vdb/oracle/oraclevector.py
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
  api/core/rag/models/document.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/services/hit_testing_service.py
Labels: 🐞 bug, size:M, 👻 feat:rag, lgtm

#7052 chore(api/core/app/segments/segments.py): Remove todo tags.
  api/core/app/segments/segments.py
Labels: 💪 enhancement, size:XS, lgtm

#7048 refactor(*): Update hard-code '[__HIDDEN__]' to the constant.
  api/constants/__init__.py
  api/controllers/console/extension.py
  api/core/entities/provider_configuration.py
  api/services/model_load_balancing_service.py
Labels: 💪 enhancement, size:S, lgtm

#7050 feat(api/core/rag/datasource/vdb/analyticdb/analyticdb_vector.py): Checking config before init analyticdb
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector.py
Labels: size:S, 👻 feat:rag, lgtm

#6859 fix: add redis lock to AnalyticdbVector init
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector.py
Labels: 🐞 bug, size:S, lgtm

#7062 fix: hunyuan assistant_prompt_message pydantic error
  api/core/model_runtime/model_providers/hunyuan/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#7064 update enterprise inquiry link to point to chatflow
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KR.md
  README_TR.md
Labels: 📚 documentation, size:S, lgtm

#7066 fix(api/core/workflow/nodes/tool/tool_node.py): Keep None value in tool params.
  api/core/workflow/nodes/tool/tool_node.py
Labels: 🐞 bug, size:XS, lgtm

#7076 fix: workflow delete node shortcut
  web/app/components/workflow/index.tsx
Labels: size:XS, 🌊 feat:workflow, lgtm

#7070 feat: support glm-4-long
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_long.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#7084 Add price info for zhipu models
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-0520.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-air.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-airx.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flash.yaml
  api/core/model_runtime/model_providers/zhipuai/text_embedding/embedding-2.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#7086 feat: Poetry requests timeout
  api/Dockerfile
Labels: 💪 enhancement, size:XS, lgtm

#7069 Feat/add 360-zhinao provider
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/zhinao/__init__.py
  api/core/model_runtime/model_providers/zhinao/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/zhinao/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/zhinao/llm/360gpt-turbo-responsibility-8k.yaml
  api/core/model_runtime/model_providers/zhinao/llm/360gpt-turbo.yaml
  api/core/model_runtime/model_providers/zhinao/llm/360gpt2-pro.yaml
  api/core/model_runtime/model_providers/zhinao/llm/__init__.py
  api/core/model_runtime/model_providers/zhinao/llm/_position.yaml
  api/core/model_runtime/model_providers/zhinao/llm/llm.py
  api/core/model_runtime/model_providers/zhinao/zhinao.py
  api/core/model_runtime/model_providers/zhinao/zhinao.yaml
  api/tests/integration_tests/.env.example
  api/tests/integration_tests/model_runtime/zhinao/__init__.py
  api/tests/integration_tests/model_runtime/zhinao/test_llm.py
  api/tests/integration_tests/model_runtime/zhinao/test_provider.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#7063 add nltk punkt resource
  api/Dockerfile
  api/core/rag/rerank/weight_rerank.py
Labels: 💪 enhancement, size:XS, lgtm

#7087 feat: add a builtin tool to support regex extraction. (#7081)
  api/core/tools/provider/builtin/regex/_assets/icon.svg
  api/core/tools/provider/builtin/regex/regex.py
  api/core/tools/provider/builtin/regex/regex.yaml
  api/core/tools/provider/builtin/regex/tools/regex_extract.py
  api/core/tools/provider/builtin/regex/tools/regex_extract.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#6833 workflow logs support workflow run id filter
  api/services/workflow_app_service.py
Labels: size:M, 🌊 feat:workflow, lgtm

#7095 feat: app icon enhancements
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/emoji-picker/index.tsx
  web/app/components/share/text-generation/index.tsx
  web/hooks/use-app-favicon.ts
  web/utils/emoji.ts
Labels: 🐞 bug, 💪 enhancement, size:M, lgtm

#7097 fix: workflow search blocks
  web/app/components/workflow/block-selector/index.tsx
  web/app/components/workflow/block-selector/tabs.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:M, 🌊 feat:workflow, lgtm

#7092 extract docx filter comment element
  api/core/rag/extractor/word_extractor.py
Labels: size:S, lgtm

#7067 feat: Postgres max connections
  docker/.env.example
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: 💪 enhancement, size:M, lgtm

#7103 fix annotation reply is null
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
Labels: 🐞 bug, size:XS, lgtm

#7117 feat: wenxin add yi-34b-chat
  api/core/model_runtime/model_providers/wenxin/llm/ernie_bot.py
  api/core/model_runtime/model_providers/wenxin/llm/yi_34b_chat.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#7124 Update i18n/ja-JP/dataset-documents.ts "embeddedSpend" value.
  web/i18n/ja-JP/dataset-documents.ts
Labels: size:XS, lgtm, ☕️ typescript

#7127 chore: improve Vietnamese (vi-VN) translations
  web/i18n/vi-VN/app-annotation.ts
  web/i18n/vi-VN/app-api.ts
  web/i18n/vi-VN/app-debug.ts
  web/i18n/vi-VN/app-log.ts
  web/i18n/vi-VN/app-overview.ts
  web/i18n/vi-VN/app.ts
  web/i18n/vi-VN/common.ts
  web/i18n/vi-VN/custom.ts
  web/i18n/vi-VN/dataset-creation.ts
  web/i18n/vi-VN/dataset-documents.ts
  web/i18n/vi-VN/dataset-hit-testing.ts
  web/i18n/vi-VN/dataset-settings.ts
  web/i18n/vi-VN/dataset.ts
  web/i18n/vi-VN/explore.ts
  web/i18n/vi-VN/login.ts
  web/i18n/vi-VN/share-app.ts
  web/i18n/vi-VN/tools.ts
  web/i18n/vi-VN/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm

#6278 Feat/tool-D-ID
  api/core/tools/provider/builtin/did/_assets/icon.svg
  api/core/tools/provider/builtin/did/did.py
  api/core/tools/provider/builtin/did/did.yaml
  api/core/tools/provider/builtin/did/did_appx.py
  api/core/tools/provider/builtin/did/tools/animations.py
  api/core/tools/provider/builtin/did/tools/animations.yaml
  api/core/tools/provider/builtin/did/tools/talks.py
  api/core/tools/provider/builtin/did/tools/talks.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#7129 Fix: account delete function & confirm issues
  web/app/components/base/confirm/index.tsx
  web/app/components/header/account-setting/account-page/index.tsx
Labels: 🐞 bug, size:M, lgtm, ☕️ typescript

#7130 fix: workflow log run time error
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/services/workflow_service.py
Labels: 🐞 bug, size:M, lgtm

#7102 feat: update ops trace
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/callback_handler/agent_tool_callback_handler.py
  api/core/llm_generator/llm_generator.py
  api/core/moderation/input_moderation.py
  api/core/ops/entities/trace_entity.py
  api/core/ops/langfuse_trace/entities/langfuse_trace_entity.py
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
  api/core/ops/ops_trace_manager.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/services/message_service.py
Labels: 🐞 bug, size:L, lgtm

#7141 Feat/update tools length
  api/migrations/versions/2024_08_09_0801-1787fbae959a_update_tools_original_url_length.py
  api/models/tools.py
Labels: size:M, 🔨 feat:tools, lgtm

#7145 update dataset embedding model, update document status to be indexing
  api/tasks/deal_dataset_vector_index_task.py
Labels: 📚 documentation, size:L, lgtm

#7150 chore: #5487 i18n
  web/i18n/de-DE/app.ts
  web/i18n/de-DE/common.ts
  web/i18n/fr-FR/app.ts
  web/i18n/fr-FR/common.ts
  web/i18n/hi-IN/app.ts
  web/i18n/hi-IN/common.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ko-KR/app.ts
  web/i18n/ko-KR/common.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pt-BR/app.ts
  web/i18n/pt-BR/common.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ro-RO/common.ts
  web/i18n/uk-UA/app.ts
  web/i18n/uk-UA/common.ts
  web/i18n/vi-VN/app.ts
  web/i18n/vi-VN/common.ts
  web/i18n/zh-Hant/app.ts
  web/i18n/zh-Hant/common.ts
Labels: 💪 enhancement, size:L, lgtm

#7149 chore: #6515 i18n
  web/i18n/de-DE/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 💪 enhancement, size:L, lgtm

#7138 feat: add decode option to json process tools
  api/core/tools/provider/builtin/json_process/tools/insert.py
  api/core/tools/provider/builtin/json_process/tools/insert.yaml
  api/core/tools/provider/builtin/json_process/tools/replace.py
  api/core/tools/provider/builtin/json_process/tools/replace.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#7082 feat(app/log): Add Referenced Content in Application Logs
  web/app/components/app/log/list.tsx
  web/app/components/base/chat/chat/type.ts
  web/models/log.ts
Labels: 💪 enhancement, size:M, lgtm

#7133 Fix: Wrong cutoff length lead to empty input in openai compatible embedding model.
  api/core/model_runtime/model_providers/ollama/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/openai_api_compatible/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/perfxcloud/text_embedding/text_embedding.py
Labels: 🐞 bug, size:XS, ⚙️ feat:model-runtime, lgtm

#7132 Feat: Add model provider Text Embedding Inference for embedding and rerank
  api/core/model_runtime/model_providers/huggingface_tei/__init__.py
  api/core/model_runtime/model_providers/huggingface_tei/huggingface_tei.py
  api/core/model_runtime/model_providers/huggingface_tei/huggingface_tei.yaml
  api/core/model_runtime/model_providers/huggingface_tei/rerank/__init__.py
  api/core/model_runtime/model_providers/huggingface_tei/rerank/rerank.py
  api/core/model_runtime/model_providers/huggingface_tei/tei_helper.py
  api/core/model_runtime/model_providers/huggingface_tei/text_embedding/__init__.py
  api/core/model_runtime/model_providers/huggingface_tei/text_embedding/text_embedding.py
  api/pyproject.toml
  api/tests/integration_tests/model_runtime/__mock/huggingface_tei.py
  api/tests/integration_tests/model_runtime/huggingface_tei/__init__.py
  api/tests/integration_tests/model_runtime/huggingface_tei/test_embeddings.py
  api/tests/integration_tests/model_runtime/huggingface_tei/test_rerank.py
Labels: 💪 enhancement, size:XL, ⚙️ feat:model-runtime, lgtm

#7158 feat: README_VI
  README_VI.md
Labels: 📚 documentation, size:L, lgtm

#7160 change secret input to text input in searxng
  api/core/tools/provider/builtin/searxng/searxng.yaml
Labels: size:XS, lgtm

#7154 Add explanatory comment to NGINX_ENABLE_CERTBOT_CHALLENGE key in .env.example
  docker/.env.example
Labels: 📚 documentation, size:XS, lgtm

#6685 fix: solving http-request-tool bugs in workflow
  api/core/workflow/nodes/http_request/http_executor.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#6855 Fix : Workflow "start" paste url not support s3 pre-signed URL
  api/core/file/message_file_parser.py
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/poetry.lock
  api/pyproject.toml
Labels: 🐞 bug, size:M, lgtm

#7168 chore: update localization link in README
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_TR.md
  README_VI.md
Labels: 📚 documentation, size:M, lgtm

#7174 chore: bump Ruff to 0.5.7
  api/core/rag/extractor/unstructured/unstructured_doc_extractor.py
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS, lgtm

#7178 fix: leave chat page show assign to readonly property prolem
  web/service/base.ts
Labels: 🐞 bug, size:XS, lgtm

#7177 Docs/remove all meeting schedule links
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_TR.md
Labels: 📚 documentation, size:L, lgtm

#6653 Fix issue with incorrect port number in app_base_url due to NAT networks
  api/models/model.py
Labels: 🐞 bug, size:XS, lgtm

#7185 Fix jp translation with new dify-doc
  web/i18n/ja-JP/dataset.ts
  web/i18n/ja-JP/workflow.ts
Labels: 📚 documentation, size:S, lgtm

#7182 chore: #7177 README_VI
  README_VI.md
Labels: 📚 documentation, size:S, lgtm

#7194 Fix/workflow run single step
  web/app/components/workflow/nodes/knowledge-retrieval/default.ts
Labels: size:XS, 🌊 feat:workflow, lgtm

#7198 siliconflow support bge-3 && bce-v1 embedding
  api/core/model_runtime/model_providers/siliconflow/text_embedding/bce-embedding-base-v1.yaml
  api/core/model_runtime/model_providers/siliconflow/text_embedding/bge-m3.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#7181 feat: Support NEXT_TELEMETRY_DISABLED
  docker/docker-compose.yaml
  web/.env.example
  web/Dockerfile
  web/docker/entrypoint.sh
Labels: 💪 enhancement, size:XS, lgtm

#7197 feat: add support of speech2text function for OpenAI-API-compatible and Siliconflow
  api/core/model_runtime/model_providers/openai_api_compatible/openai_api_compatible.yaml
  api/core/model_runtime/model_providers/openai_api_compatible/speech2text/__init__.py
  api/core/model_runtime/model_providers/openai_api_compatible/speech2text/speech2text.py
  api/core/model_runtime/model_providers/siliconflow/siliconflow.py
  api/core/model_runtime/model_providers/siliconflow/siliconflow.yaml
  api/core/model_runtime/model_providers/siliconflow/speech2text/__init__.py
  api/core/model_runtime/model_providers/siliconflow/speech2text/sense-voice-small.yaml
  api/core/model_runtime/model_providers/siliconflow/speech2text/speech2text.py
  api/tests/integration_tests/model_runtime/openai_api_compatible/test_speech2text.py
  api/tests/integration_tests/model_runtime/siliconflow/test_speech2text.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#7215 fix: display notion document title correctly
  api/libs/oauth_data_source.py
Labels: size:S, lgtm

#7219 Error Exception Message Of "Message Not Exists.", Should be "Suggested Questions Is Disabled."
  api/controllers/service_api/app/message.py
Labels: 🐞 bug, size:XS, lgtm

#7220 chore: refactor searXNG tool
  api/core/tools/provider/builtin/searxng/docker/settings.yml
  api/core/tools/provider/builtin/searxng/docker/uwsgi.ini
  api/core/tools/provider/builtin/searxng/searxng.py
  api/core/tools/provider/builtin/searxng/searxng.yaml
  api/core/tools/provider/builtin/searxng/tools/searxng_search.py
  api/core/tools/provider/builtin/searxng/tools/searxng_search.yaml
Labels: 💪 enhancement, size:XXL, 🔨 feat:tools, lgtm

#7231 chore: not use step_boundary field
  web/app/components/workflow/run/index.tsx
  web/app/components/workflow/run/node.tsx
  web/types/workflow.ts
Labels: 💪 enhancement, size:M, 🌊 feat:workflow, lgtm

#6961 Add ECharts feature ( #6385 )
  web/app/components/base/markdown.tsx
Labels: 💪 enhancement, size:M, lgtm

#3558 feat: support elasticsearch vector database
  .github/workflows/api-tests.yml
  .github/workflows/expose_service_ports.sh
  api/.env.example
  api/commands.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/elasticsearch/__init__.py
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/vdb/elasticsearch/__init__.py
  api/tests/integration_tests/vdb/elasticsearch/test_elasticsearch.py
  dev/pytest/pytest_vdb.sh
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/yarn.lock
Labels: 💪 enhancement, size:L, 👻 feat:rag, lgtm

#7179 Add gitlab support
  api/core/tools/provider/builtin/gitlab/_assets/gitlab.svg
  api/core/tools/provider/builtin/gitlab/gitlab.py
  api/core/tools/provider/builtin/gitlab/gitlab.yaml
  api/core/tools/provider/builtin/gitlab/tools/gitlab_commits.py
  api/core/tools/provider/builtin/gitlab/tools/gitlab_commits.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#7225 add secondary sort_key when using `order_by` and `paginate` at the same time
  api/controllers/console/datasets/datasets_document.py
Labels: 🐞 bug, size:S, lgtm

#7235 chore(api/services/app_dsl_service.py): Bump DSL version to 0.1.1
  api/services/app_dsl_service.py
Labels: size:XS, lgtm

#7242 doc: add missing params
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:S, lgtm

#7250 fix(api/core/tools/entities/tool_entities.py): Fix type define.
  api/core/tools/entities/tool_entities.py
Labels: 🐞 bug, size:S, lgtm

#7256 Fix: support hide env & conversation var in prompt editor
  web/app/components/workflow/nodes/_base/hooks/use-available-var-list.ts
  web/app/components/workflow/nodes/answer/panel.tsx
Labels: 🐞 bug, size:XS, lgtm

#7224 chore: allow download audio/video through HTTP node
  api/core/workflow/nodes/http_request/http_request_node.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#7255 Fix SQL parser Error in MyScale vdb.
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#7286 fix: typo in upstage/llm/_position.yaml
  api/core/model_runtime/model_providers/upstage/llm/_position.yaml
Labels: 🐞 bug, size:XS, lgtm

#7276 fix: #7222 docstrings
  api/core/workflow/workflow_engine_manager.py
Labels: 📚 documentation, size:XS, lgtm

#7277 Add jp translation for variable aggregator
  web/i18n/ja-JP/workflow.ts
Labels: size:M, 🌊 feat:workflow, lgtm

#7281 fix: can not input param value in tool test modal
  web/app/components/tools/edit-custom-collection-modal/index.tsx
Labels: 🐞 bug, size:M, lgtm

#7275 feat(api/workflow): Add `Conversation.dialogue_count`
  api/contexts/__init__.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/message_based_app_generator.py
  api/core/app/apps/workflow/app_runner.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/segments/__init__.py
  api/core/app/segments/factory.py
  api/core/app/segments/segments.py
  api/core/app/segments/types.py
  api/core/app/segments/variables.py
  api/core/app/task_pipeline/workflow_cycle_state_manager.py
  api/core/workflow/entities/node_entities.py
  api/core/workflow/entities/variable_pool.py
  api/core/workflow/enums.py
  api/core/workflow/nodes/llm/llm_node.py
  api/core/workflow/nodes/tool/tool_node.py
  api/core/workflow/workflow_engine_manager.py
  api/migrations/versions/2024_08_14_1354-8782057ff0dc_add_conversations_dialogue_count.py
  api/models/__init__.py
  api/models/model.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
  api/tests/integration_tests/workflow/nodes/test_parameter_extractor.py
  api/tests/unit_tests/core/app/segments/test_factory.py
  api/tests/unit_tests/core/app/segments/test_segment.py
  api/tests/unit_tests/core/workflow/nodes/test_answer.py
  api/tests/unit_tests/core/workflow/nodes/test_if_else.py
  api/tests/unit_tests/core/workflow/nodes/test_variable_assigner.py
Labels: size:L, 🌊 feat:workflow, lgtm

#7289 feat: add chatgpt-4o-latest
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
  api/core/model_runtime/model_providers/openai/llm/chatgpt-4o-latest.yaml
  api/core/model_runtime/model_providers/openai/llm/llm.py
  web/app/components/header/account-setting/model-provider-page/model-icon/index.tsx
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#7258 feat: support OPENAI json_schema
  api/core/model_runtime/entities/defaults.py
  api/core/model_runtime/entities/model_entities.py
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-2024-08-06.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-mini.yaml
  api/core/model_runtime/model_providers/openai/llm/llm.py
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#7290 chore(api/core): Improve FileVar's type hint and imports.
  api/core/app/apps/base_app_runner.py
  api/core/app/entities/app_invoke_entities.py
  api/core/file/message_file_parser.py
  api/core/prompt/simple_prompt_transform.py
  api/core/tools/tool/tool.py
  api/core/tools/utils/message_transformer.py
  api/core/workflow/nodes/llm/llm_node.py
Labels: 💪 enhancement, size:L, lgtm

#7283 feat: support pinning, including, and excluding for Model Providers and Tools
  api/.env.example
  api/configs/feature/__init__.py
  api/core/helper/position_helper.py
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/tools/provider/builtin/_positions.py
  api/tests/unit_tests/utils/position_helper/test_position_helper.py
  docker/.env.example
Labels: size:L, ⚙️ feat:model-runtime, 🔨 feat:tools, lgtm

#7293 fix(api/core/app/segments/segments.py): Fix file to markdown.
  api/core/app/segments/segments.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#7296 Feat/7023 dify editor can resize the image
  web/app/components/base/markdown.tsx
Labels: 💪 enhancement, size:M, lgtm

#7304 fix(api/services/app_dsl_service.py): Add conversation variables.
  api/services/app_dsl_service.py
Labels: 🐍 python, size:XS, lgtm

#7303 fix: inability-to-add-node-and-change-the-edge
  web/app/components/workflow/nodes/if-else/use-config.ts
Labels: size:XS, 🌊 feat:workflow, lgtm

#7309 Fix: missing default value of type array object in conversation variable modal
  web/app/components/workflow/panel/chat-variable-panel/components/variable-modal.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript
