Repository langgenius/dify, pull requests merged in 2024-05, with the labels that each got.

#4041 test: remove explicit env settings for CI pytests
  .github/workflows/api-tests.yml
Labels: 💪 enhancement, size:S, lgtm

#4050 version to 0.6.6
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, size:S

#4056 fix: workflow avg user interaction.
  api/controllers/console/app/workflow_statistic.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#4052 fix: unable to fetch CoT agent runner log
  api/core/agent/cot_agent_runner.py
Labels: 🐞 bug, size:XS, lgtm

#4015 test: add integration tests on CodeExecutor with the sandbox service
  .github/workflows/api-tests.yml
  api/pyproject.toml
  api/tests/integration_tests/tools/code/__init__.py
  api/tests/integration_tests/workflow/nodes/code_executor/__init__.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_javascript.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_jina2.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_python3.py
Labels: 🐍 python, ☕️ javascript, size:M, 🔨 feat:tools, 🌊 feat:workflow, lgtm

#4060 fix typo: writeOpner -> writeOpener
  web/app/components/app/configuration/features/chat-group/opening-statement/index.tsx
  web/app/components/base/features/feature-panel/opening-statement/index.tsx
  web/i18n/de-DE/app-debug.ts
  web/i18n/en-US/app-debug.ts
  web/i18n/fr-FR/app-debug.ts
  web/i18n/ja-JP/app-debug.ts
  web/i18n/pt-BR/app-debug.ts
  web/i18n/uk-UA/app-debug.ts
  web/i18n/vi-VN/app-debug.ts
  web/i18n/zh-Hans/app-debug.ts
  web/i18n/zh-Hant/app-debug.ts
Labels: size:S, lgtm, ☕️ typescript

#4070 Feat: frontend support timezone of timestamp
  web/app/components/app/annotation/edit-annotation-modal/index.tsx
  web/app/components/app/annotation/list.tsx
  web/app/components/app/annotation/view-annotation-modal/index.tsx
  web/app/components/app/log/list.tsx
  web/app/components/app/workflow-log/list.tsx
  web/app/components/base/agent-log-modal/result.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/datasets/documents/list.tsx
  web/app/components/datasets/hit-testing/index.tsx
  web/app/components/develop/secret-key/secret-key-modal.tsx
  web/app/components/develop/secret-key/style.module.css
  web/app/components/workflow/header/editing-title.tsx
  web/app/components/workflow/run/meta.tsx
  web/hooks/use-metadata.ts
  web/hooks/use-timestamp.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#4076 fix: agent log timezone
  api/services/agent_service.py
Labels: size:XS, 🤖 feat:agent, lgtm

#4067 feat: add a new built-in tool of Slack Incoming Webhook
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/slack/_assets/icon.svg
  api/core/tools/provider/builtin/slack/slack.py
  api/core/tools/provider/builtin/slack/slack.yaml
  api/core/tools/provider/builtin/slack/tools/slack_webhook.py
  api/core/tools/provider/builtin/slack/tools/slack_webhook.yaml
Labels: 💪 enhancement, size:L, 🔨 feat:tools, lgtm

#4077 fix: transform None into correct dest type
  api/core/tools/tool/tool.py
Labels: 🐞 bug, size:XS

#4059 Revert "fix: hydration warning (#3897)"
  web/app/layout.tsx
Labels: size:XS, lgtm, ☕️ typescript

#4064 feat(Languages): :alien: add pl-PL language
  api/constants/languages.py
  web/i18n/language.ts
  web/i18n/pl-PL/app-annotation.ts
  web/i18n/pl-PL/app-api.ts
  web/i18n/pl-PL/app-debug.ts
  web/i18n/pl-PL/app-log.ts
  web/i18n/pl-PL/app-overview.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pl-PL/billing.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pl-PL/custom.ts
  web/i18n/pl-PL/dataset-creation.ts
  web/i18n/pl-PL/dataset-documents.ts
  web/i18n/pl-PL/dataset-hit-testing.ts
  web/i18n/pl-PL/dataset-settings.ts
  web/i18n/pl-PL/dataset.ts
  web/i18n/pl-PL/explore.ts
  web/i18n/pl-PL/layout.ts
  web/i18n/pl-PL/login.ts
  web/i18n/pl-PL/register.ts
  web/i18n/pl-PL/run-log.ts
  web/i18n/pl-PL/share-app.ts
  web/i18n/pl-PL/tools.ts
  web/i18n/pl-PL/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm

#4016 Update bedrock.yaml add Region Asia Pacific (Sydney)
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#4079 Leptonai integrate
  api/core/model_runtime/model_providers/leptonai/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/leptonai/_assets/icon_s_en.png
  api/core/model_runtime/model_providers/leptonai/leptonai.py
  api/core/model_runtime/model_providers/leptonai/leptonai.yaml
  api/core/model_runtime/model_providers/leptonai/llm/_position.yaml
  api/core/model_runtime/model_providers/leptonai/llm/gemma-7b.yaml
  api/core/model_runtime/model_providers/leptonai/llm/llama2-13b.yaml
  api/core/model_runtime/model_providers/leptonai/llm/llama2-7b.yaml
  api/core/model_runtime/model_providers/leptonai/llm/llama3-70b.yaml
  api/core/model_runtime/model_providers/leptonai/llm/llm.py
  api/core/model_runtime/model_providers/leptonai/llm/mistral-7b.yaml
  api/core/model_runtime/model_providers/leptonai/llm/mixtral-8x7b.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4075 Urgent Correction: Resolving Critical License Documentation Error in Dify's Japanese README
  README_JA.md
Labels: 🐞 bug, 📚 documentation, size:XS, lgtm

#4099 improve: menu collapse readability
  web/app/components/app-sidebar/navLink.tsx
Labels: size:XS, lgtm, ☕️ typescript

#4093 fix: correct the license link
  CONTRIBUTING.md
  CONTRIBUTING_CN.md
Labels: 📚 documentation, size:XS, lgtm

#4097 fix: typo in get-automatic-res.tsx
  web/app/components/app/configuration/config/automatic/get-automatic-res.tsx
Labels: size:XS, lgtm, ☕️ typescript

#4101 🦄 refactor(dataset svc): delete check none
  api/services/dataset_service.py
Labels: 🐍 python, size:XS, lgtm

#3886 feat: support aliyun oss auth v4
  api/.env.example
  api/config.py
  api/extensions/storage/aliyun_storage.py
Labels: 💪 enhancement, size:S, lgtm

#4127 fix: prevent http node overwrite on open
  web/app/components/workflow/nodes/http/use-config.ts
Labels: 🐞 bug, size:XS, lgtm

#4137 feat: add http node max size env
  api/.env.example
  api/core/workflow/nodes/http_request/http_executor.py
Labels: 💪 enhancement, size:S, 🌊 feat:workflow, lgtm

#4119 Improved Japanese translation
  README_JA.md
Labels: 📚 documentation, size:M, lgtm

#4098 improve: test CodeExecutor with code templates and extract CodeLanguage enum
  api/core/helper/code_executor/code_executor.py
  api/core/tools/provider/builtin/code/tools/simple_code.py
  api/core/workflow/nodes/code/code_node.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_executor.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_javascript.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_jinja2.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_python3.py
Labels: 💪 enhancement, 🐍 python, ☕️ javascript, size:L, lgtm

#4138 feat: support time format
  api/core/tools/provider/builtin/time/tools/current_time.py
  api/core/tools/provider/builtin/time/tools/current_time.yaml
Labels: 🐍 python, size:S, 🔨 feat:tools

#4140 feat: support openai stream usage
  api/core/model_runtime/model_providers/openai/llm/llm.py
  api/requirements.txt
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime

#4116 bug fix: update minimax model_apis
  api/core/model_runtime/model_providers/minimax/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#4128 feat(Languages): :alien: add pl-PL language
  api/constants/languages.py
  web/i18n/language.ts
  web/i18n/pl-PL/app-annotation.ts
  web/i18n/pl-PL/app-api.ts
  web/i18n/pl-PL/app-debug.ts
  web/i18n/pl-PL/app-log.ts
  web/i18n/pl-PL/app-overview.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pl-PL/billing.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pl-PL/custom.ts
  web/i18n/pl-PL/dataset-creation.ts
  web/i18n/pl-PL/dataset-documents.ts
  web/i18n/pl-PL/dataset-hit-testing.ts
  web/i18n/pl-PL/dataset-settings.ts
  web/i18n/pl-PL/dataset.ts
  web/i18n/pl-PL/explore.ts
  web/i18n/pl-PL/layout.ts
  web/i18n/pl-PL/login.ts
  web/i18n/pl-PL/register.ts
  web/i18n/pl-PL/run-log.ts
  web/i18n/pl-PL/share-app.ts
  web/i18n/pl-PL/tools.ts
  web/i18n/pl-PL/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm

#4144 azure_openai add gpt-4-turbo-2024-04-09 model
  api/core/model_runtime/model_providers/azure_openai/_constant.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#4148 fix: passing in 0 as a numeric variable will be converted to null
  api/core/app/apps/base_app_generator.py
Labels: 🐞 bug, 🐍 python, size:XS

#4147 question classifier optimize
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: size:M, 🌊 feat:workflow, lgtm

#4146 fix: http authorization leakage
  api/core/workflow/nodes/http_request/entities.py
  api/core/workflow/nodes/http_request/http_executor.py
  api/core/workflow/nodes/http_request/http_request_node.py
  api/tests/integration_tests/workflow/nodes/test_http.py
Labels: 🐞 bug, size:M, 🌊 feat:workflow

#3921 Add support for local ai speech to text
  api/core/model_runtime/model_providers/localai/localai.yaml
  api/core/model_runtime/model_providers/localai/speech2text/__init__.py
  api/core/model_runtime/model_providers/localai/speech2text/speech2text.py
  api/tests/integration_tests/model_runtime/localai/test_speech2text.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#4094 feat: support vision models from xinference
  api/core/model_runtime/model_providers/xinference/llm/llm.py
  api/core/model_runtime/model_providers/xinference/xinference_helper.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4110 feat: update model_provider jina to support custom url and model
  api/core/model_runtime/model_providers/jina/jina.yaml
  api/core/model_runtime/model_providers/jina/rerank/rerank.py
  api/core/model_runtime/model_providers/jina/text_embedding/text_embedding.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#4151 fix dataset segment update api not effect issue
  api/services/dataset_service.py
Labels: 🐞 bug, 🐍 python, size:S, lgtm

#4152 feat: add proxy configuration for Cohere model
  api/core/model_runtime/model_providers/cohere/cohere.yaml
  api/core/model_runtime/model_providers/cohere/llm/llm.py
  api/core/model_runtime/model_providers/cohere/rerank/rerank.py
  api/core/model_runtime/model_providers/cohere/text_embedding/text_embedding.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#4158 fix: stop event propagation when deleting selected workflow var node
  web/app/components/base/prompt-editor/hooks.ts
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/component.tsx
Labels: 🐞 bug, size:S, 🌊 feat:workflow, lgtm

#4157 Add-Deepseek
  api/core/model_runtime/model_providers/deepseek/__init__.py
  api/core/model_runtime/model_providers/deepseek/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/deepseek/_assets/icon_s_en.png
  api/core/model_runtime/model_providers/deepseek/deepseek.py
  api/core/model_runtime/model_providers/deepseek/deepseek.yaml
  api/core/model_runtime/model_providers/deepseek/llm/__init__.py
  api/core/model_runtime/model_providers/deepseek/llm/_position.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-chat.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-coder.yaml
  api/core/model_runtime/model_providers/deepseek/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4162 feat: DeepSeek
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/deepseek/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/deepseek/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/deepseek/_assets/icon_s_en.png
  api/core/model_runtime/model_providers/deepseek/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/deepseek/deepseek.py
  api/core/model_runtime/model_providers/deepseek/deepseek.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-chat.yaml
  api/core/model_runtime/model_providers/deepseek/llm/llm.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#4167 Fix:typo Incorrect Japanese 2
  web/i18n/ja-JP/app.ts
Labels: size:XS, lgtm

#4170 Typo on deepseek.yaml and yi.yaml
  api/core/model_runtime/model_providers/deepseek/deepseek.yaml
  api/core/model_runtime/model_providers/yi/yi.yaml
Labels: size:XS, lgtm

#4142 feat: add volcengine maas model provider
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/volcengine_maas/__init__.py
  api/core/model_runtime/model_providers/volcengine_maas/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/volcengine_maas/_assets/icon_l_zh.svg
  api/core/model_runtime/model_providers/volcengine_maas/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/volcengine_maas/client.py
  api/core/model_runtime/model_providers/volcengine_maas/errors.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/__init__.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
  api/core/model_runtime/model_providers/volcengine_maas/text_embedding/__init__.py
  api/core/model_runtime/model_providers/volcengine_maas/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/volcengine_maas/volc_sdk/__init__.py
  api/core/model_runtime/model_providers/volcengine_maas/volc_sdk/base/__init__.py
  api/core/model_runtime/model_providers/volcengine_maas/volc_sdk/base/auth.py
  api/core/model_runtime/model_providers/volcengine_maas/volc_sdk/base/service.py
  api/core/model_runtime/model_providers/volcengine_maas/volc_sdk/base/util.py
  api/core/model_runtime/model_providers/volcengine_maas/volc_sdk/common.py
  api/core/model_runtime/model_providers/volcengine_maas/volc_sdk/maas.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.yaml
  api/tests/integration_tests/.env.example
  api/tests/integration_tests/model_runtime/volcengine_maas/__init__.py
  api/tests/integration_tests/model_runtime/volcengine_maas/test_embedding.py
  api/tests/integration_tests/model_runtime/volcengine_maas/test_llm.py
Labels: size:XXL, ⚙️ feat:model-runtime, lgtm

#4175 fix: workflow http node timeout & url check
  web/app/components/workflow/nodes/http/components/timeout/index.tsx
  web/app/components/workflow/nodes/http/default.ts
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#4145 fix: button widths
  web/app/components/base/button/index.css
  web/app/components/base/confirm-ui/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4201 fix delete log annotation
  web/app/components/app/chat/index.tsx
  web/app/components/app/log/list.tsx
  web/models/log.ts
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#4206 modify spelling errors: bulild -> build
  web/config/index.ts
Labels: size:XS, lgtm, ☕️ typescript

#4208 version to 0.6.7
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: 💪 enhancement, size:S

#4154 refactor: install form
  web/app/install/installForm.tsx
  web/i18n/en-US/login.ts
  web/package.json
  web/yarn.lock
Labels: dependencies, size:L, lgtm

#4212 fix: add missing translations
  web/i18n/de-DE/common.ts
  web/i18n/en-US/common.ts
  web/i18n/fr-FR/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pt-BR/common.ts
  web/i18n/uk-UA/common.ts
  web/i18n/vi-VN/common.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hant/common.ts
Labels: 🐞 bug, size:S, lgtm

#4217 🌐 (common.ts): Update Japanese translation for "logAndAnn" from 'ログ＆ア…
  web/i18n/ja-JP/common.ts
Labels: size:XS, lgtm, ☕️ typescript

#4240 fix: workflow end node deletion
  web/app/components/workflow/hooks/use-nodes-interactions.ts
Labels: 🐞 bug, size:XS, lgtm

#4250 chore: workflow sync with hash
  web/app/components/workflow/hooks/use-nodes-sync-draft.ts
  web/app/components/workflow/hooks/use-workflow-interactions.ts
  web/app/components/workflow/hooks/use-workflow-run.ts
  web/app/components/workflow/hooks/use-workflow.ts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/store.ts
  web/service/workflow.ts
  web/types/workflow.ts
Labels: size:M, lgtm

#4251 feat: Add draft hash check in workflow
  api/controllers/console/app/error.py
  api/controllers/console/app/workflow.py
  api/fields/workflow_fields.py
  api/models/workflow.py
  api/services/app_service.py
  api/services/errors/app.py
  api/services/workflow_service.py
Labels: size:M, 🌊 feat:workflow

#4252 feat: increase max steps to 50 in workflow
  api/core/workflow/workflow_engine_manager.py
Labels: size:XS, 🌊 feat:workflow

#4254 correct comparison chart
  README.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
Labels: 📚 documentation, size:S

#3879 Feat/vector db pgvector
  .github/workflows/api-tests.yml
  api/.env.example
  api/commands.py
  api/config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/pgvector/__init__.py
  api/core/rag/datasource/vdb/pgvector/pgvector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/requirements.txt
  api/tests/integration_tests/vdb/pgvector/__init__.py
  api/tests/integration_tests/vdb/pgvector/test_pgvector.py
  docker/docker-compose.pgvector.yaml
  docker/docker-compose.yaml
Labels: size:L, 👻 feat:rag, lgtm

#4262 question classifier prompt optimize
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: 💪 enhancement, 🐍 python, size:S, 🌊 feat:workflow, lgtm

#3968 feat: support LLM jinja2 template prompt
  api/core/helper/code_executor/jinja2_formatter.py
  api/core/prompt/advanced_prompt_transform.py
  api/core/prompt/entities/advanced_prompt_entities.py
  api/core/workflow/nodes/llm/entities.py
  api/core/workflow/nodes/llm/llm_node.py
  api/requirements-dev.txt
  api/tests/integration_tests/workflow/nodes/__mock/code_executor.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
Labels: 💪 enhancement, size:L, 🌊 feat:workflow

#4246 fix: system default model name length (#4245)
  api/migrations/versions/47cc7df8c4f3_modify_default_model_name_length.py
  api/models/provider.py
Labels: 🐞 bug, size:M, lgtm

#4260 feat: llm support jinia fe
  web/app/components/base/icons/assets/vender/workflow/jinja.svg
  web/app/components/base/icons/src/vender/workflow/Jinja.json
  web/app/components/base/icons/src/vender/workflow/Jinja.tsx
  web/app/components/base/icons/src/vender/workflow/index.ts
  web/app/components/base/switch/index.tsx
  web/app/components/base/tooltip-plus/index.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/editor-support-vars.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/index.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/style.css
  web/app/components/workflow/nodes/_base/components/prompt/editor.tsx
  web/app/components/workflow/nodes/llm/components/config-prompt-item.tsx
  web/app/components/workflow/nodes/llm/components/config-prompt.tsx
  web/app/components/workflow/nodes/llm/default.ts
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/llm/types.ts
  web/app/components/workflow/nodes/llm/use-config.ts
  web/app/components/workflow/nodes/template-transform/panel.tsx
  web/app/components/workflow/nodes/template-transform/use-config.ts
  web/app/components/workflow/types.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 💪 enhancement, size:XL, 🌊 feat:workflow, lgtm

#4224 fix: miss usage of os.path.join for URL assembly and add tests on yarl
  api/core/model_runtime/model_providers/chatglm/llm/llm.py
  api/core/tools/provider/builtin/dalle/tools/dalle2.py
  api/core/tools/provider/builtin/dalle/tools/dalle3.py
  api/tests/unit_tests/libs/test_yarl.py
Labels: 🐞 bug, 🐍 python, size:M, lgtm

#4263 fix: remove unexpected zip and add FlipForward arrow icon
  web/app/components/base/icons/assets/vender/line/arrows/flip-backward.zip
  web/app/components/base/icons/assets/vender/line/arrows/flip-forward.svg
  web/app/components/base/icons/assets/vender/line/arrows/flip-forward.zip
  web/app/components/base/icons/src/vender/line/arrows/FlipForward.json
  web/app/components/base/icons/src/vender/line/arrows/FlipForward.tsx
  web/app/components/base/icons/src/vender/line/arrows/index.ts
Labels: 🐞 bug, 💪 enhancement, size:M, lgtm

#4266 feat: Add storage type and Google Storage settings to worker
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#4277 fix(frontend): :wrench: add privacy policy spaces
  web/app/components/base/chat/chat-with-history/config-panel/index.tsx
  web/app/components/share/chat/welcome/index.tsx
  web/app/components/share/chatbot/welcome/index.tsx
  web/app/components/share/text-generation/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#4242 fix: hook dependency
  web/app/signin/normalForm.tsx
Labels: dependencies, size:XS, lgtm, ☕️ typescript

#4249 fix: do nothing if switch to current app
  web/app/components/header/nav/nav-selector/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4270 fix: deutsch edit app
  web/i18n/de-DE/app.ts
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4283 fix: workflow zoomin/out shortcuts
  web/app/components/workflow/operator/zoom-in-out.tsx
  web/app/components/workflow/utils.ts
Labels: 🐞 bug, size:S, 🌊 feat:workflow, lgtm

#4276 fix(Backend:http_executor): :wrench: prevent splitting JSON data as v…
  api/core/workflow/nodes/http_request/http_executor.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3952 Add rerank model type for LocalAI provider
  api/core/model_runtime/model_providers/localai/localai.yaml
  api/core/model_runtime/model_providers/localai/rerank/__init__.py
  api/core/model_runtime/model_providers/localai/rerank/rerank.py
  api/tests/integration_tests/model_runtime/localai/test_rerank.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4287 feat:add gpt-4-turbo for azure
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#3954 feat: hide node detail outputs in webapp & installed app in explore
  api/core/app/apps/advanced_chat/generate_response_converter.py
  api/core/app/apps/workflow/generate_response_converter.py
  api/core/app/entities/task_entities.py
Labels: 💪 enhancement, size:M, 🌊 feat:workflow

#4289 feat: hide run detail in webapps and installed apps
  web/app/components/app/text-generate/item/index.tsx
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/answer/workflow-process.tsx
  web/app/components/base/chat/chat/index.tsx
  web/app/components/share/text-generation/result/index.tsx
  web/app/components/workflow/nodes/llm/components/config-prompt.tsx
  web/app/components/workflow/nodes/llm/default.ts
  web/app/components/workflow/run/node.tsx
Labels: size:M, lgtm, ☕️ typescript

#4288 Update docker-compose.yaml
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#4292 fix: webapps not show number type input field
  web/app/components/base/chat/chat-with-history/config-panel/form.tsx
  web/app/components/base/chat/chat-with-history/hooks.tsx
Labels: 🐞 bug, size:S, lgtm

#4297 fix: align versions of react typing packages
  web/package.json
  web/yarn.lock
Labels: dependencies, size:S, lgtm

#4298 fix: chatflow run progress problem
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
Labels: 🐞 bug, size:S, lgtm

#4300 feat: support copy run text result in debug panel in workflow
  web/app/components/app/text-generate/item/index.tsx
  web/app/components/app/text-generate/item/result-tab.tsx
  web/app/components/workflow/panel/workflow-preview.tsx
Labels: size:M, 🌊 feat:workflow, lgtm

#4304 fix: text generation app not show copy button
  web/app/components/app/text-generate/item/index.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#4302 Update README.md to remove outdated badge
  README.md
Labels: 📚 documentation, size:XS, lgtm

#4303 add-some-new-models-hosted-on-nvidia
  api/core/model_runtime/model_providers/nvidia/llm/_position.yaml
  api/core/model_runtime/model_providers/nvidia/llm/arctic.yaml
  api/core/model_runtime/model_providers/nvidia/llm/llm.py
  api/core/model_runtime/model_providers/nvidia/llm/mistral-large.yaml
  api/core/model_runtime/model_providers/nvidia/llm/mixtral-8x22b-instruct-v0.1.yaml
  api/core/model_runtime/model_providers/nvidia/llm/recurrentgemma-2b.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4271 fix: minimax streaming function_call message
  api/core/model_runtime/model_providers/minimax/llm/chat_completion_pro.py
Labels: 🐞 bug, size:M, lgtm

#4314 chore: update gmpy2_pkcs10aep_cipher.py
  api/libs/gmpy2_pkcs10aep_cipher.py
Labels: 🐞 bug, size:XS, lgtm

#4333 feat: i18n: add korean language (ko-KR)
  web/i18n/README.md
  web/i18n/ko-KR/app-annotation.ts
  web/i18n/ko-KR/app-api.ts
  web/i18n/ko-KR/app-debug.ts
  web/i18n/ko-KR/app-log.ts
  web/i18n/ko-KR/app-overview.ts
  web/i18n/ko-KR/app.ts
  web/i18n/ko-KR/billing.ts
  web/i18n/ko-KR/common.ts
  web/i18n/ko-KR/custom.ts
  web/i18n/ko-KR/dataset-creation.ts
  web/i18n/ko-KR/dataset-documents.ts
  web/i18n/ko-KR/dataset-hit-testing.ts
  web/i18n/ko-KR/dataset-settings.ts
  web/i18n/ko-KR/dataset.ts
  web/i18n/ko-KR/explore.ts
  web/i18n/ko-KR/layout.ts
  web/i18n/ko-KR/login.ts
  web/i18n/ko-KR/register.ts
  web/i18n/ko-KR/run-log.ts
  web/i18n/ko-KR/share-app.ts
  web/i18n/ko-KR/tools.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/language.ts
Labels: 💪 enhancement, size:XXL, lgtm

#4335 add yi models
  api/core/model_runtime/model_providers/yi/llm/_position.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-large-turbo.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-large.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-medium-200k.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-medium.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-spark.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-vision.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4343 fix: handleUpdateWorkflowCanvas is not a function
  web/app/components/workflow/panel/record.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4346 feat: gpt-4o
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-2024-05-13.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o.yaml
  api/requirements.txt
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#4347 version to 0.6.8
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, size:S

#4364 Create README_KR.md
  README.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
Labels: 📚 documentation, size:L, lgtm

#4372 fix: delete end node
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/nodes/_base/components/panel-operator/panel-operator-popup.tsx
  web/app/components/workflow/utils.ts
Labels: 🐞 bug, size:M, 🌊 feat:workflow, lgtm

#4370 fix: requests timeout
  api/core/helper/ssrf_proxy.py
  api/core/workflow/nodes/http_request/entities.py
  api/core/workflow/nodes/http_request/http_request_node.py
Labels: 🐞 bug, size:S, lgtm

#4360 improve the code readability of http_executor node
  api/core/workflow/nodes/http_request/http_executor.py
Labels: 💪 enhancement, 🐍 python, size:L, lgtm

#4374 fix: Jinja switch not aligned in vertical direction
  web/app/components/workflow/nodes/_base/components/prompt/editor.tsx
  web/app/components/workflow/nodes/llm/components/config-prompt.tsx
Labels: 🐞 bug, size:XS, lgtm

#4205 feat: Use Romanian & other langs in QA
  api/constants/languages.py
  web/app/components/datasets/create/step-two/language-select/index.tsx
  web/hooks/use-metadata.ts
  web/i18n/language.ts
  web/i18n/ro-RO/app-annotation.ts
  web/i18n/ro-RO/app-api.ts
  web/i18n/ro-RO/app-debug.ts
  web/i18n/ro-RO/app-log.ts
  web/i18n/ro-RO/app-overview.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ro-RO/billing.ts
  web/i18n/ro-RO/common.ts
  web/i18n/ro-RO/custom.ts
  web/i18n/ro-RO/dataset-creation.ts
  web/i18n/ro-RO/dataset-documents.ts
  web/i18n/ro-RO/dataset-hit-testing.ts
  web/i18n/ro-RO/dataset-settings.ts
  web/i18n/ro-RO/dataset.ts
  web/i18n/ro-RO/explore.ts
  web/i18n/ro-RO/layout.ts
  web/i18n/ro-RO/login.ts
  web/i18n/ro-RO/register.ts
  web/i18n/ro-RO/run-log.ts
  web/i18n/ro-RO/share-app.ts
  web/i18n/ro-RO/tools.ts
  web/i18n/ro-RO/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm, ☕️ typescript

#4353 fix the issue of MILVUS_DATABASE has no effect.
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
Labels: 🐞 bug, size:XS, lgtm

#4352 fix: add timeout to SMTPClient to prevent worker blocking
  api/libs/smtp.py
Labels: 🐞 bug, size:M, lgtm

#4383 docs: Add CONTRIBUTING_JA.md
  CONTRIBUTING_JA.md
Labels: 📚 documentation, size:L, lgtm

#4296 Fix: setup google-storage client
  api/extensions/storage/google_storage.py
  docker/docker-compose.yaml
Labels: 🐞 bug, size:S, lgtm

#4027 FIX: fix the temperature value of ollama model
  api/core/model_runtime/model_providers/ollama/llm/llm.py
Labels: size:XS, lgtm

#4395 Fix HTTP REQUEST NODE is always waiting but endpoint have responsed
  api/core/workflow/nodes/http_request/http_executor.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#4409 chore: remove model as tool
  api/controllers/console/workspace/tool_providers.py
  api/core/tools/entities/user_entities.py
  api/core/tools/model_tools/anthropic.yaml
  api/core/tools/model_tools/google.yaml
  api/core/tools/model_tools/openai.yaml
  api/core/tools/model_tools/zhipuai.yaml
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/_positions.py
  api/core/tools/provider/model_tool_provider.py
  api/core/tools/tool/model_tool.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/configuration.py
  api/services/tools_transform_service.py
Labels: size:XL

#4414 fix: workflow delete edge when node is selected
  web/app/components/workflow/hooks/use-nodes-interactions.ts
Labels: 🐞 bug, size:XS, lgtm

#4392 Optimize webscraper
  api/core/rag/extractor/extract_processor.py
  api/core/tools/provider/builtin/webscraper/tools/webscraper.py
  api/core/tools/provider/builtin/webscraper/tools/webscraper.yaml
  api/core/tools/utils/web_reader_tool.py
Labels: 💪 enhancement, size:M, 🔨 feat:tools, lgtm

#4412 chore: remove useless code in knowledge_retrieval_node
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:XS, lgtm

#4367 Custom sqlalchemy database uri scheme is supported
  api/config.py
Labels: 💪 enhancement, size:XS, lgtm

#4416 Remove useless code
  api/controllers/console/__init__.py
  api/controllers/console/enterprise/__init__.py
  api/controllers/console/enterprise/enterprise_sso.py
  api/controllers/console/feature.py
  api/controllers/web/__init__.py
  api/controllers/web/app.py
  api/controllers/web/error.py
  api/controllers/web/feature.py
  api/controllers/web/passport.py
  api/controllers/web/wraps.py
  api/services/enterprise/enterprise_feature_service.py
  api/services/enterprise/enterprise_sso_service.py
  api/services/feature_service.py
  web/app/(shareLayout)/chat/[token]/page.tsx
  web/app/(shareLayout)/chatbot/[token]/page.tsx
  web/app/(shareLayout)/webapp-signin/page.tsx
  web/app/components/share/utils.ts
  web/app/signin/page.tsx
  web/app/signin/userSSOForm.tsx
  web/service/base.ts
  web/service/common.ts
  web/service/enterprise.ts
  web/service/share.ts
  web/service/sso.ts
  web/types/enterprise.ts
  web/types/feature.ts
Labels: 💪 enhancement, size:XL, lgtm, ☕️ typescript

#4431 feat: support doubao llm and embeding models
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
  api/core/model_runtime/model_providers/volcengine_maas/text_embedding/models.py
  api/core/model_runtime/model_providers/volcengine_maas/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.yaml
  api/tests/integration_tests/model_runtime/volcengine_maas/test_embedding.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#4421 fix: wrong category name in examples of question classifier completion prompt
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: 🐞 bug, size:XS, lgtm

#4445 fix: self node type shouldn't show in the picker
  web/app/components/workflow/nodes/_base/components/next-step/item.tsx
Labels: 💪 enhancement, size:XS, lgtm

#4454 feat: add pre ping for sqlalchemy configuration
  api/config.py
Labels: 💪 enhancement, size:XS

#4455 fix the wrong env variable AZURE_BLOB_CONTAINER_NAME
  api/extensions/storage/azure_storage.py
Labels: 🐍 python, size:XS, lgtm

#4448 add llm: ernie-character-8k of wenxin
  api/core/model_runtime/model_providers/wenxin/llm/ernie-character-8k-0321.yaml
  api/core/model_runtime/model_providers/wenxin/llm/ernie_bot.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#4467 fix: workflow add next node from knowledge retrieval node
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/hooks/use-selection-interactions.ts
  web/app/components/workflow/operator/control.tsx
Labels: 🐞 bug, 💪 enhancement, size:M, lgtm

#4164 improve: exract Code Node provider for each supported scripting language
  api/core/helper/code_executor/__init__.py
  api/core/helper/code_executor/code_executor.py
  api/core/helper/code_executor/code_node_provider.py
  api/core/helper/code_executor/entities.py
  api/core/helper/code_executor/javascript/__init__.py
  api/core/helper/code_executor/javascript/javascript_code_provider.py
  api/core/helper/code_executor/javascript/javascript_transformer.py
  api/core/helper/code_executor/jinja2/__init__.py
  api/core/helper/code_executor/jinja2/jinja2_formatter.py
  api/core/helper/code_executor/jinja2/jinja2_transformer.py
  api/core/helper/code_executor/python3/__init__.py
  api/core/helper/code_executor/python3/python3_code_provider.py
  api/core/helper/code_executor/python3/python3_transformer.py
  api/core/prompt/advanced_prompt_transform.py
  api/core/workflow/nodes/code/code_node.py
  api/core/workflow/nodes/code/entities.py
  api/core/workflow/nodes/template_transform/template_transform_node.py
  api/tests/integration_tests/workflow/nodes/__mock/code_executor.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_javascript.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_jinja2.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_python3.py
Labels: 💪 enhancement, 🐍 python, ☕️ javascript, size:L, lgtm

#4469 enhance: claude stream tool call
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-haiku-20240307.yaml
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-opus-20240229.yaml
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-sonnet-20240229.yaml
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
Labels: 💪 enhancement, size:M

#4470 fix: cot gent duplicate messages
  api/core/agent/cot_agent_runner.py
Labels: size:XS, 🤖 feat:agent

#4474 fix: cot agent token usage is empty
  api/core/agent/cot_agent_runner.py
  api/core/agent/output_parser/cot_output_parser.py
Labels: 🐞 bug, size:XS, 🤖 feat:agent, lgtm

#4483 fix: app logo
  api/controllers/console/workspace/workspace.py
  web/app/components/base/chat/chat-with-history/config-panel/index.tsx
  web/app/components/custom/custom-web-app-brand/index.tsx
Labels: size:S, lgtm, ☕️ typescript

#4488 fix: copy button is always displayed on the chat logs page
  web/app/components/app/chat/answer/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4492 chore: update docker-compose.yaml
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:XS, lgtm

#4403 Fix: HTTP request node PARAMS parameters, if ':' appears in the value…
  web/app/components/workflow/nodes/http/hooks/use-key-value-list.ts
Labels: 🐞 bug, size:XS, lgtm

#4476 Update docker-compose.yaml- New DEBUG variable
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#4306 Feat/chat custom disclaimer
  api/constants/recommended_apps.json
  api/controllers/console/admin.py
  api/controllers/console/app/site.py
  api/controllers/console/explore/recommended_app.py
  api/controllers/console/workspace/tool_providers.py
  api/controllers/web/site.py
  api/core/tools/tool_manager.py
  api/fields/app_fields.py
  api/migrations/versions/5fda94355fce_custom_disclaimer.py
  api/models/model.py
  api/models/tools.py
  api/services/recommended_app_service.py
  api/services/tools_manage_service.py
  web/app/components/app/chat/index.tsx
  web/app/components/app/overview/settings/index.tsx
  web/app/components/base/chat/chat/chat-input.tsx
  web/app/components/share/chat/index.tsx
  web/app/components/share/chatbot/index.tsx
  web/app/components/tools/edit-custom-collection-modal/index.tsx
  web/app/components/tools/types.ts
  web/i18n/de-DE/app-overview.ts
  web/i18n/de-DE/tools.ts
  web/i18n/en-US/app-overview.ts
  web/i18n/en-US/tools.ts
  web/i18n/fr-FR/app-overview.ts
  web/i18n/fr-FR/tools.ts
  web/i18n/ja-JP/app-overview.ts
  web/i18n/ja-JP/tools.ts
  web/i18n/pl-PL/app-overview.ts
  web/i18n/pl-PL/tools.ts
  web/i18n/pt-BR/app-overview.ts
  web/i18n/pt-BR/tools.ts
  web/i18n/uk-UA/app-overview.ts
  web/i18n/uk-UA/tools.ts
  web/i18n/vi-VN/app-overview.ts
  web/i18n/vi-VN/tools.ts
  web/i18n/zh-Hans/app-overview.ts
  web/i18n/zh-Hans/tools.ts
  web/i18n/zh-Hant/app-overview.ts
  web/i18n/zh-Hant/tools.ts
  web/models/explore.ts
  web/models/share.ts
  web/types/app.ts
Labels: 💪 enhancement, size:L, lgtm

#4497 chore: skip unnecessary key checks prior to accessing a dictionary
  api/core/app/app_config/common/sensitive_word_avoidance/manager.py
  api/core/app/app_config/features/file_upload/manager.py
  api/core/app/app_config/features/more_like_this/manager.py
  api/core/app/app_config/features/retrieval_resource/manager.py
  api/core/app/app_config/features/speech_to_text/manager.py
  api/core/app/app_config/features/suggested_questions_after_answer/manager.py
  api/core/app/app_config/features/text_to_speech/manager.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/chat/app_generator.py
  api/core/app/apps/completion/app_generator.py
  api/core/app/apps/workflow/app_generator.py
  api/core/docstore/dataset_docstore.py
  api/core/indexing_runner.py
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
  api/core/model_runtime/model_providers/baichuan/llm/baichuan_turbo.py
  api/core/model_runtime/model_providers/minimax/llm/chat_completion_pro.py
  api/core/model_runtime/model_providers/openai/_common.py
  api/core/model_runtime/model_providers/openllm/llm/openllm_generate.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/provider/builtin/stablediffusion/tools/stable_diffusion.py
  api/core/tools/provider/builtin/wolframalpha/tools/wolframalpha.py
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/core/tools/utils/web_reader_tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/pyproject.toml
  api/services/annotation_service.py
  api/services/app_service.py
  api/services/dataset_service.py
Labels: 💪 enhancement, 🐍 python, size:M, lgtm

#4499 fix:modify spelling errors: lanuage ->language in schema.md
  api/core/model_runtime/docs/en_US/schema.md
  api/core/model_runtime/docs/zh_Hans/schema.md
Labels: 📚 documentation, size:XS, lgtm

#4512 fix: files data missed for message
  api/models/model.py
Labels: 🐞 bug, size:XS, lgtm

#4498 chore: sort categories in recommended app service response
  api/services/recommended_app_service.py
Labels: 🐍 python, size:XS, lgtm

#4510 fix: read llm node's first prompt role by optional chaining
  web/app/components/workflow/nodes/llm/components/config-prompt.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4294 feat:Provide parameter config for mask_sensitive_info of MiniMax mode…
  api/core/model_runtime/model_providers/minimax/llm/abab5-chat.yaml
  api/core/model_runtime/model_providers/minimax/llm/abab5.5-chat.yaml
  api/core/model_runtime/model_providers/minimax/llm/abab5.5s-chat.yaml
  api/core/model_runtime/model_providers/minimax/llm/abab6-chat.yaml
  api/core/model_runtime/model_providers/minimax/llm/abab6.5-chat.yaml
  api/core/model_runtime/model_providers/minimax/llm/abab6.5s-chat.yaml
  api/core/model_runtime/model_providers/minimax/llm/chat_completion_pro.py
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#4518 fix: workaround db migration error when adding custom_disclaimer column to recommended_apps
  api/migrations/versions/5fda94355fce_custom_disclaimer.py
  api/models/model.py
Labels: 🐞 bug, size:XS, lgtm

#4369 Add UNSTRUCTURED_API_KEY env support
  api/.env.example
  api/config.py
  api/core/rag/extractor/extract_processor.py
  api/core/rag/extractor/unstructured/unstructured_ppt_extractor.py
Labels: 💪 enhancement, size:S, lgtm

#4375 allow to config max segmentation tokens length for RAG document using environment variable
  api/.env.example
  api/config.py
  api/core/indexing_runner.py
  api/core/rag/index_processor/index_processor_base.py
  docker/docker-compose.yaml
Labels: 📚 documentation, size:S, lgtm

#4487 improve: generalize transformations and scripts of runner and preloads into TemplateTransformer
  api/core/helper/code_executor/code_executor.py
  api/core/helper/code_executor/javascript/javascript_transformer.py
  api/core/helper/code_executor/jinja2/jinja2_transformer.py
  api/core/helper/code_executor/python3/python3_transformer.py
  api/core/helper/code_executor/template_transformer.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_javascript.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_jinja2.py
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_python3.py
Labels: 💪 enhancement, size:L, lgtm

#4496 chore: apply and fix flake8-bugbear lint rules
  api/core/model_runtime/callbacks/base_callback.py
  api/core/tools/tool_manager.py
  api/core/workflow/nodes/tool/tool_node.py
  api/pyproject.toml
Labels: 🐍 python, size:S, lgtm

#4523 feat: Jina Search & Jina Reader CSS selectors
  api/core/tools/provider/builtin/jina/jina.yaml
  api/core/tools/provider/builtin/jina/tools/jina_reader.py
  api/core/tools/provider/builtin/jina/tools/jina_reader.yaml
  api/core/tools/provider/builtin/jina/tools/jina_search.py
  api/core/tools/provider/builtin/jina/tools/jina_search.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#4517 chore: update yfinance dependency to version 0.2.40
  api/requirements.txt
Labels: 🐞 bug, dependencies, size:XS, lgtm

#4425 Bump oss2 to 2.18.5 for AuthV4 support
  api/core/tools/tool_file_manager.py
  api/requirements.txt
Labels: dependencies, size:XS, lgtm

#4551 oauth2 supports.
  web/app/(shareLayout)/webapp-signin/page.tsx
  web/app/signin/userSSOForm.tsx
  web/service/share.ts
  web/service/sso.ts
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#4559 add qdrant metadata.doc_id index
  api/commands.py
Labels: size:M, 👻 feat:rag, lgtm

#4568 feat:add gpt-4o for azure
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4546 Hide the copy button when there is no content to copy
  web/app/components/workflow/panel/workflow-preview.tsx
Labels: size:S, lgtm, ☕️ typescript

#4524 Refactor part of the ProviderManager code to improve readability
  api/core/provider_manager.py
Labels: 💪 enhancement, size:M, lgtm

#4562 chore(api): Use channel from UI as API query parameter
  api/core/tools/provider/builtin/youtube/tools/videos.py
Labels: 🐞 bug, size:XS, lgtm

#4572 Fix bedrock claude wrong pricing
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-sonnet-v1.yaml
Labels: size:XS, lgtm

#4567 fix: some google search result raise exception
  api/core/tools/provider/builtin/google/tools/google_search.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#4579 chore: remove model provider free token link
  web/app/components/header/account-setting/model-provider-page/hooks.ts
  web/app/components/header/account-setting/model-provider-page/provider-added-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/quota-panel.tsx
  web/app/components/header/account-setting/model-provider-page/provider-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/utils.ts
  web/service/common.ts
Labels: size:L, lgtm, ☕️ typescript

#4494 fix: hide automatic button on automatic result page
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4569 Add Azure OpenAI API version for GPT4o support
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:XS, lgtm

#4596 chore:update gpt-3.5-turbo and gpt-4-turbo parameter for azure
  api/core/model_runtime/model_providers/azure_openai/_constant.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm
