Repository langgenius/dify, pull requests merged in 2024-06, with the labels that each got.

#4845 chore: skip explicit installing jinja2 as testing dependency
  api/requirements-dev.txt
Labels: 💪 enhancement, size:XS, lgtm

#4851 chore: fix invalid escape sequences by applying W605 rule
  api/core/splitter/text_splitter.py
  api/pyproject.toml
  api/services/workflow/workflow_converter.py
Labels: 💪 enhancement, 🐍 python, size:S, lgtm

#4853 Bugfix: Vertex AI vision model not support image
  api/core/model_runtime/model_providers/vertex_ai/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#4839 chore: upgrade sandbox
  .github/workflows/api-tests.yml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#4861 fix: Incorrect argument types in createChatMessage
  sdks/nodejs-client/index.d.ts
Labels: size:S, lgtm, ☕️ typescript

#4867 Fixed workflow tts feature audition
  api/controllers/console/app/audio.py
  web/app/components/base/features/feature-panel/text-to-speech/index.tsx
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#4865 fix: update npm version to fix Incorrect argument types in createChatMessage
  sdks/nodejs-client/package.json
Labels: dependencies, size:XS, lgtm

#4866 chore: add issue link tempate for IDEA
  .github/workflows/style.yml
  .gitignore
  .idea/vcs.xml
Labels: size:S, lgtm

#4882 add-nvidia-mim
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/nvidia_nim/__init__.py
  api/core/model_runtime/model_providers/nvidia_nim/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/nvidia_nim/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/nvidia_nim/llm/__init__.py
  api/core/model_runtime/model_providers/nvidia_nim/llm/llm.py
  api/core/model_runtime/model_providers/nvidia_nim/nvidia_nim.py
  api/core/model_runtime/model_providers/nvidia_nim/nvidia_nim.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4786 improve: generalize tool parameter converter
  api/core/agent/base_agent_runner.py
  api/core/tools/__init__.py
  api/core/tools/entities/tool_entities.py
  api/core/tools/provider/builtin_tool_provider.py
  api/core/tools/provider/tool_provider.py
  api/core/tools/tool/tool.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/__init__.py
  api/core/tools/utils/tool_parameter_converter.py
  api/tests/unit_tests/core/tools/test_tool_parameter_converter.py
Labels: size:L, 🔨 feat:tools, lgtm

#4898 chore: optimize nvidia nim credential schema and info
  api/core/model_runtime/model_providers/nvidia_nim/llm/llm.py
  api/core/model_runtime/model_providers/nvidia_nim/nvidia_nim.py
  api/core/model_runtime/model_providers/nvidia_nim/nvidia_nim.yaml
Labels: size:M

#4870 feat: added Anthropic Claude3 models to Google Cloud Vertex AI
  api/core/model_runtime/model_providers/vertex_ai/llm/anthropic.claude-3-haiku.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/anthropic.claude-3-opus.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/anthropic.claude-3-sonnet.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#4864 chore: remove unused code and class in text splitter
  api/core/splitter/text_splitter.py
Labels: size:L, lgtm

#4876 chore: separate style checks into multiple jobs triggering on file changes
  .github/workflows/style.yml
Labels: 💪 enhancement, size:M, lgtm

#4897 chore: update page.tsx
  web/app/(shareLayout)/webapp-signin/page.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#4911 fix azure blob token expire
  api/extensions/storage/azure_storage.py
Labels: 🐞 bug, size:M, lgtm

#4908 chore: modify tools/JinaReader label to Jina
  api/core/tools/provider/builtin/jina/jina.yaml
Labels: size:XS, lgtm

#4820 dep: bump pandas from 1.x to 2.x
  api/core/rag/extractor/csv_extractor.py
  api/requirements.txt
  api/tests/unit_tests/libs/test_pandas.py
Labels: dependencies, size:M, lgtm

#4400 Fixed a bug where any content in the 'fetch' was converted to True
  api/controllers/console/datasets/datasets_document.py
Labels: 🐞 bug, size:XS, lgtm

#4710 feat: question classify node support use var in instruction
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/question-classifier/components/advanced-setting.tsx
  web/app/components/workflow/nodes/question-classifier/panel.tsx
  web/app/components/workflow/nodes/question-classifier/use-config.ts
Labels: size:L, 🌊 feat:workflow, lgtm

#4834 chore: refactor the serpapi's google search tool
  api/core/tools/provider/builtin/google/tools/google_search.py
  api/requirements.txt
Labels: size:L, lgtm

#4878 feat: Add Vanna.AI as a builtin tool
  api/core/tools/provider/builtin/vanna/_assets/icon.png
  api/core/tools/provider/builtin/vanna/tools/vanna.py
  api/core/tools/provider/builtin/vanna/tools/vanna.yaml
  api/core/tools/provider/builtin/vanna/vanna.py
  api/core/tools/provider/builtin/vanna/vanna.yaml
  api/requirements.txt
Labels: dependencies, size:L, 🔨 feat:tools, lgtm

#4914 Fix/azure blob token expire
  api/extensions/storage/azure_storage.py
Labels: 🐞 bug, size:XS, lgtm

#4732 feat: document support rename in in dataset
  web/app/components/datasets/documents/detail/index.tsx
  web/app/components/datasets/documents/list.tsx
  web/app/components/datasets/documents/rename-modal.tsx
  web/i18n/en-US/dataset-documents.ts
  web/i18n/zh-Hans/dataset-documents.ts
  web/models/datasets.ts
  web/service/datasets.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#4919 chore: make the error msg more clear when validate app token
  api/controllers/service_api/wraps.py
Labels: 💪 enhancement, size:S, lgtm

#4918 fix: router replace in Explore page
  web/app/components/share/text-generation/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4924 modify rerank and splitter code directory
  api/core/indexing_runner.py
  api/core/rag/data_post_processor/data_post_processor.py
  api/core/rag/docstore/dataset_docstore.py
  api/core/rag/index_processor/index_processor_base.py
  api/core/rag/rerank/__init__.py
  api/core/rag/rerank/rerank.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/rag/splitter/fixed_text_splitter.py
  api/core/rag/splitter/text_splitter.py
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
Labels: 💪 enhancement, size:S, lgtm

#4915 support rename document
  api/controllers/console/datasets/datasets_document.py
  api/fields/document_fields.py
  api/services/dataset_service.py
Labels: 💪 enhancement, size:M, lgtm

#4913 support instruction in classifier node
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
Labels: size:M, 🌊 feat:workflow, lgtm

#4928 fix: incorrect parameters transforming while validating
  api/core/tools/tool/tool.py
Labels: 🐞 bug, size:S

#4927 feat: backend model load balancing support
  api/config.py
  api/controllers/console/__init__.py
  api/controllers/console/feature.py
  api/controllers/console/version.py
  api/controllers/console/workspace/load_balancing_config.py
  api/controllers/console/workspace/models.py
  api/core/app/apps/base_app_runner.py
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
  api/core/application_manager.py
  api/core/entities/model_entities.py
  api/core/entities/provider_configuration.py
  api/core/entities/provider_entities.py
  api/core/extension/extensible.py
  api/core/helper/model_provider_cache.py
  api/core/helper/module_import_helper.py
  api/core/helper/position_helper.py
  api/core/indexing_runner.py
  api/core/memory/token_buffer_memory.py
  api/core/model_manager.py
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/__base/model_provider.py
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/prompt/prompt_transform.py
  api/core/provider_manager.py
  api/core/rag/docstore/dataset_docstore.py
  api/core/rag/splitter/fixed_text_splitter.py
  api/core/tools/provider/builtin/_positions.py
  api/core/tools/provider/builtin_tool_provider.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/model_invocation_utils.py
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/migrations/versions/4e99a8df00ff_add_load_balancing.py
  api/models/provider.py
  api/services/dataset_service.py
  api/services/entities/model_provider_entities.py
  api/services/feature_service.py
  api/services/model_load_balancing_service.py
  api/services/model_provider_service.py
  api/services/workflow_service.py
  api/tasks/batch_create_segment_to_index_task.py
  api/tests/integration_tests/utils/test_module_import_helper.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
  api/tests/integration_tests/workflow/nodes/test_parameter_extractor.py
  api/tests/unit_tests/core/prompt/test_prompt_transform.py
  api/tests/unit_tests/core/test_model_manager.py
  api/tests/unit_tests/core/test_provider_manager.py
  api/tests/unit_tests/utils/position_helper/test_position_helper.py
Labels: 💪 enhancement, size:XXL

#4930 fix: vanna CVE-2024-5565 by disable visualize of ask func
  api/core/tools/provider/builtin/vanna/tools/vanna.py
Labels: 🐞 bug, size:S

#4929 version to 0.6.10
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, size:S

#4931 fix: question classifier instruction npe
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
Labels: 🐞 bug, 🐍 python, size:XS

#4932 fix: bedrock get_num_tokens prompt_messages parameter name err
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: 🐞 bug, size:S

#4935 change "Import from text file" to "Import from file"
  web/i18n/en-US/dataset-creation.ts
Labels: size:XS, lgtm, ☕️ typescript

#4942 feat: pricing page add llm load balancing info
  web/app/components/billing/pricing/plan-item.tsx
  web/i18n/en-US/billing.ts
  web/i18n/zh-Hans/billing.ts
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#4945 fix: end node limit in next step
  web/app/components/workflow/nodes/_base/components/next-step/add.tsx
  web/app/components/workflow/nodes/_base/components/next-step/index.tsx
  web/app/components/workflow/nodes/_base/panel.tsx
  web/app/components/workflow/operator/add-block.tsx
Labels: 🐞 bug, size:M, 🌊 feat:workflow, lgtm

#4944 fix: import error in web/app/components/header/account-setting/model-provider-page/declarations.ts
  web/app/components/tools/provider/detail.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4925 chore: fix indention violations by applying E111 to E117 ruff rules
  .github/workflows/style.yml
  api/core/agent/base_agent_runner.py
  api/core/model_runtime/model_providers/baichuan/llm/baichuan_turbo.py
  api/core/model_runtime/model_providers/bedrock/text_embedding/text_embedding.py
  api/core/rag/datasource/vdb/pgvecto_rs/pgvecto_rs.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/core/rag/models/document.py
  api/core/tools/provider/builtin/arxiv/tools/arxiv_search.py
  api/core/tools/provider/builtin/searxng/tools/searxng_search.py
  api/core/tools/provider/builtin/twilio/tools/send_message.py
  api/core/tools/tool/tool.py
  api/pyproject.toml
  dev/reformat
  web/.husky/pre-commit
Labels: 🐍 python, size:L, lgtm

#4901 fix: missing dataset patch parameters in settings modal
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
Labels: 🐞 bug, size:XS, 👻 feat:rag, lgtm

#4948 fix: missing iterator in task pipeline
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
Labels: 🐞 bug, size:M

#3600 fixing a bug of handling header row when parsing xls file, and tune xls/xlsx parsing result to be more structured
  api/core/rag/extractor/excel_extractor.py
Labels: 🐞 bug, size:S, lgtm

#4949 fix: duckduckgo search does not work
  api/requirements.txt
Labels: 🐞 bug, size:XS, lgtm

#4588 feat: support tidb vector
  api/.env.example
  api/config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/tidb_vector/__init__.py
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/requirements.txt
  api/tests/integration_tests/vdb/tidb_vector/__init__.py
  api/tests/integration_tests/vdb/tidb_vector/test_tidb_vector.py
  docker/docker-compose.yaml
Labels: 📚 documentation, size:L, 👻 feat:rag, lgtm

#4958 Typo in Knowledge settings
  web/i18n/en-US/dataset.ts
Labels: 🐞 bug, size:XS, lgtm

#4960 fix some tidb bugs
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
Labels: size:S, 👻 feat:rag, lgtm

#4963 add meta.doc_id index for tidb
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#4974 feat: add create tenant command
  api/commands.py
  api/pyproject.toml
Labels: 💪 enhancement, size:M

#4973 chore: rename vdb tests for PGVector and PGvectoRS
  api/tests/integration_tests/vdb/pgvecto_rs/test_pgvecto_rs.py
  api/tests/integration_tests/vdb/pgvector/test_pgvector.py
Labels: size:XS, lgtm

#4955 fix: gemini timeout error
  api/core/model_runtime/model_providers/google/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#4982 fix: llm selector position is incorrect in not workflow app
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#4991 feat: support login by given mail
  web/app/layout.tsx
  web/app/signin/normalForm.tsx
  web/config/index.ts
Labels: 💪 enhancement, size:S, lgtm

#5000 fix: typo in sd3
  api/core/tools/provider/builtin/stability/tools/text2image.py
  api/core/tools/provider/builtin/stability/tools/text2image.yaml
Labels: 🐞 bug, size:S

#5002 feat: set default memory messages limit to infinite
  api/core/memory/token_buffer_memory.py
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo.yaml
  api/core/prompt/prompt_transform.py
Labels: size:S

#4985 fix: some base models cannot be selected in Azure OpenAI Service setting page
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#4978 fix: modal z-index and cleanup
  web/app/components/app/app-publisher/index.tsx
  web/app/components/app/configuration/dataset-config/params-config/index.tsx
  web/app/components/app/configuration/toolbox/annotation/config-param-modal.tsx
  web/app/components/base/drawer/index.tsx
  web/app/components/base/modal/delete-confirm-modal/index.tsx
  web/app/components/base/modal/index.css
  web/app/components/datasets/documents/rename-modal.tsx
  web/app/components/share/chat/sidebar/rename-modal/index.tsx
  web/app/components/workflow/nodes/http/components/authorization/index.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#5004 Fix/azure blob new version
  api/extensions/storage/azure_storage.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#5017 Fix: z-index in header
  web/app/components/header/HeaderWrapper.tsx
  web/app/components/tools/provider-list.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5024 deal the external image when extract docx image
  api/core/rag/extractor/word_extractor.py
Labels: size:S, lgtm

#5035 feat: add dataset delete endpoint
  api/controllers/service_api/dataset/dataset.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 💪 enhancement, size:L, lgtm

#5032 feat: feature modal style
  web/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/citation.png
  web/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/more-like-this.png
  web/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/speech-to-text.png
  web/app/components/app/configuration/config/feature/choose-feature/feature-item/preview-imgs/suggested-questions-after-answer.png
  web/app/components/app/configuration/config/feature/choose-feature/feature-item/style.module.css
  web/app/components/base/features/feature-choose/feature-item/style.module.css
Labels: 🐞 bug, ☕️ javascript, size:S, lgtm

#5005 🔧 fix docker-compose ssrf_proxy service WARNING: You should probably remove '::/0' from the ACL named 'all'
  docker/volumes/ssrf_proxy/squid.conf
Labels: 🐞 bug, size:XS, lgtm

#5039 fix: update presence_penalty configuration for wenxin AI ernie-4.0-8k and ernie-3.5-8k models
  api/core/model_runtime/model_providers/wenxin/llm/ernie-3.5-8k.yaml
  api/core/model_runtime/model_providers/wenxin/llm/ernie-4.0-8k.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#5046 fix: issue where an error occurs when invoking TTS without selecting a voice
  api/controllers/web/audio.py
  api/core/model_manager.py
  api/services/audio_service.py
Labels: 🐞 bug, size:S

#5062 fix: wrong link to web app repo in chatflow mode
  web/app/components/app/overview/customize/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5048 feat: add dataset delete endpoint
  api/controllers/service_api/dataset/dataset.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 💪 enhancement, size:L, lgtm

#5056 chore: update maas model provider description
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.yaml
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#5050 🔧 Fix(docker/volumes/ssrf_proxy/squid.conf): The squid process on ssrf_proxy docker service crashes at startup
  docker/volumes/ssrf_proxy/squid.conf
Labels: 🐞 bug, size:XS, lgtm

#4513 build: initial support for poetry build tool
  .github/workflows/api-tests.yml
  api/.vscode/launch.json
  api/README.md
  api/poetry.lock
  api/poetry.toml
  api/pyproject.toml
Labels: 📚 documentation, 🐍 python, size:L, lgtm

#5078 Arabic README.md
  README.md
  README_AR.md
Labels: 📚 documentation, size:L, lgtm

#5084 fix: dependency package versions are not synchronized to requirements.txt
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:L

#5089 feat: add glm4 new models and zhipu embedding-2
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-0520.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-air.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-airx.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flash.yaml
  api/core/model_runtime/model_providers/zhipuai/text_embedding/embedding-2.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#5075 Fix: infinite loading not work when message is too short
  web/app/components/app/log/list.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#4891 fix: autoHeightTextarea dimensions in Firefox
  web/app/components/base/auto-height-textarea/common.tsx
Labels: 🐞 bug, size:XS, lgtm

#5071 fix: Google HL Parameter for SearchApi
  api/core/tools/provider/builtin/searchapi/tools/google.yaml
  api/core/tools/provider/builtin/searchapi/tools/google_jobs.yaml
  api/core/tools/provider/builtin/searchapi/tools/google_news.yaml
Labels: 🐞 bug, size:XS, lgtm

#5074 feat: add duckduckgo img search, translate, ai chat
  api/core/tools/provider/builtin/duckduckgo/duckduckgo.py
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_ai.py
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_ai.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_img.py
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_img.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_search.py
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_search.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_translate.py
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_translate.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/duckduckgo_search.py
  api/core/tools/provider/builtin/duckduckgo/tools/duckduckgo_search.yaml
Labels: size:XL, 🔨 feat:tools, lgtm

#5093 fix: #4970
  web/app/components/workflow/nodes/llm/components/config-prompt.tsx
Labels: 🐞 bug, size:XS, lgtm

#5067 dalle3 add style consistency parameter
  api/core/tools/provider/builtin/azuredalle/tools/dalle3.py
  api/core/tools/provider/builtin/azuredalle/tools/dalle3.yaml
  api/core/tools/provider/builtin/dalle/tools/dalle3.py
  api/core/tools/provider/builtin/dalle/tools/dalle3.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#5090 fix: remote_url doesn't work for gemini
  api/core/model_runtime/model_providers/google/llm/llm.py
Labels: 🐞 bug, 🐍 python, size:S, lgtm

#5088 build: use Poetry as default build system for dependency installation in CI jobs
  .github/workflows/api-tests.yml
  .github/workflows/db-migration-test.yml
  .github/workflows/style.yml
  api/migrations/README
  api/poetry.lock
  api/pyproject.toml
Labels: 🐍 python, size:M, lgtm

#5100 feat: support doubao llm function calling
  api/core/model_runtime/model_providers/volcengine_maas/client.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#5108 chore: workflow syncing modal
  web/app/components/workflow/header/editing-title.tsx
  web/app/components/workflow/hooks/use-workflow-interactions.ts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/nodes/_base/components/prompt/editor.tsx
  web/app/components/workflow/store.ts
  web/app/components/workflow/syncing-data-modal.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:M, 🌊 feat:workflow, lgtm

#5094 fix(typo): misspelling
  api/core/model_runtime/model_providers/localai/llm/llm.py
  api/tests/integration_tests/model_runtime/localai/test_llm.py
Labels: 🐞 bug, size:S, lgtm

#5013 feat: support hunyuan llm models
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/hunyuan/__init__.py
  api/core/model_runtime/model_providers/hunyuan/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/hunyuan/_assets/icon_s_en.png
  api/core/model_runtime/model_providers/hunyuan/hunyuan.py
  api/core/model_runtime/model_providers/hunyuan/hunyuan.yaml
  api/core/model_runtime/model_providers/hunyuan/llm/__init__.py
  api/core/model_runtime/model_providers/hunyuan/llm/_position.yaml
  api/core/model_runtime/model_providers/hunyuan/llm/hunyuan-lite.yaml
  api/core/model_runtime/model_providers/hunyuan/llm/hunyuan-pro.yaml
  api/core/model_runtime/model_providers/hunyuan/llm/hunyuan-standard-256k.yaml
  api/core/model_runtime/model_providers/hunyuan/llm/hunyuan-standard.yaml
  api/core/model_runtime/model_providers/hunyuan/llm/llm.py
  api/requirements.txt
  api/tests/integration_tests/model_runtime/hunyuan/__init__.py
  api/tests/integration_tests/model_runtime/hunyuan/test_llm.py
  api/tests/integration_tests/model_runtime/hunyuan/test_provider.py
Labels: 💪 enhancement, size:XL, ⚙️ feat:model-runtime, lgtm

#5101 fix: select field not work when it is not required
  api/core/tools/tool_manager.py
  web/app/components/base/select/index.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#5061 fixed a typo and grammar error in sampled app
  api/constants/recommended_apps.json
Labels: size:XS, lgtm

#5019 Fix: fix load_yaml logging, Avoid setting the log level to warning
  api/core/tools/utils/yaml_utils.py
Labels: 🐞 bug, size:XS, lgtm

#5130 chore: sync pyproject.toml from requirements.txt
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS

#5136 remove dalle3 seed
  api/core/tools/provider/builtin/dalle/tools/dalle3.py
  api/core/tools/provider/builtin/dalle/tools/dalle3.yaml
Labels: size:S, 🔨 feat:tools, lgtm

#5129 feat: support siliconflow
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/siliconflow/_assets/siliconflow.svg
  api/core/model_runtime/model_providers/siliconflow/_assets/siliconflow_square.svg
  api/core/model_runtime/model_providers/siliconflow/llm/_position.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-v2-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/glm4-9b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/llm.py
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2-57b-a14b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2-72b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2-7b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/yi-1.5-34b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/yi-1.5-6b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/yi-1.5-9b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/siliconflow.py
  api/core/model_runtime/model_providers/siliconflow/siliconflow.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#5137 chore: update question classifier prompt
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: 🐍 python, size:XS, 🌊 feat:workflow, lgtm

#5138 fix localai,baichuan agent chat err #4943
  api/core/model_runtime/model_providers/baichuan/llm/llm.py
  api/core/model_runtime/model_providers/localai/llm/llm.py
Labels: 🐞 bug, size:L, lgtm

#5128 chore: update qdrant_vector.py
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#5142 chore:add some new api version for azure openai
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#5146 feat: support jina-clip-v1 embedding model
  api/core/model_runtime/model_providers/jina/text_embedding/jina-clip-v1.yaml
  api/core/model_runtime/model_providers/jina/text_embedding/text_embedding.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#5068 fix: front end error when same tool is called twice at once
  web/app/components/app/chat/thought/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5124 chore(docs): fix minor small typos
  api/core/model_runtime/docs/en_US/interfaces.md
  api/core/model_runtime/docs/zh_Hans/interfaces.md
Labels: 📚 documentation, size:XS, lgtm

#5064 Upgrade boto3 library to support EKS Pod Identity.
  api/requirements.txt
Labels: dependencies, size:XS, lgtm

#5054 Fix: google storage init with sa and download
  api/extensions/storage/google_storage.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#5015 feat: support Chroma vector store
  .github/workflows/api-tests.yml
  .gitignore
  api/.env.example
  api/config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/chroma/__init__.py
  api/core/rag/datasource/vdb/chroma/chroma_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/poetry.lock
  api/pyproject.toml
  api/requirements.txt
  api/tests/integration_tests/vdb/chroma/__init__.py
  api/tests/integration_tests/vdb/chroma/test_chroma.py
  docker/docker-compose.chroma.yaml
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:L, 👻 feat:rag, lgtm

#5167 feat: introduce APP_MAX_EXECUTION_TIME
  api/.env.example
  api/config.py
  api/core/app/apps/base_app_queue_manager.py
Labels: 💪 enhancement, size:S

#5168 improve: CI experience
  api/tests/integration_tests/model_runtime/__mock/anthropic.py
  api/tests/integration_tests/model_runtime/__mock/openai_chat.py
  api/tests/integration_tests/model_runtime/__mock/openai_completion.py
Labels: size:S

#4971 fix: Vertex AI Anthropic models authentication failed
  api/core/model_runtime/model_providers/vertex_ai/llm/llm.py
Labels: 🐞 bug, size:M, lgtm

#5171 fix: issues by pydantic2 upgrade
  api/core/entities/provider_entities.py
  api/core/tools/entities/api_entities.py
  api/core/tools/provider/builtin/aippt/tools/aippt.py
  api/core/tools/provider/builtin/bing/tools/bing_web_search.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/duckduckgo_search.py
  api/core/tools/provider/builtin/firecrawl/tools/crawl.yaml
  api/core/tools/provider/builtin/searchapi/tools/google.yaml
  api/core/tools/provider/builtin/searchapi/tools/google_jobs.yaml
  api/core/tools/provider/builtin/searchapi/tools/google_news.yaml
  api/core/tools/provider/builtin/stackexchange/stackexchange.yaml
  api/core/tools/provider/builtin/stackexchange/tools/searchStackExQuestions.yaml
  api/core/tools/provider/builtin/tavily/tools/tavily_search.yaml
  api/core/tools/provider/builtin/webscraper/tools/webscraper.yaml
  api/core/tools/tool/tool.py
  api/services/tools/builtin_tools_manage_service.py
  api/services/tools/tools_transform_service.py
Labels: 🐞 bug, size:L

#5169 fix: JSON mode with an image doesn't work for Gemini
  api/core/model_runtime/model_providers/__base/large_language_model.py
Labels: 🐞 bug, size:S, ⚙️ feat:model-runtime, lgtm

#5098 fix: milvus_vector default dataset index_struct type from weaviate to milvus
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
Labels: 🐞 bug, size:XS, 👻 feat:rag, lgtm

#5172 fix: pydantic2 error
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/chat/app_generator.py
  api/core/app/apps/completion/app_generator.py
  api/core/model_runtime/model_providers/google/llm/llm.py
Labels: 🐞 bug, 🐍 python, size:S

#5112 refactor: Delete the dataset to verify whether it is in use
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/error.py
  api/controllers/service_api/dataset/dataset.py
  api/controllers/service_api/dataset/error.py
  api/services/dataset_service.py
  api/services/errors/dataset.py
Labels: 💪 enhancement, size:M, lgtm

#5125 Chore: refactor embedded chatbot
  web/app/(shareLayout)/chatbot/[token]/page.tsx
  web/app/components/app/chat/icon-component/index.tsx
  web/app/components/base/app-unavailable.tsx
  web/app/components/base/chat/chat-with-history/index.tsx
  web/app/components/base/chat/embedded-chatbot/chat-wrapper.tsx
  web/app/components/base/chat/embedded-chatbot/config-panel/form-input.tsx
  web/app/components/base/chat/embedded-chatbot/config-panel/form.tsx
  web/app/components/base/chat/embedded-chatbot/config-panel/index.tsx
  web/app/components/base/chat/embedded-chatbot/context.tsx
  web/app/components/base/chat/embedded-chatbot/header.tsx
  web/app/components/base/chat/embedded-chatbot/hooks.tsx
  web/app/components/base/chat/embedded-chatbot/index.tsx
  web/app/components/base/chat/embedded-chatbot/utils.ts
  web/app/components/share/chat/index.tsx
  web/app/components/share/chatbot/index.tsx
Labels: 💪 enhancement, size:XXL, lgtm, ☕️ typescript

#5190 fix(core/tools): Fix the issue with iterating over None in `_transform_tool_parameters_type`.
  api/core/tools/tool/tool.py
Labels: 🐞 bug, size:XS, lgtm

#5195 Fix: conversation id display & support copy
  web/app/components/app/log/list.tsx
  web/app/components/base/copy-icon/index.tsx
Labels: 🐞 bug, 💪 enhancement, size:M, lgtm

#5185 Modify docs in JP
  CONTRIBUTING_JA.md
  README_JA.md
  web/i18n/ja-JP/app.ts
Labels: 📚 documentation, size:M, lgtm

#5177 chore: remove bump-pydantic dependency
  api/poetry.lock
  api/pyproject.toml
  api/requirements.txt
Labels: dependencies, size:S, lgtm

#5203 chore: make the Celery command more noticeable
  api/README.md
Labels: 📚 documentation, size:XS, lgtm

#5188 feat: allow to use IAM Role for Bedrock
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
Labels: size:S, lgtm

#5174 add aws s3 iam check
  api/.env.example
  api/config.py
  api/extensions/storage/s3_storage.py
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:S, lgtm

#4961 Add novita.ai as model provider
  api/core/model_runtime/model_providers/novita/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/novita/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/novita/llm/Nous-Hermes-2-Mixtral-8x7B-DPO.yaml
  api/core/model_runtime/model_providers/novita/llm/llama-3-70b-instruct.yaml
  api/core/model_runtime/model_providers/novita/llm/llama-3-8b-instruct.yaml
  api/core/model_runtime/model_providers/novita/llm/llm.py
  api/core/model_runtime/model_providers/novita/llm/lzlv_70b.yaml
  api/core/model_runtime/model_providers/novita/llm/mythomax-l2-13b.yaml
  api/core/model_runtime/model_providers/novita/llm/nous-hermes-llama2-13b.yaml
  api/core/model_runtime/model_providers/novita/llm/openhermes-2.5-mistral-7b.yaml
  api/core/model_runtime/model_providers/novita/llm/wizardlm-2-8x22b.yaml
  api/core/model_runtime/model_providers/novita/novita.py
  api/core/model_runtime/model_providers/novita/novita.yaml
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/tests/integration_tests/model_runtime/novita/__init__.py
  api/tests/integration_tests/model_runtime/novita/test_llm.py
  api/tests/integration_tests/model_runtime/novita/test_provider.py
Labels: size:XL, ⚙️ feat:model-runtime, lgtm

#5217 fix(model_providers/ollama): Fix OllamaLargeLanguageModel to correctly set the stop option
  api/core/model_runtime/model_providers/ollama/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#5216 support ERNIE-4.0-8K-Latest
  api/core/model_runtime/model_providers/wenxin/llm/ernie-4.0-8k-latest.yaml
  api/core/model_runtime/model_providers/wenxin/llm/ernie_bot.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#5197 feat: Add Optional API Key, Proxy Server, and Bypass Cache Parameters to Jina Tools
  api/core/tools/provider/builtin/jina/jina.py
  api/core/tools/provider/builtin/jina/jina.yaml
  api/core/tools/provider/builtin/jina/tools/jina_reader.py
  api/core/tools/provider/builtin/jina/tools/jina_reader.yaml
  api/core/tools/provider/builtin/jina/tools/jina_search.py
  api/core/tools/provider/builtin/jina/tools/jina_search.yaml
Labels: 💪 enhancement, size:L, 🔨 feat:tools, lgtm

#5141 fix: add repo check for build-push.yml
  .github/workflows/build-push.yml
Labels: 🐞 bug, size:XS, lgtm

#3568 feat: support tencent vector db
  api/.env.example
  api/commands.py
  api/config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/tencent/__init__.py
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/poetry.lock
  api/pyproject.toml
  api/requirements.txt
  api/tests/integration_tests/vdb/__mock/__init__.py
  api/tests/integration_tests/vdb/__mock/tcvectordb.py
  api/tests/integration_tests/vdb/tcvectordb/__init__.py
  api/tests/integration_tests/vdb/tcvectordb/test_tencent.py
  docker/docker-compose.yaml
Labels: 📚 documentation, dependencies, size:L, lgtm

#5131 Update README, deploy dify with YAML file on Kubernetes
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
Labels: 📚 documentation, size:S, lgtm

#4975 Fix: http_request delete method not working
  api/core/workflow/nodes/http_request/http_executor.py
Labels: 🐞 bug, size:XS, lgtm

#4435 feat: new editor user permission profile
  api/controllers/console/app/app.py
  api/controllers/console/app/conversation.py
  api/controllers/console/app/site.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/tag/tags.py
  api/controllers/console/workspace/members.py
  api/controllers/console/workspace/models.py
  api/models/account.py
  api/tests/unit_tests/models/test_account.py
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout.tsx
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/(commonLayout)/datasets/Datasets.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/create-from-dsl-modal/index.tsx
  web/app/components/app/overview/appCard.tsx
  web/app/components/app/switch-app-modal/index.tsx
  web/app/components/develop/secret-key/secret-key-modal.tsx
  web/app/components/explore/app-list/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/index.tsx
  web/app/components/header/account-setting/members-page/operation/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/system-model-selector/index.tsx
  web/app/components/header/app-nav/index.tsx
  web/app/components/header/app-selector/index.tsx
  web/app/components/header/index.tsx
  web/app/components/header/nav/nav-selector/index.tsx
  web/app/components/tools/provider/custom-create-card.tsx
  web/app/components/tools/provider/detail.tsx
  web/app/components/tools/setting/build-in/config-credentials.tsx
  web/app/components/tools/workflow-tool/configure-button.tsx
  web/context/app-context.tsx
  web/i18n/de-DE/common.ts
  web/i18n/en-US/common.ts
  web/i18n/fr-FR/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ko-KR/common.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pt-BR/common.ts
  web/i18n/ro-RO/common.ts
  web/i18n/uk-UA/common.ts
  web/i18n/vi-VN/common.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hant/common.ts
  web/models/common.ts
  web/utils/app-redirection.ts
Labels: 💪 enhancement, size:L, lgtm

#5222 fix: number variable cause type error in openai moderation
  api/core/moderation/openai_moderation/openai_moderation.py
Labels: 🐞 bug, size:XS, lgtm

#4906 fix: workspace member's last_active should be last_active_time, but not last_login_time
  api/fields/member_fields.py
  web/app/components/header/account-setting/members-page/index.tsx
  web/models/common.ts
Labels: 🐞 bug, size:XS, lgtm

#5170 chore: development script for syncing Poetry lockfile
  .github/workflows/api-tests.yml
  .github/workflows/style.yml
  dev/sync-poetry
  dev/update-poetry
Labels: size:M, 🔨 feat:tools, lgtm

#5213 feat(Tools): Add Feishu multi-dimensional table operation function
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/feishu_base/_assets/icon.svg
  api/core/tools/provider/builtin/feishu_base/feishu_base.py
  api/core/tools/provider/builtin/feishu_base/feishu_base.yaml
  api/core/tools/provider/builtin/feishu_base/tools/add_base_record.py
  api/core/tools/provider/builtin/feishu_base/tools/add_base_record.yaml
  api/core/tools/provider/builtin/feishu_base/tools/create_base.py
  api/core/tools/provider/builtin/feishu_base/tools/create_base.yaml
  api/core/tools/provider/builtin/feishu_base/tools/create_base_table.py
  api/core/tools/provider/builtin/feishu_base/tools/create_base_table.yaml
  api/core/tools/provider/builtin/feishu_base/tools/delete_base_records.py
  api/core/tools/provider/builtin/feishu_base/tools/delete_base_records.yaml
  api/core/tools/provider/builtin/feishu_base/tools/delete_base_tables.py
  api/core/tools/provider/builtin/feishu_base/tools/delete_base_tables.yaml
  api/core/tools/provider/builtin/feishu_base/tools/get_base_info.py
  api/core/tools/provider/builtin/feishu_base/tools/get_base_info.yaml
  api/core/tools/provider/builtin/feishu_base/tools/get_tenant_access_token.py
  api/core/tools/provider/builtin/feishu_base/tools/get_tenant_access_token.yaml
  api/core/tools/provider/builtin/feishu_base/tools/list_base_records.py
  api/core/tools/provider/builtin/feishu_base/tools/list_base_records.yaml
  api/core/tools/provider/builtin/feishu_base/tools/list_base_tables.py
  api/core/tools/provider/builtin/feishu_base/tools/list_base_tables.yaml
  api/core/tools/provider/builtin/feishu_base/tools/read_base_record.py
  api/core/tools/provider/builtin/feishu_base/tools/read_base_record.yaml
  api/core/tools/provider/builtin/feishu_base/tools/update_base_record.py
  api/core/tools/provider/builtin/feishu_base/tools/update_base_record.yaml
Labels: size:XXL, 🔨 feat:tools, lgtm

#5226 feat: support firecrawl frontend code
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout.tsx
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/components/base/icons/assets/public/other/row-struct.svg
  web/app/components/base/icons/assets/vender/line/others/icon-3-dots.svg
  web/app/components/base/icons/src/public/other/RowStruct.json
  web/app/components/base/icons/src/public/other/RowStruct.tsx
  web/app/components/base/icons/src/public/other/index.ts
  web/app/components/base/icons/src/vender/line/others/Icon3Dots.json
  web/app/components/base/icons/src/vender/line/others/Icon3Dots.tsx
  web/app/components/base/icons/src/vender/line/others/index.ts
  web/app/components/datasets/create/index.tsx
  web/app/components/datasets/create/step-one/index.tsx
  web/app/components/datasets/create/step-two/index.module.css
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/create/website/firecrawl/base/checkbox-with-label.tsx
  web/app/components/datasets/create/website/firecrawl/base/error-message.tsx
  web/app/components/datasets/create/website/firecrawl/base/field.tsx
  web/app/components/datasets/create/website/firecrawl/base/input.tsx
  web/app/components/datasets/create/website/firecrawl/base/options-wrap.tsx
  web/app/components/datasets/create/website/firecrawl/base/url-input.tsx
  web/app/components/datasets/create/website/firecrawl/crawled-result-item.tsx
  web/app/components/datasets/create/website/firecrawl/crawled-result.tsx
  web/app/components/datasets/create/website/firecrawl/crawling.tsx
  web/app/components/datasets/create/website/firecrawl/header.tsx
  web/app/components/datasets/create/website/firecrawl/index.tsx
  web/app/components/datasets/create/website/firecrawl/mock-crawl-result.ts
  web/app/components/datasets/create/website/firecrawl/options.tsx
  web/app/components/datasets/create/website/index.tsx
  web/app/components/datasets/create/website/no-data.tsx
  web/app/components/datasets/create/website/preview.tsx
  web/app/components/datasets/documents/detail/settings/index.tsx
  web/app/components/datasets/documents/index.tsx
  web/app/components/datasets/documents/list.tsx
  web/app/components/header/account-setting/data-source-page/data-source-notion/index.tsx
  web/app/components/header/account-setting/data-source-page/data-source-notion/operate/index.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/config-firecrawl-modal.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/index.tsx
  web/app/components/header/account-setting/data-source-page/index.tsx
  web/app/components/header/account-setting/data-source-page/panel/config-item.tsx
  web/app/components/header/account-setting/data-source-page/panel/index.tsx
  web/app/components/header/account-setting/data-source-page/panel/style.module.css
  web/app/components/header/account-setting/data-source-page/panel/types.ts
  web/i18n/en-US/common.ts
  web/i18n/en-US/dataset-creation.ts
  web/i18n/en-US/dataset-documents.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/dataset-creation.ts
  web/i18n/zh-Hans/dataset-documents.ts
  web/models/common.ts
  web/models/datasets.ts
  web/service/datasets.ts
Labels: 💪 enhancement, size:XXL, lgtm, ☕️ typescript

#5227 fix: initialize site with customized icon and icon_background
  api/events/event_handlers/create_site_record_when_app_created.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#5225 fix: allow the name and icon of the web app to be set independently of that of the bot itself
  api/controllers/console/app/site.py
Labels: 🐞 bug, size:XS, lgtm

#5228 Update README.md
  api/README.md
Labels: 📚 documentation, size:L, lgtm

#5229 fix: z-index
  web/app/components/base/emoji-picker/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5230 fix: note editor italic
  web/app/components/workflow/note-node/note-editor/theme/index.ts
  web/app/components/workflow/note-node/note-editor/theme/theme.css
Labels: 🐞 bug, size:XS, lgtm

#5235 update tooltip
  web/i18n/en-US/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
Labels: 💪 enhancement, size:XS

#5232 Feat/firecrawl data source
  api/.env.example
  api/controllers/console/__init__.py
  api/controllers/console/auth/data_source_bearer_auth.py
  api/controllers/console/auth/error.py
  api/controllers/console/datasets/data_source.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/error.py
  api/controllers/console/datasets/website.py
  api/core/indexing_runner.py
  api/core/model_runtime/model_providers/togetherai/llm/llm.py
  api/core/rag/extractor/entity/datasource_type.py
  api/core/rag/extractor/entity/extract_setting.py
  api/core/rag/extractor/extract_processor.py
  api/core/rag/extractor/firecrawl/firecrawl_app.py
  api/core/rag/extractor/firecrawl/firecrawl_web_extractor.py
  api/core/rag/extractor/notion_extractor.py
  api/libs/bearer_data_source.py
  api/libs/oauth_data_source.py
  api/migrations/versions/7b45942e39bb_add_api_key_auth_binding.py
  api/models/dataset.py
  api/models/source.py
  api/pyproject.toml
  api/services/auth/__init__.py
  api/services/auth/api_key_auth_base.py
  api/services/auth/api_key_auth_factory.py
  api/services/auth/api_key_auth_service.py
  api/services/auth/firecrawl.py
  api/services/dataset_service.py
  api/services/website_service.py
  api/tasks/document_indexing_sync_task.py
  api/tasks/sync_website_document_indexing_task.py
  api/tests/unit_tests/core/rag/extractor/firecrawl/__init__.py
  api/tests/unit_tests/core/rag/extractor/firecrawl/test_firecrawl.py
  api/tests/unit_tests/oss/__init__.py
  api/tests/unit_tests/oss/local/__init__.py
Labels: size:XXL, 📚 feat:datasource, lgtm

#5224 version to 0.6.11
  api/config.py
  api/pyproject.toml
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, size:S, ⚙️ feat:model-runtime, 🔨 feat:tools, 🌊 feat:workflow

#5238 fix: ExtractSetting optional value missing None as default val
  api/core/rag/extractor/entity/extract_setting.py
Labels: 🐞 bug, size:XS

#5236 fix: wrong order of history prompts in ReAct agent mode
  api/core/agent/cot_agent_runner.py
Labels: size:M, 🤖 feat:agent, lgtm

#5252 fix: embedding job fails using IAM role
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
  api/core/model_runtime/model_providers/bedrock/text_embedding/text_embedding.py
Labels: 🐞 bug, size:XS, lgtm

#5240 feat: Added hindi translation i18n
  api/constants/languages.py
  web/i18n/hi-IN/app-annotation.ts
  web/i18n/hi-IN/app-api.ts
  web/i18n/hi-IN/app-debug.ts
  web/i18n/hi-IN/app-log.ts
  web/i18n/hi-IN/app-overview.ts
  web/i18n/hi-IN/app.ts
  web/i18n/hi-IN/billing.ts
  web/i18n/hi-IN/common.ts
  web/i18n/hi-IN/custom.ts
  web/i18n/hi-IN/dataset-creation.ts
  web/i18n/hi-IN/dataset-documents.ts
  web/i18n/hi-IN/dataset-hit-testing.ts
  web/i18n/hi-IN/dataset-settings.ts
  web/i18n/hi-IN/dataset.ts
  web/i18n/hi-IN/explore.ts
  web/i18n/hi-IN/layout.ts
  web/i18n/hi-IN/login.ts
  web/i18n/hi-IN/register.ts
  web/i18n/hi-IN/run-log.ts
  web/i18n/hi-IN/share-app.ts
  web/i18n/hi-IN/tools.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/language.ts
  web/i18n/languages.json
Labels: 💪 enhancement, size:XXL, lgtm

#5243 fix: correct typos in the icons for microsoft
  api/core/model_runtime/model_providers/azure_openai/_assets/icon_s_en.svg
  web/app/components/base/icons/assets/public/llm/microsoft.svg
  web/app/components/base/icons/src/public/llm/Microsoft.json
Labels: 🐞 bug, size:XS, lgtm

#5234 fix: modal z-index cleanup
  web/app/components/app/annotation/batch-add-annotation-modal/index.tsx
  web/app/components/app/configuration/config-prompt/conversation-histroy/edit-modal.tsx
  web/app/components/app/configuration/config-var/config-modal/index.tsx
  web/app/components/app/configuration/dataset-config/select-dataset/index.tsx
  web/app/components/app/configuration/tools/external-data-tool-modal.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/create-from-dsl-modal/index.tsx
  web/app/components/app/switch-app-modal/index.tsx
  web/app/components/base/emoji-picker/index.tsx
  web/app/components/base/tag-management/index.tsx
  web/app/components/base/tag-management/tag-remove-modal.tsx
  web/app/components/datasets/hit-testing/index.tsx
  web/app/components/datasets/rename-modal/index.tsx
  web/app/components/explore/create-app-modal/index.tsx
  web/app/components/header/account-setting/account-page/index.tsx
  web/app/components/header/account-setting/api-based-extension-page/modal.tsx
  web/app/components/header/account-setting/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/index.tsx
  web/app/components/header/account-setting/members-page/invited-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-load-balancing-modal.tsx
  web/app/components/tools/workflow-tool/confirm-modal/index.tsx
  web/app/components/workflow/nodes/parameter-extractor/components/extract-parameter/update.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#5259 chore: add icon in .idea
  .gitignore
  .idea/icon.png
Labels: 💪 enhancement, size:XS, lgtm

#5260 fix: run agent with Vertex AI Gemini models
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-1.0-pro-vision.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-1.0-pro.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-1.5-flash.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-1.5-pro.yaml
Labels: 🐞 bug, size:S, ⚙️ feat:model-runtime, lgtm

#5258 fix: respect the interface language specified by the user on the activation success screen
  web/app/activate/activateForm.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5253 fix: visioin model always with low quality
  api/core/workflow/nodes/llm/llm_node.py
Labels: 🐞 bug, size:S, lgtm

#5267 fix: casting non-string type value for tool parameter options
  api/core/tools/entities/tool_entities.py
  api/core/tools/provider/builtin/websearch/tools/scholar_search.yaml
Labels: size:XS, 🔨 feat:tools, lgtm
