Repository langgenius/dify, pull requests merged in 2024-04, with the labels that each got.

#3040 FEAT: Add Brave Search and Trello(12 Tools) Included
  api/core/tools/provider/builtin/brave/_assets/icon.svg
  api/core/tools/provider/builtin/brave/brave.py
  api/core/tools/provider/builtin/brave/brave.yaml
  api/core/tools/provider/builtin/brave/tools/brave_search.py
  api/core/tools/provider/builtin/brave/tools/brave_search.yaml
  api/core/tools/provider/builtin/trello/_assets/icon.svg
  api/core/tools/provider/builtin/trello/tools/create_board.py
  api/core/tools/provider/builtin/trello/tools/create_board.yaml
  api/core/tools/provider/builtin/trello/tools/create_list_on_board.py
  api/core/tools/provider/builtin/trello/tools/create_list_on_board.yaml
  api/core/tools/provider/builtin/trello/tools/create_new_card_on_board.py
  api/core/tools/provider/builtin/trello/tools/create_new_card_on_board.yaml
  api/core/tools/provider/builtin/trello/tools/delete_board.py
  api/core/tools/provider/builtin/trello/tools/delete_board.yaml
  api/core/tools/provider/builtin/trello/tools/delete_card.py
  api/core/tools/provider/builtin/trello/tools/delete_card.yaml
  api/core/tools/provider/builtin/trello/tools/fetch_all_boards.py
  api/core/tools/provider/builtin/trello/tools/fetch_all_boards.yaml
  api/core/tools/provider/builtin/trello/tools/get_board_actions.py
  api/core/tools/provider/builtin/trello/tools/get_board_actions.yaml
  api/core/tools/provider/builtin/trello/tools/get_board_by_id.py
  api/core/tools/provider/builtin/trello/tools/get_board_by_id.yaml
  api/core/tools/provider/builtin/trello/tools/get_board_cards.py
  api/core/tools/provider/builtin/trello/tools/get_board_cards.yaml
  api/core/tools/provider/builtin/trello/tools/get_filterd_board_cards.py
  api/core/tools/provider/builtin/trello/tools/get_filterd_board_cards.yaml
  api/core/tools/provider/builtin/trello/tools/get_lists_on_board.py
  api/core/tools/provider/builtin/trello/tools/get_lists_on_board.yaml
  api/core/tools/provider/builtin/trello/tools/update_board.py
  api/core/tools/provider/builtin/trello/tools/update_board.yaml
  api/core/tools/provider/builtin/trello/tools/update_card.py
  api/core/tools/provider/builtin/trello/tools/update_card.yaml
  api/core/tools/provider/builtin/trello/trello.py
  api/core/tools/provider/builtin/trello/trello.yaml
Labels: 💪 enhancement, size:XXL, lgtm

#3063 feat: use en-US as fallback recommend app if using unmaintained language
  api/controllers/console/explore/recommended_app.py
Labels: 💪 enhancement, 🐍 python, size:XS

#3059 feat: add Feishu(飞书) tool for sending message to chat group bot via webhook
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/feishu/_assets/icon.svg
  api/core/tools/provider/builtin/feishu/feishu.py
  api/core/tools/provider/builtin/feishu/feishu.yaml
  api/core/tools/provider/builtin/feishu/tools/feishu_group_bot.py
  api/core/tools/provider/builtin/feishu/tools/feishu_group_bot.yaml
Labels: 💪 enhancement, size:L, 🔨 feat:tools, lgtm

#3065 add keyword table s3 storage support
  api/.env.example
  api/config.py
  api/core/rag/datasource/keyword/jieba/jieba.py
  api/extensions/ext_storage.py
  api/migrations/versions/17b5ab037c40_add_keyworg_table_storage_type.py
  api/models/dataset.py
Labels: 💪 enhancement, 🐍 python, size:L, lgtm

#3073 version to 0.5.11-fix1
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, 🐍 python, size:S

#3081 Update README.md
  README.md
Labels: 📚 documentation, size:XS, lgtm

#3082 add segment function billing check for SAAS env
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/wraps.py
  api/controllers/service_api/dataset/segment.py
  api/controllers/service_api/wraps.py
Labels: 💪 enhancement, size:M, lgtm

#3042 feat (new llm): add support for openrouter
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/openrouter/__init__.py
  api/core/model_runtime/model_providers/openrouter/_assets/openrouter.svg
  api/core/model_runtime/model_providers/openrouter/_assets/openrouter_square.svg
  api/core/model_runtime/model_providers/openrouter/llm/__init__.py
  api/core/model_runtime/model_providers/openrouter/llm/llm.py
  api/core/model_runtime/model_providers/openrouter/openrouter.py
  api/core/model_runtime/model_providers/openrouter/openrouter.yaml
  api/tests/integration_tests/model_runtime/openrouter/__init__.py
  api/tests/integration_tests/model_runtime/openrouter/test_llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#3077 fix(duckduckgo-search): invoke error
  api/requirements.txt
Labels: 🐞 bug, dependencies, size:XS, lgtm

#3085 Chore/move chrome ext
  README.md
  third-party/chrome plug-in/README_CN.md
  third-party/chrome plug-in/README_CN.txt
  third-party/chrome plug-in/content.js
  third-party/chrome plug-in/favicon.png
  third-party/chrome plug-in/images/128.png
  third-party/chrome plug-in/images/16.png
  third-party/chrome plug-in/images/32.png
  third-party/chrome plug-in/images/48.png
  third-party/chrome plug-in/images/favicon.ico
  third-party/chrome plug-in/images/img-1.png
  third-party/chrome plug-in/images/img-2.png
  third-party/chrome plug-in/images/img-3.png
  third-party/chrome plug-in/images/img-4.png
  third-party/chrome plug-in/manifest.json
  third-party/chrome plug-in/options.css
  third-party/chrome plug-in/options.html
  third-party/chrome plug-in/options.js
  third-party/chrome plug-in/tailwind.css
Labels: 💪 enhancement, size:L, lgtm

#3087 add embedding cache and clean embedding cache job
  api/core/embedding/cached_embedding.py
  api/extensions/ext_celery.py
  api/migrations/versions/a8d7385a7b66_add_embeddings_provider_name.py
  api/models/dataset.py
Labels: 💪 enhancement, size:L, lgtm

#3094 new readme slogan
  README.md
  images/GitHub_README_cover.png
  images/describe.png
Labels: 📚 documentation, size:XS

#3091 fix: update show names for supported file types of xlsx and docx
  web/app/components/datasets/create/file-uploader/index.tsx
Labels: 🐞 bug, size:M, lgtm

#3098 fix typo
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#3056 fix unstructured api,remove unused parameters
  api/core/rag/extractor/unstructured/unstructured_eml_extractor.py
  api/core/rag/extractor/unstructured/unstructured_markdown_extractor.py
  api/core/rag/extractor/unstructured/unstructured_msg_extractor.py
  api/core/rag/extractor/unstructured/unstructured_ppt_extractor.py
  api/core/rag/extractor/unstructured/unstructured_pptx_extractor.py
  api/core/rag/extractor/unstructured/unstructured_text_extractor.py
  api/core/rag/extractor/unstructured/unstructured_xml_extractor.py
Labels: 🐞 bug, size:S, 👻 feat:rag, lgtm

#3111 feat: claude3 tool call
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-haiku-20240307.yaml
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-opus-20240229.yaml
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-sonnet-20240229.yaml
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
  api/requirements.txt
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#3106 chore: replace outdated config in vscode debug settings
  api/.vscode/launch.json
Labels: 🐞 bug, size:XS, lgtm

#3121 feat: update link
  README.md
  README_CN.md
  web/app/components/header/account-dropdown/index.tsx
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#3130 chore: update link of feedback
  web/app/components/header/account-dropdown/index.tsx
  web/i18n/en-US/common.ts
  web/i18n/fr-FR/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/pt-BR/common.ts
  web/i18n/uk-UA/common.ts
  web/i18n/vi-VN/common.ts
  web/i18n/zh-Hans/common.ts
Labels: 📚 documentation, size:S, lgtm

#3134 Duplicate embedding cache check
  api/core/embedding/cached_embedding.py
Labels: 🐞 bug, 🐍 python, size:S, lgtm

#3132 improve qa generate prompt
  api/core/generator/llm_generator.py
  api/core/prompt/prompts.py
Labels: 📚 documentation, 💪 enhancement, 🐍 python, size:S, lgtm

#3129 fix: Turn off SWR automatic revalidation when window is focused
  web/app/components/swr-initor.tsx
Labels: 🐞 bug, ☕️ javascript, size:XS, lgtm

#3147 Feat/update issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/help_wanted.yml
Labels: 📚 documentation, size:M, lgtm

#3151 fix: chat app sometimes may crash
  web/app/components/share/chat/index.tsx
Labels: 🐞 bug, ☕️ javascript, size:XS, lgtm

#3043 Update descriptions in StackExchange Tool
  api/core/tools/provider/builtin/stackexchange/tools/fetchAnsByStackExQuesID.yaml
  api/core/tools/provider/builtin/stackexchange/tools/searchStackExQuestions.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#3156 Fix: stop indexing status check when api of status checking failed
  web/app/components/datasets/documents/detail/embedding/index.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#3155 Optimize csv and excel extract
  api/core/rag/extractor/csv_extractor.py
  api/core/rag/extractor/excel_extractor.py
Labels: 🐞 bug, 💪 enhancement, 🐍 python, size:M, 👻 feat:rag, lgtm

#3157 fix: knowledge create display error
  web/app/components/datasets/create/embedding-process/index.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#3166 fix: metadata in generate npe issue
  api/core/app/entities/task_entities.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3167 fix: app export dsl not include desc
  api/services/app_service.py
Labels: 🐞 bug, size:XS, lgtm

#3168 Fix: prompt of expert mode
  web/app/components/app/configuration/index.tsx
  web/config/index.ts
Labels: 🐞 bug, size:S, lgtm

#3176 feat: translations
  web/i18n/fr-FR/app-debug.ts
  web/i18n/fr-FR/app-log.ts
  web/i18n/fr-FR/app-overview.ts
  web/i18n/fr-FR/app.ts
  web/i18n/fr-FR/common.ts
  web/i18n/fr-FR/explore.ts
  web/i18n/fr-FR/run-log.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/ja-JP/app-debug.ts
  web/i18n/ja-JP/app-log.ts
  web/i18n/ja-JP/app-overview.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ja-JP/explore.ts
  web/i18n/ja-JP/run-log.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/pt-BR/app-debug.ts
  web/i18n/pt-BR/app-log.ts
  web/i18n/pt-BR/app-overview.ts
  web/i18n/pt-BR/app.ts
  web/i18n/pt-BR/common.ts
  web/i18n/pt-BR/explore.ts
  web/i18n/pt-BR/run-log.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/uk-UA/app-debug.ts
  web/i18n/uk-UA/app-log.ts
  web/i18n/uk-UA/app-overview.ts
  web/i18n/uk-UA/app.ts
  web/i18n/uk-UA/common.ts
  web/i18n/uk-UA/explore.ts
  web/i18n/uk-UA/run-log.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/app-debug.ts
  web/i18n/vi-VN/app-log.ts
  web/i18n/vi-VN/app-overview.ts
  web/i18n/vi-VN/app.ts
  web/i18n/vi-VN/common.ts
  web/i18n/vi-VN/explore.ts
  web/i18n/vi-VN/run-log.ts
  web/i18n/vi-VN/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm

#3177 fix: prompt editor variable picker
  web/app/components/base/prompt-editor/plugins/on-blur-or-focus-block.tsx
Labels: 🐞 bug, ☕️ javascript, size:XS, lgtm

#3178 Fix: features of agent-chat
  web/app/components/app/configuration/config/index.tsx
  web/app/components/app/configuration/hooks/use-advanced-prompt-config.ts
Labels: 🐞 bug, size:XS, lgtm

#3182 fix keyword index error when storage source is S3
  api/core/indexing_runner.py
  api/core/rag/datasource/keyword/jieba/jieba.py
Labels: 🐞 bug, size:L, lgtm

#3180 Update README.md to include workflows
  README.md
Labels: 📚 documentation, size:XS, 🌊 feat:workflow

#3183 Compatible with unique index conflicts
  api/core/embedding/cached_embedding.py
Labels: 🐞 bug, 🐍 python, size:S, lgtm

#3199 fix: sometimes chosed old selected knowledge may overwirte the new knowledge
  web/app/components/workflow/nodes/knowledge-retrieval/node.tsx
Labels: 🐞 bug, size:S, lgtm

#3201 Fix: remove unavailable return_preamble parameter in cohere
  api/core/model_runtime/model_providers/cohere/llm/llm.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3203 Fix/code transform result
  api/core/workflow/nodes/code/code_node.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3191 fix(code_executor): surrogates not allowed error in jinja2 template
  api/core/helper/code_executor/javascript_transformer.py
  api/core/helper/code_executor/jina2_transformer.py
  api/core/helper/code_executor/python_transformer.py
Labels: 🐞 bug, 🐍 python, ☕️ javascript, size:S, lgtm

#3194 fix: node connect self
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/hooks/use-workflow.ts
  web/app/components/workflow/utils.ts
Labels: 🐞 bug, ☕️ javascript, size:M, lgtm

#3206 Update README.md
  README.md
Labels: 📚 documentation, size:M, 🌊 feat:workflow

#3205 fix economy index search in workflow
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#3214 fix: index number in api/README
  api/README.md
Labels: 🐞 bug, 📚 documentation, size:S, lgtm

#3212 Update README.md
  README.md
Labels: 📚 documentation, size:S, lgtm

#3219 fix detached instance error in keyword index create thread and fix question classifier node out of index error
  api/core/indexing_runner.py
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
Labels: 🐞 bug, size:S, lgtm

#3215 fix: incomplete response
  api/core/tools/provider/builtin/google/tools/google_search.py
Labels: 🐞 bug, 🐍 python, size:M, lgtm

#3213 fix: latest image tag not push in GitHub action
  .github/workflows/build-push.yml
Labels: 🐞 bug, size:XS

#3225 fix: vision config doesn't enabled in llm
  web/app/components/workflow/nodes/llm/components/resolution-picker.tsx
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/llm/use-config.ts
Labels: 🐞 bug, size:M, 🌊 feat:workflow, lgtm

#3133 fixed the issue of missing cleanup function in the AudioBtn component
  web/app/components/base/audio-btn/index.tsx
  web/app/components/base/audio-btn/style.module.css
  web/i18n/en-US/app-api.ts
  web/i18n/zh-Hans/app-api.ts
Labels: 🐞 bug, ☕️ javascript, size:L, lgtm

#3220 fix: image text when retrieve chat histories
  api/core/memory/token_buffer_memory.py
  api/core/workflow/workflow_engine_manager.py
  api/models/model.py
  api/models/workflow.py
Labels: 🐞 bug, size:M

#3227 feat: moonshot function call
  api/core/agent/cot_agent_runner.py
  api/core/agent/fc_agent_runner.py
  api/core/model_runtime/model_providers/moonshot/llm/llm.py
  api/core/model_runtime/model_providers/moonshot/moonshot.yaml
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: size:L, 🔨 feat:tools, lgtm

#3003 feat: support setting database used in Milvus
  api/config.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/tests/unittests/test_model.py
Labels: size:M, lgtm

#3229 fix milvus database name parameter missed
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
Labels: 🐞 bug, size:XS, 👻 feat:rag, lgtm

#3228 fix: file not uploaded caused api error
  web/app/components/workflow/nodes/_base/components/before-run-form/index.tsx
  web/app/components/workflow/panel/inputs-panel.tsx
Labels: 🐞 bug, size:S, lgtm

#3226 update link
  CONTRIBUTING.md
  CONTRIBUTING_CN.md
  README_JA.md
Labels: 📚 documentation, size:XS, lgtm

#3188 fix: skip Celery warning by setting broker_connection_retry_on_startup config
  api/extensions/ext_celery.py
Labels: 🐍 python, size:XS, lgtm

#3236 fix: workflow run edge status
  web/app/components/workflow/hooks/use-workflow-run.ts
Labels: 🐞 bug, size:S, 🌊 feat:workflow, lgtm

#3235 fix: empty conversation list of explore chatbot
  api/controllers/console/explore/conversation.py
  api/controllers/service_api/app/conversation.py
  api/controllers/web/conversation.py
  api/services/conversation_service.py
  api/services/web_conversation_service.py
Labels: 🐞 bug, 🐍 python, size:M

#3241 Fix: picture of workflow
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/app/create-app-modal/index.tsx
Labels: 🐞 bug, ☕️ javascript, size:XS, lgtm

#3242 feat: prompt-editor support undo
  web/app/components/base/prompt-editor/index.tsx
Labels: 🐞 bug, ☕️ javascript, size:XS, lgtm

#3244 fix: number type in app would render as select type in webapp
  web/utils/model-config.ts
Labels: 🐞 bug, size:XS, lgtm

#3249 fix: token is not logging of question classifier node
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
Labels: 🐞 bug, 🐍 python, size:S

#3247 chore: remove langchain in tools
  api/core/callback_handler/agent_tool_callback_handler.py
  api/core/tools/provider/builtin/arxiv/tools/arxiv_search.py
  api/core/tools/provider/builtin/brave/tools/brave_search.py
  api/core/tools/provider/builtin/duckduckgo/tools/duckduckgo_search.py
  api/core/tools/provider/builtin/pubmed/tools/pubmed_search.py
  api/core/tools/provider/builtin/twilio/tools/send_message.py
  api/core/tools/provider/builtin/wikipedia/tools/wikipedia_search.py
Labels: size:XL, 🔨 feat:tools, lgtm

#3251 feat: remove unregistered-llm-in-debug
  api/core/model_runtime/model_providers/wenxin/llm/ernie-3.5-4k-0205.yaml
  web/app/components/header/account-setting/model-provider-page/declarations.ts
  web/app/components/header/account-setting/model-provider-page/hooks.ts
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/index.tsx
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#3253 version to 0.6.1
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: 📚 documentation, dependencies, size:S

#3258 fix: agent chat multiple model debug
  web/app/components/app/configuration/debug/debug-with-multiple-model/debug-item.tsx
  web/app/components/app/configuration/debug/debug-with-multiple-model/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#3263 feat: gpt-4-turbo
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-turbo-2024-04-09.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-turbo.yaml
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#3268 fix: image was sent to an unsupported LLM when sending second message
  api/core/workflow/nodes/llm/llm_node.py
Labels: 🐞 bug, 🐍 python, size:S

#3272 feat: vision parameter support of OpenAI Compatible API
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/openai_api_compatible.yaml
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime

#3274 fix: var assigner input node can not find caused error
  web/app/components/workflow/utils.ts
Labels: 🐞 bug, size:S, lgtm

#3288 fix: variable-assigner node connect
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/nodes/variable-assigner/components/var-list/index.tsx
  web/app/components/workflow/utils.ts
Labels: 🐞 bug, ☕️ javascript, size:S, 🌊 feat:workflow, lgtm

#3301 chore: address security alerts on braces escape and KaTeX
  web/app/components/base/prompt-editor/plugins/variable-value-block/index.tsx
  web/app/components/base/prompt-editor/plugins/variable-value-block/utils.ts
  web/package.json
  web/yarn.lock
Labels: 🐞 bug, size:XS, lgtm

#3281 Update README.md
  README.md
Labels: 📚 documentation, size:L, lgtm

#3311 Remove langchain dataset retrival agent logic
  api/core/app/apps/chat/app_runner.py
  api/core/app/apps/completion/app_runner.py
  api/core/rag/retrieval/agent/fake_llm.py
  api/core/rag/retrieval/agent/llm_chain.py
  api/core/rag/retrieval/agent/multi_dataset_router_agent.py
  api/core/rag/retrieval/agent/output_parser/__init__.py
  api/core/rag/retrieval/agent/structed_multi_dataset_router_agent.py
  api/core/rag/retrieval/agent_based_dataset_executor.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/rag/retrieval/output_parser/__init__.py
  api/core/rag/retrieval/output_parser/structured_chat.py
  api/core/rag/retrieval/router/multi_dataset_function_call_router.py
  api/core/rag/retrieval/router/multi_dataset_react_route.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:XXL, 👻 feat:rag, 🤖 feat:agent, lgtm

#3322 add german translations
  web/i18n/de-DE/app-annotation.ts
  web/i18n/de-DE/app-api.ts
  web/i18n/de-DE/app-debug.ts
  web/i18n/de-DE/app-log.ts
  web/i18n/de-DE/app-overview.ts
  web/i18n/de-DE/app.ts
  web/i18n/de-DE/billing.ts
  web/i18n/de-DE/common.ts
  web/i18n/de-DE/custom.ts
  web/i18n/de-DE/dataset-creation.ts
  web/i18n/de-DE/dataset-documents.ts
  web/i18n/de-DE/dataset-hit-testing.ts
  web/i18n/de-DE/dataset-settings.ts
  web/i18n/de-DE/dataset.ts
  web/i18n/de-DE/explore.ts
  web/i18n/de-DE/layout.ts
  web/i18n/de-DE/login.ts
  web/i18n/de-DE/register.ts
  web/i18n/de-DE/run-log.ts
  web/i18n/de-DE/share-app.ts
  web/i18n/de-DE/tools.ts
  web/i18n/de-DE/workflow.ts
  web/i18n/language.ts
Labels: 📚 documentation, size:XXL

#3309 feat: add missing workflow i18n keys
  web/app/components/workflow/run/node.tsx
  web/app/components/workflow/run/result-panel.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 📚 documentation, size:M, 🌊 feat:workflow, lgtm

#3152 feat:add 'name' field return
  api/controllers/service_api/app/app.py
Labels: 💪 enhancement, size:S, lgtm

#3218 improvement: speed up dependency installation in docker image rebuilds by mounting cache layer
  api/Dockerfile
  web/Dockerfile
Labels: 💪 enhancement, 🐍 python, ☕️ javascript, size:XS, lgtm

#3300 feat: support gpt-4-turbo-2024-04-09 model
  api/config.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: 💪 enhancement, size:XS, ⚙️ feat:model-runtime, lgtm

#3334 fix dataset retrival in dataset mode
  api/core/rag/extractor/csv_extractor.py
  api/core/rag/retrieval/dataset_retrieval.py
Labels: 🐞 bug, 🐍 python, size:M, lgtm

#3310 chore:bump pypdfium2 from 4.16.0 to 4.17.0
  api/requirements.txt
Labels: dependencies, size:XS, lgtm

#2925 feat(llm/models): add gemini-1.5-pro
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-latest.yaml
  api/requirements.txt
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#3340 feat: make input size bigger in start
  web/app/components/app/configuration/config-var/config-modal/index.tsx
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#3344 Doc/update readme
  README.md
  README_CN.md
Labels: 📚 documentation, size:XS

#3345 fix: leave progress page still call indexing-status api
  web/app/components/datasets/create/embedding-process/index.tsx
Labels: 🐞 bug, size:M, lgtm

#3326 feat: update aws bedrock
  api/core/model_runtime/model_providers/bedrock/llm/amazon.titan-text-express-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.titan-text-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/cohere.command-light-text-v14.yaml
  api/core/model_runtime/model_providers/bedrock/llm/cohere.command-text-v14.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: 🐞 bug, size:S, ⚙️ feat:model-runtime, lgtm

#3339 fix/moonshot-function-call
  api/core/model_runtime/model_providers/moonshot/llm/llm.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3349 fix issue: user’s keywords do not affect when add segment
  api/services/vector_service.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3354 Fix issue : don't delete DatasetProcessRule, DatasetQuery and AppDatasetJoin when delete dataset with no document
  api/tasks/clean_dataset_task.py
Labels: 🐞 bug, size:S, lgtm

#3356 fix: remove middle editor may cause render placement error
  web/app/components/workflow/nodes/llm/components/config-prompt-item.tsx
  web/app/components/workflow/nodes/llm/components/config-prompt.tsx
Labels: 🐞 bug, ☕️ javascript, size:L, lgtm

#3353 Support regex pattern in segement
  api/core/splitter/fixed_text_splitter.py
  web/i18n/en-US/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
Labels: lgtm

#3362 Revert "Support regex pattern in segement"
  api/core/splitter/fixed_text_splitter.py
  web/i18n/en-US/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
Labels: size:XS

#3358 Added a note on the front-end docker build: use taobao source to accelerate the installation of front-end dependency packages to achieve the purpose of quickly building containers
  web/Dockerfile
Labels: 🐞 bug, 📚 documentation, 💪 enhancement, dependencies, size:XS, lgtm

#3361 fix: var name too long would break ui in var assigner and end nodes
  web/app/components/workflow/nodes/end/node.tsx
  web/app/components/workflow/nodes/variable-assigner/node.tsx
Labels: 🐞 bug, size:XS, lgtm

#3355 Refactor/react agent
  api/core/agent/base_agent_runner.py
  api/core/agent/cot_agent_runner.py
  api/core/agent/cot_chat_agent_runner.py
  api/core/agent/cot_completion_agent_runner.py
  api/core/agent/entities.py
  api/core/agent/fc_agent_runner.py
  api/core/agent/output_parser/cot_output_parser.py
  api/core/app/apps/agent_chat/app_runner.py
  api/core/tools/prompt/template.py
Labels: 💪 enhancement, 🐍 python, size:XXL, lgtm

#3366 Fix/Bing Search url endpoint cannot be customized
  api/core/tools/provider/builtin/bing/tools/bing_web_search.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3368 fix: image token calc of OpenAI Compatible API
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: 🐞 bug, 🐍 python, size:S

#3371 Update README.md
  README.md
Labels: 📚 documentation, size:S

#3372 update workflow intro mp4 codec
  README.md
Labels: 📚 documentation, size:XS, 🌊 feat:workflow, lgtm

#3373 fix: cohere tool call does not support single tool
  api/core/model_runtime/model_providers/cohere/llm/llm.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3375 version to 0.6.2
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, size:S, javascript

#3378 fix: variable pool mapping variable mixed up
  api/core/workflow/entities/variable_pool.py
Labels: 🐞 bug, 🐍 python, size:XS

#3380 version to 0.6.2-fix1
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: 🐞 bug, size:S, 🌊 feat:workflow, javascript

#3377 feat: Add support for embed file with AWS Bedrock Titan Model
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
  api/core/model_runtime/model_providers/bedrock/text_embedding/__init__.py
  api/core/model_runtime/model_providers/bedrock/text_embedding/_position.yaml
  api/core/model_runtime/model_providers/bedrock/text_embedding/amazon.titan-embed-text-v1.yaml
  api/core/model_runtime/model_providers/bedrock/text_embedding/text_embedding.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#3381 fix: remove - in dataset retriever tool name
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  web/app/components/app/chat/thought/tool.tsx
Labels: 🐞 bug, size:S, lgtm

#3254 feat:api Add support for extracting EPUB files in ExtractProcessor
  api/core/rag/extractor/extract_processor.py
  api/core/rag/extractor/unstructured/unstructured_epub_extractor.py
  api/requirements.txt
  api/services/file_service.py
Labels: 💪 enhancement, size:M, lgtm

#3399 feat: show citation info in run history
  web/app/components/app/configuration/debug/debug-with-multiple-model/chat-item.tsx
  web/app/components/app/configuration/debug/debug-with-single-model/index.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/index.tsx
  web/app/components/workflow/panel/chat-record/index.tsx
  web/app/components/workflow/panel/debug-and-preview/chat-wrapper.tsx
Labels: 💪 enhancement, size:S, lgtm

#3393 Feat: Invitation link automatically completes domain name
  web/app/components/header/account-setting/members-page/invited-modal/invitation-link.tsx
Labels: 💪 enhancement, ☕️ javascript, size:XS, lgtm

#3363 Integrated SearXNG search as built-in tool
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/searxng/_assets/icon.svg
  api/core/tools/provider/builtin/searxng/searxng.py
  api/core/tools/provider/builtin/searxng/searxng.yaml
  api/core/tools/provider/builtin/searxng/tools/searxng_search.py
  api/core/tools/provider/builtin/searxng/tools/searxng_search.yaml
Labels: 💪 enhancement, 🐍 python, size:L, 🔨 feat:tools, lgtm

#3389 fix: [azure_openai] Error: 'NoneType' object has no attribute 'content'
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#3403 Update providers preview
  README.md
Labels: 📚 documentation, size:XS, lgtm

#3321 add xls file suport
  api/app.py
  api/core/rag/extractor/excel_extractor.py
  api/core/rag/extractor/extract_processor.py
  api/requirements.txt
  api/services/file_service.py
Labels: 💪 enhancement, size:M, 📚 feat:datasource, lgtm

#3405 Update README.md
  README.md
Labels: 📚 documentation, size:XS

#3402 Fix/workflow tool incorrect parameter configurations
  api/core/tools/tool/tool.py
  api/core/workflow/nodes/tool/entities.py
  web/app/components/workflow/nodes/tool/use-config.ts
Labels: 🐞 bug, 🐍 python, ☕️ javascript, size:M, 🔨 feat:tools, 🌊 feat:workflow, lgtm

#3411 chore: replace all set interval
  web/app/components/base/auto-height-textarea/index.tsx
  web/app/components/datasets/create/embedding-process/index.tsx
  web/app/components/datasets/documents/detail/embedding/index.tsx
  web/app/components/share/text-generation/result/index.tsx
Labels: 🐞 bug, size:L, lgtm, javascript

#3416 feat: Deprecate datetime.utcnow() in favor of datetime.now(timezone.utc).replace(tzinfo=None) for better timezone handling (#3408)
  api/controllers/console/app/conversation.py
  api/controllers/console/auth/activate.py
  api/controllers/console/auth/oauth.py
  api/controllers/console/datasets/data_source.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/explore/completion.py
  api/controllers/console/explore/installed_app.py
  api/controllers/console/workspace/account.py
  api/controllers/service_api/wraps.py
  api/core/agent/base_agent_runner.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/entities/provider_configuration.py
  api/core/indexing_runner.py
  api/events/event_handlers/create_document_index.py
  api/events/event_handlers/update_provider_last_used_at_when_messaeg_created.py
  api/extensions/ext_storage.py
  api/models/task.py
  api/services/account_service.py
  api/services/annotation_service.py
  api/services/app_service.py
  api/services/dataset_service.py
  api/services/file_service.py
  api/services/workflow_service.py
  api/tasks/add_document_to_index_task.py
  api/tasks/annotation/enable_annotation_reply_task.py
  api/tasks/batch_create_segment_to_index_task.py
  api/tasks/create_segment_to_index_task.py
  api/tasks/document_indexing_sync_task.py
  api/tasks/document_indexing_task.py
  api/tasks/document_indexing_update_task.py
  api/tasks/enable_segment_to_index_task.py
Labels: 💪 enhancement, 🐍 python, size:L, lgtm

#3407 chore: remove Langchain tools import
  api/core/rag/extractor/blod/blod.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/rag/retrieval/output_parser/react_output.py
  api/core/rag/retrieval/output_parser/structured_chat.py
  api/core/rag/retrieval/router/multi_dataset_react_route.py
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_base_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/core/tools/tool/dataset_retriever_tool.py
Labels: 🐞 bug, 💪 enhancement, dependencies, size:L, lgtm

#3406 feat: gemini pro function call
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-latest.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-pro.yaml
  api/core/model_runtime/model_providers/google/llm/llm.py
  api/tests/integration_tests/model_runtime/__mock/google.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime

#3418 fix/dataset-retriever-tool-parameter-redundancy
  api/core/tools/tool_engine.py
Labels: 🐞 bug, size:XS, lgtm

#3420 Feat/api tool custom timeout
  api/.env.example
  api/core/tools/tool/api_tool.py
Labels: 💪 enhancement, size:S, 🔨 feat:tools, lgtm

#3430 fix: test env key missing or wrong
  api/tests/integration_tests/.env.example
Labels: 🐞 bug, size:XS

#3433 Doc/update readme
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
Labels: 📚 documentation, size:XXL

#3435 Update README_CN.md
  README_CN.md
Labels: 📚 documentation, size:S

#3390 feat: add workflow editor shortcuts (#3382)
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/store.ts
Labels: 💪 enhancement, size:L, 🌊 feat:workflow, lgtm

#3431 FEAT: cohere rerank 3 model added
  api/core/model_runtime/model_providers/cohere/rerank/_position.yaml
  api/core/model_runtime/model_providers/cohere/rerank/rerank-english-v3.0.yaml
  api/core/model_runtime/model_providers/cohere/rerank/rerank-multilingual-v3.0.yaml
Labels: 💪 enhancement, size:S, lgtm

#3409 chore: remove the COPY instruction in .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Labels: 📚 documentation, dependencies, size:XS, lgtm, javascript

#3442 fix typo: Changlog -> Changelog
  web/i18n/en-US/common.ts
Labels: 🐞 bug, size:XS, lgtm

#3438 fix: node shortcuts active in input fields
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/hooks/use-workflow.ts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/store.ts
Labels: 🐞 bug, ☕️ javascript, size:M, lgtm

#3437 Add nvidia codegemma 7b
  api/core/model_runtime/model_providers/nvidia/llm/_position.yaml
  api/core/model_runtime/model_providers/nvidia/llm/codegemma-7b.yaml
  api/core/model_runtime/model_providers/nvidia/llm/llm.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#3450 Update yaml and py file in Tavily Tool
  api/core/tools/provider/builtin/tavily/tavily.py
  api/core/tools/provider/builtin/tavily/tools/tavily_search.py
  api/core/tools/provider/builtin/tavily/tools/tavily_search.yaml
Labels: 💪 enhancement, 🐍 python, size:L, lgtm

#3459 feat: Added the mirror of Aliyun's Linux apk installation package and updated the deprecated taobao npm mirror address to npmmirror
  web/Dockerfile
Labels: 💪 enhancement, size:XS, lgtm

#3464 Revert "Update yaml and py file in Tavily Tool"
  api/core/tools/provider/builtin/tavily/tavily.py
  api/core/tools/provider/builtin/tavily/tools/tavily_search.py
  api/core/tools/provider/builtin/tavily/tools/tavily_search.yaml
Labels: 🐍 python, size:L

#3468 feat: jina reader
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/jina/_assets/icon.svg
  api/core/tools/provider/builtin/jina/jina.py
  api/core/tools/provider/builtin/jina/jina.yaml
  api/core/tools/provider/builtin/jina/tools/jina_reader.py
  api/core/tools/provider/builtin/jina/tools/jina_reader.yaml
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#3467 feat: support configurate openai compatible stream tool call
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/openai_api_compatible.yaml
Labels: 💪 enhancement, size:L, lgtm

#3472 feat: optimize the efficiency of generating chatbot conversation name
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
  api/core/app/task_pipeline/message_cycle_manage.py
  api/events/event_handlers/__init__.py
  api/events/event_handlers/generate_conversation_name_when_first_message_created.py
Labels: 💪 enhancement, size:L

#3473 feat: remove langchain from output parsers
  api/core/entities/message_entities.py
  api/core/llm_generator/llm_generator.py
  api/core/llm_generator/output_parser/errors.py
  api/core/llm_generator/output_parser/rule_config_generator.py
  api/core/llm_generator/output_parser/suggested_questions_after_answer.py
  api/core/tools/provider/builtin/twilio/tools/send_message.py
  api/libs/json_in_md_parser.py
Labels: 💪 enhancement, size:L

#3198 chore: separate Python dependencies for development
  .github/workflows/api-tests.yml
  api/requirements-dev.txt
  api/requirements.txt
Labels: 🐍 python, size:S, lgtm

#3477 chore: add sandbox permission tooltip
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#3449 fix: prompt template issue
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#3367 feat: support relyt vector database
  api/.env.example
  api/commands.py
  api/config.py
  api/core/rag/datasource/vdb/relyt/__init__.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/requirements.txt
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:L, 👻 feat:rag, lgtm

#3478 Update README.md
  README.md
Labels: 📚 documentation, size:S, lgtm

#3482 nvidia-label-update
  api/core/model_runtime/model_providers/nvidia/nvidia.yaml
  api/core/model_runtime/model_providers/nvidia/rerank/rerank-qa-mistral-4b.yaml
Labels: 📚 documentation, size:XS, ⚙️ feat:model-runtime, lgtm

#3483 fix: in conversation log click op button would cause close drawer
  web/app/components/workflow/nodes/_base/components/editor/base.tsx
Labels: 🐞 bug, size:XS, lgtm

#3484 fix: workflow auto layout nodes offset & delete node shortcuts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/utils.ts
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#3488 fix: workflow edge curvature
  web/app/components/workflow/custom-connection-line.tsx
  web/app/components/workflow/custom-edge.tsx
Labels: 🐞 bug, size:S, 🌊 feat:workflow, lgtm

#3481 fix: stringify object while exporting batch result to csv
  web/app/components/share/text-generation/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#3479 question classifier prompt optimization
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#3500 fix: bump twilio to 9.0.4 skipping yanked versions
  api/requirements.txt
Labels: 🐞 bug, dependencies, size:XS, lgtm
