Repository langgenius/dify, pull requests merged in 2024-12, with the labels that each got.

#11233 feat: Increase the number of Opening Questions in the Conversation Opener
  web/app/components/app/configuration/features/chat-group/opening-statement/index.tsx
  web/app/components/base/features/new-feature-panel/conversation-opener/modal.tsx
Labels: 💪 enhancement, size:XS, lgtm

#11234 chore(api/Dockerfile): Bump perl to 0.40.0-8
  api/Dockerfile
Labels: dependencies, size:XS, lgtm

#11222 chore(lint): extract ruff configs into .ruff.toml file keeping pyproject.toml clean
  api/.ruff.toml
  api/poetry.lock
  api/pyproject.toml
Labels: size:L, lgtm

#11194 feat: add pagination support for Notion search
  api/libs/oauth_data_source.py
Labels: size:M, 📚 feat:datasource, lgtm

#11241 fix(word_extractor): Fix type error and remove stream in ssrf_proxy
  api/core/helper/ssrf_proxy.py
  api/core/rag/extractor/word_extractor.py
Labels: 🐞 bug, size:XS, lgtm

#11240 Fix/type-error
  api/core/app/app_config/easy_ui_based_app/model_config/manager.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/agent_chat/app_config_manager.py
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/base_app_generate_response_converter.py
  api/core/app/apps/chat/app_generator.py
  api/core/app/apps/completion/app_generator.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/features/rate_limiting/rate_limit.py
  api/libs/helper.py
  api/services/app_generate_service.py
Labels: size:L, lgtm

#11242 feat(api): include tags in app information response
  api/controllers/service_api/app/app.py
Labels: 💪 enhancement, size:XS, lgtm

#11248 fix: license str parser.
  api/services/feature_service.py
Labels: 🐞 bug, size:S

#11253 fix(workflow_cycle_manage): Handle special values in the process_data.
  api/core/app/task_pipeline/workflow_cycle_manage.py
Labels: 🐞 bug, size:XS, lgtm

#11258 fix(workflow_tool): Rename `stream` to `streaming`
  api/core/tools/tool/workflow_tool.py
Labels: size:XS, lgtm

#11230 Sync INDEXING_MAX_SEGMENTATION_TOKENS_LENGTH between API and Web
  api/.env.example
  api/configs/feature/__init__.py
  api/controllers/console/datasets/datasets_document.py
  api/services/dataset_service.py
  docker-legacy/docker-compose.yaml
  docker/.env.example
  docker/docker-compose.yaml
  web/app/components/datasets/create/step-two/index.tsx
  web/i18n/de-DE/dataset-creation.ts
  web/i18n/en-US/dataset-creation.ts
  web/i18n/es-ES/dataset-creation.ts
  web/i18n/fa-IR/dataset-creation.ts
  web/i18n/fr-FR/dataset-creation.ts
  web/i18n/hi-IN/dataset-creation.ts
  web/i18n/it-IT/dataset-creation.ts
  web/i18n/ja-JP/dataset-creation.ts
  web/i18n/ko-KR/dataset-creation.ts
  web/i18n/pl-PL/dataset-creation.ts
  web/i18n/pt-BR/dataset-creation.ts
  web/i18n/ro-RO/dataset-creation.ts
  web/i18n/ru-RU/dataset-creation.ts
  web/i18n/sl-SI/dataset-creation.ts
  web/i18n/th-TH/dataset-creation.ts
  web/i18n/tr-TR/dataset-creation.ts
  web/i18n/uk-UA/dataset-creation.ts
  web/i18n/vi-VN/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
  web/i18n/zh-Hant/dataset-creation.ts
  web/models/datasets.ts
Labels: size:M, lgtm, ☕️ typescript

#11238 fix: claude can not handle empty string
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#11175 fix: `dialogue_count` incorrect in chatflow when there's...
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/prompt/utils/get_thread_messages_length.py
Labels: 🐞 bug, size:M, lgtm

#11269 docs: add api docs for /v1/info
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.ja.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, size:XXL, lgtm

#11265 fix: better handle error
  api/core/rag/datasource/vdb/oceanbase/oceanbase_vector.py
Labels: size:S, lgtm

#11270 fix: double split error on redis port and some type hint
  api/extensions/ext_redis.py
Labels: 🐞 bug, size:S, lgtm

#11271 Fix: iteration not in main thread pool
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 🐞 bug, size:XS, lgtm

#11272 fix: use `removeprefix()` instead of `lstrip()` to remove the `data:` prefix
  api/core/model_runtime/model_providers/moonshot/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/stepfun/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#11243 chore(lint): sort __all__ definitions
  api/.ruff.toml
  api/core/file/__init__.py
  api/core/model_runtime/entities/__init__.py
  api/core/model_runtime/model_providers/volcengine_maas/legacy/volc_sdk/__init__.py
  api/core/variables/__init__.py
  api/core/workflow/callbacks/__init__.py
  api/core/workflow/nodes/answer/__init__.py
  api/core/workflow/nodes/base/__init__.py
  api/core/workflow/nodes/end/__init__.py
  api/core/workflow/nodes/event/__init__.py
  api/core/workflow/nodes/http_request/__init__.py
  api/core/workflow/nodes/question_classifier/__init__.py
  api/core/workflow/nodes/variable_assigner/__init__.py
  api/models/__init__.py
  api/services/errors/__init__.py
Labels: size:L, lgtm

#11283 fix: better wenxin rerank handler, close #11252
  api/core/model_runtime/model_providers/wenxin/rerank/rerank.py
Labels: size:S, lgtm

#11286 fix: auto translate fail
  web/i18n/auto-gen-i18n.js
  web/i18n/de-DE/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/app-log.ts
  web/i18n/th-TH/share-app.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 🐞 bug, size:XL

#11284 chore: bump version to 0.13.0
  api/configs/packaging/__init__.py
  api/services/app_dsl_service.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 💪 enhancement, size:S

#11298 Fix: model params in logs
  web/app/components/app/log/list.tsx
Labels: 🐞 bug, size:XS, lgtm

#11302 fix: resolve scrolling issue in workflow-log table
  web/app/components/app/workflow-log/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#11320 fix: number variable can not input constant type value in tool config form
  web/app/components/workflow/nodes/tool/components/input-var-list.tsx
Labels: 🐞 bug, size:XS, lgtm

#11322 fix: file download in chat
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-image-item.tsx
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-item.tsx
Labels: 🐞 bug, size:XS, lgtm

#11319 fix: http node download file always image type
  api/core/workflow/nodes/http_request/node.py
Labels: 🐞 bug, size:S, lgtm

#11328 feat: correct the prompt grammar.
  api/core/prompt/prompt_templates/advanced_prompt_templates.py
  api/core/workflow/nodes/llm/node.py
  api/core/workflow/nodes/parameter_extractor/prompts.py
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: size:S, lgtm

#11324 integrate amazon nove llms to dify
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-micro-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-pro-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-micro-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-pro-v1.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#11321 chore: improve zhipu LLM
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-0520.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-air.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-airx.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flash.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flashx.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_3_turbo.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_long.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_plus.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v_plus.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#11334 fix: check valid for number variable
  web/app/components/workflow/nodes/assigner/default.ts
Labels: 🐞 bug, size:XS, lgtm

#11337 fix tidb full-text-search vector missed
  api/core/rag/datasource/vdb/tidb_on_qdrant/tidb_on_qdrant_vector.py
Labels: size:XS, lgtm

#11336 update pricing for bedrock nova LLM models
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-micro-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-pro-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-micro-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-pro-v1.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#11333 fix: cannot send message when debug with multiple model with conversa…
  web/app/components/app/configuration/debug/debug-with-multiple-model/chat-item.tsx
Labels: 🐞 bug, size:XS, lgtm

#11339 feat: add base skeleton component
  web/app/components/base/skeleton/index.tsx
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#11317 fix: better bedrock message handler close #10976
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#11358 Revert "Fix: iteration not in main thread pool"
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: size:XS, lgtm

#11359 chore: fix typo
  api/core/tools/provider/builtin/gitlab/tools/gitlab_mergerequests.yaml
Labels: size:XS, lgtm

#11349 [feat] Add AWS Bedrock rerank
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
  api/core/model_runtime/model_providers/bedrock/rerank/__init__.py
  api/core/model_runtime/model_providers/bedrock/rerank/_position.yaml
  api/core/model_runtime/model_providers/bedrock/rerank/amazon.rerank-v1:0.yaml
  api/core/model_runtime/model_providers/bedrock/rerank/cohere.rerank-v3-5:0.yaml
  api/core/model_runtime/model_providers/bedrock/rerank/rerank.py
  api/poetry.lock
  api/pyproject.toml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#11376 fix: bg typo in variable aggregator node
  web/app/components/workflow/nodes/variable-assigner/components/node-variable-item.tsx
Labels: 🐞 bug, size:XS, lgtm

#11374 fix: some typos using typos
  api/commands.py
  api/core/app/apps/README.md
  api/core/model_runtime/docs/zh_Hans/interfaces.md
  api/core/tools/provider/builtin/wolframalpha/tools/wolframalpha.py
  api/core/workflow/nodes/if_else/if_else_node.py
  api/core/workflow/nodes/variable_assigner/v2/exc.py
  api/core/workflow/nodes/variable_assigner/v2/node.py
Labels: 🐞 bug, size:M, lgtm

#11352 fix: empty object (conversation variable) editable
  web/app/components/workflow/panel/chat-variable-panel/components/variable-modal.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#11379 [fix] rename yaml files to fit windows
  api/core/model_runtime/model_providers/bedrock/rerank/_position.yaml
  api/core/model_runtime/model_providers/bedrock/rerank/amazon.rerank-v1.yaml
  api/core/model_runtime/model_providers/bedrock/rerank/cohere.rerank-v3-5.yaml
Labels: size:XS, lgtm

#11382 chore: bump version to 0.13.1
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#11338 Fix: support file download in workflow result
  web/app/components/app/text-generate/item/index.tsx
  web/app/components/app/text-generate/item/result-tab.tsx
  web/app/components/base/file-uploader/file-list-in-log.tsx
  web/app/components/base/file-uploader/file-uploader-in-attachment/file-item.tsx
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-item.tsx
  web/app/components/base/file-uploader/utils.ts
  web/app/components/share/text-generation/result/index.tsx
  web/app/components/workflow/hooks/use-workflow-run.ts
  web/app/components/workflow/nodes/_base/components/editor/base.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/index.tsx
  web/app/components/workflow/panel/workflow-preview.tsx
  web/app/components/workflow/run/output-panel.tsx
  web/app/components/workflow/run/result-text.tsx
  web/i18n/en-US/app-log.ts
  web/i18n/zh-Hans/app-log.ts
Labels: 🐞 bug, size:L, 🌊 feat:workflow, lgtm

#11387 fix: broken link to knowledge base guide
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout.tsx
Labels: 📚 documentation, size:XS, lgtm

#11356 Update mermaid
  web/app/components/base/mermaid/index.tsx
  web/i18n/en-US/app.ts
  web/i18n/zh-Hans/app.ts
  web/package.json
  web/yarn.lock
Labels: dependencies, size:L, lgtm, ☕️ typescript

#11405 fix: update DocumentIsPausedError
  api/tasks/external_document_indexing_task.py
Labels: 🐞 bug, size:XS, lgtm

#11404 fix: add elkjs
  web/package.json
  web/yarn.lock
Labels: dependencies, size:XS, lgtm

#11412 use md table systax in pr template
  .github/pull_request_template.md
Labels: 📚 documentation, size:S

#11398 fix(model_runtime): add vision to Amazon Nova Lite and Pro
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.nova-pro-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.amazon.nova-pro-v1.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#11289 FEAT: cohere rerank 3.5 model added
  api/core/model_runtime/model_providers/cohere/rerank/_position.yaml
  api/core/model_runtime/model_providers/cohere/rerank/rerank-v3.5.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#11423 fix external retrieval without segment id
  api/core/app/apps/base_app_generate_response_converter.py
Labels: 🐞 bug, size:XS, lgtm

#11426 update tidb batch get endpoint to basic mode
  api/core/rag/datasource/vdb/tidb_on_qdrant/tidb_service.py
Labels: size:XS, 📚 feat:datasource

#11432 Fix: compatible with outputs data structure
  web/app/components/base/file-uploader/utils.ts
  web/app/components/workflow/run/output-panel.tsx
Labels: size:XS, lgtm, ☕️ typescript

#11364 fix(document_extractor): pptx file type and missing metadata_filename UnstructuredIO
  api/core/workflow/nodes/document_extractor/node.py
Labels: 🐞 bug, size:S, lgtm

#11394 fix: issue #10596 by making the iteration node outputs right
  api/core/app/entities/queue_entities.py
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 🐞 bug, size:M, lgtm

#11452 style: EmojiPicker component top padding
  web/app/components/base/app-icon-picker/index.tsx
  web/app/components/base/emoji-picker/Inner.tsx
Labels: size:XS, lgtm

#11440 feat: add zhipu glm_4v_flash
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v_flash.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#11444 feat: add gemini exp 1206
  api/core/model_runtime/model_providers/google/llm/gemini-exp-1206.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#11449 feat: support json_schema for ollama models
  api/core/model_runtime/model_providers/ollama/llm/llm.py
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#11453 fix: cannot upload animated webp image as app icon
  web/app/components/base/app-icon-picker/ImageInput.tsx
  web/app/components/base/app-icon-picker/index.tsx
  web/app/components/base/app-icon-picker/utils.ts
Labels: 🐞 bug, size:M, lgtm, ☕️ typescript

#11437 Fix model provider of vertex ai
  api/core/model_runtime/model_providers/vertex_ai/llm/llm.py
  api/core/model_runtime/model_providers/vertex_ai/text_embedding/text_embedding.py
Labels: size:S, lgtm

#11445 fix: unit tests env will need clear too
  api/tests/unit_tests/configs/test_dify_config.py
Labels: 🐞 bug, size:XS, lgtm

#11433 fix(api): throw error when notion block can not find
  api/libs/oauth_data_source.py
Labels: 🐞 bug, size:XS, lgtm

#11470 remove mermail render cache
  web/app/components/base/mermaid/index.tsx
Labels: size:S, lgtm, ☕️ typescript

#11472 Refactor: Remove redundant style and simplify Mermaid component
  web/app/components/base/mermaid/index.tsx
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#11431 feat: ifelse condition variable editable after selection
  web/app/components/workflow/nodes/_base/components/variable-tag.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-reference-vars.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-item.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-var-selector.tsx
  web/app/components/workflow/nodes/if-else/components/condition-value.tsx
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#11476 Fix the Japanese translation for 'Detail'
  web/i18n/ja-JP/app-log.ts
Labels: size:XS, lgtm

#11402 feat: add 'Open in Explore' link for each apps on studio
  api/controllers/console/explore/installed_app.py
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/app/app-publisher/index.tsx
  web/i18n/en-US/app.ts
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ja-JP/workflow.ts
  web/service/explore.ts
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#11481 fix: tags could not be saved when the Workflow Tool was created
  api/controllers/console/workspace/tool_providers.py
  api/services/tools/workflow_tools_manage_service.py
Labels: 🐞 bug, size:XS, lgtm

#11235 Fix the token count at the iteration node
  api/core/workflow/nodes/iteration/iteration_node.py
  web/app/(commonLayout)/apps/AppCard.tsx
Labels: 🐞 bug, size:XS, lgtm

#11483 refactor(iteration_node): use Sequence and Mapping in parameters
  api/core/workflow/graph_engine/entities/event.py
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 💪 enhancement, size:M

#11487 improve message clean logic
  api/schedule/clean_messages.py
Labels: size:XS

#11490 fix: cannot close notification manually
  web/app/components/base/toast/index.tsx
Labels: 🐞 bug, size:S, lgtm

#11489 chore: bump version to 0.13.2
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, size:S, lgtm

#11484 fix: add the missing abab6.5t-chat model of Minimax
  api/core/model_runtime/model_providers/minimax/llm/llm.py
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#11210 feat:add apollo configuration to load env file
  api/configs/app_config.py
  api/configs/middleware/__init__.py
  api/configs/middleware/storage/baidu_obs_storage_config.py
  api/configs/middleware/storage/huawei_obs_storage_config.py
  api/configs/middleware/storage/supabase_storage_config.py
  api/configs/middleware/storage/volcengine_tos_storage_config.py
  api/configs/middleware/vdb/analyticdb_config.py
  api/configs/middleware/vdb/couchbase_config.py
  api/configs/middleware/vdb/myscale_config.py
  api/configs/middleware/vdb/vikingdb_config.py
  api/configs/remote_settings_sources/__init__.py
  api/configs/remote_settings_sources/apollo/__init__.py
  api/configs/remote_settings_sources/apollo/client.py
  api/configs/remote_settings_sources/apollo/python_3x.py
  api/configs/remote_settings_sources/apollo/utils.py
  api/configs/remote_settings_sources/base.py
  api/configs/remote_settings_sources/enums.py
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#11492 feat: add siliconflow qwq and llama3.3 model
  api/core/model_runtime/model_providers/siliconflow/llm/_position.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-llama-3.3-70b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen-qwq-32B-preview.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#11507 fix(app_generator_service): overload type hints
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/chat/app_generator.py
  api/core/app/apps/completion/app_generator.py
  api/core/app/apps/workflow/app_generator.py
Labels: size:L, lgtm

#11509 chore : fix translation Typo in ko-KR localization
  web/i18n/ko-KR/dataset-documents.ts
Labels: size:XS, lgtm

#11502 chore: fix typo in Japanese localization
  web/i18n/ja-JP/app.ts
  web/i18n/ja-JP/tools.ts
Labels: size:XS, lgtm

#11466 Msg file preview
  web/app/components/base/file-uploader/audio-preview.tsx
  web/app/components/base/file-uploader/file-image-render.tsx
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-image-item.tsx
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-item.tsx
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-list.tsx
  web/app/components/base/file-uploader/pdf-preview.tsx
  web/app/components/base/file-uploader/video-preview.tsx
  web/app/components/base/image-uploader/image-preview.tsx
  web/package.json
  web/yarn.lock
Labels: 📚 documentation, size:L, lgtm, ☕️ typescript

#11443 chore: LOCAL_FILE also try to use remote_url as Prompt message
  api/core/file/file_manager.py
Labels: size:XS, lgtm

#11390 Remove the processing of single quote when testing API tools.
  api/core/tools/tool/api_tool.py
Labels: 🐞 bug, size:XS, lgtm

#11504 fix: issue 11247 that Completion mode content maybe list or str
  api/core/workflow/nodes/llm/node.py
Labels: 🐞 bug, size:M, lgtm

#11535 fix: can not start local by REMOTE_SETTINGS_SOURCE_NAME change it to …
  api/configs/remote_settings_sources/__init__.py
Labels: 🐞 bug, size:XS, lgtm

#11536 Revert "fix: total tokens is wrong which is zero in inter way, close …
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/generate_task_pipeline.py
Labels: size:S, lgtm

#11537 fix: better error message for url add external knowledge
  api/services/external_knowledge_service.py
Labels: 🐞 bug, size:XS, lgtm

#11533 feat: Add llama-3.3 models for Groq
  api/core/model_runtime/model_providers/groq/llm/llama-3.3-70b-specdec.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.3-70b-versatile.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#11531 fix: Remove duplicate 'response_format' parameter from model YAML files
  api/core/model_runtime/model_providers/tongyi/llm/qwen-vl-max-0809.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-vl-max.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-vl-plus-0201.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-vl-plus-0809.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-vl-plus.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#11541 chore: update thai lang in app page
  web/i18n/th-TH/app.ts
Labels: size:L, lgtm

#11474 feat: workflow continue on error
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/component.tsx
  web/app/components/workflow/custom-edge-linear-gradient-render.tsx
  web/app/components/workflow/custom-edge.tsx
  web/app/components/workflow/hooks/use-edges-interactions.ts
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/hooks/use-workflow-run.ts
  web/app/components/workflow/nodes/_base/components/before-run-form/index.tsx
  web/app/components/workflow/nodes/_base/components/collapse/field-collapse.tsx
  web/app/components/workflow/nodes/_base/components/collapse/index.tsx
  web/app/components/workflow/nodes/_base/components/editor/base.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/index.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/default-value.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/error-handle-on-node.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/error-handle-on-panel.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/error-handle-tip.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/error-handle-type-selector.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/fail-branch-card.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/hooks.ts
  web/app/components/workflow/nodes/_base/components/error-handle/types.ts
  web/app/components/workflow/nodes/_base/components/error-handle/utils.ts
  web/app/components/workflow/nodes/_base/components/next-step/add.tsx
  web/app/components/workflow/nodes/_base/components/next-step/container.tsx
  web/app/components/workflow/nodes/_base/components/next-step/index.tsx
  web/app/components/workflow/nodes/_base/components/node-handle.tsx
  web/app/components/workflow/nodes/_base/components/output-vars.tsx
  web/app/components/workflow/nodes/_base/components/variable-tag.tsx
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-reference-vars.tsx
  web/app/components/workflow/nodes/_base/hooks/use-output-var-list.ts
  web/app/components/workflow/nodes/_base/node.tsx
  web/app/components/workflow/nodes/_base/panel.tsx
  web/app/components/workflow/nodes/document-extractor/panel.tsx
  web/app/components/workflow/nodes/http/components/timeout/index.tsx
  web/app/components/workflow/nodes/http/panel.tsx
  web/app/components/workflow/nodes/if-else/components/condition-value.tsx
  web/app/components/workflow/nodes/iteration/panel.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/panel.tsx
  web/app/components/workflow/nodes/list-operator/panel.tsx
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/parameter-extractor/panel.tsx
  web/app/components/workflow/nodes/question-classifier/default.ts
  web/app/components/workflow/nodes/question-classifier/panel.tsx
  web/app/components/workflow/nodes/template-transform/panel.tsx
  web/app/components/workflow/nodes/tool/panel.tsx
  web/app/components/workflow/nodes/variable-assigner/components/node-group-item.tsx
  web/app/components/workflow/nodes/variable-assigner/components/node-variable-item.tsx
  web/app/components/workflow/panel/workflow-preview.tsx
  web/app/components/workflow/run/index.tsx
  web/app/components/workflow/run/meta.tsx
  web/app/components/workflow/run/node.tsx
  web/app/components/workflow/run/result-panel.tsx
  web/app/components/workflow/run/status-container.tsx
  web/app/components/workflow/run/status.tsx
  web/app/components/workflow/types.ts
  web/app/components/workflow/utils.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/models/log.ts
  web/types/workflow.ts
Labels: size:XXL, 🌊 feat:workflow, lgtm

#11458 Feat: continue on error
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/app_queue_manager.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/apps/workflow_app_runner.py
  api/core/app/entities/queue_entities.py
  api/core/app/entities/task_entities.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/helper/ssrf_proxy.py
  api/core/workflow/callbacks/workflow_logging_callback.py
  api/core/workflow/entities/node_entities.py
  api/core/workflow/graph_engine/entities/event.py
  api/core/workflow/graph_engine/entities/graph.py
  api/core/workflow/graph_engine/entities/runtime_route_state.py
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/answer/answer_stream_generate_router.py
  api/core/workflow/nodes/answer/answer_stream_processor.py
  api/core/workflow/nodes/base/entities.py
  api/core/workflow/nodes/base/exc.py
  api/core/workflow/nodes/base/node.py
  api/core/workflow/nodes/code/code_node.py
  api/core/workflow/nodes/enums.py
  api/core/workflow/nodes/http_request/executor.py
  api/core/workflow/nodes/http_request/node.py
  api/core/workflow/nodes/llm/node.py
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/core/workflow/nodes/tool/tool_node.py
  api/fields/workflow_run_fields.py
  api/migrations/versions/2024_11_28_0553-cf8f4fc45278_add_exceptions_count_field_to_.py
  api/models/workflow.py
  api/services/workflow_service.py
  api/tests/unit_tests/core/workflow/nodes/test_continue_on_error.py
Labels: size:XXL, 🌊 feat:workflow, lgtm

#11539 fix: iteration node in parallel mode token count error
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 🐞 bug, size:XS, lgtm

#11508 feat: integrate opendal storage
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/storage/opendal_storage_config.py
  api/docker/entrypoint.sh
  api/extensions/ext_storage.py
  api/extensions/storage/base_storage.py
  api/extensions/storage/local_fs_storage.py
  api/extensions/storage/opendal_storage.py
  api/extensions/storage/storage_type.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit_tests/configs/test_opendal_config_parse.py
  api/tests/unit_tests/oss/__mock/base.py
  api/tests/unit_tests/oss/local/test_local_fs.py
  api/tests/unit_tests/oss/opendal/__init__.py
  api/tests/unit_tests/oss/opendal/test_opendal.py
  docker/.env.example
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#11554 fix: workflow continue on error doc link
  web/app/components/workflow/run/node.tsx
  web/app/components/workflow/run/status.tsx
Labels: size:XS, lgtm

#11540 Fix: RateLimit requests were not released when a streaming generation exception occurred
  api/core/app/features/rate_limiting/rate_limit.py
  api/services/app_generate_service.py
Labels: 🐞 bug, size:XS, lgtm

#11569 fix: better opendal tests
  api/extensions/storage/opendal_storage.py
  api/tests/unit_tests/oss/opendal/test_opendal.py
Labels: 🐞 bug, size:M, lgtm

#11570 feat: add gemini-2.0-flash-exp
  api/core/model_runtime/model_providers/google/llm/gemini-2.0-flash-exp.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#11574 Lindorm vdb
  api/.env.example
  api/configs/middleware/vdb/lindorm_config.py
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
  api/tests/integration_tests/vdb/lindorm/test_lindorm.py
Labels: size:L, 👻 feat:rag, lgtm

#11575 Feat: dark mode for logs and annotations
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout.tsx
  web/app/components/app/annotation/add-annotation-modal/edit-item/index.tsx
  web/app/components/app/annotation/add-annotation-modal/index.tsx
  web/app/components/app/annotation/batch-add-annotation-modal/csv-downloader.tsx
  web/app/components/app/annotation/batch-add-annotation-modal/csv-uploader.tsx
  web/app/components/app/annotation/batch-add-annotation-modal/index.tsx
  web/app/components/app/annotation/edit-annotation-modal/edit-item/index.tsx
  web/app/components/app/annotation/edit-annotation-modal/index.tsx
  web/app/components/app/annotation/header-opts/index.tsx
  web/app/components/app/annotation/header-opts/style.module.css
  web/app/components/app/annotation/index.tsx
  web/app/components/app/annotation/list.tsx
  web/app/components/app/annotation/view-annotation-modal/hit-history-no-data.tsx
  web/app/components/app/annotation/view-annotation-modal/index.tsx
  web/app/components/app/annotation/view-annotation-modal/style.module.css
  web/app/components/app/log-annotation/index.tsx
  web/app/components/app/log/list.tsx
  web/app/components/app/log/model-info.tsx
  web/app/components/app/log/var-panel.tsx
  web/app/components/app/text-generate/item/index.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/checkbox/assets/check.svg
  web/app/components/base/checkbox/index.module.css
  web/app/components/base/checkbox/index.tsx
  web/app/components/base/copy-icon/index.tsx
  web/app/components/base/drawer-plus/index.tsx
  web/app/components/base/drawer/index.tsx
  web/app/components/base/features/new-feature-panel/annotation-reply/config-param-modal.tsx
  web/app/components/base/features/new-feature-panel/annotation-reply/config-param.tsx
  web/app/components/base/features/new-feature-panel/annotation-reply/score-slider/base-slider/index.tsx
  web/app/components/base/features/new-feature-panel/annotation-reply/score-slider/index.tsx
  web/app/components/base/modal/index.css
  web/app/components/base/modal/index.tsx
  web/app/components/base/popover/index.tsx
  web/app/components/base/popover/style.module.css
  web/app/components/base/tab-slider-plain/index.tsx
  web/app/components/base/tooltip/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-badge/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-name/index.tsx
  web/app/components/header/tools-nav/index.tsx
  web/app/components/workflow/nodes/_base/components/editor/base.tsx
  web/i18n/en-US/app-log.ts
  web/i18n/zh-Hans/app-log.ts
Labels: 💪 enhancement, size:XL, ☕️ typescript

#11585 fix: change workflow trace id
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
Labels: size:S, lgtm

#11565 fix: support mdx files close #11557
  api/constants/__init__.py
  api/core/rag/extractor/extract_processor.py
  web/app/components/base/file-icon/index.tsx
  web/app/components/base/file-uploader/utils.ts
  web/app/components/base/prompt-editor/constants.tsx
Labels: 🐞 bug, size:S, lgtm

#11506 [ref] use one method to get boto client for aws bedrock
  api/core/model_runtime/model_providers/bedrock/get_bedrock_client.py
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/core/model_runtime/model_providers/bedrock/rerank/rerank.py
  api/core/model_runtime/model_providers/bedrock/text_embedding/text_embedding.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#11596 fix: name of llama-3.3-70b-specdec
  api/core/model_runtime/model_providers/groq/llm/llama-3.3-70b-specdec .yaml
Labels: size:S

#11604 feat(model): add vertex_ai Gemini 2.0 Flash Exp
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-2.0-flash-exp.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#11587 ci: better print version for ruff to check the change
  .github/workflows/style.yml
Labels: size:XS, lgtm

#11616 feat(devcontainer): add alias to stop Docker containers
  .devcontainer/post_create_command.sh
Labels: size:XS, lgtm

#11621 Fix/pdf preview in build
  web/app/components/base/file-uploader/dynamic-pdf-preview.tsx
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-item.tsx
  web/app/components/base/file-uploader/pdf-preview.tsx
  web/public/pdf.worker.min.mjs
Labels: 📚 documentation, size:S, lgtm, ☕️ typescript

#11560 chore(dependency): bump gunicorn to 23.0
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS

#11627 fix: split dir for opendal tests
  api/tests/unit_tests/oss/__mock/base.py
  api/tests/unit_tests/oss/opendal/test_opendal.py
Labels: size:M, lgtm

#11624 fix: app log filter value error
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/chartView.tsx
Labels: 🐞 bug, size:XS, lgtm

#11666 fix: filter bug for keywork cause code can not reach
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
Labels: 🐞 bug, size:XS, lgtm

#11658 fix: remove unnecessary curly braces in wf api doc
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, size:L, lgtm

#11651 fix: rename README filename: Japanese language code is 'JA'
  api/core/tools/README_JA.md
Labels: 📚 documentation, size:XS, lgtm

#11648 fix: langfuse do not have created_at args and fix the typing in the file
  api/core/ops/langfuse_trace/langfuse_trace.py
Labels: 🐞 bug, size:S, lgtm

#11647 Update translate to Japanese: natural Japanese expression
  web/i18n/ja-JP/dataset.ts
  web/i18n/ja-JP/tools.ts
Labels: 📚 documentation, size:XS, lgtm

#11635 fix: better error message for stream
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: 🐞 bug, size:XS, ⚙️ feat:model-runtime, lgtm

#11645 test: run vdb tests on TiDB Vector with docker in CI tests
  .github/workflows/vdb-tests.yml
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
  api/tests/integration_tests/vdb/tidb_vector/test_tidb_vector.py
  dev/pytest/pytest_vdb.sh
  docker/docker-compose.yaml
Labels: size:M, 👻 feat:rag, lgtm

#11628 fix: account.id should account_id
  api/libs/helper.py
Labels: 🐞 bug, size:S, lgtm

#11586 fix: ExternalDatasetService.process_external_api wrong args
  api/tasks/external_document_indexing_task.py
Labels: 🐞 bug, size:XS, lgtm

#11562 fix: _handle_workflow_run_partial_success args is wrong
  api/core/app/apps/workflow/generate_task_pipeline.py
Labels: 🐞 bug, size:M, lgtm

#11599 feat: log add trace id
  api/.env.example
  api/extensions/ext_logging.py
Labels: 💪 enhancement, size:M, lgtm

#11669 fix: remove the unused QueueWorkflowPartialSuccessEvent handle in workflow
  api/core/app/apps/workflow/generate_task_pipeline.py
Labels: size:S, lgtm

#11665 fix: change http node params from dict to list tuple
  api/core/workflow/nodes/http_request/executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_node.py
Labels: 🐞 bug, size:L, lgtm

#11678 fix: deepseek reports an error when using Response Format #11677
  api/core/model_runtime/model_providers/deepseek/llm/llm.py
Labels: 🐞 bug, size:XS, ⚙️ feat:model-runtime, lgtm

#11673 Make max_submit_count configurable via Config
  api/.env.example
  api/configs/feature/__init__.py
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 💪 enhancement, size:S, lgtm

#11625 fix: volcengine_maas and baichuan message error
  api/core/model_runtime/model_providers/baichuan/llm/llm.py
  api/core/model_runtime/model_providers/volcengine_maas/legacy/client.py
Labels: 🐞 bug, size:S, ⚙️ feat:model-runtime, lgtm

#11640 fix: enhance workflow.tool_published performance
  api/models/workflow.py
Labels: 💪 enhancement, size:XS, lgtm

#11682 fix: tool constant params change cause page crashed
  web/app/components/workflow/nodes/tool/components/input-var-list.tsx
  web/app/components/workflow/nodes/tool/use-config.ts
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#11686 fix: iteration output array type causes always outputting string array
  web/app/components/workflow/nodes/iteration/use-config.ts
Labels: 🐞 bug, size:XS, lgtm

#11689 fix: workflow continue on error edge color
  web/app/components/workflow/hooks/use-workflow-run.ts
Labels: size:XS, lgtm

#11679 chore: bump version to 0.14.0
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 📚 documentation, 💪 enhancement, size:S

#11687 chore: remove duplicate folder with case sensitivity issue
  web/public/screenshots/Light/Agent.png
  web/public/screenshots/Light/Agent@2x.png
  web/public/screenshots/Light/Agent@3x.png
  web/public/screenshots/Light/ChatFlow.png
  web/public/screenshots/Light/ChatFlow@2x.png
  web/public/screenshots/Light/ChatFlow@3x.png
  web/public/screenshots/Light/Chatbot.png
  web/public/screenshots/Light/Chatbot@2x.png
  web/public/screenshots/Light/Chatbot@3x.png
  web/public/screenshots/Light/Chatflow.png
  web/public/screenshots/Light/Chatflow@2x.png
  web/public/screenshots/Light/Chatflow@3x.png
  web/public/screenshots/Light/TextGenerator.png
  web/public/screenshots/Light/TextGenerator@2x.png
  web/public/screenshots/Light/TextGenerator@3x.png
  web/public/screenshots/Light/Workflow.png
  web/public/screenshots/Light/Workflow@2x.png
  web/public/screenshots/Light/Workflow@3x.png
Labels: size:XS, lgtm

#11681 fix: fix proxy for docker
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#11697 feat: add gitee ai vl models
  api/core/model_runtime/model_providers/gitee_ai/llm/InternVL2-8B.yaml
  api/core/model_runtime/model_providers/gitee_ai/llm/InternVL2.5-26B.yaml
  api/core/model_runtime/model_providers/gitee_ai/llm/_position.yaml
  api/core/model_runtime/model_providers/gitee_ai/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#11699 make login lockout duration configurable
  api/.env.example
  api/configs/feature/__init__.py
  api/services/account_service.py
Labels: 💪 enhancement, size:XS, lgtm

#11706 chore: update docker env close #11703
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#11497 feat: enhance gemini models
  api/core/file/file_manager.py
  api/core/model_runtime/entities/message_entities.py
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-001.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-002.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-8b-exp-0827.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-8b-exp-0924.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-exp-0827.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-latest.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-001.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-002.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-exp-0801.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-exp-0827.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-latest.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-exp-1114.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-exp-1121.yaml
  api/core/model_runtime/model_providers/google/llm/llm.py
  api/core/model_runtime/model_providers/openai/llm/llm.py
  api/tests/integration_tests/model_runtime/__mock/google.py
  api/tests/integration_tests/model_runtime/google/test_llm.py
  api/tests/unit_tests/core/workflow/nodes/llm/test_node.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#11724 feat(tool_node): Suppress exceptions thrown by the Tool
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/workflow/nodes/tool/tool_node.py
Labels: size:S, 🔨 feat:tools, lgtm

#11695 Dark Mode: Workflow darkmode style
  web/app/components/tools/add-tool-modal/empty.tsx
  web/app/components/workflow/block-selector/all-tools.tsx
  web/app/components/workflow/block-selector/blocks.tsx
  web/app/components/workflow/block-selector/index-bar.tsx
  web/app/components/workflow/block-selector/index.tsx
  web/app/components/workflow/block-selector/tabs.tsx
  web/app/components/workflow/block-selector/tools.tsx
  web/app/components/workflow/header/editing-title.tsx
  web/app/components/workflow/header/index.tsx
  web/app/components/workflow/header/undo-redo.tsx
  web/app/components/workflow/header/view-workflow-history.tsx
  web/app/components/workflow/index.tsx
  web/app/components/workflow/operator/add-block.tsx
  web/app/components/workflow/operator/control.tsx
  web/app/components/workflow/operator/index.tsx
  web/app/components/workflow/operator/tip-popup.tsx
  web/app/components/workflow/operator/zoom-in-out.tsx
  web/app/components/workflow/panel-contextmenu.tsx
  web/app/components/workflow/shortcuts-name.tsx
  web/app/components/workflow/style.css
  web/app/components/workflow/utils.ts
  web/app/layout.tsx
  web/app/styles/globals.css
  web/tailwind.config.js
  web/themes/manual-dark.css
  web/themes/manual-light.css
Labels: size:L, 🌊 feat:workflow, lgtm

#11728 feat(knowledge_retrieval_node): Suppress exceptions thrown by DatasetRetrieval
  api/core/workflow/nodes/base/node.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:M, 🌊 feat:workflow

#11731 Modify translation for error branch
  web/i18n/ja-JP/workflow.ts
Labels: size:S, lgtm

#11732 fix(api/ops_trace): avoid raise exception directly
  api/controllers/console/app/model_config.py
  api/controllers/console/app/ops_trace.py
  api/controllers/console/datasets/datasets_document.py
Labels: 🐞 bug, size:S, lgtm

#11711 chore:update azure api version
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#11729 fix: make tidb service optional with proper profile in docker compose yaml
  .github/workflows/expose_service_ports.sh
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#11721 chore: the consistency of MultiModalPromptMessageContent
  api/.env.example
  api/configs/feature/__init__.py
  api/core/file/file_manager.py
  api/core/model_runtime/entities/message_entities.py
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
  api/tests/integration_tests/model_runtime/azure_openai/test_llm.py
  api/tests/integration_tests/model_runtime/google/test_llm.py
  api/tests/integration_tests/model_runtime/ollama/test_llm.py
  api/tests/integration_tests/model_runtime/openai/test_llm.py
  api/tests/unit_tests/core/prompt/test_advanced_prompt_transform.py
  api/tests/unit_tests/core/workflow/nodes/llm/test_node.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, size:L, lgtm

#11740 feat(ark): support doubao vision series models
  api/core/model_runtime/model_providers/volcengine_maas/client.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#11705 chore: update comments in docker env file
  docker/.env.example
Labels: 📚 documentation, size:XS, lgtm
