Repository langgenius/dify, pull requests merged in 2024-10, with the labels that each got.

#8950 chore: add missing models from Voyage
  api/core/model_runtime/model_providers/voyage/rerank/_position.yaml
  api/core/model_runtime/model_providers/voyage/rerank/rerank-2.yaml
  api/core/model_runtime/model_providers/voyage/rerank/rerank-lite-2.yaml
  api/core/model_runtime/model_providers/voyage/text_embedding/_position.yaml
  api/core/model_runtime/model_providers/voyage/text_embedding/voyage-code-2.yaml
  api/core/model_runtime/model_providers/voyage/text_embedding/voyage-finance-2.yaml
  api/core/model_runtime/model_providers/voyage/text_embedding/voyage-law-2.yaml
  api/core/model_runtime/model_providers/voyage/text_embedding/voyage-multilingual-2.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#8951 chore: sort Gemini models
  api/core/model_runtime/model_providers/google/llm/_position.yaml
Labels: size:S, lgtm

#8949 refactor: remove unnecessary comment
  api/core/callback_handler/index_tool_callback_handler.py
Labels: 💪 enhancement, size:XS, lgtm

#8946 chore: remove unexecuted scripts to avoid ambiguity
  dev/pytest/pytest_vdb.sh
Labels: size:XS, lgtm

#8956 feat: add qwen2.5-72b and llama3.2 for openrouter
  api/core/model_runtime/model_providers/openrouter/llm/_position.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.2-11b-vision-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.2-1b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.2-3b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.2-90b-vision-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/qwen2.5-72b-instruct.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#8954 feat: enhance stepfun image generation tool
  api/core/tools/provider/builtin/stepfun/tools/image.py
  api/core/tools/provider/builtin/stepfun/tools/image.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#8965 fix: chat API is not bringing the conversation/session history
  api/controllers/service_api/app/completion.py
Labels: 🐞 bug, size:XS, lgtm

#8979 fix: corrected typo
  README_JA.md
Labels: size:XS, lgtm

#7852 feat(Tools): add discord incoming webhook for sending messages
  api/core/tools/provider/builtin/discord/_assets/icon.svg
  api/core/tools/provider/builtin/discord/discord.py
  api/core/tools/provider/builtin/discord/discord.yaml
  api/core/tools/provider/builtin/discord/tools/discord_webhook.py
  api/core/tools/provider/builtin/discord/tools/discord_webhook.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#8983 Update json_in_md_parser.py
  api/core/tools/provider/builtin/discord/tools/discord_webhook.py
  api/libs/json_in_md_parser.py
Labels: 🐞 bug, size:M, lgtm

#8993 fix: make the document formats of the front and back ends are consistent
  api/constants/__init__.py
  web/app/components/base/prompt-editor/constants.tsx
Labels: 🐞 bug, size:XS, lgtm

#8999 fix: tools description is missing
  web/i18n/language.ts
Labels: 🐞 bug, size:XS, lgtm

#9006 fix bug when adding openai or openai-compatible stt model instance
  api/core/agent/output_parser/cot_output_parser.py
  api/core/model_runtime/model_providers/openai/speech2text/speech2text.py
  api/core/model_runtime/model_providers/openai_api_compatible/speech2text/speech2text.py
  api/core/tools/tool/workflow_tool.py
Labels: 🐞 bug, size:M, lgtm

#9020 chore: fix the yanked dependency vesion aiohappyeyeballs 2.4.2
  api/poetry.lock
Labels: dependencies, size:XS, lgtm

#9022 refactor: remove the duplicate definitions across different modules
  api/controllers/files/error.py
  api/controllers/files/image_preview.py
  api/controllers/files/tool_files.py
Labels: 💪 enhancement, size:S, lgtm

#9024 feat: add baidu obs storage
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/storage/baidu_obs_storage_config.py
  api/extensions/ext_storage.py
  api/extensions/storage/baidu_storage.py
  api/poetry.lock
  api/pyproject.toml
Labels: 💪 enhancement, size:L, lgtm

#9030 fix: Missing model information in llm span of Langfuse #9029
  api/core/ops/langfuse_trace/langfuse_trace.py
Labels: 🐞 bug, size:S, lgtm

#9047 fix:ddg ratelimit 202
  api/poetry.lock
  api/pyproject.toml
Labels: 🐞 bug, size:XS, lgtm

#8928 feat: Improvement- use non root user for Web container
  web/Dockerfile
Labels: 💪 enhancement, size:S, lgtm

#9049 chore: removing unused imports in tests
  api/app.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/model_runtime/__mock/anthropic.py
  api/tests/integration_tests/model_runtime/__mock/nomic_embeddings.py
  api/tests/integration_tests/model_runtime/__mock/openai_chat.py
  api/tests/integration_tests/model_runtime/__mock/openai_embeddings.py
  api/tests/integration_tests/model_runtime/__mock/openai_remote.py
  api/tests/integration_tests/model_runtime/__mock/xinference.py
  api/tests/integration_tests/model_runtime/azure_ai_studio/test_llm.py
  api/tests/integration_tests/model_runtime/chatglm/test_llm.py
  api/tests/integration_tests/model_runtime/huggingface_tei/test_rerank.py
  api/tests/integration_tests/model_runtime/localai/test_llm.py
  api/tests/integration_tests/model_runtime/nomic/test_provider.py
  api/tests/integration_tests/model_runtime/novita/test_llm.py
  api/tests/integration_tests/model_runtime/oci/test_llm.py
  api/tests/integration_tests/model_runtime/openai/test_llm.py
  api/tests/integration_tests/model_runtime/openrouter/test_llm.py
  api/tests/integration_tests/model_runtime/sagemaker/test_provider.py
  api/tests/integration_tests/model_runtime/sagemaker/test_text_embedding.py
  api/tests/integration_tests/model_runtime/stepfun/test_llm.py
  api/tests/integration_tests/model_runtime/togetherai/test_llm.py
  api/tests/integration_tests/model_runtime/upstage/test_llm.py
  api/tests/integration_tests/model_runtime/xinference/test_llm.py
  api/tests/integration_tests/vdb/pgvector/test_pgvector.py
  api/tests/integration_tests/vdb/test_vector_store.py
  api/tests/integration_tests/workflow/nodes/__mock/code_executor.py
  api/tests/integration_tests/workflow/nodes/test_parameter_extractor.py
  api/tests/unit_tests/core/app/segments/test_variables.py
  api/tests/unit_tests/core/rag/extractor/firecrawl/test_firecrawl.py
Labels: size:M, lgtm

#9062 fix: Ignore the error toast notification if the status is 401 and isPublicAPI is true
  web/service/base.ts
Labels: 💪 enhancement, size:XS, lgtm

#9066 Revert "fix: make the document formats of the front and back ends are consistent"
  api/constants/__init__.py
  web/app/components/base/prompt-editor/constants.tsx
Labels: size:XS

#9061 chore: refine python dependency list and check dependencies in order
  .github/workflows/api-tests.yml
  api/poetry.lock
  api/pyproject.toml
  api/tests/artifact_tests/dependencies/__init__.py
  api/tests/artifact_tests/dependencies/test_dependencies_sorted.py
  dev/pytest/pytest_artifacts.sh
  dev/sync-poetry
Labels: dependencies, size:L, lgtm

#9058 fix: zhipu ai web_search not work
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
Labels: 🐞 bug, size:S, lgtm

#9065 docs: Add Google Cloud Terraform to README
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_TR.md
  README_VI.md
Labels: 📚 documentation, size:M, lgtm

#9068 Correct max_tokens for OpenRouter Sonnet 3.5
  api/core/model_runtime/model_providers/openrouter/llm/claude-3-5-sonnet.yaml
Labels: 🐞 bug, size:XS, lgtm

#8754 fix: Count exception occurs when searching conversations
  api/controllers/console/app/conversation.py
Labels: 🐞 bug, size:XS, lgtm

#9073 feat: update the xinf tool's API key to optional
  api/core/tools/provider/builtin/xinference/tools/stable_diffusion.py
  api/core/tools/provider/builtin/xinference/xinference.py
  api/core/tools/provider/builtin/xinference/xinference.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#9083 Feat/9081 add support for llamaguard through groq provider
  api/core/model_runtime/model_providers/groq/llm/_position.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-guard-3-8b.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#9097 fix: prompt-editor regex.lastIndex needed to reset
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/workflow-variable-block-replacement-block.tsx
  web/config/index.ts
Labels: 🐞 bug, size:S, lgtm

#9093 fix s3 presign url check problem, support two versions(v2,v4)
  api/core/file/message_file_parser.py
Labels: 🐞 bug, size:M, lgtm

#9090 refactor: Update countries & languages list for SearchApi engines
  api/core/tools/provider/builtin/searchapi/tools/google.yaml
  api/core/tools/provider/builtin/searchapi/tools/google_jobs.yaml
  api/core/tools/provider/builtin/searchapi/tools/google_news.yaml
Labels: size:XXL, 🔨 feat:tools, lgtm

#9099 chore: add the missing tool names to the _position file
  api/core/tools/provider/_position.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#9102 feat: add tags for vanna tools
  api/core/tools/provider/builtin/vanna/vanna.yaml
Labels: size:XS, 🔨 feat:tools, lgtm

#9104 feat: output the execution results of tool should only in debug mode
  api/core/callback_handler/agent_tool_callback_handler.py
Labels: size:M, 🔨 feat:tools, lgtm

#9086 refactor: introduce storage factory and speed up api startup by importing storage client on demand
  api/extensions/ext_storage.py
  api/extensions/storage/aliyun_oss_storage.py
  api/extensions/storage/aws_s3_storage.py
  api/extensions/storage/azure_blob_storage.py
  api/extensions/storage/baidu_obs_storage.py
  api/extensions/storage/google_cloud_storage.py
  api/extensions/storage/huawei_obs_storage.py
  api/extensions/storage/local_fs_storage.py
  api/extensions/storage/oracle_oci_storage.py
  api/extensions/storage/storage_type.py
  api/extensions/storage/tencent_cos_storage.py
  api/extensions/storage/volcengine_tos_storage.py
  api/poetry.lock
  api/pyproject.toml
Labels: size:L, lgtm

#8727 chore: avoid implicit optional in type annotations of method
  api/core/agent/cot_agent_runner.py
  api/core/agent/cot_chat_agent_runner.py
  api/core/agent/cot_completion_agent_runner.py
  api/core/agent/fc_agent_runner.py
  api/core/indexing_runner.py
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/core/model_runtime/model_providers/fireworks/llm/llm.py
  api/core/model_runtime/model_providers/openai/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/sagemaker/tts/tts.py
  api/core/model_runtime/model_providers/wenxin/llm/llm.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/api_resource/assistant/assistant.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/api_resource/files.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/api_resource/knowledge/document/document.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/api_resource/videos/videos.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/extractor/extract_processor.py
  api/core/rag/extractor/unstructured/unstructured_epub_extractor.py
  api/core/tools/entities/tool_entities.py
  api/core/tools/provider/builtin/aws/tools/sagemaker_tts.py
  api/core/tools/tool/builtin_tool.py
  api/core/tools/tool/tool.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/feishu_api_utils.py
  api/core/tools/utils/parser.py
  api/core/tools/utils/web_reader_tool.py
  api/libs/helper.py
  api/pyproject.toml
  api/services/account_service.py
  api/services/errors/base.py
  api/services/tag_service.py
  api/services/tools/api_tools_manage_service.py
  api/services/tools/tools_transform_service.py
  api/services/tools/workflow_tools_manage_service.py
  api/tests/integration_tests/vdb/__mock/tcvectordb.py
Labels: 💪 enhancement, 🐍 python, size:L, lgtm

#9054 feat: respect x-* headers for redirections
  api/.env.example
  api/app.py
  api/configs/feature/__init__.py
  api/extensions/ext_proxy_fix.py
Labels: 🐞 bug, size:S, lgtm

#9088 azure add o1-mini、o1-preview models
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#9115 Add customizable size for chatbot embed with default values
  web/app/components/app/overview/embedded/index.tsx
Labels: 💪 enhancement, size:XS, lgtm

#9124 Fix the margin for the rerank switch in retrieval setting
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
Labels: size:XS, lgtm

#9117 add generate conversation name error log
  api/core/app/task_pipeline/message_cycle_manage.py
Labels: 🐞 bug, size:XS, lgtm

#9122 fix: follow-up (suggested questions) does not refer to the most recen…
  api/core/memory/token_buffer_memory.py
Labels: 🐞 bug, size:XS, lgtm

#9119 fix: docker env typo
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#9123 chore: avoid star imports usage
  api/pyproject.toml
  api/services/account_service.py
Labels: 💪 enhancement, 🐍 python, size:S, lgtm

#9141 chore:add azure openai api version 2024-09-01-preview
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:XS, lgtm

#9132 fix(migrations): correct parent_message_id for service-api records
  api/migrations/versions/2024_10_09_1329-d8e744d88ed6_fix_wrong_service_api_history.py
Labels: 🐞 bug, size:M, lgtm

#9134 fix: vertex ai remote url error(Error: not enough values to unpack)
  api/core/model_runtime/model_providers/vertex_ai/llm/llm.py
Labels: 🐞 bug, 🐍 python, size:S, lgtm

#9150 fix: #9076
  web/app/components/base/chat/embedded-chatbot/theme/theme-context.ts
Labels: 🐞 bug, size:XS, lgtm

#9135 Corrected type annotation to "Any" from "any" all files in "model_providers" folder
  api/core/model_runtime/model_providers/__base/tts_model.py
  api/core/model_runtime/model_providers/azure_openai/tts/tts.py
  api/core/model_runtime/model_providers/fishaudio/tts/tts.py
  api/core/model_runtime/model_providers/openai/tts/tts.py
  api/core/model_runtime/model_providers/sagemaker/tts/tts.py
  api/core/model_runtime/model_providers/tongyi/tts/tts.py
  api/core/model_runtime/model_providers/xinference/tts/tts.py
Labels: 🐍 python, size:M, lgtm

#9108 Feat/add workflow sys params
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/apps/workflow/app_runner.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/entities/app_invoke_entities.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/workflow/enums.py
  web/app/components/workflow/index.tsx
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/start/panel.tsx
Labels: size:M, 🌊 feat:workflow, lgtm

#9160 Fixes #9159: Modify to make it works to llama.cpp rerank API
  api/core/model_runtime/model_providers/jina/rerank/rerank.py
  api/core/model_runtime/model_providers/localai/rerank/rerank.py
Labels: 🐞 bug, 🐍 python, size:S, lgtm

#9164 Fix code indentation errors
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
Labels: 🐞 bug, size:M, lgtm

#9165 fix: delete offline "how to write a good knowledge description" helper
  web/app/components/datasets/external-knowledge-base/create/KnowledgeBaseInfo.tsx
  web/app/components/datasets/rename-modal/index.tsx
  web/app/components/datasets/settings/form/index.tsx
Labels: size:S, lgtm

#9167 fix: missing usage of metadata in the chatflow app
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
Labels: 🐞 bug, size:XS, lgtm

#9171 downgrade elastic to 8.14
  api/poetry.lock
  api/pyproject.toml
  docker/docker-compose.yaml
Labels: dependencies, size:XS, lgtm

#9161 fix: Typo Correction in jina.yaml
  api/core/tools/provider/builtin/jina/jina.yaml
Labels: size:XS, lgtm

#9173 improve: Refresh updated_at field of DataSourceOauthBinding model
  api/libs/oauth_data_source.py
Labels: size:XS, 📚 feat:datasource, lgtm

#9156 feat: add allow_llm_to_see_data flag for vanna
  api/core/tools/provider/builtin/vanna/tools/vanna.py
  api/core/tools/provider/builtin/vanna/tools/vanna.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: 💪 enhancement, size:S, 🔨 feat:tools, lgtm

#9184 feat: download pkg from marketplace
  api/.env.example
  api/configs/feature/__init__.py
  api/core/helper/marketplace.py
  api/services/plugin/plugin_service.py
  api/tests/integration_tests/.env.example
  api/tests/unit_tests/core/helper/test_marketplace.py
Labels: 💪 enhancement, size:M, lgtm

#9190 fix(log list): prevent duplicate data fetch
  web/app/components/app/log/list.tsx
Labels: 🐞 bug, size:XS, lgtm

#9155 fix retrieval resource positon missed
  api/core/rag/entities/context_entities.py
  api/core/rag/retrieval/dataset_retrieval.py
Labels: size:XS, lgtm

#9153 feat: add gte rerank for tongyi
  api/core/model_runtime/model_providers/tongyi/rerank/__init__.py
  api/core/model_runtime/model_providers/tongyi/rerank/_position.yaml
  api/core/model_runtime/model_providers/tongyi/rerank/gte-rerank.yaml
  api/core/model_runtime/model_providers/tongyi/rerank/rerank.py
  api/core/model_runtime/model_providers/tongyi/tongyi.yaml
  api/tests/integration_tests/model_runtime/tongyi/test_rerank.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#9214 fix: add loading to 'delete' button & 'save' button
  web/app/components/datasets/documents/list.tsx
  web/app/components/datasets/settings/form/index.tsx
Labels: size:XS, lgtm

#9215 feat: add NotFound error for dataset service
  api/services/dataset_service.py
Labels: size:XS, lgtm

#9174 fix: update inner api proxies
  api/services/enterprise/base.py
Labels: 🐞 bug, size:XS, lgtm

#9183 Update docker-compose.yaml
  docker/docker-compose.yaml
Labels: size:XS, 🌊 feat:workflow, lgtm

#8745 feat: add siliconflow custom add model interface
  api/core/model_runtime/model_providers/siliconflow/llm/llm.py
  api/core/model_runtime/model_providers/siliconflow/siliconflow.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#9212 fix: reduce webapp icon displayed on browser tab flickering when page is loading
  web/app/(shareLayout)/layout.tsx
  web/hooks/use-app-favicon.ts
Labels: 🐞 bug, size:XS, lgtm

#9218 Chore/model icon url
  api/controllers/console/workspace/model_providers.py
  web/app/components/header/account-setting/model-provider-page/model-icon/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
Labels: size:S, lgtm

#9225 Fix/add es num_candidates
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#9224 chore: check all dependencies groups in pyproject.toml
  api/tests/artifact_tests/dependencies/test_dependencies_sorted.py
Labels: dependencies, size:M

#9228 fix:#9222 create or update custum tools error
  api/core/tools/utils/parser.py
  api/services/tools/api_tools_manage_service.py
Labels: 🐞 bug, size:XS, lgtm

#9240 fix: reference issue in external knowledge api
  web/app/components/base/chat/chat/citation/popup.tsx
Labels: 🐞 bug, size:XS, lgtm

#9241 Fix/agent external knowledge retrieval
  api/configs/middleware/__init__.py
  api/controllers/console/datasets/external.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/services/dataset_service.py
  api/services/knowledge_service.py
Labels: size:L, 🤖 feat:agent, lgtm

#9242 fix: dialog box cannot correctly display LaTeX formulas
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:XS, lgtm

#9229 feat: add supabase object storage
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/storage/supabase_storage_config.py
  api/extensions/ext_storage.py
  api/extensions/storage/storage_type.py
  api/extensions/storage/supabase_storage.py
  api/poetry.lock
  api/pyproject.toml
Labels: 💪 enhancement, 🐍 python, size:M, lgtm

#9258 fix: move exception to debug mode
  api/core/app/task_pipeline/message_cycle_manage.py
Labels: 🐞 bug, size:XS, lgtm

#9265 fix: add new domain to whitelist
  web/middleware.ts
Labels: 🐞 bug, size:XS, lgtm

#9266 chore: fix the misclassification of the opensearch-py package
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS, lgtm

#9280 chore: use cache instead of re-querying node record during workflow execution
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
Labels: 💪 enhancement, size:S, lgtm

#9282 chore: optimize the trace ops slow queries on node executions.
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
Labels: 💪 enhancement, size:L

#7819 Fix/s3 iam add region name
  api/extensions/storage/aws_s3_storage.py
Labels: size:S, lgtm

#9271 Feat: rerank model verification in front end
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/app/components/datasets/common/retrieval-param-config/index.tsx
  web/app/components/workflow/hooks/use-workflow-start-run.tsx
  web/app/components/workflow/hooks/use-workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#9185 feat:support baidu vector db
  api/.env.example
  api/commands.py
  api/configs/middleware/vdb/baidu_vector_config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/baidu/__init__.py
  api/core/rag/datasource/vdb/baidu/baidu_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/vdb/__mock/baiduvectordb.py
  api/tests/integration_tests/vdb/baidu/__init__.py
  api/tests/integration_tests/vdb/baidu/test_baidu.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XL, 👻 feat:rag, lgtm

#9286 feat: refresh-token
  web/app/components/swr-initor.tsx
  web/app/signin/normalForm.tsx
  web/app/signin/userSSOForm.tsx
  web/hooks/use-refresh-token.ts
  web/package.json
  web/service/common.ts
  web/utils/index.ts
  web/yarn.lock
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#9233 Feat/implement-refresh-tokens
  api/.env.example
  api/app.py
  api/configs/feature/__init__.py
  api/controllers/console/auth/login.py
  api/controllers/console/auth/oauth.py
  api/controllers/console/setup.py
  api/libs/helper.py
  api/services/account_service.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 💪 enhancement, 🐍 python, size:L, lgtm

#9236 Feat/new account page
  web/app/account/account-page/index.module.css
  web/app/account/account-page/index.tsx
  web/app/account/avatar.tsx
  web/app/account/header.tsx
  web/app/account/layout.tsx
  web/app/account/page.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-setting/index.tsx
  web/app/components/header/header-wrapper.tsx
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
Labels: 💪 enhancement, size:XL, lgtm, ☕️ typescript

#9264 chore: add abstract decorator and output log when query embedding fails
  api/core/embedding/cached_embedding.py
  api/core/rag/datasource/keyword/keyword_base.py
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
Labels: size:S, 👻 feat:rag, lgtm

#9289 chore: add baidu-obs and supabase for .env.example
  docker/.env.example
Labels: size:S, lgtm

#9287 Add Volcengine VikingDB as new vector provider
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/vdb/vikingdb_config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/core/rag/datasource/vdb/vikingdb/__init__.py
  api/core/rag/datasource/vdb/vikingdb/vikingdb_vector.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/vdb/__mock/vikingdb.py
  api/tests/integration_tests/vdb/vikingdb/__init__.py
  api/tests/integration_tests/vdb/vikingdb/test_vikingdb.py
  dev/pytest/pytest_vdb.sh
  docker/docker-compose.yaml
Labels: size:XL, 👻 feat:rag, lgtm

#9297 fix: remove the latest message from the user that does not have any answer yet
  api/core/memory/token_buffer_memory.py
Labels: 🐞 bug, size:XS, lgtm

#9302 refactor: Refactor the service of retrieval the recommend app
  api/services/recommend_app/__init__.py
  api/services/recommend_app/buildin/__init__.py
  api/services/recommend_app/buildin/buildin_retrieval.py
  api/services/recommend_app/database/__init__.py
  api/services/recommend_app/database/database_retrieval.py
  api/services/recommend_app/recommend_app_base.py
  api/services/recommend_app/recommend_app_factory.py
  api/services/recommend_app/recommend_app_type.py
  api/services/recommend_app/remote/__init__.py
  api/services/recommend_app/remote/remote_retrieval.py
  api/services/recommended_app_service.py
Labels: 💪 enhancement, size:XL, lgtm

#9274 chore: Optimize operations in Q&A mode
  web/app/components/base/popover/index.tsx
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/create/step-two/language-select/index.tsx
Labels: size:M, lgtm, ☕️ typescript

#9279 chore: add reopen preview btn
  web/app/components/datasets/create/step-two/index.tsx
Labels: size:XS, lgtm

#9316 fix: Add new Milvus Lite wheel for manylinux2014_aarch64
  api/poetry.lock
Labels: 🐞 bug, dependencies, size:XS, lgtm

#9308 fix: token refreshing logic issue
  web/app/components/swr-initor.tsx
  web/app/signin/normalForm.tsx
  web/app/signin/userSSOForm.tsx
  web/hooks/use-refresh-token.ts
Labels: 🐞 bug, size:M, lgtm, ☕️ typescript

#9314 chore(release): bump version to 0.9.2
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#8984 chore: disable chat service API passing `parent_message_id`
  api/controllers/service_api/app/completion.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/chat/app_generator.py
  api/core/app/entities/app_invoke_entities.py
Labels: size:M, lgtm

#9336 fix: poetry installation in CI jobs
  .github/workflows/api-tests.yml
  .github/workflows/style.yml
  api/README.md
Labels: 🐞 bug, size:S, lgtm

#9333 feat: Add fireworks custom llm intergration
  api/core/model_runtime/model_providers/fireworks/fireworks.yaml
  api/core/model_runtime/model_providers/fireworks/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#9340 feat: Add qwen2.5 72B Instruct model in Fireworks AI
  api/core/model_runtime/model_providers/fireworks/llm/qwen2p5-72b-instruct.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#9323 chore: clean-up unnecessary annotation on configs with non-null default value
  api/configs/middleware/vdb/oracle_config.py
  api/configs/middleware/vdb/pgvector_config.py
  api/configs/middleware/vdb/pgvectors_config.py
  api/configs/middleware/vdb/vikingdb_config.py
Labels: 💪 enhancement, size:M, lgtm

#9343 refactor: remove unnecessary 'closing' usage for boto3 client
  api/extensions/storage/aliyun_oss_storage.py
  api/extensions/storage/aws_s3_storage.py
  api/extensions/storage/google_cloud_storage.py
  api/extensions/storage/oracle_oci_storage.py
Labels: 💪 enhancement, size:M, lgtm

#9342 Adapt input type parameter with MiniMax embedding model
  api/core/model_runtime/model_providers/minimax/text_embedding/text_embedding.py
Labels: size:XS, 👻 feat:rag, lgtm

#9356 refactor: Add an enumeration type and use the factory pattern to obtain the corresponding class
  api/core/rag/datasource/keyword/keyword_factory.py
  api/core/rag/datasource/keyword/keyword_type.py
  api/services/auth/api_key_auth_factory.py
  api/services/auth/auth_type.py
  api/services/auth/firecrawl/__init__.py
  api/services/auth/firecrawl/firecrawl.py
  api/services/auth/jina/__init__.py
  api/services/auth/jina/jina.py
Labels: 💪 enhancement, size:M, lgtm

#8791 fix: In the output, the order of 'ta' is sometimes reversed as 'at'. #8015
  api/core/agent/output_parser/cot_output_parser.py
Labels: 🐞 bug, size:M, lgtm

#9326 fix: Azure OpenAI o1 max_completion_token and get_num_token_from_messages error
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/model_runtime/__mock/openai_moderation.py
  sdks/python-client/dify_client/__init__.py
  sdks/python-client/dify_client/client.py
  sdks/python-client/setup.py
  sdks/python-client/tests/test_client.py
Labels: 🐞 bug, dependencies, size:L, lgtm

#9362 fix: (#9336 followup) skip poetry preperation in style workflow when no change in api folder
  .github/workflows/db-migration-test.yml
  .github/workflows/style.yml
Labels: size:XS, lgtm

#9365 feat: add minimax abab6.5t support
  api/core/model_runtime/model_providers/minimax/llm/abab6.5t-chat.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#9334 fix: add missing vikingdb param in docker .env.example
  docker/.env.example
Labels: 📚 documentation, size:S, lgtm

#9319 fix: remove the stream option of zhipu and gemini
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-001.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-002.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-8b-exp-0827.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-8b-exp-0924.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-exp-0827.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash-latest.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-flash.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-001.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-002.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-exp-0801.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-exp-0827.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro-latest.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-1.5-pro.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-pro-vision.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-pro.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/chatglm_turbo.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-0520.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-air.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-airx.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flash.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_3_turbo.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_long.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_plus.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v_plus.yaml
Labels: 🐞 bug, size:L, lgtm

#9369 feat: Enable baiduvector intergration test
  api/tests/integration_tests/vdb/__mock/baiduvectordb.py
  api/tests/integration_tests/vdb/baidu/test_baidu.py
  dev/pytest/pytest_vdb.sh
Labels: size:M, lgtm

#9387 fix: use gpt-4o-mini for validating credentials
  api/core/model_runtime/model_providers/openai/openai.py
Labels: size:XS, lgtm

#9324 feat: storybook
  web/.eslintrc.json
  web/.gitignore
  web/.storybook/main.ts
  web/.storybook/preview.tsx
  web/.storybook/storybook.css
  web/README.md
  web/app/components/base/button/index.stories.tsx
  web/app/components/base/chat/chat/answer/__mocks__/markdownContent.ts
  web/app/components/base/chat/chat/answer/__mocks__/markdownContentSVG.ts
  web/app/components/base/chat/chat/answer/__mocks__/workflowProcess.ts
  web/app/components/base/chat/chat/answer/index.stories.tsx
  web/app/components/base/chat/chat/question.stories.tsx
  web/package.json
  web/yarn.lock
Labels: 💪 enhancement, size:XL, lgtm, ☕️ typescript

#9373 fix: Deprecated gemma2-9b model in Fireworks AI Provider
  api/core/model_runtime/model_providers/fireworks/llm/gemma2-9b-it.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#9393 feat: add timezone conversion for time tool
  api/core/tools/provider/builtin/time/tools/timezone_conversion.py
  api/core/tools/provider/builtin/time/tools/timezone_conversion.yaml
Labels: 💪 enhancement, size:M, 🔨 feat:tools, lgtm

#9396 Fix/economical knowledge retrieval
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:XS, lgtm

#9401 fix: incorrect webapp image displayed
  web/app/components/base/chat/chat-with-history/header-in-mobile.tsx
Labels: 🐞 bug, size:XS, lgtm

#9367 refactor: update the default values of top-k parameter in vdb to be consistent
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  api/core/rag/datasource/vdb/oracle/oraclevector.py
  api/core/rag/datasource/vdb/pgvecto_rs/pgvecto_rs.py
  api/core/rag/datasource/vdb/pgvector/pgvector.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
  api/core/rag/datasource/vdb/vikingdb/vikingdb_vector.py
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
Labels: size:M, 👻 feat:rag, lgtm

#9424 add clean 7 days datasets
  api/schedule/clean_unused_datasets_task.py
Labels: size:M, lgtm

#9426 update dataset clean rule
  api/configs/feature/__init__.py
  api/schedule/clean_unused_datasets_task.py
  api/schedule/clean_unused_messages_task.py
Labels: size:L, lgtm

#9433 fix https://github.com/langgenius/dify/issues/9409
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-sonnet-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-opus-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-sonnet-v1.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#9439 Update dify-sandbox version to 0.2.10
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: dependencies, size:XS, lgtm

#9416 Fix: rerank switch and validation before run
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/app/components/app/configuration/dataset-config/params-config/index.tsx
  web/app/components/workflow/hooks/use-workflow-start-run.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/use-config.ts
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
Labels: 🐞 bug, size:L, lgtm, ☕️ typescript

#9445 revert yarnlock
  web/yarn.lock
Labels: dependencies, size:XS, lgtm, javascript

#9441 fix: enable Tencent Cloud Vector integration test
  dev/pytest/pytest_vdb.sh
Labels: size:XS, lgtm

#9447 feat: add the workflow tool of comfyUI
  api/core/tools/provider/builtin/comfyui/comfyui.py
  api/core/tools/provider/builtin/comfyui/comfyui.yaml
  api/core/tools/provider/builtin/comfyui/tools/comfyui_client.py
  api/core/tools/provider/builtin/comfyui/tools/comfyui_stable_diffusion.yaml
  api/core/tools/provider/builtin/comfyui/tools/comfyui_workflow.py
  api/core/tools/provider/builtin/comfyui/tools/comfyui_workflow.yaml
Labels: size:L, 🌊 feat:workflow, lgtm

#9446 fix: remove the undefined variable line
  api/core/model_runtime/model_providers/sagemaker/speech2text/speech2text.py
Labels: 🐞 bug, size:XS, lgtm

#9450 fix(workflow): Implement automatic variable addition from opening statement to start node
  web/app/components/base/features/feature-panel/index.tsx
  web/app/components/base/features/feature-panel/opening-statement/index.tsx
  web/app/components/workflow/features.tsx
Labels: 🐞 bug, size:M, lgtm

#9458 feat: add yi-lightning llm model for yi
  api/core/model_runtime/model_providers/yi/llm/_position.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-lightning.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#9470 fix: add missing vector type to migrate command
  api/commands.py
Labels: size:M, lgtm

#9462 fix: update mismatch vector type
  api/core/rag/datasource/vdb/pgvecto_rs/pgvecto_rs.py
Labels: size:XS, lgtm

#9455 feat: add parameter top-k for the llm model provided by openrouter and siliconflow
  api/core/model_runtime/model_providers/openrouter/llm/deepseek-chat.yaml
  api/core/model_runtime/model_providers/openrouter/llm/deepseek-coder.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-3.5-turbo.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4-32k.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4o-2024-08-06.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4o-mini.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4o.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3-70b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3-8b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.1-405b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.1-70b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.1-8b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/mistral-7b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/mixtral-8x22b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/mixtral-8x7b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/o1-mini.yaml
  api/core/model_runtime/model_providers/openrouter/llm/o1-preview.yaml
  api/core/model_runtime/model_providers/openrouter/llm/qwen2-72b-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/qwen2.5-72b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepdeek-coder-v2-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-v2-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-v2.5.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/gemma-2-27b-it.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/gemma-2-9b-it.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/glm4-9b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/internlm2_5-20b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/internlm2_5-7b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3-70b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3-8b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3.1-405b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3.1-70b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3.1-8b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/mistral-7b-instruct-v0.2.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/mistral-8x7b-instruct-v0.1.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2-1.5b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2-57b-a14b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2-72b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2-7b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-14b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-32b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-72b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-7b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/yi-1.5-34b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/yi-1.5-6b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/yi-1.5-9b-chat.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#9469 controller test
  api/app.py
  api/app_factory.py
  api/tests/integration_tests/controllers/app_fixture.py
  api/tests/integration_tests/controllers/test_controllers.py
Labels: 💪 enhancement, size:L, lgtm

#9453 fix fetch apps
  web/app/(commonLayout)/apps/Apps.tsx
Labels: 🐞 bug, size:XS, lgtm

#9478 fix: resolve the error with the db-pool-stat endpoint
  api/app.py
Labels: 🐞 bug, size:XS, lgtm

#9482 feat: add yi custom llm intergration
  api/core/model_runtime/model_providers/yi/llm/llm.py
  api/core/model_runtime/model_providers/yi/yi.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#9479 Added Llama 3.2 Vision Models Speech2Text Models for Groq
  api/core/model_runtime/model_providers/groq/groq.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-11b-vision-preview.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-90b-vision-preview.yaml
  api/core/model_runtime/model_providers/groq/speech2text/__init__.py
  api/core/model_runtime/model_providers/groq/speech2text/distil-whisper-large-v3-en.yaml
  api/core/model_runtime/model_providers/groq/speech2text/speech2text.py
  api/core/model_runtime/model_providers/groq/speech2text/whisper-large-v3-turbo.yaml
  api/core/model_runtime/model_providers/groq/speech2text/whisper-large-v3.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#8960 add yuqye（https://www.yuque.com）tools
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/aliyuque/_assets/icon.svg
  api/core/tools/provider/builtin/aliyuque/aliyuque.py
  api/core/tools/provider/builtin/aliyuque/aliyuque.yaml
  api/core/tools/provider/builtin/aliyuque/tools/base.py
  api/core/tools/provider/builtin/aliyuque/tools/create_document.py
  api/core/tools/provider/builtin/aliyuque/tools/create_document.yaml
  api/core/tools/provider/builtin/aliyuque/tools/delete_document.py
  api/core/tools/provider/builtin/aliyuque/tools/delete_document.yaml
  api/core/tools/provider/builtin/aliyuque/tools/describe_book_index_page.py
  api/core/tools/provider/builtin/aliyuque/tools/describe_book_index_page.yaml
  api/core/tools/provider/builtin/aliyuque/tools/describe_book_table_of_contents.py
  api/core/tools/provider/builtin/aliyuque/tools/describe_book_table_of_contents.yaml
  api/core/tools/provider/builtin/aliyuque/tools/describe_document_content.py
  api/core/tools/provider/builtin/aliyuque/tools/describe_document_content.yaml
  api/core/tools/provider/builtin/aliyuque/tools/describe_documents.py
  api/core/tools/provider/builtin/aliyuque/tools/describe_documents.yaml
  api/core/tools/provider/builtin/aliyuque/tools/update_book_table_of_contents.py
  api/core/tools/provider/builtin/aliyuque/tools/update_book_table_of_contents.yaml
  api/core/tools/provider/builtin/aliyuque/tools/update_document.py
  api/core/tools/provider/builtin/aliyuque/tools/update_document.yaml
Labels: size:XL, 🔨 feat:tools, lgtm

#9495 feat: Add volcengine tos storage test
  api/tests/unit_tests/oss/__mock/__init__.py
  api/tests/unit_tests/oss/__mock/volcengine_tos.py
  api/tests/unit_tests/oss/volcengine_tos/__init__.py
  api/tests/unit_tests/oss/volcengine_tos/test_volcengine_tos.py
Labels: 💪 enhancement, size:L

#9505 refine wording in license
  LICENSE
Labels: 📚 documentation, size:XS, lgtm

#9502 fix: resolve the error of docker-compose startup when the storage is baidu-obs
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#9511 Resolve 9508 openai compatible rerank
  api/core/model_runtime/model_providers/openai_api_compatible/openai_api_compatible.yaml
  api/core/model_runtime/model_providers/openai_api_compatible/rerank/__init__.py
  api/core/model_runtime/model_providers/openai_api_compatible/rerank/rerank.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#9514 feat: Add custom username and avatar define in discord tool
  api/core/tools/provider/builtin/discord/tools/discord_webhook.py
  api/core/tools/provider/builtin/discord/tools/discord_webhook.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#9518 fix: ignore all files except for .gitkeep under docker/nginx/ssl by gitignore
  .gitignore
Labels: size:XS, lgtm

#9486 refactor wenxin rerank
  api/core/model_runtime/model_providers/wenxin/rerank/rerank.py
Labels: 💪 enhancement, size:M, lgtm

#9406 fix: draft run workflow node with image will raise error
  api/core/workflow/workflow_entry.py
Labels: 🐞 bug, size:XS, lgtm

#8119 New Auth Methods
  web/app/account/account-page/index.tsx
  web/app/account/avatar.tsx
  web/app/activate/activateForm.tsx
  web/app/components/base/icons/assets/public/common/lock.svg
  web/app/components/header/account-setting/account-page/index.tsx
  web/app/components/signin/countdown.tsx
  web/app/components/swr-initor.tsx
  web/app/forgot-password/ChangePasswordForm.tsx
  web/app/forgot-password/ForgotPasswordForm.tsx
  web/app/install/installForm.tsx
  web/app/reset-password/check-code/page.tsx
  web/app/reset-password/layout.tsx
  web/app/reset-password/page.tsx
  web/app/reset-password/set-password/page.tsx
  web/app/signin/check-code/page.tsx
  web/app/signin/components/mail-and-code-auth.tsx
  web/app/signin/components/mail-and-password-auth.tsx
  web/app/signin/components/social-auth.tsx
  web/app/signin/components/sso-auth.tsx
  web/app/signin/forms.tsx
  web/app/signin/invite-settings/page.tsx
  web/app/signin/layout.tsx
  web/app/signin/normalForm.tsx
  web/app/signin/oneMoreStep.tsx
  web/app/signin/page.tsx
  web/app/signin/userSSOForm.tsx
  web/i18n/en-US/login.ts
  web/i18n/zh-Hans/login.ts
  web/i18n/zh-Hant/login.ts
  web/service/common.ts
  web/service/sso.ts
  web/types/feature.ts
Labels: 💪 enhancement, size:XXL, lgtm

#9530 fix(dockerfile): update libsqlite3 package version
  api/Dockerfile
Labels: dependencies, size:XS, lgtm
