Repository langgenius/dify, pull requests merged in 2024-11, with the labels that each got.

#10143 Refined README for better reading experience.
  README.md
Labels: 📚 documentation, size:L, lgtm

#10150 feat: synchronize input/output variables in the panel with generated code by the code generator
  web/app/components/workflow/nodes/_base/components/editor/code-editor/index.tsx
  web/app/components/workflow/nodes/code/code-parser.spec.ts
  web/app/components/workflow/nodes/code/code-parser.ts
  web/app/components/workflow/nodes/code/panel.tsx
  web/app/components/workflow/nodes/code/use-config.ts
Labels: 💪 enhancement, size:L, lgtm

#9474 Add VESSL AI OpenAI API-compatible model provider and LLM model
  api/core/model_runtime/model_providers/vessl_ai/__init__.py
  api/core/model_runtime/model_providers/vessl_ai/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/vessl_ai/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/vessl_ai/llm/__init__.py
  api/core/model_runtime/model_providers/vessl_ai/llm/llm.py
  api/core/model_runtime/model_providers/vessl_ai/vessl_ai.py
  api/core/model_runtime/model_providers/vessl_ai/vessl_ai.yaml
  api/tests/integration_tests/.env.example
  api/tests/integration_tests/model_runtime/vessl_ai/__init__.py
  api/tests/integration_tests/model_runtime/vessl_ai/test_llm.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#10151 refactor(service): handle unsupported DSL version with warning
  api/services/app_dsl_service/service.py
  api/tests/unit_tests/services/app_dsl_service/test_app_dsl_service.py
Labels: 💪 enhancement, size:S, lgtm

#10153 clean un-allowed special charters when doing indexing estimate
  api/core/indexing_runner.py
Labels: size:S, lgtm

#9952 fix: upload remote image preview
  web/app/components/base/file-uploader/file-uploader-in-attachment/file-item.tsx
  web/app/components/base/file-uploader/file-uploader-in-chat-input/file-item.tsx
  web/app/components/base/file-uploader/hooks.ts
  web/app/components/base/file-uploader/types.ts
  web/app/components/base/file-uploader/utils.ts
  web/app/components/base/image-uploader/image-list.tsx
  web/service/common.ts
Labels: 🐞 bug, size:M, lgtm

#10160 refactor(migration/model): update column types for workflow schema
  api/migrations/versions/2024_11_01_0623-09a8d1878d9b_update_workflows_graph_features_and_.py
  api/models/workflow.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#10158 feat: add gpustack model provider
  api/core/model_runtime/model_providers/gpustack/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/gpustack/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/gpustack/_assets/icon_s_en.png
  api/core/model_runtime/model_providers/gpustack/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/gpustack/gpustack.py
  api/core/model_runtime/model_providers/gpustack/gpustack.yaml
  api/core/model_runtime/model_providers/gpustack/llm/__init__.py
  api/core/model_runtime/model_providers/gpustack/llm/llm.py
  api/core/model_runtime/model_providers/gpustack/rerank/__init__.py
  api/core/model_runtime/model_providers/gpustack/rerank/rerank.py
  api/core/model_runtime/model_providers/gpustack/text_embedding/__init__.py
  api/core/model_runtime/model_providers/gpustack/text_embedding/text_embedding.py
  api/tests/integration_tests/.env.example
  api/tests/integration_tests/model_runtime/gpustack/__init__.py
  api/tests/integration_tests/model_runtime/gpustack/test_embedding.py
  api/tests/integration_tests/model_runtime/gpustack/test_llm.py
  api/tests/integration_tests/model_runtime/gpustack/test_rerank.py
Labels: 📚 documentation, size:XL, ⚙️ feat:model-runtime, lgtm

#10157 fix: Cannot find declaration to go to CLEAN_DAY_SETTING
  api/schedule/clean_embedding_cache_task.py
Labels: 🐞 bug, size:XS, lgtm

#10172 fix(workflow model): ensure consistent timestamp updating
  api/models/workflow.py
Labels: size:XS, lgtm

#10154 [fix] fix the bug that modify document name not effective
  api/services/dataset_service.py
Labels: 🐞 bug, size:XS, lgtm

#10182 fix(tools): suppress RuntimeWarnings in podcast audio generator
  api/core/tools/provider/builtin/podcast_generator/tools/podcast_audio_generator.py
Labels: size:XS, lgtm

#10180 feat(document_extractor): integrate unstructured API for PPTX extraction
  api/core/workflow/nodes/document_extractor/node.py
Labels: size:S, 📚 feat:datasource, lgtm

#10194 fix(api): replace current_user with end_user in file upload
  api/controllers/web/remote_files.py
Labels: 🐞 bug, size:XS, lgtm

#10195 fix: webapp upload file
  web/app/components/base/file-uploader/hooks.ts
  web/service/common.ts
Labels: 🐞 bug, size:XS, lgtm

#10188 chore : code generator preview hint
  web/app/components/app/configuration/config/code-generator/get-code-generator-res.tsx
  web/i18n/en-US/app-debug.ts
  web/i18n/ja-JP/app-debug.ts
  web/i18n/zh-Hans/app-debug.ts
Labels: 💪 enhancement, size:S, lgtm

#10191 chore: enable vision support for models in OpenRouter that should have supported vision
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.2-11b-vision-instruct.yaml
  api/core/model_runtime/model_providers/openrouter/llm/llama-3.2-90b-vision-instruct.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#10187 Feat : add LLM model indicator in prompt generator
  web/app/components/app/configuration/config/automatic/get-automatic-res.tsx
Labels: 💪 enhancement, size:S

#10208 fix(document_extractor): update base exception class
  api/core/workflow/nodes/document_extractor/exc.py
Labels: 💪 enhancement, size:XS, lgtm

#10206 chore(list_operator): refine exception handling for error specificity
  api/core/workflow/nodes/list_operator/exc.py
  api/core/workflow/nodes/list_operator/node.py
Labels: 💪 enhancement, size:L, lgtm

#10175 refactor(validation): improve input validation logic
  api/core/app/apps/base_app_generator.py
Labels: 💪 enhancement, size:M, lgtm

#10211 Fix/10199 application error a client side exception has occurred see the browser console for more information
  web/app/components/workflow/nodes/_base/hooks/use-one-step-run.ts
Labels: 🐞 bug, size:M, lgtm

#10202 Add Lindorm as a VDB choice
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/vdb/lindorm_config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/lindorm/__init__.py
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/tests/integration_tests/vdb/lindorm/__init__.py
  api/tests/integration_tests/vdb/lindorm/test_lindorm.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XL, 👻 feat:rag, lgtm

#10213 Modify translation
  web/i18n/ja-JP/app.ts
Labels: size:XS

#10237 fix the ssrf of docx file extractor external images
  api/core/rag/extractor/word_extractor.py
Labels: 🐞 bug, size:XS, lgtm

#10216 chore(llm_node): remove unnecessary type ignore for context assignment
  api/core/workflow/nodes/llm/node.py
Labels: size:XS, lgtm

#10218 refactor(workflow): introduce specific exceptions for code validation
  api/core/workflow/nodes/code/code_node.py
  api/core/workflow/nodes/code/exc.py
Labels: size:M, 🌊 feat:workflow, lgtm

#10219 refactor(http_request): add custom exception handling for HTTP request nodes
  api/core/workflow/nodes/http_request/exc.py
  api/core/workflow/nodes/http_request/executor.py
  api/core/workflow/nodes/http_request/node.py
Labels: size:M, 🌊 feat:workflow, lgtm

#10221 refactor(workflow): introduce specific error handling for LLM nodes
  api/core/workflow/nodes/llm/exc.py
  api/core/workflow/nodes/llm/node.py
Labels: size:M, 🌊 feat:workflow, lgtm

#10222 refactor(list_operator): replace ValueError with InvalidKeyError
  api/core/workflow/nodes/list_operator/node.py
Labels: 💪 enhancement, size:XS, lgtm

#10226 fix: missing working directory parameter in script
  dev/reformat
Labels: 🐞 bug, size:XS, lgtm

#10176 feat(workflow): add configurable workflow file upload limit
  api/.env.example
  api/configs/feature/__init__.py
  api/controllers/common/fields.py
  api/controllers/common/helpers.py
  api/controllers/console/explore/parameter.py
  api/controllers/console/files/__init__.py
  api/controllers/service_api/app/app.py
  api/controllers/web/app.py
  api/core/app/app_config/features/file_upload/manager.py
  api/fields/file_fields.py
  api/models/__init__.py
  api/models/model.py
  docker/.env.example
  docker/docker-compose.yaml
  web/app/components/base/file-uploader/constants.ts
  web/app/components/base/file-uploader/hooks.ts
  web/app/components/workflow/nodes/_base/components/file-upload-setting.tsx
  web/models/common.ts
Labels: size:L, 🌊 feat:workflow, lgtm

#10243 Using a dedicated interface to obtain the token credential for the gitee.ai provider
  api/core/model_runtime/model_providers/gitee_ai/gitee_ai.py
Labels: 🐞 bug, size:S, lgtm

#10234 fix: buitin tool aippt
  api/core/tools/provider/builtin/aippt/tools/aippt.py
  api/core/workflow/nodes/tool/tool_node.py
Labels: size:M, lgtm

#10260 refactor(parameter_extractor): implement custom error classes
  api/core/workflow/nodes/parameter_extractor/exc.py
  api/core/workflow/nodes/parameter_extractor/parameter_extractor_node.py
Labels: 💪 enhancement, size:L, lgtm

#10265 feat: support Claude 3.5 Haiku on Amazon Bedrock
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-5-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-5-haiku-v1.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#10217 feat(document_extractor): support tool file in document extractor
  api/core/workflow/nodes/document_extractor/node.py
Labels: 💪 enhancement, size:XS, lgtm

#10257 fix(workflow): handle else condition branch addition error in if-else node
  web/app/components/workflow/nodes/if-else/use-config.ts
Labels: 🐞 bug, size:S, lgtm

#9493 feat: Iteration node support parallel mode
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/apps/workflow_app_runner.py
  api/core/app/entities/queue_entities.py
  api/core/app/entities/task_entities.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/workflow/entities/node_entities.py
  api/core/workflow/graph_engine/entities/event.py
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/iteration/entities.py
  api/core/workflow/nodes/iteration/iteration_node.py
  api/tests/unit_tests/core/workflow/nodes/iteration/test_iteration.py
  web/app/components/base/select/index.tsx
  web/app/components/workflow/constants.ts
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/hooks/use-workflow-run.ts
  web/app/components/workflow/nodes/_base/components/field.tsx
  web/app/components/workflow/nodes/_base/node.tsx
  web/app/components/workflow/nodes/iteration/default.ts
  web/app/components/workflow/nodes/iteration/node.tsx
  web/app/components/workflow/nodes/iteration/panel.tsx
  web/app/components/workflow/nodes/iteration/types.ts
  web/app/components/workflow/nodes/iteration/use-config.ts
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
  web/app/components/workflow/run/index.tsx
  web/app/components/workflow/run/iteration-result-panel.tsx
  web/app/components/workflow/run/node.tsx
  web/app/components/workflow/store.ts
  web/app/components/workflow/types.ts
  web/app/components/workflow/utils.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/types/workflow.ts
Labels: 💪 enhancement, size:XXL, 🌊 feat:workflow, lgtm

#9903 Updates: Add mplfonts library for customizing matplotlib fonts and Va…
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS, lgtm

#10068 refactor the logic of refreshing access_token
  web/app/account/avatar.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/swr-initor.tsx
  web/app/signin/normalForm.tsx
  web/hooks/use-refresh-token.ts
  web/service/base.ts
  web/service/refresh-token.ts
Labels: 🐞 bug, 💪 enhancement, size:L, lgtm

#10284 fix(node): correct file property name in function switch
  api/core/workflow/nodes/list_operator/node.py
  api/tests/unit_tests/core/workflow/nodes/test_list_operator.py
Labels: 🐞 bug, size:M, lgtm

#10287 feat(model): add validation for custom disclaimer length
  api/models/model.py
Labels: 💪 enhancement, size:S, lgtm

#10286 fix(model_runtime): fix wrong max_tokens for Claude 3.5 Haiku on Amazon Bedrock
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-5-haiku-v1.yaml
Labels: 🐞 bug, size:XS, lgtm

#10285 feat(model_runtime): add new model 'claude-3-5-haiku-20241022'
  api/core/model_runtime/model_providers/anthropic/llm/_position.yaml
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-5-haiku-20241022.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#10272 feat: add xAI model provider
  api/core/model_runtime/model_providers/x/__init__.py
  api/core/model_runtime/model_providers/x/_assets/x-ai-logo.svg
  api/core/model_runtime/model_providers/x/llm/__init__.py
  api/core/model_runtime/model_providers/x/llm/grok-beta.yaml
  api/core/model_runtime/model_providers/x/llm/llm.py
  api/core/model_runtime/model_providers/x/x.py
  api/core/model_runtime/model_providers/x/x.yaml
  api/tests/integration_tests/.env.example
  api/tests/integration_tests/model_runtime/x/__init__.py
  api/tests/integration_tests/model_runtime/x/test_llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#10258 fix: handle KeyError when accessing rules in CleanProcessor.clean
  api/core/indexing_runner.py
Labels: 🐞 bug, size:XS, lgtm

#10290 fix typo: writeOpner to writeOpener
  web/i18n/pl-PL/app-debug.ts
Labels: 🐞 bug, size:XS, lgtm

#10297 fix(http_request): improve parameter initialization and reorganize tests
  api/core/workflow/nodes/http_request/executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_node.py
Labels: 🐞 bug, size:L, lgtm

#10295 fix: iteration none output error
  api/factories/variable_factory.py
  api/tests/unit_tests/core/app/segments/test_factory.py
Labels: 🐞 bug, size:XS, lgtm

#10294 feat(vannaai): add base_url configuration
  api/core/tools/provider/builtin/vanna/tools/vanna.py
  api/core/tools/provider/builtin/vanna/vanna.py
  api/core/tools/provider/builtin/vanna/vanna.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#10331 feat: add support for anthropic/claude-3-5-haiku through OpenRouter
  api/core/model_runtime/model_providers/openrouter/llm/claude-3-5-haiku.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#10292 feat: The SSRF request timeout configuration item is added
  api/.env.example
  api/configs/feature/__init__.py
  api/core/helper/ssrf_proxy.py
Labels: 💪 enhancement, size:M, lgtm

#10332 Update README.md
  README.md
Labels: 📚 documentation, size:M, lgtm

#7947 feat: support png, gif, webp
  web/app/components/base/app-icon-picker/Uploader.tsx
  web/app/components/base/app-icon-picker/index.tsx
  web/app/components/base/app-icon-picker/utils.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#10353 fix(api): remove fixed source attribute from FileApi
  api/controllers/service_api/app/file.py
Labels: 🐞 bug, size:XS, lgtm

#10350 chore: update translation for 'account' from '계좌' to '계정'
  web/i18n/ko-KR/common.ts
Labels: size:XS

#10342 chore: lazy import sagemaker
  api/core/model_runtime/model_providers/sagemaker/llm/llm.py
  api/poetry.lock
  api/pyproject.toml
  api/services/external_knowledge_service.py
Labels: size:S, lgtm

#10347 chore(ci): bring back poetry cache to speed up CI jobs
  .github/workflows/api-tests.yml
  .github/workflows/db-migration-test.yml
  .github/workflows/style.yml
  .github/workflows/vdb-tests.yml
  api/README.md
Labels: dependencies, size:M, lgtm

#10364 fix: remove unsupported vision in OpenRouter Haiku 3.5
  api/core/model_runtime/model_providers/openrouter/llm/claude-3-5-haiku.yaml
Labels: 🐞 bug, size:XS, lgtm

#10375 fix: remove duplicated category “recommended”
  web/app/components/explore/category.tsx
Labels: 💪 enhancement, size:XS, lgtm

#10389 fix typo: mMaximum -> Maximum
  api/configs/feature/__init__.py
Labels: size:XS, lgtm

#10395 Adjusted docker manifests and environment variables for OceanBase vector database
  .gitignore
  api/.env.example
  docker/.env.example
  docker/docker-compose.yaml
  docker/volumes/oceanbase/init.d/vec_memory.sql
Labels: size:S, 👻 feat:rag, lgtm

#10383 fixed: web api remote urls error
  api/controllers/web/remote_files.py
Labels: 🐞 bug, size:XS, lgtm

#10365 refactor(question_classifier): improve error handling with custom exceptions
  api/core/workflow/nodes/question_classifier/exc.py
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/libs/json_in_md_parser.py
Labels: 💪 enhancement, size:S, lgtm

#10357 refactor(tool-node): introduce specific exceptions for tool node errors
  api/core/workflow/nodes/tool/exc.py
  api/core/workflow/nodes/tool/tool_node.py
Labels: size:M, lgtm

#10385 refactor(knowledge-retrieval): improve error handling with custom exceptions
  api/core/workflow/nodes/knowledge_retrieval/exc.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: 💪 enhancement, size:M, lgtm

#10366 refactor(iteration): introduce specific exceptions for iteration errors
  api/core/workflow/nodes/iteration/exc.py
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 💪 enhancement, size:M, lgtm

#10370 fix(remote-files): fallback to get when remote server not support head method
  api/controllers/console/error.py
  api/controllers/console/files.py
  api/controllers/console/files/errors.py
  api/controllers/console/remote_files.py
  api/controllers/web/remote_files.py
Labels: 🐞 bug, size:L, lgtm

#10410 chore: improve custom tool's display
  web/app/components/tools/edit-custom-collection-modal/config-credentials.tsx
  web/app/components/tools/edit-custom-collection-modal/get-schema.tsx
  web/app/components/tools/edit-custom-collection-modal/index.tsx
  web/app/components/tools/provider/custom-create-card.tsx
Labels: 💪 enhancement, size:S, lgtm

#10412 fix typo: Retrieve Chunks API Docs
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:XS, lgtm

#9976 chore: use posixpath to wrapper filepath
  api/extensions/storage/aliyun_oss_storage.py
Labels: size:XS, lgtm

#10413 fix: simplify Enter key handling and remove unused ref
  web/app/components/base/chat/chat/chat-input-area/index.tsx
Labels: 🐞 bug, size:S, lgtm

#10428 fix: config violations when running db migtration ci tests
  .github/workflows/db-migration-test.yml
  api/.env.example
  api/configs/feature/__init__.py
  api/core/helper/ssrf_proxy.py
Labels: 🐞 bug, size:M, lgtm

#10431 fix(http_request): send form data
  api/core/workflow/nodes/http_request/executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_executor.py
Labels: 🐞 bug, size:M, lgtm

#10437 chore: use DEBUG in dify_config instead of parsing raw system environment variable in place
  api/app.py
  api/app_factory.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/chat/app_generator.py
  api/core/app/apps/completion/app_generator.py
  api/core/app/apps/workflow/app_generator.py
  api/core/model_manager.py
Labels: 💪 enhancement, size:M, lgtm

#10438 fix: (#10437 followup) fix conditions with DEBUG config
  api/app.py
  api/app_factory.py
Labels: size:XS, lgtm

#9828 feat: support LLM understand video
  api/.env.example
  api/configs/feature/__init__.py
  api/core/file/file_manager.py
  api/core/model_runtime/entities/__init__.py
  api/core/model_runtime/entities/message_entities.py
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
  api/core/workflow/nodes/llm/node.py
  web/app/components/app/configuration/index.tsx
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#10401 fix(ops_tracing): enhance error handle in celery tasks.
  api/core/ops/entities/config_entity.py
  api/core/ops/entities/trace_entity.py
  api/core/ops/ops_trace_manager.py
  api/tasks/ops_trace_task.py
Labels: 🐞 bug, size:M, lgtm

#10323 fix: correct output order in parallel mode for iteration nodes
  api/core/workflow/nodes/iteration/iteration_node.py
  web/i18n/en-US/workflow.ts
Labels: 🐞 bug, size:S, lgtm

#10456 feat: add cogVideo tool
  api/core/tools/provider/builtin/cogview/tools/cogvideo.py
  api/core/tools/provider/builtin/cogview/tools/cogvideo.yaml
  api/core/tools/provider/builtin/cogview/tools/cogvideo_job.py
  api/core/tools/provider/builtin/cogview/tools/cogvideo_job.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#10450 Fix conversation response issue
  api/controllers/service_api/app/conversation.py
Labels: 🐞 bug, size:XS, lgtm

#10445 fix segment enable service api
  api/services/dataset_service.py
  api/services/entities/knowledge_entities/knowledge_entities.py
Labels: 🐞 bug, size:M, lgtm

#10016 celery worker log format following LOG_FORMAT env#9404
  api/extensions/ext_celery.py
  api/poetry.lock
  api/pyproject.toml
Labels: size:XS, lgtm

#10463 embedding model check when init the knowledge
  api/controllers/console/datasets/datasets_document.py
Labels: size:XS, 👻 feat:rag, lgtm

#8893 feat: Add support for complete domain names in the new URL prefix.
  web/service/base.ts
Labels: 💪 enhancement, size:XS, lgtm

#10462 chore: make comfy workflow can generate image with a random seed
  api/core/tools/provider/builtin/comfyui/tools/comfyui_client.py
  api/core/tools/provider/builtin/comfyui/tools/comfyui_workflow.py
  api/core/tools/provider/builtin/comfyui/tools/comfyui_workflow.yaml
Labels: size:S, 🌊 feat:workflow, lgtm

#10449 update document and segment word count
  api/services/dataset_service.py
  api/tasks/batch_create_segment_to_index_task.py
Labels: 📚 documentation, size:M, lgtm

#10452 fix(migrations): correct schema reference in service API history migration
  api/migrations/versions/2024_10_09_1329-d8e744d88ed6_fix_wrong_service_api_history.py
Labels: 🐞 bug, size:XS, lgtm

#10471 feat(workflow-nodes): handle missing variables without failure
  api/core/workflow/nodes/code/code_node.py
  api/core/workflow/nodes/template_transform/template_transform_node.py
Labels: size:S, 🌊 feat:workflow, lgtm

#10472 fix(api): replace Raw field with FilesContainedField in MessageListApi inputs
  api/controllers/service_api/app/message.py
Labels: size:XS, lgtm

#10473 Fix/log tz
  api/.env.example
  api/configs/feature/__init__.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 🐞 bug, size:S, lgtm

#10477 fix(file_upload): correct validation method and add unit tests
  api/core/app/app_config/features/file_upload/manager.py
  api/tests/unit_tests/core/app/app_config/features/file_upload/test_manager.py
Labels: 🐞 bug, size:M, lgtm

#10417 fix: [VESSL-AI] edit some words in vessl_ai.yaml
  api/core/model_runtime/model_providers/vessl_ai/vessl_ai.yaml
Labels: 🐞 bug, size:S, lgtm

#10508 Fix: Correct the max tokens of Claude-3.5-Sonnet-20241022 for Bedrock and VertexAI
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-sonnet-v2.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/anthropic.claude-3.5-sonnet-v2.yaml
Labels: 🐞 bug, size:XS, lgtm

#10498 fix the error of unable to retrieve url from file
  api/core/file/file_manager.py
  api/core/tools/provider/builtin/podcast_generator/podcast_generator.yaml
  api/core/tools/provider/builtin/podcast_generator/tools/podcast_audio_generator.py
Labels: 🐞 bug, size:M, lgtm

#10511 Revert "fix the error of unable to retrieve url from file"
  api/core/file/file_manager.py
  api/core/tools/provider/builtin/podcast_generator/podcast_generator.yaml
  api/core/tools/provider/builtin/podcast_generator/tools/podcast_audio_generator.py
Labels: size:M, lgtm

#10517 feat(tools/podcast_generator): add support for setting openai base url with the podcast_generationor tool
  api/core/tools/provider/builtin/podcast_generator/podcast_generator.yaml
  api/core/tools/provider/builtin/podcast_generator/tools/podcast_audio_generator.py
Labels: size:S, 🔨 feat:tools, lgtm

#10518 feat: support tool search also can search toolProvider's name
  web/app/components/tools/add-tool-modal/index.tsx
  web/app/components/workflow/block-selector/all-tools.tsx
Labels: size:M, 🔨 feat:tools, lgtm

#10525 Support for incoming value modification
  web/app/components/base/markdown-blocks/form.tsx
Labels: size:M, lgtm, ☕️ typescript

#10421 The list action node adds methods to extract specific list objects
  api/core/workflow/nodes/list_operator/entities.py
  api/core/workflow/nodes/list_operator/node.py
  api/tests/unit_tests/core/workflow/nodes/test_list_operator.py
  web/app/components/workflow/nodes/list-operator/components/extract-input.tsx
  web/app/components/workflow/nodes/list-operator/default.ts
  web/app/components/workflow/nodes/list-operator/panel.tsx
  web/app/components/workflow/nodes/list-operator/types.ts
  web/app/components/workflow/nodes/list-operator/use-config.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:L, 🌊 feat:workflow, lgtm

#10478 refactor(code_executor): update input type annotations to use Mapping for better type safety
  api/core/helper/code_executor/__init__.py
  api/core/helper/code_executor/code_executor.py
  api/core/helper/code_executor/template_transformer.py
Labels: 💪 enhancement, size:S, lgtm

#10476 add jina rerank http timout parameter
  api/core/model_runtime/model_providers/jina/rerank/rerank.py
Labels: 💪 enhancement, size:XS, lgtm

#10512 Feat/iteration single run time
  api/core/app/apps/workflow_app_runner.py
  api/core/app/entities/queue_entities.py
  api/core/app/entities/task_entities.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/workflow/entities/node_entities.py
  api/core/workflow/graph_engine/entities/event.py
  api/core/workflow/nodes/iteration/iteration_node.py
  web/app/components/workflow/hooks/use-workflow-run.ts
  web/app/components/workflow/nodes/_base/node.tsx
  web/app/components/workflow/panel/workflow-preview.tsx
  web/app/components/workflow/run/index.tsx
  web/app/components/workflow/run/iteration-result-panel.tsx
  web/app/components/workflow/run/node.tsx
  web/app/components/workflow/run/tracing-panel.tsx
  web/i18n/en-US/workflow.ts
  web/types/workflow.ts
Labels: size:L, 🌊 feat:workflow, lgtm

#10529 fix: workflow start node form optional value
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/embedded-chatbot/hooks.tsx
Labels: 🐞 bug, size:XS, lgtm

#10534 chore: (dockerfile) upgrade perl version
  api/Dockerfile
Labels: dependencies, size:XS, lgtm

#10540 fix(gitee_ai): update English description for clarity and accuracy
  api/core/tools/provider/builtin/gitee_ai/gitee_ai.yaml
Labels: 📚 documentation, size:XS, lgtm

#10488 chore (vanna): update form parameter from 'form' to 'llm' in vanna.yaml
  api/core/tools/provider/builtin/vanna/tools/vanna.yaml
Labels: 💪 enhancement, size:XS, lgtm

#10544 fix: iteration invalid output selector doesn't throw an error
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 🐞 bug, size:XS, lgtm

#10539 chore: update version to 0.11.1 across all configurations and Docker images
  api/app.py
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: size:S, lgtm

#10465 fix issues:Image file not deleted when a doc is removed #9541
  api/core/tools/utils/web_reader_tool.py
  api/tasks/clean_dataset_task.py
  api/tasks/clean_document_task.py
Labels: 🐞 bug, size:M, lgtm

#10501 Fixes `you have not added provider None`
  api/core/tools/tool_manager.py
  api/services/tools/api_tools_manage_service.py
Labels: 🐞 bug, size:S, lgtm

#10561 fix: set default factory for extract_by in ListOperatorNodeData
  api/core/workflow/nodes/list_operator/entities.py
Labels: 🐞 bug, size:XS, lgtm

#10563 Fix: Set Celery LOG_File only when available, always log to console
  api/extensions/ext_celery.py
  api/extensions/ext_logging.py
Labels: 🐞 bug, size:S, lgtm

#10558 feat(settings): add chat color theme inverted toggle in settings modal
  web/app/components/app/overview/settings/index.tsx
Labels: 💪 enhancement, size:XS, lgtm

#10553 refactor(api): improve handling of `tools` field and cleanup variable usage
  api/core/tools/entities/api_entities.py
  api/services/tools/api_tools_manage_service.py
Labels: size:S, 🔨 feat:tools, lgtm

#10454 fix: retrieval setting validate
  web/app/components/app/configuration/dataset-config/index.tsx
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/app/components/app/configuration/dataset-config/params-config/index.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/default.ts
  web/app/components/workflow/nodes/knowledge-retrieval/types.ts
  web/app/components/workflow/nodes/knowledge-retrieval/use-config.ts
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
Labels: 🐞 bug, size:L, lgtm

#10550 fix: Page may lock if user close the page when refresh access_token
  web/service/refresh-token.ts
Labels: 🐞 bug, size:S, lgtm

#10578 fix: text-generation webapp file form
  web/app/components/share/text-generation/index.tsx
  web/app/components/share/text-generation/run-once/index.tsx
Labels: 🐞 bug, size:S, lgtm

#10582 chore(api): remove setting of expired remember_token cookie in after_request
  api/app.py
Labels: size:XS, lgtm

#10593 fix: Azure OpenAI o1 max_completion_token error
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#10592 add the index field for elasticsearch
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
Labels: size:XS, lgtm

#10493 feat: add builtin tools for send email
  api/core/tools/provider/builtin/email/_assets/icon.svg
  api/core/tools/provider/builtin/email/email.py
  api/core/tools/provider/builtin/email/email.yaml
  api/core/tools/provider/builtin/email/tools/send.py
  api/core/tools/provider/builtin/email/tools/send_mail.py
  api/core/tools/provider/builtin/email/tools/send_mail.yaml
  api/core/tools/provider/builtin/email/tools/send_mail_batch.py
  api/core/tools/provider/builtin/email/tools/send_mail_batch.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#10532 fix: remove unused queue `generation`
  api/docker/entrypoint.sh
Labels: 💪 enhancement, size:XS, lgtm

#10650 fix: `mp3` file upload not work
  web/app/components/base/prompt-editor/constants.tsx
Labels: 🐞 bug, size:XS, lgtm

#10606 Feat(tool): fal ai flux image generation
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/fal/_assets/icon.svg
  api/core/tools/provider/builtin/fal/fal.py
  api/core/tools/provider/builtin/fal/fal.yaml
  api/core/tools/provider/builtin/fal/tools/flux_1_1_pro.py
  api/core/tools/provider/builtin/fal/tools/flux_1_1_pro.yaml
  api/core/tools/provider/builtin/fal/tools/flux_1_1_pro_ultra.py
  api/core/tools/provider/builtin/fal/tools/flux_1_1_pro_ultra.yaml
  api/core/tools/provider/builtin/fal/tools/flux_1_dev.py
  api/core/tools/provider/builtin/fal/tools/flux_1_dev.yaml
  api/core/tools/provider/builtin/fal/tools/flux_1_pro_new.py
  api/core/tools/provider/builtin/fal/tools/flux_1_pro_new.yaml
Labels: size:XL, 🔨 feat:tools, lgtm

#10654 add abab7-chat-preview model
  api/core/model_runtime/model_providers/minimax/llm/abab7-chat-preview.yaml
  api/core/model_runtime/model_providers/minimax/llm/llm.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#10657 feat: add json response format for siliconflow models
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-v2.5.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/gemma-2-27b-it.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/gemma-2-9b-it.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/glm4-9b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/internlm2_5-20b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/internlm2_5-7b-chat.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/llm.py
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3.1-405b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3.1-70b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/meta-mlama-3.1-8b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-14b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-32b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-72b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-7b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-coder-7b-instruct.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/qwen2.5-math-72b-instruct.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#10682 check dataset is none
  api/tasks/document_indexing_task.py
Labels: size:XS, lgtm

#10686 Update expat version
  api/Dockerfile
Labels: 🐞 bug, dependencies, size:XS, lgtm

#10688 export configuration 'CODE_EXECUTION_TIMEOUT' to .env
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#10690 feat: update pr template
  .github/pull_request_template.md
Labels: 📚 documentation, size:M, lgtm

#10693 chore: update issue template
  .github/pull_request_template.md
Labels: 📚 documentation, size:XS

#10695 feat: add the audio tool
  api/core/tools/provider/builtin/audio/_assets/icon.svg
  api/core/tools/provider/builtin/audio/audio.py
  api/core/tools/provider/builtin/audio/audio.yaml
  api/core/tools/provider/builtin/audio/tools/asr.py
  api/core/tools/provider/builtin/audio/tools/asr.yaml
  api/core/tools/provider/builtin/audio/tools/tts.py
  api/core/tools/provider/builtin/audio/tools/tts.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#10697 fixed the Base URL usage issue in Podcast Generator tool verification
  api/core/tools/provider/builtin/podcast_generator/podcast_generator.py
Labels: 🐞 bug, size:S, lgtm

#10698 fix: non utf8 code decode close #10691
  api/core/workflow/nodes/document_extractor/node.py
  api/tests/unit_tests/core/workflow/nodes/test_document_extractor_node.py
Labels: 🐞 bug, size:S, lgtm

#10707 fix: typo in test
  api/tests/unit_tests/core/workflow/nodes/test_document_extractor_node.py
Labels: size:XS, lgtm

#10671 chore: Bump Alpine Linux to 3.20 in web dockerfile
  web/Dockerfile
Labels: dependencies, size:XS, lgtm

#10706 fix:position error when creating segments
  api/services/dataset_service.py
Labels: 🐞 bug, size:XS, lgtm

#10716 feat(tool): fal ai wizper ASR built-in tool
  api/core/tools/provider/builtin/fal/tools/wizper.py
  api/core/tools/provider/builtin/fal/tools/wizper.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: size:XL, 🔨 feat:tools, lgtm

#10713 fix(i18n): handle key naming error
  web/i18n/pt-BR/app-log.ts
Labels: 🐞 bug, size:XS, lgtm

#10714 chore(lint): bump ruff from 0.6.9 to 0.7.3
  api/core/model_runtime/model_providers/volcengine_maas/legacy/volc_sdk/common.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/vdb/__mock/baiduvectordb.py
  api/tests/integration_tests/vdb/__mock/upstashvectordb.py
  api/tests/unit_tests/oss/__mock/volcengine_tos.py
Labels: dependencies, size:S, lgtm

#10701 fix: create_blob_message of tool will always create image type file
  api/core/workflow/nodes/tool/tool_node.py
  api/factories/file_factory.py
Labels: 🐞 bug, size:S, lgtm

#10733 Feat/add reddit icon
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_PT.md
  README_TR.md
  README_VI.md
Labels: 📚 documentation, size:M, lgtm

#10731 Feat/add Slovensko (Slovenija)
  README_SI.md
  api/constants/languages.py
  web/i18n/README.md
  web/i18n/language.ts
  web/i18n/languages.json
  web/i18n/sl-SI/app-annotation.ts
  web/i18n/sl-SI/app-api.ts
  web/i18n/sl-SI/app-debug.ts
  web/i18n/sl-SI/app-log.ts
  web/i18n/sl-SI/app-overview.ts
  web/i18n/sl-SI/app.ts
  web/i18n/sl-SI/billing.ts
  web/i18n/sl-SI/common.ts
  web/i18n/sl-SI/custom.ts
  web/i18n/sl-SI/dataset-creation.ts
  web/i18n/sl-SI/dataset-documents.ts
  web/i18n/sl-SI/dataset-hit-testing.ts
  web/i18n/sl-SI/dataset-settings.ts
  web/i18n/sl-SI/dataset.ts
  web/i18n/sl-SI/explore.ts
  web/i18n/sl-SI/layout.ts
  web/i18n/sl-SI/login.ts
  web/i18n/sl-SI/register.ts
  web/i18n/sl-SI/run-log.ts
  web/i18n/sl-SI/share-app.ts
  web/i18n/sl-SI/tools.ts
  web/i18n/sl-SI/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm

#10425 chore(lint): cleanup repeated cause exception in logging.exception replaced by helpful message
  api/commands.py
  api/controllers/console/app/audio.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/workspace/models.py
  api/controllers/web/audio.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/message_based_app_generator.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/task_pipeline/message_cycle_manage.py
  api/core/helper/moderation.py
  api/core/helper/module_import_helper.py
  api/core/indexing_runner.py
  api/core/llm_generator/llm_generator.py
  api/core/model_runtime/model_providers/azure_ai_studio/rerank/rerank.py
  api/core/model_runtime/model_providers/sagemaker/rerank/rerank.py
  api/core/model_runtime/model_providers/sagemaker/speech2text/speech2text.py
  api/core/model_runtime/model_providers/sagemaker/text_embedding/text_embedding.py
  api/core/moderation/output_moderation.py
  api/core/ops/ops_trace_manager.py
  api/core/rag/datasource/vdb/couchbase/couchbase_vector.py
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  api/core/rag/datasource/vdb/opensearch/opensearch_vector.py
  api/core/rag/embedding/cached_embedding.py
  api/core/rag/extractor/word_extractor.py
  api/core/rag/index_processor/processor/qa_index_processor.py
  api/core/tools/provider/builtin/email/tools/send.py
  api/core/tools/tool/workflow_tool.py
  api/core/tools/tool_file_manager.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/message_transformer.py
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/base/node.py
  api/extensions/ext_storage.py
  api/libs/smtp.py
  api/models/dataset.py
  api/pyproject.toml
  api/services/account_service.py
  api/services/app_service.py
  api/services/tools/api_tools_manage_service.py
  api/services/tools/tools_transform_service.py
  api/tasks/annotation/delete_annotation_index_task.py
  api/tasks/annotation/disable_annotation_reply_task.py
  api/tasks/annotation/enable_annotation_reply_task.py
  api/tasks/batch_create_segment_to_index_task.py
Labels: size:L, lgtm

#10743 Fix: number maybe empty string
  api/core/app/apps/base_app_generator.py
Labels: 🐞 bug, size:XS, lgtm

#10403 feat: add license.
  api/controllers/console/app/app.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/error.py
  api/controllers/console/workspace/account.py
  api/controllers/console/workspace/tool_providers.py
  api/controllers/console/wraps.py
  api/services/feature_service.py
Labels: size:M, lgtm

#10408 Supports display license status
  web/app/components/header/index.tsx
  web/app/components/header/license-env/index.tsx
  web/app/signin/normalForm.tsx
  web/context/app-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/en-US/login.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/login.ts
  web/service/base.ts
  web/types/feature.ts
  web/utils/index.ts
Labels: 💪 enhancement, size:L, lgtm

#10645 fix: date filter key not unique
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/chartView.tsx
  web/app/components/app/log/filter.tsx
  web/app/components/app/log/index.tsx
Labels: 🐞 bug, size:M, lgtm
