Repository langgenius/dify, pull requests merged in 2024-02, with the labels that each got.

#2324 Change ZHIPU_MAX_LIMITS to 5. Fix issue 2323
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/core/_http_client.py
Labels: size:XS, lgtm

#2317 Fix/api tool
  api/controllers/console/workspace/tool_providers.py
  api/services/tools_manage_service.py
Labels: size:XS, lgtm

#2322 Optimization stable diffusion verify
  api/core/tools/provider/builtin/stablediffusion/stablediffusion.py
  api/core/tools/provider/builtin/stablediffusion/tools/stable_diffusion.py
Labels: size:M, lgtm

#2329 revert: remove unused session store codes
  api/services/account_service.py
Labels: size:XS, lgtm

#2318 fix: typo
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
Labels: size:XS, lgtm

#2330 fix: empty model features
  api/core/app_runner/assistant_app_runner.py
Labels: size:XS, lgtm

#2332 fix: check empty tool provider credentials
  api/core/tools/provider/builtin_tool_provider.py
Labels: size:S, lgtm

#2302 add option to prompt for a validation password when initializing admin user
  api/controllers/console/error.py
  api/controllers/console/init_validate.py
  api/controllers/console/setup.py
  docker/docker-compose.yaml
  web/app/init/InitPasswordPopup.tsx
  web/app/init/page.tsx
  web/app/install/installForm.tsx
  web/i18n/lang/login.en.ts
  web/i18n/lang/login.zh.ts
  web/models/common.ts
  web/service/base.ts
  web/service/common.ts
Labels: size:L, lgtm

#2334 fix: first agent latency
  api/core/features/assistant_fc_runner.py
Labels: size:XS, lgtm

#2337 Feat/current time tool zone
  api/core/features/assistant_fc_runner.py
  api/core/tools/provider/builtin/time/tools/current_time.py
  api/core/tools/provider/builtin/time/tools/current_time.yaml
Labels: size:L, lgtm

#2336 feat: add xinference llm context size
  api/core/model_runtime/model_providers/xinference/llm/llm.py
  api/core/model_runtime/model_providers/xinference/xinference_helper.py
Labels: size:S, lgtm

#2344 fix: ignore spark provider credential validate
  api/core/model_runtime/model_providers/spark/spark.py
Labels: bug

#2339 chore(web): strong typing
  web/app/components/app/configuration/config/agent/agent-tools/setting-built-in-tool.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/tools/edit-custom-collection-modal/index.tsx
  web/app/components/tools/index.tsx
  web/app/components/tools/setting/build-in/config-credentials.tsx
  web/app/components/tools/tool-list/index.tsx
  web/service/billing.ts
  web/service/tools.ts
Labels: size:M, lgtm

#2345 Refactor error handling in GenerateTaskPipeline class
  api/core/app_runner/generate_task_pipeline.py
Labels: size:M, lgtm

#2351 fix [baichuan] Error: argument of type 'NoneType' is not iterable
  api/core/model_runtime/model_providers/baichuan/llm/baichuan2-53b.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan2-turbo-192k.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan2-turbo.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan_turbo.py
Labels: bug, size:S, lgtm

#2341 Feat/move tenant id into db
  api/controllers/console/auth/login.py
  api/migrations/versions/16830a790f0f_.py
  api/models/account.py
  api/services/account_service.py
Labels: size:L, lgtm

#2355 fix: frontend security risk
  web/app/(commonLayout)/apps/NewAppDialog.tsx
  web/app/(commonLayout)/apps/page.tsx
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout.tsx
  web/app/(commonLayout)/datasets/DatasetFooter.tsx
  web/app/components/app/configuration/config-prompt/conversation-histroy/history-panel.tsx
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/app/configuration/prompt-mode/advanced-mode-waring.tsx
  web/app/components/app/configuration/toolbox/moderation/moderation-setting-modal.tsx
  web/app/components/app/configuration/tools/external-data-tool-modal.tsx
  web/app/components/app/log/index.tsx
  web/app/components/app/overview/apikey-info-panel/index.tsx
  web/app/components/app/overview/customize/index.tsx
  web/app/components/app/overview/settings/index.tsx
  web/app/components/billing/billing-page/index.tsx
  web/app/components/custom/custom-page/index.tsx
  web/app/components/custom/custom-web-app-brand/index.tsx
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/hit-testing/modify-retrieval-modal.tsx
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/header/account-about/index.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-setting/api-based-extension-page/empty.tsx
  web/app/components/header/account-setting/api-based-extension-page/modal.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/github-star/index.tsx
  web/app/components/share/chat/welcome/index.tsx
  web/app/components/share/chatbot/welcome/index.tsx
  web/app/components/share/text-generation/index.tsx
  web/app/components/tools/contribute.tsx
  web/app/components/tools/edit-custom-collection-modal/index.tsx
  web/app/signin/normalForm.tsx
  web/utils/index.ts
Labels: size:L, lgtm

#2354 add gpt-3.5-turbo-0125 to trail llm list
  api/core/hosting_configuration.py
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
Labels: size:XS, lgtm

#2356 fix: unsafe external link
  web/app/activate/activateForm.tsx
  web/app/components/base/markdown.tsx
  web/app/components/header/account-setting/Integrations-page/index.tsx
  web/app/components/header/account-setting/key-validator/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/account-setting/plugin-page/index.tsx
  web/app/install/installForm.tsx
  web/app/signin/normalForm.tsx
  web/app/signin/oneMoreStep.tsx
Labels: size:S, lgtm

#2361 fix: input not set min or max null value blur would set null
  web/app/components/header/account-setting/model-provider-page/model-modal/Input.tsx
Labels: size:XS, lgtm

#2373 chore: replace chat in web app
  web/app/(shareLayout)/chat/[token]/page.tsx
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat-with-history/config-panel/form.tsx
  web/app/components/base/chat/chat-with-history/config-panel/index.tsx
  web/app/components/base/chat/chat-with-history/context.tsx
  web/app/components/base/chat/chat-with-history/header-in-mobile.tsx
  web/app/components/base/chat/chat-with-history/header.tsx
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/chat-with-history/index.tsx
  web/app/components/base/chat/chat-with-history/sidebar/index.tsx
  web/app/components/base/chat/chat-with-history/sidebar/item.tsx
  web/app/components/base/chat/chat-with-history/sidebar/list.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/answer/operation.tsx
  web/app/components/base/chat/chat/answer/suggested-questions.tsx
  web/app/components/base/chat/chat/context.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/chat/chat/index.tsx
  web/app/components/base/chat/chat/try-to-ask.tsx
  web/app/components/base/chat/constants.ts
  web/app/components/base/chat/types.ts
  web/app/components/base/confirm/common.tsx
  web/app/components/base/icons/assets/vender/line/alertsAndFeedback/thumbs-down.svg
  web/app/components/base/icons/assets/vender/line/alertsAndFeedback/thumbs-up.svg
  web/app/components/base/icons/assets/vender/line/general/edit-05.svg
  web/app/components/base/icons/assets/vender/line/general/menu-01.svg
  web/app/components/base/icons/assets/vender/line/general/pin-01.svg
  web/app/components/base/icons/assets/vender/solid/shapes/star-06.svg
  web/app/components/base/icons/src/vender/line/alertsAndFeedback/ThumbsDown.json
  web/app/components/base/icons/src/vender/line/alertsAndFeedback/ThumbsDown.tsx
  web/app/components/base/icons/src/vender/line/alertsAndFeedback/ThumbsUp.json
  web/app/components/base/icons/src/vender/line/alertsAndFeedback/ThumbsUp.tsx
  web/app/components/base/icons/src/vender/line/alertsAndFeedback/index.ts
  web/app/components/base/icons/src/vender/line/general/Edit05.json
  web/app/components/base/icons/src/vender/line/general/Edit05.tsx
  web/app/components/base/icons/src/vender/line/general/Menu01.json
  web/app/components/base/icons/src/vender/line/general/Menu01.tsx
  web/app/components/base/icons/src/vender/line/general/Pin01.json
  web/app/components/base/icons/src/vender/line/general/Pin01.tsx
  web/app/components/base/icons/src/vender/line/general/index.ts
  web/app/components/base/icons/src/vender/solid/shapes/Star06.json
  web/app/components/base/icons/src/vender/solid/shapes/Star06.tsx
  web/app/components/base/icons/src/vender/solid/shapes/index.ts
  web/app/components/explore/index.tsx
  web/app/components/explore/installed-app/index.tsx
  web/app/components/share/chat/index.tsx
  web/models/share.ts
  web/service/share.ts
  web/types/app.ts
Labels: size:XXL, lgtm

#2376 fix: webapp stop chat & citation
  web/app/components/app/chat/citation/popup.tsx
  web/app/components/app/configuration/debug/debug-with-single-model/index.tsx
  web/app/components/app/configuration/debug/hooks.tsx
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/chat/types.ts
Labels: size:M, lgtm

#2377 fix variable invalid when key only one character
  api/core/prompt/prompt_template.py
Labels: size:XS

#2378 fix: webapp language
  web/app/components/base/chat/chat-with-history/hooks.tsx
Labels: size:XS, lgtm

#2375 feat: bing search
  api/core/tools/provider/builtin/_positions.py
  api/core/tools/provider/builtin/bing/_assets/icon.png
  api/core/tools/provider/builtin/bing/bing.py
  api/core/tools/provider/builtin/bing/bing.yaml
  api/core/tools/provider/builtin/bing/tools/bing_web_search.py
  api/core/tools/provider/builtin/bing/tools/bing_web_search.yaml
Labels: size:XL, lgtm

#2384 fix: bad xinference error
  api/core/model_runtime/model_providers/xinference/llm/llm.py
  api/core/model_runtime/model_providers/xinference/text_embedding/text_embedding.py
Labels: size:XS, lgtm

#2379 Feat/add bing search
  api/core/tools/provider/builtin/bing/tools/bing_web_search.py
  api/core/tools/provider/builtin/bing/tools/bing_web_search.yaml
Labels: size:M, lgtm

#2386 feat: tool credentials cache and introduce _position.yaml
  api/core/helper/tool_provider_cache.py
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/_positions.py
  api/core/tools/utils/configuration.py
Labels: size:L, lgtm

#2388 chore: enchange pic uploading tip
  web/app/components/base/chat/chat/chat-input.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/share/text-generation/result/index.tsx
Labels: size:S, lgtm

#2389 fix: knowledge doc
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: size:S, lgtm

#2392 feat: add openai paid llm model.
  api/core/hosting_configuration.py
Labels: size:XS, lgtm

#2394 fix: error stop response api url in text generation and uniform url
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:L, lgtm

#2393 chore: show credit help link
  web/app/components/header/account-setting/model-provider-page/declarations.ts
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/tools/setting/build-in/config-credentials.tsx
  web/i18n/lang/tools.en.ts
  web/i18n/lang/tools.pt.ts
  web/i18n/lang/tools.zh.ts
Labels: size:S, lgtm

#2395 fix: missing variables in agent prompt
  api/core/app_runner/assistant_app_runner.py
  api/core/features/assistant_cot_runner.py
Labels: size:S, lgtm

#2396 fix:add translation for dataset knowledge and update document title
  web/app/(commonLayout)/datasets/Datasets.tsx
  web/i18n/lang/app.en.ts
  web/i18n/lang/app.pt.ts
  web/i18n/lang/app.zh.ts
  web/i18n/lang/dataset.pt.ts
  web/i18n/lang/explore.en.ts
  web/i18n/lang/explore.pt.ts
  web/i18n/lang/explore.zh.ts
Labels: size:S, lgtm

#2390 add built-in maths tool for local expression evaluation on NumExpr
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/maths/_assets/icon.svg
  api/core/tools/provider/builtin/maths/maths.py
  api/core/tools/provider/builtin/maths/maths.yaml
  api/core/tools/provider/builtin/maths/tools/eval_expression.py
  api/core/tools/provider/builtin/maths/tools/eval_expression.yaml
  api/requirements.txt
Labels: size:M, lgtm

#2400 Feat/show detailed custom api response when testing
  api/.env.example
  api/core/extension/api_based_extension_requestor.py
  api/core/helper/ssrf_proxy.py
  api/core/tools/tool/api_tool.py
  api/services/tools_manage_service.py
Labels: size:M, lgtm

#2398 feat: add moonshot support
  api/core/model_runtime/model_providers/moonshot/__init__.py
  api/core/model_runtime/model_providers/moonshot/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/moonshot/_assets/icon_s_en.png
  api/core/model_runtime/model_providers/moonshot/llm/__init__.py
  api/core/model_runtime/model_providers/moonshot/llm/_position.yaml
  api/core/model_runtime/model_providers/moonshot/llm/llm.py
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-128k.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-32k.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-8k.yaml
  api/core/model_runtime/model_providers/moonshot/moonshot.py
  api/core/model_runtime/model_providers/moonshot/moonshot.yaml
Labels: size:L, lgtm

#2404 fix:update document title in Apps component
  web/app/(commonLayout)/apps/Apps.tsx
  web/i18n/lang/app.en.ts
  web/i18n/lang/app.pt.ts
  web/i18n/lang/app.zh.ts
Labels: size:XS, lgtm

#2403 fix: error type get wrong
  api/core/app_runner/generate_task_pipeline.py
  api/core/hosting_configuration.py
Labels: size:XS, lgtm

#2405 fix: webapp variable input & app unavailable status
  web/app/components/base/chat/chat-with-history/config-panel/form-input.tsx
  web/app/components/base/chat/chat-with-history/config-panel/form.tsx
  web/app/components/base/chat/chat-with-history/context.tsx
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/chat-with-history/index.tsx
Labels: size:L, lgtm

#2406 fix: moonshot context size error
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-128k.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-32k.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-8k.yaml
Labels: size:S

#2407 version to 0.5.4
  api/config.py
  api/requirements.txt
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2414 fix: api based extension modal title
  web/app/components/app/configuration/tools/external-data-tool-modal.tsx
  web/i18n/lang/app-debug.zh.ts
  web/i18n/lang/common.en.ts
  web/i18n/lang/common.pt.ts
  web/i18n/lang/common.zh.ts
Labels: size:XS, lgtm

#2411 fix: typo in package path of core.splitter
  api/core/indexing_runner.py
  api/core/splitter/fixed_text_splitter.py
Labels: size:XS, lgtm

#2415 fix: studio/api doc
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:S, lgtm

#2412 chore: apply F811 linter rule to eliminate redefined imports and methods
  api/controllers/service_api/dataset/document.py
  api/core/model_runtime/model_providers/spark/llm/_client.py
  api/core/third_party/spark/spark_llm.py
  api/libs/gmpy2_pkcs10aep_cipher.py
  api/pyproject.toml
Labels: size:M, lgtm

#2409 feat: add support for smtp when send email
  api/.env.example
  api/config.py
  api/extensions/ext_mail.py
  api/libs/smtp.py
  docker/docker-compose.yaml
Labels: size:M, lgtm

#2418 fix: chat agent mode content copy
  web/app/components/base/chat/chat/answer/agent-content.tsx
  web/app/components/base/chat/chat/answer/basic-content.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/answer/more.tsx
  web/app/components/base/chat/chat/answer/operation.tsx
  web/app/components/base/chat/chat/answer/suggested-questions.tsx
  web/app/components/base/chat/chat/chat-input.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/chat/chat/index.tsx
  web/app/components/base/chat/chat/question.tsx
  web/app/components/base/chat/chat/try-to-ask.tsx
Labels: size:L, lgtm

#2420 chore: apply ruff's pyflakes linter rules
  api/controllers/console/app/app.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/datasets/hit_testing.py
  api/controllers/console/explore/parameter.py
  api/controllers/files/image_preview.py
  api/controllers/files/tool_files.py
  api/controllers/service_api/app/app.py
  api/controllers/service_api/dataset/segment.py
  api/controllers/web/app.py
  api/core/app_runner/assistant_app_runner.py
  api/core/app_runner/basic_app_runner.py
  api/core/features/assistant_base_runner.py
  api/core/features/assistant_cot_runner.py
  api/core/features/assistant_fc_runner.py
  api/core/index/vector_index/vector_index.py
  api/core/model_manager.py
  api/core/model_runtime/callbacks/logging_callback.py
  api/core/model_runtime/model_providers/baichuan/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/wenxin/llm/ernie_bot.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/_client.py
  api/core/prompt/output_parser/rule_config_generator.py
  api/core/tools/model/tool_model_manager.py
  api/core/tools/provider/builtin/yahoo/tools/analytics.py
  api/core/tools/provider/builtin/yahoo/tools/news.py
  api/core/tools/provider/builtin/yahoo/tools/ticker.py
  api/core/tools/tool/tool.py
  api/libs/helper.py
  api/pyproject.toml
  api/services/dataset_service.py
  api/services/tools_manage_service.py
Labels: size:L, lgtm

#2426 clean: remove no-use ecc_aes.py
  api/libs/ecc_aes.py
Labels: size:M

#2422 fix: possible unsent function call in the last chunk of streaming response in OpenAI provider
  api/core/model_runtime/model_providers/openai/llm/llm.py
Labels: size:XS, lgtm

#2434 fix: List not found in account service
  api/core/entities/message_entities.py
  api/core/model_runtime/docs/en_US/provider_scale_out.md
  api/core/model_runtime/docs/zh_Hans/customizable_model_scale_out.md
  api/core/model_runtime/docs/zh_Hans/interfaces.md
  api/core/model_runtime/docs/zh_Hans/predefined_model_scale_out.md
  api/services/account_service.py
Labels: size:S

#2408 fix recreating users' default tenant relations when loading user
  api/services/account_service.py
Labels: bug, size:S, lgtm

#2435 fix: account has no owner workspace by member inviting
  api/controllers/console/auth/login.py
  api/controllers/console/auth/oauth.py
  api/controllers/console/workspace/members.py
  api/services/account_service.py
Labels: bug, size:M

#2436 pref: optimize add hit count query performance when dataset hit
  api/core/callback_handler/index_tool_callback_handler.py
Labels: size:S

#2433 Fix tool provider credential caching issue
  api/core/tools/utils/configuration.py
  api/services/tools_manage_service.py
Labels: size:M, lgtm

#2437 fix: variable in opener
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat/hooks.ts
Labels: size:M, lgtm

#2444 Update SMTP environment variable name in docker-compose
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#2445 feat: add `introduction` field in log detail response of chat app
  api/fields/conversation_fields.py
Labels: size:XS

#2446 fix: baichuan frequency_penalty
  api/core/model_runtime/model_providers/baichuan/llm/baichuan_turbo.py
Labels: size:XS, lgtm

#2391 tts add voice choose
  api/controllers/console/app/audio.py
  api/controllers/console/explore/audio.py
  api/controllers/service_api/app/audio.py
  api/controllers/web/audio.py
  api/core/application_manager.py
  api/core/entities/application_entities.py
  api/core/model_manager.py
  api/core/model_runtime/docs/en_US/schema.md
  api/core/model_runtime/docs/zh_Hans/schema.md
  api/core/model_runtime/entities/model_entities.py
  api/core/model_runtime/model_providers/__base/tts_model.py
  api/core/model_runtime/model_providers/openai/tts/tts-1-hd.yaml
  api/core/model_runtime/model_providers/openai/tts/tts-1.yaml
  api/core/model_runtime/model_providers/openai/tts/tts.py
  api/core/model_runtime/model_providers/tongyi/tts/tts-1.yaml
  api/core/model_runtime/model_providers/tongyi/tts/tts.py
  api/services/app_model_config_service.py
  api/services/audio_service.py
  api/services/errors/audio.py
  web/app/components/app/configuration/base/feature-panel/index.tsx
  web/app/components/app/configuration/config-voice/param-config-content.tsx
  web/app/components/app/configuration/config-voice/param-config.tsx
  web/app/components/app/configuration/config/index.tsx
  web/app/components/app/configuration/debug/debug-with-multiple-model/text-generation-item.tsx
  web/app/components/app/configuration/debug/index.tsx
  web/app/components/app/configuration/features/chat-group/text-to-speech/index.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/base/chat/chat/answer/operation.tsx
  web/context/debug-configuration.ts
  web/i18n/lang/app-debug.en.ts
  web/i18n/lang/app-debug.zh.ts
  web/models/app.ts
  web/models/debug.ts
  web/service/apps.ts
  web/types/app.ts
Labels: size:XL, lgtm

#2449 Create pull_request_template.md
  .github/pull_request_template.md
Labels: size:M

#2451 Update pull_request_template.md
  .github/pull_request_template.md
Labels: size:XS

#2450 fix: tts voice language to zh-Hans instead of zh-CN
  api/controllers/console/app/audio.py
  api/core/model_runtime/model_providers/openai/tts/tts-1-hd.yaml
  api/core/model_runtime/model_providers/openai/tts/tts-1.yaml
  api/core/model_runtime/model_providers/tongyi/tts/tts-1.yaml
  web/app/components/app/configuration/config-voice/param-config-content.tsx
Labels: size:L

#2452 Tts add voice choose
  web/app/components/app/configuration/config-voice/param-config-content.tsx
  web/i18n/lang/common.en.ts
  web/i18n/lang/common.pt.ts
  web/i18n/lang/common.zh.ts
Labels: size:M, lgtm

#2453 Tts add voice choose
  api/core/model_runtime/model_providers/openai/tts/tts-1-hd.yaml
  api/core/model_runtime/model_providers/openai/tts/tts-1.yaml
  web/app/components/app/configuration/config-voice/param-config-content.tsx
  web/i18n/lang/app-debug.pt.ts
  web/i18n/lang/common.pt.ts
Labels: size:M, lgtm

#2432 Ignore SSE comments to support openrouter streaming
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: size:XS, lgtm, feat:model-runtime

#2454 Feature/display selected info for tts
  web/app/components/app/configuration/base/feature-panel/index.tsx
  web/app/components/app/configuration/config-voice/param-config-content.tsx
  web/app/components/app/configuration/features/chat-group/text-to-speech/index.tsx
  web/i18n/lang/common.en.ts
  web/i18n/lang/common.pt.ts
  web/i18n/lang/common.zh.ts
  web/utils/language.ts
  web/yarn.lock
Labels: size:L, lgtm

#2459 Display selected tts voice name
  api/core/model_runtime/model_providers/__base/tts_model.py
  api/core/model_runtime/model_providers/openai/tts/tts.py
  api/core/model_runtime/model_providers/tongyi/tts/tts.py
  web/app/components/app/configuration/config-vision/param-config.tsx
  web/app/components/app/configuration/config-voice/param-config-content.tsx
  web/app/components/app/configuration/features/chat-group/text-to-speech/index.tsx
  web/i18n/lang/app-debug.en.ts
  web/i18n/lang/app-debug.pt.ts
  web/i18n/lang/app-debug.zh.ts
  web/service/apps.ts
Labels: size:M, lgtm

#2463 fix: windows load provider file error
  api/core/tools/provider/builtin_tool_provider.py
Labels: size:XS, lgtm

#2268 Chore: Add type files and unit test ci for Node.js SDK
  .github/workflows/tool-test-sdks.yaml
  sdks/nodejs-client/index.d.ts
  sdks/nodejs-client/package.json
Labels: size:L, lgtm

#2467 fix: hybrid search may pass rerank enable false
  web/app/components/datasets/common/retrieval-method-config/index.tsx
Labels: size:XS, lgtm

#2468 fix: Add model_uid validation for model_uid in Xinference models
  api/core/model_runtime/model_providers/xinference/llm/llm.py
  api/core/model_runtime/model_providers/xinference/rerank/rerank.py
  api/core/model_runtime/model_providers/xinference/text_embedding/text_embedding.py
Labels: size:XS, lgtm

#2475 fix: credential verification of baichuan did not throw all errors
  api/core/model_runtime/model_providers/baichuan/llm/llm.py
Labels: size:XS

#2473 feat: added Ukrainian language support
  api/constants/languages.py
  web/i18n/i18next-config.ts
  web/i18n/lang/app-annotation.uk.ts
  web/i18n/lang/app-api.uk.ts
  web/i18n/lang/app-debug.uk.ts
  web/i18n/lang/app-log.uk.ts
  web/i18n/lang/app-overview.uk.ts
  web/i18n/lang/app.uk.ts
  web/i18n/lang/billing.uk.ts
  web/i18n/lang/common.uk.ts
  web/i18n/lang/custom.uk.ts
  web/i18n/lang/dataset-creation.uk.ts
  web/i18n/lang/dataset-documents.uk.ts
  web/i18n/lang/dataset-hit-testing.uk.ts
  web/i18n/lang/dataset-settings.uk.ts
  web/i18n/lang/dataset.uk.ts
  web/i18n/lang/explore.uk.ts
  web/i18n/lang/layout.uk.ts
  web/i18n/lang/login.uk.ts
  web/i18n/lang/register.uk.ts
  web/i18n/lang/share-app.uk.ts
  web/i18n/lang/tools.uk.ts
  web/utils/language.ts
Labels: size:XXL, lgtm

#2441 FEAT: add image styling in markdown
  web/app/components/base/markdown.tsx
Labels: enhancement, size:M, lgtm

#2481 remove: parameters in seeds
  api/core/model_runtime/model_providers/openai/llm/gpt-4-0125-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-1106-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-32k.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-turbo-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-vision-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4.yaml
Labels: size:S, lgtm

#2482 bump version to 0.5.6
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2483 Windows local deployment switch "tool“ interface failed
  api/core/tools/provider/builtin_tool_provider.py
Labels: size:XS, lgtm

#2488 fix: chat restart
  web/app/components/base/chat/chat/hooks.ts
Labels: size:XS, lgtm

#2490 fix: code-based extension
  web/app/components/app/configuration/config-var/index.tsx
  web/app/components/app/configuration/debug/index.tsx
  web/app/components/app/configuration/toolbox/moderation/form-generation.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/utils/model-config.ts
Labels: size:M, lgtm

#2489 fix: incorrect tool name
  api/core/tools/utils/parser.py
Labels: size:XS, lgtm

#2493 fix: audio to text
  api/controllers/console/app/audio.py
  api/services/audio_service.py
Labels: size:XS, lgtm

#2494 del doc support
  api/core/data_loader/file_extractor.py
  api/services/file_service.py
Labels: size:S, lgtm

#2491 Add default values for optional parameters in API tool and parser
  api/core/tools/tool/api_tool.py
  api/core/tools/utils/parser.py
Labels: size:S, lgtm

#2492 doc: typo in chat
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:XS, lgtm

#2497 feat: increase max tools
  web/config/index.ts
Labels: size:XS, lgtm

#2495 Refactor agent history organization and initialization of agent scrat…
  api/core/features/assistant_base_runner.py
  api/core/features/assistant_cot_runner.py
Labels: size:L, lgtm

#2500 Chore/delete chunk decode error alert
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: size:XS

#2499 FEAT: Add DuckDuckGo Search Tool for Enhanced Privacy-Focused Search Functionality
  api/core/tools/provider/builtin/duckduckgo/_assets/icon.svg
  api/core/tools/provider/builtin/duckduckgo/duckduckgo.py
  api/core/tools/provider/builtin/duckduckgo/duckduckgo.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/duckduckgo_search.py
  api/core/tools/provider/builtin/duckduckgo/tools/duckduckgo_search.yaml
  api/requirements.txt
Labels: size:M, lgtm, feat:tools

#2498 Feat/stream react
  api/core/features/assistant_cot_runner.py
Labels: size:L, lgtm

#2505 fix: api doc example error
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:XS, lgtm

#2507 update issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/document_issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/help_wanted.yml
  .github/ISSUE_TEMPLATE/translation_issue.yml
Labels: size:S, lgtm

#2513 fix: config not exists
  web/app/components/base/chat/chat/answer/operation.tsx
Labels: size:XS, lgtm

#2515 Fix #2512
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:XS, lgtm

#2519 fix: bing search response filter
  api/core/tools/entities/tool_entities.py
  api/core/tools/provider/builtin/bing/tools/bing_web_search.py
  api/core/tools/provider/builtin/bing/tools/bing_web_search.yaml
  web/app/components/app/configuration/config/agent/agent-tools/setting-built-in-tool.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/tools/utils/to-form-schema.ts
Labels: size:L, lgtm

#2530 fix: update current tenant id of account when switching tenant
  api/services/account_service.py
Labels: size:XS, lgtm

#2536 Fix/tool default value
  api/core/tools/entities/tool_entities.py
Labels: size:XS, lgtm

#2533 fix: tolerate exceptions in cleaning up index when vector db service unavailable
  api/tasks/remove_document_from_index_task.py
Labels: size:XS, lgtm

#2538 chore: add api key and value placeholder
  web/app/components/tools/edit-custom-collection-modal/config-credentials.tsx
  web/i18n/lang/tools.en.ts
  web/i18n/lang/tools.zh.ts
Labels: size:S, lgtm

#2539 Fix/langchain document schema
  api/core/callback_handler/index_tool_callback_handler.py
  api/core/indexing_runner.py
  api/core/rag/data_post_processor/reorder.py
  api/core/rag/extractor/notion_extractor.py
  api/core/rag/index_processor/index_processor_base.py
  api/core/rag/models/document.py
  api/core/rerank/rerank.py
  api/core/splitter/fixed_text_splitter.py
  api/core/splitter/text_splitter.py
  api/core/tool/web_reader_tool.py
  api/core/tools/utils/web_reader_tool.py
  api/tasks/annotation/add_annotation_to_index_task.py
  api/tasks/annotation/batch_import_annotations_task.py
  api/tasks/annotation/enable_annotation_reply_task.py
  api/tasks/annotation/update_annotation_to_index_task.py
Labels: size:XXL, lgtm

#2542 fix dev/reformat
  api/core/splitter/fixed_text_splitter.py
Labels: size:XS, lgtm

#2543 fix: webapp name
  web/app/components/base/chat/chat-with-history/config-panel/index.tsx
Labels: size:S, lgtm

#2545 Feat/openai llm trial paid config
  api/.env.example
  api/config.py
  api/core/hosting_configuration.py
Labels: size:M, lgtm

#2546 feat: openai llm get trial or paid models from config.
  api/.env.example
  api/config.py
Labels: size:XS, lgtm

#2547 Fix/new RAG bugs
  api/core/indexing_runner.py
  api/core/rag/datasource/retrieval_service.py
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/tasks/clean_dataset_task.py
Labels: size:S, lgtm

#2550 Update README_CN.md
  api/core/model_runtime/README_CN.md
Labels: size:XS, lgtm

#2520 feat: change max_question_num to 5
  web/app/components/app/configuration/features/chat-group/opening-statement/index.tsx
Labels: size:XS, lgtm

#2554 Feat/use searchparams as state
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/components/app/annotation/header-opts/index.tsx
  web/app/components/app/annotation/header-opts/style.module.css
  web/app/components/explore/app-list/index.tsx
  web/app/components/tools/index.tsx
  web/hooks/use-tab-searchparams.ts
Labels: size:M, lgtm

#2562 Feat/vdb migrate command
  api/commands.py
  api/core/indexing_runner.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
Labels: size:L, lgtm

#2563 Feat/json mode
  api/core/model_runtime/entities/defaults.py
  api/core/model_runtime/entities/model_entities.py
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/__base/large_language_model.py
  api/core/model_runtime/model_providers/anthropic/llm/claude-2.1.yaml
  api/core/model_runtime/model_providers/anthropic/llm/claude-2.yaml
  api/core/model_runtime/model_providers/anthropic/llm/claude-instant-1.yaml
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
  api/core/model_runtime/model_providers/google/llm/gemini-pro.yaml
  api/core/model_runtime/model_providers/google/llm/llm.py
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-0125.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-0613.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-1106.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-16k-0613.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-16k.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-instruct.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo.yaml
  api/core/model_runtime/model_providers/openai/llm/llm.py
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-1201.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-longcontext.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-turbo.yaml
  api/core/model_runtime/model_providers/wenxin/llm/ernie-bot-4.yaml
  api/core/model_runtime/model_providers/wenxin/llm/ernie-bot-8k.yaml
  api/core/model_runtime/model_providers/wenxin/llm/ernie-bot-turbo.yaml
  api/core/model_runtime/model_providers/wenxin/llm/ernie-bot.yaml
  api/core/model_runtime/model_providers/wenxin/llm/llm.py
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
  api/tests/integration_tests/model_runtime/wenxin/test_llm.py
Labels: size:XL, lgtm

#2560 fix typo in error message of supported keyword store
  api/core/rag/datasource/keyword/keyword_factory.py
Labels: size:XS, lgtm

#2564 chore: remove redundant casting flask app config into dict
  api/commands.py
  api/core/rag/datasource/keyword/keyword_factory.py
  api/core/rag/datasource/vdb/vector_factory.py
Labels: size:S, lgtm

#2566 Add Dify Meetup Event on Mar 9
  README.md
Labels: size:S

#2565 fix weaviate delete_by_ids
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
Labels: size:XS, lgtm

#2570 Fix some RAG bugs
  api/controllers/console/datasets/data_source.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/core/indexing_runner.py
  api/core/rag/datasource/retrieval_service.py
  api/core/rag/extractor/entity/extract_setting.py
  api/core/rag/extractor/extract_processor.py
  api/core/rag/extractor/html_extractor.py
  api/core/rag/extractor/notion_extractor.py
  api/tasks/document_indexing_sync_task.py
Labels: size:M, lgtm

#2572 fix: notion binding
  web/hooks/use-pay.tsx
Labels: size:XS, lgtm

#2573 fix mivlus delete by ids error
  api/core/rag/datasource/vdb/field.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
Labels: size:XS, lgtm

#2568 enhancement: improve client-side code
  web/app/components/base/button/index.tsx
  web/app/components/billing/billing-page/index.tsx
  web/app/components/header/account-setting/index.tsx
Labels: size:M, lgtm

#2574 fix: parameter type handling in API tool and parser
  api/core/tools/tool/api_tool.py
  api/core/tools/utils/parser.py
Labels: size:M, lgtm

#2581 Fix/hit test tsne issue
  api/celerybeat-schedule.db
  api/core/features/annotation_reply.py
  api/core/rag/datasource/retrieval_service.py
  api/services/hit_testing_service.py
Labels: size:S, lgtm

#2578 fix: correct the parent class of CacheEmbedding
  api/core/embedding/cached_embedding.py
Labels: size:XS, lgtm

#2584 fix: convert tool messages into user messages in react mode and fill …
  api/core/features/assistant_base_runner.py
  api/core/features/assistant_cot_runner.py
Labels: size:M, lgtm

#2580 enhancement: skip fetching to improve user experience when switching …
  web/app/components/base/logo/logo-site.tsx
  web/app/components/explore/app-list/index.tsx
  web/app/components/header/index.tsx
  web/models/explore.ts
  web/service/explore.ts
Labels: size:M, lgtm

#2591 Fix 500 error when creating from the template and the provider is None
  api/controllers/console/app/app.py
Labels: size:S, lgtm

#2594 feat:add mistral ai
  api/core/model_runtime/model_providers/mistralai/__init__.py
  api/core/model_runtime/model_providers/mistralai/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/mistralai/_assets/icon_s_en.png
  api/core/model_runtime/model_providers/mistralai/llm/_position.yaml
  api/core/model_runtime/model_providers/mistralai/llm/llm.py
  api/core/model_runtime/model_providers/mistralai/llm/mistral-large-latest.yaml
  api/core/model_runtime/model_providers/mistralai/llm/mistral-medium-latest.yaml
  api/core/model_runtime/model_providers/mistralai/llm/mistral-small-latest.yaml
  api/core/model_runtime/model_providers/mistralai/llm/open-mistral-7b.yaml
  api/core/model_runtime/model_providers/mistralai/llm/open-mixtral-8x7b.yaml
  api/core/model_runtime/model_providers/mistralai/mistralai.py
  api/core/model_runtime/model_providers/mistralai/mistralai.yaml
Labels: size:L, lgtm

#2596 fix: parameter `user` exceeded max length when invoking moonshot llm
  api/core/model_runtime/model_providers/moonshot/llm/llm.py
Labels: bug, size:XS, lgtm

#2597 doc: props.appDetail.api_base_url
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:S, lgtm

#2602 Fix/2559 upload powered by brand image not showing up
  api/services/workspace_service.py
  web/app/components/custom/custom-web-app-brand/index.tsx
Labels: size:S, lgtm

#2604 Fix: explore apps is not shown
  web/app/components/explore/app-list/index.tsx
Labels: size:XS, lgtm

#2606 fix: missing default user for APP service api
  api/controllers/service_api/app/__init__.py
  api/controllers/service_api/app/app.py
  api/controllers/service_api/app/audio.py
  api/controllers/service_api/app/completion.py
  api/controllers/service_api/app/conversation.py
  api/controllers/service_api/app/file.py
  api/controllers/service_api/app/message.py
  api/controllers/service_api/wraps.py
Labels: size:L

#2607 fix: AppParameterApi.get() got an unexpected keyword argument 'end_user'
  api/controllers/service_api/wraps.py
  api/core/app_runner/generate_task_pipeline.py
Labels: bug

#2608 fix: notion extractor raise 'NoneType' object has no attribute 'curre…
  api/core/rag/extractor/notion_extractor.py
Labels: size:XS, lgtm

#2609 Fix: default button behavior
  web/app/components/base/button/index.tsx
Labels: size:S, lgtm

#2610 version to 0.5.7
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2613 feat: support auth type like basic bearer and custom
  api/core/tools/provider/api_tool_provider.py
  api/core/tools/tool/api_tool.py
  web/app/components/tools/edit-custom-collection-modal/config-credentials.tsx
  web/app/components/tools/edit-custom-collection-modal/index.tsx
  web/app/components/tools/tool-list/index.tsx
  web/app/components/tools/types.ts
  web/i18n/en-US/tools.ts
  web/i18n/pt-BR/tools.ts
  web/i18n/uk-UA/tools.ts
  web/i18n/zh-Hans/tools.ts
Labels: size:L, lgtm

#2623 fix: wrong default model parameters when creating app
  api/constants/model_template.py
Labels: size:M

#2622 fix: model parameter load presets config
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: size:S, lgtm

#2325 chore: bump superlinter action from v5 to v6
  .github/workflows/style.yml
Labels: size:XS, lgtm

#2620 generalize the generation of new collection name by dataset id
  api/commands.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
  api/models/dataset.py
  api/services/dataset_service.py
Labels: size:S, lgtm

#2621 fix: remove unnecessary credentials of custom tool
  web/app/components/tools/edit-custom-collection-modal/index.tsx
  web/app/components/tools/edit-custom-collection-modal/test-api.tsx
Labels: size:S, lgtm

#2626 add logs for vdb-migrate command
  api/commands.py
Labels: size:S, lgtm

#2628 fix: default mail type invalid in .env.example
  api/.env.example
Labels: size:XS

#2632 FEAT: Add arxiv tool for searching scientific papers and articles fro…
  api/core/tools/provider/builtin/arxiv/_assets/icon.svg
  api/core/tools/provider/builtin/arxiv/arxiv.py
  api/core/tools/provider/builtin/arxiv/arxiv.yaml
  api/core/tools/provider/builtin/arxiv/tools/arxiv_search.py
  api/core/tools/provider/builtin/arxiv/tools/arxiv_search.yaml
  api/requirements.txt
Labels: size:M, lgtm
