Repository langgenius/dify, pull requests merged in 2024-01, with the labels that each got.

#1859 Add data clean schedule
  api/docker/entrypoint.sh
  api/extensions/ext_celery.py
  api/requirements.txt
  api/schedule/clean_embedding_cache_task.py
  api/schedule/clean_unused_datasets_task.py
Labels: size:L

#1860 fix file estimate issue
  api/controllers/console/datasets/datasets_document.py
Labels: size:XS

#1861 frontend for model runtime
  web/app/components/app/chat/answer/index.tsx
  web/app/components/app/configuration/debug/index.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/header/account-setting/model-provider-page/declarations.ts
  web/app/components/header/account-setting/model-provider-page/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-display/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Input.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-name/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/deprecated-model-trigger.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/feature-icon.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/model-trigger.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/popup-item.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-list.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/quota-panel.tsx
  web/app/components/header/account-setting/model-provider-page/provider-card/index.tsx
  web/app/components/share/chat/index.tsx
  web/i18n/lang/common.en.ts
  web/i18n/lang/common.zh.ts
  web/service/base.ts
  web/service/debug.ts
  web/service/share.ts
  web/yarn.lock
Labels: size:L

#1863 fix: agent strategy missing in app model config
  api/core/application_manager.py
Labels: size:XS

#1864 fix: default model parameter precision
  api/core/model_runtime/entities/defaults.py
Labels: size:XS

#1865 fix: hit testing throws errors cause internal server error
  api/controllers/console/datasets/hit_testing.py
Labels: size:XS

#1866 fix: provider create cause IntegrityError
  api/core/provider_manager.py
Labels: size:M

#1867 fix: Azure text-davinci-003 missing
  api/core/model_runtime/model_providers/azure_openai/_constant.py
Labels: size:M

#1869 fix: xinference secret server_url
  api/core/model_runtime/model_providers/xinference/xinference.yaml
Labels: size:XS, lgtm

#1870 bump version to 0.4.1
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#1872 fix: ciphertext error
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/provider_manager.py
Labels: size:M

#1874 fix: openai origin credential not start with {
  api/core/provider_manager.py
Labels: size:XS

#1875 fix: more like this.
  api/core/application_manager.py
Labels: size:XS, lgtm

#1871 doc: Respect and prevent updating existed yarn lockfile when installing dependencies
  web/README.md
Labels: size:XS, lgtm

#1879 fix: openai embedding list out of bound
  api/core/model_runtime/model_providers/openai/text_embedding/text_embedding.py
Labels: size:XS, lgtm

#1883 fix: model parameter modal initial value
  web/app/components/datasets/documents/detail/metadata/index.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/index.tsx
  web/service/base.ts
Labels: size:XS, lgtm

#1885 fix: model parameter stop sequence
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: size:XS, lgtm

#1884 Fix variable name in AgentApplicationRunner
  api/core/app_runner/agent_app_runner.py
Labels: size:XS, lgtm

#1877 fix: gemini block error
  api/core/model_runtime/model_providers/__base/large_language_model.py
  api/core/model_runtime/model_providers/google/llm/llm.py
Labels: size:S

#1888 fix: huggingface and replicate.
  api/core/model_runtime/model_providers/huggingface_hub/llm/llm.py
  api/core/model_runtime/model_providers/replicate/llm/llm.py
Labels: size:M, lgtm

#1893 fix: anthropic messages empty raise errors
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
Labels: size:XS

#1892 Grammar fix
  README.md
Labels: size:XS, lgtm

#1894 add qdrant client timeout limit
  api/config.py
  api/core/index/vector_index/qdrant_vector_index.py
  api/core/index/vector_index/vector_index.py
Labels: size:XS, lgtm

#1887 add example api url endpoint in placeholder
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/openai_api_compatible.yaml
  api/core/model_runtime/model_providers/openai_api_compatible/text_embedding/text_embedding.py
Labels: size:L

#1897 fix: zhipuai history format wrong
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai.yaml
Labels: size:XS

#1898 bump version to 0.4.2
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#1899 fix: zhipuai chatglm turbo prompts must user, assistant in sequence
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
Labels: size:M

#1900 fix: customize model schema fetch failed raise error
  api/core/entities/provider_configuration.py
Labels: size:S

#1901 Fix/add qdrant timeout default value
  api/.env.example
  api/config.py
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#1903 fix: remove useless code
  web/app/components/app/configuration/config-model/provider-name.tsx
Labels: size:S, lgtm

#1902 fix: read file encoding error
  api/core/extension/extensible.py
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/__base/model_provider.py
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/prompt/prompt_transform.py
Labels: size:S, lgtm

#1904 fix: tongyi generate error
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
Labels: size:S

#1905 fix: array oob in azure openai embeddings
  api/core/model_runtime/model_providers/azure_openai/text_embedding/text_embedding.py
Labels: size:XS, lgtm

#1906 fix: spark credentials validate
  api/core/model_runtime/model_providers/spark/spark.py
Labels: size:S

#1907 fix: notion_indexing_estimate embedding_model_instance NPE
  api/core/indexing_runner.py
Labels: size:XS

#1908 fix: window size changed causes result regeneration
  web/app/components/share/text-generation/index.tsx
Labels: size:M

#1909 fix: model quota format
  web/app/components/header/account-setting/model-provider-page/provider-added-card/quota-panel.tsx
  web/app/components/header/index.tsx
Labels: size:XS, lgtm

#1913 fix: remove useless code.
  api/core/external_data_tool/weather_search/__init__.py
  api/core/external_data_tool/weather_search/schema.json
  api/core/external_data_tool/weather_search/weather_search.py
  api/core/moderation/cloud_service/__init__.py
  api/core/moderation/cloud_service/cloud_service.py
  api/core/moderation/cloud_service/schema.json
Labels: size:L, lgtm

#1912 ci: Properly cache pip packages
  .github/workflows/api-model-runtime-tests.yml
Labels: size:S, lgtm

#1910 web: Add style CI workflow to enforce eslint checks on web module
  .github/workflows/style.yml
  web/.eslintrc.json
  web/app/(commonLayout)/datasets/DatasetFooter.tsx
  web/app/(shareLayout)/completion/[token]/page.tsx
  web/app/components/app/chat/loading-anim/index.tsx
  web/app/components/app/chat/mermaid/index.tsx
  web/app/components/app/configuration/base/group-name/index.tsx
  web/app/components/app/configuration/base/icons/more-like-this-icon.tsx
  web/app/components/app/configuration/base/operation-btn/index.tsx
  web/app/components/app/configuration/base/var-highlight/index.tsx
  web/app/components/app/configuration/base/warning-mask/has-not-set-api.tsx
  web/app/components/app/configuration/base/warning-mask/index.tsx
  web/app/components/app/configuration/config-var/modal-foot.tsx
  web/app/components/app/configuration/config/feature/feature-group/index.tsx
  web/app/components/app/configuration/dataset-config/type-icon/index.tsx
  web/app/components/app/configuration/features/experience-enchance-group/index.tsx
  web/app/components/app/configuration/features/experience-enchance-group/more-like-this/index.tsx
  web/app/components/app/text-generate/index.tsx
  web/app/components/base/app-unavailable.tsx
  web/app/components/base/panel/index.tsx
  web/app/components/datasets/create/empty-dataset-creation-modal/index.tsx
  web/app/components/datasets/create/stop-embedding-modal/index.tsx
  web/app/components/develop/code.tsx
  web/app/components/develop/doc.tsx
  web/app/components/develop/md.tsx
  web/app/components/header/account-setting/Integrations-page/index.tsx
  web/app/components/header/account-setting/members-page/operation/index.tsx
  web/app/components/header/app-back/index.tsx
  web/app/components/share/chat/value-panel/index.tsx
Labels: size:L, lgtm

#1915 fix customer spliter character
  api/core/data_loader/file_extractor.py
  api/core/indexing_runner.py
Labels: size:S, lgtm

#1917 feat: model parameter prefefined
  web/app/components/app/configuration/config-model/index.tsx
  web/app/components/app/configuration/config-model/model-mode-type-label.tsx
  web/app/components/app/configuration/config-model/model-name.tsx
  web/app/components/app/configuration/config-model/param-item.tsx
  web/app/components/app/configuration/config-model/provider-name.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/index.tsx
Labels: size:XL, lgtm

#1914 fix: email template style
  api/templates/invite_member_mail_template_en-US.html
  api/templates/invite_member_mail_template_zh-CN.html
Labels: size:XS

#1919 Fix comparison bug in ApplicationQueueManager
  api/core/application_queue_manager.py
Labels: size:XS, lgtm

#1921 fix: app create raise error when no available model providers
  api/controllers/console/app/app.py
  api/core/provider_manager.py
Labels: size:S

#1922 feat: optimize invoke errors
  api/controllers/console/app/audio.py
  api/controllers/console/app/completion.py
  api/controllers/console/app/generator.py
  api/controllers/console/app/message.py
  api/controllers/console/explore/audio.py
  api/controllers/console/explore/completion.py
  api/controllers/console/explore/message.py
  api/controllers/console/universal_chat/audio.py
  api/controllers/console/universal_chat/chat.py
  api/controllers/console/universal_chat/message.py
  api/controllers/service_api/app/audio.py
  api/controllers/service_api/app/completion.py
  api/controllers/web/audio.py
  api/controllers/web/completion.py
  api/controllers/web/message.py
Labels: size:M

#1927 fix a typo in file agent_app_runner.py
  api/core/app_runner/agent_app_runner.py
  api/core/app_runner/app_runner.py
  api/core/app_runner/basic_app_runner.py
Labels: size:S, lgtm

#1926 fix: xinference cache
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/localai/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/_common.py
  api/core/model_runtime/model_providers/openllm/llm/llm.py
  api/core/model_runtime/model_providers/replicate/llm/llm.py
  api/core/model_runtime/model_providers/xinference/llm/llm.py
Labels: size:M, lgtm

#1928 feat: optimize performance
  api/core/entities/provider_configuration.py
  api/core/helper/model_provider_cache.py
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/provider_manager.py
  api/services/model_provider_service.py
Labels: size:L

#1930 feat: bump version 0.4.3
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#1931 feat: optimize memory & invoke error output
  api/core/model_runtime/errors/invoke.py
  api/libs/rsa.py
Labels: size:S

#1933 fix: vision fail in complete app
  api/core/prompt/prompt_transform.py
Labels: size:S

#1935 Feat/optimize entity construct
  api/core/helper/model_provider_cache.py
  api/core/provider_manager.py
Labels: size:S

#1937 feat: reuse decoding_rsa_key & decoding_cipher_rsa & optimize construct
  api/core/entities/provider_configuration.py
  api/core/provider_manager.py
  api/services/model_provider_service.py
Labels: size:M

#1940 fix: llm result usage none
  api/core/model_runtime/model_providers/__base/large_language_model.py
Labels: size:XS

#1941 fix: gpt-4-32k model name empty in OpenAI response
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
Labels: size:XS

#1943 fix: arg user required and must not be null in service generate api
  api/controllers/service_api/app/completion.py
Labels: size:XS

#1942 fix: text completion app cannot get data.
  api/core/app_runner/basic_app_runner.py
Labels: size:S, lgtm

#1945 fix: text-generation run batch
  web/app/components/share/text-generation/index.tsx
Labels: size:XS, lgtm

#1944 fix streaming
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/tests/integration_tests/model_runtime/openai_api_compatible/test_llm.py
  api/tests/integration_tests/model_runtime/openai_api_compatible/test_text_embedding.py
Labels: size:M, lgtm

#1951 feat: reorder togetherai
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
Labels: size:M

#1953 change API key field to 'required'
  api/core/model_runtime/model_providers/togetherai/togetherai.yaml
Labels: size:XS, lgtm

#1957 optimize qa prompt
  api/core/prompt/prompts.py
Labels: size:XS, lgtm

#1954 prohibit enable and disable function when segment is not completed
  api/controllers/console/datasets/datasets_segments.py
  api/tasks/disable_segment_from_index_task.py
  api/tasks/enable_segment_to_index_task.py
  web/app/components/datasets/documents/detail/completed/SegmentCard.tsx
Labels: size:XS, lgtm

#1955 delete remnant 'required': false
  api/core/model_runtime/model_providers/togetherai/togetherai.yaml
Labels: size:XS, lgtm

#1959 fix: check result should be string.
  api/core/external_data_tool/api/api.py
Labels: size:S, lgtm

#1961 fix: generate not stop when pressing stop link
  api/core/app_runner/app_runner.py
  api/core/app_runner/basic_app_runner.py
  api/core/app_runner/generate_task_pipeline.py
  api/core/app_runner/moderation_handler.py
  api/core/application_manager.py
  api/core/application_queue_manager.py
  api/core/callback_handler/agent_loop_gather_callback_handler.py
  api/core/callback_handler/index_tool_callback_handler.py
Labels: size:L

#1962 bump version to 0.4.4
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#1965 correct xorbits spelling
  api/core/model_runtime/docs/zh_Hans/customizable_model_scale_out.md
  api/core/model_runtime/model_providers/xinference/xinference.yaml
Labels: size:XS, lgtm

#1956 fix: cover missed source paths for eslint
  web/context/workspace-context.tsx
  web/hooks/use-metadata.ts
  web/i18n/i18next-serverside-config.ts
  web/models/share.ts
  web/next.config.js
  web/test/factories/index.ts
  web/test/test_util.ts
Labels: size:XL, lgtm

#1967 fix: update model list
  web/app/components/header/account-setting/model-provider-page/hooks.ts
  web/app/components/header/account-setting/model-provider-page/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-display/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/popup-item.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/credential-panel.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/quota-panel.tsx
  web/app/components/header/account-setting/model-provider-page/provider-card/index.tsx
Labels: size:L, lgtm

#1966 improvement: introduce Super-Linter actions to check style for shell script, dockerfile and yaml files
  .github/ISSUE_TEMPLATE/document_issue.yml
  .github/ISSUE_TEMPLATE/help_wanted.yml
  .github/linters/.hadolint.yaml
  .github/linters/.yaml-lint.yml
  .github/workflows/style.yml
  api/docker/entrypoint.sh
  docker/docker-compose.yaml
  web/docker/entrypoint.sh
Labels: size:M, lgtm

#1925 web: bump Next.js to 14.0 for faster local server startup
  web/app/layout.tsx
  web/next.config.js
  web/package.json
  web/yarn.lock
Labels: size:S, lgtm

#1973 enforce utf-8 encoding for provider response
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: size:S, lgtm

#1974 web: requires NodeJs 18.17 at minimum for NextJs 14
  web/package.json
Labels: size:XS, lgtm

#1929 Azure openai init
  api/core/entities/provider_configuration.py
  api/core/entities/provider_entities.py
  api/core/hosting_configuration.py
  api/core/model_manager.py
  api/core/model_runtime/entities/model_entities.py
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
  api/core/provider_manager.py
Labels: size:L, lgtm

#1976 zhipu embedding token method
  api/core/model_runtime/model_providers/zhipuai/text_embedding/text_embedding.py
Labels: size:XS, lgtm

#1977 fix: httpx socks package missing
  api/core/model_runtime/docs/zh_Hans/customizable_model_scale_out.md
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/huggingface_hub/llm/llm.py
  api/requirements.txt
Labels: size:M

#1978 fix rerank issue when doing economy search
  api/core/index/keyword_table_index/keyword_table_index.py
Labels: size:XS, lgtm

#1963 Update Resend SDK and resend api url in configuration.
  api/.env.example
  api/config.py
  api/extensions/ext_mail.py
  api/requirements.txt
  docker/docker-compose.yaml
Labels: size:S, lgtm

#1979 Update Qdrant version
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#1985 Escape capturing prices with dollar sign as math expressions
  web/app/components/base/markdown.tsx
Labels: size:XS, lgtm

#1986 fix get embedding model provider in empty dataset
  api/core/indexing_runner.py
  api/core/model_manager.py
  api/core/model_runtime/model_providers/baichuan/text_embedding/text_embedding.py
Labels: size:M, lgtm

#1987 fix: resend url optional
  api/extensions/ext_mail.py
Labels: size:XS

#1990 fix: baichuan max chunks
  api/core/model_runtime/model_providers/baichuan/text_embedding/text_embedding.py
  api/tests/integration_tests/model_runtime/baichuan/test_text_embedding.py
Labels: size:M, lgtm

#1993 fix: azure openai model parameters wrong when using hosting credentials
  api/core/entities/provider_configuration.py
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/openai/llm/gpt-4-1106-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-vision-preview.yaml
Labels: size:S

#1994 feat: bump version 0.4.5
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#1989 chore: remove unused code
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/develop/page.tsx
  web/app/components/develop/index.tsx
  web/app/components/i18n-server.tsx
  web/app/components/i18n.tsx
  web/app/components/share/text-generation/history/index.tsx
  web/dictionaries/en.json
  web/dictionaries/zh-Hans.json
  web/i18n/server.ts
  web/middleware.ts
  web/models/history.ts
  web/test/factories/index.ts
  web/test/test_util.ts
Labels: size:L, lgtm

#1997 feat: app sidebar support collapse
  web/app/components/app-sidebar/basic.tsx
  web/app/components/app-sidebar/index.tsx
  web/app/components/app-sidebar/navLink.tsx
  web/app/components/base/icons/assets/vender/line/layout/align-left-01.svg
  web/app/components/base/icons/assets/vender/line/layout/align-right-01.svg
  web/app/components/base/icons/src/vender/line/layout/AlignLeft01.json
  web/app/components/base/icons/src/vender/line/layout/AlignLeft01.tsx
  web/app/components/base/icons/src/vender/line/layout/AlignRight01.json
  web/app/components/base/icons/src/vender/line/layout/AlignRight01.tsx
  web/app/components/base/icons/src/vender/line/layout/index.ts
Labels: size:L, lgtm

#1988 feat: make default slider behavior better
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: size:L, lgtm

#1996 optimize baichuan invalid key error
  api/core/model_runtime/model_providers/baichuan/llm/llm.py
Labels: size:XS, lgtm

#1998 fix: azure openai stream response usage missing
  api/core/app_runner/app_runner.py
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
  api/tests/integration_tests/model_runtime/azure_openai/test_llm.py
Labels: size:M

#2000 fix data_source_detail_dict parameter error
  api/controllers/console/datasets/datasets_document.py
Labels: size:XS

#2005 fix: model parameter default value
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/index.tsx
Labels: size:S, lgtm

#2006 bump version to 0.4.6
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2007 fix: chat log wont show up
  web/app/components/app/chat/log/index.tsx
Labels: size:XS, lgtm

#2009 fix: model provider credentials null value validate failed
  api/core/entities/provider_configuration.py
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/model_runtime/schema_validators/common_validator.py
Labels: size:M

#2011 text spliter length method use default embedding model tokenizer
  api/core/indexing_runner.py
  api/core/spiltter/fixed_text_splitter.py
Labels: size:M, lgtm

#2010 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size:XS, lgtm

#2012 fixup /stop api
  api/controllers/service_api/app/completion.py
Labels: size:S, lgtm

#2014 feat: huggingface llm add new params.
  api/core/model_runtime/model_providers/huggingface_hub/llm/llm.py
Labels: size:M, lgtm

#2019 fix: datasets indexing-status api document
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: size:XS, lgtm

#2026 fix: openai tool tokens
  api/core/model_runtime/model_providers/openai/llm/llm.py
  api/tests/integration_tests/model_runtime/openai/test_llm.py
Labels: size:S, lgtm

#2030 doc: replace readme images
  images/models.png
Labels: size:XS

#2038 ascii filter Unicode U+FFFE
  api/core/indexing_runner.py
Labels: size:XS, lgtm

#2039 doc: replace readme images
  images/models.png
Labels: size:XS

#2040 fix: dependencies security problems
  api/requirements.txt
Labels: size:XS

#2041 feat: fix debug rerank params error
  web/app/components/app/configuration/dataset-config/params-config/index.tsx
Labels: size:XS

#2042 fix: dataset and moderation.
  api/core/app_runner/basic_app_runner.py
  api/core/moderation/keywords/keywords.py
Labels: size:XS, lgtm

#2043 fix SQL slow query
  api/core/tool/dataset_multi_retriever_tool.py
Labels: size:XS

#2044 fix: qwen top_p min/max wrong
  api/core/model_runtime/entities/model_entities.py
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-1201.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-longcontext.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-turbo.yaml
Labels: size:S

#2047 fix qdrant tag in docker-compose.yaml
  docker/docker-compose.yaml
Labels: bug, size:XS

#2048 fix: dataset sidebar
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout.tsx
  web/app/components/app-sidebar/index.tsx
  web/app/components/billing/pricing/plan-item.tsx
Labels: size:S, lgtm

#2049 Add jina-embeddings-v2-base-zh model configuration
  api/core/model_runtime/model_providers/jina/text_embedding/jina-embeddings-v2-base-zh.yaml
  api/core/model_runtime/model_providers/jina/text_embedding/text_embedding.py
Labels: size:S, lgtm

#2050 fix multi-dataset retrieve score limit
  api/core/features/dataset_retrieval.py
Labels: size:XS, lgtm

#2052 timeout parameter error
  api/core/vector_store/vector/qdrant.py
Labels: size:XS, lgtm

#2053 Update contribution guide
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
  README.md
Labels: size:L, lgtm

#2055 fix indentation & move contact into community section
  .github/ISSUE_TEMPLATE/feature_request.yml
  README.md
Labels: documentation, size:S, lgtm

#2058 Update README.md
  README.md
Labels: size:XS, lgtm

#2060 fix: add sharp package to fix sharp-missing-in-production warning
  web/package.json
  web/yarn.lock
Labels: size:XS, lgtm

#2062 Fix aspect ratio of buttons in readme
  README.md
Labels: size:XS, lgtm

#2069 fix: free quota type apply button missing
  .github/workflows/api-model-runtime-tests.yml
  .github/workflows/style.yml
  api/.env.example
  api/config.py
  api/core/hosting_configuration.py
  api/core/provider_manager.py
  api/events/event_handlers/deduct_quota_when_messaeg_created.py
  web/app/components/header/account-setting/model-provider-page/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/quota-panel.tsx
  web/app/components/header/account-setting/model-provider-page/provider-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/utils.ts
Labels: bug, size:L

#2073 fix: azure customize model name duplicate
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
  api/core/model_runtime/model_providers/azure_openai/text_embedding/text_embedding.py
Labels: bug

#2051 feat: service api add llm usage
  api/controllers/console/app/completion.py
  api/controllers/console/app/message.py
  api/controllers/console/explore/completion.py
  api/controllers/console/explore/message.py
  api/controllers/console/universal_chat/chat.py
  api/controllers/service_api/__init__.py
  api/controllers/service_api/app/completion.py
  api/controllers/service_api/app/conversation.py
  api/controllers/service_api/index.py
  api/controllers/web/completion.py
  api/controllers/web/message.py
  api/core/app_runner/generate_task_pipeline.py
  api/core/model_runtime/utils/encoders.py
  api/libs/external_api.py
  api/services/completion_service.py
Labels: enhancement, size:L

#2074 bump version to 0.4.8
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2078 feat: remove deprecated envs
  api/.env.example
  api/Dockerfile
  api/config.py
  docker/docker-compose.yaml
  web/docker/entrypoint.sh
Labels: documentation, size:M

#2083 fix: version
  api/config.py
Labels: size:XS

#2061 bump default NodeJS version to 20 LTS
  .github/workflows/style.yml
  web/Dockerfile
Labels: size:XS, lgtm

#2085 use redis to cache embeddings
  api/core/embedding/cached_embedding.py
Labels: size:M, lgtm

#2090 fix notion estimate
  api/core/indexing_runner.py
Labels: size:M, lgtm

#2072 fix: bypass admin users to use dataset api with API key
  api/controllers/service_api/wraps.py
Labels: enhancement, size:XS, lgtm, feat:rag

#2095 add feature request copilot
  CONTRIBUTING.md
Labels: size:XS, lgtm

#2084 fix: yarn install command in web Dockerfile
  web/Dockerfile
Labels: size:XS, lgtm

#2094 Add jina-embeddings-v2-base-de model configuration
  api/core/model_runtime/model_providers/jina/text_embedding/jina-embeddings-v2-base-de.yaml
  api/core/model_runtime/model_providers/jina/text_embedding/text_embedding.py
Labels: size:S, lgtm

#2098 fix: saving error in empty dataset
  api/controllers/console/datasets/datasets.py
  api/controllers/service_api/dataset/dataset.py
  api/models/dataset.py
Labels: size:S, lgtm

#2099 fix: skip linking /etc/localtime file first in api docker image
  api/Dockerfile
Labels: size:XS, lgtm

#2101 delete document cache embedding
  api/core/embedding/cached_embedding.py
Labels: size:M, lgtm

#2103 bump version to 0.4.9
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2106 fix: arg missing when call method `on_message_replace_func` in output…
  api/core/app_runner/moderation_handler.py
Labels: bug, size:XS

#2108 fix: empty keywords moderation.
  api/core/moderation/keywords/keywords.py
Labels: size:XS, lgtm

#2109 chore: enchance view billing text
  web/i18n/lang/billing.en.ts
  web/i18n/lang/billing.zh.ts
Labels: size:XS, lgtm

#2100 feat: support legacy doc
  api/controllers/console/datasets/file.py
  api/core/data_loader/file_extractor.py
  api/core/data_loader/loader/unstructured/unstructured_msg.py
  api/core/data_loader/loader/unstructured/unstructured_ppt.py
  api/core/data_loader/loader/unstructured/unstructured_pptx.py
  api/core/data_loader/loader/unstructured/unstructured_text.py
  api/core/data_loader/loader/unstructured/unstructured_xml.py
  api/services/file_service.py
Labels: size:M, lgtm

#2107 feat: support re-invite email.
  api/controllers/console/workspace/members.py
  api/services/account_service.py
Labels: size:S, lgtm

#2096 Init azure openai show quota
  web/app/components/header/account-setting/model-provider-page/utils.ts
Labels: size:XS, lgtm

#2111 fix: invite email template languages constant var
  api/tasks/mail_invite_member_task.py
Labels: bug, size:XS, lgtm

#2112 Fix/2102 long dify app description throws backend exception
  api/migrations/versions/89c7899ca936_.py
  api/models/model.py
Labels: size:M, lgtm

#2114 Feat/2070 glm 4 and glm 3 turbo
  api/core/file/message_file_parser.py
  api/core/file/upload_file_parser.py
  api/core/model_runtime/model_providers/zhipuai/llm/glm_3_turbo.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4.yaml
  api/requirements.txt
  api/services/file_service.py
Labels: size:M, lgtm

#2115 feat: add cohere llm and embedding
  api/core/model_runtime/model_providers/__base/large_language_model.py
  api/core/model_runtime/model_providers/cohere/cohere.yaml
  api/core/model_runtime/model_providers/cohere/llm/__init__.py
  api/core/model_runtime/model_providers/cohere/llm/_position.yaml
  api/core/model_runtime/model_providers/cohere/llm/command-chat.yaml
  api/core/model_runtime/model_providers/cohere/llm/command-light-chat.yaml
  api/core/model_runtime/model_providers/cohere/llm/command-light-nightly-chat.yaml
  api/core/model_runtime/model_providers/cohere/llm/command-light-nightly.yaml
  api/core/model_runtime/model_providers/cohere/llm/command-light.yaml
  api/core/model_runtime/model_providers/cohere/llm/command-nightly-chat.yaml
  api/core/model_runtime/model_providers/cohere/llm/command-nightly.yaml
  api/core/model_runtime/model_providers/cohere/llm/command.yaml
  api/core/model_runtime/model_providers/cohere/llm/llm.py
  api/core/model_runtime/model_providers/cohere/text_embedding/__init__.py
  api/core/model_runtime/model_providers/cohere/text_embedding/_position.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/embed-english-light-v2.0.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/embed-english-light-v3.0.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/embed-english-v2.0.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/embed-english-v3.0.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/embed-multilingual-light-v3.0.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/embed-multilingual-v2.0.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/embed-multilingual-v3.0.yaml
  api/core/model_runtime/model_providers/cohere/text_embedding/text_embedding.py
  api/core/spiltter/fixed_text_splitter.py
  api/requirements.txt
  api/tests/integration_tests/model_runtime/cohere/test_llm.py
  api/tests/integration_tests/model_runtime/cohere/test_text_embedding.py
Labels: NewModelSupport, size:XXL, feat:model-runtime

#2119 Add bedrock
  api/core/model_runtime/model_providers/bedrock/__init__.py
  api/core/model_runtime/model_providers/bedrock/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/bedrock/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/bedrock/bedrock.py
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
  api/core/model_runtime/model_providers/bedrock/llm/__init__.py
  api/core/model_runtime/model_providers/bedrock/llm/_position.yaml
  api/core/model_runtime/model_providers/bedrock/llm/ai21.j2-mid-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/ai21.j2-ultra-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.titan-text-express-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/amazon.titan-text-lite-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-instant-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-v2.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-v2:1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/cohere.command-light-text-v14.yaml
  api/core/model_runtime/model_providers/bedrock/llm/cohere.command-text-v14.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/core/model_runtime/model_providers/bedrock/llm/meta.llama2-13b-chat-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/meta.llama2-70b-chat-v1.yaml
  api/tests/integration_tests/model_runtime/bedrock/__init__.py
  api/tests/integration_tests/model_runtime/bedrock/test_llm.py
  api/tests/integration_tests/model_runtime/bedrock/test_provider.py
Labels: size:XXL, lgtm

#2124 feat: support GLM-4V
  api/core/model_runtime/model_providers/zhipuai/_common.py
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
Labels: size:L, lgtm
