Repository langgenius/dify, pull requests merged in 2024-03, with the labels that each got.

#2636 fix: typo in gaode tool
  api/core/tools/provider/builtin/gaode/tools/gaode_weather.py
Labels: size:XS, lgtm

#2631 fix: Replace path.join with urljoin.
  api/core/model_runtime/model_providers/localai/llm/llm.py
Labels: size:XS, lgtm

#2641 fix: custom tool max tool
  api/services/tools_manage_service.py
Labels: size:XS

#2642 feat: displaying the tool description when clicking on a custom tool
  web/app/components/app/configuration/config/agent/agent-tools/index.tsx
  web/app/components/app/configuration/config/agent/agent-tools/setting-built-in-tool.tsx
  web/app/components/tools/index.tsx
  web/app/components/tools/tool-list/item.tsx
Labels: size:M, lgtm

#2643 fix: missing description
  api/core/tools/utils/parser.py
Labels: size:S, lgtm

#2644 fix: click tool item in app debug page would show detail
  web/app/components/tools/tool-list/item.tsx
Labels: size:XS, lgtm

#2651 Feat/jpn support
  web/app/components/header/account-about/index.tsx
  web/app/signin/normalForm.tsx
  web/i18n/ja-JP/app-annotation.ts
  web/i18n/ja-JP/app-api.ts
  web/i18n/ja-JP/app-debug.ts
  web/i18n/ja-JP/app-log.ts
  web/i18n/ja-JP/app-overview.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ja-JP/billing.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ja-JP/custom.ts
  web/i18n/ja-JP/dataset-creation.ts
  web/i18n/ja-JP/dataset-documents.ts
  web/i18n/ja-JP/dataset-hit-testing.ts
  web/i18n/ja-JP/dataset-settings.ts
  web/i18n/ja-JP/dataset.ts
  web/i18n/ja-JP/explore.ts
  web/i18n/ja-JP/layout.ts
  web/i18n/ja-JP/login.ts
  web/i18n/ja-JP/register.ts
  web/i18n/ja-JP/share-app.ts
  web/i18n/ja-JP/tools.ts
  web/i18n/language.ts
Labels: size:XXL, lgtm

#2653 fix: default to allcategories when search params is not from recommended
  web/app/components/explore/app-list/index.tsx
  web/app/components/explore/category.tsx
  web/app/components/share/chat/welcome/massive-component.tsx
  web/test/mocks/categories.ts
Labels: size:L, lgtm

#2660 bugfix: model str maybe empty
  api/core/tools/provider/builtin/stablediffusion/tools/stable_diffusion.py
Labels: size:XS, lgtm

#2663 fix: use English as the default i18n language
  web/app/components/header/account-setting/model-provider-page/model-icon/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-name/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/popup-item.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/popup.tsx
  web/app/components/header/account-setting/model-provider-page/provider-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
Labels: size:M, lgtm

#2652 Add PubMed to tools
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/pubmed/_assets/icon.svg
  api/core/tools/provider/builtin/pubmed/pubmed.py
  api/core/tools/provider/builtin/pubmed/pubmed.yaml
  api/core/tools/provider/builtin/pubmed/tools/pubmed_search.py
  api/core/tools/provider/builtin/pubmed/tools/pubmed_search.yaml
Labels: size:L, lgtm

#2662 Feat: Add documents limitation
  api/controllers/console/datasets/file.py
  api/controllers/console/wraps.py
  api/controllers/service_api/dataset/document.py
  api/controllers/service_api/wraps.py
  api/services/dataset_service.py
  api/services/feature_service.py
  web/app/components/billing/config.ts
  web/app/components/billing/pricing/plan-item.tsx
  web/app/components/billing/type.ts
  web/app/components/datasets/create/file-uploader/index.tsx
  web/app/components/datasets/create/step-one/index.tsx
  web/i18n/en-US/billing.ts
  web/i18n/zh-Hans/billing.ts
  web/service/base.ts
Labels: size:L, lgtm

#2638 feat: add Wecom(企业微信) tool for sending message to chat group bot via webhook
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/wecom/_assets/icon.png
  api/core/tools/provider/builtin/wecom/tools/wecom_group_bot.py
  api/core/tools/provider/builtin/wecom/tools/wecom_group_bot.yaml
  api/core/tools/provider/builtin/wecom/wecom.py
  api/core/tools/provider/builtin/wecom/wecom.yaml
Labels: enhancement, size:L, lgtm

#2671 fix: fix import from explore apps err when OpenAI not inited
  api/controllers/console/app/app.py
Labels: size:XS

#2666 Doc/update license
  LICENSE
Labels: size:XS, lgtm

#2670 fix typo recale to recalc
  api/core/features/assistant_cot_runner.py
  api/core/features/assistant_fc_runner.py
Labels: size:XS, lgtm

#2668 fix: test custom tool already exists without decrypting credentials
  api/controllers/console/workspace/tool_providers.py
  api/core/tools/tool/api_tool.py
  api/services/tools_manage_service.py
  web/app/components/tools/edit-custom-collection-modal/test-api.tsx
Labels: size:M, lgtm

#2669 fix: setup default filters while add credentials
  api/core/tools/provider/builtin/bing/bing.py
Labels: size:XS, lgtm

#2673 fix: deep copy customColletion
  web/app/components/tools/edit-custom-collection-modal/index.tsx
Labels: size:S, lgtm

#2650 Fix vdb merge error
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
  api/requirements.txt
Labels: size:M, lgtm

#2675 Feat/add annotation migrate
  api/commands.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
Labels: size:L, lgtm

#2677 fix: CE edition limits upload file nums
  web/app/components/datasets/create/file-uploader/index.tsx
Labels: size:XS, lgtm

#2674 fix: typo in wecom tool
  api/core/tools/provider/builtin/wecom/wecom.py
Labels: size:XS, lgtm

#2676 add jina-reranker-v1-base-en
  api/core/model_runtime/model_providers/jina/jina.yaml
  api/core/model_runtime/model_providers/jina/rerank/__init__.py
  api/core/model_runtime/model_providers/jina/rerank/jina-reranker-v1-base-en.yaml
  api/core/model_runtime/model_providers/jina/rerank/rerank.py
Labels: size:L, lgtm

#2678 fix: auto generate prompt result not show
  web/app/components/app/configuration/config/automatic/get-automatic-res.tsx
Labels: size:S, lgtm

#2664 Fix voice selection
  api/controllers/console/app/audio.py
  api/controllers/console/explore/audio.py
  api/controllers/service_api/app/audio.py
  api/controllers/web/audio.py
  api/core/model_runtime/model_providers/openai/tts/tts.py
  api/core/model_runtime/model_providers/tongyi/tts/tts.py
  web/app/components/app/configuration/features/chat-group/text-to-speech/index.tsx
  web/app/components/base/audio-btn/index.tsx
  web/app/components/base/chat/chat/answer/operation.tsx
Labels: size:S, lgtm

#2685 bump version to 0.5.8
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2683 Fix tts play logic
  web/app/components/base/audio-btn/index.tsx
  web/app/components/base/audio-btn/style.module.css
  web/app/components/develop/secret-key/assets/play.svg
  web/app/components/develop/secret-key/assets/stop.svg
Labels: size:M, lgtm

#2681 FEAT: add tavily tool for searching... A search engine for LLM
  api/core/tools/provider/builtin/tavily/_assets/icon.png
  api/core/tools/provider/builtin/tavily/tavily.py
  api/core/tools/provider/builtin/tavily/tavily.yaml
  api/core/tools/provider/builtin/tavily/tools/tavily_search.py
  api/core/tools/provider/builtin/tavily/tools/tavily_search.yaml
Labels: size:L, lgtm

#2689 Fix/agent react output parser
  api/core/features/assistant_cot_runner.py
  api/core/tools/tool/tool.py
Labels: size:M, lgtm

#2680 feat: support HTTP response compression in api server
  api/app.py
  api/config.py
  api/extensions/ext_compress.py
  api/requirements.txt
Labels: size:S, lgtm

#2690 fix: replace os.path.join with yarl
  api/core/model_runtime/model_providers/xinference/xinference_helper.py
  api/requirements.txt
  api/tests/integration_tests/model_runtime/__mock/xinference.py
Labels: size:M

#2694 make volume folders for milvus docker containers ignored by git
  .gitignore
Labels: size:XS

#2707 fix mistralai icon
  api/core/model_runtime/model_providers/mistralai/_assets/icon_s_en.png
Labels: size:XS, lgtm

#2699 feat: add qrcode tool for QR code generation
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/qrcode/_assets/icon.svg
  api/core/tools/provider/builtin/qrcode/qrcode.py
  api/core/tools/provider/builtin/qrcode/qrcode.yaml
  api/core/tools/provider/builtin/qrcode/tools/qrcode_generator.py
  api/core/tools/provider/builtin/qrcode/tools/qrcode_generator.yaml
  api/requirements.txt
Labels: size:M, lgtm

#2705 Fix rebuild index&csv parsing
  api/core/indexing_runner.py
  api/core/rag/extractor/csv_extractor.py
Labels: size:XS, lgtm

#2700 FEAT: Add twilio tool for sending text and whatsapp messages
  api/core/tools/provider/builtin/twilio/_assets/icon.svg
  api/core/tools/provider/builtin/twilio/tools/send_message.py
  api/core/tools/provider/builtin/twilio/tools/send_message.yaml
  api/core/tools/provider/builtin/twilio/twilio.py
  api/core/tools/provider/builtin/twilio/twilio.yaml
  api/requirements.txt
Labels: size:L, lgtm

#2696 fix(web): chat input auto resize by window
  web/app/components/base/chat/chat/index.tsx
Labels: size:S, lgtm

#2709 fix: chatbot service api auto generate name default value error
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:XS, lgtm

#2715 fix error msg format issue
  api/core/model_runtime/model_providers/baichuan/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/jina/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/localai/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/minimax/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/openllm/text_embedding/text_embedding.py
Labels: size:S, lgtm

#2713 fix qa index processor tenant id is None error
  api/core/indexing_runner.py
  api/core/rag/index_processor/processor/qa_index_processor.py
Labels: size:S, lgtm

#2734 fix: max tokens can only up to 2048
  api/core/model_runtime/model_providers/xinference/llm/llm.py
Labels: size:XS, lgtm

#2730 fix:delete the slash at the end of xinference provider server_url
  api/core/model_runtime/model_providers/xinference/rerank/rerank.py
Labels: size:XS, lgtm

#2719 fix: check webhook key of Wecom tool in valid UUID form and fix typo
  api/core/tools/provider/builtin/wecom/tools/wecom_group_bot.py
  api/core/tools/provider/builtin/wecom/wecom.py
  api/core/tools/utils/uuid_utils.py
Labels: size:S, lgtm

#2733 Feat/add groq
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/groq/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/groq/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/groq/groq.py
  api/core/model_runtime/model_providers/groq/groq.yaml
  api/core/model_runtime/model_providers/groq/llm/llama2-70b-4096.yaml
  api/core/model_runtime/model_providers/groq/llm/llm.py
  api/core/model_runtime/model_providers/groq/llm/mixtral-8x7b-instruct-v0.1.yaml
Labels: size:L, lgtm

#2735 Fix/jina tokenizer cache
  api/core/model_runtime/model_providers/jina/text_embedding/jina_tokenizer.py
Labels: size:S, lgtm

#2737 fix: missing en_name of aippt
  api/core/tools/provider/builtin/aippt/tools/aippt.py
Labels: size:XS, lgtm

#2736 fix: the behavior of save action in opening config panel
  web/app/components/base/chat/chat-with-history/config-panel/index.tsx
Labels: size:XS, lgtm

#2739 fix:missing import
  api/core/model_runtime/model_providers/azure_openai/speech2text/speech2text.py
Labels: size:XS, lgtm

#2741 UPDATE: Twilio tool crdential verification
  api/core/tools/provider/builtin/twilio/twilio.py
Labels: size:M, lgtm

#2654 Use `python-docx` to extract docx files
  api/core/rag/extractor/word_extractor.py
  api/requirements.txt
Labels: size:S, lgtm

#2742 fix overlap and splitter optimization
  api/core/rag/index_processor/index_processor_base.py
  api/core/splitter/text_splitter.py
Labels: size:XS, lgtm

#2731 feat: support error correction and border size in qrcode tool
  api/core/tools/provider/builtin/qrcode/tools/qrcode_generator.py
  api/core/tools/provider/builtin/qrcode/tools/qrcode_generator.yaml
Labels: size:L, lgtm

#2748 use SVG icons for built-in tools
  api/core/tools/provider/builtin/bing/_assets/icon.png
  api/core/tools/provider/builtin/bing/_assets/icon.svg
  api/core/tools/provider/builtin/bing/bing.yaml
  api/core/tools/provider/builtin/gaode/_assets/icon.png
  api/core/tools/provider/builtin/gaode/_assets/icon.svg
  api/core/tools/provider/builtin/gaode/gaode.yaml
  api/core/tools/provider/builtin/github/_assets/icon.png
  api/core/tools/provider/builtin/github/_assets/icon.svg
  api/core/tools/provider/builtin/github/github.yaml
  api/core/tools/provider/builtin/qrcode/_assets/icon.svg
  api/core/tools/provider/builtin/youtube/_assets/icon.png
  api/core/tools/provider/builtin/youtube/_assets/icon.svg
  api/core/tools/provider/builtin/youtube/youtube.yaml
Labels: size:XS, lgtm

#2752 fix: image tokenizer
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
Labels: size:S, lgtm

#2744 Feat/model as tool
  api/controllers/console/workspace/tool_providers.py
  api/core/model_runtime/entities/model_entities.py
  api/core/model_runtime/model_providers/__base/text2img_model.py
  api/core/tools/entities/common_entities.py
  api/core/tools/entities/tool_entities.py
  api/core/tools/entities/user_entities.py
  api/core/tools/model_tools/anthropic.yaml
  api/core/tools/model_tools/google.yaml
  api/core/tools/model_tools/openai.yaml
  api/core/tools/model_tools/zhipuai.yaml
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/_positions.py
  api/core/tools/provider/model_tool_provider.py
  api/core/tools/tool/model_tool.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/configuration.py
  api/services/tools_manage_service.py
  web/app/components/app/configuration/config/agent/agent-tools/index.tsx
  web/app/components/app/configuration/config/agent/agent-tools/setting-built-in-tool.tsx
  web/app/components/tools/index.tsx
  web/app/components/tools/tool-list/header.tsx
  web/app/components/tools/tool-list/index.tsx
  web/app/components/tools/tool-list/item.tsx
  web/app/components/tools/tool-nav-list/index.tsx
  web/app/components/tools/types.ts
  web/service/tools.ts
Labels: size:XL, lgtm

#2754 enhance: custom tool timeout
  api/core/tools/tool/api_tool.py
Labels: size:S, lgtm

#2753 fix: valid password on reset-password page
  api/services/account_service.py
  web/app/activate/activateForm.tsx
  web/app/components/header/account-setting/account-page/index.tsx
Labels: size:S, lgtm

#2745 replace message content type list to string when file_objs is empty ..
  api/core/memory/token_buffer_memory.py
Labels: size:S, lgtm

#2758 feat: Add new Azure OpenAI Embedding models
  api/core/hosting_configuration.py
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:M, lgtm

#2759 chore: rename lastStep to previousStep
  web/app/components/datasets/create/step-two/index.tsx
  web/i18n/en-US/dataset-creation.ts
  web/i18n/ja-JP/dataset-creation.ts
  web/i18n/pt-BR/dataset-creation.ts
  web/i18n/uk-UA/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
Labels: size:S, lgtm

#2760 Feat/tool secret parameter
  api/controllers/console/app/app.py
  api/controllers/console/app/model_config.py
  api/core/features/assistant_base_runner.py
  api/core/helper/tool_parameter_cache.py
  api/core/tools/docs/en_US/tool_scale_out.md
  api/core/tools/docs/zh_Hans/tool_scale_out.md
  api/core/tools/entities/tool_entities.py
  api/core/tools/provider/builtin/aippt/tools/aippt.py
  api/core/tools/provider/builtin/wecom/tools/wecom_group_bot.yaml
  api/core/tools/tool/tool.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/configuration.py
  api/services/tools_manage_service.py
Labels: size:XL, lgtm

#2765 SMTP authentication is optional
  api/extensions/ext_mail.py
  api/libs/smtp.py
Labels: size:XS, lgtm

#2761 fix: app name can be empty in settings modal
  web/app/components/app/overview/settings/index.tsx
Labels: size:XS, lgtm

#2768 fix: auto prompt
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
  web/app/components/base/prompt-editor/index.tsx
  web/app/components/base/prompt-editor/plugins/update-block.tsx
Labels: size:S, lgtm

#2767 fix: auto closing when close local image uploading
  web/app/components/app/configuration/base/warning-mask/index.tsx
  web/app/components/base/image-uploader/chat-image-uploader.tsx
  web/app/components/base/image-uploader/image-link-input.tsx
  web/app/components/base/image-uploader/image-list.tsx
  web/app/components/base/image-uploader/uploader.tsx
Labels: size:L, lgtm

#2771 doc: add suggested questions back
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: size:M, lgtm

#2774 feat: optimize db connection when llm invoking
  api/core/app_runner/assistant_app_runner.py
  api/core/app_runner/basic_app_runner.py
  api/core/app_runner/generate_task_pipeline.py
  api/core/application_manager.py
  api/core/features/assistant_base_runner.py
Labels: size:M

#2766 fix: dataset segements api
  api/controllers/service_api/dataset/segment.py
Labels: size:XS, lgtm

#2775 fix: deep copy of model-tool label
  api/core/tools/provider/model_tool_provider.py
Labels: size:S, lgtm

#2779 fix: aippt default styles
  api/core/tools/provider/builtin/aippt/tools/aippt.py
Labels: size:XS, lgtm

#2777 overview: fix filter today calc start & end
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/chartView.tsx
Labels: size:S, lgtm

#2778 debug/chat: increase notify error duration to 3000
  api/README.md
  web/app/components/app/configuration/debug/index.tsx
Labels: size:XS, lgtm

#2780 Update README.md
  README.md
Labels: size:S, lgtm

#2781 chunk-overlap None check
  api/core/indexing_runner.py
Labels: size:XS, lgtm

#2783 Feat/open ai compatible functioncall
  api/core/model_runtime/model_providers/cohere/llm/llm.py
  api/core/model_runtime/model_providers/mistralai/llm/mistral-large-latest.yaml
  api/core/model_runtime/model_providers/mistralai/llm/mistral-medium-latest.yaml
  api/core/model_runtime/model_providers/mistralai/llm/mistral-small-latest.yaml
  api/core/model_runtime/model_providers/mistralai/llm/open-mistral-7b.yaml
  api/core/model_runtime/model_providers/mistralai/llm/open-mixtral-8x7b.yaml
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/openai_api_compatible.yaml
Labels: size:L, lgtm

#2751 feat:support azure tts
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
  api/core/model_runtime/model_providers/azure_openai/tts/__init__.py
  api/core/model_runtime/model_providers/azure_openai/tts/tts.py
  api/requirements.txt
Labels: size:L, lgtm

#2693 feat: add DingTalk(钉钉) tool for sending message to chat group bot via webhook
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/dingtalk/_assets/icon.svg
  api/core/tools/provider/builtin/dingtalk/dingtalk.py
  api/core/tools/provider/builtin/dingtalk/dingtalk.yaml
  api/core/tools/provider/builtin/dingtalk/tools/dingtalk_group_bot.py
  api/core/tools/provider/builtin/dingtalk/tools/dingtalk_group_bot.yaml
Labels: size:L, lgtm

#2794 bump version to 0.5.9
  api/config.py
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#2795 enhance: add stable diffusion user guide
  api/core/tools/provider/builtin/stablediffusion/stablediffusion.yaml
Labels: size:XS, lgtm

#2799 Update README.md
  README.md
Labels: size:XS, lgtm

#2800 Update README.md
  README.md
Labels: size:XS, lgtm

#2798 Refactor Markdown component to include paragraph after image
  web/app/components/base/markdown.tsx
Labels: size:S, lgtm

#2808 fix:typo
  api/core/model_runtime/entities/model_entities.py
  api/core/model_runtime/model_providers/__base/tts_model.py
  api/core/model_runtime/model_providers/azure_openai/_constant.py
Labels: size:S, lgtm

#2805 Improve automatic prompt generation
  api/core/prompt/prompts.py
  web/i18n/en-US/app-debug.ts
Labels: size:M, lgtm

#2809 Fix tts api err
  api/controllers/service_api/app/audio.py
  api/models/model.py
Labels: size:XS, lgtm

#2807 feat: add Vietnamese vi-VN
  api/constants/languages.py
  web/i18n/language.ts
  web/i18n/vi-VN/app-annotation.ts
  web/i18n/vi-VN/app-api.ts
  web/i18n/vi-VN/app-debug.ts
  web/i18n/vi-VN/app-log.ts
  web/i18n/vi-VN/app-overview.ts
  web/i18n/vi-VN/app.ts
  web/i18n/vi-VN/billing.ts
  web/i18n/vi-VN/common.ts
  web/i18n/vi-VN/custom.ts
  web/i18n/vi-VN/dataset-creation.ts
  web/i18n/vi-VN/dataset-documents.ts
  web/i18n/vi-VN/dataset-hit-testing.ts
  web/i18n/vi-VN/dataset-settings.ts
  web/i18n/vi-VN/dataset.ts
  web/i18n/vi-VN/explore.ts
  web/i18n/vi-VN/layout.ts
  web/i18n/vi-VN/login.ts
  web/i18n/vi-VN/register.ts
  web/i18n/vi-VN/share-app.ts
  web/i18n/vi-VN/tools.ts
Labels: size:XXL, lgtm

#2810 feat: add French fr-FR
  web/i18n/fr-FR/app-annotation.ts
  web/i18n/fr-FR/app-api.ts
  web/i18n/fr-FR/app-debug.ts
  web/i18n/fr-FR/app-log.ts
  web/i18n/fr-FR/app-overview.ts
  web/i18n/fr-FR/app.ts
  web/i18n/fr-FR/billing.ts
  web/i18n/fr-FR/common.ts
  web/i18n/fr-FR/custom.ts
  web/i18n/fr-FR/dataset-creation.ts
  web/i18n/fr-FR/dataset-documents.ts
  web/i18n/fr-FR/dataset-hit-testing.ts
  web/i18n/fr-FR/dataset-settings.ts
  web/i18n/fr-FR/dataset.ts
  web/i18n/fr-FR/explore.ts
  web/i18n/fr-FR/layout.ts
  web/i18n/fr-FR/login.ts
  web/i18n/fr-FR/register.ts
  web/i18n/fr-FR/share-app.ts
  web/i18n/fr-FR/tools.ts
  web/i18n/language.ts
Labels: size:XXL, lgtm

#2803 generalize position helper for parsing _position.yaml and sorting objects by name
  api/core/extension/extensible.py
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/tools/provider/builtin/_positions.py
  api/core/utils/position_helper.py
Labels: size:L, lgtm

#2820 fix: doc for completion-messages
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.zh.mdx
Labels: size:S, lgtm

#2821 feat:add api-version selection for azure openai APIs
  api/core/model_runtime/model_providers/azure_openai/_common.py
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:S, lgtm

#2825 feat(llm/models): add claude-3-haiku-20240307
  .gitignore
  api/core/model_runtime/model_providers/anthropic/llm/claude-3-haiku-20240307.yaml
Labels: size:M, lgtm

#2818 enhance: use override_settings for concurrent stable diffusion
  api/core/tools/provider/builtin/stablediffusion/tools/stable_diffusion.py
Labels: size:S, lgtm

#2831 fix: doc for datasets
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: size:S, lgtm

#2822 feat: add weekday calculator in time tool
  api/core/tools/provider/builtin/time/tools/weekday.py
  api/core/tools/provider/builtin/time/tools/weekday.yaml
Labels: size:M, lgtm

#2837 fix: compatible to old tool config
  api/controllers/console/app/app.py
Labels: size:XS, lgtm

#2836 fix: The generate conversation name was not saved
  api/events/event_handlers/generate_conversation_name_when_first_message_created.py
Labels: size:XS, lgtm

#2840 Fix/localai
  api/core/model_runtime/model_providers/localai/llm/llm.py
  api/core/model_runtime/model_providers/localai/localai.yaml
  api/core/model_runtime/model_providers/localai/text_embedding/text_embedding.py
Labels: size:M, lgtm

#2844 fix: use supported languages only for install form
  web/app/activate/activateForm.tsx
Labels: size:XS, lgtm

#2813 prevent auto scrolling down to bottom when user already scrolled up
  web/app/components/base/chat/chat/index.tsx
Labels: size:S, lgtm

#2848 fix: charts encoding
  api/core/tools/provider/builtin/chart/chart.py
Labels: size:M, lgtm

#2853 fix: api doc duplicate symbols
  web/app/components/develop/template/template.zh.mdx
Labels: size:XS, lgtm

#2852 Refactor: Streamline the build-push and deploy-dev workflow
  .github/workflows/build-push.yml
  .github/workflows/build-web-image.yml
  .github/workflows/deploy-dev.yml
  Makefile
Labels: size:L

#2823 fix: print exception logs for ValueError and InvokeError
  api/core/application_manager.py
Labels: size:XS, lgtm

#2865 feat: add model for 01.ai, yi-chat-34b series
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/yi/__init__.py
  api/core/model_runtime/model_providers/yi/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/yi/_assets/icon_l_zh.svg
  api/core/model_runtime/model_providers/yi/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/yi/llm/__init__.py
  api/core/model_runtime/model_providers/yi/llm/_position.yaml
  api/core/model_runtime/model_providers/yi/llm/llm.py
  api/core/model_runtime/model_providers/yi/llm/yi-34b-chat-0205.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-34b-chat-200k.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-vl-plus.yaml
  api/core/model_runtime/model_providers/yi/yi.py
  api/core/model_runtime/model_providers/yi/yi.yaml
Labels: size:L, lgtm

#2857 feat: Allow users to specify AWS Bedrock validation models
  api/core/model_runtime/model_providers/bedrock/bedrock.py
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
Labels: size:S, lgtm

#2872 fix: fix unstable function call response arguments missing
  api/core/model_runtime/model_providers/openai/llm/llm.py
Labels: size:XS, lgtm

#2861 add max_tokens parameter rule for zhipuai glm4 and glm4v
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v.yaml
Labels: size:S, lgtm

#2873 add tenant id index for document and document_segment table
  api/migrations/versions/a8f9b3c45e4a_add_tenant_id_db_index.py
  api/models/dataset.py
Labels: size:M, lgtm

#2874 feat:Embedding models Support for the Aliyun dashscope text-embedding-v1 and text-embedding-v2
  api/core/model_runtime/model_providers/tongyi/text_embedding/__init__.py
  api/core/model_runtime/model_providers/tongyi/text_embedding/text-embedding-v1.yaml
  api/core/model_runtime/model_providers/tongyi/text_embedding/text-embedding-v2.yaml
  api/core/model_runtime/model_providers/tongyi/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/tongyi/tongyi.yaml
Labels: size:L, lgtm

#2845 feat: Add tools for open weather search and image generation using the Spark API.
  api/core/model_runtime/model_providers/baichuan/text_embedding/text_embedding.py
  api/core/tools/provider/builtin/openweather/_assets/icon.svg
  api/core/tools/provider/builtin/openweather/openweather.py
  api/core/tools/provider/builtin/openweather/openweather.yaml
  api/core/tools/provider/builtin/openweather/tools/weather.py
  api/core/tools/provider/builtin/openweather/tools/weather.yaml
  api/core/tools/provider/builtin/spark/__init__.py
  api/core/tools/provider/builtin/spark/_assets/icon.svg
  api/core/tools/provider/builtin/spark/spark.py
  api/core/tools/provider/builtin/spark/spark.yaml
  api/core/tools/provider/builtin/spark/tools/spark_img_generation.py
  api/core/tools/provider/builtin/spark/tools/spark_img_generation.yaml
  sdks/python-client/dify_client/__init__.py
Labels: size:L, lgtm

#2875 Feat/support tool credentials bool schema
  api/core/tools/entities/tool_entities.py
  api/core/tools/provider/builtin/bing/bing.py
  api/core/tools/provider/builtin/bing/bing.yaml
  api/core/tools/provider/builtin/bing/tools/bing_web_search.py
  api/core/tools/provider/builtin_tool_provider.py
  api/services/tools_manage_service.py
  web/app/components/tools/setting/build-in/config-credentials.tsx
Labels: size:L, lgtm

#2876 fix/Add isModel flag to AgentTools component
  web/app/components/app/configuration/config/agent/agent-tools/index.tsx
  web/app/components/app/configuration/config/agent/agent-tools/setting-built-in-tool.tsx
Labels: size:S, lgtm

#2877 fix enable annotation reply when collection is None
  api/tasks/annotation/enable_annotation_reply_task.py
Labels: size:XS, lgtm

#2864 feat: AWS Bedrock Claude3
  api/core/model_runtime/model_providers/bedrock/llm/_position.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-sonnet-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/requirements.txt
Labels: size:L, lgtm

#2879 i18n: update bedrock label
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
Labels: size:S, lgtm

#2884 fix: Fix the problem of system not working
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: size:M, lgtm

#2885 fix: anthropic system prompt not working
  api/core/model_runtime/model_providers/anthropic/llm/llm.py
Labels: size:S, lgtm

#2891 Bump tiktoken to 0.6.0 to support text-embedding-3-* in encoding_for_model
  api/requirements.txt
Labels: size:XS, lgtm

#2888 chore: use API Key instead of APIKey
  api/core/model_runtime/model_providers/tongyi/tongyi.yaml
Labels: size:XS, lgtm

#2889 feat:support azure openai llm 0125 version
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:L, lgtm

#2890 chore: Update TongYi models prices
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-1201.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-longcontext.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max.yaml
Labels: size:S, lgtm

#2893 chore: update pr template
  .github/pull_request_template.md
Labels: size:XS

#2886 fix incorrect exception raised by api tool which leads to incorrect L…
  api/core/tools/tool/api_tool.py
Labels: size:S

#2894 feat: optimize ollama model default parameters
  api/core/model_runtime/model_providers/ollama/llm/llm.py
Labels: size:S

#2895 chore: update Yi models params
  api/core/model_runtime/model_providers/yi/llm/yi-34b-chat-0205.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-34b-chat-200k.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-vl-plus.yaml
Labels: size:M, lgtm

#2900 Feat/add-NVIDIA-as-a-new-model-provider
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/nvidia/__init__.py
  api/core/model_runtime/model_providers/nvidia/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/nvidia/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/nvidia/llm/_position.yaml
  api/core/model_runtime/model_providers/nvidia/llm/fuyu-8b.yaml
  api/core/model_runtime/model_providers/nvidia/llm/gemma-7b.yaml
  api/core/model_runtime/model_providers/nvidia/llm/llama2-70b.yaml
  api/core/model_runtime/model_providers/nvidia/llm/llm.py
  api/core/model_runtime/model_providers/nvidia/llm/mistralai_mixtral-8x7b-instruct-v0.1.yaml
  api/core/model_runtime/model_providers/nvidia/nvidia.py
  api/core/model_runtime/model_providers/nvidia/nvidia.yaml
  api/core/model_runtime/model_providers/nvidia/rerank/__init__.py
  api/core/model_runtime/model_providers/nvidia/rerank/rerank-qa-mistral-4b.yaml
  api/core/model_runtime/model_providers/nvidia/rerank/rerank.py
  api/core/model_runtime/model_providers/nvidia/text_embedding/__init__.py
  api/core/model_runtime/model_providers/nvidia/text_embedding/embed-qa-4.yaml
  api/core/model_runtime/model_providers/nvidia/text_embedding/text_embedding.py
Labels: size:XL, lgtm

#2901 fix: typo $ mark in logs of vdb migrate command
  api/commands.py
Labels: size:XS, lgtm

#2909 fix: init qdrant vector max recursion
  api/core/rag/datasource/vdb/vector_factory.py
Labels: size:XS, lgtm

#2910 chore: change Yi model SDK to OpenAI
  api/core/model_runtime/model_providers/yi/llm/llm.py
Labels: size:M, lgtm

#2920 Update docker-compose files version
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#2928 Feat/add triton inference server
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/triton_inference_server/__init__.py
  api/core/model_runtime/model_providers/triton_inference_server/_assets/icon_l_en.png
  api/core/model_runtime/model_providers/triton_inference_server/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/triton_inference_server/llm/__init__.py
  api/core/model_runtime/model_providers/triton_inference_server/llm/llm.py
  api/core/model_runtime/model_providers/triton_inference_server/triton_inference_server.py
  api/core/model_runtime/model_providers/triton_inference_server/triton_inference_server.yaml
Labels: size:L, lgtm

#2937 Authentication is only applied when both the username and password have values.
  api/libs/smtp.py
Labels: size:XS, lgtm

#2938 fix: Upgrade duckduckgo-search to version 5.1.0 & update document segment api parameter error
  api/controllers/service_api/dataset/segment.py
  api/requirements.txt
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: size:S, lgtm

#2944 doc: model schema document fix and wording about the model price parameter
  api/core/model_runtime/docs/en_US/schema.md
  api/core/model_runtime/docs/zh_Hans/schema.md
Labels: size:XS, lgtm

#2947 fix: invalid i18 link in README
  README.md
Labels: size:XS, lgtm

#2946 fix: yi model price correction
  api/core/model_runtime/model_providers/yi/llm/yi-34b-chat-0205.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-34b-chat-200k.yaml
  api/core/model_runtime/model_providers/yi/llm/yi-vl-plus.yaml
Labels: size:S, lgtm

#2951 fix: max_token default help info improved
  api/core/model_runtime/entities/defaults.py
Labels: size:XS, lgtm

#2952 fix: adjust popup panel's z-index value
  web/app/(commonLayout)/apps/AppCard.tsx
Labels: size:XS, lgtm

#2956 reuse layout
  web/app/(commonLayout)/datasets/NewDatasetCard.tsx
  web/app/components/header/HeaderWrapper.tsx
Labels: size:S, lgtm

#2933 When disabling the "Annotation Reply" button, the backend reports an error. #2904
  api/tasks/annotation/disable_annotation_reply_task.py
Labels: size:XS, lgtm

#2968 fix: white screen when editing annotaion in log panel
  web/app/components/app/chat/index.tsx
Labels: size:S, lgtm

#2971 improve: cache tool icons by setting max-age HTTP header and enable gzip compression SVG icons from backend
  api/config.py
  api/controllers/console/workspace/tool_providers.py
  api/extensions/ext_compress.py
Labels: size:S, lgtm

#2962 fix: correct response hint for generated image to avoid illusion of regernerated image link
  api/core/features/assistant_base_runner.py
  api/core/tools/tool/tool.py
Labels: size:XS, lgtm

#2934 Add S3_ADDRESS_STYLE configuration option
  api/config.py
  api/extensions/ext_storage.py
Labels: size:XS, lgtm

#2973 Fix/2969 add model provider ollama not work
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
  web/i18n/pt-BR/common.ts
  web/i18n/pt-BR/custom.ts
  web/i18n/pt-BR/tools.ts
  web/i18n/uk-UA/tools.ts
  web/i18n/zh-Hans/tools.ts
Labels: size:L, lgtm

#2940 feat: update nginx and docker-compose files to support HTTPS.
  docker/docker-compose.yaml
  docker/nginx/conf.d/default.conf
  docker/nginx/ssl/.gitkeep
Labels: size:S, lgtm

#2948 fix: Correct image parameter passing in GLM-4v model API calls
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
Labels: size:M, lgtm

#2965 Fix handling of missing required parameters in ApiTool
  api/core/tools/tool/api_tool.py
Labels: size:XS, lgtm

#2949 fix tool_inputs parse error in message that in CoT(ReAct) agent mode
  api/core/features/assistant_base_runner.py
  api/core/features/assistant_cot_runner.py
Labels: size:S, lgtm
