Repository langgenius/dify, pull requests merged in 2024-09, with the labels that each got.

#7853 fix: crash when ECharts accesses undefined objects
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:M, lgtm

#7865 fix(RetrievalConfig): Fix score threshold assignment for zero value
  web/app/components/workflow/nodes/knowledge-retrieval/components/retrieval-config.tsx
Labels: 🐞 bug, size:XS, lgtm

#7862 refactor: Remove typecasting by any
  web/app/(commonLayout)/apps/Apps.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#7864 Add ALIYUN_OSS_PATH configuration for Aliyun OSS
  api/.env.example
  api/configs/middleware/storage/aliyun_oss_storage_config.py
  api/extensions/storage/aliyun_storage.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:M, 📚 feat:datasource, lgtm

#7875 fix typo: langauge -> language
  api/tasks/mail_invite_member_task.py
Labels: 🐍 python, size:XS

#7872 fix: layout shift on app card hover
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/explore/app-card/index.tsx
Labels: 💪 enhancement, size:M, lgtm

#7882 fix: glm models prices and max_tokens correction
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flash.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_3_turbo.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_long.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_plus.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v_plus.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#7861 Add perplexity search as a new tool
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/perplexity/_assets/icon.svg
  api/core/tools/provider/builtin/perplexity/perplexity.py
  api/core/tools/provider/builtin/perplexity/perplexity.yaml
  api/core/tools/provider/builtin/perplexity/tools/perplexity_search.py
  api/core/tools/provider/builtin/perplexity/tools/perplexity_search.yaml
Labels: 💪 enhancement, size:L, 🔨 feat:tools, lgtm

#7887 fix: fixed typo on loading reranking_mode
  api/core/app/app_config/easy_ui_based_app/dataset/manager.py
Labels: 🐞 bug, size:XS, lgtm

#7860 Add Russian language
  web/i18n/language.ts
  web/i18n/languages.json
  web/i18n/ru-RU/app-annotation.ts
  web/i18n/ru-RU/app-api.ts
  web/i18n/ru-RU/app-debug.ts
  web/i18n/ru-RU/app-log.ts
  web/i18n/ru-RU/app-overview.ts
  web/i18n/ru-RU/app.ts
  web/i18n/ru-RU/billing.ts
  web/i18n/ru-RU/common.ts
  web/i18n/ru-RU/custom.ts
  web/i18n/ru-RU/dataset-creation.ts
  web/i18n/ru-RU/dataset-documents.ts
  web/i18n/ru-RU/dataset-hit-testing.ts
  web/i18n/ru-RU/dataset-settings.ts
  web/i18n/ru-RU/dataset.ts
  web/i18n/ru-RU/explore.ts
  web/i18n/ru-RU/layout.ts
  web/i18n/ru-RU/login.ts
  web/i18n/ru-RU/register.ts
  web/i18n/ru-RU/run-log.ts
  web/i18n/ru-RU/share-app.ts
  web/i18n/ru-RU/tools.ts
  web/i18n/ru-RU/workflow.ts
Labels: 💪 enhancement, size:XXL, lgtm

#7890 ignore linked images when image id is none
  api/core/rag/extractor/word_extractor.py
Labels: size:XS, lgtm

#7888 feat: allow users to use the app icon as the answer icon
  api/controllers/console/app/app.py
  api/controllers/console/app/site.py
  api/controllers/web/site.py
  api/fields/app_fields.py
  api/fields/installed_app_fields.py
  api/migrations/versions/2024_09_01_1255-030f4915f36a_add_use_icon_as_answer_icon_fields_for_.py
  api/models/model.py
  api/services/app_dsl_service.py
  api/services/app_service.py
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/app/overview/settings/index.tsx
  web/app/components/base/answer-icon/index.tsx
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/embedded-chatbot/chat-wrapper.tsx
  web/app/components/explore/create-app-modal/index.tsx
  web/i18n/en-US/app.ts
  web/i18n/zh-Hans/app.ts
  web/models/explore.ts
  web/models/share.ts
  web/service/apps.ts
  web/types/app.ts
Labels: 💪 enhancement, size:L, lgtm

#7897 fix: correct typo in the setting screen
  web/i18n/en-US/app.ts
Labels: size:XS, lgtm

#7904 chore(Dockerfile): Bump expat to 2.6.2-2
  api/Dockerfile
Labels: dependencies, size:XS, lgtm

#7895 chore: Update versions to 0.7.3
  api/configs/packaging/__init__.py
  api/pyproject.toml
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#6964 feat: support auto generate i18n translate
  .github/workflows/translate-i18n-base-on-english.yml
  web/i18n/auto-gen-i18n.js
  web/i18n/check-i18n.js
  web/package.json
  web/yarn.lock
Labels: 💪 enhancement, dependencies, size:L, lgtm, javascript

#7916 fix: frontend handle sometimes server not generate the wrong follow up data struct
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
Labels: 🐞 bug, size:M, lgtm

#7925 improve the notion table extract
  api/core/rag/extractor/notion_extractor.py
Labels: size:S, 📚 feat:datasource, lgtm

#7928 Fix/segment create with api
  api/controllers/service_api/dataset/segment.py
Labels: 🐞 bug, size:XS, lgtm

#7937 fix rerank model value is empty string
  api/core/rag/datasource/retrieval_service.py
Labels: size:XS, lgtm

#7933 Chore/add default step 1x url
  api/core/tools/provider/builtin/stepfun/tools/image.py
Labels: 🐞 bug, size:XS, lgtm

#7943 Chore/add roadmap
  web/app/components/header/account-dropdown/index.tsx
  web/i18n/de-DE/common.ts
  web/i18n/en-US/common.ts
  web/i18n/es-ES/common.ts
  web/i18n/fa-IR/common.ts
  web/i18n/fr-FR/common.ts
  web/i18n/hi-IN/common.ts
  web/i18n/it-IT/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ko-KR/common.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pt-BR/common.ts
  web/i18n/ro-RO/common.ts
  web/i18n/ru-RU/common.ts
  web/i18n/tr-TR/common.ts
  web/i18n/uk-UA/common.ts
  web/i18n/vi-VN/common.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hant/common.ts
Labels: size:M

#7934 fix(api): Code-Based Extension cause error on position map sorting
  api/core/extension/extensible.py
Labels: 🐞 bug, size:XS, lgtm

#7948 chore: #7943 i18n
  web/i18n/de-DE/common.ts
  web/i18n/es-ES/common.ts
  web/i18n/fa-IR/common.ts
  web/i18n/fr-FR/common.ts
  web/i18n/hi-IN/common.ts
  web/i18n/it-IT/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ko-KR/common.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pt-BR/common.ts
  web/i18n/ro-RO/common.ts
  web/i18n/ru-RU/common.ts
  web/i18n/tr-TR/common.ts
  web/i18n/uk-UA/common.ts
  web/i18n/vi-VN/common.ts
  web/i18n/zh-Hant/common.ts
Labels: size:S

#7949 Revert "fix: an issue of keyword search feature in application log list"
  api/controllers/console/app/conversation.py
Labels: 🐞 bug, size:S

#7306 feat: ops trace add llm model
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
  api/core/workflow/nodes/llm/llm_node.py
Labels: size:S, 🌊 feat:workflow, lgtm

#7957 chore: fix inverted index japanese translation
  web/i18n/ja-JP/dataset.ts
Labels: 💪 enhancement, size:XS, lgtm

#7930 fix: split text keep separator
  api/core/rag/splitter/text_splitter.py
Labels: 🐞 bug, size:XS, lgtm

#7801 Feat: update app published time after clicking publish button
  web/app/components/app/app-publisher/index.tsx
Labels: 💪 enhancement, size:S, lgtm

#7958 fix:empty voice occurs when xinference CosyVoice tts model
  api/core/model_runtime/model_providers/xinference/tts/tts.py
Labels: 🐞 bug, size:XS, lgtm

#7959 fix: get commit sha failed in translate action
  .github/workflows/translate-i18n-base-on-english.yml
Labels: 🐞 bug, size:XS, lgtm

#7962 feat: add health check for pg and redis in docker-compose.middleware.yaml (#7961)
  docker/docker-compose.middleware.yaml
Labels: size:XS, lgtm

#7950 Feat:remove estimation of embedding cost
  api/core/indexing_runner.py
  api/core/rag/splitter/text_splitter.py
  api/services/dataset_service.py
  web/app/components/datasets/common/retrieval-method-config/index.tsx
  web/app/components/datasets/create/embedding-process/index.tsx
  web/app/components/datasets/create/step-two/index.module.css
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/create/steps-nav-bar/index.tsx
  web/app/components/datasets/documents/detail/embedding/index.tsx
  web/app/components/datasets/documents/detail/embedding/style.module.css
  web/i18n/en-US/dataset-creation.ts
  web/i18n/ja-JP/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
  web/models/datasets.ts
Labels: size:L, 👻 feat:rag, lgtm

#7953 chore: refactor the beichuan model
  api/core/model_runtime/model_providers/baichuan/baichuan.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan2-53b.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan2-turbo-192k.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan2-turbo.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan3-turbo-128k.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan3-turbo.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan4.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan_turbo.py
  api/core/model_runtime/model_providers/baichuan/llm/llm.py
Labels: size:XL, ⚙️ feat:model-runtime, lgtm

#7972 fix wrong error message
  api/controllers/service_api/dataset/segment.py
Labels: 🐞 bug, size:XS, lgtm

#7979 chore: update package versions to 0.8.0-beta1
  .github/workflows/build-push.yml
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 💪 enhancement, size:S

#7976 Concurrent calls to the Wenxin model, and the exception problem when obtaining the token is fixed
  api/core/model_runtime/model_providers/wenxin/_common.py
Labels: 🐞 bug, size:S, lgtm

#7987 fix spliter length missed
  api/core/rag/splitter/fixed_text_splitter.py
  api/core/rag/splitter/text_splitter.py
Labels: 🐞 bug, size:S, lgtm

#7648 feat: add gpt-4o-2024-08-06 and json_schema for azure openAI service
  api/core/model_runtime/model_providers/azure_openai/_constant.py
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#7982 feat: support fish audio TTS
  api/core/model_runtime/model_providers/fishaudio/__init__.py
  api/core/model_runtime/model_providers/fishaudio/_assets/fishaudio_l_en.svg
  api/core/model_runtime/model_providers/fishaudio/_assets/fishaudio_s_en.svg
  api/core/model_runtime/model_providers/fishaudio/fishaudio.py
  api/core/model_runtime/model_providers/fishaudio/fishaudio.yaml
  api/core/model_runtime/model_providers/fishaudio/tts/__init__.py
  api/core/model_runtime/model_providers/fishaudio/tts/tts.py
  api/core/model_runtime/model_providers/fishaudio/tts/tts.yaml
  api/tests/integration_tests/model_runtime/__mock/fishaudio.py
  api/tests/integration_tests/model_runtime/fishaudio/__init__.py
  api/tests/integration_tests/model_runtime/fishaudio/test_provider.py
  api/tests/integration_tests/model_runtime/fishaudio/test_tts.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#7749 feat: return page number of pdf documents upon retrieval
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/core/workflow/nodes/llm/llm_node.py
Labels: 💪 enhancement, 🐍 python, size:S, lgtm

#8025 Fix/datasets api description error
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:XS, lgtm

#6868 Message rendering
  web/app/components/base/audio-gallery/AudioPlayer.module.css
  web/app/components/base/audio-gallery/AudioPlayer.tsx
  web/app/components/base/audio-gallery/index.tsx
  web/app/components/base/image-uploader/audio-preview.tsx
  web/app/components/base/image-uploader/image-preview.tsx
  web/app/components/base/image-uploader/video-preview.tsx
  web/app/components/base/markdown.tsx
  web/app/components/base/video-gallery/VideoPlayer.module.css
  web/app/components/base/video-gallery/VideoPlayer.tsx
  web/app/components/base/video-gallery/index.tsx
  web/app/components/base/voice-input/index.tsx
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
  web/package.json
  web/yarn.lock
Labels: 💪 enhancement, size:XXL, lgtm, ☕️ typescript

#7709 Update milvus-standalone version and expose required ports for the container.
  docker/docker-compose.yaml
Labels: size:XS, 👻 feat:rag, lgtm

#7981 support huawei cloud obs storage (#7980)
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/storage/huawei_obs_storage_config.py
  api/extensions/ext_storage.py
  api/extensions/storage/huawei_storage.py
  api/poetry.lock
  api/pyproject.toml
  docker/.env.example
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:L, lgtm

#7775 Add OCI(Oracle Cloud Infrastructure) Generative AI Service as a Model Provider
  api/core/model_runtime/model_providers/oci/__init__.py
  api/core/model_runtime/model_providers/oci/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/oci/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/oci/llm/cohere.command-r-16k.yaml
  api/core/model_runtime/model_providers/oci/llm/cohere.command-r-plus.yaml
  api/core/model_runtime/model_providers/oci/llm/llm.py
  api/core/model_runtime/model_providers/oci/llm/meta.llama-3-70b-instruct.yaml
  api/core/model_runtime/model_providers/oci/oci.py
  api/core/model_runtime/model_providers/oci/oci.yaml
  api/core/model_runtime/model_providers/oci/text_embedding/__init__.py
  api/core/model_runtime/model_providers/oci/text_embedding/_position.yaml
  api/core/model_runtime/model_providers/oci/text_embedding/cohere.embed-english-light-v2.0.yaml
  api/core/model_runtime/model_providers/oci/text_embedding/cohere.embed-english-light-v3.0.yaml
  api/core/model_runtime/model_providers/oci/text_embedding/cohere.embed-english-v3.0.yaml
  api/core/model_runtime/model_providers/oci/text_embedding/cohere.embed-multilingual-light-v3.0.yaml
  api/core/model_runtime/model_providers/oci/text_embedding/cohere.embed-multilingual-v3.0.yaml
  api/core/model_runtime/model_providers/oci/text_embedding/text_embedding.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/model_runtime/oci/__init__.py
  api/tests/integration_tests/model_runtime/oci/test_llm.py
  api/tests/integration_tests/model_runtime/oci/test_provider.py
  api/tests/integration_tests/model_runtime/oci/test_text_embedding.py
Labels: size:XXL, ⚙️ feat:model-runtime, lgtm

#8055 fix the tooltip in tools node
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
Labels: 🐞 bug, size:M, 🔨 feat:tools, lgtm

#8047 chore: #7348, support query conversations by updated_at
  api/controllers/console/app/conversation.py
Labels: 💪 enhancement, 🐍 python, size:S, lgtm

#8019 fix: change milvus init args from (host, port) to (url, token)
  api/.env.example
  api/configs/middleware/vdb/milvus_config.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
  api/tests/integration_tests/vdb/milvus/test_milvus.py
  api/tests/unit_tests/core/rag/datasource/vdb/milvus/test_milvus.py
  docker-legacy/docker-compose.yaml
  docker/.env.example
  docker/README.md
  docker/docker-compose.yaml
Labels: size:L, 👻 feat:rag, lgtm

#8007 ifEsle node add regex match
  api/core/workflow/nodes/if_else/entities.py
  api/core/workflow/nodes/if_else/if_else_node.py
  web/app/components/app/configuration/config-var/index.tsx
  web/app/components/workflow/nodes/if-else/types.ts
  web/app/components/workflow/nodes/if-else/utils.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 💪 enhancement, 🐍 python, size:S, lgtm, ☕️ typescript

#8059 If else add regexmatch
  api/core/workflow/nodes/if_else/if_else_node.py
Labels: size:XS, 🌊 feat:workflow

#8064 fix: parameter rule
  api/core/model_runtime/model_providers/spark/llm/spark-1.5.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-2.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-3.5.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-3.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-4.yaml
Labels: 🐞 bug, size:S

#8062 fix: overflow issues in chat history
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat/citation/popup.tsx
  web/app/components/base/chat/chat/index.tsx
  web/app/components/base/chat/embedded-chatbot/chat-wrapper.tsx
  web/app/components/workflow/panel/chat-record/index.tsx
  web/app/components/workflow/panel/debug-and-preview/chat-wrapper.tsx
  web/app/components/workflow/panel/debug-and-preview/index.tsx
Labels: 🐞 bug, size:L, lgtm

#8070 Revert "fix: parameter rule"
  api/core/model_runtime/model_providers/spark/llm/spark-1.5.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-2.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-3.5.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-3.yaml
  api/core/model_runtime/model_providers/spark/llm/spark-4.yaml
Labels: size:S

#8065 fix: knowledge input
  web/app/components/datasets/documents/index.tsx
Labels: 🐞 bug, size:S, lgtm

#7756 feat: support redis sentinel mode
  api/configs/middleware/__init__.py
  api/configs/middleware/cache/redis_config.py
  api/extensions/ext_celery.py
  api/extensions/ext_redis.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:L, lgtm

#7996 fix LangSmith project config error
  api/core/ops/langsmith_trace/langsmith_trace.py
  api/core/ops/ops_trace_manager.py
  api/services/ops_service.py
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-panel.tsx
Labels: 🐞 bug, size:M, lgtm

#8076 fix: parameter input
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: 🐞 bug, size:M, lgtm

#8100 feat:add fishaudio in xinference
  api/core/model_runtime/model_providers/xinference/xinference_helper.py
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#8102 chore: keep dify compose file consistent format
  docker/docker-compose.yaml
Labels: size:M, lgtm

#8105 Translate billing to PT-BR
  web/i18n/pt-BR/billing.ts
Labels: size:L, lgtm

#8109 fix: Claude can not validate credientials
  api/core/model_runtime/model_providers/anthropic/anthropic.py
  api/core/model_runtime/model_providers/anthropic/llm/claude-instant-1.2.yaml
Labels: 🐞 bug, size:XS, lgtm

#8061 feat: support more model types and builtin tools on aws/sagemaker
  api/core/model_runtime/model_providers/sagemaker/llm/llm.py
  api/core/model_runtime/model_providers/sagemaker/rerank/rerank.py
  api/core/model_runtime/model_providers/sagemaker/sagemaker.py
  api/core/model_runtime/model_providers/sagemaker/sagemaker.yaml
  api/core/model_runtime/model_providers/sagemaker/speech2text/__init__.py
  api/core/model_runtime/model_providers/sagemaker/speech2text/speech2text.py
  api/core/model_runtime/model_providers/sagemaker/tts/__init__.py
  api/core/model_runtime/model_providers/sagemaker/tts/tts.py
  api/core/tools/provider/builtin/aws/tools/apply_guardrail.py
  api/core/tools/provider/builtin/aws/tools/apply_guardrail.yaml
  api/core/tools/provider/builtin/aws/tools/lambda_yaml_to_json.py
  api/core/tools/provider/builtin/aws/tools/lambda_yaml_to_json.yaml
  api/core/tools/provider/builtin/aws/tools/sagemaker_text_rerank.py
  api/core/tools/provider/builtin/aws/tools/sagemaker_tts.py
  api/core/tools/provider/builtin/aws/tools/sagemaker_tts.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: size:XXL, ⚙️ feat:model-runtime, 🔨 feat:tools, lgtm

#7871 Fix: tongyi code wrapper works not stable
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
Labels: 🐞 bug, size:M, lgtm

#8124 add dify-sandbox health check in docker-compose.yaml (#8121)
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:XS

#8131 fix: ollama text embedding 500 error
  api/core/model_runtime/model_providers/ollama/text_embedding/text_embedding.py
Labels: 🐞 bug, size:XS, lgtm

#8134 chore: offline n to 1 retrieval
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/i18n/en-US/dataset.ts
  web/i18n/zh-Hans/dataset.ts
Labels: size:M, lgtm

#8093 fix: user-select style and pre-create iframe in embed.js
  web/public/embed.js
  web/public/embed.min.js
Labels: 🐞 bug, size:XS, lgtm, javascript

#8138 fix: html raw render
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:XS, lgtm

#8143 Update LICENSE - remove 'SaaS' from restriction term definition
  LICENSE
Labels: 📚 documentation, size:XS, lgtm

#8157 update qwen-long
  api/core/model_runtime/model_providers/tongyi/llm/qwen-long.yaml
Labels: size:XS, lgtm

#8161 Fix variable typo (cont)
  api/core/moderation/base.py
  api/core/moderation/input_moderation.py
Labels: size:XS, lgtm

#8167 feat(api/core/model_runtime/entities/defaults.py): Add TOP_K in default parameters.
  api/core/model_runtime/entities/defaults.py
  api/core/model_runtime/entities/model_entities.py
Labels: size:S, ⚙️ feat:model-runtime

#8148 chore: bump super-linter to v7
  .github/workflows/style.yml
Labels: dependencies, size:XS, lgtm

#8164 add volcengine tos storage
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/storage/volcengine_tos_storage_config.py
  api/extensions/ext_storage.py
  api/extensions/storage/volcengine_storage.py
  api/poetry.lock
  api/pyproject.toml
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:L, 📚 feat:datasource, lgtm

#8183 code merge error
  api/controllers/console/datasets/datasets_document.py
  api/services/dataset_service.py
Labels: 🐞 bug, size:S, lgtm

#8182 fix: Version '2.6.2-2' for 'expat' was not found
  api/Dockerfile
Labels: 🐞 bug, size:XS, lgtm

#8185 nvidia rerank top n missed
  api/core/model_runtime/model_providers/nvidia/rerank/rerank.py
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#8188 fix: The length of the tag should between 1 and 50 (#8187)
  api/controllers/console/tag/tags.py
Labels: 🐞 bug, size:XS, lgtm

#8194 filter excel empty sheet
  api/core/rag/extractor/excel_extractor.py
Labels: size:XS, lgtm

#8166 refactor(api/core): Improve type hints and apply ruff formatter in agent runner and model manager.
  api/core/agent/base_agent_runner.py
  api/core/model_manager.py
Labels: 💪 enhancement, size:L, lgtm

#8195 docs: replace docker-compose with docker compose
  docker/certbot/README.md
Labels: size:S, 🔨 feat:tools, lgtm

#8207 fix: input chat input wrong padding
  web/app/components/app/configuration/debug/debug-with-multiple-model/chat-item.tsx
  web/app/components/app/configuration/debug/debug-with-multiple-model/index.tsx
  web/app/components/app/configuration/debug/debug-with-single-model/index.tsx
  web/app/components/base/chat/chat/chat-input.tsx
  web/app/components/base/chat/chat/index.tsx
  web/app/components/workflow/panel/debug-and-preview/chat-wrapper.tsx
Labels: 🐞 bug, size:S, lgtm

#7600 chore(api/models): apply ruff reformatting
  api/models/__init__.py
  api/models/account.py
  api/models/api_based_extension.py
  api/models/dataset.py
  api/models/model.py
  api/models/provider.py
  api/models/source.py
  api/models/task.py
  api/models/tool.py
  api/models/tools.py
  api/models/types.py
  api/models/web.py
  api/models/workflow.py
  api/pyproject.toml
Labels: size:XXL, lgtm

#8215 fix the tooltip in tool nodes
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/share/text-generation/result/index.tsx
Labels: 🐞 bug, size:S, lgtm

#8217 revert page column
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/core/workflow/nodes/llm/llm_node.py
Labels: size:XS, lgtm

#8218 fix(docker/docker-compose.yaml): Set default value for `REDIS_SENTINEL_SOCKET_TIMEOUT` and `CELERY_SENTINEL_SOCKET_TIMEOUT`
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#8225 fix(workflow): answers are output simultaneously across different braches in the question classifier node.
  api/core/workflow/nodes/answer/answer_stream_generate_router.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#8228 feat: add from_variable_selector for stream chunk / message event
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/entities/task_entities.py
  api/core/app/task_pipeline/message_cycle_manage.py
  api/core/workflow/nodes/answer/answer_stream_processor.py
Labels: 💪 enhancement, size:S

#8231 fix: improving the regionalization of translation
  web/i18n/pt-BR/billing.ts
Labels: size:XS, lgtm

#8236 fix:error when adding the ollama embedding model
  api/core/model_runtime/model_providers/ollama/text_embedding/text_embedding.py
Labels: 🐞 bug, size:S, lgtm

#8235 fix: CHECK_UPDATE_URL comment
  docker/.env.example
Labels: 🐞 bug, size:XS, lgtm

#8242 fix: workflow parallel limit in ifelse node
  web/app/components/workflow/hooks/use-workflow.ts
  web/app/components/workflow/nodes/_base/components/next-step/add.tsx
  web/app/components/workflow/nodes/_base/components/node-handle.tsx
Labels: size:M, lgtm

#8247 fix(workflow): IF-ELSE nodes connected to the same subsequent node cause execution to stop
  api/core/workflow/graph_engine/entities/graph.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#8208 fix: truthy value
  api/core/callback_handler/index_tool_callback_handler.py
  api/core/model_runtime/model_providers/vertex_ai/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#8263 fix: upload img icon mis-align in the chat input area
  web/app/components/base/chat/chat/chat-input.tsx
Labels: 🐞 bug, size:XS, lgtm

#8214 editor can also create api key
  api/controllers/console/apikey.py
  web/app/components/develop/secret-key/secret-key-modal.tsx
Labels: 🐞 bug, size:XS, lgtm

#8244 Update Gitlab query field, add query by path
  api/core/tools/provider/builtin/gitlab/tools/gitlab_commits.py
  api/core/tools/provider/builtin/gitlab/tools/gitlab_commits.yaml
  api/core/tools/provider/builtin/gitlab/tools/gitlab_files.py
  api/core/tools/provider/builtin/gitlab/tools/gitlab_files.yaml
Labels: size:L, 🔨 feat:tools, lgtm

#8252 fix:ollama text embedding 500 error
  api/core/model_runtime/model_providers/ollama/text_embedding/text_embedding.py
Labels: size:XS, lgtm

#8198 chore: remove useless code
  api/core/model_runtime/model_providers/azure_openai/llm/llm.py
Labels: size:XS, lgtm

#8266 enhance: improve empty data display for detail panel
  web/app/components/workflow/run/meta.tsx
  web/app/components/workflow/run/status.tsx
Labels: 💪 enhancement, size:XS, lgtm

#8220 let claude models in bedrock support the response_format parameter
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-opus-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-sonnet-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-v2.1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-v2.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#8269 chore: cleanup pycodestyle E rules
  api/core/model_runtime/model_providers/volcengine_maas/legacy/volc_sdk/base/auth.py
  api/core/model_runtime/model_providers/volcengine_maas/legacy/volc_sdk/base/service.py
  api/core/model_runtime/model_providers/volcengine_maas/legacy/volc_sdk/maas.py
  api/core/tools/provider/builtin/bing/tools/bing_web_search.py
  api/core/tools/provider/builtin/did/did_appx.py
  api/core/tools/provider/builtin/hap/tools/list_worksheet_records.py
  api/core/tools/provider/builtin/hap/tools/list_worksheets.py
  api/core/workflow/graph_engine/entities/graph.py
  api/core/workflow/graph_engine/graph_engine.py
  api/migrations/versions/03f98355ba0e_add_workflow_tool_label_and_tool_.py
  api/migrations/versions/9e98fbaffb88_add_workflow_tool_version.py
  api/migrations/versions/de95f5c77138_migration_serpapi_api_key.py
  api/pyproject.toml
  api/tests/unit_tests/core/workflow/graph_engine/test_graph.py
Labels: 💪 enhancement, 🐍 python, size:M, lgtm

#8249 fix(workflow/hooks/use-shortcuts): resolve issue of copy shortcut not working in workflow debug and preview panel
  web/app/components/workflow/hooks/use-shortcuts.ts
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#8289 fix: markdown paragraph margin
  web/app/components/base/markdown.tsx
  web/app/styles/markdown.scss
Labels: 🐞 bug, size:S, lgtm

#8286 chore: cleanup ruff flake8-simplify linter rules
  api/core/app/task_pipeline/based_generate_task_pipeline.py
  api/core/model_runtime/model_providers/baichuan/llm/baichuan_turbo.py
  api/core/model_runtime/model_providers/google/llm/llm.py
  api/core/model_runtime/model_providers/oci/llm/llm.py
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
  api/core/model_runtime/model_providers/vertex_ai/llm/llm.py
  api/core/model_runtime/model_providers/xinference/llm/llm.py
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
  api/core/moderation/keywords/keywords.py
  api/core/ops/ops_trace_manager.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
  api/core/rag/extractor/word_extractor.py
  api/core/rag/rerank/weight_rerank.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/provider/builtin/hap/tools/list_worksheet_records.py
  api/core/tools/provider/builtin/novitaai/tools/novitaai_modelquery.py
  api/core/tools/provider/builtin/qrcode/tools/qrcode_generator.py
  api/core/tools/provider/builtin/searchapi/tools/google.py
  api/core/tools/provider/builtin/searchapi/tools/google_jobs.py
  api/core/tools/provider/builtin/searchapi/tools/google_news.py
  api/core/tools/provider/builtin/searchapi/tools/youtube_transcripts.py
  api/core/tools/provider/builtin/stability/tools/text2image.py
  api/core/tools/provider/builtin/stablediffusion/tools/stable_diffusion.py
  api/core/tools/provider/builtin/wikipedia/tools/wikipedia_search.py
  api/core/tools/utils/message_transformer.py
  api/core/workflow/graph_engine/entities/graph.py
  api/core/workflow/nodes/answer/answer_stream_generate_router.py
  api/core/workflow/nodes/end/end_stream_generate_router.py
  api/core/workflow/nodes/tool/entities.py
  api/pyproject.toml
  api/services/file_service.py
  api/services/ops_service.py
Labels: 💪 enhancement, size:L, lgtm

#8292 fix(workflow): missing content in the answer node stream output during iterations
  api/core/rag/extractor/word_extractor.py
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 🐞 bug, size:S, 🌊 feat:workflow, lgtm

#8307 chore: apply flake8-pytest-style linter rules
  api/pyproject.toml
  api/tests/integration_tests/model_runtime/xinference/test_llm.py
  api/tests/integration_tests/utils/test_module_import_helper.py
  api/tests/integration_tests/vdb/opensearch/test_opensearch.py
  api/tests/unit_tests/conftest.py
  api/tests/unit_tests/core/helper/test_ssrf_proxy.py
  api/tests/unit_tests/libs/test_email.py
Labels: 💪 enhancement, 🐍 python, size:M, lgtm

#8317 Fix: Support Bedrock cross region inference [#8190](https://github.com/langgenius/dify/issues/8190)
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-sonnet-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-opus-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-sonnet-v1.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#8320 Revert "Feat: update app published time after clicking publish button"
  web/app/components/app/app-publisher/index.tsx
Labels: size:S, ☕️ typescript

#8291 chore:add Azure openai api version 2024-08-01-preview
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:XS, lgtm

#8299 Fix VariableEntityType Bug external-data-tool -> external_data_tool
  api/core/app/app_config/entities.py
Labels: 🐞 bug, size:XS, lgtm

#8293 docs: update lambda_translate_utils.yaml
  api/core/tools/provider/builtin/aws/tools/lambda_translate_utils.yaml
Labels: 📚 documentation, size:XS, lgtm

#8326 fix: response_format label
  api/core/model_runtime/model_providers/baichuan/llm/baichuan3-turbo-128k.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan3-turbo.yaml
  api/core/model_runtime/model_providers/baichuan/llm/baichuan4.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-chat.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-128k.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-32k.yaml
  api/core/model_runtime/model_providers/moonshot/llm/moonshot-v1-8k.yaml
  api/core/model_runtime/model_providers/openai/llm/chatgpt-4o-latest.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-0125.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo-1106.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-3.5-turbo.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-0125-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-1106-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-32k.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-turbo-2024-04-09.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-turbo-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-turbo.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-vision-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-2024-05-13.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-2024-08-06.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-mini-2024-07-18.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o-mini.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-3.5-turbo.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4-32k.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4o-2024-08-06.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4o-mini.yaml
  api/core/model_runtime/model_providers/openrouter/llm/gpt-4o.yaml
Labels: 🐞 bug, size:M, lgtm

#8329 chore: update Dify version to 0.8.1
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: dependencies, size:S, lgtm

#8342 fixed score threshold is none
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/services/hit_testing_service.py
Labels: 🐞 bug, size:XS, lgtm

#8259 fix(workflow): fix var-selector not update when edges change
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
  web/app/components/workflow/nodes/_base/hooks/use-available-var-list.ts
Labels: 🐞 bug, size:M, 🌊 feat:workflow, lgtm

#8323 Feature/service api workflow logs
  api/controllers/service_api/app/workflow.py
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: size:L, 🌊 feat:workflow, lgtm

#8345 fix: copy and paste shortcut in the textarea of the workflow run panel
  web/app/components/workflow/hooks/use-shortcuts.ts
Labels: 🐞 bug, size:S, lgtm

#8350 feat: add o1-series models support in Agent App (ReACT only)
  api/core/model_runtime/model_providers/openai/llm/llm.py
Labels: 💪 enhancement, size:S, ⚙️ feat:model-runtime

#8353 feat: add langfuse sentry ignore error
  api/extensions/ext_sentry.py
Labels: 🐍 python, size:XS, lgtm

#8352 chore: update version to 0.8.2 in packaging and docker-compose files
  api/configs/packaging/__init__.py
  api/pyproject.toml
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: size:S, lgtm

#8351 fix: ark token usage is none
  api/core/model_runtime/model_providers/volcengine_maas/client.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
Labels: size:S, lgtm

#8356 fix: score_threshold handling in vector search methods
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector.py
  api/core/rag/datasource/vdb/chroma/chroma_vector.py
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  api/core/rag/datasource/vdb/opensearch/opensearch_vector.py
  api/core/rag/datasource/vdb/oracle/oraclevector.py
  api/core/rag/datasource/vdb/pgvecto_rs/pgvecto_rs.py
  api/core/rag/datasource/vdb/pgvector/pgvector.py
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
Labels: size:M, lgtm

#8311 chore: fix unnecessary string concatation in single line
  api/commands.py
  api/configs/feature/__init__.py
  api/controllers/console/app/workflow.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/error.py
  api/controllers/console/workspace/model_providers.py
  api/core/app/app_config/easy_ui_based_app/prompt_template/manager.py
  api/core/app/app_config/easy_ui_based_app/variables/manager.py
  api/core/app/apps/base_app_runner.py
  api/core/app/apps/workflow_logging_callback.py
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/cohere/llm/llm.py
  api/core/model_runtime/model_providers/huggingface_hub/llm/llm.py
  api/core/model_runtime/model_providers/huggingface_hub/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/ollama/llm/llm.py
  api/core/model_runtime/model_providers/replicate/llm/llm.py
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
  api/core/rag/datasource/vdb/relyt/relyt_vector.py
  api/core/rag/docstore/dataset_docstore.py
  api/core/rag/extractor/notion_extractor.py
  api/core/rag/splitter/text_splitter.py
  api/core/tools/provider/builtin/gaode/gaode.py
  api/core/tools/provider/builtin/gaode/tools/gaode_weather.py
  api/core/tools/provider/builtin/github/tools/github_repositories.py
  api/core/tools/provider/builtin/pubmed/tools/pubmed_search.py
  api/core/tools/provider/builtin/twilio/tools/send_message.py
  api/libs/json_in_md_parser.py
  api/services/app_dsl_service.py
  api/services/dataset_service.py
  api/tests/unit_tests/core/prompt/test_advanced_prompt_transform.py
Labels: 💪 enhancement, 🐍 python, size:M, lgtm

#8363 fix: o1-series model encounters an error when the generate mode is blocking
  api/core/model_runtime/model_providers/openai/llm/llm.py
Labels: size:S

#8361 fix: add before send to remove langfuse defaultErrorResponse
  api/extensions/ext_sentry.py
  api/services/ops_service.py
Labels: 🐞 bug, size:M, lgtm

#8370 fix: edit load balancing not pass id
  web/app/components/header/account-setting/model-provider-page/model-modal/model-load-balancing-entry-modal.tsx
  web/app/components/header/account-setting/model-provider-page/utils.ts
Labels: 🐞 bug, size:XS, lgtm

#8378 fix(workflow): both parallel and single branch errors occur in if-else
  api/core/workflow/graph_engine/entities/graph.py
Labels: 🐞 bug, size:S, 🌊 feat:workflow, lgtm

#8367 chore: update firecrawl scrape to V1 api
  api/core/tools/provider/builtin/firecrawl/firecrawl_appx.py
  api/core/tools/provider/builtin/firecrawl/tools/crawl.py
  api/core/tools/provider/builtin/firecrawl/tools/crawl.yaml
  api/core/tools/provider/builtin/firecrawl/tools/map.py
  api/core/tools/provider/builtin/firecrawl/tools/map.yaml
  api/core/tools/provider/builtin/firecrawl/tools/scrape.py
  api/core/tools/provider/builtin/firecrawl/tools/scrape.yaml
  api/core/tools/provider/builtin/firecrawl/tools/search.py
  api/core/tools/provider/builtin/firecrawl/tools/search.yaml
Labels: 💪 enhancement, size:XL, lgtm

#8372 support hunyuan-turbo
  api/core/model_runtime/model_providers/hunyuan/llm/_position.yaml
  api/core/model_runtime/model_providers/hunyuan/llm/hunyuan-turbo.yaml
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#8392 chore: improve usage of striping prefix or suffix of string with Ruff 0.6.5
  api/core/model_runtime/model_providers/huggingface_tei/rerank/rerank.py
  api/core/model_runtime/model_providers/huggingface_tei/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/jina/rerank/rerank.py
  api/core/model_runtime/model_providers/jina/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/siliconflow/rerank/rerank.py
  api/core/model_runtime/model_providers/xinference/llm/llm.py
  api/core/model_runtime/model_providers/xinference/rerank/rerank.py
  api/core/model_runtime/model_providers/xinference/speech2text/speech2text.py
  api/core/model_runtime/model_providers/xinference/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/xinference/tts/tts.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/core/_sse_client.py
  api/core/tools/provider/builtin/hap/tools/add_worksheet_record.py
  api/core/tools/provider/builtin/hap/tools/delete_worksheet_record.py
  api/core/tools/provider/builtin/hap/tools/get_worksheet_fields.py
  api/core/tools/provider/builtin/hap/tools/get_worksheet_pivot_data.py
  api/core/tools/provider/builtin/hap/tools/list_worksheet_records.py
  api/core/tools/provider/builtin/hap/tools/list_worksheets.py
  api/core/tools/provider/builtin/hap/tools/update_worksheet_record.py
  api/poetry.lock
  api/pyproject.toml
Labels: 💪 enhancement, 🐍 python, size:M, lgtm

#8397 fix: sandbox issue related httpx and requests
  api/tests/integration_tests/workflow/nodes/code_executor/test_code_python3.py
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#8388 fix: o1-mini 65563 -> 65536
  api/core/model_runtime/model_providers/openai/llm/o1-mini-2024-09-12.yaml
  api/core/model_runtime/model_providers/openai/llm/o1-mini.yaml
Labels: size:XS, lgtm

#8396 fix: pyproject.toml typo
  api/pyproject.toml
Labels: size:XS, lgtm

#8394 fix(docker): aliyun oss path env key
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#8402 Fix: Support Bedrock cross region inference #8190 (Update Model name to distinguish between different region groups)
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3-sonnet-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-opus-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/us.anthropic.claude-3-sonnet-v1.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#8401 fix: resolve runtime error when self.folder is None
  api/extensions/storage/aliyun_storage.py
Labels: 🐞 bug, size:M, lgtm

#8409 fix:logs and rm unused codes in CacheEmbedding
  api/core/embedding/cached_embedding.py
Labels: 🐞 bug, size:S, lgtm

#8419 fix(workflow): the answer node after the iteration node containing the answer was output prematurely
  api/core/workflow/nodes/answer/answer_stream_generate_router.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow

#8413 fix: when the variable does not exist, an error should be prompted
  web/app/components/workflow/nodes/_base/components/variable-tag.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-item.tsx
Labels: 🐞 bug, size:L, lgtm

#8411 Fix: operation postion of answer in logs
  web/app/components/app/configuration/toolbox/annotation/annotation-ctrl-btn/index.tsx
  web/app/components/app/log/list.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/answer/operation.tsx
Labels: 🐞 bug, size:M, lgtm

#8395 feat: allow users to specify timeout for text generations and workflows by environment variable
  docker/.env.example
  docker/docker-compose.yaml
  web/.env.example
  web/app/components/share/text-generation/result/index.tsx
  web/app/layout.tsx
  web/config/index.ts
  web/docker/entrypoint.sh
  web/i18n/en-US/app-debug.ts
Labels: 💪 enhancement, size:M, lgtm

#8422 fix: sys_var startwith 'sys.' not 'sys' #8421
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
Labels: 🐞 bug, size:XS, lgtm

#8376 chore: update Jina embedding model
  api/core/model_runtime/model_providers/jina/jina.py
  api/core/model_runtime/model_providers/jina/text_embedding/jina-embeddings-v3.yaml
  api/core/model_runtime/model_providers/jina/text_embedding/text_embedding.py
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#8426 Fix: https://github.com/langgenius/dify/issues/8190 (Update Model nam…
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#8436 fix: delete the delay for the tooltips inside the add tool panel
  web/app/components/tools/add-tool-modal/tools.tsx
Labels: 🐞 bug, size:XS, lgtm

#8440 chore(workflow): Optimize the iteration when selecting a variable from a branch in the output variable causes iteration index err
  api/core/workflow/graph_engine/entities/graph.py
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: size:L

#8443 Bugfix/fix feishu plugins
  api/core/tools/provider/builtin/feishu_document/tools/get_document_content.py
  api/core/tools/provider/builtin/feishu_document/tools/get_document_content.yaml
  api/core/tools/provider/builtin/feishu_document/tools/get_document_raw_content.yaml
  api/core/tools/provider/builtin/feishu_document/tools/list_document_block.yaml
  api/core/tools/provider/builtin/feishu_document/tools/list_document_blocks.py
  api/core/tools/provider/builtin/feishu_document/tools/list_document_blocks.yaml
  api/core/tools/provider/builtin/feishu_document/tools/write_document.yaml
  api/core/tools/utils/feishu_api_utils.py
Labels: 🐞 bug, size:L, 📚 feat:datasource, lgtm

#8437 fix: Improve scrolling behavior for Conversation Opener
  web/app/components/base/chat/chat/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript
