Repository langgenius/dify, pull requests merged in 2024-07, with the labels that each got.

#5800 fix: signin url
  web/utils/index.ts
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5787 feat: correctly delete applications using Celery workers
  .devcontainer/post_create_command.sh
  .vscode/launch.json
  api/README.md
  api/docker/entrypoint.sh
  api/events/app_event.py
  api/events/event_handlers/__init__.py
  api/events/event_handlers/delete_installed_app_when_app_deleted.py
  api/events/event_handlers/delete_site_record_when_app_deleted.py
  api/events/event_handlers/delete_workflow_as_tool_when_app_deleted.py
  api/services/app_service.py
  api/tasks/remove_app_and_related_data_task.py
Labels: 🐞 bug, 💪 enhancement, size:L, lgtm

#5797 Revise the Japanese translation to be more appropriate
  web/i18n/ja-JP/app-api.ts
  web/i18n/ja-JP/app-log.ts
  web/i18n/ja-JP/app-overview.ts
  web/i18n/ja-JP/dataset.ts
Labels: 💪 enhancement, size:S, lgtm

#5803 fix: ssrf proxy and nginx entrypoint command in docker-compose files
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS

#5811 feat: knowledge used by app can still be removed
  web/app/(commonLayout)/datasets/DatasetCard.tsx
  web/i18n/en-US/dataset.ts
  web/i18n/zh-Hans/dataset.ts
  web/service/datasets.ts
Labels: 💪 enhancement, size:M, lgtm

#5789 feat: Nominatim OpenStreetMap search tool
  api/core/tools/provider/_position.yaml
  api/core/tools/provider/builtin/nominatim/_assets/icon.svg
  api/core/tools/provider/builtin/nominatim/nominatim.py
  api/core/tools/provider/builtin/nominatim/nominatim.yaml
  api/core/tools/provider/builtin/nominatim/tools/nominatim_lookup.py
  api/core/tools/provider/builtin/nominatim/tools/nominatim_lookup.yaml
  api/core/tools/provider/builtin/nominatim/tools/nominatim_reverse.py
  api/core/tools/provider/builtin/nominatim/tools/nominatim_reverse.yaml
  api/core/tools/provider/builtin/nominatim/tools/nominatim_search.py
  api/core/tools/provider/builtin/nominatim/tools/nominatim_search.yaml
Labels: 💪 enhancement, size:L, 🔨 feat:tools, lgtm

#5810 Feat/add delete knowledge confirm
  api/controllers/console/datasets/datasets.py
  api/services/dataset_service.py
Labels: 💪 enhancement, size:S, lgtm

#5812 fix: ops trace slow db
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
Labels: 🐞 bug, 🐍 python, size:XS, lgtm

#5616 add support oracle oci object storage
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/storage/oci_storage_config.py
  api/extensions/ext_storage.py
  api/extensions/storage/oci_storage.py
  docker/docker-compose.yaml
Labels: size:L, lgtm

#5791 Enhance: tools wecom bot support markdown message
  api/core/tools/provider/builtin/wecom/tools/wecom_group_bot.py
  api/core/tools/provider/builtin/wecom/tools/wecom_group_bot.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#5820 add provision scripts repo link for azure to readme
  README.md
  README_AR.md
  README_CN.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
Labels: 📚 documentation, size:M, lgtm

#5832 Fix/docker nginx https config
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS

#5836 Chore/remove extra docker middleware variables
  docker/middleware.env.example
Labels: 💪 enhancement, size:XS

#5838 chore: update i18n for #5811
  web/i18n/de-DE/dataset.ts
  web/i18n/fr-FR/dataset.ts
  web/i18n/hi-IN/dataset.ts
  web/i18n/ja-JP/dataset.ts
  web/i18n/ko-KR/dataset.ts
  web/i18n/pl-PL/dataset.ts
  web/i18n/pt-BR/dataset.ts
  web/i18n/ro-RO/dataset.ts
  web/i18n/uk-UA/dataset.ts
  web/i18n/vi-VN/dataset.ts
  web/i18n/zh-Hant/dataset.ts
Labels: size:S, lgtm

#5819 sync delete app table record when delete app
  api/services/app_service.py
  api/tasks/remove_app_and_related_data_task.py
Labels: 🐍 python, size:M, lgtm

#5833 chore: Update some type hints in config.
  api/configs/app_config.py
  api/configs/feature/__init__.py
  api/configs/middleware/__init__.py
Labels: 💪 enhancement, size:XS, lgtm

#5845 fix: output variable name may be duplicate
  web/app/components/workflow/nodes/_base/hooks/use-output-var-list.ts
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#5785 fix:unable to select workplace at the bottom
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5846 feat: update LangfuseConfig host config
  api/core/ops/entities/config_entity.py
Labels: size:XS, lgtm

#5841 feat: add export permission
  api/controllers/console/app/app.py
Labels: 💪 enhancement, size:XS, lgtm

#5793 Ensure *.sh are LF-style, so that they can be used directly by Docker for Windows
  .gitattributes
Labels: size:XS, lgtm

#5849 fix: react.js error 185 maximum update depth exceeded in streaming responses during conversation
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, ☕️ javascript, size:L, lgtm

#5853 chore:remove .env.example duplicate key
  docker/.env.example
Labels: size:XS, lgtm

#5861 fix:retieval setting document link 404
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/hit-testing/modify-retrieval-modal.tsx
  web/app/components/datasets/settings/form/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#5859 doc: docker-compose won't start due to wrong README
  api/README.md
Labels: 📚 documentation, size:XS, lgtm

#5857 Fix/docker env namings
  docker/.env.example
  docker/docker-compose.yaml
Labels: 🐞 bug, size:S, lgtm

#5858 Fix/remove tsne position test
  api/services/hit_testing_service.py
  web/app/components/datasets/hit-testing/hit-detail.tsx
  web/app/components/datasets/hit-testing/index.tsx
Labels: size:M, lgtm, ☕️ typescript

#5878 chore: click area that trigger showing tracing config is too large
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#5866 refactor(api/core/app/apps/base_app_generator.py): improve input validation and sanitization in BaseAppGenerator
  api/core/app/app_config/entities.py
  api/core/app/apps/base_app_generator.py
Labels: 💪 enhancement, size:M, lgtm

#5879 fix bug : TencentVectorDBConfig Add TENCENT_VECTOR_DB_DATABASE
  api/configs/middleware/vdb/tencent_vector_config.py
Labels: size:XS, lgtm

#5886 feat: pr template
  .github/pull_request_template.md
Labels: size:M, 🌊 feat:workflow, lgtm

#5888 chore: remove dify SaaS URL in default configs
  api/configs/feature/__init__.py
Labels: size:S, lgtm

#5903 docs(api/core/tools/docs/en_US/tool_scale_out.md): Format by markdownlint.
  api/core/tools/docs/en_US/tool_scale_out.md
Labels: size:M, lgtm

#5934 fix: zhipuai pytest correction
  api/tests/integration_tests/model_runtime/zhipuai/test_llm.py
Labels: size:XS, lgtm

#5938 refactor: Create a `dify_config` with Pydantic.
  api/app.py
  api/commands.py
  api/configs/__init__.py
Labels: size:S, lgtm

#5889 feat: add claude3 function calling
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-haiku-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-opus-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-sonnet-v1.5.yaml
  api/core/model_runtime/model_providers/bedrock/llm/anthropic.claude-3-sonnet-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: size:L, lgtm

#5948 fix: langfuse logical operator error
  api/core/ops/entities/config_entity.py
Labels: size:XS, lgtm

#5958 chore: enchance firecrawl user experience
  web/app/components/datasets/create/website/firecrawl/index.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/index.tsx
  web/app/components/header/account-setting/data-source-page/panel/index.tsx
  web/i18n/en-US/dataset-creation.ts
Labels: size:XS, lgtm

#5918 refactor: optimize-the-performance-of-var-reference-picker
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
Labels: size:S, lgtm

#5943 fix: no json output vars in front-page tool
  web/app/components/workflow/constants.ts
  web/app/components/workflow/nodes/tool/panel.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:S, lgtm

#5965 feat: knowledge admin role
  api/configs/feature/__init__.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/tag/tags.py
  api/controllers/console/workspace/members.py
  api/migrations/versions/7e6a8693e07a_add_table_dataset_permissions.py
  api/models/account.py
  api/models/dataset.py
  api/services/account_service.py
  api/services/dataset_service.py
  api/services/feature_service.py
  web/app/(commonLayout)/app/(appDetailLayout)/layout.tsx
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout.tsx
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/(commonLayout)/datasets/DatasetCard.tsx
  web/app/(commonLayout)/tools/page.tsx
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/base/icons/assets/vender/solid/users/users-plus.svg
  web/app/components/base/icons/src/vender/solid/users/UsersPlus.json
  web/app/components/base/icons/src/vender/solid/users/UsersPlus.tsx
  web/app/components/base/icons/src/vender/solid/users/index.ts
  web/app/components/base/search-input/index.tsx
  web/app/components/billing/type.ts
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/datasets/settings/permission-selector/index.tsx
  web/app/components/datasets/settings/permissions-radio/assets/user.svg
  web/app/components/datasets/settings/permissions-radio/index.module.css
  web/app/components/datasets/settings/permissions-radio/index.tsx
  web/app/components/explore/index.tsx
  web/app/components/header/account-setting/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/role-selector.tsx
  web/app/components/header/account-setting/members-page/operation/index.tsx
  web/app/components/header/index.tsx
  web/app/components/header/nav/nav-selector/index.tsx
  web/context/app-context.tsx
  web/context/provider-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/en-US/dataset-settings.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/dataset-settings.ts
  web/models/common.ts
  web/models/datasets.ts
  web/service/datasets.ts
Labels: size:XXL, lgtm

#5917 Chore/remove-unused-code
  api/app.py
  api/core/app/apps/workflow/app_generator.py
  api/core/model_runtime/utils/_compat.py
  api/core/model_runtime/utils/encoders.py
Labels: size:M, lgtm

#5915 fix: Fix some type error in http executor.
  api/core/workflow/nodes/http_request/entities.py
  api/core/workflow/nodes/http_request/http_executor.py
  api/core/workflow/nodes/http_request/http_request_node.py
Labels: size:L, lgtm

#5987 typo: Update README.md
  api/README.md
Labels: size:XS, lgtm

#5968 fix: TENCENT_VECTOR_DB_REPLICAS can be set to 0
  api/configs/middleware/vdb/tencent_vector_config.py
Labels: size:XS, lgtm

#5926 feat: add retry mechanism for zhipuai
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/core/_http_client.py
Labels: size:XS, lgtm

#5631 fix: document truncation and loss in notion document sync
  api/core/rag/extractor/notion_extractor.py
Labels: 🐞 bug, size:M, lgtm

#5534 feat: implement forgot password feature
  .gitignore
  api/configs/feature/__init__.py
  api/controllers/console/__init__.py
  api/controllers/console/auth/error.py
  api/controllers/console/auth/forgot_password.py
  api/controllers/console/workspace/account.py
  api/libs/helper.py
  api/services/account_service.py
  api/services/errors/account.py
  api/tasks/mail_invite_member_task.py
  api/tasks/mail_reset_password_task.py
  api/templates/reset_password_mail_template_en-US.html
  api/templates/reset_password_mail_template_zh-CN.html
  docker/.env.example
  docker/docker-compose.yaml
  web/app/forgot-password/ChangePasswordForm.tsx
  web/app/forgot-password/ForgotPasswordForm.tsx
  web/app/forgot-password/page.tsx
  web/app/signin/normalForm.tsx
  web/i18n/de-DE/login.ts
  web/i18n/en-US/login.ts
  web/i18n/fr-FR/login.ts
  web/i18n/hi-IN/login.ts
  web/i18n/ja-JP/login.ts
  web/i18n/ko-KR/login.ts
  web/i18n/pl-PL/login.ts
  web/i18n/pt-BR/login.ts
  web/i18n/ro-RO/login.ts
  web/i18n/uk-UA/login.ts
  web/i18n/vi-VN/login.ts
  web/i18n/zh-Hans/login.ts
  web/i18n/zh-Hant/login.ts
  web/service/common.ts
Labels: 💪 enhancement, size:XXL, lgtm

#6006 fix API tool's schema not support array
  api/core/tools/tool/api_tool.py
Labels: size:XS, lgtm

#5896 Removed firecrawl-py, fixed and improved firecrawl tool
  api/core/tools/provider/builtin/firecrawl/firecrawl.yaml
  api/core/tools/provider/builtin/firecrawl/firecrawl_appx.py
  api/core/tools/provider/builtin/firecrawl/tools/crawl.py
  api/poetry.lock
  api/pyproject.toml
Labels: size:L, lgtm

#6010 fix: update workflow trace query
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
Labels: size:M, lgtm

#6004 [Feature] Support loading for mermaid.
  web/app/components/base/markdown.tsx
  web/app/components/base/mermaid/index.tsx
Labels: size:M, lgtm

#6017 6014 i18n add support for spanish
  api/constants/languages.py
  web/i18n/es-ES/app-annotation.ts
  web/i18n/es-ES/app-api.ts
  web/i18n/es-ES/app-debug.ts
  web/i18n/es-ES/app-log.ts
  web/i18n/es-ES/app-overview.ts
  web/i18n/es-ES/app.ts
  web/i18n/es-ES/billing.ts
  web/i18n/es-ES/common.ts
  web/i18n/es-ES/custom.ts
  web/i18n/es-ES/dataset-creation.ts
  web/i18n/es-ES/dataset-documents.ts
  web/i18n/es-ES/dataset-hit-testing.ts
  web/i18n/es-ES/dataset-settings.ts
  web/i18n/es-ES/dataset.ts
  web/i18n/es-ES/explore.ts
  web/i18n/es-ES/layout.ts
  web/i18n/es-ES/login.ts
  web/i18n/es-ES/register.ts
  web/i18n/es-ES/run-log.ts
  web/i18n/es-ES/share-app.ts
  web/i18n/es-ES/tools.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/languages.json
Labels: size:XXL, lgtm

#6000 fix: add status_code 304
  api/core/file/message_file_parser.py
Labels: size:XS, lgtm

#5979 feat: add Llama 3 and Mixtral model options to ddgo_ai.yaml
  api/core/tools/provider/builtin/duckduckgo/tools/ddgo_ai.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: size:XS, lgtm

#6018 Revert "feat: knowledge admin role"
  api/configs/feature/__init__.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/tag/tags.py
  api/controllers/console/workspace/members.py
  api/migrations/versions/7e6a8693e07a_add_table_dataset_permissions.py
  api/models/account.py
  api/models/dataset.py
  api/services/account_service.py
  api/services/dataset_service.py
  api/services/feature_service.py
  web/app/(commonLayout)/app/(appDetailLayout)/layout.tsx
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout.tsx
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/(commonLayout)/datasets/DatasetCard.tsx
  web/app/(commonLayout)/tools/page.tsx
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/base/icons/assets/vender/solid/users/users-plus.svg
  web/app/components/base/icons/src/vender/solid/users/UsersPlus.json
  web/app/components/base/icons/src/vender/solid/users/UsersPlus.tsx
  web/app/components/base/icons/src/vender/solid/users/index.ts
  web/app/components/base/search-input/index.tsx
  web/app/components/billing/type.ts
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/datasets/settings/permission-selector/index.tsx
  web/app/components/datasets/settings/permissions-radio/assets/user.svg
  web/app/components/datasets/settings/permissions-radio/index.module.css
  web/app/components/datasets/settings/permissions-radio/index.tsx
  web/app/components/explore/index.tsx
  web/app/components/header/account-setting/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/role-selector.tsx
  web/app/components/header/account-setting/members-page/operation/index.tsx
  web/app/components/header/index.tsx
  web/app/components/header/nav/nav-selector/index.tsx
  web/context/app-context.tsx
  web/context/provider-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/en-US/dataset-settings.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/dataset-settings.ts
  web/models/common.ts
  web/models/datasets.ts
  web/service/datasets.ts
Labels: size:XXL

#6021 chore: optimize memory messages fetch count limit
  api/core/memory/token_buffer_memory.py
Labels: size:XS

#6024 test(test_rerank): Remove duplicate test cases.
  api/tests/integration_tests/model_runtime/localai/test_rerank.py
Labels: size:M, lgtm

#6016 Add 2 firecrawl tools : Scrape and Search
  api/core/tools/provider/builtin/firecrawl/tools/scrape.py
  api/core/tools/provider/builtin/firecrawl/tools/scrape.yaml
  api/core/tools/provider/builtin/firecrawl/tools/search.py
  api/core/tools/provider/builtin/firecrawl/tools/search.yaml
Labels: size:M, lgtm

#6003 fix: the input field of tool panel not worked as expected
  api/core/tools/tool_manager.py
  web/app/components/base/select/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Input.tsx
Labels: size:S, lgtm

#6025 feat(*): Swtich to dify_config.
  api/configs/app_config.py
  api/controllers/console/auth/data_source_oauth.py
  api/controllers/console/auth/login.py
  api/controllers/console/auth/oauth.py
  api/core/extension/api_based_extension_requestor.py
  api/core/helper/code_executor/code_executor.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/_client.py
  api/core/workflow/nodes/code/code_node.py
  api/core/workflow/nodes/http_request/entities.py
  api/core/workflow/nodes/http_request/http_executor.py
Labels: size:L, lgtm

#5999 chore: skip pip upgrade preparation in api dockerfile
  api/Dockerfile
Labels: size:XS, lgtm

#5868 fix: token count includes base64 string of input images
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
Labels: 🐞 bug, size:XS, ⚙️ feat:model-runtime, lgtm

#6011 Optimize db config
  api/configs/middleware/__init__.py
Labels: size:S, lgtm

#6029 feat: support moonshot and glm base models for volcengine provider
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.yaml
Labels: size:L, lgtm

#6039 chore: optimize memory fetch performance
  api/core/memory/token_buffer_memory.py
Labels: size:M

#6038 Fix/incorrect parameter extractor memory
  api/core/workflow/nodes/parameter_extractor/parameter_extractor_node.py
  api/tests/integration_tests/workflow/nodes/test_parameter_extractor.py
Labels: size:M, lgtm

#6023 fix(configs): Update pydantic settings in config files
  api/configs/__init__.py
  api/configs/app_config.py
  api/configs/deploy/__init__.py
  api/configs/enterprise/__init__.py
  api/configs/extra/__init__.py
  api/configs/extra/notion_config.py
  api/configs/extra/sentry_config.py
  api/configs/feature/__init__.py
  api/configs/feature/hosted_service/__init__.py
  api/configs/middleware/__init__.py
  api/configs/middleware/cache/redis_config.py
  api/configs/middleware/storage/aliyun_oss_storage_config.py
  api/configs/middleware/storage/amazon_s3_storage_config.py
  api/configs/middleware/storage/azure_blob_storage_config.py
  api/configs/middleware/storage/google_cloud_storage_config.py
  api/configs/middleware/storage/oci_storage_config.py
  api/configs/middleware/storage/tencent_cos_storage_config.py
  api/configs/middleware/vdb/chroma_config.py
  api/configs/middleware/vdb/milvus_config.py
  api/configs/middleware/vdb/opensearch_config.py
  api/configs/middleware/vdb/oracle_config.py
  api/configs/middleware/vdb/pgvector_config.py
  api/configs/middleware/vdb/pgvectors_config.py
  api/configs/middleware/vdb/qdrant_config.py
  api/configs/middleware/vdb/relyt_config.py
  api/configs/middleware/vdb/tencent_vector_config.py
  api/configs/middleware/vdb/tidb_vector_config.py
  api/configs/middleware/vdb/weaviate_config.py
  api/configs/packaging/__init__.py
  api/tests/unit_tests/configs/test_dify_config.py
Labels: size:L, lgtm

#6042 Modify slack webhook url validation to allow workflow (#6041)
  api/core/tools/provider/builtin/slack/tools/slack_webhook.py
Labels: size:XS, lgtm

#6043 Fix/6034 get random order of categories in explore and workflow is missing in zh hant
  .vscode/launch.json
  api/constants/recommended_apps.json
  api/services/recommended_app_service.py
Labels: size:XS, lgtm

#6040 Fix authorization header validation to handle bearer types correctly - "authorization config header is required" error
  api/core/workflow/nodes/http_request/http_executor.py
Labels: size:XS, lgtm

#6036 Address the issue of the absence of poetry in the development container.
  .devcontainer/post_create_command.sh
Labels: size:XS, lgtm

#6049 chore: hide tracing introduce detail
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
Labels: size:M, lgtm

#6063 fix azure stream download
  api/extensions/storage/azure_storage.py
Labels: size:XS, lgtm

#5610 feat: add request_params field to jina_reader tool
  api/core/tools/provider/builtin/jina/tools/jina_reader.py
  api/core/tools/provider/builtin/jina/tools/jina_reader.yaml
Labels: 💪 enhancement, size:S, 🔨 feat:tools, lgtm

#6073 chore(action): move docker login above Set up QEMU in build-push action workflow
  .github/workflows/build-push.yml
Labels: size:S

#5998 fix: relative in overflow div
  web/app/components/workflow/nodes/_base/panel.tsx
Labels: size:XS, lgtm

#6077 chore: remove tsne unused code
  api/poetry.lock
  api/pyproject.toml
  api/services/hit_testing_service.py
Labels: size:S, lgtm

#4227 refactor: revamp picker block
  web/app/components/base/prompt-editor/plugins/component-picker-block/external-tool-option.tsx
  web/app/components/base/prompt-editor/plugins/component-picker-block/hooks.tsx
  web/app/components/base/prompt-editor/plugins/component-picker-block/index.tsx
  web/app/components/base/prompt-editor/plugins/component-picker-block/menu.tsx
  web/app/components/base/prompt-editor/plugins/component-picker-block/prompt-menu.tsx
  web/app/components/base/prompt-editor/plugins/component-picker-block/prompt-option.tsx
  web/app/components/base/prompt-editor/plugins/component-picker-block/variable-menu.tsx
  web/app/components/base/prompt-editor/plugins/component-picker-block/variable-option.tsx
Labels: 💪 enhancement, ☕️ javascript, size:XL, lgtm

#6055 fix: Inconsistency Between Actual and Debug Input Variables
  web/app/components/workflow/nodes/_base/components/before-run-form/form.tsx
  web/app/components/workflow/nodes/_base/hooks/use-one-step-run.ts
  web/app/components/workflow/types.ts
Labels: size:M, lgtm

#6078 bump to 0.6.13
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: size:S

#6066 Feat: add index bar to select tool panel of workflow
  web/app/components/workflow/block-selector/index-bar.tsx
  web/app/components/workflow/block-selector/tools.tsx
  web/package.json
  web/yarn.lock
Labels: size:M, lgtm

#5492 feat:add tts-streaming config and future
  api/constants/tts_auto_play_timeout.py
  api/controllers/console/app/audio.py
  api/controllers/console/explore/audio.py
  api/controllers/service_api/app/audio.py
  api/controllers/web/audio.py
  api/core/app/apps/advanced_chat/app_generator_tts_publisher.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/base_app_queue_manager.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/entities/task_entities.py
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
  api/core/model_manager.py
  api/core/model_runtime/model_providers/__base/tts_model.py
  api/core/model_runtime/model_providers/azure_openai/tts/tts.py
  api/core/model_runtime/model_providers/openai/tts/tts-1-hd.yaml
  api/core/model_runtime/model_providers/openai/tts/tts-1.yaml
  api/core/model_runtime/model_providers/openai/tts/tts.py
  api/core/model_runtime/model_providers/tongyi/tts/tts-1.yaml
  api/core/model_runtime/model_providers/tongyi/tts/tts.py
  api/pyproject.toml
  api/services/app_service.py
  api/services/audio_service.py
  web/app/components/app/configuration/config-voice/param-config-content.tsx
  web/app/components/app/configuration/features/chat-group/text-to-speech/index.tsx
  web/app/components/app/text-generate/item/index.tsx
  web/app/components/base/audio-btn/audio.player.manager.ts
  web/app/components/base/audio-btn/audio.ts
  web/app/components/base/audio-btn/index.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/answer/operation.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/features/feature-panel/text-to-speech/param-config-content.tsx
  web/app/components/base/features/types.ts
  web/app/components/workflow/hooks/use-workflow-run.ts
  web/i18n/en-US/app-debug.ts
  web/i18n/ja-JP/app-debug.ts
  web/i18n/zh-Hans/app-debug.ts
  web/i18n/zh-Hant/app-debug.ts
  web/models/debug.ts
  web/next.config.js
  web/service/apps.ts
  web/service/base.ts
  web/service/share.ts
  web/types/app.ts
Labels: 💪 enhancement, size:XXL, lgtm

#5586 feat: support AnalyticDB vector store
  api/.env.example
  api/commands.py
  api/configs/middleware/__init__.py
  api/configs/middleware/vdb/analyticdb_config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/analyticdb/__init__.py
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/vdb/analyticdb/__init__.py
  api/tests/integration_tests/vdb/analyticdb/test_analyticdb.py
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:L, 👻 feat:rag, lgtm

#5870 fix: node-title-is-overflow-in-checklist
  web/app/components/workflow/header/checklist.tsx
Labels: size:XS, lgtm, ☕️ typescript

#6100 Chore: new tailwind vars
  web/app/styles/globals.css
  web/themes/dark.css
  web/themes/light.css
  web/themes/tailwind-theme-var-define.ts
Labels: size:L, lgtm

#6064 fix dataset operator
  api/configs/feature/__init__.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/tag/tags.py
  api/controllers/console/workspace/members.py
  api/migrations/versions/161cadc1af8d_add_dataset_permission_tenant_id.py
  api/migrations/versions/7e6a8693e07a_add_table_dataset_permissions.py
  api/models/account.py
  api/models/dataset.py
  api/services/account_service.py
  api/services/dataset_service.py
  api/services/feature_service.py
  web/app/(commonLayout)/app/(appDetailLayout)/layout.tsx
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout.tsx
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/(commonLayout)/datasets/DatasetCard.tsx
  web/app/(commonLayout)/tools/page.tsx
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/base/icons/assets/vender/solid/users/users-plus.svg
  web/app/components/base/icons/src/vender/solid/users/UsersPlus.json
  web/app/components/base/icons/src/vender/solid/users/UsersPlus.tsx
  web/app/components/base/icons/src/vender/solid/users/index.ts
  web/app/components/base/search-input/index.tsx
  web/app/components/billing/type.ts
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/datasets/settings/permission-selector/index.tsx
  web/app/components/datasets/settings/permissions-radio/assets/user.svg
  web/app/components/datasets/settings/permissions-radio/index.module.css
  web/app/components/explore/index.tsx
  web/app/components/header/account-setting/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/role-selector.tsx
  web/app/components/header/account-setting/members-page/operation/index.tsx
  web/app/components/header/index.tsx
  web/app/components/header/nav/nav-selector/index.tsx
  web/context/app-context.tsx
  web/context/provider-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/en-US/dataset-settings.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/dataset-settings.ts
  web/models/common.ts
  web/models/datasets.ts
  web/service/datasets.ts
Labels: size:XXL, lgtm

#6110 chore: remove unresolved reference
  api/core/indexing_runner.py
Labels: size:XS, lgtm

#5781 feat(embed): enhance config and add custom styling support
  web/public/embed.js
  web/public/embed.min.js
Labels: 📚 documentation, 💪 enhancement, ☕️ javascript, size:L, lgtm

#6122 chore: update the tool's doc
  api/core/tools/docs/en_US/advanced_scale_out.md
  api/core/tools/docs/en_US/tool_scale_out.md
  api/core/tools/docs/zh_Hans/advanced_scale_out.md
  api/core/tools/docs/zh_Hans/tool_scale_out.md
  api/core/tools/entities/tool_entities.py
Labels: size:M, lgtm

#6141 feat: add until className defines
  web/app/components/app/text-generate/item/index.tsx
  web/app/components/workflow/block-selector/tabs.tsx
  web/app/components/workflow/block-selector/tools.tsx
  web/app/styles/globals.css
Labels: size:L, lgtm

#6072 feat: workflow if-else support elif
  web/app/components/base/button/index.css
  web/app/components/base/button/index.tsx
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/component.tsx
  web/app/components/workflow/constants.ts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/nodes/_base/components/readonly-input-with-select-var.tsx
  web/app/components/workflow/nodes/_base/components/variable-tag.tsx
  web/app/components/workflow/nodes/if-else/components/condition-add.tsx
  web/app/components/workflow/nodes/if-else/components/condition-item.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-input.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-item.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-operator.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/index.tsx
  web/app/components/workflow/nodes/if-else/components/condition-number-input.tsx
  web/app/components/workflow/nodes/if-else/components/condition-value.tsx
  web/app/components/workflow/nodes/if-else/default.ts
  web/app/components/workflow/nodes/if-else/node.tsx
  web/app/components/workflow/nodes/if-else/panel.tsx
  web/app/components/workflow/nodes/if-else/types.ts
  web/app/components/workflow/nodes/if-else/use-config.ts
  web/app/components/workflow/nodes/if-else/utils.ts
  web/app/components/workflow/utils.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:XXL, lgtm

#6094 feat: add if elif
  api/core/workflow/nodes/if_else/entities.py
  api/core/workflow/nodes/if_else/if_else_node.py
Labels: size:L, lgtm

#6117 feat: add PerfXCloud, Qwen series #6116
  api/core/model_runtime/model_providers/_position.yaml
  api/core/model_runtime/model_providers/perfxcloud/__init__.py
  api/core/model_runtime/model_providers/perfxcloud/_assets/icon_l_en.svg
  api/core/model_runtime/model_providers/perfxcloud/_assets/icon_s_en.svg
  api/core/model_runtime/model_providers/perfxcloud/llm/Qwen-14B-Chat-Int4.yaml
  api/core/model_runtime/model_providers/perfxcloud/llm/Qwen1.5-110B-Chat-GPTQ-Int4.yaml
  api/core/model_runtime/model_providers/perfxcloud/llm/Qwen1.5-72B-Chat-GPTQ-Int4.yaml
  api/core/model_runtime/model_providers/perfxcloud/llm/Qwen1.5-7B.yaml
  api/core/model_runtime/model_providers/perfxcloud/llm/Qwen2-72B-Instruct-GPTQ-Int4.yaml
  api/core/model_runtime/model_providers/perfxcloud/llm/Qwen2-7B.yaml
  api/core/model_runtime/model_providers/perfxcloud/llm/__init__.py
  api/core/model_runtime/model_providers/perfxcloud/llm/_position.yaml
  api/core/model_runtime/model_providers/perfxcloud/llm/llm.py
  api/core/model_runtime/model_providers/perfxcloud/perfxcloud.py
  api/core/model_runtime/model_providers/perfxcloud/perfxcloud.yaml
  api/core/model_runtime/model_providers/perfxcloud/text_embedding/BAAI-bge-m3.yaml
  api/core/model_runtime/model_providers/perfxcloud/text_embedding/__init__.py
  api/core/model_runtime/model_providers/perfxcloud/text_embedding/text_embedding.py
Labels: size:XL, lgtm

#6153 Revert "chore: update the tool's doc"
  api/core/tools/docs/en_US/advanced_scale_out.md
  api/core/tools/docs/en_US/tool_scale_out.md
  api/core/tools/docs/zh_Hans/advanced_scale_out.md
  api/core/tools/docs/zh_Hans/tool_scale_out.md
  api/core/tools/entities/tool_entities.py
Labels: size:M

#5844 feat: app rate limit
  api/.env.example
  api/configs/feature/__init__.py
  api/controllers/console/app/app.py
  api/controllers/console/app/completion.py
  api/controllers/console/app/workflow.py
  api/controllers/service_api/app/completion.py
  api/controllers/service_api/app/workflow.py
  api/core/app/features/rate_limiting/__init__.py
  api/core/app/features/rate_limiting/rate_limit.py
  api/core/errors/error.py
  api/fields/app_fields.py
  api/libs/external_api.py
  api/migrations/versions/408176b91ad3_add_max_active_requests.py
  api/models/model.py
  api/services/app_generate_service.py
  api/services/app_service.py
  docker-legacy/docker-compose.yaml
  docker/.env.example
  docker/docker-compose.yaml
Labels: 🐞 bug, 💪 enhancement, size:L, 🤖 feat:agent, lgtm

#6162 chore: update i18n for #5943
  web/i18n/de-DE/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: size:S, lgtm

#6163 chore: update i18n for #6069
  web/i18n/ja-JP/share-app.ts
  web/i18n/ko-KR/share-app.ts
  web/i18n/uk-UA/share-app.ts
  web/i18n/vi-VN/share-app.ts
  web/i18n/zh-Hans/share-app.ts
  web/i18n/zh-Hant/share-app.ts
Labels: size:S, lgtm

#6167 chore: update the tool's doc
  api/core/tools/docs/en_US/advanced_scale_out.md
  api/core/tools/docs/en_US/tool_scale_out.md
  api/core/tools/docs/zh_Hans/advanced_scale_out.md
  api/core/tools/docs/zh_Hans/tool_scale_out.md
  api/core/tools/entities/tool_entities.py
Labels: size:M, lgtm

#6172 fix: can add a custom tool without a name
  web/app/components/tools/edit-custom-collection-modal/index.tsx
  web/app/components/tools/workflow-tool/index.tsx
Labels: size:M, lgtm

#6161 fix: data not updated
  web/app/components/tools/provider/detail.tsx
Labels: size:XS, lgtm

#6092 feat: support MyScale vector database
  .github/workflows/api-tests.yml
  api/.env.example
  api/configs/middleware/__init__.py
  api/configs/middleware/vdb/myscale_config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/myscale/__init__.py
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/vdb/myscale/__init__.py
  api/tests/integration_tests/vdb/myscale/test_myscale.py
  dev/pytest/pytest_vdb.sh
  docker/.env.example
  docker/docker-compose.yaml
  docker/volumes/myscale/config/users.d/custom_users_config.xml
Labels: size:L, lgtm

#6196 Fix/file stream azure blob
  api/extensions/storage/azure_storage.py
Labels: size:XS, lgtm

#6184 fix: Correct environment variable name
  docker-legacy/docker-compose.yaml
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#6132 Create ernie-4.0-turbo-8k-preview
  api/core/model_runtime/model_providers/wenxin/llm/ernie-4.0-turbo-8k-preview
Labels: size:M, lgtm

#6209 fix document error for "/workflows/:task_id/stop"
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: size:S, lgtm

#6197 Fix: When editing an Agent, selecting custom tools does not allow filtering by labels.
  api/services/tools/api_tools_manage_service.py
Labels: size:XS, lgtm

#6215 upgrade deepseek params
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-chat.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-coder.yaml
Labels: size:XS, lgtm

#6221 chore: remove underscore in util class name and css variable
  web/themes/dark.css
  web/themes/light.css
  web/themes/tailwind-theme-var-define.ts
Labels: size:XXL, lgtm

#5880 fix: differentiate prompts fields based on function_calling_type
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: 🐞 bug, size:M, ⚙️ feat:model-runtime, lgtm

#6203 refactor(services/tasks): Swtich to dify_config witch Pydantic
  api/core/rag/datasource/keyword/keyword_factory.py
  api/services/account_service.py
  api/services/app_generate_service.py
  api/services/app_service.py
  api/services/dataset_service.py
  api/services/entities/model_provider_entities.py
  api/services/feature_service.py
  api/services/file_service.py
  api/services/recommended_app_service.py
  api/services/tools/tools_transform_service.py
  api/services/workspace_service.py
  api/tasks/document_indexing_task.py
  api/tasks/duplicate_document_indexing_task.py
  api/tasks/mail_invite_member_task.py
  api/tasks/mail_reset_password_task.py
Labels: size:L, lgtm

#6213 Fix/firecrawl parameters issue
  api/core/rag/extractor/firecrawl/firecrawl_app.py
  api/core/tools/provider/builtin/firecrawl/firecrawl_appx.py
Labels: size:XS, lgtm

#6237 refactor(api): switch to dify_config with Pydantic in controllers and schedule
  api/controllers/inner_api/wraps.py
  api/controllers/service_api/app/app.py
  api/controllers/service_api/index.py
  api/controllers/web/app.py
  api/controllers/web/site.py
  api/schedule/clean_embedding_cache_task.py
  api/schedule/clean_unused_datasets_task.py
Labels: size:M, lgtm

#6246 fix: model-provider-card-style
  web/app/components/header/account-setting/model-provider-page/provider-card/index.tsx
Labels: size:S, lgtm

#6236 Update ernie_bot.py
  api/core/model_runtime/model_providers/wenxin/llm/ernie_bot.py
Labels: size:XS, lgtm

#6234 fix: remove the maximum length limit of "paragraph" variable
  web/app/components/app/configuration/config-var/config-modal/index.tsx
Labels: size:XS, lgtm

#5855 fix: markdown proc will remove image
  api/core/rag/extractor/markdown_extractor.py
Labels: 🐞 bug, size:XS, lgtm

#6088 Fix mermaid render
  web/app/components/base/mermaid/index.tsx
Labels: size:M, lgtm

#6210 Feat/add zhipu CogView 3 tool
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/api_resource/images.py
  api/core/model_runtime/model_providers/zhipuai/zhipuai_sdk/core/_http_client.py
  api/core/tools/provider/builtin/cogview/__init__.py
  api/core/tools/provider/builtin/cogview/_assets/icon.png
  api/core/tools/provider/builtin/cogview/cogview.py
  api/core/tools/provider/builtin/cogview/cogview.yaml
  api/core/tools/provider/builtin/cogview/tools/cogview3.py
  api/core/tools/provider/builtin/cogview/tools/cogview3.yaml
Labels: size:L, lgtm

#6200 fix: custom tool input number fail
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/tools/tool/api_tool.py
Labels: size:XS, lgtm

#6274 Update model provider configuration for Triton Inference Server and X…
  api/core/model_runtime/model_providers/triton_inference_server/triton_inference_server.yaml
  api/core/model_runtime/model_providers/xinference/xinference.yaml
Labels: size:XS, lgtm

#6287 feat(backend): support import DSL from URL
  api/controllers/console/app/app.py
  api/controllers/console/app/workflow.py
  api/services/app_dsl_service.py
  api/services/app_service.py
  api/services/recommended_app_service.py
  api/services/workflow_service.py
Labels: size:XL

#6286 feat(frontend): workflow import dsl from url
  web/app/(commonLayout)/apps/NewAppCard.tsx
  web/app/components/app/create-from-dsl-modal/index.tsx
  web/app/components/billing/apps-full-in-dialog/index.tsx
  web/i18n/en-US/app.ts
  web/i18n/zh-Hans/app.ts
  web/service/apps.ts
Labels: size:L, lgtm

#6283 6282 i18n add support for italian
  web/i18n/it-IT/app-annotation.ts
  web/i18n/it-IT/app-api.ts
  web/i18n/it-IT/app-debug.ts
  web/i18n/it-IT/app-log.ts
  web/i18n/it-IT/app-overview.ts
  web/i18n/it-IT/app.ts
  web/i18n/it-IT/billing.ts
  web/i18n/it-IT/common.ts
  web/i18n/it-IT/custom.ts
  web/i18n/it-IT/dataset-creation.ts
  web/i18n/it-IT/dataset-documents.ts
  web/i18n/it-IT/dataset-hit-testing.ts
  web/i18n/it-IT/dataset-settings.ts
  web/i18n/it-IT/dataset.ts
  web/i18n/it-IT/explore.ts
  web/i18n/it-IT/layout.ts
  web/i18n/it-IT/login.ts
  web/i18n/it-IT/register.ts
  web/i18n/it-IT/run-log.ts
  web/i18n/it-IT/share-app.ts
  web/i18n/it-IT/tools.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/language.ts
  web/i18n/languages.json
Labels: size:XXL, lgtm

#6281 Update bedrock.yaml
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
Labels: size:XS, lgtm

#6288 6282 i18n add support for Italian
  web/i18n/it-IT/app-annotation.ts
  web/i18n/it-IT/app-api.ts
  web/i18n/it-IT/app-debug.ts
  web/i18n/it-IT/app-log.ts
  web/i18n/it-IT/app-overview.ts
  web/i18n/it-IT/app.ts
  web/i18n/it-IT/billing.ts
  web/i18n/it-IT/common.ts
  web/i18n/it-IT/custom.ts
  web/i18n/it-IT/dataset-creation.ts
  web/i18n/it-IT/dataset-documents.ts
  web/i18n/it-IT/dataset-hit-testing.ts
  web/i18n/it-IT/dataset-settings.ts
  web/i18n/it-IT/dataset.ts
  web/i18n/it-IT/explore.ts
  web/i18n/it-IT/layout.ts
  web/i18n/it-IT/login.ts
  web/i18n/it-IT/register.ts
  web/i18n/it-IT/run-log.ts
  web/i18n/it-IT/share-app.ts
  web/i18n/it-IT/tools.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/language.ts
  web/i18n/languages.json
Labels: size:XXL, lgtm

#6242 fix: validateColorHex: cannot read properties of undefined (reading 'length')
  web/app/components/app/overview/settings/index.tsx
Labels: size:XS, lgtm

#6290 fix: zhipuai validate error when user's api key not support for chatglm_turbo in issue #6289
  api/core/model_runtime/model_providers/zhipuai/zhipuai.py
Labels: size:XS, lgtm

#5882 Feat/delete file when clean document
  api/events/event_handlers/clean_when_document_deleted.py
  api/services/dataset_service.py
  api/tasks/clean_dataset_task.py
  api/tasks/clean_document_task.py
Labels: 💪 enhancement, size:M, lgtm

#6146 BugFix: Chinese garbled code in web crawler & float precision verification error in code execution
  api/core/tools/utils/web_reader_tool.py
  api/core/workflow/nodes/code/code_node.py
Labels: size:S, lgtm

#6307 chore:update azure GA version 2024-06-01
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:XS, lgtm

#6310 fix: prompt editor new line
  web/app/components/base/prompt-editor/index.tsx
Labels: size:XS, lgtm

#6273 dep: bump Pydantic from 2.7 to 2.8
  api/poetry.lock
  api/pyproject.toml
Labels: size:XS, lgtm

#6324 update clean_unused_datasets_task timedelta
  api/extensions/ext_celery.py
Labels: size:XS, lgtm

#6329 Docs: Translate
  CONTRIBUTING_CN.md
Labels: size:L, lgtm

#6321 fix: better qr code panel and webapp url regen confirmation
  web/app/components/app/overview/appCard.tsx
  web/app/components/base/qrcode/index.tsx
  web/app/components/base/qrcode/style.module.css
  web/i18n/en-US/app-overview.ts
Labels: size:M, lgtm

#6156 Add tool: Google Translate
  api/core/tools/provider/builtin/google_translate/_assets/icon.svg
  api/core/tools/provider/builtin/google_translate/google_translate.py
  api/core/tools/provider/builtin/google_translate/google_translate.yaml
  api/core/tools/provider/builtin/google_translate/tools/translate.py
  api/core/tools/provider/builtin/google_translate/tools/translate.yaml
Labels: size:L, lgtm

#6299 feat: bedrock model runtime enhancement
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/core/model_runtime/model_providers/bedrock/llm/mistral.mistral-large-2402-v1.0.yaml
  api/core/model_runtime/model_providers/bedrock/llm/mistral.mistral-small-2402-v1.0.yaml
Labels: size:M, lgtm

#6345 fix wrong using of RetrievalMethod Enum
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/retrieval_service.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/rag/retrieval/retrival_methods.py
  api/core/tools/tool/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/models/dataset.py
  api/services/dataset_service.py
  api/services/hit_testing_service.py
Labels: size:M, lgtm

#6349 Fix tts api err
  api/controllers/console/explore/audio.py
  api/controllers/service_api/app/audio.py
  api/controllers/web/audio.py
Labels: size:S, lgtm

#6352 update celery beat scheduler time to env
  api/.env.example
  api/configs/feature/__init__.py
  api/extensions/ext_celery.py
Labels: size:S, lgtm

#6340 chore: fix legacy API usages of Query.get() by Session.get() in SqlAlchemy 2
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/workspace/members.py
  api/models/dataset.py
  api/models/workflow.py
  api/poetry.lock
  api/pyproject.toml
Labels: size:M, lgtm

#6337 WebscraperTool bypass cloudflare site by cloudscraper
  api/core/tools/utils/web_reader_tool.py
  api/poetry.lock
  api/pyproject.toml
Labels: size:M, lgtm

#6332 fix: default model set wrong（#6327）
  api/services/app_service.py
Labels: size:XS, lgtm

#6369 Add multilingual support for TTS (Text-to-Speech) functionality.
  web/app/components/base/audio-btn/audio.ts
  web/i18n/es-ES/app-debug.ts
  web/i18n/fr-FR/app-debug.ts
  web/i18n/hi-IN/app-debug.ts
  web/i18n/ko-KR/app-debug.ts
  web/i18n/pl-PL/app-debug.ts
  web/i18n/pt-BR/app-debug.ts
  web/i18n/ro-RO/app-debug.ts
  web/i18n/uk-UA/app-debug.ts
  web/i18n/vi-VN/app-debug.ts
Labels: size:M, lgtm

#6371 fix: incorrect config key name
  api/configs/feature/hosted_service/__init__.py
Labels: size:XS, lgtm

#6380 fix: workflow sync before export
  web/app/components/workflow/hooks/use-workflow-interactions.ts
Labels: size:S, lgtm

#6379 refactor(api/core/workflow/nodes/http_request): Remove `mask_authorization_header` because its alwary true.
  api/core/workflow/nodes/http_request/entities.py
  api/core/workflow/nodes/http_request/http_executor.py
  api/core/workflow/nodes/http_request/http_request_node.py
  api/core/workflow/utils/variable_template_parser.py
  api/tests/integration_tests/workflow/nodes/test_http.py
Labels: size:M, lgtm

#6384 Feat/optimize clean dataset logic
  api/schedule/clean_unused_datasets_task.py
Labels: size:M, lgtm

#6383 fix: rename model from ernie-4.0-8k-Latest to ernie-4.0-8k-latest
  api/core/model_runtime/model_providers/wenxin/llm/ernie-4.0-8k-latest.yaml
Labels: size:XS, lgtm
