Repository langgenius/dify, pull requests merged in 2025-04, with the labels that each got.

#17212 optimize lindorm vdb add_texts
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
Labels: size:M, 👻 feat:rag, lgtm

#17178 Fix api document
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:S, lgtm

#17227 Support variables in question classifier classes
  web/app/components/workflow/nodes/_base/components/prompt/editor.tsx
  web/app/components/workflow/nodes/question-classifier/components/class-item.tsx
  web/app/components/workflow/nodes/question-classifier/components/class-list.tsx
  web/app/components/workflow/nodes/question-classifier/node.tsx
  web/app/components/workflow/nodes/question-classifier/panel.tsx
Labels: 📚 documentation, size:M, lgtm, ☕️ typescript

#17151 fix: keywords field not persist in segements api
  api/services/dataset_service.py
Labels: 🐞 bug, size:XS, lgtm

#16953 fix: Fix lodash module not found issue
  web/app/components/base/chat/__tests__/utils.spec.ts
  web/app/components/workflow/nodes/http/hooks/use-key-value-list.ts
Labels: 🐞 bug, size:XS, lgtm

#17251 Feat：edu frontend
  .github/workflows/build-push.yml
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/(commonLayout)/apps/page.tsx
  web/app/(commonLayout)/education-apply/page.tsx
  web/app/account/account-page/index.tsx
  web/app/account/avatar.tsx
  web/app/components/app/configuration/dataset-config/index.tsx
  web/app/components/base/date-and-time-picker/date-picker/index.tsx
  web/app/components/base/icons/assets/public/education/triangle.svg
  web/app/components/base/icons/src/public/education/Triangle.json
  web/app/components/base/icons/src/public/education/Triangle.tsx
  web/app/components/base/icons/src/public/education/index.ts
  web/app/components/base/portal-to-follow-elem/index.tsx
  web/app/components/billing/plan/index.tsx
  web/app/components/billing/type.ts
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/index.tsx
  web/app/components/header/plan-badge/index.tsx
  web/app/components/swr-initor.tsx
  web/app/education-apply/constants.ts
  web/app/education-apply/education-apply-page.tsx
  web/app/education-apply/hooks.ts
  web/app/education-apply/role-selector.tsx
  web/app/education-apply/search-input.tsx
  web/app/education-apply/types.ts
  web/app/education-apply/user-info.tsx
  web/app/education-apply/verify-state-modal.tsx
  web/context/modal-context.tsx
  web/context/provider-context.tsx
  web/i18n/en-US/education.ts
  web/i18n/i18next-config.ts
  web/i18n/ja-JP/education.ts
  web/i18n/zh-Hans/education.ts
  web/public/education/bg.png
  web/service/use-education.ts
  web/utils/index.ts
Labels: 💪 enhancement, size:XL, lgtm

#17168 Feat/education api
  api/configs/feature/__init__.py
  api/controllers/console/error.py
  api/controllers/console/workspace/account.py
  api/controllers/console/wraps.py
  api/services/billing_service.py
  api/services/feature_service.py
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#17254 chore: slice workflow store
  web/app/components/workflow/store.ts
  web/app/components/workflow/store/index.ts
  web/app/components/workflow/store/workflow/chat-variable-slice.ts
  web/app/components/workflow/store/workflow/env-variable-slice.ts
  web/app/components/workflow/store/workflow/form-slice.ts
  web/app/components/workflow/store/workflow/help-line-slice.ts
  web/app/components/workflow/store/workflow/history-slice.ts
  web/app/components/workflow/store/workflow/index.ts
  web/app/components/workflow/store/workflow/node-slice.ts
  web/app/components/workflow/store/workflow/panel-slice.ts
  web/app/components/workflow/store/workflow/tool-slice.ts
  web/app/components/workflow/store/workflow/version-slice.ts
  web/app/components/workflow/store/workflow/workflow-draft-slice.ts
  web/app/components/workflow/store/workflow/workflow-slice.ts
Labels: size:XL, 🌊 feat:workflow, lgtm

#17277 feat: add zod
  web/app/components/base/with-input-validation/index.spec.tsx
  web/app/components/base/with-input-validation/index.tsx
  web/utils/zod.spec.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#17130 fix: web docker file config
  web/Dockerfile
Labels: 🐞 bug, size:XS, lgtm

#17288 fix: enlarge workspace selector width to show current workspace
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#17295 fix: add app quota check to import API
  api/controllers/console/app/app_import.py
Labels: 🐞 bug, size:XS, lgtm

#17284 [Documentation] Update README under docker folder for middleware components.
  docker/README.md
Labels: 📚 documentation, size:XS, lgtm

#17304 Fix (api): Fix the processing logic of the retriever_resources field.
  api/controllers/service_api/app/message.py
Labels: 🐞 bug, size:S, lgtm

#17273 Feat/loop node
  api/core/workflow/entities/node_entities.py
  api/core/workflow/nodes/enums.py
  api/core/workflow/nodes/loop/__init__.py
  api/core/workflow/nodes/loop/entities.py
  api/core/workflow/nodes/loop/loop_end_node.py
  api/core/workflow/nodes/loop/loop_node.py
  api/core/workflow/nodes/node_mapping.py
  api/core/workflow/nodes/variable_assigner/v2/node.py
Labels: size:L, 🌊 feat:workflow, lgtm

#17283 feat: add i18n checker (ui)
  web/app/dev-only/i18n-checker/page.tsx
  web/app/dev-only/layout.tsx
  web/i18n/DEV.md
  web/i18n/i18next-config.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#17323 fix: sandbox can upload multiple files by upload
  web/app/components/datasets/create/file-uploader/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#17329 fix: loop single run log
  web/app/components/workflow/nodes/loop/panel.tsx
Labels: 🐞 bug, size:S, lgtm

#17360 fix: update permission logic to ensure administrators always have access
  web/app/components/plugins/plugin-page/use-permission.ts
Labels: 🐞 bug, size:XS, lgtm

#17357 Lindorm VDB bugfix
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
Labels: 🐞 bug, size:M, lgtm

#17358 fix: remove setPublishedAt on handleRestoreFromPublishedWorkflow
  web/app/components/workflow/hooks/use-workflow-run.ts
Labels: 🐞 bug, size:XS, lgtm

#17352 add doc support in knowledge base for unstructured
  api/core/rag/extractor/extract_processor.py
  api/core/rag/extractor/unstructured/unstructured_doc_extractor.py
Labels: size:S

#17351 fix duplicate documents returned by Get document list service API
  api/controllers/service_api/dataset/document.py
Labels: 🐞 bug, size:XS, lgtm

#17320 fix: improve error handling and default values in fetchPlan function
  web/context/provider-context.tsx
Labels: 🐞 bug, size:M, lgtm

#17133 fix: move hardcoded text to language settings (#16990)
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_tool.py
  api/services/dataset_service.py
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/(commonLayout)/datasets/page.tsx
  web/app/(commonLayout)/plugins/page.tsx
  web/app/components/base/app-icon-picker/ImageInput.tsx
  web/app/components/plugins/plugin-page/index.tsx
  web/i18n/en-US/common.ts
  web/i18n/en-US/plugin.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/plugin.ts
Labels: 📚 documentation, size:M, lgtm

#17347 fix annotation failed when embedding model and dimension changed
  api/tasks/annotation/disable_annotation_reply_task.py
  api/tasks/annotation/enable_annotation_reply_task.py
Labels: 🐞 bug, size:S, lgtm

#17390 Fix/15429 forgotpasswordresetapi session management
  api/controllers/console/auth/forgot_password.py
Labels: 🐞 bug, size:M, lgtm

#17393 fix: update tag input border styles for special mode and focus state
  web/app/components/base/tag-input/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#17368 feat: add langfuse llm node input and output
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
Labels: 💪 enhancement, size:M, lgtm

#17402 Feat/change workspace name
  api/controllers/console/workspace/workspace.py
  web/app/components/header/account-setting/members-page/edit-workspace-modal/index.module.css
  web/app/components/header/account-setting/members-page/edit-workspace-modal/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
  web/i18n/en-US/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/zh-Hans/common.ts
  web/service/common.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#17382 feat: remove file and file[] restriction in code node
  api/core/workflow/nodes/code/code_node.py
  web/app/components/workflow/nodes/code/use-config.ts
Labels: size:XS, 🌊 feat:workflow, lgtm

#16955 feat: hide 'Find More in Marketplace in Tools'
  web/app/components/workflow/block-selector/all-tools.tsx
Labels: 💪 enhancement, size:S, 🔨 feat:tools, lgtm

#15976 feat: agent node add memory
  api/core/agent/plugin_entities.py
  api/core/workflow/nodes/agent/agent_node.py
  api/core/workflow/nodes/agent/entities.py
  web/app/components/plugins/types.ts
  web/app/components/workflow/nodes/agent/panel.tsx
  web/app/components/workflow/nodes/agent/types.ts
  web/app/components/workflow/nodes/agent/use-config.ts
Labels: size:L, 🤖 feat:agent, lgtm

#17408 fix: #15548 Resolve errors in SQL queries caused by SELECT fields not appearing in the GROUP BY clause.
  api/services/tag_service.py
Labels: 🐞 bug, size:XS, lgtm

#17413 Chore: fix some wrong annotations
  api/core/workflow/nodes/if_else/entities.py
  api/core/workflow/nodes/template_transform/entities.py
  api/core/workflow/nodes/variable_aggregator/entities.py
Labels: size:XS, lgtm

#17353 Fix/dsl kb encrypt
  api/services/app_dsl_service.py
Labels: 🐞 bug, size:M, lgtm

#17427 feat: add resize debug panel width
  web/app/components/workflow/panel/debug-and-preview/index.tsx
Labels: 💪 enhancement, size:M, lgtm

#17426 doc: add JSDoc to file `format.ts`
  web/utils/format.ts
Labels: 📚 documentation, size:M, lgtm, ☕️ typescript

#17430 fix: keep image url
  api/core/rag/cleaner/clean_processor.py
Labels: 🐞 bug, size:S, lgtm

#17428 fix: client side error
  web/app/components/workflow/nodes/http/use-config.ts
Labels: 🐞 bug, size:XS, lgtm

#17431 refactor: type improvement of file `oneMoreStep.tsx`
  web/app/signin/oneMoreStep.tsx
Labels: size:S, lgtm, ☕️ typescript

#17455 fix: skip file format check of mime types for generated files by tools
  api/factories/file_factory.py
Labels: 🐞 bug, size:XS, lgtm

#17467 chore: remove outdated contact
  README_CN.md
  images/wechat.png
Labels: 📚 documentation, size:XS, lgtm

#17443 fix: change `Switch.props.ref` to optional prop to align with `OriginalSwitch`
  web/app/components/base/switch/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#17470 Fix/17466 cannot create a knowledge base by adding files
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_tool.py
  api/services/dataset_service.py
Labels: 🐞 bug, size:S

#17485 fix: adjust styling for active and disabled states in Stepper component
  web/app/components/datasets/create/stepper/step.tsx
Labels: 🐞 bug, size:XS, lgtm

#17491 Fix(webapp): long table scroll issue of workflow
  web/app/components/share/text-generation/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#17496 refactor & perf: declare const object outside component `VarReferencePicker`
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#17497 refactor: type improvement of component `AddVariablePopupWithPosition`
  web/app/components/workflow/nodes/_base/components/add-variable-popup-with-position.tsx
Labels: size:XS, lgtm, ☕️ typescript

#17495 refactor & perf: declare const object outside component `ConstantField`
  web/app/components/workflow/nodes/_base/components/variable/constant-field.tsx
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#17444 refactor & perf of file `var-reference-vars.tsx`
  web/app/components/workflow/nodes/_base/components/variable/var-reference-vars.tsx
Labels: 💪 enhancement, size:S, ☕️ typescript

#17507 optimize: plugin permission
  api/controllers/console/workspace/plugin.py
  web/app/components/plugins/plugin-page/use-permission.ts
Labels: 💪 enhancement, size:S, lgtm

#12237 feat(improve-api-endpoints): Added Datasets and Annotation APIs
  api/controllers/service_api/__init__.py
  api/controllers/service_api/app/annotation.py
  api/controllers/service_api/dataset/dataset.py
  api/controllers/service_api/workspace/models.py
  api/controllers/service_api/wraps.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
Labels: 📚 documentation, 💪 enhancement, size:XXL, lgtm

#17515 fix: chat api doc
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
Labels: 📚 documentation, size:XS, lgtm

#17516 fix: Correct "The job is not exist" to "The job does not exist"
  api/controllers/service_api/app/annotation.py
  api/poetry.lock
Labels: size:XS, lgtm

#16396 feat: Integrate WaterCrawl.dev as a new knowledge base provider
  api/controllers/console/datasets/website.py
  api/core/rag/extractor/extract_processor.py
  api/core/rag/extractor/watercrawl/client.py
  api/core/rag/extractor/watercrawl/extractor.py
  api/core/rag/extractor/watercrawl/provider.py
  api/services/auth/api_key_auth_factory.py
  api/services/auth/auth_type.py
  api/services/auth/watercrawl/__init__.py
  api/services/auth/watercrawl/watercrawl.py
  api/services/website_service.py
  web/app/components/datasets/create/assets/watercrawl.svg
  web/app/components/datasets/create/website/index.module.css
  web/app/components/datasets/create/website/index.tsx
  web/app/components/datasets/create/website/no-data.tsx
  web/app/components/datasets/create/website/watercrawl/header.tsx
  web/app/components/datasets/create/website/watercrawl/index.tsx
  web/app/components/datasets/create/website/watercrawl/options.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/config-watercrawl-modal.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/index.tsx
  web/app/components/header/account-setting/data-source-page/index.tsx
  web/app/components/header/account-setting/data-source-page/panel/index.tsx
  web/i18n/en-US/dataset-creation.ts
  web/models/common.ts
  web/service/datasets.ts
Labels: 📚 documentation, size:XXL, 📚 feat:datasource, lgtm

#17517 chore: add missing i18n
  web/i18n/en-US/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
Labels: size:XS, lgtm

#17500 fix: loop and interation node not showing tracing entry in chatflow
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
Labels: 🐞 bug, size:XS, lgtm

#17541 fix: update QA document default language from "Chinese" to "Chinese Simplified"
  web/app/components/datasets/create/step-two/index.tsx
Labels: 📚 documentation, size:XS, lgtm

#17534 fix ChatCompletionResponse docs
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: 📚 documentation, size:M, lgtm

#17538 fix: only the owner can edit the member information
  web/app/components/header/account-setting/members-page/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#17549 deal db session in celery worker
  api/tasks/add_document_to_index_task.py
  api/tasks/annotation/add_annotation_to_index_task.py
  api/tasks/annotation/batch_import_annotations_task.py
  api/tasks/annotation/delete_annotation_index_task.py
  api/tasks/annotation/disable_annotation_reply_task.py
  api/tasks/annotation/enable_annotation_reply_task.py
  api/tasks/annotation/update_annotation_to_index_task.py
  api/tasks/batch_clean_document_task.py
  api/tasks/batch_create_segment_to_index_task.py
  api/tasks/clean_dataset_task.py
  api/tasks/clean_document_task.py
  api/tasks/clean_notion_document_task.py
  api/tasks/create_segment_to_index_task.py
  api/tasks/deal_dataset_vector_index_task.py
  api/tasks/delete_segment_from_index_task.py
  api/tasks/disable_segment_from_index_task.py
  api/tasks/disable_segments_from_index_task.py
  api/tasks/document_indexing_sync_task.py
  api/tasks/document_indexing_task.py
  api/tasks/document_indexing_update_task.py
  api/tasks/duplicate_document_indexing_task.py
  api/tasks/enable_segment_to_index_task.py
  api/tasks/enable_segments_to_index_task.py
  api/tasks/recover_document_indexing_task.py
  api/tasks/remove_document_from_index_task.py
  api/tasks/retry_document_indexing_task.py
Labels: size:L, lgtm

#17445 feat: support select-type variables in Metadata Filtering (#17440
  web/app/components/app/configuration/dataset-config/index.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/components/metadata/condition-list/condition-item.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/components/metadata/condition-list/utils.ts
  web/app/components/workflow/nodes/knowledge-retrieval/components/metadata/metadata-icon.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/types.ts
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#17599 fix: segment keywords bug
  api/services/dataset_service.py
Labels: 🐞 bug, size:XS, lgtm

#17576 fix: Extract docx file fails when the file contains an invalid link
  api/core/rag/extractor/word_extractor.py
Labels: 🐞 bug, size:XS, lgtm

#17604 fix: Sass @import warning
  web/app/styles/markdown.scss
Labels: size:XS, lgtm

#17612 fix(transport): add missing verify parameter to httpx.HTTPTransport
  api/core/helper/ssrf_proxy.py
Labels: 🐞 bug, size:XS, lgtm

#17617 chore: add unit test to high frequency hooks
  web/app/components/header/account-setting/model-provider-page/hooks.spec.ts
  web/hooks/use-breakpoints.spec.ts
  web/jest.config.ts
Labels: size:L, lgtm

#17611 chore: bump pnpm to v10 in web dockerfile
  .devcontainer/post_create_command.sh
  .github/workflows/web-tests.yml
  web/Dockerfile
  web/README.md
Labels: dependencies, size:S, lgtm

#16836 feat: enhance index type handling and add error notification for missing embedding model
  web/app/components/datasets/create/step-two/index.tsx
  web/i18n/en-US/app-debug.ts
  web/i18n/zh-Hans/app-debug.ts
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#17634 Fixed the model-modal titles not being clearly distinguished between "Add" and "Setup"
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#13341 chore: bump Nodejs in web image from 20 to 22 LTS
  .github/workflows/style.yml
  .github/workflows/tool-test-sdks.yaml
  .github/workflows/translate-i18n-base-on-english.yml
  .github/workflows/web-tests.yml
  web/Dockerfile
Labels: dependencies, size:S, lgtm

#17088 Accelerate migration
  api/services/plugin/data_migration.py
Labels: size:M, lgtm

#17083 Fix Performance Issues:
  api/core/rag/datasource/retrieval_service.py
  api/migrations/versions/2025_03_29_2227-6a9f914f656c_change_documentsegment_and_childchunk_.py
  api/models/dataset.py
  api/services/hit_testing_service.py
Labels: 💪 enhancement, size:L, lgtm

#17656 chore: add `'no-empty-function': 'error'` to `eslint.config.mjs`
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/base/audio-btn/audio.player.manager.ts
  web/app/components/base/audio-btn/audio.ts
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/pagination/pagination.tsx
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/documents/list.tsx
  web/app/components/explore/create-app-modal/index.tsx
  web/app/components/header/account-setting/data-source-page/panel/config-item.tsx
  web/app/components/workflow/block-selector/market-place-plugin/list.tsx
  web/app/components/workflow/hooks/use-workflow-run.ts
  web/app/components/workflow/nodes/_base/hooks/use-one-step-run.ts
  web/app/components/workflow/run/utils/format-log/agent/data.ts
  web/context/i18n.ts
  web/eslint.config.mjs
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#17646 optimize: docker-compose.middleware.yaml update env_file dependence
  docker/docker-compose.middleware.yaml
Labels: 📚 documentation, dependencies, size:XS, lgtm

#17489 chore: add script for running mypy type checks and speed up mypy checks in CI jobs
  .github/workflows/api-tests.yml
  api/poetry.lock
  api/pyproject.toml
  dev/reformat
  dev/run-mypy
Labels: dependencies, size:M, lgtm

#17663 feat: add plugin daemon oss env config
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: 💪 enhancement, size:L, lgtm

#17667 fix: Account.query => db.session.query(Account)
  api/controllers/service_api/wraps.py
Labels: 🐞 bug, size:XS, lgtm

#17676 Chore: remove beta tag of app type
  web/app/components/app/create-app-modal/index.tsx
Labels: 📚 documentation, size:XS, lgtm

#17679 chore: find code with high complexity
  web/.vscode/extensions.json
  web/eslint.config.mjs
  web/package.json
Labels: size:XS, lgtm

#17689 feat(graph_engine): yield control to other threads before node run.
  api/core/workflow/graph_engine/graph_engine.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#17695 refactor: add API endpoint to list latest plugin versions and query it in asynchronous way
  api/controllers/console/workspace/plugin.py
  api/core/plugin/entities/plugin.py
  api/services/plugin/plugin_service.py
  web/app/components/plugins/plugin-page/plugins-panel.tsx
  web/app/components/plugins/types.ts
  web/service/use-plugins.ts
Labels: 💪 enhancement, size:M, lgtm

#17698 chore: hide eslint complexity warning
  web/eslint.config.mjs
Labels: size:XS, lgtm

#17704 fix segment query index not effect
  api/core/rag/datasource/retrieval_service.py
Labels: 🐞 bug, size:S

#17692 fix: Check collection exists before drop it.
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
Labels: 🐞 bug, size:XS, lgtm

#17702 fix : PLUGIN_S3_USE_AWS_MANAGED_IAM AND PLUGIN_S3_USE_PATH_STYLE …
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: size:S, lgtm

#17707 revert batch query
  api/core/rag/datasource/retrieval_service.py
Labels: size:L

#17706 feat(large_language_model): Adds plugin-based token counting configuration option
  api/.env.example
  api/configs/feature/__init__.py
  api/core/app/apps/agent_chat/app_runner.py
  api/core/app/apps/chat/app_runner.py
  api/core/app/apps/completion/app_runner.py
  api/core/model_runtime/docs/en_US/customizable_model_scale_out.md
  api/core/model_runtime/docs/zh_Hans/customizable_model_scale_out.md
  api/core/model_runtime/model_providers/__base/large_language_model.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, size:M, ⚙️ feat:model-runtime, lgtm

#17722 fix: docker compose plugin s3 config default value
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: size:S, lgtm

#17724 Fix create blank app
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/components/app/create-app-modal/index.tsx
Labels: 🐞 bug, size:S, lgtm

#17730 Chore/slice workflow utils
  web/app/components/header/account-setting/model-provider-page/model-icon/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
  web/app/components/plugins/card/index.tsx
  web/app/components/workflow/nodes/agent/default.ts
  web/app/components/workflow/utils.ts
  web/app/components/workflow/utils/common.ts
  web/app/components/workflow/utils/edge.ts
  web/app/components/workflow/utils/index.ts
  web/app/components/workflow/utils/layout.ts
  web/app/components/workflow/utils/node.ts
  web/app/components/workflow/utils/tool.ts
  web/app/components/workflow/utils/variable.ts
  web/app/components/workflow/utils/workflow-init.spec.ts
  web/app/components/workflow/utils/workflow-init.ts
  web/app/components/workflow/utils/workflow.ts
  web/hooks/use-i18n.ts
  web/i18n/index.ts
  web/package.json
  web/pnpm-lock.yaml
Labels: size:XXL, 🌊 feat:workflow, lgtm, ☕️ typescript

#17716 fix: 17712-get-messages-api-encountered-internal-server-error
  api/controllers/service_api/app/message.py
Labels: 🐞 bug, size:S, lgtm

#17733 fix: Enhance error handling and retry logic in Apps component
  web/app/(commonLayout)/apps/Apps.tsx
Labels: 🐞 bug, size:S, lgtm

#17684 feat: add search params to url
  web/app/(commonLayout)/plugins/page.tsx
  web/app/components/plugins/hooks.ts
  web/app/components/plugins/marketplace/context.tsx
  web/app/components/plugins/marketplace/index.tsx
  web/app/components/plugins/marketplace/plugin-type-switch.tsx
  web/app/components/plugins/marketplace/utils.ts
  web/app/components/plugins/plugin-page/context.tsx
  web/app/components/plugins/plugin-page/index.tsx
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#17748 Add and modify jp translation
  web/i18n/ja-JP/workflow.ts
Labels: 📚 documentation, size:S, lgtm

#17747 fix: fix inputs lost
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/embedded-chatbot/hooks.tsx
Labels: 🐞 bug, size:XS, lgtm

#17138 feat: add consistent keyboard shortcut support and visual indicators across all app creation dialogs
  web/app/components/app/create-app-dialog/index.tsx
  web/app/components/app/create-from-dsl-modal/index.tsx
  web/app/components/explore/create-app-modal/index.tsx
Labels: 💪 enhancement, size:M, lgtm

#17766 fix: adjust spacing in ViewHistory and Panel components
  web/app/components/workflow/header/view-history.tsx
  web/app/components/workflow/nodes/variable-assigner/panel.tsx
Labels: size:XS, lgtm

#17784 chore: skip document segments fetching with non-existed dataset of DatasetDocument in add_document_to_index_task task
  api/tasks/add_document_to_index_task.py
Labels: size:XS, lgtm

#17789 hotfix: Workflow page element warning problem #17787
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:S, lgtm

#17794 fix: parallel id caused append to wrong branch
  web/app/components/workflow/run/utils/format-log/parallel/index.ts
Labels: 🐞 bug, size:XS, lgtm

#17796 create db if not exists
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#11538 fix: make prompt consistent with few-show examples
  api/core/workflow/nodes/question_classifier/template_prompts.py
Labels: 🐞 bug, size:M, lgtm

#17670 chore: remove non-existed extra msg for unstructured package
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS, lgtm

#17828 chore: Modify watercrawl translation in en-US and zh-Hans
  web/i18n/en-US/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
Labels: 📚 documentation, size:XS, lgtm

#17842 fix: text.split
  web/app/components/base/prompt-editor/utils.ts
Labels: 🐞 bug, size:XS, lgtm

#17854 fix: run button disappeared when where is no inputs in form
  web/app/components/share/text-generation/run-once/index.tsx
Labels: 🐞 bug, size:L, lgtm

#17857 feat: add optional search parameters to dataset query templates i
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:M, lgtm

#17861 fix: do not submit value when file input is optional
  web/app/components/share/text-generation/run-once/index.tsx
Labels: 🐞 bug, size:S, lgtm

#17867 enhance(plugin): replace json.loads with Pydantic model_validate_json
  api/core/plugin/manager/base.py
Labels: 💪 enhancement, size:XS, lgtm

#17864 fix: in variable settings, use Textarea to replace Input.
  web/app/components/workflow/panel/chat-variable-panel/components/variable-modal.tsx
  web/app/components/workflow/panel/env-panel/variable-modal.tsx
Labels: 🐞 bug, size:S, lgtm

#17859 fix: autocorrect everything in api
  api/configs/remote_settings_sources/apollo/client.py
  api/core/model_runtime/README_CN.md
  api/core/model_runtime/docs/en_US/customizable_model_scale_out.md
  api/core/model_runtime/docs/en_US/interfaces.md
  api/core/model_runtime/docs/zh_Hans/customizable_model_scale_out.md
  api/core/model_runtime/docs/zh_Hans/interfaces.md
  api/core/model_runtime/docs/zh_Hans/predefined_model_scale_out.md
  api/core/model_runtime/docs/zh_Hans/provider_scale_out.md
  api/core/model_runtime/entities/defaults.py
  api/core/prompt/prompt_templates/advanced_prompt_templates.py
  api/core/rag/datasource/vdb/oracle/oraclevector.py
  api/core/tools/builtin_tool/providers/code/tools/simple_code.yaml
  api/core/tools/builtin_tool/providers/time/tools/localtime_to_timestamp.yaml
  api/core/tools/builtin_tool/providers/time/tools/timestamp_to_localtime.yaml
  api/core/tools/builtin_tool/providers/time/tools/timezone_conversion.yaml
  api/core/tools/custom_tool/provider.py
  api/tests/integration_tests/vdb/tidb_vector/check_tiflash_ready.py
Labels: 📚 documentation, size:L, lgtm

#17848 fix: fix file number limit error
  api/constants/__init__.py
  api/controllers/common/helpers.py
  api/core/app/app_config/features/file_upload/manager.py
  api/models/model.py
  api/models/workflow.py
Labels: 🐞 bug, size:S, lgtm

#17843 Fix external knowledge Issues: (#17685)
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:XS, lgtm

#17873 fix: add annotation ctrl button for annotation add
  web/app/components/base/chat/chat/answer/operation.tsx
  web/app/components/base/features/new-feature-panel/annotation-reply/annotation-ctrl-button.tsx
Labels: 🐞 bug, size:M, lgtm

#17672 Update the model modal:position the scrollbar further inside the modal
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
Labels: 💪 enhancement, size:M, lgtm

#17879 fix: adjust margin in DatasetCard component for better layout
  web/app/(commonLayout)/datasets/DatasetCard.tsx
Labels: 🐞 bug, size:XS, lgtm

#16717 fix: refactor SVG icon handling logic and optimize event listener management in embed.js to support mobile browsers #16719
  web/public/embed.js
  web/public/embed.min.js
Labels: 💪 enhancement, size:L, lgtm

#17627 [Observability] Integrate OpenTelemetry
  api/.env.example
  api/app_factory.py
  api/configs/app_config.py
  api/configs/observability/__init__.py
  api/configs/observability/otel/otel_config.py
  api/extensions/ext_otel.py
  api/poetry.lock
  api/pyproject.toml
  docker/.env.example
  docker/README.md
  docker/docker-compose.yaml
  web/app/components/datasets/create/website/watercrawl/header.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/config-watercrawl-modal.tsx
Labels: 📚 documentation, dependencies, size:L, lgtm

#17883 feat: re-add prompt messages to result and chunks in llm
  api/core/model_manager.py
  api/core/model_runtime/callbacks/base_callback.py
  api/core/model_runtime/callbacks/logging_callback.py
  api/core/model_runtime/entities/llm_entities.py
  api/core/model_runtime/model_providers/__base/large_language_model.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#17887 refactor(api): Enhance error handling in BasePluginManager
  api/core/plugin/manager/base.py
Labels: 💪 enhancement, size:XS, lgtm

#17858 Chore/add unit test for utils
  web/app/components/base/file-uploader/utils.spec.ts
  web/app/components/base/prompt-editor/constants.tsx
  web/hooks/use-timestamp.spec.ts
  web/jest.config.ts
  web/jest.setup.ts
  web/utils/format.spec.ts
  web/utils/index.spec.ts
Labels: size:XXL, lgtm

#17900 fix: published workflow(tool) can be deleted.
  api/services/workflow_service.py
  api/test_workflow_deletion.py
Labels: 🐞 bug, size:L, lgtm

#17928 fix: start the plugin daemon after the database has become healthy
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:S, lgtm

#17937 fix: fix wrong layer adding customized tools
  web/.husky/pre-commit
  web/app/components/base/drawer/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#17498 refactor & perf: improve type safety of component `PluginList`
  web/app/components/workflow/block-selector/all-tools.tsx
  web/app/components/workflow/block-selector/market-place-plugin/list.tsx
  web/app/components/workflow/nodes/_base/components/agent-strategy-selector.tsx
Labels: size:M, lgtm, ☕️ typescript

#17951 refactor & perf of files `datesets/Doc.tsx` and `template.xx.mdx`
  web/app/(commonLayout)/datasets/Doc.tsx
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:M, lgtm, ☕️ typescript

#17950 fix: TypeError: a.variable_selector.join is not a function
  web/app/components/workflow/nodes/assigner/components/var-list/index.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#17932 fix(api): Some params were ignored when creating empty Datasets through API
  api/controllers/console/app/annotation.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/service_api/dataset/dataset.py
  api/controllers/service_api/dataset/document.py
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
  api/services/dataset_service.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 🐞 bug, 📚 documentation, size:L, lgtm

#17972 style(retry-on-node): add margin-bottom to the container
  web/app/components/workflow/nodes/_base/components/retry/retry-on-node.tsx
Labels: size:XS, lgtm

#17904 feat: added export workflow as img
  web/app/components/workflow/operator/control.tsx
  web/app/components/workflow/operator/export-image.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/package.json
  web/pnpm-lock.yaml
Labels: 📚 documentation, size:L, 🌊 feat:workflow, lgtm

#17989 chore: eslint add sonar
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
  web/app/components/app/configuration/tools/external-data-tool-modal.tsx
  web/app/components/app/overview/embedded/index.tsx
  web/app/components/base/audio-btn/index.tsx
  web/app/components/base/chat/chat/index.tsx
  web/app/components/base/features/new-feature-panel/moderation/moderation-setting-modal.tsx
  web/app/components/header/account-setting/model-provider-page/hooks.spec.ts
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
  web/app/components/plugins/marketplace/list/card-wrapper.tsx
  web/app/components/plugins/plugin-page/empty/index.tsx
  web/app/components/plugins/plugin-page/install-plugin-dropdown.tsx
  web/app/components/plugins/update-plugin/from-market-place.tsx
  web/app/components/tools/workflow-tool/index.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/editor-support-vars.tsx
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/_base/components/variable/var-reference-vars.tsx
  web/app/components/workflow/nodes/agent/default.ts
  web/app/components/workflow/nodes/agent/node.tsx
  web/app/components/workflow/nodes/end/default.ts
  web/app/components/workflow/nodes/knowledge-retrieval/components/metadata/condition-list/utils.ts
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
  web/app/components/workflow/note-node/note-editor/utils.ts
  web/app/components/workflow/panel/chat-variable-panel/components/object-value-item.tsx
  web/app/components/workflow/panel/env-panel/variable-modal.tsx
  web/app/components/workflow/run/utils/format-log/parallel/index.spec.ts
  web/app/components/workflow/run/utils/format-log/parallel/index.ts
  web/app/components/workflow/utils/variable.ts
  web/config/index.ts
  web/eslint.config.mjs
  web/i18n/auto-gen-i18n.js
  web/i18n/check-i18n.js
  web/models/app.ts
  web/package.json
  web/pnpm-lock.yaml
  web/service/base.ts
  web/service/fetch.ts
  web/utils/model-config.ts
  web/utils/var.ts
Labels: size:L, lgtm, ☕️ typescript

#17993 Feat: dataset dark mode
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout-main.tsx
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/style.module.css
  web/app/components/app-sidebar/index.tsx
  web/app/components/base/notion-icon/index.module.css
  web/app/components/base/notion-icon/index.tsx
  web/app/components/datasets/create/file-preview/index.module.css
  web/app/components/datasets/create/file-preview/index.tsx
  web/app/components/datasets/create/notion-page-preview/index.tsx
  web/app/components/datasets/create/step-one/index.module.css
  web/app/components/datasets/create/step-one/index.tsx
  web/app/components/datasets/documents/detail/index.tsx
  web/app/components/datasets/hit-testing/textarea.tsx
  web/app/components/datasets/metadata/metadata-document/info-group.tsx
  web/app/components/datasets/settings/permission-selector/index.tsx
Labels: 💪 enhancement, size:L, lgtm

#17997 fix chat message type error
  api/core/app/apps/message_based_app_generator.py
Labels: 🐞 bug, size:XS, lgtm

#17970 refactor: type improvements that doesn't modify functionality
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
  web/app/components/app/configuration/config/agent/agent-tools/index.tsx
  web/app/components/app/configuration/config/agent/agent-tools/setting-built-in-tool.tsx
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/app/components/app/configuration/debug/debug-with-multiple-model/model-parameter-trigger.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/app/configuration/prompt-value-panel/index.tsx
  web/app/components/base/agent-log-modal/detail.tsx
  web/app/components/base/audio-btn/index.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/features/new-feature-panel/annotation-reply/index.tsx
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/workflow-variable-block-replacement-block.tsx
  web/app/components/base/toast/index.spec.tsx
  web/app/components/datasets/documents/detail/embedding/index.tsx
  web/app/components/datasets/hit-testing/textarea.tsx
  web/app/components/plugins/marketplace/list/card-wrapper.tsx
  web/app/components/plugins/plugin-detail-panel/endpoint-card.tsx
  web/app/components/plugins/plugin-detail-panel/endpoint-list.tsx
  web/app/components/plugins/plugin-detail-panel/tool-selector/reasoning-config-form.tsx
  web/app/components/plugins/provider-card.tsx
  web/app/components/share/text-generation/result/index.tsx
  web/app/components/tools/utils/to-form-schema.ts
  web/app/components/workflow/block-selector/tools.tsx
  web/app/components/workflow/hooks/use-workflow-run-event/use-workflow-node-finished.ts
  web/app/components/workflow/hooks/use-workflow-run-event/use-workflow-node-iteration-finished.ts
  web/app/components/workflow/hooks/use-workflow-run-event/use-workflow-node-loop-finished.ts
  web/app/components/workflow/nodes/document-extractor/panel.tsx
  web/app/components/workflow/nodes/iteration/panel.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/components/retrieval-config.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/panel.tsx
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/parameter-extractor/components/extract-parameter/import-from-tool.tsx
  web/app/components/workflow/nodes/question-classifier/panel.tsx
  web/app/components/workflow/panel/workflow-preview.tsx
  web/app/components/workflow/run/utils/format-log/loop/index.spec.ts
  web/app/components/workflow/run/utils/format-log/retry/index.spec.ts
  web/app/components/workflow/utils/tool.ts
  web/app/education-apply/search-input.tsx
  web/utils/index.spec.ts
Labels: size:L, lgtm, ☕️ typescript

#18004 fix(docs): update API documentation to replace 'Params' with 'Path'
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:L, lgtm

#18019 fix(typo): workflow ops triggered from
  api/core/ops/ops_trace_manager.py
Labels: size:XS, lgtm

#18018 feat: plugin tool selector add tool default description
  web/app/components/plugins/plugin-detail-panel/tool-selector/index.tsx
  web/app/components/workflow/block-selector/tool/action-item.tsx
  web/app/components/workflow/block-selector/types.ts
Labels: size:XS, 🔨 feat:tools, lgtm, ☕️ typescript

#18022 feat: add minimum dify version requirement to plugins
  api/controllers/console/workspace/plugin.py
  api/core/plugin/entities/plugin.py
  api/services/plugin/plugin_service.py
  web/app/components/plugins/install-plugin/install-from-local-package/steps/install.tsx
  web/app/components/plugins/install-plugin/install-from-marketplace/steps/install.tsx
  web/app/components/plugins/plugin-item/index.tsx
  web/app/components/plugins/types.ts
  web/i18n/en-US/plugin.ts
  web/i18n/ja-JP/plugin.ts
  web/i18n/zh-Hans/plugin.ts
  web/service/use-plugins.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#18024 fix: Prevents duplicate logs from SQLAlchemy engine
  api/extensions/ext_logging.py
Labels: 🐞 bug, size:XS, lgtm

#18047 fix basic auth encoding
  api/core/workflow/nodes/http_request/executor.py
Labels: 🐞 bug, size:XS, lgtm

#18029 [Observability] Instrument with celery
  api/extensions/ext_otel.py
  api/poetry.lock
  api/pyproject.toml
Labels: 💪 enhancement, size:M, lgtm

#18060 fix: plugin parameter type TOOLS_SELECTOR parameter not validation required
  api/core/plugin/entities/parameters.py
Labels: 🐞 bug, size:XS, lgtm

#18073 fix: cot agent chinese json bug
  api/core/agent/cot_agent_runner.py
Labels: 🐞 bug, size:XS, lgtm

#17961 feat: edit question in Chat
  web/app/components/app/configuration/debug/debug-with-single-model/index.tsx
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/content-switch.tsx
  web/app/components/base/chat/chat/index.tsx
  web/app/components/base/chat/chat/question.tsx
  web/app/components/base/chat/embedded-chatbot/chat-wrapper.tsx
  web/app/components/workflow/panel/debug-and-preview/chat-wrapper.tsx
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#18075 fix: plugin parameter aws_secret_key parameter not found
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#18069 ignore errors when creating duplicate indexes
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector_sql.py
Labels: 🐞 bug, size:S, lgtm

#18078 Feat: api page dark mode
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/(commonLayout)/datasets/Doc.tsx
  web/app/components/develop/ApiServer.tsx
  web/app/components/develop/doc.tsx
  web/app/components/develop/index.tsx
  web/app/components/develop/secret-key/secret-key-modal.tsx
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#17655 feat: add base path to resources
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/(commonLayout)/datasets/NewDatasetCard.tsx
  web/app/components/app/app-publisher/index.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/log/index.tsx
  web/app/components/app/overview/appCard.tsx
  web/app/components/app/overview/embedded/index.tsx
  web/app/components/app/workflow-log/index.tsx
  web/app/components/base/logo/logo-embedded-chat-header.tsx
  web/app/components/base/logo/logo-site.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/account-setting/members-page/invited-modal/invitation-link.tsx
  web/app/components/header/account-setting/model-provider-page/model-icon/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
  web/app/components/tools/add-tool-modal/index.tsx
  web/app/components/tools/add-tool-modal/tools.tsx
  web/app/components/tools/provider/detail.tsx
  web/app/components/workflow/hooks/use-workflow.ts
  web/app/forgot-password/ChangePasswordForm.tsx
  web/app/forgot-password/ForgotPasswordForm.tsx
  web/app/init/InitPasswordPopup.tsx
  web/app/install/installForm.tsx
  web/app/layout.tsx
  web/app/routePrefixHandle.tsx
  web/hooks/use-tab-searchparams.ts
  web/next.config.js
  web/service/base.ts
  web/utils/var-basePath.js
  web/utils/var.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm
