Repository langgenius/dify, pull requests merged in 2025-03, with the labels that each got.

#14449 fix: fix a typo of get_customizable_model_schema method name
  api/core/model_runtime/model_providers/__base/ai_model.py
Labels: size:XS, lgtm

#14695 fix: document extractor can't parse excel
  api/poetry.lock
  api/pyproject.toml
Labels: 🐞 bug, dependencies, size:XS, lgtm

#14597 fix: (psycopg2.errors.StringDataRightTruncation) value too long for type character varying(40) Fixes #14593
  api/migrations/versions/2025_03_03_0304-4413929e1ec2_extend_provider_name_column.py
  api/models/dataset.py
Labels: 🐞 bug, 📚 documentation, size:M, lgtm

#14724 fix: one step run
  web/app/components/workflow/nodes/_base/components/before-run-form/form-item.tsx
  web/app/components/workflow/nodes/_base/components/before-run-form/index.tsx
  web/app/components/workflow/nodes/_base/hooks/use-one-step-run.ts
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/llm/use-config.ts
  web/app/components/workflow/nodes/parameter-extractor/panel.tsx
  web/app/components/workflow/nodes/parameter-extractor/use-config.ts
  web/app/components/workflow/nodes/question-classifier/panel.tsx
  web/app/components/workflow/nodes/question-classifier/use-config.ts
  web/app/components/workflow/nodes/utils.ts
Labels: size:L, 🌊 feat:workflow, lgtm, ☕️ typescript

#13356 chore: Bump ruff to 0.9.9
  api/.ruff.toml
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS, lgtm

#14761 Fix: web app theme intialization
  web/app/(shareLayout)/layout.tsx
  web/app/components/base/audio-gallery/AudioPlayer.tsx
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/embedded-chatbot/theme/theme-context.ts
  web/app/components/base/markdown.tsx
  web/context/share-page-context.tsx
Labels: 🐞 bug, size:M, lgtm

#14751 Fix/explore darkmode
  web/app/components/explore/app-card/index.tsx
  web/app/components/explore/app-list/index.tsx
  web/app/components/explore/index.tsx
  web/app/components/explore/item-operation/index.tsx
  web/app/components/explore/item-operation/style.module.css
  web/app/components/explore/sidebar/app-nav-item/index.tsx
  web/app/components/explore/sidebar/app-nav-item/style.module.css
  web/app/components/explore/sidebar/index.tsx
Labels: 🐞 bug, size:L, lgtm

#14756 fix: improve layout in dataset selection component
  web/app/components/app/configuration/dataset-config/select-dataset/index.tsx
Labels: size:XS, lgtm

#14772 Fix: update embed.min.js
  web/public/embed.min.js
Labels: size:XS, lgtm

#14742 fix EXPOSE_PLUGIN_DEBUGGING_HOST not working
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:S, lgtm

#14800 unify moderation and annotation's response behavior in message log of chatflow app with other types of app
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
Labels: size:XS, lgtm

#14561 fix: fixed incorrect operation of publishing as tool
  web/app/components/app/app-publisher/index.tsx
  web/app/components/tools/workflow-tool/configure-button.tsx
Labels: 🐞 bug, size:S, lgtm

#14725 fix: eslint extension not working in vscode
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies, size:XS, lgtm

#14825 Fix can not modify required filelist input before starting
  web/app/components/base/file-uploader/store.tsx
Labels: 🐞 bug, size:XS, lgtm

#14141 chore: Restore the parts that were overwritten during conflict resolution.
  api/core/workflow/graph_engine/entities/graph.py
Labels: size:XS, lgtm

#14787 chore: fix contaminated db migration commit title for add_retry_index_field_to_node_execution
  api/migrations/versions/2024_12_20_0628-e1944c35e15e_add_retry_index_field_to_node_execution_.py
Labels: size:XS, lgtm

#14855 fix: iteration log index error
  web/app/components/workflow/run/utils/format-log/iteration/index.ts
Labels: 🐞 bug, size:XS, lgtm

#14898 feat: Add caching mechanism for plugin model schemas
  api/contexts/__init__.py
  api/core/model_runtime/model_providers/__base/ai_model.py
  api/core/model_runtime/model_providers/model_provider_factory.py
Labels: 💪 enhancement, size:M, ⚙️ feat:model-runtime, lgtm

#14934 fix: workflow one step run form validate
  web/app/components/workflow/nodes/_base/components/before-run-form/form.tsx
  web/app/components/workflow/nodes/_base/components/before-run-form/index.tsx
Labels: size:S, lgtm, ☕️ typescript

#14885 Fix empty results issue in full-text search with Milvus vector database
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
Labels: 🐞 bug, size:S, lgtm

#14955 fix: fixed to AWS Marketplace link
  README_JA.md
Labels: 📚 documentation, size:S, lgtm

#14968 feat: Add caching mechanism for latest plugin version retrieval
  api/services/plugin/plugin_service.py
Labels: 📚 documentation, 💪 enhancement, size:M, lgtm

#14880 fix(llm/nodes.py): Ensure that the output returns without any exceptions
  api/core/workflow/nodes/llm/node.py
Labels: 🐞 bug, size:M, lgtm

#14981 fix endpoint help link 404
  web/app/components/plugins/plugin-detail-panel/endpoint-list.tsx
  web/app/components/plugins/plugin-page/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#14780 chore: remove the unused config INNER_API_KEY
  api/.env.example
  api/configs/feature/__init__.py
  api/migrations/README
  api/tests/integration_tests/.env.example
Labels: size:XS, lgtm

#13018 [FIX]Ruff: lint errors for E731
  api/.ruff.toml
  api/models/workflow.py
Labels: size:S, lgtm

#14992 fix docker-compose.yaml and docker-compose.middleware.yaml plugin_daemon environment parameter values
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: 📚 documentation, size:S, lgtm

#14477 Feat/compliance report download
  web/app/components/base/icons/assets/public/common/gdpr.svg
  web/app/components/base/icons/assets/public/common/iso.svg
  web/app/components/base/icons/assets/public/common/soc2.svg
  web/app/components/base/icons/src/public/common/Gdpr.json
  web/app/components/base/icons/src/public/common/Gdpr.tsx
  web/app/components/base/icons/src/public/common/Iso.json
  web/app/components/base/icons/src/public/common/Iso.tsx
  web/app/components/base/icons/src/public/common/Soc2.json
  web/app/components/base/icons/src/public/common/Soc2.tsx
  web/app/components/base/icons/src/public/common/index.ts
  web/app/components/base/icons/src/public/knowledge/Chunk.json
  web/app/components/base/icons/src/public/knowledge/Collapse.json
  web/app/components/base/icons/src/public/knowledge/LayoutRight2LineMod.json
  web/app/components/header/account-dropdown/compliance.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-dropdown/support.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/github-star/index.tsx
  web/app/components/header/index.tsx
  web/config/index.ts
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
  web/service/common.ts
  web/themes/dark.css
  web/themes/light.css
  web/themes/tailwind-theme-var-define.ts
Labels: 💪 enhancement, size:XXL, lgtm, ☕️ typescript

#15057 fix: add custom disallowed elements to Markdown component and restore the default disallowed elements
  web/app/components/base/markdown.tsx
  web/app/components/datasets/documents/detail/completed/common/chunk-content.tsx
  web/app/components/datasets/documents/detail/completed/segment-card/chunk-content.tsx
  web/app/components/datasets/hit-testing/components/chunk-detail-modal.tsx
  web/app/components/datasets/hit-testing/components/result-item.tsx
Labels: 🐞 bug, size:S, lgtm

#15038 fix(docker): plugin daemon lacks database dependency
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:XS, lgtm

#15101 feat: refactor date-and-time-picker to use custom dayjs utility and add timezone support
  web/app/components/base/date-and-time-picker/calendar/item.tsx
  web/app/components/base/date-and-time-picker/date-picker/header.tsx
  web/app/components/base/date-and-time-picker/date-picker/index.tsx
  web/app/components/base/date-and-time-picker/hooks.ts
  web/app/components/base/date-and-time-picker/time-picker/index.tsx
  web/app/components/base/date-and-time-picker/types.ts
  web/app/components/base/date-and-time-picker/utils/dayjs.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#15093 Feat/14573 support more types in form
  web/app/components/base/date-and-time-picker/date-picker/index.tsx
  web/app/components/base/date-and-time-picker/time-picker/index.tsx
  web/app/components/base/markdown-blocks/form.tsx
  web/app/styles/markdown.scss
Labels: 💪 enhancement, size:L, lgtm

#15097 fix: with file conversation second chat raise error
  web/app/components/base/chat/chat/utils.ts
Labels: 🐞 bug, size:S, lgtm

#15110 hotfix: Fixed tags not updating in real time in the label management of apps #15113
  web/app/components/base/tag-management/selector.tsx
Labels: 🐞 bug, size:XS, lgtm

#15127 Fixed incorrect use of key in the page /plugins?category=discover #15126
  web/app/components/plugins/marketplace/list/list-with-collection.tsx
Labels: 🐞 bug, size:XS, lgtm

#15119 fix parent-child retrival count
  api/core/callback_handler/index_tool_callback_handler.py
  api/core/rag/retrieval/dataset_retrieval.py
Labels: 🐞 bug, size:M, lgtm

#14816 docs: add comprehensive Traditional Chinese contribution guide
  CONTRIBUTING_TW.md
  README_TW.md
Labels: 📚 documentation, size:L, lgtm

#14640 fix: adjust scroll detection threshold in chat component
  web/app/components/base/chat/chat/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#15133 Fix: only retrieval plugin-compatible providers when provider_name starts with `langgenius`
  api/core/entities/provider_configuration.py
  api/core/plugin/entities/plugin.py
Labels: 📚 documentation, size:M, lgtm

#15139 add: allowed_domains marketplace.dify.ai
  docker/ssrf_proxy/squid.conf.template
Labels: size:XS, lgtm

#15184 Feat: settings dark mode
  web/app/components/billing/billing-page/index.tsx
  web/app/components/billing/plan/index.tsx
  web/app/components/billing/pricing/index.tsx
  web/app/components/billing/progress-bar/index.tsx
  web/app/components/billing/upgrade-btn/index.tsx
  web/app/components/billing/usage-info/apps-info.tsx
  web/app/components/billing/usage-info/index.tsx
  web/app/components/billing/usage-info/vector-space-info.tsx
  web/app/components/custom/custom-page/index.tsx
  web/app/components/custom/custom-web-app-brand/index.tsx
  web/app/components/datasets/create/website/base/field.tsx
  web/app/components/header/account-setting/api-based-extension-page/empty.tsx
  web/app/components/header/account-setting/api-based-extension-page/index.tsx
  web/app/components/header/account-setting/api-based-extension-page/item.tsx
  web/app/components/header/account-setting/api-based-extension-page/modal.tsx
  web/app/components/header/account-setting/data-source-page/data-source-notion/operate/index.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/config-firecrawl-modal.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/config-jina-reader-modal.tsx
  web/app/components/header/account-setting/data-source-page/data-source-website/index.tsx
  web/app/components/header/account-setting/data-source-page/panel/config-item.tsx
  web/app/components/header/account-setting/data-source-page/panel/index.tsx
  web/app/components/header/account-setting/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/index.tsx
  web/app/components/header/account-setting/members-page/invite-modal/role-selector.tsx
  web/app/components/header/account-setting/members-page/invited-modal/index.module.css
  web/app/components/header/account-setting/members-page/invited-modal/index.tsx
  web/app/components/header/account-setting/members-page/invited-modal/invitation-link.tsx
  web/app/components/header/account-setting/members-page/operation/index.module.css
  web/app/components/header/account-setting/members-page/operation/index.tsx
  web/i18n/en-US/billing.ts
  web/i18n/en-US/custom.ts
  web/i18n/zh-Hans/billing.ts
  web/i18n/zh-Hans/custom.ts
Labels: 💪 enhancement, size:XL, lgtm

#15174 fix: http node request detect text/xml as file
  api/core/workflow/nodes/http_request/entities.py
Labels: 🐞 bug, size:XS, lgtm

#15136 chore: update langfuse description
  web/i18n/en-US/app.ts
Labels: 📚 documentation, size:XS, lgtm

#14910 bugfix:cant correct display latex
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:XS, lgtm

#15219 fix: update the link of contact sales in billing page
  web/app/components/billing/config.ts
Labels: 🐞 bug, size:XS, lgtm

#14949 feat: version tag
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-config-modal.tsx
  web/app/components/app/app-publisher/index.tsx
  web/app/components/app/app-publisher/suggested-action.tsx
  web/app/components/app/app-publisher/version-info-modal.tsx
  web/app/components/base/features/new-feature-panel/annotation-reply/config-param-modal.tsx
  web/app/components/tools/workflow-tool/configure-button.tsx
  web/app/components/workflow/header/index.tsx
  web/app/components/workflow/header/restoring-title.tsx
  web/app/components/workflow/header/version-history-button.tsx
  web/app/components/workflow/header/version-history-item.tsx
  web/app/components/workflow/header/version-history-modal.tsx
  web/app/components/workflow/hooks/use-nodes-sync-draft.ts
  web/app/components/workflow/nodes/_base/components/info-panel.tsx
  web/app/components/workflow/panel/index.tsx
  web/app/components/workflow/panel/version-history-panel/context-menu/index.tsx
  web/app/components/workflow/panel/version-history-panel/context-menu/menu-item.tsx
  web/app/components/workflow/panel/version-history-panel/context-menu/use-context-menu.ts
  web/app/components/workflow/panel/version-history-panel/delete-confirm-modal.tsx
  web/app/components/workflow/panel/version-history-panel/empty.tsx
  web/app/components/workflow/panel/version-history-panel/filter/filter-item.tsx
  web/app/components/workflow/panel/version-history-panel/filter/filter-switch.tsx
  web/app/components/workflow/panel/version-history-panel/filter/index.tsx
  web/app/components/workflow/panel/version-history-panel/filter/use-filter.ts
  web/app/components/workflow/panel/version-history-panel/index.tsx
  web/app/components/workflow/panel/version-history-panel/loading/index.tsx
  web/app/components/workflow/panel/version-history-panel/loading/item.tsx
  web/app/components/workflow/panel/version-history-panel/restore-confirm-modal.tsx
  web/app/components/workflow/panel/version-history-panel/version-history-item.tsx
  web/app/components/workflow/store.ts
  web/app/components/workflow/types.ts
  web/i18n/en-US/billing.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/billing.ts
  web/i18n/zh-Hans/workflow.ts
  web/service/use-base.ts
  web/service/use-workflow.ts
  web/service/workflow.ts
  web/themes/manual-light.css
  web/types/workflow.ts
Labels: 📚 documentation, 💪 enhancement, size:XXL, lgtm

#15217 fix: website remote url display error
  api/core/file/models.py
  api/factories/file_factory.py
  api/models/model.py
Labels: 🐞 bug, size:M, lgtm

#15240 typo チュンク to チャンク
  web/i18n/ja-JP/dataset-creation.ts
Labels: 📚 documentation, size:XS, lgtm

#14982 Feat/compliance
  api/controllers/console/__init__.py
  api/controllers/console/billing/compliance.py
  api/controllers/console/error.py
  api/services/billing_service.py
Labels: 📚 documentation, size:M, lgtm

#15258 docs(readme): add a Traditional Chinese badge for README
  README.md
Labels: 📚 documentation, size:M, lgtm

#15239 fix: missing action value to `tools.includeToolNum` lang for custom t…
  web/app/components/tools/provider/detail.tsx
Labels: size:XS, lgtm, ☕️ typescript

#15241 fix: tool icons are missing
  docker/nginx/conf.d/default.conf.template
Labels: 🐞 bug, size:S, lgtm

#15268 fix: dataset pagination state keeps resetting when filters changed
  web/app/(commonLayout)/datasets/Datasets.tsx
Labels: 🐞 bug, size:S, lgtm

#15235 Fix: reranker OFF logic to preserve user setting
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#15283 feat: expose PYTHON_ENV_INIT_TIMEOUT and PLUGIN_MAX_EXECUTION_TIMEOUT
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: 💪 enhancement, size:S, lgtm

#15289 feat: add docker-compose.override.yaml to .gitignore
  .gitignore
Labels: size:XS, lgtm

#15301 fix: update image gallery styles
  web/app/components/base/image-gallery/style.module.css
Labels: size:XS, lgtm

#15318 fix Unicode Escape Characters
  api/core/variables/segments.py
Labels: 🐞 bug, size:XS, lgtm

#15320 Update login.py
  api/libs/login.py
Labels: 🐞 bug, size:XS, lgtm

#15329 fix: octet/stream => application/octet-stream
  api/core/tools/docs/en_US/advanced_scale_out.md
  api/core/tools/docs/ja_JP/advanced_scale_out.md
  api/core/tools/docs/zh_Hans/advanced_scale_out.md
  api/core/tools/tool_engine.py
  api/core/tools/tool_file_manager.py
  api/core/tools/utils/message_transformer.py
Labels: 🐞 bug, size:S, lgtm

#15319 raising error if plugin not initialized
  api/core/plugin/entities/plugin.py
Labels: 🐞 bug, 📚 documentation, size:XS, lgtm

#15261 downgrade boto3 to use s3 compatible storage. Fixes #15225
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS, lgtm

#15337 modify OCI_ENDPOINT example value Fixes #15336
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, size:XS, lgtm

#15344 fix: tool name in agent
  web/app/components/app/configuration/index.tsx
  web/utils/index.ts
Labels: size:S, lgtm

#15353 feat: add PIP_MIRROR_URL environment variable support
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#15279 fix: return absolute path as the icon url if CONSOLE_API_URL is empty
  api/core/tools/tool_manager.py
  api/services/tools/tools_transform_service.py
  api/tests/unit_tests/libs/test_yarl.py
  docker/nginx/conf.d/default.conf.template
Labels: 🐞 bug, size:M, lgtm

#14860 feat(workflow_service): workflow version control api.
  api/controllers/console/app/workflow.py
  api/fields/workflow_fields.py
  api/migrations/versions/2025_03_03_1436-ee79d9b1c156_add_marked_name_and_marked_comment_in_.py
  api/models/workflow.py
  api/poetry.lock
  api/pyproject.toml
  api/services/errors/workflow_service.py
  api/services/workflow_service.py
  api/tests/unit_tests/services/workflow/test_workflow_service.py
Labels: size:XL, 🌊 feat:workflow, lgtm

#15286 fix: remove port expose on db
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#15377 fix: fix document list overlap and optimize document list fetching
  web/app/components/datasets/documents/detail/index.tsx
  web/app/components/datasets/documents/index.tsx
  web/app/components/datasets/documents/list.tsx
  web/service/datasets.ts
  web/service/knowledge/use-document.ts
Labels: 🐞 bug, size:L, lgtm

#15394 Feat: configure dark mode legacy
  web/app/components/app/configuration/base/group-name/index.tsx
  web/app/components/app/configuration/config-prompt/advanced-prompt-input.tsx
  web/app/components/app/configuration/config-prompt/confirm-add-var/index.tsx
  web/app/components/app/configuration/config-prompt/index.tsx
  web/app/components/app/configuration/config-prompt/message-type-selector.tsx
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
  web/app/components/app/configuration/config/automatic/automatic-btn.tsx
  web/app/components/app/configuration/config/automatic/get-automatic-res.tsx
  web/app/components/header/account-about/index.module.css
  web/app/components/header/account-about/index.tsx
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#15391 chore(.github): add a new tracker template
  .github/ISSUE_TEMPLATE/tracker.yml
Labels: 📚 documentation, size:S, lgtm

#14996 Feat/new saas billing
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/datasets/hit_testing.py
  api/controllers/console/wraps.py
  api/controllers/service_api/wraps.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/migrations/versions/2025_01_14_0617-f051706725cc_add_rate_limit_logs.py
  api/models/dataset.py
  api/services/billing_service.py
  api/services/feature_service.py
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#15199 fix kb permission
  api/controllers/console/datasets/datasets.py
  api/services/dataset_service.py
Labels: 🐞 bug, size:M, lgtm

#15426 fix text split
  api/core/rag/splitter/fixed_text_splitter.py
Labels: 🐞 bug, size:XS, lgtm

#15422 fix db migration
  api/migrations/versions/2025_01_14_0617-f051706725cc_add_rate_limit_logs.py
Labels: 🐞 bug, size:XS, lgtm

#15381 chore: add comment to the PLUGIN_DIFY_INNER_API_KEY key
  docker/.env.example
Labels: 📚 documentation, size:XS, lgtm

#13792 fix: replace old-style <br> tags to fix Mermaid rendering issues
  web/app/components/base/mermaid/index.tsx
  web/app/components/base/mermaid/utils.spec.ts
  web/app/components/base/mermaid/utils.ts
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#14286 fix: avoid llm node result var not init issue while do retry.
  api/core/workflow/nodes/llm/node.py
Labels: 🐞 bug, size:XS, lgtm

#15462 fix: fix chatbot publish and restore handling
  web/app/components/app/app-publisher/index.tsx
Labels: 🐞 bug, size:M, lgtm

#15444 fix agent_execution_metadata
  api/core/workflow/nodes/tool/tool_node.py
Labels: 🐞 bug, size:XS, lgtm

#15474 fix: simplify S3 client configuration by removing redundant checksum settings
  api/extensions/storage/aws_s3_storage.py
Labels: size:XS, lgtm

#15443 fix:To fix the issue of missing reference to body parameter
  api/core/tools/custom_tool/tool.py
Labels: 🐞 bug, size:S, lgtm

#15484 fix: improve selection of variable in workflow
  web/app/components/workflow/nodes/_base/components/variable/var-reference-vars.tsx
Labels: 🐞 bug, size:XS, lgtm

#15489 fix: displan badge based on workspace plan
  web/app/components/base/premium-badge/index.css
  web/app/components/base/premium-badge/index.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/plan-badge/index.tsx
Labels: 🐞 bug, size:M, lgtm

#15493 fix: remove unnecessary modal
  web/app/components/app/app-publisher/index.tsx
Labels: 🐞 bug, size:S, lgtm

#15497 fix: add animation to workflow process loader icon
  web/app/components/base/chat/chat/answer/workflow-process.tsx
Labels: size:XS, lgtm

#15499 fix: update placeholders in version info modal to indicate optional field
  web/app/components/app/app-publisher/version-info-modal.tsx
Labels: size:XS, lgtm

#15510 support workspace billing info
  api/controllers/console/workspace/workspace.py
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#15478 fix: update version to 1.0.1 in configuration and Docker files
  .github/ISSUE_TEMPLATE/tracker.yml
  api/configs/packaging/__init__.py
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: size:S, lgtm

#14065 fix: nesting of conditional branches causing streaming output error
  api/core/workflow/nodes/answer/base_stream_processor.py
Labels: 🐞 bug, size:S, lgtm

#14343 chore: update opendal version
  api/extensions/storage/opendal_storage.py
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:S, lgtm

#15521 feat: add click-away and mounting logic to agent setting component
  web/app/components/app/configuration/config/agent/agent-setting/index.tsx
Labels: size:S, 🤖 feat:agent, lgtm

#15544 fix: remove size prop in PlanBadge component because UpgradeBtn size …
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/plan-badge/index.tsx
Labels: size:M, lgtm, ☕️ typescript

#15549 fix: workflow loop node break
  web/app/components/workflow/nodes/loop/default.ts
  web/app/components/workflow/nodes/loop/panel.tsx
  web/app/components/workflow/nodes/loop/use-config.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 🐞 bug, size:S, lgtm

#15555 fix: invoke_error is not callable
  api/core/model_runtime/model_providers/__base/ai_model.py
Labels: 🐞 bug, size:XS, lgtm

#15542 feat: add debounced enter key submission to install form (#15445)
  web/app/install/installForm.tsx
Labels: 💪 enhancement, size:S, lgtm

#15558 chore: remove unused parameter
  api/services/workspace_service.py
  web/context/app-context.tsx
  web/models/common.ts
Labels: size:M, lgtm

#15568 fix:message api doc
  api/controllers/service_api/app/message.py
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: 📚 documentation, size:S, lgtm

#15218 fix: dataset editor
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
Labels: size:M, lgtm

#15514 chore: use TenantAccountRole instead of TenantAccountJoinRole
  api/models/__init__.py
  api/models/account.py
  api/services/account_service.py
  api/services/workspace_service.py
Labels: 🐞 bug, size:S, lgtm

#15431 feat: env MAX_TOOLS_NUM
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/.env.example
  web/app/layout.tsx
  web/config/index.ts
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#15588 fix: trace return null cause page crash
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
Labels: 🐞 bug, size:XS, lgtm

#15597 fix: no attribute error
  api/controllers/console/app/app.py
Labels: 🐞 bug, size:XS, lgtm

#15606 fix: can not test custom tool
  api/models/tools.py
Labels: 🐞 bug, size:XS, lgtm

#15522 fix: preserve Unicode characters in keyword search queries
  api/core/rag/datasource/retrieval_service.py
Labels: 🐞 bug, size:XS, lgtm

#13140 Update .env.example to fix MILVUS_URI default value
  docker/.env.example
  docker/docker-compose.yaml
Labels: dependencies, size:S, lgtm

#15693 fix: if-else-node handles missing optional file variables
  api/core/workflow/entities/variable_pool.py
Labels: 🐞 bug, size:S, lgtm

#15601 Fix：webapp UI issues
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat-with-history/context.tsx
  web/app/components/base/chat/chat-with-history/header/index.tsx
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/chat-with-history/index.tsx
  web/app/components/base/chat/chat-with-history/sidebar/index.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/answer/operation.tsx
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/chat/chat/index.tsx
  web/app/components/base/chat/embedded-chatbot/chat-wrapper.tsx
  web/app/components/base/chat/embedded-chatbot/context.tsx
  web/app/components/base/chat/embedded-chatbot/hooks.tsx
  web/app/components/base/chat/embedded-chatbot/index.tsx
  web/app/styles/markdown.scss
  web/i18n/en-US/share-app.ts
  web/i18n/zh-Hans/share-app.ts
Labels: size:L, lgtm

#15708 fix: update default github star count value
  web/app/components/header/github-star/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#15719 improve text split
  api/core/rag/splitter/fixed_text_splitter.py
Labels: size:M, lgtm

#15709 fix: Integration langfuse, front-end error( #15695)
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
Labels: 🐞 bug, size:XS, lgtm

#15659 fix: Resolve errors in SQL queries caused by SELECT fields not appearing in the GROUP BY clause.
  api/services/tag_service.py
Labels: 🐞 bug, size:XS, lgtm

#13876 Feat: Add pg_bigm for keyword search in pgvector
  api/configs/middleware/vdb/pgvector_config.py
  api/core/rag/datasource/vdb/pgvector/pgvector.py
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  docker/pgvector/docker-entrypoint.sh
Labels: 📚 documentation, size:M, 👻 feat:rag

#15714 fix: streamline file upload configuration handling in manager.py
  api/core/app/app_config/features/file_upload/manager.py
  api/tests/unit_tests/core/app/app_config/features/file_upload/test_manager.py
Labels: 🐞 bug, size:S

#15752 feat: add keyboard shortcuts support for dialog confirmation
  web/app/components/base/confirm/index.tsx
Labels: 💪 enhancement, size:XS, lgtm

#15731 fix: http_request node form-data support array[file]
  api/core/workflow/nodes/http_request/executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_node.py
Labels: 🐞 bug, size:L, lgtm

#15664 feat: add Http Request Node to skip ssl verify function #15177
  api/.env.example
  api/configs/feature/__init__.py
  api/core/helper/ssrf_proxy.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#15821 Fix style of opening statement
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/embedded-chatbot/chat-wrapper.tsx
Labels: size:XS, lgtm, ☕️ typescript

#15818 fix document could be None
  api/core/rag/datasource/retrieval_service.py
  api/core/rag/retrieval/dataset_retrieval.py
Labels: 🐞 bug, size:M, lgtm

#15823 fix: update Knowledge Api doc: 【Update a Chunk in a Document】
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:XS, lgtm

#15829 fix tool selector with empty tools raise error
  api/core/plugin/entities/parameters.py
Labels: 🐞 bug, size:XS, lgtm

#15841 fix: Remove any extra Spaces in the title
  web/app/(commonLayout)/apps/Apps.tsx
  web/app/components/explore/index.tsx
  web/i18n/en-US/explore.ts
  web/i18n/zh-Hans/explore.ts
Labels: size:XS, lgtm

#15813 fix: iteration total tokens calculate error
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: 🐞 bug, size:XS, lgtm

#15826 chore(api): improve type hints for BaseNode and its subclasses
  api/core/workflow/nodes/base/node.py
  api/core/workflow/nodes/iteration/iteration_start_node.py
  api/core/workflow/nodes/loop/loop_start_node.py
  api/core/workflow/nodes/variable_assigner/v1/node.py
Labels: size:S, lgtm

#14905 FIX:microsoft word text copy and paste error
  web/app/components/base/file-uploader/hooks.ts
Labels: 🐞 bug, 📚 documentation, size:XS, lgtm

#15921 fix: node use vision model may caused page crash
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/parameter-extractor/panel.tsx
  web/app/components/workflow/nodes/question-classifier/panel.tsx
Labels: 🐞 bug, size:XS, lgtm

#15895 Fix/enable marketplace bug
  .gitignore
  web/app/components/plugins/plugin-page/empty/index.tsx
  web/app/components/plugins/plugin-page/install-plugin-dropdown.tsx
Labels: 🐞 bug, size:XS, lgtm

#15871 Chore: fix wrong annotations
  api/tasks/add_document_to_index_task.py
  api/tasks/batch_clean_document_task.py
  api/tasks/batch_create_segment_to_index_task.py
  api/tasks/delete_segment_from_index_task.py
  api/tasks/disable_segments_from_index_task.py
  api/tasks/document_indexing_task.py
  api/tasks/duplicate_document_indexing_task.py
  api/tasks/enable_segments_to_index_task.py
  api/tasks/external_document_indexing_task.py
  api/tasks/retry_document_indexing_task.py
Labels: size:L, lgtm

#15651 fix:Nginx template not replace env correctly
  docker/nginx/docker-entrypoint.sh
Labels: 🐞 bug, size:XS, lgtm

#15932 fix: validation for upload methods of non-image files within the work…
  api/factories/file_factory.py
Labels: 🐞 bug, size:S, lgtm

#15517 fix:delete empty table bug
  api/core/rag/datasource/vdb/pgvector/pgvector.py
Labels: 🐞 bug, size:S, lgtm

#15870 When decrypt_trace_config is empty, it should be skipped directly
  api/core/ops/ops_trace_manager.py
Labels: 🐞 bug, size:XS, lgtm

#15966 fix(api): fix fail branch functionality for `WorkflowTool`
  api/core/tools/workflow_as_tool/tool.py
  api/core/workflow/nodes/tool/tool_node.py
  api/tests/unit_tests/core/tools/workflow_as_tool/__init__.py
  api/tests/unit_tests/core/tools/workflow_as_tool/test_tool.py
  api/tests/unit_tests/core/workflow/nodes/tool/__init__.py
  api/tests/unit_tests/core/workflow/nodes/tool/test_tool_node.py
Labels: 🐞 bug, size:L, lgtm

#15975 fix: typo when assign doc_metadata when non-empty
  api/services/dataset_service.py
Labels: 🐞 bug, size:XS, lgtm

#15953 chore: bump ruff to 0.11.0 and fix linting violations
  api/core/app/apps/base_app_generator.py
  api/core/workflow/entities/variable_pool.py
  api/core/workflow/nodes/loop/loop_node.py
  api/poetry.lock
  api/pyproject.toml
  api/services/dataset_service.py
  api/tasks/duplicate_document_indexing_task.py
  api/tasks/enable_segments_to_index_task.py
  api/tasks/retry_document_indexing_task.py
  api/tasks/sync_website_document_indexing_task.py
Labels: 📚 documentation, dependencies, size:M, lgtm

#15999 chore(api): Disable preview rules of Ruff while running pre-commit hook
  web/.husky/pre-commit
Labels: size:XS, lgtm

#15732 feat: add llm blocking invoke
  api/core/plugin/backwards_invocation/model.py
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#16025 chore: use POSIX shell syntax in pre-commit script
  web/.husky/pre-commit
Labels: size:S, lgtm

#13401 fix: fail-branch stream output error
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/answer/answer_stream_processor.py
Labels: 🐞 bug, size:S, lgtm

#15996 fix: adjust position of table of contents in Doc component
  web/app/(commonLayout)/datasets/Doc.tsx
Labels: 📚 documentation, size:XS, lgtm

#15865 feat: support openGauss vector database
  .github/workflows/expose_service_ports.sh
  .github/workflows/vdb-tests.yml
  api/.env.example
  api/commands.py
  api/configs/middleware/__init__.py
  api/configs/middleware/vdb/opengauss_config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/opengauss/__init__.py
  api/core/rag/datasource/vdb/opengauss/opengauss.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/tests/integration_tests/vdb/opengauss/__init__.py
  api/tests/integration_tests/vdb/opengauss/test_opengauss.py
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:L, 👻 feat:rag, lgtm

#16048 chore: enhance ListWrapper and PluginPage components with stable scro…
  web/app/components/plugins/marketplace/list/list-wrapper.tsx
  web/app/components/plugins/plugin-page/index.tsx
Labels: 💪 enhancement, size:XS, lgtm

#15964 feat: add Maximum number of Parallelism branches to env
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/.env.example
  web/app/components/workflow/constants.ts
  web/app/layout.tsx
Labels: size:S, 🌊 feat:workflow, lgtm

#16044 fix: improve InputNumber component step behavior and disabled state
  web/app/components/base/input-number/index.tsx
  web/app/components/base/param-item/index.tsx
Labels: 🐞 bug, size:M, lgtm

#14073 Fixed: Run failed: Failed to invoke tool: File.__init__() got an unexpected keyword argument
  api/core/file/models.py
Labels: 🐞 bug, size:XS, lgtm

#15965 Chore: PromptMessage is not an abstract base class
  api/core/model_runtime/docs/en_US/interfaces.md
  api/core/model_runtime/docs/zh_Hans/interfaces.md
  api/core/model_runtime/entities/__init__.py
  api/core/model_runtime/entities/message_entities.py
Labels: 🐞 bug, size:XS, lgtm

#12653 Fix HTTP Request node to give priority to file extension of content-disposition
  api/core/workflow/nodes/http_request/entities.py
  api/core/workflow/nodes/http_request/node.py
Labels: size:M, 🌊 feat:workflow, lgtm

#16041 fix: respect resolution settings for vision for basic chatbot, text generator, and parameter extractor node
  api/core/app/apps/base_app_runner.py
  api/core/app/apps/chat/app_runner.py
  api/core/app/apps/completion/app_runner.py
  api/core/prompt/advanced_prompt_transform.py
  api/core/prompt/simple_prompt_transform.py
  api/core/workflow/nodes/parameter_extractor/parameter_extractor_node.py
Labels: 🐞 bug, size:M, lgtm

#16092 doc: auto correct the doc using autocorrect close #16091
  CONTRIBUTING_CN.md
  README_CN.md
Labels: 📚 documentation, size:S, lgtm

#16096 fix vector db sql injection
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector_sql.py
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  api/core/rag/datasource/vdb/opengauss/opengauss.py
  api/core/rag/datasource/vdb/pgvector/pgvector.py
Labels: 🐞 bug, size:S, lgtm
