Repository langgenius/dify, pull requests merged in 2025-07, with the labels that each got.

#21709 fix: fix node valid detect
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
Labels: size:XS, lgtm, ☕️ typescript

#21683 [fix] #21678 User input of remote file link on the run page form causes conversation/message interface error
  api/models/model.py
Labels: size:XS, lgtm

#21729 Fix/ serveral bugs fixed in enterprise
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/base/popover/index.tsx
  web/app/components/workflow/block-selector/market-place-plugin/list.tsx
  web/app/components/workflow/nodes/_base/components/switch-plugin-version.tsx
  web/hooks/use-tab-searchparams.ts
  web/i18n/en-US/app.ts
  web/service/access-control.ts
Labels: 📚 documentation, size:M, lgtm, ☕️ typescript

#21674 Fixes issue 21157/20661 extra quote in agent node
  api/core/workflow/nodes/agent/agent_node.py
Labels: size:XS, 🤖 feat:agent, lgtm

#21247 feat: Retain LLM Configuration Settings When Changing Model
  web/app/components/app/configuration/index.tsx
  web/app/components/workflow/nodes/llm/panel.tsx
  web/utils/completion-params.ts
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#21726 Release db.session connection before workflow new thread long time operation
  api/core/app/apps/workflow/app_generator.py
Labels: size:XS, lgtm

#20910 refactor: define the Dify project version in pyproject.toml
  .github/workflows/api-tests.yml
  api/configs/app_config.py
  api/configs/packaging/__init__.py
  api/configs/packaging/pyproject.py
  api/controllers/console/version.py
  api/controllers/service_api/index.py
  api/extensions/ext_app_metrics.py
  api/extensions/ext_otel.py
  api/extensions/ext_sentry.py
  api/libs/file_utils.py
  api/pyproject.toml
  api/services/account_service.py
  api/uv.lock
Labels: dependencies, size:M, lgtm

#21750 fix: can not reset system variables
  web/app/components/workflow/hooks/use-inspect-vars-crud.ts
  web/service/use-workflow.ts
Labels: size:S, lgtm

#21751 chore: upgrade package versions for security reason
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies, size:XS, lgtm

#21761 fix: if parameter is not required, continue
  api/core/workflow/nodes/tool/tool_node.py
Labels: size:XS, lgtm

#21777 Improve Langfuse trace readability
  api/core/ops/langfuse_trace/langfuse_trace.py
Labels: size:M, 🌊 feat:workflow, lgtm

#21789 fix: when config plugin endpoint choose no start form app cause page crashed
  web/app/components/plugins/plugin-detail-panel/app-selector/app-inputs-panel.tsx
Labels: size:S, lgtm, ☕️ typescript

#21793 chore: new inspected variable add to top position instead of bottom
  web/app/components/workflow/hooks/use-inspect-vars-crud.ts
Labels: size:XS, lgtm

#21796 FIX: dollar-sign escaping in preprocessLaTeX code‐block handling
  web/app/components/base/markdown/markdown-utils.ts
Labels: size:XS, lgtm, ☕️ typescript

#21578 fix: Make the latency and logs of web applications consistent.
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
  api/core/workflow/workflow_cycle_manager.py
Labels: size:XS, lgtm

#21604 fix(api): Fix resetting sys var causing internal server error
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/base_app_generator.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/apps/workflow_app_runner.py
  api/core/workflow/entities/workflow_node_execution.py
  api/core/workflow/nodes/http_request/executor.py
  api/core/workflow/repositories/draft_variable_repository.py
  api/services/workflow_draft_variable_service.py
  api/services/workflow_service.py
  api/tests/unit_tests/services/workflow/test_workflow_draft_variable_service.py
Labels: size:XL, lgtm

#21807 fix(api): files not returned in the answer node
  api/core/app/apps/common/workflow_response_converter.py
  api/core/workflow/nodes/answer/answer_stream_processor.py
  api/tests/unit_tests/core/app/apps/common/test_workflow_response_converter.py
Labels: size:L, lgtm

#21803 Fix: prevent SQL errors when metadata filter Constant value is None or blank
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:XS, lgtm

#21816 chore: put new run var to the top
  web/app/components/workflow/hooks/use-inspect-vars-crud.ts
Labels: size:XS, lgtm

#21832 remove unused config CURRENT_VERSION
  api/configs/packaging/__init__.py
Labels: size:XS, lgtm

#21823 Chore/workflow last run
  web/app/components/workflow-app/components/workflow-main.tsx
  web/app/components/workflow-app/hooks/index.ts
  web/app/components/workflow-app/hooks/use-configs-map.ts
  web/app/components/workflow-app/hooks/use-fetch-workflow-inspect-vars.ts
  web/app/components/workflow-app/hooks/use-inspect-vars-crud.ts
  web/app/components/workflow-app/hooks/use-workflow-run.ts
  web/app/components/workflow/hooks-store/store.ts
  web/app/components/workflow/hooks/index.ts
  web/app/components/workflow/hooks/use-inspect-vars-crud.ts
  web/app/components/workflow/hooks/use-set-workflow-vars-with-value.ts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
  web/service/use-workflow.ts
Labels: size:XL, 🌊 feat:workflow, lgtm

#21822 Fix/workflow use nodes hooks
  web/app/components/workflow-app/components/workflow-header/features-trigger.tsx
  web/app/components/workflow/nodes/_base/components/next-step/index.tsx
  web/app/components/workflow/nodes/_base/components/node-position.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.tsx
  web/app/components/workflow/nodes/_base/node.tsx
  web/app/components/workflow/nodes/index.tsx
  web/app/components/workflow/panel/index.tsx
Labels: size:L, 🌊 feat:workflow, lgtm

#21846 style(config-var): update styling classes to use design system tokens
  web/app/components/app/configuration/config-var/select-var-type.tsx
Labels: size:S, lgtm

#19840 feat: Improve Observability with Arize & Phoenix Integration
  api/core/ops/arize_phoenix_trace/__init__.py
  api/core/ops/arize_phoenix_trace/arize_phoenix_trace.py
  api/core/ops/entities/config_entity.py
  api/core/ops/ops_trace_manager.py
  api/pyproject.toml
  api/services/ops_service.py
  api/uv.lock
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config.ts
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-config-modal.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-panel.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/type.ts
  web/app/components/base/icons/assets/public/tracing/arize-icon-big.svg
  web/app/components/base/icons/assets/public/tracing/arize-icon.svg
  web/app/components/base/icons/assets/public/tracing/phoenix-icon-big.svg
  web/app/components/base/icons/assets/public/tracing/phoenix-icon.svg
  web/app/components/base/icons/src/public/tracing/ArizeIcon.json
  web/app/components/base/icons/src/public/tracing/ArizeIcon.tsx
  web/app/components/base/icons/src/public/tracing/ArizeIconBig.json
  web/app/components/base/icons/src/public/tracing/ArizeIconBig.tsx
  web/app/components/base/icons/src/public/tracing/PhoenixIcon.json
  web/app/components/base/icons/src/public/tracing/PhoenixIcon.tsx
  web/app/components/base/icons/src/public/tracing/PhoenixIconBig.json
  web/app/components/base/icons/src/public/tracing/PhoenixIconBig.tsx
  web/app/components/base/icons/src/public/tracing/index.ts
  web/i18n/de-DE/app.ts
  web/i18n/en-US/app.ts
  web/i18n/es-ES/app.ts
  web/i18n/fa-IR/app.ts
  web/i18n/fr-FR/app.ts
  web/i18n/hi-IN/app.ts
  web/i18n/it-IT/app.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ko-KR/app.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pt-BR/app.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ru-RU/app.ts
  web/i18n/sl-SI/app.ts
  web/i18n/th-TH/app.ts
  web/i18n/tr-TR/app.ts
  web/i18n/uk-UA/app.ts
  web/i18n/vi-VN/app.ts
  web/i18n/zh-Hans/app.ts
  web/i18n/zh-Hant/app.ts
  web/models/app.ts
  web/themes/dark.css
  web/themes/light.css
  web/themes/tailwind-theme-var-define.ts
Labels: 💪 enhancement, size:XXL, lgtm

#21867 moving the `MessageStatus` class from the `models.model` module to `models.enums` module
  api/core/app/task_pipeline/based_generate_task_pipeline.py
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/models/enums.py
  api/models/model.py
  api/services/audio_service.py
Labels: 💪 enhancement, size:S, lgtm

#21861 fix: The statistics page cannot display the tokens consumed by agent node
  api/core/model_runtime/entities/llm_entities.py
  api/core/workflow/nodes/tool/tool_node.py
Labels: size:M, lgtm

#21871 Fix: Add title attribute to edit time text for improved accessibility
  web/app/(commonLayout)/apps/AppCard.tsx
Labels: size:XS, lgtm, ☕️ typescript

#21888 fix(loop-variables): validate variable name input
  web/app/components/workflow/nodes/loop/components/loop-variables/item.tsx
Labels: size:S, lgtm, ☕️ typescript

#21909 use repair_json fix json parse error of HTTPRequestNode
  api/core/workflow/nodes/http_request/executor.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#21907 Feat list query
  web/app/components/datasets/documents/hooks/use-document-list-query-state.ts
  web/app/components/datasets/documents/index.tsx
  web/app/components/datasets/documents/list.tsx
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#21916 feat: update account menu style
  web/app/components/header/account-dropdown/index.tsx
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#21927 minor fix: removes the duplicated handling logic for TracingProviderEnum.ARIZE and TracingProviderEnum.PHOENIX from the OpsTraceProviderConfigMap
  api/core/ops/ops_trace_manager.py
Labels: size:S, lgtm, 🐍Python

#21818 refactor(web): Restructure the operation buttons layout in the app information component (#21742)
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/app-sidebar/app-operations.tsx
Labels: 💪 enhancement, size:L, lgtm

#21471 feat: Add Aliyun LLM Observability Integration
  api/core/ops/aliyun_trace/__init__.py
  api/core/ops/aliyun_trace/aliyun_trace.py
  api/core/ops/aliyun_trace/data_exporter/__init__.py
  api/core/ops/aliyun_trace/data_exporter/traceclient.py
  api/core/ops/aliyun_trace/entities/__init__.py
  api/core/ops/aliyun_trace/entities/aliyun_trace_entity.py
  api/core/ops/aliyun_trace/entities/semconv.py
  api/core/ops/entities/config_entity.py
  api/core/ops/ops_trace_manager.py
  api/services/ops_service.py
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config.ts
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-config-modal.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-panel.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/type.ts
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout-main.tsx
  web/app/components/base/icons/assets/public/tracing/aliyun-icon-big.svg
  web/app/components/base/icons/assets/public/tracing/aliyun-icon.svg
  web/app/components/base/icons/src/public/tracing/AliyunIcon.json
  web/app/components/base/icons/src/public/tracing/AliyunIcon.tsx
  web/app/components/base/icons/src/public/tracing/AliyunIconBig.json
  web/app/components/base/icons/src/public/tracing/AliyunIconBig.tsx
  web/app/components/base/icons/src/public/tracing/index.ts
  web/app/components/base/select/index.tsx
  web/app/components/header/nav/index.tsx
  web/app/components/header/plugins-nav/index.tsx
  web/app/components/header/tools-nav/index.tsx
  web/app/components/workflow/nodes/llm/components/json-schema-config-modal/code-editor.tsx
  web/app/signin/components/social-auth.tsx
  web/i18n/en-US/app.ts
  web/i18n/zh-Hans/app.ts
  web/models/app.ts
Labels: 📚 documentation, 💪 enhancement, size:XXL, lgtm

#21949 minor fix: translation for pause
  web/i18n/fa-IR/dataset-documents.ts
  web/i18n/ja-JP/dataset-documents.ts
  web/i18n/ro-RO/dataset-documents.ts
  web/i18n/ru-RU/dataset-documents.ts
  web/i18n/sl-SI/dataset-documents.ts
  web/i18n/tr-TR/dataset-documents.ts
  web/i18n/uk-UA/dataset-documents.ts
Labels: 📚 documentation, size:S, lgtm

#21934 refactor: extract common url validator for config_entity.py
  api/core/ops/entities/config_entity.py
  api/core/ops/utils.py
  api/tests/unit_tests/core/ops/__init__.py
  api/tests/unit_tests/core/ops/test_config_entity.py
  api/tests/unit_tests/core/ops/test_utils.py
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#21882 refactor(graph_engine): Take GraphRuntimeState out of GraphEngine
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/iteration/iteration_node.py
  api/core/workflow/nodes/loop/loop_node.py
  api/core/workflow/workflow_entry.py
  api/tests/unit_tests/core/workflow/graph_engine/test_graph_engine.py
  api/tests/unit_tests/core/workflow/nodes/test_continue_on_error.py
Labels: 💪 enhancement, size:M, lgtm

#22000 fix: resolve dropdown menu visibility issue caused by z-index conflict
  web/app/components/tools/provider-list.tsx
Labels: size:XS, lgtm

#22001 minro fix: fix a typo for aliyun
  api/core/ops/aliyun_trace/entities/semconv.py
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
Labels: size:XS, lgtm

#22012 feat: add unit tests and validation for aliyun tracing
  api/core/ops/entities/config_entity.py
  api/tests/unit_tests/core/ops/test_config_entity.py
Labels: 📚 documentation, 💪 enhancement, size:M, lgtm

#21987 fix(variables): Improve `getNodeUsedVars` implementation details
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: size:XS, lgtm, ☕️ typescript

#22003 test: add unit tests for password validation and hashing
  api/tests/unit_tests/libs/test_password.py
Labels: size:M, lgtm

#22038 fix(variable): ensure unique variable names in var-list
  web/app/components/workflow/nodes/_base/components/variable/var-list.tsx
Labels: size:S, ☕️ typescript

#22030 test: add comprehensive unit tests for UrlSigner
  api/tests/unit_tests/core/helper/test_url_signer.py
Labels: size:L, lgtm

#22022 Remove tow unused files
  api/core/file/models.py
  api/core/file/upload_file_parser.py
  api/core/helper/lru_cache.py
Labels: size:M, lgtm

#21321 feat: introduce new env ALLOW_UNSAFE_DATA_SCHEME to allow rendering data uri scheme
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/.env.example
  web/app/components/base/markdown-blocks/utils.ts
  web/app/components/base/markdown/markdown-utils.ts
  web/app/layout.tsx
  web/config/index.ts
  web/docker/entrypoint.sh
  web/types/feature.ts
Labels: 💪 enhancement, size:S, lgtm

#21556 Feat: description field for env variables
  api/fields/workflow_fields.py
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/panel/chat-variable-panel/components/variable-modal.tsx
  web/app/components/workflow/panel/env-panel/env-item.tsx
  web/app/components/workflow/panel/env-panel/variable-modal.tsx
  web/app/components/workflow/types.ts
  web/i18n/de-DE/workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 💪 enhancement, size:L, 🌊 feat:workflow, lgtm

#22090 Update clean_document_task.py
  api/tasks/clean_document_task.py
Labels: size:XS, lgtm

#22103 fix(Drawer): add overflow hidden to ensure copy button is always clickable (#21992)
  web/app/components/base/chat/chat/question.tsx
Labels: size:XS, lgtm, ☕️ typescript

#22111 fix: allow update plugin install settings
  web/app/components/plugins/plugin-page/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#22102 test: add comprehensive unit tests for encrypter module
  api/tests/unit_tests/core/helper/test_encrypter.py
Labels: size:L, lgtm

#22066 feat(question-classifier): add drag-and-drop sorting for topics list
  web/app/components/workflow/nodes/question-classifier/components/class-item.tsx
  web/app/components/workflow/nodes/question-classifier/components/class-list.tsx
  web/app/components/workflow/nodes/question-classifier/panel.tsx
  web/app/components/workflow/nodes/question-classifier/use-config.ts
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#21776 optimize: batch embedding and qdrant write_consistency_factor parameter
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
Labels: size:S, 👻 feat:rag, lgtm

#22108 Chore: rm useless import and vars
  api/tests/integration_tests/vdb/couchbase/test_couchbase.py
  api/tests/integration_tests/vdb/matrixone/test_matrixone.py
  api/tests/integration_tests/vdb/opengauss/test_opengauss.py
  api/tests/integration_tests/vdb/pyvastbase/test_vastbase_vector.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
  api/tests/unit_tests/factories/test_variable_factory.py
  api/tests/unit_tests/services/test_dataset_service_update_dataset.py
Labels: size:S, lgtm, 🐍Python

#19871 update worklow events logs.
  api/core/workflow/callbacks/workflow_logging_callback.py
  api/core/workflow/graph_engine/entities/graph.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#22141 fix: mcp server card button display
  web/app/components/tools/mcp/mcp-service-card.tsx
Labels: size:S, lgtm, ☕️ typescript

#22155 chore: fix schema editor can not hover item
  web/app/components/workflow/nodes/llm/components/json-schema-config-modal/visual-editor/schema-node.tsx
Labels: size:S, lgtm, ☕️ typescript

#22171 fix(custom_tool): omit optional parameters instead of setting them to None
  api/core/tools/custom_tool/tool.py
Labels: size:XS, lgtm

#21656 feat(tool): add support for API key authentication via query parameter
  api/core/tools/custom_tool/provider.py
  api/core/tools/custom_tool/tool.py
  api/core/tools/entities/tool_entities.py
  api/core/tools/tool_manager.py
  api/services/tools/tools_transform_service.py
  web/app/components/tools/edit-custom-collection-modal/config-credentials.tsx
  web/app/components/tools/types.ts
  web/i18n/en-US/tools.ts
  web/i18n/zh-Hans/tools.ts
Labels: size:L, 🔨 feat:tools, lgtm

#22182 fix: adjust layout styles for header and dataset update
  web/app/components/datasets/create/index.tsx
  web/app/components/datasets/create/notion-page-preview/index.module.css
  web/app/components/datasets/create/step-one/index.tsx
  web/app/components/header/index.tsx
Labels: size:M, lgtm, ☕️ typescript

#21382 fix: resolve Docker file URL networking issue for plugins (#21334)
  api/.env.example
  api/configs/feature/__init__.py
  api/core/file/helpers.py
  api/core/tools/signature.py
  api/core/tools/tool_file_manager.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:M, lgtm

#17340 feat: support var in suggested questions
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/features/new-feature-panel/conversation-opener/modal.tsx
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
  web/i18n/de-DE/app-debug.ts
  web/i18n/en-US/app-debug.ts
  web/i18n/es-ES/app-debug.ts
  web/i18n/fa-IR/app-debug.ts
  web/i18n/fr-FR/app-debug.ts
  web/i18n/hi-IN/app-debug.ts
  web/i18n/it-IT/app-debug.ts
  web/i18n/ja-JP/app-debug.ts
  web/i18n/ko-KR/app-debug.ts
  web/i18n/pl-PL/app-debug.ts
  web/i18n/pt-BR/app-debug.ts
  web/i18n/ru-RU/app-debug.ts
  web/i18n/tr-TR/app-debug.ts
  web/i18n/uk-UA/app-debug.ts
  web/i18n/vi-VN/app-debug.ts
  web/i18n/zh-Hans/app-debug.ts
  web/i18n/zh-Hant/app-debug.ts
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#22156 fix：Fixed the problem of plugin installation failure caused by incons…
  api/services/plugin/plugin_service.py
Labels: size:S, lgtm

#22150 feat(workflow): add drag-and-drop support for variable list items for start node
  web/app/components/workflow/nodes/start/components/var-item.tsx
  web/app/components/workflow/nodes/start/components/var-list.tsx
Labels: size:M, 🌊 feat:workflow, lgtm

#22236 fix: iteration itemType support conversation var (#22220)
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: size:XS, lgtm, ☕️ typescript

#22232 reject whitespace characters in password regexp
  web/app/(shareLayout)/webapp-reset-password/set-password/page.tsx
  web/app/account/account-page/index.tsx
  web/app/forgot-password/ChangePasswordForm.tsx
  web/app/install/installForm.tsx
  web/app/reset-password/set-password/page.tsx
  web/config/index.ts
Labels: size:S, lgtm, ☕️ typescript

#22242 minor fix: wrong and
  api/controllers/console/app/mcp_server.py
Labels: size:XS, lgtm

#22259 chore: bump ruff to 0.12.x
  api/pyproject.toml
  api/services/enterprise/enterprise_service.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
  api/tests/unit_tests/utils/structured_output_parser/test_structured_output_parser.py
  api/uv.lock
Labels: dependencies, size:S, lgtm

#22296 fixing Enum part in backend and making it same as front end
  api/services/entities/knowledge_entities/knowledge_entities.py
Labels: size:XS, lgtm, 🐍Python

#22305 Update README.md
  README.md
Labels: 📚 documentation, size:XS, lgtm

#22313 fix: prevent trigger form submit action when press 'enter'
  web/app/signin/invite-settings/page.tsx
Labels: size:S, lgtm, ☕️ typescript

#22331 Chore: Replace lodash/noop with lodash-es/noop
  web/app/components/plugins/plugin-detail-panel/tool-selector/index.tsx
  web/app/components/workflow/nodes/_base/components/agent-strategy.tsx
  web/app/components/workflow/nodes/llm/components/json-schema-config-modal/visual-editor/hooks.ts
Labels: size:S, lgtm, ☕️ typescript

#22327 Fix: Remove height and overflow style settings
  web/app/components/app/log/list.tsx
Labels: size:XS, lgtm, ☕️ typescript

#22338 Feat/change user email
  api/controllers/console/workspace/account.py
Labels: 💪 enhancement, size:XS

#22287 Provides a set of Kubernetes manifests supporting version 1.6.0
  README.md
  README_AR.md
  README_BN.md
  README_CN.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_PT.md
  README_SI.md
  README_TR.md
  README_TW.md
  README_VI.md
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#22262 chore: bump nextjs to 15.3
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies, size:S, ☕️ typescript

#22225 tablestore vector support more method
  api/core/rag/datasource/vdb/tablestore/tablestore_vector.py
Labels: size:S, 👻 feat:rag, lgtm

#22284 feat(config-modal): add space to underscore conversion in variable name input of start node
  web/app/components/app/configuration/config-var/config-modal/index.tsx
Labels: 💪 enhancement, size:S, ☕️ typescript

#20362 fix: Metadata filtering with Manual option in Agent mode does not take effect when specifying input variables.
  web/app/components/workflow/nodes/knowledge-retrieval/components/metadata/condition-list/condition-common-variable-selector.tsx
Labels: size:S, ☕️ typescript

#22390 Temp feat change user email enterprise
  api/.env.example
  api/configs/feature/__init__.py
  api/controllers/console/auth/error.py
  api/controllers/console/workspace/account.py
  api/controllers/console/workspace/members.py
  api/controllers/console/wraps.py
  api/services/account_service.py
  api/services/feature_service.py
  api/tasks/mail_change_mail_task.py
  api/tasks/mail_owner_transfer_task.py
  api/templates/change_mail_confirm_new_template_en-US.html
  api/templates/change_mail_confirm_new_template_zh-CN.html
  api/templates/change_mail_confirm_old_template_en-US.html
  api/templates/change_mail_confirm_old_template_zh-CN.html
  api/templates/transfer_workspace_new_owner_notify_template_en-US.html
  api/templates/transfer_workspace_new_owner_notify_template_zh-CN.html
  api/templates/transfer_workspace_old_owner_notify_template_en-US.html
  api/templates/transfer_workspace_old_owner_notify_template_zh-CN.html
  api/templates/transfer_workspace_owner_confirm_template_en-US.html
  api/templates/transfer_workspace_owner_confirm_template_zh-CN.html
  api/templates/without-brand/change_mail_confirm_new_template_en-US.html
  api/templates/without-brand/change_mail_confirm_new_template_zh-CN.html
  api/templates/without-brand/change_mail_confirm_old_template_en-US.html
  api/templates/without-brand/change_mail_confirm_old_template_zh-CN.html
  api/templates/without-brand/transfer_workspace_new_owner_notify_template_en-US.html
  api/templates/without-brand/transfer_workspace_new_owner_notify_template_zh-CN.html
  api/templates/without-brand/transfer_workspace_old_owner_notify_template_en-US.html
  api/templates/without-brand/transfer_workspace_old_owner_notify_template_zh-CN.html
  api/templates/without-brand/transfer_workspace_owner_confirm_template_en-US.html
  api/templates/without-brand/transfer_workspace_owner_confirm_template_zh-CN.html
  api/tests/integration_tests/.env.example
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:XXL

#21802 fix(prompt-editor): show error warning for destructive env and conv var
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/component.tsx
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/node.tsx
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/workflow-variable-block-replacement-block.tsx
Labels: size:M

#19888 fix: generate deterministic operationId for root endpoints without one
  api/core/tools/utils/parser.py
  api/tests/unit_tests/core/tools/utils/__init__.py
  api/tests/unit_tests/core/tools/utils/test_parser.py
Labels: 🐞 bug, size:M

#22419 fix: remove PickerPanel padding
  web/app/components/workflow/nodes/_base/components/variable/object-child-tree-panel/picker/index.tsx
Labels: size:XS, ☕️ typescript

#22425 Feat/change user email
  api/.env.example
  api/configs/feature/__init__.py
  api/controllers/console/auth/error.py
  api/controllers/console/workspace/account.py
  api/controllers/console/workspace/members.py
  api/controllers/console/wraps.py
  api/services/account_service.py
  api/services/feature_service.py
  api/tasks/mail_change_mail_task.py
  api/tasks/mail_owner_transfer_task.py
  api/templates/change_mail_confirm_new_template_en-US.html
  api/templates/change_mail_confirm_new_template_zh-CN.html
  api/templates/change_mail_confirm_old_template_en-US.html
  api/templates/change_mail_confirm_old_template_zh-CN.html
  api/templates/transfer_workspace_new_owner_notify_template_en-US.html
  api/templates/transfer_workspace_new_owner_notify_template_zh-CN.html
  api/templates/transfer_workspace_old_owner_notify_template_en-US.html
  api/templates/transfer_workspace_old_owner_notify_template_zh-CN.html
  api/templates/transfer_workspace_owner_confirm_template_en-US.html
  api/templates/transfer_workspace_owner_confirm_template_zh-CN.html
  api/templates/without-brand/change_mail_confirm_new_template_en-US.html
  api/templates/without-brand/change_mail_confirm_new_template_zh-CN.html
  api/templates/without-brand/change_mail_confirm_old_template_en-US.html
  api/templates/without-brand/change_mail_confirm_old_template_zh-CN.html
  api/templates/without-brand/transfer_workspace_new_owner_notify_template_en-US.html
  api/templates/without-brand/transfer_workspace_new_owner_notify_template_zh-CN.html
  api/templates/without-brand/transfer_workspace_old_owner_notify_template_en-US.html
  api/templates/without-brand/transfer_workspace_old_owner_notify_template_zh-CN.html
  api/templates/without-brand/transfer_workspace_owner_confirm_template_en-US.html
  api/templates/without-brand/transfer_workspace_owner_confirm_template_zh-CN.html
  api/tests/integration_tests/.env.example
  docker/.env.example
  docker/docker-compose.yaml
  web/app/account/account-page/email-change-modal.tsx
  web/app/account/account-page/index.module.css
  web/app/account/account-page/index.tsx
  web/app/components/billing/type.ts
  web/app/components/header/account-setting/members-page/index.tsx
  web/app/components/header/account-setting/members-page/operation/transfer-ownership.tsx
  web/app/components/header/account-setting/members-page/transfer-ownership-modal/index.tsx
  web/app/components/header/account-setting/members-page/transfer-ownership-modal/member-selector.tsx
  web/context/provider-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/zh-Hans/common.ts
  web/service/common.ts
  web/types/feature.ts
Labels: 💪 enhancement, size:XXL

#22438 fix: Disable question editing in chat history
  web/app/components/workflow/panel/chat-record/index.tsx
Labels: size:XS, ☕️ typescript

#22371 chore: add SQLALCHEMY_POOL_USE_LIFO option and missing SQLALCHEMY_POOL_PRE_PING env default value.
  api/configs/middleware/__init__.py
  api/tests/unit_tests/configs/test_dify_config.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:S

#22169 Fix potential leak
  api/core/mcp/session/base_session.py
Labels: size:S, lgtm

#22450 adding tooltip for bindingCount
  web/app/components/base/tag-management/tag-item-editor.tsx
  web/i18n/en-US/workflow.ts
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#22439 test: add comprehensive unit tests for console authentication and authorization decorators
  api/tests/unit_tests/controllers/console/test_wraps.py
Labels: size:L

#22025 refactor(api): Improve SegmentType for Accurate Serialization/Deserialization
  api/controllers/console/app/workflow_draft_variable.py
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/app_runner.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/apps/workflow_app_runner.py
  api/core/prompt/advanced_prompt_transform.py
  api/core/variables/segments.py
  api/core/variables/types.py
  api/core/variables/variables.py
  api/core/workflow/entities/variable_pool.py
  api/core/workflow/graph_engine/entities/graph_runtime_state.py
  api/core/workflow/nodes/loop/entities.py
  api/core/workflow/nodes/loop/loop_node.py
  api/core/workflow/nodes/start/start_node.py
  api/core/workflow/nodes/variable_assigner/v1/node.py
  api/core/workflow/nodes/variable_assigner/v2/constants.py
  api/core/workflow/nodes/variable_assigner/v2/helpers.py
  api/core/workflow/system_variable.py
  api/core/workflow/workflow_cycle_manager.py
  api/core/workflow/workflow_entry.py
  api/factories/variable_factory.py
  api/fields/_value_type_serializer.py
  api/fields/conversation_variable_fields.py
  api/fields/workflow_fields.py
  api/models/workflow.py
  api/services/workflow_service.py
  api/tests/integration_tests/workflow/nodes/test_code.py
  api/tests/integration_tests/workflow/nodes/test_http.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
  api/tests/integration_tests/workflow/nodes/test_parameter_extractor.py
  api/tests/integration_tests/workflow/nodes/test_template_transform.py
  api/tests/integration_tests/workflow/nodes/test_tool.py
  api/tests/unit_tests/core/variables/test_segment.py
  api/tests/unit_tests/core/variables/test_segment_type.py
  api/tests/unit_tests/core/variables/test_variables.py
  api/tests/unit_tests/core/workflow/graph_engine/entities/test_graph_runtime_state.py
  api/tests/unit_tests/core/workflow/graph_engine/entities/test_node_run_state.py
  api/tests/unit_tests/core/workflow/graph_engine/test_graph_engine.py
  api/tests/unit_tests/core/workflow/nodes/answer/test_answer.py
  api/tests/unit_tests/core/workflow/nodes/answer/test_answer_stream_processor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_node.py
  api/tests/unit_tests/core/workflow/nodes/iteration/test_iteration.py
  api/tests/unit_tests/core/workflow/nodes/llm/test_node.py
  api/tests/unit_tests/core/workflow/nodes/test_answer.py
  api/tests/unit_tests/core/workflow/nodes/test_continue_on_error.py
  api/tests/unit_tests/core/workflow/nodes/test_if_else.py
  api/tests/unit_tests/core/workflow/nodes/tool/test_tool_node.py
  api/tests/unit_tests/core/workflow/nodes/variable_assigner/v1/test_variable_assigner_v1.py
  api/tests/unit_tests/core/workflow/nodes/variable_assigner/v2/test_variable_assigner_v2.py
  api/tests/unit_tests/core/workflow/test_system_variable.py
  api/tests/unit_tests/core/workflow/test_variable_pool.py
  api/tests/unit_tests/core/workflow/test_workflow_cycle_manager.py
  api/tests/unit_tests/core/workflow/utils/test_variable_utils.py
  api/tests/unit_tests/factories/test_variable_factory.py
  web/app/components/base/chat/chat/question.tsx
  web/app/components/workflow/nodes/agent/components/tool-icon.tsx
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#22058 feat(api): add UUIDv7 implementation in SQL and Python
  api/libs/uuid_utils.py
  api/migrations/versions/2025_07_02_2332-1c9ba48be8e4_add_uuidv7_function_in_sql.py
  api/tests/unit_tests/libs/test_uuid_utils.py
Labels: 💪 enhancement, size:XL, lgtm, 🐍Python

#22472 fix: add background color for chat bubble in light and dark themes
  web/app/components/base/chat/chat/question.tsx
  web/tailwind-common-config.ts
  web/themes/manual-dark.css
  web/themes/manual-light.css
Labels: size:S, lgtm

#22468 fix aliyun trace session_id
  api/core/ops/aliyun_trace/aliyun_trace.py
Labels: size:XS, lgtm

#22127 feat(variable-list): add drag-and-drop functionality for variables in code node
  web/app/components/workflow/nodes/_base/components/variable/var-list.tsx
Labels: size:M, 🌊 feat:workflow

#22073 feat(app): support custom max_active_requests per app
  api/controllers/console/app/app.py
  api/fields/app_fields.py
  api/services/app_service.py
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/explore/create-app-modal/index.tsx
  web/i18n/en-US/app.ts
  web/i18n/zh-Hans/app.ts
  web/service/apps.ts
  web/types/app.ts
Labels: 💪 enhancement, size:M, ☕️ typescript

#18558 feat: Add Citations and Attributions to Agent Node
  api/core/agent/plugin_entities.py
  api/core/entities/parameter_entities.py
  api/core/plugin/entities/parameters.py
  api/core/tools/entities/tool_entities.py
  api/core/workflow/nodes/tool/tool_node.py
  web/app/components/base/chat/chat/question.tsx
  web/app/components/header/account-setting/model-provider-page/declarations.ts
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-list-item.tsx
  web/app/components/workflow/nodes/agent/use-config.ts
Labels: 📚 documentation, size:M, 🤖 feat:agent

#22514 fix(signin): Improve login button UI (#22433)
  web/app/signin/components/social-auth.tsx
  web/app/signin/page.module.css
Labels: size:XS, lgtm, ☕️ typescript

#22524 Perf/web app authrozation
  web/app/(commonLayout)/explore/installed/[appId]/page.tsx
  web/app/(shareLayout)/chat/[token]/page.tsx
  web/app/(shareLayout)/chatbot/[token]/page.tsx
  web/app/(shareLayout)/completion/[token]/page.tsx
  web/app/(shareLayout)/components/authenticated-layout.tsx
  web/app/(shareLayout)/components/splash.tsx
  web/app/(shareLayout)/layout.tsx
  web/app/(shareLayout)/webapp-signin/layout.tsx
  web/app/(shareLayout)/webapp-signin/normalForm.tsx
  web/app/(shareLayout)/webapp-signin/page.tsx
  web/app/(shareLayout)/workflow/[token]/page.tsx
  web/app/components/base/chat/chat-with-history/context.tsx
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/chat-with-history/index.tsx
  web/app/components/base/chat/embedded-chatbot/index.tsx
  web/app/components/base/chat/types.ts
  web/app/components/explore/index.tsx
  web/app/components/explore/installed-app/index.tsx
  web/app/components/explore/sidebar/index.tsx
  web/app/components/share/text-generation/index.tsx
  web/app/components/share/text-generation/menu-dropdown.tsx
  web/app/components/share/utils.ts
  web/context/explore-context.ts
  web/context/global-public-context.tsx
  web/context/web-app-context.tsx
  web/i18n/en-US/login.ts
  web/i18n/ja-JP/login.ts
  web/i18n/zh-Hans/login.ts
  web/models/share.ts
  web/service/access-control.ts
  web/service/base.ts
  web/service/explore.ts
  web/service/share.ts
  web/service/use-explore.ts
  web/service/use-share.ts
Labels: 💪 enhancement, size:XL, lgtm, ☕️ typescript

#22525 fix (ci) : remove test_url_signer
  api/tests/unit_tests/core/helper/test_url_signer.py
Labels: size:L

#22535 minor bug fix: wrong default metrics endpoint
  api/extensions/ext_otel.py
Labels: size:XS

#22539 minor typo fix: remove debug code and fix typo
  api/controllers/console/auth/error.py
  api/controllers/console/workspace/members.py
  api/templates/change_mail_confirm_old_template_zh-CN.html
  api/templates/transfer_workspace_owner_confirm_template_en-US.html
  api/templates/without-brand/change_mail_confirm_old_template_zh-CN.html
  api/templates/without-brand/transfer_workspace_owner_confirm_template_en-US.html
Labels: size:S, lgtm

#22542 fix: use model provided by user in prompt generator (#22541)
  api/core/llm_generator/llm_generator.py
Labels: size:XS, lgtm

#22528 test: add comprehensive OAuth authentication unit tests
  api/tests/unit_tests/controllers/console/auth/test_oauth.py
  api/tests/unit_tests/libs/test_oauth_clients.py
Labels: size:XL

#22476 fix: Python SDK WorkflowClient and KnowledgeBase client imports fixed. Added documentation for WorkflowClient.
  sdks/python-client/README.md
  sdks/python-client/dify_client/__init__.py
Labels: 📚 documentation, size:M, lgtm, 🐍Python

#22485 updating icon
  web/app/components/app/configuration/config-prompt/advanced-prompt-input.tsx
  web/app/components/app/configuration/config/agent/prompt-editor.tsx
  web/app/components/base/copy-icon/index.tsx
  web/app/components/base/icons/assets/vender/line/files/clipboard-check.svg
  web/app/components/base/icons/assets/vender/line/files/clipboard.svg
  web/app/components/base/icons/assets/vender/line/files/copy-check.svg
  web/app/components/base/icons/assets/vender/line/files/copy.svg
  web/app/components/base/icons/src/vender/line/files/Clipboard.json
  web/app/components/base/icons/src/vender/line/files/ClipboardCheck.json
  web/app/components/base/icons/src/vender/line/files/Copy.json
  web/app/components/base/icons/src/vender/line/files/Copy.tsx
  web/app/components/base/icons/src/vender/line/files/CopyCheck.json
  web/app/components/base/icons/src/vender/line/files/CopyCheck.tsx
  web/app/components/base/icons/src/vender/line/files/index.ts
  web/app/components/plugins/base/key-value-item.tsx
  web/app/components/plugins/plugin-detail-panel/endpoint-card.tsx
  web/app/components/workflow/nodes/_base/components/editor/base.tsx
  web/app/components/workflow/nodes/_base/components/prompt/editor.tsx
  web/app/components/workflow/panel/debug-and-preview/conversation-variable-modal.tsx
Labels: size:L, lgtm, ☕️ typescript

#22578 Fix jinja2 variable naming inconsistencies
  api/core/workflow/nodes/llm/node.py
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/llm/use-config.ts
Labels: size:S, ☕️ typescript, 🐍Python

#19305 Fix: the pict type picture was not processed in the docx
  api/core/rag/extractor/word_extractor.py
Labels: 🐞 bug, size:M

#22595 remove node-info for non mcp
  web/app/components/workflow/nodes/_base/node.tsx
Labels: size:XS

#22589 use nolyfill to reduce download size
  web/package.json
  web/pnpm-lock.yaml
Labels: size:M, lgtm

#22587 fix(docs): correct workflow API parameter name from workflow_id to workflow_run_id
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
Labels: 📚 documentation, size:S, lgtm

#22566 fix celery config
  api/.env.example
  api/configs/middleware/__init__.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#22580 fix: admin feedback uses the same method create_feedback
  api/controllers/console/app/message.py
Labels: size:M, lgtm

#22600 refactor: elegant event dispatch patterns (92% complexity reduction)
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/generate_task_pipeline.py
Labels: 💪 enhancement, size:XXL

#22596 fix text splitter
  api/core/rag/splitter/fixed_text_splitter.py
Labels: size:XS, lgtm

#22547 fix: correct tracing for workflows and chatflows for phoenix
  api/core/ops/arize_phoenix_trace/arize_phoenix_trace.py
Labels: size:M, lgtm

#22617 feat: update VECTOR_STORE supported types in api/.env.example
  api/.env.example
Labels: size:XS, 👻 feat:rag, lgtm

#22625 fix: restore globals dependency in package.json and pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies, size:XS, lgtm

#22649 chore: skip SuperLinter check on .editorconfig when no changes
  .github/workflows/style.yml
  .github/workflows/web-tests.yml
Labels: size:S

#22636 Fix: Remove ${basePath} from the <Link> tag's href attribute.
  web/app/(commonLayout)/datasets/NewDatasetCard.tsx
  web/app/components/app/configuration/dataset-config/select-dataset/index.tsx
  web/app/components/header/dataset-nav/index.tsx
Labels: size:S

#22654 Fix/replace datetime patterns with naive utc now
  api/controllers/console/app/conversation.py
  api/controllers/console/app/site.py
  api/controllers/console/auth/activate.py
  api/controllers/console/auth/oauth.py
  api/controllers/console/datasets/data_source.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/explore/completion.py
  api/controllers/console/explore/installed_app.py
  api/controllers/console/workspace/account.py
  api/controllers/service_api/wraps.py
  api/core/app/apps/message_based_app_generator.py
  api/core/workflow/workflow_cycle_manager.py
  api/events/event_handlers/create_document_index.py
  api/extensions/storage/azure_blob_storage.py
  api/libs/oauth_data_source.py
  api/models/task.py
  api/models/workflow.py
  api/services/account_service.py
  api/services/app_service.py
  api/services/conversation_service.py
  api/services/dataset_service.py
  api/services/external_knowledge_service.py
  api/services/workflow_service.py
  api/tasks/document_indexing_task.py
  api/tests/unit_tests/services/test_dataset_service_update_dataset.py
  sdks/python-client/dify_client/__init__.py
Labels: 💪 enhancement, size:L

#22663 fix: resolve Redis mock import error in test configuration
  api/tests/unit_tests/conftest.py
Labels: size:XS

#22660 chore: update pnpm version to 10.13.1
  .devcontainer/post_create_command.sh
  web/Dockerfile
Labels: size:XS

#22666 fix(i18n): "道具" into "ツール"
  web/i18n/ja-JP/plugin.ts
  web/i18n/ja-JP/workflow.ts
Labels: size:XS

#22462 fix: avoid using node_data.version for judgement tool node version
  api/core/workflow/nodes/agent/agent_node.py
  api/core/workflow/nodes/agent/entities.py
  api/core/workflow/nodes/node_mapping.py
  api/core/workflow/nodes/tool/entities.py
  api/core/workflow/nodes/tool/tool_node.py
  web/app/components/base/chat/chat/question.tsx
  web/app/components/workflow/nodes/agent/default.ts
  web/app/components/workflow/nodes/agent/types.ts
  web/app/components/workflow/nodes/agent/use-config.ts
  web/app/components/workflow/nodes/tool/default.ts
  web/app/components/workflow/nodes/tool/types.ts
  web/app/components/workflow/utils/workflow-init.ts
Labels: size:M, 🌊 feat:workflow, lgtm

#22697 fix: Adjust tool selector popup styles (#22622)
  web/app/components/plugins/plugin-detail-panel/tool-selector/index.tsx
Labels: size:S

#22683 fix: improve document filtering in full text search(elasticsearch)
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
Labels: 💪 enhancement, size:S, lgtm

#22710 Perf: remove user profile loading
  web/app/(commonLayout)/layout.tsx
  web/app/account/account-page/index.tsx
  web/app/account/layout.tsx
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/overview/embedded/index.tsx
  web/app/components/apps/app-card.tsx
  web/app/components/base/avatar/index.tsx
  web/app/components/billing/apps-full-in-dialog/index.tsx
  web/app/components/browser-initializer.tsx
  web/app/components/header/account-about/index.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-dropdown/support.tsx
  web/app/components/header/env-nav/index.tsx
  web/app/components/plugins/install-plugin/install-from-local-package/steps/install.tsx
  web/app/components/plugins/install-plugin/install-from-marketplace/steps/install.tsx
  web/app/components/plugins/plugin-item/index.tsx
  web/app/components/sentry-initializer.tsx
  web/app/components/swr-initializer.tsx
  web/app/layout.tsx
  web/context/app-context.tsx
  web/context/query-client.tsx
  web/service/common.ts
Labels: 💪 enhancement, size:L, lgtm

#22711 fix: prevent app type description from overflowing the card
  web/app/components/app/create-app-modal/index.tsx
Labels: size:XS, lgtm

#22704 feat: update file manager and file factory implementations
  api/core/file/file_manager.py
  api/factories/file_factory.py
Labels: 💪 enhancement, size:M, lgtm

#22719 fix: complete file_upload schema in OpenAPI templates (#22700)
  web/app/components/base/features/types.ts
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.ja.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, size:L, lgtm

#22747 fix: prevent panel width localStorage pollution during viewport compression (#22745)
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.spec.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.tsx
  web/app/components/workflow/panel/debug-and-preview/index.spec.tsx
  web/app/components/workflow/panel/debug-and-preview/index.tsx
Labels: size:L, lgtm

#22742 test: add comprehensive unit tests for AuthType
  api/tests/unit_tests/services/auth/test_auth_type.py
Labels: size:L, lgtm

#22726 Optimize tencent_vector knowledge base deletion error handling with batch processing support
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
Labels: size:S, 👻 feat:rag, lgtm

#22685 feat: plugin deprecation notice
  api/core/plugin/entities/marketplace.py
  api/services/plugin/plugin_service.py
  web/app/components/plugins/base/deprecation-notice.tsx
  web/app/components/plugins/plugin-detail-panel/detail-header.tsx
  web/app/components/plugins/plugin-item/index.tsx
  web/app/components/plugins/plugin-page/plugins-panel.tsx
  web/app/components/plugins/types.ts
  web/i18n/en-US/plugin.ts
  web/i18n/ja-JP/plugin.ts
  web/i18n/zh-Hans/plugin.ts
  web/utils/format.ts
Labels: 💪 enhancement, size:L, lgtm

#22759 fix import error in marketplace
  web/app/components/plugins/marketplace/index.tsx
Labels: size:XS, lgtm

#22764 fix: single step node execution init error
  api/core/workflow/workflow_entry.py
Labels: size:XS, lgtm

#22767 fix: add missing translation function to deprecation notice component
  web/app/components/plugins/base/deprecation-notice.tsx
Labels: size:XS, lgtm

#22774 fix: tablestore vdb support metadata filter
  api/core/rag/datasource/vdb/tablestore/tablestore_vector.py
  api/tests/integration_tests/vdb/tablestore/test_tablestore.py
Labels: size:L, 👻 feat:rag

#22793 fix: Invalid expected metadata value type error
  api/core/tools/utils/dataset_retriever/dataset_retriever_base_tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/core/workflow/nodes/llm/node.py
Labels: size:S

#22795 fix: #22784
  api/core/workflow/nodes/tool/tool_node.py
Labels: size:XS

#22752 refactor: centralize email internationalization handling
  api/libs/email_i18n.py
  api/schedule/mail_clean_document_notify_task.py
  api/schedule/queue_monitor_task.py
  api/tasks/mail_account_deletion_task.py
  api/tasks/mail_change_mail_task.py
  api/tasks/mail_email_code_login.py
  api/tasks/mail_enterprise_task.py
  api/tasks/mail_invite_member_task.py
  api/tasks/mail_owner_transfer_task.py
  api/tasks/mail_reset_password_task.py
  api/tests/unit_tests/libs/test_email_i18n.py
Labels: 💪 enhancement, size:XXL, lgtm

#22744 feat: oauth refresh token
  api/controllers/console/workspace/tool_providers.py
  api/core/plugin/entities/plugin_daemon.py
  api/core/plugin/impl/oauth.py
  api/core/tools/tool_manager.py
  api/migrations/versions/2025_07_22_0019-375fe79ead14_oauth_refresh_token.py
  api/models/tools.py
  api/services/tools/builtin_tools_manage_service.py
Labels: size:L, 🔨 feat:tools, lgtm

#22816 chore(tests): Remove outdated tests
  tests/unit_tests/events/test_provider_update_deadlock_prevention.py
Labels: size:L, lgtm

#21739 feat: decouple WorkflowAppRunner from AppRunner
  api/core/app/apps/README.md
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/apps/workflow/app_runner.py
  api/core/app/apps/workflow_app_runner.py
Labels: size:L, 🌊 feat:workflow, lgtm

#22810 feat: performance optimization
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
  web/app/components/i18n.tsx
  web/app/components/plugins/base/deprecation-notice.tsx
  web/app/dev-only/i18n-checker/page.tsx
  web/app/signin/invite-settings/page.tsx
  web/context/i18n.ts
  web/i18n/README.md
  web/i18n/de-DE/share.ts
  web/i18n/en-US/share.ts
  web/i18n/es-ES/share.ts
  web/i18n/fa-IR/share.ts
  web/i18n/fr-FR/share.ts
  web/i18n/hi-IN/share.ts
  web/i18n/i18next-config.ts
  web/i18n/index.ts
  web/i18n/it-IT/share.ts
  web/i18n/ja-JP/share.ts
  web/i18n/ko-KR/share.ts
  web/i18n/pl-PL/share.ts
  web/i18n/pt-BR/share.ts
  web/i18n/ro-RO/share.ts
  web/i18n/ru-RU/share.ts
  web/i18n/sl-SI/share.ts
  web/i18n/th-TH/share.ts
  web/i18n/tr-TR/share.ts
  web/i18n/uk-UA/share.ts
  web/i18n/vi-VN/share.ts
  web/i18n/zh-Hans/share.ts
  web/i18n/zh-Hant/share.ts
  web/utils/format.ts
Labels: 💪 enhancement, size:L, lgtm

#22847 fix: improve max active requests calculation logic
  api/services/app_generate_service.py
Labels: size:S

#22830 chore(version): bump to 1.7.0
  api/pyproject.toml
  api/services/app_dsl_service.py
  api/uv.lock
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 💪 enhancement, size:S, lgtm

#22843 fix: tablestore TypeError when vector is missing
  api/core/rag/datasource/vdb/tablestore/tablestore_vector.py
Labels: size:M, 👻 feat:rag, lgtm

#22853 fix tablestore full text search bug
  api/core/rag/datasource/vdb/tablestore/tablestore_vector.py
Labels: size:XS, lgtm

#22856 test: add comprehensive integration tests for API key authentication system
  api/tests/unit_tests/services/auth/test_auth_integration.py
Labels: size:L, lgtm
