Repository langgenius/dify, pull requests merged in 2025-05, with the labels that each got.

#19187 fix: fix API tool integration test
  .github/workflows/api-tests.yml
  api/tests/integration_tests/tools/__mock/http.py
  api/tests/integration_tests/tools/api_tool/test_api_tool.py
  dev/pytest/pytest_tools.sh
Labels: 🐞 bug, size:S, lgtm

#19197 feat: Plugin page related document supports multiple languages
  web/app/components/plugins/plugin-page/debug-info.tsx
  web/app/components/plugins/plugin-page/index.tsx
  web/app/components/plugins/utils.ts
Labels: 📚 documentation, size:S, lgtm

#19190 chore: bump celery from 5.4 to 5.5
  api/pyproject.toml
  api/uv.lock
Labels: dependencies, size:XS, lgtm

#19192 fix: time type metadata filtering error
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: 🐞 bug, size:M, lgtm

#19195 fix: use only supported operators in metadata filter system prompts
  api/core/rag/retrieval/template_prompts.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/core/workflow/nodes/knowledge_retrieval/template_prompts.py
Labels: 🐞 bug, size:XS, lgtm

#19234 Fix appURL construction when basePath is empty
  web/app/components/app/app-publisher/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#19225 chore: required pip and performance improvment in mypy checks
  api/README.md
  api/pyproject.toml
  api/uv.lock
  dev/mypy-check
Labels: dependencies, size:XS, lgtm

#19242 fix basic auth if not base64 encode
  api/core/workflow/nodes/http_request/executor.py
Labels: 🐞 bug, size:XS, lgtm

#19232 Optimize the event handling and rendering logic of the component picker
  web/app/components/base/prompt-editor/plugins/component-picker-block/index.tsx
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#19250 fix: s.filter is not a function
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: 🐞 bug, size:M, lgtm

#19243 feat: sort variables in the selector by x axis for most recent order
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: size:S, 🌊 feat:workflow, lgtm

#19257 Fix: optional input in batch run
  web/app/components/share/text-generation/index.tsx
  web/app/components/share/text-generation/run-once/index.tsx
Labels: 🐞 bug, size:S, lgtm

#19263 Fix: hide view chat setting button when no inputs form
  web/app/components/base/chat/chat-with-history/header-in-mobile.tsx
  web/app/components/base/chat/chat-with-history/header/mobile-operation-dropdown.tsx
Labels: 🐞 bug, size:S, lgtm

#19264 feat: add mode for /info api
  api/controllers/service_api/app/app.py
Labels: 💪 enhancement, size:XS, lgtm

#19265 fix(web): add workspace selector overflow auto
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#19269 Fix doc bug workflow
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, size:S, lgtm

#19275 fix removing member without permission (#16332)
  api/services/account_service.py
Labels: 🐞 bug, size:XS, lgtm

#19278 Fix: update docs link
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout-main.tsx
  web/app/components/app/configuration/config-prompt/conversation-history/history-panel.tsx
  web/app/components/app/configuration/prompt-mode/advanced-mode-waring.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/overview/customize/index.tsx
  web/app/components/app/overview/settings/index.tsx
  web/app/components/datasets/documents/index.tsx
  web/app/components/datasets/external-knowledge-base/create/InfoPanel.tsx
  web/app/components/datasets/external-knowledge-base/create/index.tsx
  web/app/components/tools/provider/custom-create-card.tsx
  web/app/components/workflow/nodes/_base/components/agent-strategy.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/default-value.tsx
  web/app/components/workflow/nodes/_base/hooks/use-node-help-link.ts
  web/app/components/workflow/nodes/llm/components/json-schema-config-modal/json-schema-config.tsx
  web/app/signin/oneMoreStep.tsx
  web/i18n/de-DE/common.ts
  web/i18n/de-DE/dataset-creation.ts
  web/i18n/en-US/common.ts
  web/i18n/en-US/dataset-creation.ts
  web/i18n/es-ES/common.ts
  web/i18n/es-ES/dataset-creation.ts
  web/i18n/fa-IR/common.ts
  web/i18n/fa-IR/dataset-creation.ts
  web/i18n/fr-FR/dataset-creation.ts
  web/i18n/hi-IN/common.ts
  web/i18n/it-IT/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ja-JP/dataset-creation.ts
  web/i18n/ko-KR/common.ts
  web/i18n/ko-KR/dataset-creation.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pl-PL/dataset-creation.ts
  web/i18n/pt-BR/common.ts
  web/i18n/pt-BR/dataset-creation.ts
  web/i18n/ro-RO/common.ts
  web/i18n/ro-RO/dataset-creation.ts
  web/i18n/ru-RU/common.ts
  web/i18n/ru-RU/dataset-creation.ts
  web/i18n/sl-SI/common.ts
  web/i18n/sl-SI/dataset-creation.ts
  web/i18n/th-TH/common.ts
  web/i18n/th-TH/dataset-creation.ts
  web/i18n/tr-TR/common.ts
  web/i18n/tr-TR/dataset-creation.ts
  web/i18n/uk-UA/common.ts
  web/i18n/uk-UA/dataset-creation.ts
  web/i18n/vi-VN/common.ts
  web/i18n/vi-VN/dataset-creation.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/dataset-creation.ts
  web/i18n/zh-Hant/common.ts
  web/i18n/zh-Hant/dataset-creation.ts
Labels: 📚 documentation, size:M, lgtm

#19209 chore: enhance dev script robustness by determining the script directory
  dev/mypy-check
  dev/pytest/pytest_all_tests.sh
  dev/pytest/pytest_artifacts.sh
  dev/pytest/pytest_model_runtime.sh
  dev/pytest/pytest_tools.sh
  dev/pytest/pytest_unit_tests.sh
  dev/pytest/pytest_vdb.sh
  dev/pytest/pytest_workflow.sh
  dev/reformat
  dev/sync-uv
Labels: size:M, lgtm

#19292 chore: slice workflow refresh draft hook
  web/app/components/workflow-app/components/workflow-main.tsx
  web/app/components/workflow-app/hooks/index.ts
  web/app/components/workflow-app/hooks/use-nodes-sync-draft.ts
  web/app/components/workflow-app/hooks/use-workflow-refresh-draft.ts
  web/app/components/workflow/hooks-store/store.ts
  web/app/components/workflow/hooks/index.ts
  web/app/components/workflow/hooks/use-workflow-interactions.ts
  web/app/components/workflow/hooks/use-workflow-refresh-draft.ts
  web/app/components/workflow/index.tsx
Labels: size:M, 🌊 feat:workflow, lgtm

#19176 refactor: Remove RepositoryFactory
  api/app_factory.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
  api/core/base/__init__.py
  api/core/base/tts/__init__.py
  api/core/base/tts/app_generator_tts_publisher.py
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/langsmith_trace.py
  api/core/ops/opik_trace/opik_trace.py
  api/core/repositories/__init__.py
  api/core/repositories/repository_registry.py
  api/core/repositories/sqlalchemy_workflow_node_execution_repository.py
  api/core/repositories/workflow_node_execution/__init__.py
  api/core/workflow/repository/__init__.py
  api/core/workflow/repository/repository_factory.py
  api/core/workflow/workflow_app_generate_task_pipeline.py
  api/core/workflow/workflow_cycle_manager.py
  api/extensions/ext_repositories.py
  api/services/workflow_run_service.py
  api/services/workflow_service.py
  api/tasks/remove_app_and_related_data_task.py
  api/tests/unit_tests/core/workflow/test_workflow_cycle_manager.py
  api/tests/unit_tests/repositories/workflow_node_execution/test_sqlalchemy_repository.py
Labels: 📚 documentation, size:XL, lgtm

#19297 [Observability] Update counter to include http method and target
  api/extensions/ext_otel.py
Labels: 💪 enhancement, size:S, lgtm

#19301 clean docker compose env.
  docker/.env.example
Labels: size:XS, lgtm

#19321 fix: only owner can edit members in workspace
  web/app/components/header/account-setting/members-page/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#19291 feat: store mcp_config when switch agent strategy
  web/app/components/workflow/nodes/agent/panel.tsx
  web/app/components/workflow/nodes/agent/use-config.ts
Labels: size:XS, 🤖 feat:agent, lgtm

#19274 fix: reopen switch to 'workflow orchestrate' menu in app detail page
  web/app/components/app-sidebar/app-info.tsx
  web/i18n/en-US/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/zh-Hans/common.ts
Labels: 🐞 bug, size:M, lgtm

#19177 fix: llm_usage.total_tokens stat
  api/core/agent/cot_agent_runner.py
  api/core/agent/fc_agent_runner.py
Labels: 🐞 bug, size:XS, lgtm

#19163 feat: add optional hidden property to endpoint items and filter hidden endpoints in endpoint card
  web/app/components/plugins/plugin-detail-panel/endpoint-card.tsx
  web/app/components/plugins/types.ts
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#19369 Bug fix: Invalid edge connection data causes the page to crash.
  web/app/components/workflow/hooks/use-workflow-run-event/use-workflow-node-started.ts
Labels: 🐞 bug, size:XS, lgtm

#19386 fix(web): Add unique instanceId & key for AgentStrategy component (#18053)
  web/app/components/workflow/nodes/_base/components/agent-strategy.tsx
Labels: 🐞 bug, size:XS, lgtm

#19343 fix: inconsistent metadata definitions
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/core/workflow/nodes/llm/node.py
Labels: 🐞 bug, size:XS, lgtm

#19398 fix(workflow): Fix the expand/collapse animation effect
  web/app/components/workflow/run/iteration-log/iteration-result-panel.tsx
  web/app/components/workflow/run/loop-log/loop-result-panel.tsx
  web/app/components/workflow/run/loop-result-panel.tsx
Labels: size:S

#19406 fix: chatbot reopen behabior on iOS
  web/public/embed.js
  web/public/embed.min.js
Labels: 🐞 bug, size:XS, lgtm

#19427 test(test_dify_config): Update test to use example environment file
  api/tests/unit_tests/configs/test_dify_config.py
Labels: size:XS, lgtm

#19424 fix: support echart function option
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:S, lgtm

#19432 Revert "perf: optimizing db WorkflowAppLog index"
  api/models/workflow.py
Labels: size:XS, lgtm

#19435 refactor(models): Use the SQLAlchemy base model.
  api/models/account.py
  api/models/api_based_extension.py
  api/models/dataset.py
  api/models/model.py
  api/models/provider.py
  api/models/source.py
  api/models/workflow.py
  api/services/account_service.py
Labels: 💪 enhancement, size:L, lgtm

#19445 fix: TenantAccountJoin has no attribute 'query'
  api/services/account_service.py
Labels: 🐞 bug, size:XS, lgtm

#19450 refactor(workflow): Improve layout structure in VersionHistoryPanel
  web/app/components/workflow/panel/version-history-panel/index.tsx
Labels: size:M, 🌊 feat:workflow, lgtm

#19413 test(vdb/huaweicloudvectordb): Fix the wrong import path
  api/tests/integration_tests/vdb/__mock/huaweicloudvectordb.py
Labels: size:XS, lgtm

#19397 clean rag word_extractor.
  api/core/rag/extractor/word_extractor.py
Labels: size:XS, lgtm

#19480 fix delete api response
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: 🐞 bug, size:L, lgtm

#19453 fix_invitation-link.tsx_url_more_basepath_bug
  web/app/components/header/account-setting/members-page/invited-modal/invitation-link.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#19482 fix: db.session.query(TenantAccountJoin)
  api/models/account.py
  api/schedule/mail_clean_document_notify_task.py
  api/services/account_service.py
Labels: size:M, lgtm

#19485 chore: update edu version text
  web/i18n/en-US/education.ts
  web/i18n/zh-Hans/education.ts
Labels: 📚 documentation, size:S, lgtm

#19470 sort extensions for review,
  api/app_factory.py
Labels: size:M, lgtm

#19496 Revert "sort extensions for review,"
  api/app_factory.py
Labels: size:M, lgtm

#19471 fix: agent log modal fails to open and the timer is not cleared (#18900)
  web/app/components/base/chat/chat/hooks.ts
  web/app/components/base/chat/chat/type.ts
  web/app/components/base/markdown-blocks/think-block.tsx
Labels: 🐞 bug, size:S, lgtm

#19484 refactor(workflow): revamp logging module for loop & iteration nodes
  api/core/workflow/nodes/iteration/iteration_node.py
  api/core/workflow/nodes/loop/loop_node.py
  web/app/components/workflow/run/iteration-log/iteration-log-trigger.tsx
  web/app/components/workflow/run/loop-log/loop-log-trigger.tsx
  web/app/components/workflow/run/node.tsx
  web/app/components/workflow/run/tracing-panel.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:L, 🌊 feat:workflow, lgtm

#19493 feat: enable Redis client-side caching
  api/configs/middleware/cache/redis_config.py
  api/extensions/ext_redis.py
  api/pyproject.toml
  api/uv.lock
Labels: 📚 documentation, 💪 enhancement, size:M, lgtm

#19511 chore: remove image csp
  web/middleware.ts
Labels: size:XS, lgtm

#19497 fix: use NextJS basePath and WEB_PREFIX to support custom prefix
  web/.env.example
  web/README.md
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/(commonLayout)/datasets/NewDatasetCard.tsx
  web/app/components/app/app-publisher/index.tsx
  web/app/components/app/configuration/dataset-config/select-dataset/index.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/log/index.tsx
  web/app/components/app/overview/appCard.tsx
  web/app/components/app/overview/embedded/index.tsx
  web/app/components/app/workflow-log/index.tsx
  web/app/components/base/logo/logo-embedded-chat-avatar.tsx
  web/app/components/base/logo/logo-embedded-chat-header.tsx
  web/app/components/base/logo/logo-site.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/account-setting/members-page/edit-workspace-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
  web/app/components/header/dataset-nav/index.tsx
  web/app/components/tools/add-tool-modal/tools.tsx
  web/app/components/tools/provider/detail.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/index.tsx
  web/app/components/workflow/run/iteration-log/iteration-result-panel.tsx
  web/app/components/workflow/run/loop-log/loop-result-panel.tsx
  web/app/components/workflow/run/loop-result-panel.tsx
  web/app/forgot-password/ChangePasswordForm.tsx
  web/app/forgot-password/ForgotPasswordForm.tsx
  web/app/init/InitPasswordPopup.tsx
  web/app/install/installForm.tsx
  web/app/layout.tsx
  web/config/index.ts
  web/docker/entrypoint.sh
  web/service/base.ts
  web/service/fetch.ts
Labels: 📚 documentation, size:L, lgtm, ☕️ typescript

#19509 fix: replace all dataset.Model.query to db.session.query(Model)
  api/commands.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/service_api/dataset/document.py
  api/core/callback_handler/index_tool_callback_handler.py
  api/core/indexing_runner.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/utils/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/models/dataset.py
  api/schedule/clean_unused_datasets_task.py
  api/schedule/create_tidb_serverless_task.py
  api/schedule/mail_clean_document_notify_task.py
  api/schedule/update_tidb_serverless_status_task.py
  api/services/dataset_service.py
  api/services/external_knowledge_service.py
  api/services/metadata_service.py
  api/tasks/create_segment_to_index_task.py
  api/tasks/deal_dataset_vector_index_task.py
Labels: 🐞 bug, size:XL, lgtm

#19521 chore: all model.query replace to db.session.query
  api/controllers/console/workspace/workspace.py
  api/core/rag/extractor/notion_extractor.py
  api/libs/oauth_data_source.py
  api/schedule/mail_clean_document_notify_task.py
  api/services/account_service.py
  api/services/annotation_service.py
  api/services/dataset_service.py
  api/tasks/document_indexing_sync_task.py
Labels: 💪 enhancement, size:L, lgtm

#19555 fix(web): able to enter Chinese characters in the view-form-dropdown
  web/app/components/base/chat/chat-with-history/inputs-form/content.tsx
  web/app/components/base/chat/embedded-chatbot/inputs-form/content.tsx
Labels: 🐞 bug, size:XS

#19541 correct key to 'embedding_model_provider' in docs
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:XS, lgtm

#19524 chore: disable redis client-side caching by default
  api/configs/middleware/cache/redis_config.py
Labels: size:XS, lgtm

#19563 chore(pyproject.toml): Upgrade huggingface-hub, transformers and resend
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:S

#19562 chore(pyproject.toml): Upgrade transformers and resend
  api/extensions/ext_mail.py
  api/pyproject.toml
  api/uv.lock
Labels: dependencies, size:XS, lgtm

#19551 chore: model.query change to db.session.query
  api/commands.py
  api/controllers/console/explore/installed_app.py
  api/core/callback_handler/index_tool_callback_handler.py
  api/core/indexing_runner.py
  api/core/rag/extractor/notion_extractor.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_tool.py
  api/schedule/clean_messages.py
  api/schedule/mail_clean_document_notify_task.py
  api/services/vector_service.py
Labels: 💪 enhancement, size:L, lgtm

#19504 chore: speed up api service startup time by defering the imports for trace services
  api/core/ops/entities/config_entity.py
  api/core/ops/ops_trace_manager.py
Labels: 💪 enhancement, size:M, lgtm

#19564 Fix btns
  web/app/(commonLayout)/datasets/Container.tsx
Labels: 🐞 bug, size:XS, lgtm

#19560 fix(config): Allow DB_EXTRAS to set search_path via options
  api/configs/middleware/__init__.py
  api/tests/unit_tests/configs/test_dify_config.py
Labels: size:L, lgtm

#19537 add gunicorn keepalive setting
  api/docker/entrypoint.sh
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XS, 🌊 feat:workflow

#18697 add endpoint of get feedbacks
  api/controllers/service_api/app/message.py
  api/models/model.py
  api/services/message_service.py
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.ja.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: 💪 enhancement, size:XL, lgtm

#19574 fix(vector_service): Fixes type hinting and removes unnecessary ignores
  api/services/vector_service.py
  web/app/components/develop/template/template.zh.mdx
Labels: size:XS, lgtm

#19583 Fix: typo ja translation
  web/i18n/ja-JP/app.ts
  web/i18n/ja-JP/workflow.ts
Labels: size:XS, lgtm

#19584 fix: invitations get suspended when an existing member appears
  api/controllers/console/workspace/members.py
Labels: 🐞 bug, size:XS, lgtm

#19585 fix: invitations get suspended when an existing member appears
  api/controllers/console/workspace/members.py
Labels: 🐞 bug, size:XS, lgtm

#19590 fix: image use not config host caused page crash
  web/next.config.js
Labels: 🐞 bug, size:S, lgtm

#19594 chore: upgrade package version to fix security issue
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies, size:XS, lgtm

#19598 chore: Update dependencies in pyproject.toml
  api/pyproject.toml
  api/uv.lock
Labels: dependencies, size:S, lgtm

#19587 fix: remove error message $ symbol
  api/core/workflow/nodes/code/code_node.py
Labels: 🐞 bug, size:XS, lgtm

#19604 fix: not set web prefix use default
  web/config/index.ts
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#19609 fix: premium badge styling
  web/app/components/base/premium-badge/index.css
  web/app/components/base/premium-badge/index.tsx
  web/themes/manual-dark.css
  web/themes/manual-light.css
Labels: size:L, lgtm

#19618 fix: fix can't config Nth item in list Node
  web/app/components/workflow/nodes/list-operator/panel.tsx
Labels: 🐞 bug, size:S, lgtm

#19626 fix(web): optimize action buttons style in the question component
  web/app/components/base/chat/chat/question.tsx
Labels: size:M, lgtm

#18093 Feat: add theme switcher
  web/app/(commonLayout)/datasets/Doc.tsx
  web/app/components/app/create-from-dsl-modal/index.tsx
  web/app/components/app/create-from-dsl-modal/uploader.tsx
  web/app/components/base/icons/assets/vender/line/editor/collapse.svg
  web/app/components/base/icons/src/vender/line/editor/Collapse.json
  web/app/components/base/icons/src/vender/line/editor/Collapse.tsx
  web/app/components/base/icons/src/vender/line/editor/index.ts
  web/app/components/base/theme-selector.tsx
  web/app/components/base/theme-switcher.tsx
  web/app/components/datasets/documents/detail/completed/display-toggle.tsx
  web/app/components/develop/doc.tsx
  web/app/components/develop/secret-key/input-copy.tsx
  web/app/components/explore/category.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/plugins/plugin-detail-panel/tool-selector/reasoning-config-form.tsx
  web/app/components/share/text-generation/menu-dropdown.tsx
  web/app/components/workflow/nodes/end/node.tsx
  web/app/components/workflow/nodes/tool/components/input-var-list.tsx
  web/app/layout.tsx
  web/app/signin/_header.tsx
  web/i18n/en-US/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/zh-Hans/common.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#19633 chore: add dev scripts to start api and worker service with uv run
  dev/start-api
  dev/start-worker
Labels: 💪 enhancement, size:S, lgtm

#18554 fix:#18447:When variables in the workflow are deleted or modified, it is impossible to visually identify subsequent node errors
  web/app/components/workflow/constants.ts
  web/app/components/workflow/header/checklist.tsx
  web/app/components/workflow/hooks/use-checklist.ts
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/answer/default.ts
  web/app/components/workflow/nodes/assigner/default.ts
  web/app/components/workflow/nodes/code/default.ts
  web/app/components/workflow/nodes/document-extractor/default.ts
  web/app/components/workflow/nodes/http/default.ts
  web/app/components/workflow/nodes/if-else/default.ts
  web/app/components/workflow/nodes/iteration/default.ts
  web/app/components/workflow/nodes/knowledge-retrieval/default.ts
  web/app/components/workflow/nodes/list-operator/default.ts
  web/app/components/workflow/nodes/llm/default.ts
  web/app/components/workflow/nodes/parameter-extractor/default.ts
  web/app/components/workflow/nodes/question-classifier/default.ts
  web/app/components/workflow/nodes/template-transform/default.ts
  web/app/components/workflow/nodes/tool/default.ts
  web/app/components/workflow/nodes/variable-assigner/default.ts
  web/app/components/workflow/types.ts
  web/app/components/workflow/utils/workflow-init.spec.ts
  web/app/components/workflow/utils/workflow.ts
  web/config/index.ts
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 🐞 bug, size:XL, lgtm

#19631 Add `/site` API
  api/controllers/common/fields.py
  api/controllers/service_api/__init__.py
  api/controllers/service_api/app/site.py
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.ja.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#19575 fix:fix log formatting field not found in record: 'req_id'
  api/extensions/ext_logging.py
Labels: 🐞 bug, size:S, lgtm

#19648 Feat: add search params with theme in links of marketplace
  web/app/components/header/account-setting/model-provider-page/install-from-marketplace.tsx
  web/app/components/plugins/marketplace/list/card-wrapper.tsx
  web/app/components/plugins/plugin-detail-panel/detail-header.tsx
  web/app/components/plugins/plugin-item/index.tsx
  web/app/components/plugins/provider-card.tsx
  web/app/components/tools/marketplace/index.tsx
  web/app/components/workflow/block-selector/market-place-plugin/action.tsx
Labels: 📚 documentation, size:M, lgtm

#19655 chore: frontend third-part package security issue
  web/package.json
  web/yarn.lock
Labels: dependencies, size:XS

#19657 feat: add index for workflow_conversation_variables.conversation_id
  api/migrations/versions/2025_05_14_1403-d28f2004b072_add_index_for_workflow_conversation_.py
  api/models/workflow.py
Labels: 💪 enhancement, size:M, lgtm

#19665 fix: close browser would reset to browser default language
  web/i18n/index.ts
Labels: 🐞 bug, size:XS, lgtm

#19644 fix: Referencing Metadata in the response of the External Knowledge A… (#19637)
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: 🐞 bug, size:XS, lgtm

#19673 Chore/reduce the invocation of the plugin interface
  api/core/entities/provider_configuration.py
Labels: size:S

#19693 fix: use different local may not load image
  web/next.config.js
Labels: 🐞 bug, size:XS, lgtm

#19685 refactor: simplify success response in dataset API endpoints by returning status code 204 directly
  api/controllers/service_api/dataset/dataset.py
  api/controllers/service_api/dataset/document.py
  api/controllers/service_api/dataset/segment.py
Labels: 💪 enhancement, size:XS, lgtm

#19687 Support for copying nodes between workflows (This feature is unrelated to remove functions. When using the copy function, the browser will permanently retain the last copied node)."
  web/app/components/workflow/store/workflow/workflow-slice.ts
Labels: size:XS, 🌊 feat:workflow, lgtm

#19686 feat(extension): support otel grpc exporter
  api/.env.example
  api/configs/observability/otel/otel_config.py
  api/extensions/ext_otel.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:M, lgtm

#19705 fix: The init_azure_openai() method in the core/hosting_configuration.py file doesn't work (#19704)
  api/core/entities/provider_configuration.py
Labels: 🐞 bug, size:M, lgtm

#19708 Revert "Support for copying nodes between workflows (This feature is unrelated to remove functions. When using the copy function, the browser will permanently retain the last copied node).""
  web/app/components/workflow/store/workflow/workflow-slice.ts
Labels: size:XS, lgtm

#19709 fix: item data type wrong in iteration
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: 🐞 bug, size:XS, lgtm

#19672 Fix: Ensure unique index names for pgvector knowledge tables
  api/core/rag/datasource/vdb/pgvector/pgvector.py
Labels: 🐞 bug, size:S, lgtm

#19719 feat: update branding
  web/app/account/header.tsx
  web/app/components/base/chat/chat-with-history/sidebar/index.tsx
  web/app/components/base/chat/embedded-chatbot/header/index.tsx
  web/app/components/base/chat/embedded-chatbot/index.tsx
  web/app/components/base/logo/dify-logo.tsx
  web/app/components/base/logo/logo-site.tsx
  web/app/components/base/premium-badge/index.css
  web/app/components/custom/custom-web-app-brand/index.tsx
  web/app/components/header/account-about/index.tsx
  web/app/components/header/index.tsx
  web/app/components/share/text-generation/index.tsx
  web/app/education-apply/education-apply-page.tsx
  web/app/signin/_header.tsx
  web/public/favicon.ico
  web/public/logo/logo-monochrome-white.svg
  web/public/logo/logo-site-dark.png
  web/public/logo/logo-site.png
  web/public/logo/logo.png
  web/public/logo/logo.svg
Labels: size:L, lgtm

#19613 fix: handle EndpointSetupFailedError in BasePluginClient
  api/core/plugin/endpoint/exc.py
  api/core/plugin/impl/base.py
Labels: 🐞 bug, size:XS, lgtm

#19728 chore: image allow "data:" in csp
  web/middleware.ts
Labels: size:XS, lgtm

#19732 fix: broken behavior of rendering
  web/app/components/workflow/nodes/assigner/default.ts
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#19736 chore(api): Upgrade dependencies
  CHANGELOG.md
  api/poetry.lock
  api/pyproject.toml
Labels: size:XS

#19739 feat: update email templates
  api/templates/clean_document_job_mail_template-US.html
  api/templates/delete_account_code_email_template_en-US.html
  api/templates/delete_account_success_template_en-US.html
  api/templates/email_code_login_mail_template_en-US.html
  api/templates/email_code_login_mail_template_zh-CN.html
  api/templates/invite_member_mail_template_en-US.html
  api/templates/invite_member_mail_template_zh-CN.html
  api/templates/reset_password_mail_template_en-US.html
  api/templates/reset_password_mail_template_zh-CN.html
Labels: size:S, lgtm

#19745 fix: update background gradient and line positioning in Empty component
  web/app/components/plugins/plugin-page/empty/index.tsx
Labels: size:XS, lgtm

#19676 add: new brand image
  README.md
  README_AR.md
  README_BN.md
  README_CN.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_PT.md
  README_SI.md
  README_TR.md
  README_TW.md
  README_VI.md
  images/GitHub_README_if.png
Labels: 📚 documentation, size:M, lgtm

#19731 chore: Updates version numbers to 1.4.0 and related services
  api/configs/packaging/__init__.py
  api/services/app_dsl_service.py
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: size:M

#19744 Fix: style of check list in dark mode
  web/app/components/app/app-publisher/suggested-action.tsx
  web/app/components/workflow/header/checklist.tsx
Labels: 🐞 bug, size:XS, lgtm

#19756 chore: upload describe image.
  images/describe.png
Labels: size:XS, lgtm

#19757 update readme
  README.md
  README_AR.md
  README_BN.md
  README_CN.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_PT.md
  README_SI.md
  README_TR.md
  README_TW.md
  README_VI.md
  images/GitHub_README_cover.png
  images/demo.png
Labels: 📚 documentation, size:M, lgtm

#19761 Fix: style of dataset item in chatbot configure with theme dark
  web/app/components/app/configuration/dataset-config/card-item/item.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/components/dataset-item.tsx
Labels: size:M, lgtm

#19767 Fix TiDB vector configuration comment to correctly use 'tidb_vector'
  docker/.env.example
Labels: size:XS, lgtm

#19787 revert: https://github.com/langgenius/dify/pull/18554
  web/app/components/app/app-publisher/suggested-action.tsx
  web/app/components/workflow/constants.ts
  web/app/components/workflow/header/checklist.tsx
  web/app/components/workflow/hooks/use-checklist.ts
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/answer/default.ts
  web/app/components/workflow/nodes/assigner/default.ts
  web/app/components/workflow/nodes/code/default.ts
  web/app/components/workflow/nodes/document-extractor/default.ts
  web/app/components/workflow/nodes/http/default.ts
  web/app/components/workflow/nodes/if-else/default.ts
  web/app/components/workflow/nodes/iteration/default.ts
  web/app/components/workflow/nodes/knowledge-retrieval/default.ts
  web/app/components/workflow/nodes/list-operator/default.ts
  web/app/components/workflow/nodes/llm/default.ts
  web/app/components/workflow/nodes/parameter-extractor/default.ts
  web/app/components/workflow/nodes/question-classifier/default.ts
  web/app/components/workflow/nodes/template-transform/default.ts
  web/app/components/workflow/nodes/tool/default.ts
  web/app/components/workflow/nodes/variable-assigner/default.ts
  web/app/components/workflow/types.ts
  web/app/components/workflow/utils/workflow-init.spec.ts
  web/app/components/workflow/utils/workflow.ts
  web/config/index.ts
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:XL, lgtm

#19803 Fix: style of app publisher
  web/app/components/app/app-publisher/suggested-action.tsx
Labels: size:XS, lgtm

#19812 fix: fix metadata condition name overflow
  web/app/components/workflow/nodes/knowledge-retrieval/components/metadata/condition-list/condition-item.tsx
Labels: 🐞 bug, size:XS, lgtm

#19805 fix: fix overflow when bot description too long
  web/app/components/app-sidebar/app-info.tsx
Labels: 🐞 bug, size:XS, lgtm

#19833 fix: llm parameters radio type dark style
  web/app/components/base/radio/component/group/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#19430 feat(workflow): domain model for workflow node execution
  api/controllers/console/app/workflow_run.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/message_based_app_generator.py
  api/core/app/apps/workflow/app_generator.py
  api/core/app/entities/task_entities.py
  api/core/ops/langfuse_trace/entities/langfuse_trace_entity.py
  api/core/ops/langfuse_trace/langfuse_trace.py
  api/core/ops/langsmith_trace/entities/langsmith_trace_entity.py
  api/core/ops/langsmith_trace/langsmith_trace.py
  api/core/ops/opik_trace/opik_trace.py
  api/core/ops/weave_trace/entities/weave_trace_entity.py
  api/core/ops/weave_trace/weave_trace.py
  api/core/rag/extractor/word_extractor.py
  api/core/repositories/sqlalchemy_workflow_node_execution_repository.py
  api/core/tools/tool_engine.py
  api/core/workflow/entities/node_execution_entities.py
  api/core/workflow/repository/workflow_node_execution_repository.py
  api/core/workflow/workflow_app_generate_task_pipeline.py
  api/core/workflow/workflow_cycle_manager.py
  api/models/__init__.py
  api/models/enums.py
  api/models/model.py
  api/models/workflow.py
  api/services/file_service.py
  api/services/workflow_app_service.py
  api/services/workflow_run_service.py
  api/services/workflow_service.py
  api/tasks/remove_app_and_related_data_task.py
  api/tests/unit_tests/core/workflow/test_workflow_cycle_manager.py
  api/tests/unit_tests/repositories/workflow_node_execution/test_sqlalchemy_repository.py
Labels: size:XXL, lgtm

#19853 fix: upload avatar failed
  web/middleware.ts
Labels: 🐞 bug, size:XS, lgtm

#19846 fix: correct type mismatch in WorkflowService node execution handling
  api/core/plugin/backwards_invocation/node.py
  api/core/repositories/sqlalchemy_workflow_node_execution_repository.py
  api/services/workflow_run_service.py
  api/services/workflow_service.py
  api/tests/unit_tests/repositories/workflow_node_execution/test_sqlalchemy_repository.py
Labels: 🐞 bug, size:L, lgtm

#19807 revert https://github.com/langgenius/dify/pull/19497 (19497)
  web/.env.example
  web/README.md
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/(commonLayout)/datasets/NewDatasetCard.tsx
  web/app/components/app/app-publisher/index.tsx
  web/app/components/app/configuration/dataset-config/select-dataset/index.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/log/index.tsx
  web/app/components/app/overview/appCard.tsx
  web/app/components/app/overview/embedded/index.tsx
  web/app/components/app/workflow-log/index.tsx
  web/app/components/base/logo/dify-logo.tsx
  web/app/components/base/logo/logo-embedded-chat-avatar.tsx
  web/app/components/base/logo/logo-embedded-chat-header.tsx
  web/app/components/base/logo/logo-site.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/account-setting/members-page/edit-workspace-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
  web/app/components/header/dataset-nav/index.tsx
  web/app/components/tools/add-tool-modal/tools.tsx
  web/app/components/tools/provider/detail.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/index.tsx
  web/app/components/workflow/run/iteration-log/iteration-result-panel.tsx
  web/app/components/workflow/run/loop-log/loop-result-panel.tsx
  web/app/components/workflow/run/loop-result-panel.tsx
  web/app/forgot-password/ChangePasswordForm.tsx
  web/app/forgot-password/ForgotPasswordForm.tsx
  web/app/init/InitPasswordPopup.tsx
  web/app/layout.tsx
  web/config/index.ts
  web/docker/entrypoint.sh
  web/service/base.ts
  web/service/fetch.ts
Labels: size:L, lgtm

#19849 feat(DraftWorkflowApi): Requires environment_variables in DraftWorkflowApi
  api/controllers/console/app/workflow.py
Labels: size:XS, 🌊 feat:workflow, lgtm

#19783 feat: add debug log for request and response (#19781)
  api/.env.example
  api/app_factory.py
  api/configs/deploy/__init__.py
  api/extensions/ext_request_logging.py
  api/tests/unit_tests/extensions/test_ext_request_logging.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#19869 fix: nav selector's dark theme
  web/app/components/header/nav/nav-selector/index.tsx
Labels: 🐞 bug, size:M, lgtm

#19818 fix: tool node number type constant field dark style
  web/app/components/workflow/nodes/_base/components/variable/constant-field.tsx
Labels: size:XS, lgtm, ☕️ typescript

#19834 fix(devcontainer): uv sync fail
  .devcontainer/Dockerfile
Labels: dependencies, size:XS, lgtm

#19862 docs: Add text_to_speech left out in the API response
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: 📚 documentation, size:M, lgtm

#19881 chore: improve some doc
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.ja.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
  web/i18n/en-US/dataset-settings.ts
  web/i18n/zh-Hans/dataset-settings.ts
Labels: 📚 documentation, size:M, lgtm

#19884 fix create_tracing_app_config error
  api/core/ops/ops_trace_manager.py
  api/services/ops_service.py
Labels: 🐞 bug, size:S, lgtm

#19898 fix: remove legacy files in enterprise version
  .markdownlint.json
  CHANGELOG.md
  api/core/model_runtime/model_providers/bedrock/llm/eu.anthropic.claude-3.7-sonnet-v1.yaml
  api/core/model_runtime/model_providers/bedrock/llm/llm.py
  api/core/model_runtime/model_providers/bedrock/llm/us.deepseek-r1.yaml
  api/core/model_runtime/model_providers/google/google.py
  api/core/model_runtime/model_providers/google/llm/_position.yaml
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4-1.yaml
  api/core/model_runtime/model_providers/openai/llm/llm.py
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-2.0-flash-001.yaml
  api/core/tools/provider/_position.yaml
  api/poetry.lock
Labels: size:XXL

#19737 feat(api): Introduce `WorkflowDraftVariable` Model
  api/core/repositories/sqlalchemy_workflow_node_execution_repository.py
  api/core/variables/consts.py
  api/core/variables/utils.py
  api/migrations/versions/2025_05_15_1531-2adcbe1f5dfb_add_workflowdraftvariable_model.py
  api/models/enums.py
  api/models/types.py
  api/models/workflow.py
  api/tests/unit_tests/models/test_types_enum_text.py
Labels: 💪 enhancement, size:XL, 🌊 feat:workflow, lgtm

#13623 feat: Variable click jumps to source node
  web/app/components/base/prompt-editor/hooks.ts
  web/app/components/base/prompt-editor/plugins/workflow-variable-block/component.tsx
  web/app/components/base/prompt-editor/types.ts
  web/app/components/workflow/nodes/_base/components/input-support-select-var.tsx
  web/app/components/workflow/nodes/_base/components/prompt/editor.tsx
  web/app/components/workflow/nodes/_base/components/variable-tag.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-input.tsx
  web/app/components/workflow/types.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#19935 chore: upgrade Redis from v6 to v7 in middlewares
  api/pyproject.toml
  api/uv.lock
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: dependencies, size:XS, lgtm

#19922 docs: Optimize Response data array object indentation for the /messages interface
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: 📚 documentation, size:L, lgtm

#19948 Feat(WaterCrawl error handling): add custom exceptions and error handling
  api/core/rag/extractor/watercrawl/client.py
  api/core/rag/extractor/watercrawl/exceptions.py
Labels: size:M, lgtm

#19949 fix model workflow_draft_variables duplicate app_id set.
  api/models/workflow.py
Labels: size:XS, lgtm

#19960 Revert "chore: upgrade Redis from v6 to v7 in middlewares"
  api/pyproject.toml
  api/uv.lock
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
Labels: dependencies, size:XS, lgtm

#19885 chore: update redis dependency to version 6.1.0 in api/pyproject.toml
  api/pyproject.toml
  api/uv.lock
Labels: dependencies, size:XS, lgtm

#19972 fix: fix page broken for undefined permission
  web/app/components/plugins/permission-setting-modal/modal.tsx
Labels: 🐞 bug, size:XS, lgtm

#19958 fix: multiple retrieve reranking_enabled switch
  api/core/rag/retrieval/dataset_retrieval.py
Labels: 🐞 bug, size:XS, lgtm

#19955 fix: ensure Decimal values in metadata are JSON serializable (fixes #19936)
  api/core/repositories/sqlalchemy_workflow_node_execution_repository.py
  api/tests/unit_tests/repositories/workflow_node_execution/test_sqlalchemy_repository.py
Labels: 🐞 bug, size:S, lgtm

#19988 feat: Web <video> and <audio> element support src attribute
  web/app/components/base/markdown.tsx
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#19987 fix: search query and refine the logic
  web/app/components/app/annotation/index.tsx
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#19775 fix: fix duplicate app lose custom image
  api/controllers/console/app/app.py
  api/services/app_dsl_service.py
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/app/duplicate-modal/index.tsx
  web/service/apps.ts
Labels: 🐞 bug, size:S, lgtm

#19995 Revert "fix: fix duplicate app lose custom image"
  api/controllers/console/app/app.py
  api/services/app_dsl_service.py
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/app/duplicate-modal/index.tsx
  web/service/apps.ts
Labels: size:S, lgtm

#19993 fix: update IN SERVICE status text in app detail panel
  web/app/components/app/overview/appCard.tsx
Labels: 🐞 bug, size:XS, lgtm

#20013 fix: ReactFlow background in dark theme
  web/app/components/workflow/style.css
Labels: 🐞 bug, size:XS, lgtm

#20004 fix create_tracing_app_config error (#19884)
  api/core/ops/ops_trace_manager.py
Labels: 🐞 bug, size:XS, lgtm

#20019 fix: emoji picker in dark mode
  web/app/components/base/app-icon-picker/ImageInput.tsx
  web/app/components/base/app-icon-picker/index.tsx
  web/app/components/base/app-icon-picker/style.module.css
Labels: 🐞 bug, size:XS, lgtm

#20012 Feat:Plugin Storage Type Support Aliyun OSS
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: 💪 enhancement, size:M, lgtm

#19998 feat: Move to node in workflow panel and fix help link hover style
  web/app/components/workflow/nodes/_base/components/help-link.tsx
  web/app/components/workflow/nodes/_base/components/node-position.tsx
  web/app/components/workflow/nodes/_base/panel.tsx
  web/i18n/de-DE/workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: size:M, 🌊 feat:workflow, lgtm

#19678 feat: support chatflow start node custom input field hidden
  api/core/app/app_config/entities.py
  web/app/components/app/configuration/config-var/config-modal/index.tsx
  web/app/components/base/chat/chat-with-history/chat-wrapper.tsx
  web/app/components/base/chat/chat-with-history/context.tsx
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/chat-with-history/index.tsx
  web/app/components/base/chat/chat-with-history/inputs-form/content.tsx
  web/app/components/base/chat/chat-with-history/inputs-form/index.tsx
  web/app/components/base/chat/chat/type.ts
  web/app/components/base/chat/embedded-chatbot/chat-wrapper.tsx
  web/app/components/base/chat/embedded-chatbot/context.tsx
  web/app/components/base/chat/embedded-chatbot/hooks.tsx
  web/app/components/base/chat/embedded-chatbot/index.tsx
  web/app/components/base/chat/embedded-chatbot/inputs-form/content.tsx
  web/app/components/base/chat/embedded-chatbot/inputs-form/index.tsx
  web/app/components/workflow/panel/debug-and-preview/index.tsx
  web/app/components/workflow/panel/debug-and-preview/user-input.tsx
  web/app/components/workflow/types.ts
  web/i18n/en-US/app-debug.ts
Labels: 📚 documentation, 💪 enhancement, size:M, lgtm
