Repository langgenius/dify, pull requests merged in 2025-02, with the labels that each got.

#13075 fix: deduct LLM quota after processing invoke result
  api/core/workflow/nodes/llm/node.py
Labels: 🐞 bug, size:S, lgtm

#13142 test(huggingface_hub): Skip the failed test temporarily.
  api/tests/integration_tests/model_runtime/huggingface_hub/test_llm.py
Labels: size:XS, lgtm

#13123 chore: fix wrong VectorType match case
  api/controllers/console/datasets/datasets.py
Labels: 🐞 bug, size:XS, lgtm

#13116 feature. add feat to modify metadata via dataset api
  api/controllers/service_api/dataset/document.py
  api/services/dataset_service.py
  api/services/entities/knowledge_entities/knowledge_entities.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#13117 pass model and cost so that langfuse can show cost
  api/models/model.py
Labels: 💪 enhancement, size:XS, lgtm

#13153 feat: the think tag display of siliconflow's deepseek r1
  api/core/model_runtime/model_providers/siliconflow/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#13158 chore: upgrade libldap2
  api/Dockerfile
Labels: dependencies, size:XS, lgtm

#13156 nitpick: fix small typos in template.en.mdx
  web/app/components/develop/template/template.en.mdx
Labels: 📚 documentation, size:XS, lgtm

#13135 add azure openai api version 2024-12-01-preview
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#13146 fix: not install libmagic raise error
  api/Dockerfile
  api/controllers/common/helpers.py
Labels: 🐞 bug, size:S, lgtm

#13155 fix: set indexing technique from dataset during update-by-text
  api/controllers/service_api/dataset/document.py
Labels: 🐞 bug, size:XS, lgtm

#13165 Solve circular dependency issue between `workflow/constants.ts` file and `default.ts` file
  web/app/components/workflow/blocks.tsx
  web/app/components/workflow/constants.ts
  web/app/components/workflow/nodes/answer/default.ts
  web/app/components/workflow/nodes/assigner/default.ts
  web/app/components/workflow/nodes/code/default.ts
  web/app/components/workflow/nodes/document-extractor/default.ts
  web/app/components/workflow/nodes/end/default.ts
  web/app/components/workflow/nodes/http/default.ts
  web/app/components/workflow/nodes/if-else/default.ts
  web/app/components/workflow/nodes/iteration-start/default.ts
  web/app/components/workflow/nodes/iteration/default.ts
  web/app/components/workflow/nodes/knowledge-retrieval/default.ts
  web/app/components/workflow/nodes/list-operator/default.ts
  web/app/components/workflow/nodes/llm/default.ts
  web/app/components/workflow/nodes/parameter-extractor/default.ts
  web/app/components/workflow/nodes/question-classifier/default.ts
  web/app/components/workflow/nodes/start/default.ts
  web/app/components/workflow/nodes/template-transform/default.ts
  web/app/components/workflow/nodes/tool/default.ts
  web/app/components/workflow/nodes/variable-assigner/default.ts
Labels: size:M, lgtm, ☕️ typescript

#13145 chore(pyproject): Add type stubs into `pyproject.toml`
  api/poetry.lock
  api/pyproject.toml
Labels: size:S, lgtm

#13176 Install apt dependencies using bookworm source, consistent with base image. Remove unnecessary, error-prone pins
  api/Dockerfile
Labels: dependencies, size:XS, lgtm

#13178 fix: Dollar Sign Handling in Markdown
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:XS, lgtm

#10732 chore: add tests for build docker image when dockerfile changed
  .github/workflows/docker-build.yml
  api/Dockerfile
  web/Dockerfile
Labels: size:M, lgtm

#13182 Modify params for bedrock retrieve generate
  api/core/tools/provider/builtin/aws/tools/bedrock_config.py
  api/core/tools/provider/builtin/aws/tools/bedrock_retrieve.py
  api/core/tools/provider/builtin/aws/tools/bedrock_retrieve.yaml
  api/core/tools/provider/builtin/aws/tools/bedrock_retrieve_and_generate.py
  api/core/tools/provider/builtin/aws/tools/bedrock_retrieve_and_generate.yaml
  api/poetry.lock
  api/pyproject.toml
  sdks/python-client/tests/test_client.py
Labels: size:XL, 🔨 feat:tools

#12838 feat: bedrock_endpoint_url
  api/core/model_runtime/model_providers/bedrock/bedrock.yaml
  api/core/model_runtime/model_providers/bedrock/get_bedrock_client.py
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#13108 fix: SSRF proxy file descriptor leak in concurrent requests
  api/core/helper/ssrf_proxy.py
Labels: 🐞 bug, size:S, lgtm

#11559 Use DefaultAzureCredential for managed identity in azure blob extention
  api/extensions/storage/azure_blob_storage.py
Labels: 📚 documentation, size:XS, lgtm

#13208 Feat: feature and log dark mode
  web/app/components/app/configuration/config/agent/agent-tools/setting-built-in-tool.tsx
  web/app/components/app/configuration/debug/index.tsx
  web/app/components/base/agent-log-modal/detail.tsx
  web/app/components/base/agent-log-modal/index.tsx
  web/app/components/base/agent-log-modal/iteration.tsx
  web/app/components/base/agent-log-modal/result.tsx
  web/app/components/base/agent-log-modal/tool-call.tsx
  web/app/components/base/agent-log-modal/tracing.tsx
  web/app/components/base/copy-feedback/index.tsx
  web/app/components/base/features/new-feature-panel/conversation-opener/modal.tsx
  web/app/components/base/features/new-feature-panel/moderation/form-generation.tsx
  web/app/components/base/features/new-feature-panel/moderation/moderation-content.tsx
  web/app/components/base/features/new-feature-panel/moderation/moderation-setting-modal.tsx
  web/app/components/base/features/new-feature-panel/text-to-speech/param-config-content.tsx
  web/app/components/base/prompt-log-modal/card.tsx
  web/app/components/base/prompt-log-modal/index.tsx
  web/app/components/header/account-setting/api-based-extension-page/modal.tsx
  web/app/components/header/account-setting/api-based-extension-page/selector.tsx
  web/app/components/plugins/plugin-detail-panel/multiple-tool-selector/index.tsx
  web/app/components/plugins/plugin-detail-panel/tool-selector/index.tsx
  web/app/components/workflow/block-selector/tool-picker.tsx
  web/app/components/workflow/run/assets/highlight-dark.svg
  web/app/components/workflow/run/status-container.tsx
  web/app/components/workflow/run/status.tsx
  web/context/app-context.tsx
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#13199 fix: fix fallback route logic
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/annotations/page.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-config-modal.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-panel.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/layout.tsx
  web/app/(commonLayout)/apps/AppCard.tsx
  web/app/components/datasets/create/index.tsx
  web/app/components/datasets/create/steps-nav-bar/index.module.css
  web/app/components/datasets/create/steps-nav-bar/index.tsx
  web/app/components/datasets/create/top-bar/index.tsx
  web/i18n/en-US/dataset-creation.ts
  web/i18n/zh-Hans/dataset-creation.ts
Labels: 🐞 bug, size:L, lgtm, ☕️ typescript

#13215 fix: mypy checks violation in AzureBlobStorage
  api/extensions/storage/azure_blob_storage.py
Labels: 🐞 bug, size:XS, lgtm

#13197 chore(model_runtime): Move deepseek ahead in the providers list.
  api/core/model_runtime/model_providers/_position.yaml
Labels: size:XS, lgtm

#13218 fix: select input not show save value
  web/app/components/workflow/nodes/_base/components/variable/constant-field.tsx
Labels: 🐞 bug, size:XS

#13191 Fix new variables in the conversation opener would override prompt_variables
  web/app/components/app/configuration/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#13219 Fix: merge error of tracing and web app setting modal
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
  web/app/components/app/overview/settings/index.tsx
Labels: size:L, ☕️ typescript

#13206 chore: squash system dependencies installation steps
  api/Dockerfile
Labels: dependencies, size:S, lgtm

#13220 fix: mismatches dependencies in dockerfile
  api/Dockerfile
  api/core/rag/embedding/cached_embedding.py
  api/models/dataset.py
Labels: dependencies, size:XS

#13129 feat: Add o3-mini and o3-mini-2025-01-31 model variants
  api/core/model_runtime/model_providers/azure_openai/azure_openai.yaml
  api/core/model_runtime/model_providers/openai/llm/_position.yaml
  api/core/model_runtime/model_providers/openai/llm/o3-mini-2025-01-31.yaml
  api/core/model_runtime/model_providers/openai/llm/o3-mini.yaml
  api/core/model_runtime/model_providers/openrouter/llm/_position.yaml
  api/core/model_runtime/model_providers/openrouter/llm/o3-mini-2025-01-31.yaml
  api/core/model_runtime/model_providers/openrouter/llm/o3-mini.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#13236 improve: remove docker-legacy
  docker-legacy/docker-compose.chroma.yaml
  docker-legacy/docker-compose.middleware.yaml
  docker-legacy/docker-compose.milvus.yaml
  docker-legacy/docker-compose.opensearch.yml
  docker-legacy/docker-compose.oracle.yaml
  docker-legacy/docker-compose.pgvecto-rs.yaml
  docker-legacy/docker-compose.pgvector.yaml
  docker-legacy/docker-compose.png
  docker-legacy/docker-compose.qdrant.yaml
  docker-legacy/docker-compose.yaml
  docker-legacy/nginx/conf.d/default.conf
  docker-legacy/nginx/nginx.conf
  docker-legacy/nginx/proxy.conf
  docker-legacy/nginx/ssl/.gitkeep
  docker-legacy/startupscripts/create_user.sql
  docker-legacy/volumes/opensearch/opensearch_dashboards.yml
  docker-legacy/volumes/sandbox/dependencies/python-requirements.txt
  docker-legacy/volumes/ssrf_proxy/squid.conf
Labels: size:XXL

#13238 feat: added deepseek r1 and v3 to siliconflow
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-r1.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-v3.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13245 fix: updated _position.yaml to include the latest model already integ…
  api/core/model_runtime/model_providers/siliconflow/llm/_position.yaml
Labels: 🐞 bug, size:XS, lgtm

#13234 feat: add think display for volcengine and generic openapi
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13243 feat: add parameter "reasoning_effort" and Openai o3-mini
  api/core/model_runtime/model_providers/openai/llm/llm.py
  api/core/model_runtime/model_providers/openai/llm/o1-2024-12-17.yaml
  api/core/model_runtime/model_providers/openai/llm/o1.yaml
  api/core/model_runtime/model_providers/openai/llm/o3-mini-2025-01-31.yaml
  api/core/model_runtime/model_providers/openai/llm/o3-mini.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: 📚 documentation, dependencies, size:M, ⚙️ feat:model-runtime, lgtm

#13247 feat: added models :gemini 2.0 flash 001 and gemini 2.0 pro exp 02-05
  api/core/model_runtime/model_providers/google/llm/_position.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-2.0-flash-001.yml
  api/core/model_runtime/model_providers/google/llm/gemini-2.0-pro-exp-02-05.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13230 feat(model): add gemini-2.0-flash-thinking-exp-01-21
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-2.0-flash-thinking-exp-01-21.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13260 fix: correct linewrap think display in generic openai api
  api/core/model_runtime/model_providers/deepseek/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/siliconflow/llm/llm.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
Labels: 🐞 bug, size:L, lgtm

#13239 Unify plugin endpoint configuration for api and worker: An alternative solution to PR #13214
  api/.env.example
  api/configs/feature/__init__.py
  api/controllers/inner_api/wraps.py
  api/core/plugin/manager/base.py
  api/pytest.ini
  api/tests/integration_tests/.env.example
  dev/pytest/pytest_config_tests.py
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: 📚 documentation, size:S, lgtm

#13266 feat(model): add gemini-2.0 model
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-2.0-flash-001.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-2.0-flash-lite-preview-02-05.yaml
  api/core/model_runtime/model_providers/vertex_ai/llm/gemini-2.0-pro-exp-02-05.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#13267 feat(model_providers): Support deepseek for Azure AI Foundry
  api/core/model_runtime/model_providers/azure_ai_studio/llm/llm.py
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:S, ⚙️ feat:model-runtime, lgtm

#12683 Fix bug large data no render
  web/app/components/workflow/run/output-panel.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#13269 feat(model_providers): Support deepseek-r1 for Nvidia Catalog
  api/core/model_runtime/model_providers/nvidia/llm/_position.yaml
  api/core/model_runtime/model_providers/nvidia/llm/deepseek-r1.yaml
  api/core/model_runtime/model_providers/nvidia/llm/llm.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13223 fix: add dataset edit permissions
  web/app/components/app/configuration/dataset-config/card-item/item.tsx
  web/app/components/app/configuration/dataset-config/index.tsx
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/datasets/settings/permission-selector/index.tsx
  web/app/components/datasets/settings/permissions-radio/index.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/components/dataset-item.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/components/dataset-list.tsx
  web/models/datasets.ts
  web/utils/permission.ts
Labels: size:L, lgtm, ☕️ typescript

#13272 feat:add deepseek r1 think display for ollama provider
  api/core/model_runtime/model_providers/ollama/llm/llm.py
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#13283 feat: add deepseek models for volcengine provider
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.yaml
Labels: size:M, ⚙️ feat:model-runtime

#13286 fix: incorrect transferMethod assignment for remote file
  web/app/components/base/file-uploader/hooks.ts
Labels: 🐞 bug, size:XS, lgtm

#13294 Update README_TR.md
  README_TR.md
Labels: 📚 documentation, size:XS, lgtm

#13274 feat(credits): Allow to configure model-credit mapping
  api/configs/feature/hosted_service/__init__.py
  api/core/workflow/nodes/llm/node.py
  api/events/event_handlers/deduct_quota_when_message_created.py
Labels: 📚 documentation, 💪 enhancement, size:M, lgtm

#13314 fix(credits): require model name equals
  api/configs/feature/hosted_service/__init__.py
Labels: size:XS, lgtm

#13299 chore: refactor the OpenAICompatible and improve thinking display
  api/core/model_runtime/model_providers/__base/large_language_model.py
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#12498 Fix the problem of Workflow terminates after parallel tasks execution, merge node not triggered
  api/core/workflow/graph_engine/entities/graph.py
Labels: 🐞 bug, size:XS, 🌊 feat:workflow, lgtm

#13280 chore: bump katex version and tweak UI copy
  web/app/components/header/account-setting/model-provider-page/index.tsx
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
  web/package.json
  web/pnpm-lock.yaml
Labels: lgtm

#13320 fix: app check dependency
  web/app/components/plugins/install-plugin/install-bundle/steps/install-multi.tsx
Labels: 🐞 bug, size:XS

#13319 chore(*): Update style of thinking
  api/core/model_runtime/model_providers/__base/large_language_model.py
  web/app/styles/markdown.scss
Labels: size:XS, lgtm

#13318 chore:improve thinking display for llm from xinference and ollama pro…
  api/core/model_runtime/model_providers/ollama/llm/llm.py
  api/core/model_runtime/model_providers/xinference/llm/llm.py
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#13323 fix: Azure AI Foundry model cannot be used in the workflow
  api/core/model_runtime/entities/llm_entities.py
  api/core/workflow/nodes/llm/entities.py
Labels: size:XS, lgtm

#13325 feat: add completion mode and context size options for LLM configuration
  api/core/model_runtime/entities/__init__.py
  api/core/model_runtime/model_providers/azure_ai_studio/azure_ai_studio.yaml
  api/core/model_runtime/model_providers/azure_ai_studio/llm/llm.py
  api/core/workflow/nodes/llm/entities.py
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13308 chore(*): Bump version to 0.15.3
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 🐞 bug, 💪 enhancement, size:S, lgtm

#13330 fix: plugins task permission
  web/service/use-plugins.ts
Labels: size:XS, ☕️ typescript

#13334 fix: models sort in model page
  web/app/components/header/account-setting/model-provider-page/hooks.ts
Labels: 🐞 bug, size:XS, lgtm

#13337 Chore: update app detail panel
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/cardView.tsx
  web/app/(commonLayout)/datasets/ApiServer.tsx
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/app-sidebar/basic.tsx
  web/app/components/app-sidebar/index.tsx
  web/app/components/app/overview/appCard.tsx
  web/app/components/base/content-dialog/index.tsx
  web/app/components/base/copy-feedback/index.tsx
  web/app/components/base/qrcode/index.tsx
  web/app/components/develop/secret-key/secret-key-button.tsx
  web/i18n/en-US/app-overview.ts
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/app-overview.ts
  web/i18n/zh-Hans/common.ts
  web/tailwind.config.js
  web/themes/manual-dark.css
  web/themes/manual-light.css
Labels: size:XL, lgtm, ☕️ typescript

#13335 add enable_search parameter to qwen_max, plus, turbo
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-0107.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-0403.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-0428.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-0919.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-1201.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-latest.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-max-longcontext.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus-0206.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus-0624.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus-0723.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus-0806.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus-0919.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus-chat.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-plus-latest.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-turbo-0206.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-turbo-0624.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-turbo-0919.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-turbo-chat.yaml
  api/core/model_runtime/model_providers/tongyi/llm/qwen-turbo-latest.yaml
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#13354 fix: add compatibility config for third-party S3-compatible providers
  api/extensions/storage/aws_s3_storage.py
Labels: 🐞 bug, size:XS, lgtm

#13369 feat: added new silicon flow models
  api/core/model_runtime/model_providers/siliconflow/llm/_position.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-r1-distill-llama-70B.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-r1-distill-llama-8B.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-r1-distill-qwen-1.5B.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-r1-distill-qwen-14B.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-r1-distill-qwen-32B.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/deepseek-r1-distill-qwen-7B.yaml
  api/core/model_runtime/model_providers/siliconflow/llm/janus-pro-7B.yaml
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#13372 fix: Gemini 2.0 Flash 001 model yaml file naming
  api/core/model_runtime/model_providers/google/llm/gemini-2.0-flash-001.yaml
Labels: 🐞 bug, size:XS, lgtm

#13384 fix: install installed plugin problem
  web/app/components/plugins/install-plugin/hooks/use-check-installed.tsx
  web/app/components/plugins/install-plugin/install-from-local-package/steps/install.tsx
  web/app/components/plugins/types.ts
  web/service/use-plugins.ts
Labels: 🐞 bug, size:M

#13382 feat: add pan and zoom support for MiniMap
  web/app/components/workflow/operator/index.tsx
Labels: 💪 enhancement, size:XS, lgtm, ☕️ typescript

#13383 fix: build failed due to `getPrevChatList` no longer exists
  web/app/components/base/chat/embedded-chatbot/hooks.tsx
Labels: 🐞 bug, size:M, lgtm

#13376 fix: Fix HTTP request node non 443 port SSL site inaccessible
  docker/ssrf_proxy/squid.conf.template
Labels: 🐞 bug, size:XS, lgtm

#13175 fix(workflow_tool): enable File parameter support after workflow is published as a tool
  api/core/tools/tool/workflow_tool.py
Labels: 🐞 bug, size:S, lgtm

#13389 fix: template app check dependency
  web/app/components/app/create-app-dialog/app-list/index.tsx
  web/app/components/explore/app-list/index.tsx
Labels: size:XS, ☕️ typescript

#13391 fix: merge conflict between #11301 and #11885
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
Labels: 🐞 bug, size:S, lgtm

#13392 reasoning model unified think tag is <think></think>
  api/core/model_runtime/model_providers/__base/large_language_model.py
  api/core/model_runtime/model_providers/ollama/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/xinference/llm/llm.py
  web/app/components/base/markdown.tsx
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13413 Nitpick/fix typos in document
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.ja.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
Labels: 📚 documentation, size:M, lgtm

#13411 fix(chatbot): update button class to include text color for better visibility
  web/app/components/base/chat/embedded-chatbot/config-panel/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#13416 Fixes #13415 reset model-provider-page form value use schema.default
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
Labels: size:XS, lgtm, ☕️ typescript

#13406 fix(settings): add notClearable prop to language selection
  web/app/components/app/overview/settings/index.tsx
Labels: 🐞 bug, size:XS, lgtm

#13374 feat: update backend documentation
  api/README.md
Labels: 📚 documentation, size:XS, lgtm

#13399 feat(model): support Gemini 2.0 Flash Lite Preview model (02-05) in Google's model provider
  api/core/model_runtime/model_providers/google/llm/_position.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-2.0-flash-lite-preview-02-05.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#13421 Fix(i18n): Refine zh-Hant workflow translations
  web/i18n/zh-Hant/workflow.ts
Labels: 📚 documentation, size:XS, lgtm

#13396 Fix: model selector UI hover issue
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/trigger.tsx
Labels: 🐞 bug, size:XS, lgtm

#13367 feat: added a _position.yaml for vertex ai provider
  api/core/model_runtime/model_providers/vertex_ai/llm/_position.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#13448 fix: add missed background color to iteration node
  web/app/components/workflow/nodes/iteration/node.tsx
Labels: size:XS, lgtm

#13435 Feat: add comparison table to main readme
  README.md
  README_KL.md
  README_SI.md
Labels: 📚 documentation, size:L

#13395 feat: Docker adds SSRF-related timeout settings
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#13432 chore: use the wrap thinking api for volcengine
  api/core/model_runtime/model_providers/__base/large_language_model.py
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
Labels: 🐞 bug, size:M, ⚙️ feat:model-runtime, lgtm

#13445 Feat : add deepseek support for tongyi
  api/core/model_runtime/model_providers/tongyi/llm/_position.yaml
  api/core/model_runtime/model_providers/tongyi/llm/deepseek-r1-distill-qwen-14B.yaml
  api/core/model_runtime/model_providers/tongyi/llm/deepseek-r1-distill-qwen-32B.yaml
  api/core/model_runtime/model_providers/tongyi/llm/deepseek-r1.yaml
  api/core/model_runtime/model_providers/tongyi/llm/deepseek-v3.yaml
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#13446 Fix: Removed model params except max_token for deepseek r1 in volcengine
  api/core/model_runtime/model_providers/volcengine_maas/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#13418 feat: add tooltip if user's anthropic trial quota still available
  web/app/components/base/toast/index.tsx
  web/context/provider-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/zh-Hans/common.ts
Labels: size:M, lgtm, ☕️ typescript

#13455 fix: workflow chat preview
  web/app/components/workflow/panel/debug-and-preview/hooks.ts
Labels: size:L

#13462 [Fix] Sagemaker LLM Provider can't adjust context size, it'a always 2…
  api/core/model_runtime/model_providers/sagemaker/llm/llm.py
  api/core/model_runtime/model_providers/sagemaker/sagemaker.yaml
Labels: 🐞 bug, size:S, lgtm

#13397 ci: make ci safe using zizmor
  .github/workflows/api-tests.yml
  .github/workflows/build-push.yml
  .github/workflows/db-migration-test.yml
  .github/workflows/style.yml
  .github/workflows/tool-test-sdks.yaml
  .github/workflows/translate-i18n-base-on-english.yml
  .github/workflows/vdb-tests.yml
  .github/workflows/web-tests.yml
Labels: size:M, 🌊 feat:workflow, lgtm

#13459 fix: add ids in FetchDatasetsParams
  web/models/datasets.ts
Labels: size:XS, lgtm, ☕️ typescript

#13464 Fix/add trial expire tip time
  web/context/provider-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/zh-Hans/common.ts
Labels: size:S, lgtm, ☕️ typescript

#13431 feat: improve think content display
  web/app/components/base/markdown-blocks/think-block.tsx
  web/app/components/base/markdown.tsx
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#13460 fix app detail panel merge issues
  web/app/components/app-sidebar/basic.tsx
  web/app/components/app/overview/appCard.tsx
Labels: 🐞 bug, size:S, lgtm

#13476 fix: iteration open parallel not show iteration detail
  web/app/components/workflow/run/utils/format-log/iteration/index.ts
Labels: 🐞 bug, size:XS, lgtm

#13471 fix: update UTC time format for consistency
  api/controllers/inner_api/workspace/workspace.py
Labels: 🐞 bug, size:XS, lgtm

#13102 feat: add support for X-Forwarded-Port in ProxyFix middleware
  api/configs/feature/__init__.py
  api/extensions/ext_proxy_fix.py
  docker/nginx/proxy.conf.template
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#13504 fix: removed LLM output from the main README
  README.md
Labels: 📚 documentation, size:XS

#13477 Fix the issue of repeated escaping of quotes in hit test
  api/core/rag/datasource/retrieval_service.py
  api/services/hit_testing_service.py
Labels: 🐞 bug, size:XS, lgtm

#13472 fix: retry log running error
  api/core/workflow/graph_engine/graph_engine.py
Labels: 🐞 bug, size:XS, lgtm

#13537 chore: add debug doc link
  web/app/components/plugins/plugin-page/debug-info.tsx
Labels: 📚 documentation, size:XS

#7955 Ensure the 'inputs' field in /chat-messages takes effect every time
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/chat/app_generator.py
Labels: 🐞 bug, size:S, lgtm

#13479 chore:Remove useless brackets and format code
  api/core/provider_manager.py
Labels: size:XS, lgtm

#13544 fix: changed topics/keywords to topic/keywords
  web/hooks/use-metadata.ts
  web/i18n/de-DE/dataset-documents.ts
  web/i18n/en-US/dataset-documents.ts
  web/i18n/es-ES/dataset-documents.ts
  web/i18n/fa-IR/dataset-documents.ts
  web/i18n/fr-FR/dataset-documents.ts
  web/i18n/hi-IN/dataset-documents.ts
  web/i18n/it-IT/dataset-documents.ts
  web/i18n/ja-JP/dataset-documents.ts
  web/i18n/ko-KR/dataset-documents.ts
  web/i18n/pl-PL/dataset-documents.ts
  web/i18n/pt-BR/dataset-documents.ts
  web/i18n/ro-RO/dataset-documents.ts
  web/i18n/ru-RU/dataset-documents.ts
  web/i18n/sl-SI/dataset-documents.ts
  web/i18n/th-TH/dataset-documents.ts
  web/i18n/tr-TR/dataset-documents.ts
  web/i18n/uk-UA/dataset-documents.ts
  web/i18n/vi-VN/dataset-documents.ts
  web/i18n/zh-Hans/dataset-documents.ts
  web/i18n/zh-Hant/dataset-documents.ts
Labels: 🐞 bug, size:M, lgtm

#13465 Feat: tool setting support variable
  web/app/components/base/switch/index.tsx
  web/app/components/base/tab-slider-plain/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Form.tsx
  web/app/components/plugins/plugin-detail-panel/multiple-tool-selector/index.tsx
  web/app/components/plugins/plugin-detail-panel/tool-selector/index.tsx
  web/app/components/plugins/plugin-detail-panel/tool-selector/reasoning-config-form.tsx
  web/app/components/tools/utils/to-form-schema.ts
  web/app/components/workflow/block-selector/types.ts
  web/app/components/workflow/hooks/use-checklist.ts
  web/app/components/workflow/nodes/_base/components/agent-strategy.tsx
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
  web/app/components/workflow/nodes/agent/default.ts
  web/app/components/workflow/nodes/agent/panel.tsx
  web/app/components/workflow/nodes/constants.ts
  web/app/components/workflow/nodes/if-else/components/condition-files-list-value.tsx
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-item.tsx
  web/app/components/workflow/nodes/if-else/components/condition-value.tsx
  web/app/components/workflow/nodes/if-else/components/condition-wrap.tsx
  web/app/components/workflow/nodes/if-else/default.ts
  web/app/components/workflow/nodes/list-operator/components/filter-condition.tsx
  web/app/components/workflow/nodes/list-operator/components/sub-variable-picker.tsx
  web/i18n/en-US/plugin.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/plugin.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:XL, 🔨 feat:tools, lgtm, ☕️ typescript

#12043 feat(vdb): add HNSW vector index for TiDB vector store with TiFlash
  .github/workflows/expose_service_ports.sh
  .github/workflows/vdb-tests.yml
  .gitignore
  api/core/rag/datasource/vdb/tidb_vector/tidb_vector.py
  api/tests/integration_tests/vdb/tidb_vector/check_tiflash_ready.py
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  docker/tidb/config/pd.toml
  docker/tidb/config/tiflash-learner.toml
  docker/tidb/config/tiflash.toml
  docker/tidb/docker-compose.yaml
Labels: size:L, 👻 feat:rag, lgtm

#13572 (1.0) fix: invalid default model provider
  api/core/model_runtime/model_providers/model_provider_factory.py
  api/core/plugin/entities/plugin.py
Labels: 🐞 bug, size:S

#13585 fix: no longer using old app detail cover when switch pathname
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout.tsx
Labels: 🐞 bug, size:XS, lgtm

#13578 fix: add langgenius to list tool api
  api/core/plugin/entities/plugin.py
  api/services/plugin/plugin_migration.py
  api/services/tools/builtin_tools_manage_service.py
Labels: size:S

#13593 fix: refresh after install plugin
  web/app/components/plugins/install-plugin/hooks/use-refresh-plugin-list.tsx
  web/app/components/plugins/install-plugin/install-from-github/index.tsx
  web/app/components/plugins/install-plugin/install-from-github/steps/loaded.tsx
  web/app/components/plugins/install-plugin/install-from-local-package/ready-to-install.tsx
  web/app/components/plugins/install-plugin/install-from-local-package/steps/install.tsx
  web/app/components/plugins/install-plugin/install-from-marketplace/index.tsx
  web/app/components/plugins/install-plugin/install-from-marketplace/steps/install.tsx
  web/app/components/plugins/plugin-detail-panel/detail-header.tsx
  web/app/components/plugins/plugin-item/action.tsx
  web/app/components/plugins/plugin-item/index.tsx
  web/app/components/plugins/types.ts
  web/app/components/plugins/update-plugin/from-market-place.tsx
  web/app/components/tools/provider-list.tsx
  web/service/use-plugins.ts
Labels: 🐞 bug, size:M, lgtm

#13596 fix: convert provider_id to plugin_provider_id in get_configurations
  api/controllers/console/datasets/datasets.py
  api/core/plugin/entities/plugin.py
  api/core/provider_manager.py
Labels: 🐞 bug, size:S

#13602 feat: add Dify-Hook-Url to endpoint headers
  docker/nginx/conf.d/default.conf.template
Labels: 💪 enhancement, size:XS

#12902 fix document extractor node incorrectly processing doc and ppt files
  api/constants/__init__.py
  api/core/workflow/nodes/document_extractor/node.py
  api/tests/unit_tests/core/workflow/nodes/test_document_extractor_node.py
  web/app/components/base/prompt-editor/constants.tsx
Labels: 🐞 bug, size:M, lgtm

#13610 fix: unexpected None embedding model provdier
  api/controllers/console/datasets/datasets.py
Labels: 🐞 bug, size:XS

#13631 fix: agent thought not saved
  api/core/agent/base_agent_runner.py
Labels: 🐞 bug, size:XS

#13620 fix: fix tongyi models blocking mode with incremental_output=stream
  api/core/model_runtime/model_providers/tongyi/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#13659 chore:Remove duplicate code, lines 8 to 27, same as lines 29 & 45 to 62.
  api/fields/message_fields.py
Labels: size:S, lgtm

#13679 fix: add plugin_id to GenericProviderID format checking error
  api/core/plugin/entities/plugin.py
Labels: size:XS

#13639 chore: update the agent model trigger
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/agent-model-trigger.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/empty-trigger.tsx
  web/service/use-plugins.ts
Labels: size:M, lgtm, ☕️ typescript

#13673 fix: error in obtaining end_to_node_id during conditional parallel execution
  api/core/workflow/graph_engine/entities/graph.py
Labels: 🐞 bug, size:XS, lgtm

#13674 perf: Implemented short-circuit evaluation for logical conditions
  api/core/workflow/utils/condition/processor.py
Labels: 💪 enhancement, size:XS, lgtm

#13707 Fix: model icon position
  web/app/components/header/account-setting/model-provider-page/model-icon/index.tsx
Labels: size:XS, ☕️ typescript

#13718 Fix/import old dsl
  api/core/plugin/entities/plugin.py
  api/core/plugin/manager/plugin.py
  api/fields/app_fields.py
  api/services/app_dsl_service.py
  api/services/plugin/dependencies_analysis.py
Labels: size:M

#13663 fix:Knowledge Base with Parent-Child segment mode not support in Agent
  api/core/tools/tool/dataset_retriever/dataset_retriever_tool.py
Labels: size:M, lgtm

#13571 Non-Streaming Models Do Not Return Results Properly in _handle_invoke_result
  api/core/workflow/nodes/llm/node.py
Labels: 🐞 bug, size:S, lgtm

#13721 fix: reranking_enable setting failed #13668
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#13720 perf(message): optimize message loading and reduce SQL queries
  api/controllers/service_api/app/message.py
  api/services/message_service.py
Labels: 💪 enhancement, size:M, lgtm

#13752 fix: add install a package to improve the accuracy of guessing mime type and file extension (main)
  api/Dockerfile
Labels: dependencies, size:XS, lgtm

#13548 Feat/compliance
  api/controllers/console/__init__.py
  api/controllers/console/billing/compliance.py
  api/controllers/console/error.py
  api/services/billing_service.py
Labels: 📚 documentation, size:M, lgtm

#13282 Feat: compliance report download
  web/app/components/base/icons/assets/public/common/gdpr.svg
  web/app/components/base/icons/assets/public/common/iso.svg
  web/app/components/base/icons/assets/public/common/soc2.svg
  web/app/components/base/icons/src/public/common/Gdpr.json
  web/app/components/base/icons/src/public/common/Gdpr.tsx
  web/app/components/base/icons/src/public/common/Iso.json
  web/app/components/base/icons/src/public/common/Iso.tsx
  web/app/components/base/icons/src/public/common/Soc2.json
  web/app/components/base/icons/src/public/common/Soc2.tsx
  web/app/components/base/icons/src/public/common/index.ts
  web/app/components/base/icons/src/public/knowledge/Chunk.json
  web/app/components/base/icons/src/public/knowledge/Collapse.json
  web/app/components/base/icons/src/public/knowledge/LayoutRight2LineMod.json
  web/app/components/header/account-dropdown/compliance.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-dropdown/support.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/github-star/index.tsx
  web/app/components/header/index.tsx
  web/config/index.ts
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
  web/service/common.ts
  web/themes/dark.css
  web/themes/light.css
  web/themes/tailwind-theme-var-define.ts
Labels: 📚 documentation, 💪 enhancement, size:XXL, lgtm

#13798 Revert "Feat/compliance"
  api/controllers/console/__init__.py
  api/controllers/console/billing/compliance.py
  api/controllers/console/error.py
  api/services/billing_service.py
Labels: size:M, lgtm

#13799 Revert "Feat: compliance report download"
  web/app/components/base/icons/assets/public/common/gdpr.svg
  web/app/components/base/icons/assets/public/common/iso.svg
  web/app/components/base/icons/assets/public/common/soc2.svg
  web/app/components/base/icons/src/public/common/Gdpr.json
  web/app/components/base/icons/src/public/common/Gdpr.tsx
  web/app/components/base/icons/src/public/common/Iso.json
  web/app/components/base/icons/src/public/common/Iso.tsx
  web/app/components/base/icons/src/public/common/Soc2.json
  web/app/components/base/icons/src/public/common/Soc2.tsx
  web/app/components/base/icons/src/public/common/index.ts
  web/app/components/base/icons/src/public/knowledge/Chunk.json
  web/app/components/base/icons/src/public/knowledge/Collapse.json
  web/app/components/base/icons/src/public/knowledge/LayoutRight2LineMod.json
  web/app/components/header/account-dropdown/compliance.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-dropdown/support.tsx
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/github-star/index.tsx
  web/app/components/header/index.tsx
  web/config/index.ts
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
  web/service/common.ts
  web/themes/dark.css
  web/themes/light.css
  web/themes/tailwind-theme-var-define.ts
Labels: size:XXL, lgtm

#13796 fix: update trial expire time to 3/17
  web/i18n/en-US/common.ts
  web/i18n/ja-JP/common.ts
  web/i18n/zh-Hans/common.ts
Labels: size:XS, lgtm

#13803 fix: ignore invalid marketplace sepc
  api/services/plugin/plugin_migration.py
Labels: size:S

#13543 Retrieval Service efficiency optimization
  api/configs/middleware/__init__.py
  api/core/rag/datasource/retrieval_service.py
Labels: 💪 enhancement, size:L, lgtm

#13853 fix: markdown merge error
  web/app/components/base/markdown.tsx
Labels: 🐞 bug, size:M, lgtm

#13852 fix: undefined attribute 'query' on MessageAnnotation
  api/models/model.py
Labels: 🐞 bug, size:XS

#13849 Retrieval service optimization
  api/core/rag/datasource/retrieval_service.py
Labels: size:XS, lgtm

#13865 fix: add missing package xinference_client to pass vdb CI tests
  api/poetry.lock
  api/pyproject.toml
  api/pytest.ini
Labels: dependencies, size:XS, lgtm

#13888 fix: ignore plugin already exists
  api/commands.py
  api/services/plugin/plugin_migration.py
Labels: 🐞 bug, size:S, lgtm

#13899 fix: plugins install task
  web/app/components/plugins/plugin-page/plugin-tasks/hooks.ts
Labels: size:XS, lgtm, ☕️ typescript

#13918 fix: plugin tool icon
  web/app/components/workflow/hooks/use-workflow.ts
Labels: size:XS, lgtm, ☕️ typescript

#13924 fix: fetch configured model providers
  api/core/provider_manager.py
Labels: 🐞 bug, size:XS, lgtm

#13929 fix: web style workflow checkout error
  .github/workflows/style.yml
Labels: size:XS, lgtm

#13931 fix: web test not install pnpm before use
  .github/workflows/web-tests.yml
Labels: size:XS, lgtm

#13958 fix: get tool provider
  api/core/plugin/entities/plugin.py
  api/core/plugin/manager/tool.py
Labels: size:XS, lgtm

#13963 chore: replace marketplace search api
  web/service/use-plugins.ts
Labels: size:XS, lgtm, ☕️ typescript
