Repository langgenius/dify, pull requests merged in 2025-08, with the labels that each got.

#23008 fix: resolve multipart/form-data boundary issue in HTTP Request compo nent #22880
  api/core/workflow/nodes/http_request/executor.py
Labels: size:M

#23251 chore: Optimize component styles and interactions (#23250)
  web/app/components/plugins/marketplace/empty/index.tsx
  web/app/components/workflow/block-selector/tool/action-item.tsx
  web/app/components/workflow/nodes/agent/components/tool-icon.tsx
Labels: size:M, lgtm

#22288 minor fix: fix default for status of TidbAuthBinding in compatible with various versions
  api/migrations/versions/2025_07_24_1450-532b3f888abf_manual_dataset_field_update.py
  api/models/dataset.py
  web/app/components/app/configuration/base/warning-mask/index.tsx
  web/app/components/datasets/documents/detail/completed/child-segment-detail.tsx
  web/app/components/workflow/index.tsx
  web/app/components/workflow/nodes/_base/components/agent-strategy-selector.tsx
  web/app/components/workflow/nodes/agent/use-config.ts
  web/app/components/workflow/nodes/llm/use-config.ts
  web/app/components/workflow/types.ts
Labels: size:M, lgtm

#23267 CI: restrict autofix.ci to run only in official repo
  .github/workflows/autofix.yml
Labels: size:XS

#23287 fix video and audio extension, keep consistent with the web page.
  api/constants/__init__.py
Labels: size:XS, lgtm

#18427 Fix: Correct file variable handling for custom tools in workflow
  api/core/workflow/nodes/tool/tool_node.py
Labels: size:S, lgtm

#23271 Update metadata_service.py
  api/services/metadata_service.py
Labels: size:S

#23272 Update metadata_service.py
  api/services/metadata_service.py
Labels: size:XS

#23298 i18n: enhance check-i18n script with precise filtering and multiline support
  web/__tests__/check-i18n.test.ts
  web/i18n-config/check-i18n.js
  web/i18n/de-DE/app-annotation.ts
  web/i18n/es-ES/app-annotation.ts
  web/i18n/fa-IR/app-annotation.ts
  web/i18n/fa-IR/app.ts
  web/i18n/fr-FR/app-annotation.ts
  web/i18n/fr-FR/app.ts
  web/i18n/hi-IN/app-annotation.ts
  web/i18n/hi-IN/app-log.ts
  web/i18n/hi-IN/app.ts
  web/i18n/it-IT/app-annotation.ts
  web/i18n/it-IT/app.ts
  web/i18n/ko-KR/app-annotation.ts
  web/i18n/pl-PL/app-annotation.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pt-BR/app-annotation.ts
  web/i18n/pt-BR/app-log.ts
  web/i18n/pt-BR/app.ts
  web/i18n/ro-RO/app-annotation.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ru-RU/app-annotation.ts
  web/i18n/ru-RU/app.ts
  web/i18n/sl-SI/app-annotation.ts
  web/i18n/sl-SI/app.ts
  web/i18n/th-TH/app-annotation.ts
  web/i18n/th-TH/app.ts
  web/i18n/tr-TR/app-annotation.ts
  web/i18n/tr-TR/app.ts
  web/i18n/uk-UA/app-annotation.ts
  web/i18n/uk-UA/app.ts
  web/i18n/vi-VN/app-annotation.ts
  web/i18n/vi-VN/app-log.ts
  web/i18n/vi-VN/app.ts
  web/i18n/zh-Hant/app-annotation.ts
Labels: size:XL, lgtm

#13603 fix the error of unable to retrieve url from file
  api/core/file/file_manager.py
Labels: 🐞 bug, size:XS, lgtm

#23299 fix: fix wrong css class
  web/app/components/workflow/nodes/_base/components/variable/variable-label/base/variable-node-label.tsx
Labels: size:XS, lgtm

#23306 chore: fix function name typo
  web/app/components/app/configuration/config-var/config-modal/index.tsx
  web/app/components/workflow/nodes/_base/components/variable/output-var-list.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-list.tsx
  web/app/components/workflow/nodes/loop/components/loop-variables/item.tsx
  web/app/components/workflow/nodes/variable-assigner/components/var-group-item.tsx
  web/app/components/workflow/panel/chat-variable-panel/components/variable-modal.tsx
  web/app/components/workflow/panel/env-panel/variable-modal.tsx
  web/utils/var.ts
Labels: size:M, lgtm

#23312 Chore: replace deprecated `datetime.utcnow()` with `naive_utc_now()`
  api/services/dataset_service.py
Labels: size:XS, lgtm

#23301 fixing chat window api recall fix on changing browser tab or window
  web/app/components/base/chat/chat-with-history/hooks.tsx
Labels: 💪 enhancement, size:S, lgtm

#23320 feat: Add Download Button to UI for Knowledge Resource Source Files
  api/controllers/console/__init__.py
  api/controllers/console/datasets/upload_file.py
  web/app/components/datasets/documents/list.tsx
  web/i18n/en-US/dataset-documents.ts
  web/service/knowledge/use-document.ts
Labels: 💪 enhancement, size:L, lgtm

#23188 feat: support workflow version specification in workflow and chat APIs
  api/controllers/service_api/app/completion.py
  api/controllers/service_api/app/workflow.py
  api/services/app_generate_service.py
  api/services/errors/app.py
  api/services/workflow_service.py
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
  web/app/components/workflow/panel/version-history-panel/context-menu/use-context-menu.ts
  web/app/components/workflow/panel/version-history-panel/index.tsx
  web/app/components/workflow/panel/version-history-panel/version-history-item.tsx
  web/app/components/workflow/types.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#23321 Fix segment query tenant bug and variable naming typo
  api/services/dataset_service.py
Labels: size:S, lgtm

#23325 feat(ui): unify tag editing in app sidebar and add management entry to TagFilter
  web/__tests__/unified-tags-logic.test.ts
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/layout-main.tsx
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/base/tag-management/filter.tsx
  web/app/components/base/tag-management/selector.tsx
  web/service/apps.ts
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#23323 retention of data filled on tab switch for tool plugin
  web/app/components/workflow/nodes/_base/components/variable/var-reference-picker.tsx
Labels: 💪 enhancement, size:S, lgtm

#23328 fix(i18n): correct translation errors across multiple languages
  web/i18n/de-DE/dataset-documents.ts
  web/i18n/de-DE/workflow.ts
  web/i18n/es-ES/dataset-documents.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/dataset-documents.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/dataset-documents.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/dataset-documents.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/dataset-documents.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/dataset-documents.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/dataset-documents.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/dataset-documents.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/dataset-documents.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/dataset-documents.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/dataset-documents.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/dataset-documents.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/common.ts
  web/i18n/th-TH/dataset-documents.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/dataset-documents.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/dataset-documents.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/dataset-documents.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hans/dataset-documents.ts
  web/i18n/zh-Hant/dataset-documents.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 📚 documentation, size:M, lgtm

#23329 fix(ui): temporarily remove TagSelector from app sidebar per design review
  web/app/components/app-sidebar/app-info.tsx
Labels: size:M, lgtm

#23331 Chore: fix typo, no code change
  api/controllers/console/error.py
  api/services/billing_service.py
  api/services/workflow_draft_variable_service.py
  api/services/workflow_service.py
Labels: size:S, lgtm

#22927 fixing footer
  web/app/components/apps/footer.tsx
Labels: 💪 enhancement, size:S, lgtm

#23295 security: Fix XSS vulnerability in authentication check-code pages
  web/__tests__/xss-fix-verification.test.tsx
  web/app/(shareLayout)/webapp-reset-password/check-code/page.tsx
  web/app/(shareLayout)/webapp-signin/check-code/page.tsx
  web/app/reset-password/check-code/page.tsx
  web/app/signin/check-code/page.tsx
  web/i18n/de-DE/login.ts
  web/i18n/en-US/login.ts
  web/i18n/es-ES/login.ts
  web/i18n/fa-IR/login.ts
  web/i18n/fr-FR/login.ts
  web/i18n/hi-IN/login.ts
  web/i18n/it-IT/login.ts
  web/i18n/ja-JP/login.ts
  web/i18n/ko-KR/login.ts
  web/i18n/pl-PL/login.ts
  web/i18n/pt-BR/login.ts
  web/i18n/ro-RO/login.ts
  web/i18n/ru-RU/login.ts
  web/i18n/sl-SI/login.ts
  web/i18n/th-TH/login.ts
  web/i18n/tr-TR/login.ts
  web/i18n/uk-UA/login.ts
  web/i18n/vi-VN/login.ts
  web/i18n/zh-Hans/login.ts
  web/i18n/zh-Hant/login.ts
Labels: size:L, lgtm

#23333 Fix: avoid Flask route conflict by merging `DocumentDetailApi` and `DocumentDeleteApi`
  api/controllers/console/datasets/datasets_document.py
  api/controllers/service_api/dataset/document.py
Labels: size:L

#23348 fix: diplay all helpfields
  web/app/components/base/form/components/base/base-field.tsx
  web/app/components/plugins/plugin-auth/authorize/api-key-modal.tsx
  web/app/components/plugins/plugin-auth/authorize/oauth-client-settings.tsx
Labels: size:M, lgtm

#23395 chore: add Template
  .github/ISSUE_TEMPLATE/chore.yaml
Labels: size:S, lgtm

#23375 lint: fix issue of no-unused-vars
  web/app/(commonLayout)/datasets/create/page.tsx
  web/app/components/app/annotation/header-opts/index.tsx
  web/app/components/workflow/nodes/answer/utils.ts
  web/app/components/workflow/nodes/assigner/utils.ts
  web/app/components/workflow/nodes/end/utils.ts
  web/app/components/workflow/nodes/if-else/components/condition-list/condition-item.tsx
  web/app/components/workflow/nodes/llm/panel.tsx
  web/app/components/workflow/nodes/llm/utils.ts
  web/app/components/workflow/nodes/loop/use-config.ts
  web/app/components/workflow/nodes/start/utils.ts
  web/app/components/workflow/nodes/template-transform/utils.ts
  web/app/components/workflow/nodes/tool/utils.ts
  web/app/components/workflow/store/workflow/debug/inspect-vars-slice.ts
  web/eslint.config.mjs
Labels: size:M, lgtm

#23371 add otel instrument for redis and http request
  api/extensions/ext_otel.py
  api/pyproject.toml
  api/uv.lock
Labels: 💪 enhancement, size:XS

#23418 feat(workflow): add support for release/e-* tag in build-push workflow
  .github/workflows/build-push.yml
Labels: size:XS, 🌊 feat:workflow, lgtm

#23429 i18n/sync
  web/i18n/de-DE/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
Labels: 📚 documentation, size:L, lgtm

#23414 feat(api):Enhance the scope of expired data cleanup table in the Dify…
  api/models/workflow.py
  api/services/clear_free_plan_tenant_expired_logs.py
  api/tests/unit_tests/services/test_clear_free_plan_tenant_expired_logs.py
Labels: 💪 enhancement, size:L, lgtm

#23393 Update milvus version to LTS
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:XS, 👻 feat:rag, lgtm

#23468 fix: fix wrong unicodechar regx
  web/service/base.ts
Labels: size:XS, lgtm

#23472 fix: can not find file
  web/app/components/base/file-uploader/hooks.ts
Labels: size:S, lgtm

#23451 Feat workflow node align
  web/app/components/workflow/hooks/use-selection-interactions.ts
  web/app/components/workflow/index.tsx
  web/app/components/workflow/selection-contextmenu.tsx
  web/app/components/workflow/store/workflow/panel-slice.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 💪 enhancement, size:L, 🌊 feat:workflow, lgtm

#23462 Fix API documentation layout and dark mode contrast issues
  web/app/(commonLayout)/datasets/Datasets.tsx
  web/app/(commonLayout)/datasets/Doc.tsx
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
  web/app/components/develop/doc.tsx
  web/global.d.ts
Labels: 📚 documentation, size:L

#23494 fix: resolve i18n workflow permissions and naming issues
  .github/workflows/translate-i18n-base-on-english.yml
Labels: size:XS

#23474 fix(node): fix unexpected extra equals sign in HTTP params
  api/core/workflow/nodes/http_request/executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_executor.py
Labels: size:S, lgtm

#23515 fix: make TagSelector always visible for accessibility and mobile support
  web/app/(commonLayout)/datasets/container.tsx
  web/app/(commonLayout)/datasets/dataset-card.tsx
  web/app/(commonLayout)/datasets/dataset-footer.tsx
  web/app/(commonLayout)/datasets/datasets.tsx
  web/app/(commonLayout)/datasets/doc.tsx
  web/app/(commonLayout)/datasets/new-dataset-card.tsx
  web/app/(commonLayout)/datasets/page.tsx
  web/app/components/apps/app-card.tsx
  web/app/components/base/tag-management/selector.tsx
  web/service/access-control.ts
Labels: 💪 enhancement, size:M, lgtm

#23509 fix: update the guiding text in the upload component
  web/app/components/app/create-from-dsl-modal/uploader.tsx
  web/app/components/datasets/create/file-uploader/index.tsx
  web/i18n/de-DE/app.ts
  web/i18n/de-DE/dataset-creation.ts
  web/i18n/en-US/app.ts
  web/i18n/en-US/dataset-creation.ts
  web/i18n/es-ES/app.ts
  web/i18n/es-ES/dataset-creation.ts
  web/i18n/fa-IR/app.ts
  web/i18n/fa-IR/dataset-creation.ts
  web/i18n/fr-FR/app.ts
  web/i18n/fr-FR/dataset-creation.ts
  web/i18n/hi-IN/app.ts
  web/i18n/hi-IN/dataset-creation.ts
  web/i18n/it-IT/app.ts
  web/i18n/it-IT/dataset-creation.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ja-JP/dataset-creation.ts
  web/i18n/ko-KR/app.ts
  web/i18n/ko-KR/dataset-creation.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pl-PL/dataset-creation.ts
  web/i18n/pt-BR/app.ts
  web/i18n/pt-BR/dataset-creation.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ro-RO/dataset-creation.ts
  web/i18n/ru-RU/app.ts
  web/i18n/ru-RU/dataset-creation.ts
  web/i18n/sl-SI/app.ts
  web/i18n/sl-SI/dataset-creation.ts
  web/i18n/th-TH/app.ts
  web/i18n/th-TH/dataset-creation.ts
  web/i18n/tr-TR/app.ts
  web/i18n/tr-TR/dataset-creation.ts
  web/i18n/uk-UA/app.ts
  web/i18n/uk-UA/dataset-creation.ts
  web/i18n/vi-VN/app.ts
  web/i18n/vi-VN/dataset-creation.ts
  web/i18n/zh-Hans/app.ts
  web/i18n/zh-Hans/dataset-creation.ts
  web/i18n/zh-Hant/app.ts
  web/i18n/zh-Hant/dataset-creation.ts
Labels: 📚 documentation, size:M, lgtm

#23533 chore: add template for required fields
  .github/ISSUE_TEMPLATE/chore.yaml
Labels: 📚 documentation, size:S, lgtm

#23538 feat: Update the knowledge base search function, remove mock data and introduce API data fetching
  web/app/components/goto-anything/actions/index.ts
  web/app/components/goto-anything/actions/knowledge.tsx
  web/app/components/goto-anything/actions/types.ts
  web/app/components/goto-anything/index.tsx
Labels: 💪 enhancement, size:L

#23543 chore: Optimize component styles and interactions (#23250)
  web/app/components/base/chat/chat/index.tsx
  web/app/components/workflow/panel/debug-and-preview/index.tsx
  web/app/components/workflow/shortcuts-name.tsx
Labels: 💪 enhancement, size:S

#23542 Fixes #23536
  web/app/styles/markdown.scss
Labels: size:XS

#23553 feat(web): Add keyboard navigation for quick jumps
  web/app/components/goto-anything/index.tsx
Labels: 💪 enhancement, size:M

#23551 Feat node search
  web/app/components/goto-anything/actions/index.ts
  web/app/components/goto-anything/actions/types.ts
  web/app/components/goto-anything/actions/workflow-nodes.tsx
  web/app/components/goto-anything/context.tsx
  web/app/components/goto-anything/index.tsx
  web/app/components/workflow/hooks/index.ts
  web/app/components/workflow/hooks/use-workflow-search.tsx
  web/app/components/workflow/index.tsx
  web/app/components/workflow/operator/index.tsx
  web/app/components/workflow/operator/node-search.tsx
  web/app/components/workflow/utils/node-navigation.ts
  web/i18n/zh-Hans/workflow.ts
  web/utils/app-redirection.ts
Labels: 💪 enhancement, size:XL

#23564 Fix: Apply Metadata Filters Correctly in Full-Text Search Mode for Tencent Cloud Vector Database
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#23585 fix: resolve AppCard description overlap with tag area
  api/controllers/console/app/app.py
  api/controllers/console/datasets/datasets.py
  api/controllers/service_api/dataset/dataset.py
  api/tests/integration_tests/controllers/console/app/test_description_validation.py
  api/tests/unit_tests/controllers/console/app/test_description_validation.py
  web/__tests__/description-validation.test.tsx
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/apps/app-card.tsx
Labels: size:XL, lgtm

#23582 Fix incorrect exception handling in db query
  api/commands.py
  api/schedule/clean_embedding_cache_task.py
  api/schedule/clean_messages.py
  api/schedule/clean_unused_datasets_task.py
  api/services/workflow_draft_variable_service.py
Labels: size:M, lgtm

#23367 lint: fix tailwind lint issues
  web/app/account/account-page/AvatarWithEdit.tsx
  web/app/components/app/app-access-control/access-control-dialog.tsx
  web/app/components/app/app-access-control/add-member-or-group-pop.tsx
  web/app/components/app/create-app-dialog/app-list/sidebar.tsx
  web/app/components/base/app-icon-picker/ImageInput.tsx
  web/app/components/base/block-input/index.tsx
  web/app/components/base/button/index.tsx
  web/app/components/base/content-dialog/index.tsx
  web/app/components/base/dialog/index.tsx
  web/app/components/base/features/new-feature-panel/dialog-wrapper.tsx
  web/app/components/base/fullscreen-modal/index.tsx
  web/app/components/base/grid-mask/index.tsx
  web/app/components/base/logo/logo-site.tsx
  web/app/components/base/modal/index.tsx
  web/app/components/base/premium-badge/index.tsx
  web/app/components/base/segmented-control/index.tsx
  web/app/components/base/skeleton/index.tsx
  web/app/components/base/switch/index.tsx
  web/app/components/base/tag/index.tsx
  web/app/components/billing/pricing/index.tsx
  web/app/components/billing/pricing/self-hosted-plan-item.tsx
  web/app/components/datasets/create/step-two/option-card.tsx
  web/app/components/datasets/create/stepper/step.tsx
  web/app/components/datasets/create/top-bar/index.tsx
  web/app/components/datasets/documents/detail/completed/child-segment-list.tsx
  web/app/components/datasets/documents/detail/completed/common/chunk-content.tsx
  web/app/components/datasets/documents/detail/completed/common/full-screen-drawer.tsx
  web/app/components/datasets/documents/detail/completed/new-child-segment.tsx
  web/app/components/datasets/documents/detail/embedding/index.tsx
  web/app/components/datasets/formatted-text/flavours/edit-slice.tsx
  web/app/components/datasets/formatted-text/flavours/shared.tsx
  web/app/components/datasets/preview/container.tsx
  web/app/components/datasets/settings/index-method-radio/index.tsx
  web/app/components/develop/code.tsx
  web/app/components/header/account-setting/Integrations-page/index.tsx
  web/app/components/header/account-setting/collapse/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-badge/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-load-balancing-configs.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-load-balancing-modal.tsx
  web/app/components/header/app-back/index.tsx
  web/app/components/header/indicator/index.tsx
  web/app/components/workflow/header/undo-redo.tsx
  web/app/components/workflow/header/view-workflow-history.tsx
  web/app/components/workflow/nodes/_base/components/group.tsx
  web/app/components/workflow/nodes/assigner/components/operation-selector.tsx
  web/app/components/workflow/nodes/llm/components/json-schema-config-modal/error-message.tsx
Labels: size:L, lgtm

#20926 word extractor cleans.
  api/core/rag/extractor/word_extractor.py
Labels: size:S

#23609 fix: eliminate AppInfo sidebar animation glitches and layout jumps
  web/app/components/app-sidebar/app-info.tsx
Labels: size:M

#23632 Fix ClickZetta stability and reduce logging noise
  api/core/rag/datasource/vdb/clickzetta/README.md
  api/core/rag/datasource/vdb/clickzetta/clickzetta_vector.py
  api/tasks/clean_dataset_task.py
Labels: size:XL, 👻 feat:rag

#23641 Fix file type misclassification in logs interface
  web/app/components/base/file-uploader/utils.spec.ts
  web/app/components/base/file-uploader/utils.ts
Labels: size:L

#23648 fix: solve strange search result interaction issues
  web/app/components/goto-anything/index.tsx
Labels: size:S

#23655 Allow to export full screen image of workflow
  web/app/components/workflow/operator/export-image.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 💪 enhancement, size:L, lgtm

#23662 fix: change i18n workflow trigger mechanism to run in main repository
  .github/workflows/translate-i18n-base-on-english.yml
  web/i18n-config/auto-gen-i18n.js
  web/i18n/de-DE/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: size:M, 🌊 feat:workflow, lgtm

#23670 fix: conversation pinned filter returns incorrect results when no conversations are pinned
  api/services/conversation_service.py
  api/tests/unit_tests/services/test_conversation_service.py
Labels: size:L, lgtm

#23671 Fix bare raise in if blocks
  api/controllers/web/app.py
Labels: size:XS, lgtm

#23649 fix: sync missing conversation variables for existing conversations
  api/core/app/apps/advanced_chat/app_runner.py
  api/tests/unit_tests/core/app/apps/advanced_chat/test_app_runner_conversation_variables.py
Labels: size:XL, lgtm

#23675 Feat add testcontainers test for app dsl service
  api/tests/test_containers_integration_tests/services/test_app_dsl_service.py
Labels: 💪 enhancement, size:L, lgtm

#23678 fix: Add internationalization support for date input formatting Fixes #23266
  web/app/components/base/date-and-time-picker/date-picker/index.tsx
  web/app/components/base/date-and-time-picker/utils/dayjs.ts
  web/app/components/base/markdown-blocks/form.tsx
  web/i18n/en-US/time.ts
  web/i18n/ja-JP/time.ts
  web/i18n/zh-Hans/time.ts
Labels: size:M

#23653 lint: fix sonarjs/no-dead-store issues
  web/app/(commonLayout)/datasets/(datasetDetailLayout)/[datasetId]/layout-main.tsx
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/base/markdown-blocks/code-block.tsx
  web/app/components/base/mermaid/index.tsx
  web/app/components/datasets/external-api/external-api-modal/Form.tsx
  web/app/components/datasets/rename-modal/index.tsx
  web/app/components/explore/app-list/index.tsx
  web/app/components/explore/sidebar/index.tsx
  web/app/components/header/account-setting/members-page/invited-modal/invitation-link.tsx
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
  web/app/components/plugins/marketplace/search-box/tags-filter.tsx
  web/app/components/plugins/marketplace/utils.ts
  web/app/components/share/text-generation/index.tsx
  web/app/components/workflow/block-selector/use-sticky-scroll.ts
  web/app/components/workflow/hooks/use-workflow.ts
  web/app/components/workflow/nodes/_base/components/node-control.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.tsx
  web/app/components/workflow/nodes/list-operator/use-config.ts
  web/eslint.config.mjs
Labels: size:M

#23645 fix: correct File Preview API position in Japanese advanced chat template
  web/app/components/develop/template/template_advanced_chat.ja.mdx
Labels: 📚 documentation, size:L

#23684 fix: improve dark mode UI consistency in signin page
  web/app/components/base/select/locale-signin.tsx
  web/app/signin/_header.tsx
  web/app/signin/assets/github-dark.svg
  web/app/signin/normal-form.tsx
  web/app/signin/one-more-step.tsx
  web/app/signin/page.module.css
  web/app/signin/page.tsx
Labels: 💪 enhancement, size:M

#23688 fix: improve GotoAnything modal keyboard shortcuts and UI
  web/app/components/goto-anything/index.tsx
Labels: 💪 enhancement, size:S, lgtm

#23694 fix: update HTTP request timeout fields to use Field with default values
  api/configs/feature/__init__.py
Labels: size:S, lgtm

#23699 Fix model_setting_map key mismatch
  api/core/entities/provider_configuration.py
Labels: size:XS, lgtm

#23685 Feat node search
  web/app/(commonLayout)/layout.tsx
  web/app/components/base/input/index.tsx
  web/app/components/goto-anything/actions/app.tsx
  web/app/components/goto-anything/actions/index.ts
  web/app/components/goto-anything/actions/knowledge.tsx
  web/app/components/goto-anything/actions/plugin.tsx
  web/app/components/goto-anything/actions/types.ts
  web/app/components/goto-anything/actions/workflow-nodes.tsx
  web/app/components/goto-anything/context.tsx
  web/app/components/goto-anything/index.tsx
  web/app/components/workflow/hooks/index.ts
  web/app/components/workflow/hooks/use-workflow-search.tsx
  web/app/components/workflow/index.tsx
  web/app/components/workflow/operator/index.tsx
  web/app/components/workflow/panel/record.tsx
  web/app/components/workflow/utils/node-navigation.ts
  web/i18n/de-DE/app.ts
  web/i18n/en-US/app.ts
  web/i18n/en-US/workflow.ts
  web/i18n/es-ES/app.ts
  web/i18n/fa-IR/app.ts
  web/i18n/fr-FR/app.ts
  web/i18n/hi-IN/app.ts
  web/i18n/it-IT/app.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ko-KR/app.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pt-BR/app.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ru-RU/app.ts
  web/i18n/sl-SI/app.ts
  web/i18n/th-TH/app.ts
  web/i18n/tr-TR/app.ts
  web/i18n/uk-UA/app.ts
  web/i18n/vi-VN/app.ts
  web/i18n/zh-Hans/app.ts
  web/i18n/zh-Hans/workflow.ts
  web/i18n/zh-Hant/app.ts
  web/package.json
  web/pnpm-lock.yaml
  web/utils/app-redirection.ts
Labels: 💪 enhancement, size:XXL, lgtm

#23715 fix: unified error handling for GotoAnything search actions
  web/__tests__/goto-anything/search-error-handling.test.ts
  web/app/components/goto-anything/actions/app.tsx
  web/app/components/goto-anything/actions/index.ts
  web/app/components/goto-anything/actions/knowledge.tsx
  web/app/components/goto-anything/actions/plugin.tsx
  web/app/components/goto-anything/actions/workflow-nodes.tsx
  web/app/components/workflow/hooks/use-workflow-search.tsx
Labels: 💪 enhancement, size:L

#23713 fix: Enhance doc_form null checking, exception handling, and rollback logic
  api/tasks/clean_dataset_task.py
Labels: size:M, lgtm

#23723 fix: model selector language undefined error
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: size:XS, lgtm

#23728 fix: add @property decorator to pydantic computed_field for compatibility
  api/configs/middleware/__init__.py
Labels: size:XS, lgtm

#23731 fix: resolve circular import in AppGenerateEntity
  api/core/app/entities/app_invoke_entities.py
Labels: size:XS, lgtm

#23734 chore: remove debug log statements from DifyAPIRepositoryFactory
  api/repositories/factory.py
Labels: size:XS, lgtm

#23738 feat: enhance GotoAnything UX with @ command selector
  web/app/components/goto-anything/command-selector.tsx
  web/app/components/goto-anything/index.tsx
  web/i18n/de-DE/app.ts
  web/i18n/en-US/app.ts
  web/i18n/es-ES/app.ts
  web/i18n/fa-IR/app.ts
  web/i18n/fr-FR/app.ts
  web/i18n/hi-IN/app.ts
  web/i18n/it-IT/app.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ko-KR/app.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pt-BR/app.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ru-RU/app.ts
  web/i18n/sl-SI/app.ts
  web/i18n/th-TH/app.ts
  web/i18n/tr-TR/app.ts
  web/i18n/uk-UA/app.ts
  web/i18n/vi-VN/app.ts
  web/i18n/zh-Hans/app.ts
  web/i18n/zh-Hant/app.ts
Labels: 💪 enhancement, size:L, lgtm

#23749 test(api): fix flaky tests in TestWorkflowDraftVariableService
  api/tests/test_containers_integration_tests/services/test_workflow_draft_variable_service.py
Labels: size:XS, lgtm

#23763 feat: add filtering support for @ command selector in goto-anything
  web/__tests__/goto-anything/command-selector.test.tsx
  web/app/components/goto-anything/command-selector.tsx
  web/app/components/goto-anything/index.tsx
Labels: 💪 enhancement, size:L

#23766 fix: update integration tests to use 2-element variable selectors
  api/tests/integration_tests/workflow/nodes/test_code.py
  api/tests/integration_tests/workflow/nodes/test_http.py
  api/tests/integration_tests/workflow/nodes/test_parameter_extractor.py
  api/tests/integration_tests/workflow/nodes/test_template_transform.py
  api/tests/integration_tests/workflow/nodes/test_tool.py
Labels: size:L, lgtm

#23765 test: add comprehensive test suite for rate limiting module
  api/tests/unit_tests/core/app/features/rate_limiting/conftest.py
  api/tests/unit_tests/core/app/features/rate_limiting/test_rate_limit.py
Labels: size:XL

#23783 feat: add highPriority option to Modal for goto-anything layering
  web/app/components/base/modal/index.tsx
  web/app/components/goto-anything/index.tsx
Labels: 📚 documentation, 💪 enhancement, size:XS

#23785 fix: add MAX_TREE_DEPTH in env.service.web
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:XS

#23788 fix: prevent X button flying to screen corners in dataset settings modal
  web/app/components/datasets/rename-modal/index.tsx
Labels: size:XS, lgtm

#23605 Feat/improved mcp timeout configs
  api/controllers/console/workspace/tool_providers.py
  api/core/mcp/client/sse_client.py
  api/core/mcp/client/streamable_client.py
  api/core/mcp/mcp_client.py
  api/core/mcp/session/base_session.py
  api/core/mcp/session/client_session.py
  api/core/tools/__base/tool_provider.py
  api/core/tools/mcp_tool/provider.py
  api/core/tools/mcp_tool/tool.py
  api/core/tools/tool_manager.py
  api/migrations/versions/2025_08_07_1115-fa8b0fa6f407_add_timeout_for_tool_mcp_providers.py
  api/models/tools.py
  api/services/tools/mcp_tools_manage_service.py
  web/app/components/tools/mcp/modal.tsx
  web/app/components/tools/types.ts
  web/i18n/en-US/tools.ts
  web/i18n/zh-Hans/tools.ts
  web/service/use-tools.ts
Labels: size:L, lgtm

#23791 fix: remove misleading clear buttons and improve SimpleSelect UX
  web/app/components/base/select/index.tsx
  web/app/components/header/account-setting/language-page/index.tsx
Labels: 💪 enhancement, size:S, lgtm

#23795 Fix node search
  web/app/components/workflow/hooks/use-shortcuts.ts
  web/app/components/workflow/hooks/use-workflow-search.tsx
Labels: size:S, lgtm

#23805 chore: goto anything mouse keyboard interaction
  web/app/components/goto-anything/command-selector.tsx
  web/app/components/goto-anything/index.tsx
Labels: 💪 enhancement, size:XS, lgtm

#23822 Feature/run cmd
  web/app/components/goto-anything/actions/command-bus.ts
  web/app/components/goto-anything/actions/index.ts
  web/app/components/goto-anything/actions/run-language.tsx
  web/app/components/goto-anything/actions/run-theme.tsx
  web/app/components/goto-anything/actions/run.tsx
  web/app/components/goto-anything/actions/types.ts
  web/app/components/goto-anything/command-selector.tsx
  web/app/components/goto-anything/index.tsx
  web/i18n/en-US/app.ts
  web/i18n/zh-Hans/app.ts
Labels: 💪 enhancement, size:L, lgtm

#20050 feat: Add an asynchronous repository to improve workflow performance
  .devcontainer/post_create_command.sh
  api/README.md
  api/configs/feature/__init__.py
  api/core/repositories/__init__.py
  api/core/repositories/celery_workflow_execution_repository.py
  api/core/repositories/celery_workflow_node_execution_repository.py
  api/core/repositories/factory.py
  api/core/workflow/workflow_type_encoder.py
  api/docker/entrypoint.sh
  api/tasks/workflow_execution_tasks.py
  api/tasks/workflow_node_execution_tasks.py
  api/tests/unit_tests/core/repositories/test_celery_workflow_execution_repository.py
  api/tests/unit_tests/core/repositories/test_celery_workflow_node_execution_repository.py
  api/tests/unit_tests/core/repositories/test_factory.py
  dev/start-worker
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, size:XXL, 🌊 feat:workflow, lgtm

#23845 refactor: improve Redis wrapper type hints and fix None value handling
  api/extensions/ext_redis.py
  api/pyproject.toml
  api/schedule/queue_monitor_task.py
  api/uv.lock
Labels: 💪 enhancement, size:M

#23843 fix: goto-anything highlighting consistency improvements
  web/app/components/goto-anything/command-selector.tsx
  web/app/components/goto-anything/index.tsx
Labels: size:XS

#23855 fix: update modal component to use relative positioning
  web/app/components/base/modal/index.tsx
Labels: size:XS

#23828 fix: optimize dataset cleanup task
  api/schedule/clean_unused_datasets_task.py
Labels: size:L, lgtm

#23862 fix: goto-anything command filter should only match shortcut
  web/__tests__/goto-anything/command-selector.test.tsx
  web/app/components/goto-anything/command-selector.tsx
Labels: size:M, lgtm

#23842 Fix misleading Studio button in account header
  web/app/account/header.tsx
Labels: size:XS, lgtm

#23801 Restructure the File errors in controller
  api/controllers/common/errors.py
  api/controllers/console/app/annotation.py
  api/controllers/console/app/error.py
  api/controllers/console/datasets/error.py
  api/controllers/console/error.py
  api/controllers/console/files.py
  api/controllers/console/remote_files.py
  api/controllers/console/workspace/workspace.py
  api/controllers/files/error.py
  api/controllers/files/image_preview.py
  api/controllers/files/tool_files.py
  api/controllers/files/upload.py
  api/controllers/service_api/app/error.py
  api/controllers/service_api/app/file.py
  api/controllers/service_api/dataset/document.py
  api/controllers/service_api/dataset/error.py
  api/controllers/web/error.py
  api/controllers/web/files.py
  api/controllers/web/remote_files.py
  api/tests/unit_tests/controllers/console/test_files_security.py
Labels: size:L, lgtm

#23813 chore(cmdk): Resolve default option selection issue in GotoAnything component (#23878)
  web/app/components/goto-anything/index.tsx
Labels: 💪 enhancement, size:M

#23891 Remove redundant acceptedKeys check
  web/utils/completion-params.ts
Labels: size:XS

#23901 fix(web): resolve TypeScript errors in app overview components
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/card-view.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/chart-view.tsx
  web/app/components/app/overview/app-card.tsx
  web/app/components/app/overview/app-chart.tsx
Labels: size:S

#23903 Fix multipart/form-data boundary issue in HTTP Call node
  api/core/workflow/nodes/http_request/executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_executor.py
Labels: size:S, 🌊 feat:workflow

#23584 fix: ensure custom headers are ignored when using bearer or basic authorization
  api/core/workflow/nodes/http_request/executor.py
  api/tests/integration_tests/workflow/nodes/test_http.py
Labels: size:L

#23880 fix: mime_type could be None
  api/factories/file_factory.py
Labels: size:XS, lgtm

#23915 Fix: replace deprecated String.prototype.substr with slice
  web/app/components/base/mermaid/index.tsx
  web/app/components/base/prompt-editor/utils.ts
  web/app/routePrefixHandle.tsx
Labels: size:XS

#23937 fix: resolve user profile dropdown cache sync issue across layouts
  web/app/components/swr-initializer.tsx
  web/context/app-context.tsx
Labels: size:M

#23931 Fix: remove redundant allowed_keys check in jsonable_encoder
  api/core/model_runtime/utils/encoders.py
  api/core/provider_manager.py
  api/core/workflow/workflow_engine_manager.py
Labels: size:XS

#23611 fix(workflow/if-else): keep conditions in sync on variable rename
  web/app/components/workflow/hooks/use-workflow.ts
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
Labels: size:M, lgtm

#23948 chore: remove redundant .env.example from root directory
  .env.example
Labels: 📚 documentation, size:XXL, lgtm

#23943 refactor: unify pnpm version management with packageManager field
  .github/workflows/style.yml
  .github/workflows/translate-i18n-base-on-english.yml
  .github/workflows/web-tests.yml
  web/Dockerfile
  web/package.json
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#23918 Feat: External_trace_id compatible with OpenTelemetry
  api/controllers/console/app/completion.py
  api/controllers/console/app/workflow.py
  api/core/helper/trace_id_helper.py
  api/core/ops/aliyun_trace/aliyun_trace.py
  api/core/ops/aliyun_trace/data_exporter/traceclient.py
Labels: 💪 enhancement, size:L, lgtm

#23955 Fix hover button contrast in dark mode for app and dataset cards
  web/app/(commonLayout)/datasets/dataset-card.tsx
  web/app/components/apps/app-card.tsx
Labels: 💪 enhancement, size:XS

#23957 update: GitHub star fallback count to current value
  web/app/components/header/github-star/index.tsx
Labels: size:XS

#23972 Feat/rag 2
  api/controllers/console/datasets/rag_pipeline/rag_pipeline.py
  api/controllers/console/wraps.py
  api/core/app/apps/pipeline/pipeline_runner.py
  api/core/workflow/entities/variable_pool.py
  api/core/workflow/nodes/datasource/datasource_node.py
  api/services/feature_service.py
  web/app/components/billing/pricing/plans/index.tsx
  web/app/components/billing/pricing/plans/plan-item/button.tsx
  web/app/components/billing/pricing/plans/plan-item/index.tsx
  web/app/components/billing/pricing/plans/plan-item/list/index.tsx
  web/app/components/billing/pricing/plans/plan-item/list/item/index.tsx
  web/app/components/billing/pricing/plans/plan-item/list/item/tooltip.tsx
Labels: size:M, 👻 feat:rag

#23978 fix comparison with callable
  api/services/conversation_service.py
Labels: size:XS

#23990 Chore: remove empty files and unused code
  api/core/mcp/auth/auth_provider.py
  api/core/mcp/client/sse_client.py
  api/core/tools/entities/agent_entities.py
  api/core/tools/entities/file_entities.py
  api/tests/unit_tests/core/mcp/client/test_sse.py
Labels: size:S, lgtm

#23996 fix: move database service call inside session context in workflow draft variable API
  api/controllers/console/app/workflow_draft_variable.py
Labels: size:S, lgtm

#24024 Fix missing user_id in trace_manager
  api/core/app/apps/chat/app_generator.py
  api/core/app/apps/completion/app_generator.py
Labels: size:XS, lgtm

#24033 Replace export button with more actions button in workflow control panel
  web/app/components/workflow/operator/control.tsx
  web/app/components/workflow/operator/more-actions.tsx
  web/i18n/de-DE/workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 💪 enhancement, size:M, lgtm

#24030 feat: add scroll to selected node button in workflow header
  web/app/components/workflow/header/header-in-normal.tsx
  web/app/components/workflow/header/scroll-to-selected-node-button.tsx
  web/app/components/workflow/nodes/_base/components/node-position.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.tsx
  web/i18n/de-DE/workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#24022 Fix: add 'api_key' alias for backward compatibility
  api/core/tools/entities/tool_entities.py
Labels: size:S, lgtm

#24014 Update mypy.ini
  api/events/document_index_event.py
  api/events/event_handlers/create_document_index.py
  api/mypy.ini
Labels: size:XS, lgtm

#24041 chore(i18n): correct japanese translation
  web/i18n/ja-JP/app-annotation.ts
  web/i18n/ja-JP/common.ts
Labels: 📚 documentation, size:XS, lgtm

#24027 no used function for message_queue.
  api/core/app/apps/message_based_app_queue_manager.py
Labels: size:S, lgtm

#24085 Remove workflow features button
  web/app/components/workflow-app/components/workflow-children.tsx
  web/app/components/workflow-app/components/workflow-header/app-publisher-trigger.tsx
  web/app/components/workflow-app/components/workflow-header/index.tsx
  web/app/components/workflow/features.tsx
  web/app/components/workflow/shortcuts-name.tsx
  web/app/components/workflow/store/workflow/panel-slice.ts
  web/i18n/de-DE/workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 💪 enhancement, size:L

#24026 feat: add testcontainers based tests for feature service
  api/tests/test_containers_integration_tests/services/test_feature_service.py
Labels: 💪 enhancement, size:XXL, lgtm

#24134 feat: implement Schedule Trigger validation with multi-start node topology support
  web/app/components/workflow/hooks/use-checklist.ts
  web/app/components/workflow/nodes/trigger-schedule/__tests__/default.test.ts
  web/app/components/workflow/nodes/trigger-schedule/default.ts
  web/app/components/workflow/utils/workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:L, 🌊 feat:workflow

#24156 Refactor Start node UI to User Input and optimize EntryNodeContainer
  web/app/components/workflow/nodes/_base/components/entry-node-container.tsx
  web/app/components/workflow/nodes/_base/components/trigger-container.tsx
  web/app/components/workflow/nodes/_base/node.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 💪 enhancement, size:L

#24171 Remove the second `if self.runtime is None:` check
  api/core/tools/custom_tool/tool.py
  api/core/tools/entities/api_entities.py
Labels: size:XS, lgtm

#24181 fix: initialize recur fields when switching to hourly frequency
  web/app/components/workflow/nodes/trigger-schedule/use-config.ts
Labels: size:XS

#24193 feat: add testcontainers based tests for model provider service
  api/tests/test_containers_integration_tests/services/test_model_provider_service.py
Labels: 💪 enhancement, size:XXL, lgtm

#24191 Fix: replace `get_builtin_provider` with `get_plugin_provider`
  api/core/tools/tool_manager.py
  api/core/tools/workflow_as_tool/provider.py
Labels: size:XS, lgtm

#24195 docs: format all md files
  .devcontainer/README.md
  .github/CODE_OF_CONDUCT.md
  .github/pull_request_template.md
  .vscode/README.md
  CLAUDE.md
  CONTRIBUTING.md
  CONTRIBUTING_CN.md
  CONTRIBUTING_DE.md
  CONTRIBUTING_ES.md
  CONTRIBUTING_FR.md
  CONTRIBUTING_JA.md
  CONTRIBUTING_KR.md
  CONTRIBUTING_PT.md
  CONTRIBUTING_TR.md
  CONTRIBUTING_TW.md
  CONTRIBUTING_VI.md
  README.md
  README_AR.md
  README_BN.md
  README_CN.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_PT.md
  README_SI.md
  README_TR.md
  README_TW.md
  README_VI.md
  api/README.md
  api/core/model_runtime/README.md
  api/core/model_runtime/README_CN.md
  api/core/model_runtime/docs/en_US/customizable_model_scale_out.md
  api/core/model_runtime/docs/en_US/interfaces.md
  api/core/model_runtime/docs/en_US/predefined_model_scale_out.md
  api/core/model_runtime/docs/en_US/provider_scale_out.md
  api/core/model_runtime/docs/en_US/schema.md
  api/core/model_runtime/docs/zh_Hans/customizable_model_scale_out.md
  api/core/model_runtime/docs/zh_Hans/interfaces.md
  api/core/model_runtime/docs/zh_Hans/predefined_model_scale_out.md
  api/core/model_runtime/docs/zh_Hans/provider_scale_out.md
  api/core/model_runtime/docs/zh_Hans/schema.md
  api/core/rag/datasource/vdb/clickzetta/README.md
  docker/README.md
  docker/certbot/README.md
  sdks/nodejs-client/README.md
  sdks/php-client/README.md
  sdks/python-client/README.md
  web/README.md
  web/i18n-config/DEV.md
  web/i18n-config/README.md
Labels: 📚 documentation, size:XXL, lgtm

#24210 feat: notice of the expire of education verify
  web/app/(commonLayout)/education-apply/page.tsx
  web/app/components/base/icons/assets/public/common/sparkles-soft-accent.svg
  web/app/components/base/icons/src/public/common/SparklesSoftAccent.json
  web/app/components/base/icons/src/public/common/SparklesSoftAccent.tsx
  web/app/components/base/icons/src/public/common/index.ts
  web/app/components/billing/plan/index.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/education-apply/constants.ts
  web/app/education-apply/expire-notice-modal.tsx
  web/app/education-apply/hooks.ts
  web/context/modal-context.tsx
  web/context/provider-context.tsx
  web/i18n/de-DE/app-log.ts
  web/i18n/en-US/app-log.ts
  web/i18n/en-US/education.ts
  web/i18n/ja-JP/app-log.ts
  web/i18n/ja-JP/education.ts
  web/i18n/zh-Hans/app-log.ts
  web/i18n/zh-Hans/education.ts
  web/service/use-education.ts
Labels: 💪 enhancement, size:L, lgtm

#24260 fix: rollback when AnalyticDB create zhparser failed
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector_sql.py
Labels: size:XS, lgtm

#24274 fix: value_type check failed when updating variables
  api/core/variables/types.py
Labels: size:XS, lgtm

#24098 Fix: safe defaults for BaseModel dict fields
  api/core/app/app_config/entities.py
  api/core/app/entities/task_entities.py
  api/core/moderation/api/api.py
  api/core/moderation/base.py
  api/core/rag/models/document.py
  api/core/workflow/graph_engine/entities/graph_runtime_state.py
  api/core/workflow/nodes/llm/entities.py
Labels: size:M, lgtm

#24217 [CHORE]: x: T = None to x: Optional[T] = None
  api/controllers/console/apikey.py
  api/core/app/entities/queue_entities.py
  api/core/app/task_pipeline/based_generate_task_pipeline.py
  api/core/extension/extensible.py
  api/core/extension/extension.py
  api/core/mcp/session/base_session.py
  api/core/mcp/types.py
  api/core/model_runtime/model_providers/__base/tokenizers/gpt2_tokenizer.py
  api/core/rag/extractor/watercrawl/provider.py
  api/extensions/ext_redis.py
  api/services/tools/tools_manage_service.py
  api/services/workflow/workflow_converter.py
  api/tests/integration_tests/vdb/__mock/baiduvectordb.py
  api/tests/integration_tests/vdb/__mock/tcvectordb.py
Labels: size:M, lgtm

#24309 [Test] add unit tests for web_reader_tool.py
  api/core/tools/utils/web_reader_tool.py
  api/tests/unit_tests/core/tools/utils/test_web_reader_tool.py
Labels: size:L, lgtm

#24246 an example of sessionmaker
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: 💪 enhancement, size:XS, lgtm

#24111 Update knowledge_retrieval_node.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: 💪 enhancement, size:XS

#24345 example of next(, None)
  api/core/rag/extractor/excel_extractor.py
Labels: 📚 documentation, size:XS

#24331 Node search supports model and name search
  .devcontainer/post_create_command.sh
  web/app/components/workflow/hooks/use-workflow-search.tsx
  web/package.json
Labels: 💪 enhancement, size:L

#24416 fix(api): restful to restx migration issue
  api/fields/api_based_extension_fields.py
  api/libs/external_api.py
  api/libs/helper.py
Labels: size:S, lgtm

#24409 fix(vector): use semantic version comparison for version check
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
  api/core/rag/datasource/vdb/oceanbase/oceanbase_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#24430 hotfix: add test containers based tests for website service
  api/tests/test_containers_integration_tests/services/test_website_service.py
Labels: 💪 enhancement, size:XXL, lgtm

#24425 feat: API docs for service api
  api/controllers/common/fields.py
  api/controllers/console/tag/tags.py
  api/controllers/service_api/__init__.py
  api/controllers/service_api/app/annotation.py
  api/controllers/service_api/app/app.py
  api/controllers/service_api/app/audio.py
  api/controllers/service_api/app/completion.py
  api/controllers/service_api/app/conversation.py
  api/controllers/service_api/app/file.py
  api/controllers/service_api/app/file_preview.py
  api/controllers/service_api/app/message.py
  api/controllers/service_api/app/site.py
  api/controllers/service_api/app/workflow.py
  api/controllers/service_api/dataset/dataset.py
  api/controllers/service_api/dataset/document.py
  api/controllers/service_api/dataset/hit_testing.py
  api/controllers/service_api/dataset/metadata.py
  api/controllers/service_api/dataset/segment.py
  api/controllers/service_api/dataset/upload_file.py
  api/controllers/service_api/index.py
  api/controllers/service_api/workspace/models.py
  api/fields/annotation_fields.py
  api/fields/conversation_fields.py
  api/fields/conversation_variable_fields.py
  api/fields/end_user_fields.py
  api/fields/file_fields.py
  api/fields/member_fields.py
  api/fields/message_fields.py
  api/fields/tag_fields.py
  api/fields/workflow_app_log_fields.py
  api/fields/workflow_run_fields.py
Labels: 📚 documentation, size:XXL, lgtm

#24420 Fix auth error handling
  api/controllers/web/app.py
Labels: size:XS, lgtm

#24422 refactor: better error handler
  api/extensions/ext_blueprints.py
  api/extensions/ext_login.py
  api/libs/external_api.py
  api/mypy.ini
Labels: 📚 documentation, size:L, lgtm

#24395 feat: auto-login after admin account setup
  web/app/install/installForm.tsx
Labels: 💪 enhancement, size:S, lgtm

#24432 feat: Add SQLALCHEMY_MAX_OVERFLOW configuration to support database connection pool overflow
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm
