Repository langgenius/dify, pull requests merged in 2025-09, with the labels that each got.

#24860 Fix never hit `(!code || code.length === 0)`
  web/service/use-share.ts
Labels: size:XS, lgtm

#24857 example of decorator typing
  api/controllers/inner_api/wraps.py
Labels: 💪 enhancement, size:S, lgtm

#24865 fix(webhook): add content-type aware parameter type handling
  web/app/components/workflow/nodes/trigger-webhook/components/generic-table.tsx
  web/app/components/workflow/nodes/trigger-webhook/components/parameter-table.tsx
  web/app/components/workflow/nodes/trigger-webhook/panel.tsx
  web/app/components/workflow/nodes/trigger-webhook/types.ts
Labels: size:L

#24807 [CHORE]: remove redundant-cast
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/helper/encrypter.py
  api/core/model_manager.py
  api/core/prompt/utils/prompt_message_util.py
  api/core/provider_manager.py
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
  api/core/rag/extractor/markdown_extractor.py
  api/core/rag/extractor/notion_extractor.py
  api/core/rag/extractor/pdf_extractor.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/message_transformer.py
  api/core/tools/utils/model_invocation_utils.py
  api/core/tools/workflow_as_tool/tool.py
  api/core/variables/variables.py
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/agent/agent_node.py
  api/core/workflow/nodes/document_extractor/node.py
  api/core/workflow/nodes/parameter_extractor/parameter_extractor_node.py
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/core/workflow/nodes/tool/tool_node.py
  api/core/workflow/workflow_entry.py
  api/factories/file_factory.py
  api/models/tools.py
  api/services/account_service.py
  api/services/annotation_service.py
  api/tests/integration_tests/workflow/nodes/test_code.py
Labels: size:L, lgtm

#24015 refactor: migrate marketplace.py from requests to httpx
  api/core/helper/marketplace.py
Labels: 💪 enhancement, size:XS, lgtm

#24849 Fix test run shortcut consistency and improve dropdown styling
  web/app/components/workflow-app/components/workflow-header/app-publisher-trigger.tsx
  web/app/components/workflow/header/run-and-history.tsx
  web/app/components/workflow/header/test-run-dropdown.tsx
  web/app/components/workflow/hooks/use-checklist.ts
  web/app/components/workflow/hooks/use-shortcuts.ts
Labels: 💪 enhancement, size:L

#24815 fix: Fix database connection leak in EasyUIBasedGenerateTaskPipeline
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
Labels: size:XS, lgtm

#24812 fix: add missing form for boolean types
  web/app/components/base/form/components/base/base-field.tsx
  web/app/components/base/form/types.ts
Labels: size:S, lgtm

#24877 example enum to StrEnum
  api/controllers/service_api/wraps.py
  api/core/app/apps/base_app_queue_manager.py
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#24879 fix:hard-coded top-k fallback issue.
  api/core/rag/datasource/retrieval_service.py
  api/core/rag/datasource/vdb/couchbase/couchbase_vector.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/utils/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_base_tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/services/dataset_service.py
  api/services/hit_testing_service.py
  web/app/components/datasets/external-knowledge-base/create/index.tsx
  web/app/components/datasets/hit-testing/textarea.tsx
  web/context/debug-configuration.ts
Labels: size:M, 👻 feat:rag, lgtm

#24917 fix close session twice.
  api/tasks/duplicate_document_indexing_task.py
Labels: size:L

#24800 replace the secret field from obfuscated to full-masked value
  api/core/helper/encrypter.py
  api/fields/workflow_fields.py
Labels: 💪 enhancement, size:XS, lgtm

#24927 Feature add test containers tool transform service
  api/tests/test_containers_integration_tests/services/tools/test_tools_transform_service.py
Labels: 💪 enhancement, size:XL, lgtm

#24930 fix: email input cannot scroll
  web/app/components/header/account-setting/members-page/invite-modal/index.tsx
Labels: size:XS, lgtm

#24864 fix: API key input uses password type and no autocomplete
  web/app/components/header/account-setting/model-provider-page/model-modal/Input.test.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/Input.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/__snapshots__/Input.test.tsx.snap
Labels: size:M, lgtm

#24933 fix(i18n): align zh-Hant indexMethodEconomyTip with zh-Hans
  web/i18n/zh-Hant/dataset-settings.ts
Labels: 📚 documentation, size:XS, lgtm

#23224 Migrate SQLAlchemy from 1.x to 2.0 with automated and manual adjustments
  api/core/agent/base_agent_runner.py
  api/core/app/apps/advanced_chat/app_runner.py
  api/core/app/apps/agent_chat/app_runner.py
  api/core/app/apps/chat/app_runner.py
  api/core/app/apps/completion/app_generator.py
  api/core/app/apps/completion/app_runner.py
  api/core/app/apps/message_based_app_generator.py
  api/core/app/features/annotation_reply/annotation_reply.py
  api/core/app/task_pipeline/message_cycle_manager.py
  api/core/callback_handler/index_tool_callback_handler.py
  api/core/external_data_tool/api/api.py
  api/core/indexing_runner.py
  api/core/memory/token_buffer_memory.py
  api/core/moderation/api/api.py
  api/core/ops/aliyun_trace/aliyun_trace.py
  api/core/ops/base_trace_instance.py
  api/core/ops/ops_trace_manager.py
  api/core/plugin/backwards_invocation/app.py
  api/core/provider_manager.py
  api/core/rag/datasource/keyword/jieba/jieba.py
  api/core/rag/datasource/retrieval_service.py
  api/core/rag/datasource/vdb/qdrant/qdrant_vector.py
  api/core/rag/datasource/vdb/tidb_on_qdrant/tidb_on_qdrant_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/docstore/dataset_docstore.py
  api/core/rag/extractor/notion_extractor.py
  api/core/rag/retrieval/dataset_retrieval.py
  api/core/tools/tool_label_manager.py
  api/core/tools/tool_manager.py
  api/core/tools/utils/dataset_retriever/dataset_multi_retriever_tool.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_tool.py
  api/core/tools/workflow_as_tool/tool.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: 💪 enhancement, size:L, lgtm

#24786 chore: optimize SQL queries that perform partial full table scans
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/rag/index_processor/processor/parent_child_index_processor.py
  api/events/event_handlers/update_provider_when_message_created.py
  api/migrations/versions/2025_08_29_1534-b95962a3885c_add_workflow_app_log_run_id_index.py
  api/models/workflow.py
Labels: size:M, lgtm

#24643 Fix: Resolve workflow_node_execution primary key conflicts with UUID v7
  api/core/repositories/sqlalchemy_workflow_node_execution_repository.py
  api/core/workflow/workflow_cycle_manager.py
  api/tests/unit_tests/core/repositories/test_workflow_node_execution_conflict_handling.py
  api/tests/unit_tests/repositories/workflow_node_execution/test_sqlalchemy_repository.py
Labels: size:L, 🌊 feat:workflow, lgtm

#24959 make clean() function in index_processor_base abstractmethod
  api/core/rag/index_processor/index_processor_base.py
Labels: size:XS, 👻 feat:rag, lgtm

#24973 feat: add trigger by of app log
  api/fields/workflow_run_fields.py
  web/app/components/app/workflow-log/list.tsx
  web/i18n/en-US/app-log.ts
  web/models/log.ts
Labels: 💪 enhancement, size:XS

#24653 chore: apply ty checks on api code with script and ci action
  .github/workflows/api-tests.yml
  .github/workflows/style.yml
  api/configs/remote_settings_sources/nacos/http_request.py
  api/controllers/console/apikey.py
  api/controllers/console/auth/data_source_oauth.py
  api/controllers/console/auth/oauth.py
  api/controllers/service_api/app/audio.py
  api/core/app/apps/advanced_chat/generate_response_converter.py
  api/core/app/apps/workflow/generate_response_converter.py
  api/core/app/features/rate_limiting/rate_limit.py
  api/core/app/task_pipeline/based_generate_task_pipeline.py
  api/core/extension/api_based_extension_requestor.py
  api/core/helper/module_import_helper.py
  api/core/llm_generator/llm_generator.py
  api/core/ops/aliyun_trace/data_exporter/traceclient.py
  api/core/plugin/impl/base.py
  api/core/rag/datasource/vdb/analyticdb/analyticdb_vector_openapi.py
  api/core/rag/datasource/vdb/clickzetta/clickzetta_vector.py
  api/core/rag/datasource/vdb/couchbase/couchbase_vector.py
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
  api/core/rag/datasource/vdb/vikingdb/vikingdb_vector.py
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
  api/core/rag/retrieval/router/multi_dataset_function_call_router.py
  api/core/rag/retrieval/router/multi_dataset_react_route.py
  api/core/tools/builtin_tool/provider.py
  api/core/tools/tool_label_manager.py
  api/core/tools/utils/dataset_retriever/dataset_retriever_base_tool.py
  api/core/workflow/nodes/answer/answer_stream_processor.py
  api/core/workflow/nodes/if_else/if_else_node.py
  api/core/workflow/nodes/iteration/iteration_node.py
  api/core/workflow/nodes/loop/loop_node.py
  api/extensions/ext_otel.py
  api/extensions/ext_redis.py
  api/libs/external_api.py
  api/libs/gmpy2_pkcs10aep_cipher.py
  api/libs/passport.py
  api/libs/sendgrid.py
  api/pyproject.toml
  api/services/dataset_service.py
  api/services/external_knowledge_service.py
  api/services/model_load_balancing_service.py
  api/services/tools/mcp_tools_manage_service.py
  api/ty.toml
  api/uv.lock
  dev/reformat
  dev/ty-check
  web/.husky/pre-commit
Labels: size:L, lgtm

#24978 feat(workflow-log): enhance workflow logs UI with sorting and status filters
  api/controllers/console/app/workflow_app_log.py
  web/app/components/app/workflow-log/filter.tsx
  web/app/components/app/workflow-log/list.tsx
  web/i18n/en-US/app-log.ts
Labels: size:M, 🌊 feat:workflow

#25001 fix: remove unnecessary modal visibility toggle on error in name save
  web/app/account/(commonLayout)/account-page/index.tsx
Labels: size:XS, lgtm

#24998 fix: refresh UI after user profile change
  web/context/app-context.tsx
Labels: size:XS, lgtm

#24991 minor fix: fix the check of subscription capacity limit
  api/tasks/duplicate_document_indexing_task.py
Labels: size:XS, lgtm

#24966 fix: xxx is not bound to a Session
  api/core/app/apps/advanced_chat/app_generator.py
  api/services/account_service.py
Labels: size:XS, lgtm

#25005 fix(webhook-trigger): request array type adjustment
  web/app/components/app/overview/trigger-card.tsx
  web/app/components/workflow/header/run-and-history.tsx
  web/app/components/workflow/hooks/use-dynamic-test-run-options.tsx
  web/app/components/workflow/hooks/use-nodes-interactions.ts
  web/app/components/workflow/nodes/_base/components/field.tsx
  web/app/components/workflow/nodes/trigger-schedule/__tests__/monthly-multiselect.test.ts
  web/app/components/workflow/nodes/trigger-schedule/__tests__/weekly-time-logic.test.ts
  web/app/components/workflow/nodes/trigger-schedule/default.ts
  web/app/components/workflow/nodes/trigger-schedule/utils/cron-parser.ts
  web/app/components/workflow/nodes/trigger-webhook/components/parameter-table.tsx
  web/app/components/workflow/nodes/trigger-webhook/default.ts
  web/app/components/workflow/nodes/trigger-webhook/panel.tsx
  web/app/components/workflow/nodes/trigger-webhook/types.ts
  web/app/components/workflow/nodes/trigger-webhook/use-config.ts
  web/app/components/workflow/nodes/trigger-webhook/utils/parameter-type-utils.test.ts
  web/app/components/workflow/nodes/trigger-webhook/utils/parameter-type-utils.ts
  web/app/components/workflow/utils/workflow.ts
Labels: size:XL, 🌊 feat:workflow

#25024 chore: remove duplicate test helper classes from api root directory
  api/child_class.py
  api/lazy_load_class.py
Labels: size:S, lgtm

#25021 chore: remove ty type checker from reformat script and pre-commit hooks
  dev/reformat
  web/.husky/pre-commit
Labels: size:S, lgtm

#25028 feat: add test containers based tests for tools manage service
  api/tests/test_containers_integration_tests/services/tools/test_workflow_tools_manage_service.py
Labels: 💪 enhancement, size:XL, lgtm

#25034 fix: remove redundant z-index from Field component
  web/app/components/workflow/nodes/_base/components/field.tsx
Labels: size:XS, lgtm

#25037 chore: translate Chinese comments to English in ClickZetta Volume storage module
  api/extensions/storage/clickzetta_volume/clickzetta_volume_storage.py
  api/extensions/storage/clickzetta_volume/file_lifecycle.py
  api/extensions/storage/clickzetta_volume/volume_permissions.py
Labels: size:L, lgtm

#25055 [Chore/Refactor] Update .gitignore to exclude pyrightconfig.json while preserving api/pyrightconfig.json
  .gitignore
Labels: size:XS, lgtm

#24994 Refactor/model credential
  web/app/components/base/form/components/base/base-field.tsx
  web/app/components/base/form/components/base/base-form.tsx
  web/app/components/header/account-setting/model-provider-page/declarations.ts
  web/app/components/header/account-setting/model-provider-page/hooks.ts
  web/app/components/header/account-setting/model-provider-page/model-auth/add-credential-in-load-balancing.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/add-custom-model.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/authorized/authorized-item.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/authorized/credential-item.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/authorized/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/config-model.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/config-provider.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/credential-selector.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/hooks/use-auth-service.ts
  web/app/components/header/account-setting/model-provider-page/model-auth/hooks/use-auth.ts
  web/app/components/header/account-setting/model-provider-page/model-auth/hooks/use-custom-models.ts
  web/app/components/header/account-setting/model-provider-page/model-auth/hooks/use-model-form-schemas.ts
  web/app/components/header/account-setting/model-provider-page/model-auth/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/manage-custom-model-credentials.tsx
  web/app/components/header/account-setting/model-provider-page/model-auth/switch-credential-in-load-balancing.tsx
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/credential-panel.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-list.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-load-balancing-configs.tsx
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-load-balancing-modal.tsx
  web/app/components/header/account-setting/model-provider-page/utils.ts
  web/context/modal-context.tsx
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
  web/service/use-models.ts
Labels: 💪 enhancement, size:XXL, lgtm

#25059 fix: missing key for translation path
  web/app/components/workflow/block-selector/start-blocks.tsx
  web/app/components/workflow/nodes/trigger-schedule/constants.ts
  web/app/components/workflow/nodes/trigger-schedule/types.ts
  web/app/components/workflow/nodes/trigger-webhook/default.ts
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 📚 documentation, size:M

#25032 fix: content type of webhook
  api/core/workflow/nodes/trigger_webhook/node.py
  api/services/webhook_service.py
  api/tests/unit_tests/services/test_webhook_service.py
Labels: size:L

#25035 Hotfix translation error
  web/i18n/id-ID/app-annotation.ts
  web/i18n/id-ID/app-api.ts
  web/i18n/id-ID/app-debug.ts
  web/i18n/id-ID/app-log.ts
  web/i18n/id-ID/app-overview.ts
  web/i18n/id-ID/app.ts
  web/i18n/id-ID/common.ts
  web/i18n/id-ID/custom.ts
  web/i18n/id-ID/dataset-creation.ts
  web/i18n/id-ID/dataset-hit-testing.ts
  web/i18n/id-ID/dataset-settings.ts
  web/i18n/id-ID/dataset.ts
  web/i18n/id-ID/education.ts
  web/i18n/id-ID/explore.ts
  web/i18n/id-ID/login.ts
  web/i18n/id-ID/oauth.ts
  web/i18n/id-ID/plugin.ts
  web/i18n/id-ID/time.ts
  web/i18n/id-ID/workflow.ts
  web/i18n/tr-TR/common.ts
  web/i18n/uk-UA/common.ts
Labels: 📚 documentation, size:L, lgtm

#25078 Fix advanced chat workflow event handler signature mismatch
  Makefile
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/extensions/storage/clickzetta_volume/file_lifecycle.py
  api/extensions/storage/clickzetta_volume/volume_permissions.py
Labels: size:S, 🌊 feat:workflow, lgtm

#25081 fix: model credential name
  api/core/entities/provider_configuration.py
  web/app/components/header/account-setting/model-provider-page/model-modal/index.tsx
Labels: size:S, lgtm

#25060 chore(version): bump version to 1.8.1
  api/pyproject.toml
  api/uv.lock
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 💪 enhancement, size:XS, lgtm

#25092 chore(docker): bump version
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:L, lgtm

#25087 fix: improve error logging for vector search operation in MyScale
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#24947 db internal server error
  api/.env.example
Labels: size:XS, lgtm

#25108 chore: enhance basedpyright-check script to support path arguments
  dev/basedpyright-check
Labels: 💪 enhancement, size:XS, lgtm

#25104 [Chore/Refactor] Improve type safety and resolve type checking issues
  api/core/rag/datasource/vdb/tablestore/tablestore_vector.py
  api/extensions/storage/clickzetta_volume/file_lifecycle.py
  api/pyrightconfig.json
  api/services/dataset_service.py
Labels: size:S, lgtm

#25121 fix: align text color in dark mode for config var type selector
  web/app/components/app/configuration/config-var/config-modal/type-select.tsx
Labels: size:XS, lgtm

#25112 fix: old custom model not display credential name
  api/core/provider_manager.py
Labels: size:M, lgtm

#25106 fix(webhook): selected type ui style
  web/app/components/base/select/index.tsx
  web/app/components/workflow/nodes/trigger-webhook/components/generic-table.tsx
  web/app/components/workflow/nodes/trigger-webhook/components/parameter-table.tsx
Labels: size:S

#25110 fix png jpeg export
  web/app/components/workflow/operator/export-image.tsx
Labels: size:XS, lgtm

#25082 Minor fix: correct get_app_model mode for delete()
  api/controllers/console/app/conversation.py
Labels: size:XS, lgtm

#25119 chore: (webhook) use variable instead of InputVar
  web/app/components/workflow/nodes/_base/components/variable/utils.ts
  web/app/components/workflow/nodes/trigger-webhook/components/parameter-table.tsx
  web/app/components/workflow/nodes/trigger-webhook/types.ts
  web/app/components/workflow/nodes/trigger-webhook/use-config.ts
  web/app/components/workflow/nodes/trigger-webhook/utils/parameter-type-utils.test.ts
  web/app/components/workflow/nodes/trigger-webhook/utils/parameter-type-utils.ts
Labels: size:L

#25071 fix recommended apps reading from db logic
  api/services/recommended_app_service.py
Labels: size:XS, lgtm

#25132 fix: EndUser not bound to Session when plugin invokes callback
  api/core/plugin/backwards_invocation/app.py
Labels: size:S, lgtm

#25136 chore: (webhook) when content type changed clear the body variables
  web/app/components/workflow/nodes/trigger-webhook/use-config.ts
Labels: size:S

#25152 feat: add TypeScript type safety for i18next with automated maintenance
  .github/workflows/translate-i18n-base-on-english.yml
  .github/workflows/web-tests.yml
  web/global.d.ts
  web/i18n-config/check-i18n-sync.js
  web/i18n-config/generate-i18n-types.js
  web/package.json
  web/types/i18n.d.ts
Labels: 💪 enhancement, size:L, lgtm

#25150 fix: update account profile
  api/services/account_service.py
Labels: size:XS, lgtm

#25159 feat: (trigger) support file upload in webhook
  api/controllers/console/app/workflow_trigger.py
  api/migrations/versions/2025_08_23_2039-5871f634954d_add_workflow_webhook_table.py
  api/models/workflow.py
  api/services/webhook_service.py
Labels: 💪 enhancement, size:L

#25177 Remove unused mypy script
  api/mypy.ini
  dev/mypy-check
Labels: size:M, lgtm

#25185 [Chore/Refactor] Improve type checking configuration
  .github/workflows/style.yml
  api/app_factory.py
  api/core/plugin/utils/chunk_merger.py
  api/core/tools/tool_manager.py
  api/pyproject.toml
  api/pyrightconfig.json
  api/services/dataset_service.py
  api/services/tools/builtin_tools_manage_service.py
  api/uv.lock
Labels: size:M, lgtm

#25157 Chore: clean some # type: ignore
  api/core/indexing_runner.py
  api/core/rag/index_processor/processor/parent_child_index_processor.py
Labels: size:S, lgtm

#25228 fix: block selector ui
  web/app/components/workflow/block-selector/index.tsx
  web/app/components/workflow/block-selector/trigger-plugin/action-item.tsx
Labels: size:XS

#25161 refactor: improve plugin version validation to support full semantic versioning
  api/core/plugin/entities/plugin.py
  api/pyproject.toml
  api/tests/test_containers_integration_tests/services/test_webapp_auth_service.py
  api/uv.lock
Labels: 💪 enhancement, size:M, lgtm

#25224 example of type button
  web/app/components/apps/app-card.tsx
Labels: size:XS, lgtm

#25235 Fix `_logger` is not defined
  api/services/workflow_draft_variable_service.py
Labels: size:XS, lgtm

#25234 fix: child chunk API 404 due to UUID type comparison
  api/controllers/service_api/dataset/segment.py
Labels: size:XS, lgtm

#25215 fix incorrect indent in TokenBufferMemory
  api/core/memory/token_buffer_memory.py
Labels: size:XS, lgtm

#25241 feat: add icon support for trigger plugin workflow nodes
  web/app/components/workflow/hooks/use-workflow.ts
Labels: 💪 enhancement, size:S

#25216 example of lazy
  web/app/components/workflow/run/tracing-panel.tsx
Labels: size:XS, lgtm

#25212 example of remove useEffect
  web/app/components/workflow/variable-inspect/value-content.tsx
Labels: size:S, lgtm

#24018 add type annotations for Python SDK ChatClient Class
  sdks/python-client/dify_client/client.py
Labels: 💪 enhancement, size:M, lgtm

#25251 Feature add test containers add document to index
  api/tests/test_containers_integration_tests/tasks/__init__.py
  api/tests/test_containers_integration_tests/tasks/test_add_document_to_index_task.py
Labels: 📚 documentation, 💪 enhancement, size:XL, lgtm

#25247 fix: remove notion page selector modal
  web/app/components/base/notion-page-selector/index.tsx
  web/app/components/base/notion-page-selector/notion-page-selector-modal/index.module.css
  web/app/components/base/notion-page-selector/notion-page-selector-modal/index.tsx
  web/app/components/base/progress-bar/index.tsx
  web/app/components/datasets/documents/index.tsx
  web/app/components/datasets/documents/list.tsx
Labels: size:L, lgtm

#25272 fix: standardize text color in install form to text-secondary
  web/app/install/installForm.tsx
Labels: size:S, lgtm

#25268 fix: resolve typing errors in configs module
  api/configs/middleware/__init__.py
  api/configs/middleware/vdb/clickzetta_config.py
  api/configs/middleware/vdb/matrixone_config.py
  api/configs/packaging/__init__.py
  api/configs/remote_settings_sources/apollo/client.py
  api/configs/remote_settings_sources/apollo/python_3x.py
  api/configs/remote_settings_sources/apollo/utils.py
  api/configs/remote_settings_sources/nacos/__init__.py
  api/configs/remote_settings_sources/nacos/http_request.py
  api/configs/remote_settings_sources/nacos/utils.py
  api/pyrightconfig.json
Labels: size:L, lgtm

#25287 Feature add test containers batch clean document
  api/tests/test_containers_integration_tests/tasks/test_batch_clean_document_task.py
Labels: 💪 enhancement, size:XL, lgtm

#25283 feat: implement trigger plugin frontend integration
  .gitignore
  api/controllers/console/workspace/trigger_providers.py
  web/app/components/workflow/block-selector/types.ts
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/node-auth-factory.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/authentication-menu.tsx
  web/app/components/workflow/nodes/trigger-plugin/default.ts
  web/app/components/workflow/nodes/trigger-plugin/node.tsx
  web/app/components/workflow/nodes/trigger-plugin/panel.tsx
  web/app/components/workflow/nodes/trigger-plugin/types.ts
  web/app/components/workflow/nodes/trigger-plugin/use-config.ts
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/service/use-triggers.ts
Labels: size:XL, 🌊 feat:workflow

#25290 fix: a failed index to be marked as created
  api/core/rag/datasource/vdb/matrixone/matrixone_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#25313 chore: ignore PWA generated files in version control
  .gitignore
  web/public/fallback-hxi5kegOl0PxtKhvDL_OX.js
  web/public/sw.js
Labels: size:XS, lgtm

#25318 fix: remove workflow file preview docs
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, size:L, lgtm

#25315 fix: update iteration node to use correct variable segment types
  api/core/workflow/nodes/iteration/iteration_node.py
Labels: size:XS, lgtm

#25310 feat: implement trigger plugin authentication UI
  web/__tests__/use-dynamic-test-run-options.test.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/node-auth-factory.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/__tests__/api-key-config-modal.test.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/__tests__/auth-method-selector.test.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/__tests__/oauth-client-config-modal.test.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/api-key-config-modal.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/auth-method-selector.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/oauth-client-config-modal.tsx
  web/app/components/workflow/nodes/trigger-plugin/use-config.ts
  web/app/components/workflow/nodes/trigger-plugin/utils/__tests__/form-helpers.test.ts
  web/app/components/workflow/nodes/trigger-plugin/utils/form-helpers.ts
  web/app/components/workflow/nodes/trigger-webhook/__tests__/default.test.ts
  web/app/components/workflow/nodes/trigger-webhook/utils/parameter-type-utils.ts
  web/hooks/use-oauth.ts
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: 💪 enhancement, size:XXL

#25329 feat: initialize trigger status at application level to prevent canvas refresh state issues
  web/app/components/workflow-app/index.tsx
  web/service/use-tools.ts
Labels: 📚 documentation, 💪 enhancement, size:S

#24696 fix(datasource): load default fileExtensions for file node earlier
  web/app/components/workflow/block-selector/constants.tsx
  web/app/components/workflow/block-selector/data-sources.tsx
  web/app/components/workflow/block-selector/types.ts
  web/app/components/workflow/nodes/data-source/constants.ts
  web/app/components/workflow/nodes/data-source/hooks/use-config.ts
Labels: size:M, 🌊 feat:workflow, lgtm

#25317 fix: ensure consistent DSL export behavior across UI entry
  web/app/components/app-sidebar/app-info.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:M, lgtm

#25225 Refactor：upgrade react19 ref as props
  web/app/components/base/action-button/index.tsx
  web/app/components/base/button/index.tsx
  web/app/components/base/input/index.tsx
  web/app/components/base/mermaid/index.tsx
  web/app/components/base/textarea/index.tsx
  web/app/components/datasets/preview/container.tsx
  web/app/components/plugins/install-plugin/install-bundle/steps/install-multi.tsx
  web/app/components/workflow/block-selector/market-place-plugin/list.tsx
Labels: 💪 enhancement, size:L, lgtm

#24636 Fix: Parameter Extractor Uses Correct Prompt for Prompt Mode in Chat Models
  api/core/workflow/nodes/parameter_extractor/parameter_extractor_node.py
Labels: size:XS, lgtm

#25338 fix: fix dark mode styling issues
  web/app/components/datasets/create-from-pipeline/create-options/create-from-dsl-modal/index.tsx
  web/app/components/datasets/create-from-pipeline/create-options/create-from-dsl-modal/uploader.tsx
  web/app/components/rag-pipeline/components/panel/test-run/result/result-preview/index.tsx
  web/app/components/workflow/variable-inspect/display-content.tsx
Labels: size:M, lgtm

#24949 add more typing
  api/controllers/console/admin.py
  api/controllers/console/auth/oauth_server.py
  api/controllers/console/explore/wraps.py
  api/controllers/console/workspace/__init__.py
  api/controllers/console/wraps.py
  api/controllers/service_api/wraps.py
  api/controllers/web/wraps.py
  api/core/rag/datasource/vdb/matrixone/matrixone_vector.py
  api/libs/login.py
Labels: 💪 enhancement, size:L, lgtm

#25341 feat: add test containers based tests for clean dataset task
  api/tests/test_containers_integration_tests/tasks/test_clean_dataset_task.py
Labels: 💪 enhancement, size:XXL, lgtm

#24760 feat: add MCP server headers support #22718
  api/controllers/console/workspace/tool_providers.py
  api/core/tools/entities/api_entities.py
  api/core/tools/mcp_tool/provider.py
  api/migrations/versions/2025_09_08_1007-c20211f18133_add_headers_to_mcp_provider.py
  api/models/tools.py
  api/services/tools/mcp_tools_manage_service.py
  api/services/tools/tools_transform_service.py
  api/tests/test_containers_integration_tests/services/tools/test_mcp_tools_manage_service.py
  web/app/components/tools/mcp/headers-input.tsx
  web/app/components/tools/mcp/modal.tsx
  web/app/components/tools/types.ts
  web/i18n/en-US/tools.ts
  web/i18n/ja-JP/tools.ts
  web/i18n/zh-Hans/tools.ts
  web/service/use-tools.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#25306 Feature add test containers batch create segment to index
  api/tests/test_containers_integration_tests/tasks/test_batch_create_segment_to_index_task.py
Labels: 💪 enhancement, size:XL, lgtm

#25311 Fix/disable no constant binary expression
  web/.oxlintrc.json
  web/app/components/base/chat/chat-with-history/hooks.tsx
  web/app/components/base/chat/embedded-chatbot/hooks.tsx
  web/app/components/workflow/nodes/list-operator/default.ts
Labels: size:L, lgtm

#25371 Fix: use correct maxLength prop for verification code input
  web/app/(shareLayout)/webapp-reset-password/check-code/page.tsx
  web/app/(shareLayout)/webapp-signin/check-code/page.tsx
  web/app/reset-password/check-code/page.tsx
  web/app/signin/check-code/page.tsx
Labels: size:XS, lgtm

#25357 fix: Fixed the X-axis scroll bar issue in the LLM node settings panel
  web/app/components/header/account-setting/model-provider-page/model-parameter-modal/parameter-item.tsx
Labels: size:S, lgtm

#25364 Support Anchor Scroll In The Output Node
  web/app/components/base/markdown-blocks/link.tsx
Labels: 💪 enhancement, size:S, lgtm

#25380 example of uuid
  api/models/dataset.py
Labels: 📚 documentation, size:XS, lgtm

#25385 feat: add test containers based tests for clean notion document task
  api/tests/test_containers_integration_tests/tasks/test_clean_notion_document_task.py
Labels: 💪 enhancement, size:XXL, lgtm

#25394 fix(container-test): batch create segment position sort
  api/tests/test_containers_integration_tests/tasks/test_batch_create_segment_to_index_task.py
Labels: size:XS, lgtm

#25401 fix: credential not allow to use in load balancing
  web/app/components/header/account-setting/model-provider-page/provider-added-card/model-load-balancing-configs.tsx
Labels: 📚 documentation, size:XS, lgtm

#25393 fix(mcp): current_user not being set in MCP requests
  api/extensions/ext_login.py
Labels: size:XS, lgtm

#25403 feat: adjust scroll to selected node position to top-left area
  web/app/components/workflow/utils/node-navigation.ts
Labels: size:S, 🌊 feat:workflow

#25388 feat/trigger plugin apikey
  web/app/components/workflow/nodes/_base/components/form-input-item.tsx
  web/app/components/workflow/nodes/_base/components/workflow-panel/index.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/api-key-config-modal.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/parameters-form.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/trigger-form/index.tsx
  web/app/components/workflow/nodes/trigger-plugin/components/trigger-form/item.tsx
  web/app/components/workflow/nodes/trigger-plugin/hooks/use-trigger-auth-flow.ts
  web/app/components/workflow/nodes/trigger-plugin/panel.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
  web/service/use-triggers.ts
Labels: size:XL, 🌊 feat:workflow

#25343 fix: hide export pipeline button
  web/app/components/app-sidebar/app-info.tsx
  web/app/components/app-sidebar/dataset-info/dropdown.tsx
  web/app/components/app/annotation/header-opts/index.tsx
  web/app/components/apps/app-card.tsx
  web/app/components/datasets/list/dataset-card/index.tsx
  web/app/components/datasets/list/dataset-card/operations.tsx
Labels: size:M, lgtm

#25418 Revert "example of remove useEffect"
  web/app/components/workflow/variable-inspect/value-content.tsx
Labels: size:S, 🌊 feat:workflow, lgtm

#25405 add typing to all wraps
  api/controllers/console/app/wraps.py
  api/controllers/inner_api/plugin/wraps.py
  api/controllers/inner_api/wraps.py
  api/controllers/service_api/workspace/models.py
  api/controllers/service_api/wraps.py
  api/controllers/web/wraps.py
  api/core/rag/datasource/vdb/matrixone/matrixone_vector.py
  api/services/enterprise/plugin_manager_service.py
Labels: 📚 documentation, size:L, lgtm

#25425 Fix: Use --fix flag instead of --fix-only in autofix workflow
  .github/workflows/autofix.yml
Labels: size:XS, 🌊 feat:workflow, lgtm

#25410 Add lib test
  api/tests/unit_tests/libs/test_file_utils.py
  api/tests/unit_tests/libs/test_json_in_md_parser.py
  api/tests/unit_tests/libs/test_orjson.py
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#25432 fix(api): Fix incorrect import of `ToolProviderID`
  api/core/tools/tool_manager.py
Labels: size:XS, lgtm

#25438 fix: Fix RAG pipeline identifier name dash format
  web/app/components/datasets/documents/list.tsx
Labels: size:XS, lgtm

#25430 fix(mcp): properly handle arrays containing both numbers and strings
  api/core/tools/mcp_tool/tool.py
Labels: size:M, lgtm

#25365 fix: imporve the condition for stopping the think timer.
  web/app/components/base/markdown-blocks/think-block.tsx
Labels: size:XS, lgtm

#25382 Fix: Add Password Validation to Account Creation
  api/services/account_service.py
  api/tests/test_containers_integration_tests/services/test_account_service.py
Labels: size:S, lgtm

#25450 Feature add test containers create segment to index task
  api/tests/test_containers_integration_tests/tasks/test_create_segment_to_index_task.py
Labels: 💪 enhancement, size:XXL, lgtm

#25451 fix/tooltip and onboarding ui
  web/app/components/workflow-app/components/workflow-onboarding-modal/index.tsx
  web/app/components/workflow/block-selector/blocks.tsx
  web/i18n/en-US/workflow.ts
  web/i18n/ja-JP/workflow.ts
  web/i18n/zh-Hans/workflow.ts
Labels: size:S

#25462 fix: inner_api get_user_tenant
  api/controllers/inner_api/plugin/wraps.py
Labels: size:XS, lgtm

#25461 test: imporve
  api/tests/unit_tests/libs/test_email_i18n.py
  api/tests/unit_tests/libs/test_external_api.py
  api/tests/unit_tests/libs/test_oauth_base.py
  api/tests/unit_tests/libs/test_sendgrid_client.py
  api/tests/unit_tests/libs/test_smtp_client.py
Labels: size:L, lgtm

#24732 refactor: Migrate part of the console basic API module to Flask-RESTX
  api/controllers/console/__init__.py
  api/controllers/console/admin.py
  api/controllers/console/apikey.py
  api/controllers/console/auth/activate.py
  api/controllers/console/auth/data_source_oauth.py
  api/controllers/console/auth/forgot_password.py
  api/controllers/console/auth/oauth.py
  api/controllers/console/extension.py
  api/controllers/console/feature.py
  api/controllers/console/init_validate.py
  api/controllers/console/ping.py
  api/controllers/console/setup.py
  api/controllers/console/version.py
  api/controllers/console/workspace/agent_providers.py
  api/controllers/console/workspace/endpoint.py
  api/controllers/files/__init__.py
  api/controllers/inner_api/__init__.py
  api/controllers/mcp/__init__.py
  api/controllers/service_api/__init__.py
  api/controllers/web/__init__.py
  api/controllers/web/audio.py
  api/controllers/web/completion.py
  api/controllers/web/conversation.py
  api/controllers/web/message.py
  api/controllers/web/saved_message.py
  api/controllers/web/site.py
  api/controllers/web/workflow.py
Labels: 📚 documentation, size:XXL, lgtm

#25465 fix: workflow knowledge query raise error
  api/core/app/apps/workflow/app_runner.py
Labels: size:XS, lgtm

#25467 fix(sidebar): eliminate nav link icon jumping and text squashing
  web/app/components/app-sidebar/navLink.spec.tsx
  web/app/components/app-sidebar/navLink.tsx
Labels: size:L, lgtm

#25474 Fix 500 in dataset page.
  api/services/dataset_service.py
Labels: size:XS, lgtm

#25631 Feature add test containers disable segment from index task
  api/tests/test_containers_integration_tests/tasks/test_disable_segment_from_index_task.py
Labels: 💪 enhancement, size:XL, lgtm

#25644 fix: allow empty values in Variable Inspector
  web/app/components/workflow/variable-inspect/value-content.tsx
Labels: size:XS, lgtm

#25666 example for __all__
  api/controllers/service_api/__init__.py
Labels: 📚 documentation, size:M, lgtm

#25648 Fix missing import of DataSourceOauthBinding
  api/services/dataset_service.py
Labels: size:XS, lgtm

#25646 bugfix: The randomly generated email by Faker actually corresponded to an existing account in the test database, causing the test to fail.
  api/tests/test_containers_integration_tests/services/test_webapp_auth_service.py
Labels: size:S, lgtm

#25649 Fix wrong permission logic
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/external.py
Labels: size:XS, lgtm

#25641 improve type hints using typing.Literal and add type annotations
  sdks/python-client/dify_client/client.py
Labels: size:M, lgtm

#25681 [Chore/Refactor] use __all__ to specify export member.
  api/controllers/console/__init__.py
  api/controllers/files/__init__.py
  api/controllers/inner_api/__init__.py
  api/controllers/mcp/__init__.py
  api/controllers/web/__init__.py
  api/core/rag/extractor/unstructured/unstructured_doc_extractor.py
Labels: size:L, lgtm

#25628 refactor: update API routes and documentation for app and datasets endpoints
  api/controllers/console/app/workflow.py
  api/controllers/console/app/workflow_app_log.py
  api/controllers/console/app/workflow_draft_variable.py
  api/controllers/console/app/workflow_run.py
  api/controllers/console/app/workflow_statistic.py
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/external.py
  api/controllers/console/datasets/hit_testing.py
  api/controllers/console/datasets/website.py
Labels: 📚 documentation, size:XL, lgtm

#25677 dependabot
  .github/dependabot.yml
Labels: dependencies, size:S, lgtm

#25709 fix: resolve devalue prototype pollution vulnerability
  web/package.json
  web/pnpm-lock.yaml
Labels: dependencies, size:XS, lgtm

#25716 fix: variable assigner in node metadata
  web/app/components/rag-pipeline/hooks/use-available-nodes-meta-data.ts
  web/app/components/workflow-app/hooks/use-available-nodes-meta-data.ts
Labels: size:S, lgtm

#25717 correct typos .
  api/core/app/app_config/entities.py
  api/core/rag/entities/metadata_entities.py
  api/core/workflow/nodes/knowledge_retrieval/entities.py
  api/core/workflow/nodes/list_operator/node.py
Labels: 📚 documentation, size:S, lgtm

#25728 chore(api): Use uuidv7 to generate PK for new knowledge pipeline models
  api/migrations/versions/2025_05_15_1558-b35c3db83d09_add_pipeline_info.py
  api/migrations/versions/2025_05_30_0033-c459994abfa8_add_pipeline_info_3.py
  api/migrations/versions/2025_06_17_1905-70a0fc0c013f_add_pipeline_info_7.py
  api/migrations/versions/2025_09_01_1443-8c5088481127_add_pipeline_info_17.py
  api/models/dataset.py
  api/models/oauth.py
Labels: size:M, lgtm

#25737 fix(tests): resolve order dependency in disable_segments_from_index_task tests
  api/tests/test_containers_integration_tests/tasks/test_disable_segments_from_index_task.py
Labels: size:S, lgtm

#25695 Bugfix: When i change the loop variable, 'Loop Termination Condition' wi…
  web/app/components/workflow/nodes/loop/use-config.ts
Labels: size:M, lgtm

#25684 Feature: add test containers document indexing task
  api/tests/test_containers_integration_tests/tasks/test_document_indexing_task.py
Labels: 💪 enhancement, size:XL, lgtm

#25749 refactor: Update knowledge pipeline terminology and chunk detail UI/UX
  web/app/components/datasets/create/step-three/index.tsx
  web/app/components/datasets/documents/create-from-pipeline/data-source/online-documents/index.tsx
  web/app/components/datasets/documents/create-from-pipeline/data-source/online-drive/index.tsx
  web/app/components/datasets/documents/create-from-pipeline/data-source/website-crawl/index.tsx
  web/app/components/datasets/documents/detail/completed/child-segment-list.tsx
  web/app/components/datasets/documents/detail/completed/common/drawer.tsx
  web/app/components/datasets/documents/detail/completed/common/full-screen-drawer.tsx
  web/app/components/datasets/documents/detail/completed/index.tsx
  web/app/components/datasets/documents/detail/completed/segment-card/index.tsx
  web/app/components/rag-pipeline/components/rag-pipeline-header/publisher/popup.tsx
  web/app/components/rag-pipeline/hooks/use-available-nodes-meta-data.ts
  web/app/components/workflow/nodes/knowledge-base/components/retrieval-setting/reranking-model-selector.tsx
  web/app/components/workflow/nodes/knowledge-base/components/retrieval-setting/search-method-option.tsx
  web/app/components/workflow/nodes/knowledge-base/hooks/use-config.ts
  web/app/components/workflow/nodes/knowledge-base/panel.tsx
  web/context/provider-context.tsx
  web/i18n/en-US/pipeline.ts
  web/i18n/zh-Hans/pipeline.ts
Labels: 💪 enhancement, size:L, lgtm

#24921 chat remove transparency from chat bubble in dark mode
  web/themes/manual-dark.css
Labels: 💪 enhancement, size:XS, lgtm

#25759 Enhance LLM model configuration validation to include active status c…
  api/services/workflow_service.py
Labels: 💪 enhancement, size:S, lgtm

#25757 refactor: Enhance dependency tracking in List components and plugin tag compatibility
  web/app/components/datasets/documents/create-from-pipeline/data-source/online-drive/file-list/list/index.tsx
  web/app/components/datasets/list/datasets.tsx
  web/app/components/plugins/hooks.ts
  web/app/components/plugins/marketplace/list/card-wrapper.tsx
  web/app/components/plugins/marketplace/utils.ts
  web/app/components/plugins/plugin-page/filter-management/tag-filter.tsx
  web/config/index.ts
  web/service/fetch.ts
Labels: size:M, lgtm

#25785 Feat/merge main
  AGENTS.md
  CLAUDE.md
  api/.env.example
  api/configs/middleware/vdb/lindorm_config.py
  api/controllers/console/app/workflow.py
  api/controllers/console/datasets/datasets_document.py
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
  api/services/workflow_service.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:XL, lgtm

#25824 use DifyCoreRepositoryFactory
  api/core/app/apps/pipeline/pipeline_generator.py
  api/services/rag_pipeline/rag_pipeline_dsl_service.py
  api/services/rag_pipeline/rag_pipeline_transform_service.py
  api/services/website_service.py
  api/tasks/document_indexing_sync_task.py
  api/tasks/rag_pipeline/priority_rag_pipeline_run_task.py
  api/tasks/rag_pipeline/rag_pipeline_run_task.py
Labels: size:M, lgtm

#25831 merge rag2 migrations
  api/contexts/__init__.py
  api/migrations/versions/2025_05_15_1558-b35c3db83d09_add_pipeline_info.py
  api/migrations/versions/2025_05_16_1659-abb18a379e62_add_pipeline_info_2.py
  api/migrations/versions/2025_05_30_0033-c459994abfa8_add_pipeline_info_3.py
  api/migrations/versions/2025_05_30_0052-e4fb49a4fe86_add_pipeline_info_4.py
  api/migrations/versions/2025_06_05_1356-d466c551816f_add_pipeline_info_5.py
  api/migrations/versions/2025_06_11_1155-224fba149d48_add_pipeline_info_6.py
  api/migrations/versions/2025_06_17_1905-70a0fc0c013f_add_pipeline_info_7.py
  api/migrations/versions/2025_06_19_1525-a1025f709c06_add_pipeline_info_8.py
  api/migrations/versions/2025_07_02_1132-15e40b74a6d2_add_pipeline_info_9.py
  api/migrations/versions/2025_07_18_1409-d4a76fde2724_add_pipeline_info_10.py
  api/migrations/versions/2025_07_18_1446-1bce102aef9a_add_pipeline_info_11.py
  api/migrations/versions/2025_07_18_1825-2008609cf2bb_add_pipeline_info_12.py
  api/migrations/versions/2025_07_18_2134-fcb46171d891_add_pipeline_info_13.py
  api/migrations/versions/2025_07_21_1220-d3c68680d3ba_add_pipeline_info_14.py
  api/migrations/versions/2025_07_21_1523-74e5f667f4b7_add_pipeline_info_15.py
  api/migrations/versions/2025_08_11_1138-17d4db47800c_add_pipeline_info_16.py
  api/migrations/versions/2025_08_29_1503-76db8b6ed8f1_add_workflowdraftvariablefile.py
  api/migrations/versions/2025_08_29_1504-b45e25c2d166_add_workflownodeexecutionoffload.py
  api/migrations/versions/2025_09_01_1443-8c5088481127_add_pipeline_info_17.py
  api/migrations/versions/2025_09_12_1429-0b2ca375fabe_add_pipeline_info_18.py
  api/migrations/versions/2025_09_17_1515-68519ad5cd18_knowledge_pipeline_migrate.py
Labels: size:XXL, 👻 feat:rag, lgtm

#25787 fix indexing_technique setting
  api/services/dataset_service.py
Labels: size:XS, lgtm

#25840 fix style check
  api/commands.py
  api/configs/__init__.py
  api/controllers/console/__init__.py
  api/core/app/apps/base_app_generator.py
  api/core/app/apps/completion/app_runner.py
  api/core/app/apps/pipeline/generate_response_converter.py
  api/core/app/apps/pipeline/pipeline_generator.py
  api/core/app/entities/app_invoke_entities.py
  api/core/app/task_pipeline/message_cycle_manager.py
  api/core/datasource/datasource_file_manager.py
  api/core/datasource/utils/configuration.py
  api/core/datasource/utils/message_transformer.py
  api/core/datasource/utils/parser.py
  api/core/file/datasource_file_parser.py
  api/core/file/file_manager.py
  api/core/file/models.py
  api/core/workflow/errors.py
  api/services/dataset_service.py
  api/services/datasource_provider_service.py
  api/services/message_service.py
  api/services/rag_pipeline/rag_pipeline.py
  api/services/rag_pipeline/rag_pipeline_transform_service.py
  api/services/variable_truncator.py
  api/services/workflow/workflow_converter.py
  api/services/workflow_draft_variable_service.py
  api/tasks/rag_pipeline/priority_rag_pipeline_run_task.py
  api/tasks/rag_pipeline/rag_pipeline_run_task.py
  api/tasks/remove_app_and_related_data_task.py
Labels: size:L, lgtm

#25849 fix: fix import linting, remove incorrect tests
  api/controllers/console/app/generator.py
  api/core/llm_generator/llm_generator.py
  api/tests/integration_tests/workflow/test_process_data_truncation_integration.py
Labels: size:L, lgtm

#25858 fix(api): fix format, replace .filter with .where
  api/controllers/console/datasets/wraps.py
  api/controllers/service_api/dataset/rag_pipeline/rag_pipeline_workflow.py
  api/core/app/apps/pipeline/pipeline_runner.py
  api/core/datasource/datasource_file_manager.py
  api/core/datasource/entities/common_entities.py
  api/core/entities/knowledge_entities.py
  api/core/rag/extractor/entity/extract_setting.py
  api/core/workflow/errors.py
  api/core/workflow/nodes/knowledge_index/knowledge_index_node.py
  api/factories/file_factory.py
  api/models/dataset.py
  api/services/dataset_service.py
  api/services/datasource_provider_service.py
  api/services/rag_pipeline/pipeline_template/customized/customized_retrieval.py
  api/services/rag_pipeline/pipeline_template/database/database_retrieval.py
  api/services/rag_pipeline/rag_pipeline.py
  api/services/rag_pipeline/rag_pipeline_dsl_service.py
  api/tasks/deal_dataset_index_update_task.py
Labels: size:L, lgtm

#25864 fix(api): update user retrieval logic in get_user function
  api/controllers/inner_api/plugin/wraps.py
Labels: size:S, lgtm
