Repository langgenius/dify, pull requests merged in 2025-01, with the labels that each got.

#12266 fix: draft run single node can't get env variable
  api/core/workflow/workflow_entry.py
Labels: 🐞 bug, size:XS, lgtm

#12274 [Fix] modify sagemaker llm
  api/core/model_runtime/model_providers/sagemaker/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime

#12279 fix(models): use bigint on workflow_runs.total_tokens
  api/migrations/versions/2025_01_01_2000-a91b476a53de_change_workflow_runs_total_tokens_to_.py
  api/models/workflow.py
Labels: 🐞 bug, size:M, lgtm

#12222 fix: close #12215 for yi special case
  api/core/model_runtime/model_providers/openai/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#12240 feat: Add response format support for openai compat models
  api/core/model_runtime/model_providers/groq/llm/gemma-7b-it.yaml
  api/core/model_runtime/model_providers/groq/llm/gemma2-9b-it.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.1-405b-reasoning.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.1-70b-versatile.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.1-8b-instant.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-11b-text-preview.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-11b-vision-preview.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-1b-preview.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-3b-preview.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-90b-text-preview.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.2-90b-vision-preview.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.3-70b-specdec.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-3.3-70b-versatile.yaml
  api/core/model_runtime/model_providers/groq/llm/llama-guard-3-8b.yaml
  api/core/model_runtime/model_providers/groq/llm/llama2-70b-4096.yaml
  api/core/model_runtime/model_providers/groq/llm/llama3-70b-8192.yaml
  api/core/model_runtime/model_providers/groq/llm/llama3-8b-8192.yaml
  api/core/model_runtime/model_providers/groq/llm/llama3-groq-70b-8192-tool-use-preview.yaml
  api/core/model_runtime/model_providers/openai/llm/gpt-4o.yaml
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: size:L, ⚙️ feat:model-runtime, lgtm

#12199 fix:The chart of average interaction counts per conversation show not…
  api/controllers/console/app/statistic.py
Labels: 🐞 bug, size:XS, lgtm

#12246 refactor: simplify some exception catch code
  api/controllers/console/app/completion.py
  api/controllers/console/explore/completion.py
  api/controllers/console/explore/workflow.py
  api/controllers/service_api/app/completion.py
  api/controllers/service_api/app/workflow.py
  api/controllers/web/completion.py
  api/controllers/web/workflow.py
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/agent_chat/app_generator.py
  api/core/app/apps/chat/app_generator.py
  api/core/app/apps/completion/app_generator.py
  api/core/app/apps/workflow/app_generator.py
Labels: 💪 enhancement, size:M, lgtm

#12299 fix: disable gevent in debug mode for better compatibility with JetBrains Python debugger
  api/app.py
Labels: 🐞 bug, size:XS, lgtm

#12206 fix: Fix parent child retrieval issues
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
  web/app/components/app/configuration/dataset-config/params-config/config-content.tsx
  web/app/components/app/configuration/dataset-config/params-config/index.tsx
  web/app/components/app/configuration/dataset-config/settings-modal/index.tsx
  web/app/components/app/configuration/index.tsx
  web/app/components/datasets/common/check-rerank-model.ts
  web/app/components/datasets/common/economical-retrieval-method-config/index.tsx
  web/app/components/datasets/common/retrieval-method-config/index.tsx
  web/app/components/datasets/common/retrieval-param-config/index.tsx
  web/app/components/datasets/create/embedding-process/index.tsx
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/create/step-two/option-card.tsx
  web/app/components/datasets/documents/detail/completed/index.tsx
  web/app/components/datasets/documents/detail/completed/segment-list.tsx
  web/app/components/datasets/documents/detail/index.tsx
  web/app/components/datasets/documents/index.tsx
  web/app/components/datasets/documents/list.tsx
  web/app/components/datasets/hit-testing/components/child-chunks-item.tsx
  web/app/components/datasets/hit-testing/components/chunk-detail-modal.tsx
  web/app/components/datasets/hit-testing/components/result-item.tsx
  web/app/components/datasets/hit-testing/components/score.tsx
  web/app/components/datasets/hit-testing/index.tsx
  web/app/components/datasets/hit-testing/modify-retrieval-modal.tsx
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/model-trigger.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/components/retrieval-config.tsx
  web/app/components/workflow/nodes/knowledge-retrieval/use-config.ts
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
  web/i18n/en-US/app-debug.ts
  web/i18n/en-US/workflow.ts
  web/i18n/zh-Hans/app-debug.ts
  web/i18n/zh-Hans/workflow.ts
  web/service/knowledge/use-document.ts
Labels: 🐞 bug, size:XL, lgtm

#12302 chore(deps): update yarl version from 1.9.4 to 1.18.3
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS

#12292 Modify jp translation
  web/i18n/ja-JP/common.ts
  web/i18n/ja-JP/dataset-creation.ts
Labels: 📚 documentation, size:S, lgtm

#12305 Fix code scanning alert no. 111: Incomplete URL substring sanitization
  api/services/app_dsl_service.py
Labels: 🐞 bug, size:XS, lgtm

#12304 fix: improve content decoding in AppDslService
  api/services/app_dsl_service.py
Labels: 🐞 bug, size:XS

#12310 fix: add full doc mode preview length limit
  web/app/components/datasets/create/step-two/index.tsx
  web/config/index.ts
Labels: 🐞 bug, size:XS, lgtm

#12120 fix: utcfromtimestamp is Deprecated change to new api
  api/extensions/ext_logging.py
Labels: 🐞 bug, size:XS, lgtm

#12314 fix(app.py): if condition
  api/app.py
Labels: 🐞 bug, size:XS

#12316 refactor: replace gevent threadpool with ProcessPoolExecutor in GPT2Tokenizer
  api/core/model_runtime/model_providers/__base/tokenizers/gpt2_tokenzier.py
Labels: 💪 enhancement, size:XS, lgtm

#12315 feat:Add support for stop parameter in hunyuan model #12313
  api/core/model_runtime/model_providers/hunyuan/llm/llm.py
  api/poetry.lock
  api/pyproject.toml
Labels: dependencies, size:XS, ⚙️ feat:model-runtime, lgtm

#12252 feat: Add response format support to GLM-4
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-0520.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-air.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-airx.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flash.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm-4-flashx.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_long.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4_plus.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v_flash.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/glm_4v_plus.yaml
  api/core/model_runtime/model_providers/zhipuai/llm/llm.py
Labels: 💪 enhancement, size:L, ⚙️ feat:model-runtime, lgtm

#12247 doc: Added explanation of chunk_overlap to knowledge API
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:XS, lgtm

#12317 chore: change app card layout follow by #10847
  web/app/components/explore/app-card/index.tsx
Labels: size:XS, ☕️ typescript

#11968 feat: Add filter to show only apps created by the user
  api/controllers/console/app/app.py
  api/services/app_service.py
  web/app/(commonLayout)/apps/Apps.tsx
  web/i18n/de-DE/app.ts
  web/i18n/en-US/app.ts
  web/i18n/es-ES/app.ts
  web/i18n/fa-IR/app.ts
  web/i18n/fr-FR/app.ts
  web/i18n/hi-IN/app.ts
  web/i18n/it-IT/app.ts
  web/i18n/ja-JP/app.ts
  web/i18n/ko-KR/app.ts
  web/i18n/pl-PL/app.ts
  web/i18n/pt-BR/app.ts
  web/i18n/ro-RO/app.ts
  web/i18n/ru-RU/app.ts
  web/i18n/sl-SI/app.ts
  web/i18n/th-TH/app.ts
  web/i18n/tr-TR/app.ts
  web/i18n/uk-UA/app.ts
  web/i18n/vi-VN/app.ts
  web/i18n/zh-Hans/app.ts
  web/i18n/zh-Hant/app.ts
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#12309 add child chunk preview number limit
  api/configs/feature/__init__.py
  api/core/rag/index_processor/processor/parent_child_index_processor.py
Labels: 💪 enhancement, size:S, lgtm

#12171 fix: #12143 support streaming mode content start with "data:"
  api/core/model_runtime/model_providers/moonshot/llm/llm.py
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
  api/core/model_runtime/model_providers/stepfun/llm/llm.py
Labels: 🐞 bug, size:XS, ⚙️ feat:model-runtime, lgtm

#12329 chore: fix typo in zh-Hant localization
  web/i18n/zh-Hant/workflow.ts
Labels: size:XS, lgtm

#12326 refactor: streamline initialization of application_generate_entity and task_state in task pipeline classes
  api/core/app/apps/advanced_chat/generate_task_pipeline.py
  api/core/app/apps/workflow/generate_task_pipeline.py
  api/core/app/task_pipeline/based_generate_task_pipeline.py
  api/core/app/task_pipeline/message_cycle_manage.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/app/task_pipeline/workflow_cycle_state_manager.py
Labels: 💪 enhancement, size:L, lgtm

#12337 fix: Encode Chinese characters with Unicode before querying to match the Unicode encoded Chinese characters in the db
  api/services/workflow_app_service.py
Labels: 🐞 bug, size:XS, lgtm

#12342 fix: Update the API call address for the text_embedding model
  api/core/model_runtime/model_providers/gitee_ai/text_embedding/text_embedding.py
Labels: 🐞 bug, size:XS, lgtm

#12339 fix: empty delete bug
  api/core/rag/datasource/vdb/baidu/baidu_vector.py
  api/core/rag/datasource/vdb/chroma/chroma_vector.py
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
  api/core/rag/datasource/vdb/myscale/myscale_vector.py
  api/core/rag/datasource/vdb/oceanbase/oceanbase_vector.py
  api/core/rag/datasource/vdb/oracle/oraclevector.py
  api/core/rag/datasource/vdb/pgvector/pgvector.py
  api/core/rag/datasource/vdb/tencent/tencent_vector.py
Labels: 🐞 bug, size:S, lgtm

#12352 fix: fix issue with `chat-input-area` clearing during Responding state.
  web/app/components/base/chat/chat/chat-input-area/index.tsx
  web/app/components/base/chat/chat/index.tsx
Labels: 🐞 bug, size:S, lgtm

#12350 Bugfix/style and i18n fixes
  web/app/components/app/configuration/dataset-config/params-config/weighted-score.tsx
  web/app/components/base/chat/chat/question.tsx
  web/app/components/base/markdown.tsx
  web/i18n/en-US/common.ts
  web/i18n/zh-Hans/common.ts
Labels: size:S, lgtm

#12351 Fix the issue where `TextGeneration` component does not correctly clear input data.
  web/app/components/share/text-generation/index.tsx
Labels: 🐞 bug, size:XS, lgtm, ☕️ typescript

#12349 fix: resolve issue with the opening statement generated by the `AutomaticRes` component failing to sync between states.
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#12335 feat: support configuration of refresh token expiration by environment variable
  api/.env.example
  api/configs/feature/__init__.py
  api/services/account_service.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#12366 chore: chat app textarea auto focus
  web/app/components/base/chat/chat/chat-input-area/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#12375 feat: support config top max value by env
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/.env.example
  web/app/components/base/param-item/top-k-item.tsx
  web/app/layout.tsx
  web/docker/entrypoint.sh
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#12388 sandbox doesn't provide auto disable log
  api/schedule/clean_unused_datasets_task.py
  api/services/dataset_service.py
Labels: 🐞 bug, size:S, lgtm

#12378 [Fix] revert sagemaker llm to support model hub
  api/core/model_runtime/model_providers/sagemaker/llm/llm.py
Labels: 🐞 bug, size:L, lgtm

#12396 fix: enhance chunk list management with new invalidation keys and imp…
  web/app/components/datasets/documents/detail/completed/index.tsx
  web/service/knowledge/use-segment.ts
  web/service/use-base.ts
Labels: size:M, lgtm, ☕️ typescript

#12401 fix: http method can be upper case and lower case close #11877
  api/core/tools/tool/api_tool.py
  api/core/workflow/nodes/http_request/entities.py
  api/core/workflow/nodes/http_request/executor.py
Labels: 🐞 bug, size:M, lgtm

#12400 fix: correct fetch_from for customizable models
  api/core/entities/provider_configuration.py
Labels: 🐞 bug, size:XS, lgtm

#12381 Support TTS and Speech2Text for Model Provider GPUStack
  api/core/model_runtime/model_providers/gpustack/gpustack.yaml
  api/core/model_runtime/model_providers/gpustack/llm/llm.py
  api/core/model_runtime/model_providers/gpustack/speech2text/__init__.py
  api/core/model_runtime/model_providers/gpustack/speech2text/speech2text.py
  api/core/model_runtime/model_providers/gpustack/text_embedding/text_embedding.py
  api/core/model_runtime/model_providers/gpustack/tts/__init__.py
  api/core/model_runtime/model_providers/gpustack/tts/tts.py
  api/tests/integration_tests/model_runtime/gpustack/test_speech2text.py
  api/tests/integration_tests/model_runtime/gpustack/test_tts.py
Labels: 🐞 bug, size:L, ⚙️ feat:model-runtime, lgtm

#12406 fix: [PromptEditorHeightResizeWrap] Bug #12410
  web/app/components/app/configuration/config-prompt/prompt-editor-height-resize-wrap.tsx
Labels: 🐞 bug, size:XS, lgtm

#12416 refactor: use tiktoken for token calculation
  api/core/model_runtime/model_providers/__base/tokenizers/gpt2_tokenzier.py
Labels: size:S, lgtm

#12422 chore(docker/.env.example): Add TOP_K_MAX_VALUE to the `.env.example`…
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:XS, lgtm

#12425 add fish-speech-1.5 from siliconflow
  api/core/model_runtime/model_providers/siliconflow/tts/fish-speech-1.5.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#12437 fix:deepseek tool call not working correctly
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#12112 Fix newline characters in tables during document parsing
  api/core/workflow/nodes/document_extractor/node.py
Labels: 🐞 bug, size:M, lgtm

#12426 refactor: enhance API token validation with session locking and last used timestamp update
  api/controllers/service_api/wraps.py
  api/docker/entrypoint.sh
  api/services/billing_service.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, 💪 enhancement, size:M

#12297 chore: bump version to 0.15.0
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 📚 documentation, 💪 enhancement, size:S

#12446 Fix #12448 - update bedrock retrieve tool, support hybrid search type and re…
  api/core/tools/provider/builtin/aws/tools/bedrock_retrieve.py
  api/core/tools/provider/builtin/aws/tools/bedrock_retrieve.yaml
Labels: size:M, 🔨 feat:tools, lgtm

#12444 Add 'document' feature to Sonnet 3.5 through OpenRouter
  api/core/model_runtime/model_providers/openrouter/llm/claude-3-5-sonnet.yaml
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#12450 remove knowledge admin role
  api/services/dataset_service.py
Labels: size:XS, lgtm

#12452 fix: url with variable not work
  api/core/workflow/nodes/http_request/executor.py
Labels: 🐞 bug, size:S, lgtm

#12455 fix: allow fallback to remote_url when url is not provided
  api/factories/file_factory.py
Labels: 🐞 bug, size:XS, lgtm

#12462 add tidb on qdrant redis lock
  api/core/rag/datasource/vdb/tidb_on_qdrant/tidb_on_qdrant_vector.py
Labels: size:M, 👻 feat:rag, lgtm

#12463 Revert "fix:deepseek tool call not working correctly"
  api/core/model_runtime/model_providers/openai_api_compatible/llm/llm.py
Labels: size:XS, lgtm

#12472 fix: adjust opacity for model selector based on readonly state
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/header/account-setting/model-provider-page/model-selector/model-trigger.tsx
Labels: size:XS, lgtm, ☕️ typescript

#12194 Feat elasticsearch japanese
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_ja_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  docker/.env.example
  docker/docker-compose.yaml
  docker/elasticsearch/docker-entrypoint.sh
Labels: size:L, 👻 feat:rag, lgtm

#10429 fix: fix the incorrect plaintext file key when saving
  api/core/rag/extractor/pdf_extractor.py
Labels: 🐞 bug, size:XS, lgtm

#12478 fix: tiktoken cannot be loaded without internet
  api/core/model_runtime/model_providers/__base/tokenizers/gpt2_tokenzier.py
Labels: 🐞 bug, size:S, lgtm

#11318 feat: support single run doc extractor node
  api/core/workflow/nodes/document_extractor/node.py
  web/app/components/workflow/nodes/_base/hooks/use-one-step-run.ts
  web/app/components/workflow/nodes/document-extractor/panel.tsx
  web/app/components/workflow/nodes/document-extractor/use-config.ts
  web/app/components/workflow/utils.ts
Labels: size:L, 🌊 feat:workflow, lgtm

#11430 FEAT: support milvus to full text search
  api/configs/middleware/vdb/milvus_config.py
  api/core/rag/datasource/vdb/field.py
  api/core/rag/datasource/vdb/milvus/milvus_vector.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration_tests/vdb/milvus/test_milvus.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: size:L, 👻 feat:rag, lgtm

#12495 fix #12453 #12482
  api/controllers/console/datasets/datasets_document.py
  api/services/dataset_service.py
  api/tasks/deal_dataset_vector_index_task.py
Labels: 🐞 bug, size:M, lgtm

#12514 feat: add ci job to test template for docker compose
  .github/workflows/style.yml
Labels: size:S, 🌊 feat:workflow, lgtm

#12509 fix: Reverse sync docker-compose-template.yaml
  docker/.env.example
  docker/docker-compose-template.yaml
Labels: size:S, lgtm

#12517 fix: add last_refresh_time to track the validity of is_other_tab_refreshing
  web/service/refresh-token.ts
Labels: 🐞 bug, size:S, lgtm

#12508 Fix: Add a INFO-level log when fallback to gpt2tokenizer
  api/core/model_runtime/model_providers/__base/tokenizers/gpt2_tokenzier.py
Labels: size:XS, ⚙️ feat:model-runtime, lgtm

#11899 feat: add GET upload file API endpoint to dataset service api
  api/controllers/service_api/__init__.py
  api/controllers/service_api/dataset/upload_file.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#12502 fix: same chunk insert deadlock
  api/core/indexing_runner.py
Labels: 🐞 bug, size:S, lgtm

#12530 fix: Parsing OpenAPI spec for external tools (#12518)
  api/core/tools/utils/parser.py
Labels: 🐞 bug, size:XS, lgtm

#12531 feat: show workflow running status
  web/app/components/app/text-generate/item/index.tsx
  web/app/components/base/chat/chat/answer/index.tsx
  web/app/components/base/chat/chat/answer/workflow-process.tsx
Labels: size:S, lgtm, ☕️ typescript

#12534 fix: sum costs return error value on overview page
  web/app/components/app/overview/appChart.tsx
  web/package.json
  web/yarn.lock
Labels: 🐞 bug, size:XS, lgtm

#12533 fix: Add datasets list access control and fix datasets config display issue
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/(commonLayout)/datasets/Datasets.tsx
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/develop/md.tsx
  web/i18n/en-US/dataset.ts
  web/i18n/zh-Hans/dataset.ts
  web/models/datasets.ts
  web/service/datasets.ts
Labels: 🐞 bug, size:L, lgtm, ☕️ typescript

#12542 feat: add ci checks to plugins/beta branch
  .github/workflows/api-tests.yml
  .github/workflows/style.yml
  api/tests/integration_tests/model_runtime/gpustack/test_speech2text.py
  api/tests/integration_tests/model_runtime/gpustack/test_tts.py
  api/tests/unit_tests/core/workflow/nodes/llm/test_node.py
  api/tests/unit_tests/core/workflow/nodes/test_continue_on_error.py
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.1.yaml
Labels: size:XL

#12550 feat: refactor docker-compose
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
Labels: size:S

#12553 Introducing: Plugin Mechanism
  api/configs/packaging/__init__.py
  api/core/rag/extractor/word_extractor.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 📚 documentation, dependencies, size:M

#12537 Feat/add knowledge include all filter
  api/controllers/console/datasets/datasets.py
  api/controllers/service_api/dataset/dataset.py
  api/services/dataset_service.py
Labels: 💪 enhancement, size:S, lgtm

#12558 fix: add-default-console-url
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:XS

#12561 fix: not show stragry type
  web/app/components/plugins/card/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#12552 improve the readability of the function generate_api_key
  api/models/model.py
Labels: size:XS, lgtm

#12565 fix: rename plugin db name to dify_plugin
  docker/.env.example
  docker/middleware.env.example
Labels: size:XS

#12567 bump version to 1.0.0-beta.1
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:S

#12589 Fix:screenshots image missed
  web/public/screenshots/light/Agent.png
  web/public/screenshots/light/Agent@2x.png
  web/public/screenshots/light/Agent@3x.png
  web/public/screenshots/light/Chatbot.png
  web/public/screenshots/light/Chatbot@2x.png
  web/public/screenshots/light/Chatbot@3x.png
  web/public/screenshots/light/Chatflow.png
  web/public/screenshots/light/Chatflow@2x.png
  web/public/screenshots/light/Chatflow@3x.png
  web/public/screenshots/light/TextGenerator.png
  web/public/screenshots/light/TextGenerator@2x.png
  web/public/screenshots/light/TextGenerator@3x.png
  web/public/screenshots/light/Workflow.png
  web/public/screenshots/light/Workflow@2x.png
  web/public/screenshots/light/Workflow@3x.png
Labels: size:XS, lgtm

#12594 Fix/setting model page crash
  web/app/components/base/icons/assets/public/llm/Anthropic-dark.svg
  web/app/components/base/icons/assets/public/llm/Anthropic-light.svg
  web/app/components/base/icons/src/public/llm/AnthropicDark.json
  web/app/components/base/icons/src/public/llm/AnthropicDark.tsx
  web/app/components/base/icons/src/public/llm/AnthropicLight.json
  web/app/components/base/icons/src/public/llm/AnthropicLight.tsx
  web/app/components/base/icons/src/public/llm/index.ts
  web/app/components/header/account-setting/model-provider-page/model-icon/index.tsx
  web/app/components/header/account-setting/model-provider-page/provider-icon/index.tsx
  web/app/components/plugins/card/card-mock.ts
  web/hooks/use-i18n.ts
Labels: 🐞 bug, size:XXL, lgtm, ☕️ typescript

#12581 fix: marketplace serach bundle
  web/app/components/plugins/marketplace/hooks.ts
  web/app/components/plugins/marketplace/utils.ts
  web/app/components/plugins/types.ts
  web/service/use-plugins.ts
Labels: 🐞 bug, size:XS

#12572 fix: add location directive for /explore
  docker/nginx/conf.d/default.conf.template
Labels: 🐞 bug, size:XS, lgtm

#12590 fix: update fetchReleases to use owner and repo from meta
  web/app/components/plugins/plugin-item/action.tsx
Labels: 🐞 bug, size:XS, lgtm

#12603 Fix: style checks and unittests
  api/core/helper/ssrf_proxy.py
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
  api/pytest.ini
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_executor.py
  api/tests/unit_tests/core/workflow/nodes/http_request/test_http_request_node.py
Labels: size:L

#12597 fix: ci use pnpm error
  .github/workflows/style.yml
  web/package.json
  web/pnpm-lock.yaml
Labels: size:S

#12599 fix(1.0): add missing environment variable
  api/.env.example
  dev/pytest/pytest_config_tests.py
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: 🐞 bug, size:M, lgtm

#12613 fix: marketplace page list style
  web/app/components/plugins/marketplace/intersection-line/index.tsx
  web/app/components/plugins/marketplace/list/list-wrapper.tsx
Labels: size:XS, ☕️ typescript

#12623 fix: marketplace card i18n
  web/app/components/plugins/card/index.tsx
Labels: size:XS, ☕️ typescript

#12615 Plugins/fix backend ci errors
  api/core/model_runtime/model_providers/__base/large_language_model.py
  api/core/tools/builtin_tool/providers/time/tools/timezone_conversion.py
  api/core/tools/builtin_tool/providers/webscraper/webscraper.py
  api/tests/integration_tests/model_runtime/__mock/plugin_daemon.py
  api/tests/integration_tests/model_runtime/__mock/plugin_model.py
  api/tests/integration_tests/workflow/nodes/__mock/model.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
  api/tests/integration_tests/workflow/nodes/test_parameter_extractor.py
  api/tests/integration_tests/workflow/nodes/test_tool.py
Labels: size:XL

#12591 Feat/new saas billing
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/datasets/hit_testing.py
  api/controllers/console/wraps.py
  api/controllers/service_api/wraps.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/services/billing_service.py
  api/services/feature_service.py
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#12638 Fix pandas indexing method for knowledge base imports (#12637)
  api/controllers/console/datasets/datasets_segments.py
  api/core/rag/index_processor/processor/qa_index_processor.py
  api/services/annotation_service.py
  api/tasks/batch_create_segment_to_index_task.py
Labels: 🐞 bug, size:S, lgtm

#12633 chore: Adjust translations to align with Taiwanese Mandarin conventions
  web/i18n/zh-Hant/app.ts
Labels: size:S, lgtm

#12576 fix: ruff check for True if ... else
  api/.ruff.toml
  api/controllers/console/explore/conversation.py
  api/controllers/service_api/wraps.py
  api/controllers/web/conversation.py
  api/core/model_runtime/schema_validators/common_validator.py
  api/core/rag/datasource/vdb/lindorm/lindorm_vector.py
Labels: size:S, lgtm

#12578 fix: ruff with statements
  api/.ruff.toml
  api/tests/integration_tests/controllers/test_controllers.py
Labels: size:XS, lgtm

#12662 fix: plugins task
  web/app/components/plugins/marketplace/description/index.tsx
  web/service/use-plugins.ts
Labels: 🐞 bug, size:M, ☕️ typescript

#12667 feat: add agent strategy on node start
  api/core/app/apps/workflow_app_runner.py
  api/core/app/entities/queue_entities.py
  api/core/app/entities/task_entities.py
  api/core/app/task_pipeline/workflow_cycle_manage.py
  api/core/workflow/entities/node_entities.py
  api/core/workflow/graph_engine/entities/event.py
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/agent/agent_node.py
Labels: size:M, 🤖 feat:agent

#12510 fix(workflow): fix answer node stream processing in conditional branches
  api/core/workflow/nodes/answer/base_stream_processor.py
Labels: 🐞 bug, size:S, lgtm

#12673 Revert "Feat/new saas billing"
  api/controllers/console/datasets/datasets.py
  api/controllers/console/datasets/datasets_document.py
  api/controllers/console/datasets/datasets_segments.py
  api/controllers/console/datasets/hit_testing.py
  api/controllers/console/wraps.py
  api/controllers/service_api/wraps.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/services/billing_service.py
  api/services/feature_service.py
Labels: size:L

#12672 fix: Update variable handling in VariableAssignerNode and clean up app_dsl_service
  api/core/workflow/nodes/variable_assigner/v2/node.py
  api/services/app_dsl_service.py
Labels: 🐞 bug, size:S, lgtm

#12677 fix: add type hints for App model and improve error handling in audio services
  api/controllers/console/app/audio.py
  api/services/audio_service.py
Labels: size:S, lgtm

#11501 Add new integration with Opik Tracking tool
  api/core/ops/entities/config_entity.py
  api/core/ops/opik_trace/__init__.py
  api/core/ops/opik_trace/opik_trace.py
  api/core/ops/ops_trace_manager.py
  api/poetry.lock
  api/pyproject.toml
  api/services/ops_service.py
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config-popup.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/config.ts
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-config-modal.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-panel.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/type.ts
  web/app/components/base/icons/assets/public/tracing/opik-icon-big.svg
  web/app/components/base/icons/assets/public/tracing/opik-icon.svg
  web/app/components/base/icons/src/public/tracing/OpikIcon.json
  web/app/components/base/icons/src/public/tracing/OpikIcon.tsx
  web/app/components/base/icons/src/public/tracing/OpikIconBig.json
  web/app/components/base/icons/src/public/tracing/OpikIconBig.tsx
  web/app/components/base/icons/src/public/tracing/index.ts
  web/i18n/en-US/app.ts
  web/i18n/zh-Hans/app.ts
  web/models/app.ts
Labels: 📚 documentation, 💪 enhancement, size:XXL, lgtm

#12563 [fix] support feature restore
  web/app/components/workflow/hooks/use-workflow-run.ts
Labels: size:S, lgtm

#12688 feat: add table of contents to Knowledge API doc
  web/app/(commonLayout)/datasets/Container.tsx
  web/app/(commonLayout)/datasets/Doc.tsx
Labels: 📚 documentation, size:L, lgtm

#12690 chore: bump version to 0.15.1
  api/configs/packaging/__init__.py
  docker-legacy/docker-compose.yaml
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/package.json
Labels: 📚 documentation, dependencies, size:S, lgtm

#12707 Feat: copyright modification
  web/app/components/app/overview/settings/index.tsx
  web/app/components/app/overview/settings/style.module.css
  web/app/components/base/chat/chat-with-history/sidebar/index.tsx
  web/app/components/base/icons/assets/public/common/highlight.svg
  web/app/components/base/icons/assets/public/common/sparkles-soft.svg
  web/app/components/base/icons/src/public/common/Highlight.json
  web/app/components/base/icons/src/public/common/Highlight.tsx
  web/app/components/base/icons/src/public/common/SparklesSoft.json
  web/app/components/base/icons/src/public/common/SparklesSoft.tsx
  web/app/components/base/icons/src/public/common/index.ts
  web/app/components/base/premium-badge/index.css
  web/app/components/base/premium-badge/index.tsx
  web/app/components/share/text-generation/index.tsx
  web/i18n/en-US/app-overview.ts
  web/i18n/zh-Hans/app-overview.ts
Labels: size:XL, lgtm, ☕️ typescript

#12712 fix: save tool not add type
  web/app/components/plugins/plugin-detail-panel/tool-selector/index.tsx
Labels: size:XS, ☕️ typescript

#12721 fix: Fix rerank model switching issue
  web/app/components/workflow/nodes/knowledge-retrieval/utils.ts
Labels: 🐞 bug, size:S, lgtm, ☕️ typescript

#12853 feat: enhance credential extraction logic based on configurate method
  api/core/provider_manager.py
Labels: 💪 enhancement, size:S, lgtm

#12747 fix: DeepSeek API Error with response format active (text and json_object)
  api/core/model_runtime/model_providers/deepseek/llm/llm.py
  api/core/model_runtime/model_providers/moonshot/llm/llm.py
  api/core/model_runtime/model_providers/siliconflow/llm/llm.py
Labels: 🐞 bug, size:XS, lgtm

#12772 chore: fix chinese translation for 'recall'
  web/i18n/zh-Hans/dataset-creation.ts
Labels: size:XS, lgtm

#12738 Fix suggested_question_prompt
  api/core/llm_generator/prompts.py
Labels: size:XS, lgtm

#12875 fix: "parmas" spelling mistake.
  api/core/tools/provider/builtin/email/tools/send.py
Labels: size:S, lgtm

#12790 fix: SparkLite API Auth error (#12781)
  api/core/model_runtime/model_providers/spark/llm/_client.py
Labels: 🐞 bug, size:XS, lgtm

#12833 feat: allow updating chunk settings for the existing documents
  api/services/dataset_service.py
  api/services/entities/knowledge_entities/knowledge_entities.py
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/documents/detail/completed/index.tsx
Labels: 💪 enhancement, size:M, lgtm

#12784 fix: serply credential check query might return empty records
  api/core/tools/provider/builtin/websearch/tools/job_search.py
  api/core/tools/provider/builtin/websearch/tools/news_search.py
  api/core/tools/provider/builtin/websearch/tools/scholar_search.py
  api/core/tools/provider/builtin/websearch/tools/web_search.py
Labels: 🐞 bug, size:XS, lgtm

#12821 fix(1.0): sometimes add tool raise error
  web/app/components/workflow/block-selector/tabs.tsx
Labels: 🐞 bug, size:XS, lgtm

#12814 chore(1.0): improve some environment variables
  .gitignore
  api/.env.example
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: size:M, lgtm

#12812 fix(1.0): unexpected error raise
  api/core/plugin/manager/tool.py
  api/core/tools/plugin_tool/provider.py
Labels: 🐞 bug, size:S

#12805 fix: correct validation for agent node which is invoked before publishing the app
  web/app/components/workflow/hooks/use-checklist.ts
Labels: 🐞 bug, size:S, lgtm

#12763 feat:Support Minimax-Text-01
  api/core/model_runtime/model_providers/minimax/llm/llm.py
  api/core/model_runtime/model_providers/minimax/llm/minimax-text-01.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#12665 fix: Issues related to the deletion of conversation_id (#12488)
  api/core/app/apps/message_based_app_generator.py
Labels: 🐞 bug, size:XS, lgtm

#12761 chore(fix): Invalid quotes for using Array[String] in HTTP request node as JSON body
  api/core/variables/segments.py
Labels: 🐞 bug, size:XS, lgtm

#12898 add deepseek-reasoner
  api/core/model_runtime/model_providers/deepseek/llm/_position.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-reasoner.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#12612 fix: external dataset hit test display issue(#12564)
  web/app/components/datasets/hit-testing/components/result-item-external.tsx
  web/app/components/datasets/hit-testing/components/result-item-footer.tsx
  web/app/components/datasets/hit-testing/components/result-item-meta.tsx
  web/app/components/datasets/hit-testing/components/result-item.tsx
  web/app/components/datasets/hit-testing/index.tsx
  web/app/components/datasets/hit-testing/textarea.tsx
Labels: 🐞 bug, size:L, lgtm, ☕️ typescript

#12899 Update deepseek model configuration
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-chat.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-coder.yaml
  api/core/model_runtime/model_providers/deepseek/llm/deepseek-reasoner.yaml
Labels: size:S, ⚙️ feat:model-runtime, lgtm

#12769 fix: variable panel scrollable
  web/app/components/app/log/var-panel.tsx
Labels: 🐞 bug, size:XS, lgtm

#12909 chore: remove webapp ga
  web/app/(shareLayout)/layout.tsx
Labels: size:XS, lgtm

#12774 bug: fixed bedrock rerank bug
  api/core/model_runtime/model_providers/bedrock/rerank/rerank.py
Labels: 🐞 bug, size:XS, lgtm

#12908 fix update segment keyword with same content
  api/services/dataset_service.py
Labels: 🐞 bug, size:S, lgtm

#12600 fix(1.0): add cross-env to pnpm run dev
  web/package.json
Labels: size:XS, javascript

#12915 fix: change default PLUGIN_DAEMON_URL to http://localhost:5002
  api/configs/feature/__init__.py
Labels: 🐞 bug, size:XS

#12775 fix:Fix a bug that returns null when the passed path is a file.
  api/core/tools/provider/builtin/gitlab/tools/gitlab_files.py
  api/core/tools/provider/builtin/gitlab/tools/gitlab_files.yaml
Labels: 🐞 bug, size:M, lgtm

#12642 feat: Add ability to change profile avatar
  api/fields/member_fields.py
  api/libs/helper.py
  web/app/account/account-page/AvatarWithEdit.tsx
  web/app/account/account-page/index.tsx
  web/app/account/avatar.tsx
  web/app/components/app/configuration/debug/debug-with-multiple-model/chat-item.tsx
  web/app/components/app/configuration/debug/debug-with-single-model/index.tsx
  web/app/components/base/app-icon-picker/ImageInput.tsx
  web/app/components/base/avatar/index.tsx
  web/app/components/datasets/settings/permission-selector/index.tsx
  web/app/components/header/account-dropdown/index.tsx
  web/app/components/header/account-setting/members-page/index.tsx
  web/models/common.ts
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#12924 feat: add gemini-2.0-flash-thinking-exp-01-21
  api/core/model_runtime/model_providers/google/llm/_position.yaml
  api/core/model_runtime/model_providers/google/llm/gemini-2.0-flash-thinking-exp-01-21.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm

#12925 feat: support config chunk length by env
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  web/.env.example
  web/app/components/datasets/create/step-two/index.tsx
  web/app/components/datasets/create/step-two/inputs.tsx
  web/app/layout.tsx
  web/docker/entrypoint.sh
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#12770 fix: app token's last_used_at can't be updated when last_used_at is null
  api/controllers/service_api/wraps.py
Labels: 🐞 bug, size:XS, lgtm

#12920 fix: Agent is configured for ReAct inference mode, an error is reported when viewing the agent log
  api/core/agent/cot_agent_runner.py
Labels: 🐞 bug, size:XS, lgtm

#12931 fix: agent node output vars error
  web/app/components/workflow/nodes/agent/panel.tsx
  web/app/components/workflow/nodes/agent/use-config.ts
Labels: 🐞 bug, size:S

#12930 add milvus full text search setting
  api/controllers/console/datasets/datasets.py
Labels: size:XS, 👻 feat:rag, lgtm

#12369 chore(build): bump poetry from 1.x to 2.x
  .github/actions/setup-poetry/action.yml
  .github/workflows/api-tests.yml
  .github/workflows/style.yml
  .github/workflows/vdb-tests.yml
  api/Dockerfile
  api/README.md
  api/poetry.lock
  api/pyproject.toml
  dev/reformat
  dev/sync-poetry
  docker/docker-compose-template.yaml
Labels: 📚 documentation, dependencies, size:M, lgtm

#12929 fix(batch_create_segment_to_index_task): count max_position in memory.
  api/models/dataset.py
  api/tasks/batch_create_segment_to_index_task.py
Labels: 🐞 bug, size:L, lgtm

#12932 feat: workflow note dark theme
  web/app/components/workflow/note-node/constants.ts
  web/app/components/workflow/note-node/index.tsx
  web/app/components/workflow/note-node/note-editor/editor.tsx
  web/app/components/workflow/note-node/note-editor/plugins/link-editor-plugin/component.tsx
  web/app/components/workflow/note-node/note-editor/theme/theme.css
  web/app/components/workflow/note-node/note-editor/toolbar/color-picker.tsx
  web/app/components/workflow/note-node/note-editor/toolbar/command.tsx
  web/app/components/workflow/note-node/note-editor/toolbar/divider.tsx
  web/app/components/workflow/note-node/note-editor/toolbar/font-size-selector.tsx
  web/app/components/workflow/note-node/note-editor/toolbar/index.tsx
  web/app/components/workflow/note-node/note-editor/toolbar/operator.tsx
Labels: size:L, 🌊 feat:workflow, lgtm

#12934 fix: 500 error in Notion integration API
  api/controllers/console/datasets/data_source.py
Labels: 🐞 bug, size:XS, lgtm

#12936 fix: resolve clipboard.writeText failure under HTTP protocol
  web/app/components/develop/code.tsx
  web/utils/clipboard.ts
Labels: 🐞 bug, size:M, lgtm

#12935 feat(ark): support doubao 1.5 series of models
  api/core/model_runtime/model_providers/volcengine_maas/llm/models.py
  api/core/model_runtime/model_providers/volcengine_maas/volcengine_maas.yaml
Labels: size:M, ⚙️ feat:model-runtime, lgtm
