Repository langgenius/dify, pull requests merged in 2025-10, with the labels that each got.

#26517 fix: add missing key prop to TabPanel and initialize useRef with null
  web/app/components/develop/code.tsx
Labels: size:XS, lgtm

#26519 chore(devcontainer): update Python base image from bullseye to bookworm in Dockerfile
  .devcontainer/Dockerfile
Labels: size:XS, lgtm

#26539 Feature add test containers enable segments to index task
  api/tests/test_containers_integration_tests/tasks/test_enable_segments_to_index_task.py
Labels: 💪 enhancement, size:XL, lgtm

#26496 Exclude tests directory from pyright type checking
  api/controllers/console/app/app.py
  api/controllers/console/datasets/datasets.py
  api/controllers/service_api/dataset/dataset.py
  api/libs/validators.py
  api/pyrightconfig.json
  api/tests/integration_tests/controllers/console/app/test_chat_message_permissions.py
  api/tests/integration_tests/controllers/console/app/test_description_validation.py
  api/tests/integration_tests/controllers/console/app/test_model_config_permissions.py
  api/tests/unit_tests/controllers/console/app/test_description_validation.py
Labels: size:L, lgtm

#26572 fix: delete useless db session commit
  api/services/workflow/workflow_converter.py
Labels: size:XS, lgtm

#26580 Feature add test containers mail email code login task
  api/tests/test_containers_integration_tests/conftest.py
  api/tests/test_containers_integration_tests/tasks/test_mail_email_code_login_task.py
Labels: 💪 enhancement, size:XL, lgtm

#26555 Feature add test containers mail account deletion task 1858
  api/tests/test_containers_integration_tests/tasks/test_clean_dataset_task.py
  api/tests/test_containers_integration_tests/tasks/test_enable_segments_to_index_task.py
  api/tests/test_containers_integration_tests/tasks/test_mail_account_deletion_task.py
Labels: 💪 enhancement, size:L, lgtm

#26512 Removes the 'extensions' directory from pyrightconfig.json and fixes …
  api/extensions/ext_app_metrics.py
  api/extensions/ext_database.py
  api/extensions/ext_import_modules.py
  api/extensions/storage/aliyun_oss_storage.py
  api/extensions/storage/aws_s3_storage.py
  api/extensions/storage/azure_blob_storage.py
  api/extensions/storage/clickzetta_volume/clickzetta_volume_storage.py
  api/extensions/storage/clickzetta_volume/volume_permissions.py
  api/extensions/storage/google_cloud_storage.py
  api/extensions/storage/huawei_obs_storage.py
  api/extensions/storage/oracle_oci_storage.py
  api/extensions/storage/supabase_storage.py
  api/extensions/storage/volcengine_tos_storage.py
  api/pyrightconfig.json
  api/tests/unit_tests/extensions/storage/test_supabase_storage.py
  api/tests/unit_tests/oss/volcengine_tos/test_volcengine_tos.py
Labels: size:L, lgtm

#26592 chore: Raise default string length limits
  api/.env.example
  api/configs/feature/__init__.py
  api/core/workflow/nodes/template_transform/template_transform_node.py
  api/pytest.ini
  api/tests/integration_tests/workflow/nodes/test_code.py
  api/tests/unit_tests/configs/test_dify_config.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 💪 enhancement, size:M, lgtm

#26590 chore: Avoid directly using OpenAI dependencies
  api/core/datasource/__base/datasource_runtime.py
  api/core/tools/__base/tool_runtime.py
  api/extensions/ext_sentry.py
  api/pyproject.toml
  api/services/app_generate_service.py
  api/tests/test_containers_integration_tests/services/test_app_generate_service.py
  api/uv.lock
Labels: size:M, lgtm

#26609 chore: remove explicit dependency on the fastapi framework
  api/controllers/console/datasets/rag_pipeline/datasource_auth.py
Labels: size:XS, lgtm

#26570 Feature add test containers mail change mail task
  api/tests/test_containers_integration_tests/tasks/test_mail_change_mail_task.py
Labels: 💪 enhancement, size:L, lgtm

#26624 fix: two functions comments doc is not right
  api/tasks/rag_pipeline/priority_rag_pipeline_run_task.py
  api/tasks/rag_pipeline/rag_pipeline_run_task.py
Labels: 📚 documentation, size:M, lgtm

#26310 perf(web): improve app workflow build performance.
  web/app/components/base/markdown-blocks/code-block.tsx
  web/app/components/base/markdown/index.tsx
  web/app/components/base/markdown/react-markdown-wrapper.tsx
  web/app/components/datasets/documents/create-from-pipeline/data-source/local-file/index.tsx
  web/app/components/workflow-app/index.tsx
  web/app/components/workflow/hooks/use-workflow-history.ts
  web/app/components/workflow/workflow-history-store.tsx
Labels: 💪 enhancement, size:L, lgtm

#26494 refactor: Enable type checking for dataset config manager
  api/core/app/app_config/easy_ui_based_app/dataset/manager.py
  api/pyrightconfig.json
Labels: 💪 enhancement, size:M, lgtm

#26629 feat: remove unused python dependency
  api/pyproject.toml
  api/uv.lock
Labels: size:XS, lgtm
