Repository langgenius/dify, pull requests merged in 2025-06, with the labels that each got.

#20526 nacos config init , and force add ts parms.
  api/configs/remote_settings_sources/nacos/http_request.py
Labels: size:XS, lgtm

#20537 Fix #20536: Force header in custom tool be string
  api/core/tools/custom_tool/tool.py
Labels: size:XS, lgtm

#18837 fix: ensure proper conversation role alternation for vLLM
  api/core/workflow/nodes/question_classifier/question_classifier_node.py
Labels: 🐞 bug, size:XS, lgtm

#20561 fix: #20560 When elasticsearch is used as the vector database, the Retrieval Test fails to filter the data after setting the Score Threshold, and the score of the recalled results is empty
  api/core/rag/datasource/vdb/elasticsearch/elasticsearch_vector.py
Labels: size:XS, lgtm

#20566 Fix/dark theme style issues
  web/app/components/base/radio/component/radio/index.tsx
  web/app/components/workflow/nodes/_base/components/editor/code-editor/editor-support-vars.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-type-picker.tsx
Labels: size:XS, lgtm, ☕️ typescript

#20571 fix: agent thought replaced by response text
  web/app/components/base/chat/chat/hooks.ts
Labels: size:XS, lgtm

#20569 refactor: Replaces direct DB session usage with context managers
  api/core/workflow/graph_engine/graph_engine.py
  api/core/workflow/nodes/agent/agent_node.py
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
  api/core/workflow/nodes/llm/node.py
  api/core/workflow/nodes/parameter_extractor/parameter_extractor_node.py
Labels: 💪 enhancement, size:M, lgtm

#20577 fix: Upgrade Flask-Cors
  api/pyproject.toml
  api/uv.lock
Labels: 📚 documentation, dependencies, size:S, lgtm

#20575 refactor: Removes unused LLMMode value_of method
  api/core/app/app_config/easy_ui_based_app/model_config/converter.py
  api/core/model_runtime/entities/llm_entities.py
Labels: size:S, lgtm

#20576 fix: Ensure model config integrity in retrieval processes
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:S, lgtm

#20545 fixes #19634
  api/libs/smtp.py
Labels: 📚 documentation, size:XS, lgtm

#20548 ♻️ refactor(middleware): remove duplicate CSP header assignment
  web/middleware.ts
Labels: size:XS, lgtm, ☕️ typescript

#20592 Revert "♻️ refactor(middleware): remove duplicate CSP header assignment"
  web/middleware.ts
Labels: size:XS, lgtm

#20594 fix: ensure newlines around think tags for proper markdown rendering
  web/app/components/base/markdown/markdown-utils.ts
Labels: size:XS, lgtm, ☕️ typescript

#20585 refactor: Removes tenant ID check from rate limit logic
  api/core/workflow/nodes/knowledge_retrieval/knowledge_retrieval_node.py
Labels: size:M, lgtm

#20559 fix: unable to upload custom file in case of incorrect inffered by multiple extensions mapped from mime type with filename extension hints
  web/app/components/base/file-uploader/hooks.ts
  web/app/components/base/file-uploader/utils.spec.ts
  web/app/components/base/file-uploader/utils.ts
Labels: size:L, lgtm, ☕️ typescript

#20624 fix: adjust sticky header properties in Container component
  web/app/(commonLayout)/datasets/Container.tsx
Labels: size:XS, lgtm

#20636 fix: plugin update redcorner mark display incorrect
  web/app/components/plugins/plugin-item/index.tsx
Labels: size:XS, lgtm

#20643 chore: ensure web code consistency by applying `pnpm fix`
  web/app/components/base/mermaid/index.tsx
Labels: size:S, lgtm

#20613 feat: plugin storage support volcengine tos
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.middleware.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#20648 fix(markdown): Ensure abbr: links render correctly in react-markdown v9+
  web/app/components/base/markdown/index.tsx
  web/app/components/base/markdown/markdown-utils.ts
Labels: size:M, lgtm, ☕️ typescript

#20586 refactor: Improve model status handling and structured output
  api/core/entities/model_entities.py
  api/core/extension/extensible.py
  api/core/model_runtime/entities/model_entities.py
  api/core/provider_manager.py
  api/core/workflow/nodes/llm/entities.py
  api/core/workflow/nodes/llm/node.py
  api/core/workflow/utils/structured_output/entities.py
  api/models/provider.py
  api/tests/integration_tests/workflow/nodes/test_llm.py
Labels: size:XL, lgtm

#20614 Fix 500 error
  api/libs/helper.py
Labels: size:XS, lgtm

#20665 fix: the locale format(#20662)
  web/app/components/header/maintenance-notice.tsx
Labels: size:XS, lgtm, ☕️ typescript

#20659 Update template.zh.mdx-fix document update metadata body param
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:XS, lgtm

#20668 Add vscode debugger
  .gitignore
  .vscode/README.md
  .vscode/launch.json.template
Labels: size:M, 🔨 feat:tools, lgtm

#20673 fix: agent moderation not working
  web/app/components/base/chat/chat/hooks.ts
Labels: size:XS, lgtm

#20681 Fix: style of radio checked
  web/app/components/base/radio/component/radio/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#20684 Feat/webapp verified sso 260
  api/services/enterprise/enterprise_service.py
Labels: size:XS

#20704 fix(inner_api/plugin/wraps): refresh user model after creation in get user function
  api/controllers/inner_api/plugin/wraps.py
Labels: size:XS, lgtm

#20692 chore: bump uv to 0.7.x
  .github/actions/setup-uv/action.yml
  api/Dockerfile
Labels: dependencies, size:XS, lgtm

#20701 fix: opensearch metadata filtering returns empty
  api/core/rag/datasource/vdb/opensearch/opensearch_vector.py
Labels: size:XS, lgtm

#20715 chore: remove repeat public api and service api panel
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/chartView.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/page.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/panel.tsx
Labels: size:M, lgtm

#20616 chore: replace pseudo-random generators with secrets module
  api/.ruff.toml
  api/core/helper/moderation.py
  api/core/workflow/nodes/http_request/executor.py
  api/libs/helper.py
  api/services/account_service.py
  api/services/dataset_service.py
  api/services/webapp_auth_service.py
  api/tests/unit_tests/core/helper/test_ssrf_proxy.py
Labels: size:M, lgtm

#20731 Feat/webapp verified sso 260: add token exchange for public app
  api/controllers/web/passport.py
  api/services/webapp_auth_service.py
Labels: 📚 documentation, 💪 enhancement, size:M

#20747 fix: missing bot name in orchestrate
  web/app/components/base/chat/chat/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#20746 feat(api): Adjust `WorkflowDraftVariable` and `WorkflowNodeExecutionModel`
  api/migrations/versions/2025_06_06_1424-4474872b0ee6_workflow_draft_varaibles_add_node_execution_id.py
  api/models/workflow.py
Labels: size:L, 🌊 feat:workflow, lgtm

#20765 Add support for W&B dedicated cloud instances in Weave tracing integration
  api/core/ops/entities/config_entity.py
  api/core/ops/ops_trace_manager.py
  api/core/ops/weave_trace/weave_trace.py
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/provider-config-modal.tsx
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/tracing/type.ts
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#20773 fix: clean up two unreachable code
  api/core/rag/datasource/vdb/oracle/oraclevector.py
  api/core/tools/utils/dataset_retriever/dataset_multi_retriever_tool.py
Labels: size:XS, lgtm

#20788 fix: some dark mode display incorrect
  web/app/components/base/chat/chat/chat-input-area/index.tsx
  web/app/components/base/markdown-blocks/think-block.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-reference-vars.tsx
Labels: size:XS, lgtm, ☕️ typescript

#20831 Feat/webapp verified sso 260
  api/controllers/web/app.py
  api/controllers/web/error.py
  api/controllers/web/wraps.py
Labels: size:S

#20829 fix(api): Resolve error encountered when executing `QuestionClassifieNode`
  api/core/workflow/nodes/knowledge_retrieval/entities.py
  api/core/workflow/nodes/question_classifier/entities.py
Labels: size:S, lgtm

#20865 fix(web): optimize prompt change logic for LLM nodes (#20841)
  web/app/components/workflow/nodes/llm/use-config.ts
  web/app/components/workflow/types.ts
Labels: size:XS, lgtm

#20845 fix auto metadata filter
  api/core/workflow/nodes/llm/node.py
Labels: size:XS, lgtm

#20873 chore: update plugin publish link text
  web/app/components/plugins/plugin-page/index.tsx
  web/i18n/de-DE/plugin.ts
  web/i18n/en-US/plugin.ts
  web/i18n/es-ES/plugin.ts
  web/i18n/fa-IR/plugin.ts
  web/i18n/fr-FR/plugin.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/plugin.ts
  web/i18n/it-IT/plugin.ts
  web/i18n/ja-JP/plugin.ts
  web/i18n/ko-KR/plugin.ts
  web/i18n/pl-PL/plugin.ts
  web/i18n/pt-BR/plugin.ts
  web/i18n/ro-RO/plugin.ts
  web/i18n/ru-RU/plugin.ts
  web/i18n/sl-SI/plugin.ts
  web/i18n/th-TH/plugin.ts
  web/i18n/tr-TR/plugin.ts
  web/i18n/uk-UA/plugin.ts
  web/i18n/vi-VN/plugin.ts
  web/i18n/zh-Hans/plugin.ts
  web/i18n/zh-Hant/plugin.ts
  web/i18n/zh-Hant/workflow.ts
Labels: 📚 documentation, size:L, lgtm

#20846 fix remote ip header CF-Connecting-IP
  api/libs/helper.py
Labels: size:XS, lgtm

#20794 🐛 Fix(Gemini LLM): Support Gemini 0.2.x plugin on agent app
  api/core/app/apps/base_app_runner.py
  api/core/app/task_pipeline/easy_ui_based_generate_task_pipeline.py
Labels: size:M, lgtm

#20966 refactor(sqlalchemy_workflow_execution_repository): Use the max funtion for getting next_sequence_number.
  api/core/repositories/sqlalchemy_workflow_execution_repository.py
Labels: size:XS, lgtm

#20948 fix(auth): Clear login rate limit after password reset
  api/commands.py
Labels: size:XS, lgtm

#20973 chore: app info add author_name
  api/controllers/service_api/app/app.py
  web/app/components/develop/template/template.en.mdx
  web/app/components/develop/template/template.ja.mdx
  web/app/components/develop/template/template.zh.mdx
  web/app/components/develop/template/template_advanced_chat.en.mdx
  web/app/components/develop/template/template_advanced_chat.ja.mdx
  web/app/components/develop/template/template_advanced_chat.zh.mdx
  web/app/components/develop/template/template_chat.en.mdx
  web/app/components/develop/template/template_chat.ja.mdx
  web/app/components/develop/template/template_chat.zh.mdx
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, size:M, lgtm

#21020 fix: correct description for edu coupon
  web/i18n/ja-JP/education.ts
Labels: size:XS, lgtm

#21018 fix(web): optimize conversation-panel Modal width adjustment logic
  web/app/components/app/log/list.tsx
Labels: size:XS, lgtm, ☕️ typescript

#20999 fix: delete some dead code using vulture
  api/core/workflow/nodes/event/event.py
  api/factories/variable_factory.py
  api/services/errors/__init__.py
  api/services/errors/account.py
  api/services/errors/completion.py
Labels: size:S, lgtm

#21048 fix: update documentation links for various components to support localization
  web/app/components/app/create-app-modal/index.tsx
  web/app/components/app/overview/settings/index.tsx
  web/app/components/datasets/external-api/external-api-modal/Form.tsx
  web/app/components/datasets/external-api/external-api-panel/index.tsx
  web/app/components/datasets/hit-testing/modify-retrieval-modal.tsx
  web/app/components/datasets/settings/form/index.tsx
  web/app/components/workflow/nodes/_base/components/agent-strategy.tsx
  web/app/components/workflow/nodes/_base/components/error-handle/default-value.tsx
  web/app/components/workflow/nodes/_base/components/variable/var-reference-popup.tsx
  web/app/components/workflow/panel/chat-variable-panel/index.tsx
  web/context/i18n.ts
Labels: 📚 documentation, size:M, lgtm

#21052 chore: rename workflow blocks
  web/i18n/de-DE/workflow.ts
  web/i18n/en-US/workflow.ts
  web/i18n/es-ES/workflow.ts
  web/i18n/fa-IR/workflow.ts
  web/i18n/fr-FR/workflow.ts
  web/i18n/hi-IN/workflow.ts
  web/i18n/it-IT/workflow.ts
  web/i18n/ko-KR/workflow.ts
  web/i18n/pl-PL/workflow.ts
  web/i18n/pt-BR/workflow.ts
  web/i18n/ro-RO/workflow.ts
  web/i18n/ru-RU/workflow.ts
  web/i18n/sl-SI/workflow.ts
  web/i18n/th-TH/workflow.ts
  web/i18n/tr-TR/workflow.ts
  web/i18n/uk-UA/workflow.ts
  web/i18n/vi-VN/workflow.ts
Labels: size:XXL, 🌊 feat:workflow, lgtm

#21096 fix: auto redirect to login page if web app needs login
  web/service/base.ts
Labels: size:XS, lgtm, ☕️ typescript

#21108 fix: doc error
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, size:XS, lgtm

#21055 fix: some dark theme display incorrect
  web/app/components/plugins/install-plugin/install-from-github/steps/selectPackage.tsx
  web/app/components/workflow/panel/env-panel/variable-modal.tsx
Labels: size:XS, lgtm

#21112 chore: cleanup wrong and unused doc links in i18 translations by appling docLink method usage
  web/app/components/app/configuration/tools/external-data-tool-modal.tsx
  web/app/components/base/features/new-feature-panel/moderation/moderation-setting-modal.tsx
  web/app/components/header/account-setting/api-based-extension-page/empty.tsx
  web/app/components/header/account-setting/api-based-extension-page/modal.tsx
  web/i18n/de-DE/common.ts
  web/i18n/de-DE/dataset-creation.ts
  web/i18n/en-US/common.ts
  web/i18n/en-US/dataset-creation.ts
  web/i18n/es-ES/common.ts
  web/i18n/es-ES/dataset-creation.ts
  web/i18n/fa-IR/common.ts
  web/i18n/fa-IR/dataset-creation.ts
  web/i18n/fr-FR/common.ts
  web/i18n/fr-FR/dataset-creation.ts
  web/i18n/hi-IN/common.ts
  web/i18n/hi-IN/dataset-creation.ts
  web/i18n/it-IT/common.ts
  web/i18n/it-IT/dataset-creation.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ja-JP/dataset-creation.ts
  web/i18n/ko-KR/common.ts
  web/i18n/ko-KR/dataset-creation.ts
  web/i18n/pl-PL/common.ts
  web/i18n/pl-PL/dataset-creation.ts
  web/i18n/pt-BR/common.ts
  web/i18n/pt-BR/dataset-creation.ts
  web/i18n/ro-RO/common.ts
  web/i18n/ro-RO/dataset-creation.ts
  web/i18n/ru-RU/common.ts
  web/i18n/ru-RU/dataset-creation.ts
  web/i18n/sl-SI/common.ts
  web/i18n/sl-SI/dataset-creation.ts
  web/i18n/th-TH/common.ts
  web/i18n/th-TH/dataset-creation.ts
  web/i18n/tr-TR/common.ts
  web/i18n/tr-TR/dataset-creation.ts
  web/i18n/uk-UA/common.ts
  web/i18n/uk-UA/dataset-creation.ts
  web/i18n/vi-VN/common.ts
  web/i18n/vi-VN/dataset-creation.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/dataset-creation.ts
  web/i18n/zh-Hant/common.ts
  web/i18n/zh-Hant/dataset-creation.ts
Labels: 📚 documentation, size:M, lgtm

#21059 fix: remove the x overflow scroll bar of monitoring page
  web/app/(commonLayout)/app/(appDetailLayout)/[appId]/overview/page.tsx
Labels: size:XS, lgtm

#21115 chore: responsive header
  web/app/components/header/account-dropdown/workplace-selector/index.tsx
  web/app/components/header/app-nav/index.tsx
  web/app/components/header/dataset-nav/index.tsx
  web/app/components/header/env-nav/index.tsx
  web/app/components/header/explore-nav/index.tsx
  web/app/components/header/index.tsx
  web/app/components/header/nav/index.tsx
  web/app/components/header/nav/nav-selector/index.tsx
  web/app/components/header/tools-nav/index.tsx
Labels: size:L, lgtm, ☕️ typescript

#21094 fix(agent_node):Fix spelling errors.
  api/core/workflow/nodes/agent/agent_node.py
Labels: size:XS, lgtm

#21131 fix: shorten connection timeout to pypi.org for deprecation check for weaviate client
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
Labels: size:XS, 👻 feat:rag, lgtm

#20810 fix(web): fix unique key issue (#20809)
  web/app/components/workflow/nodes/_base/components/agent-strategy.tsx
  web/app/components/workflow/nodes/agent/node.tsx
Labels: size:XS, lgtm, ☕️ typescript

#21149 Fix/webapp auth failed
  web/app/components/app/app-publisher/index.tsx
  web/app/signin/components/sso-auth.tsx
Labels: size:S, lgtm, ☕️ typescript

#20977 fix Multiple <think>\n Interface rendering exception
  web/app/components/base/markdown/markdown-utils.ts
Labels: size:XS, lgtm

#20989 add healthcheck to oceanbase container
  .github/workflows/vdb-tests.yml
  api/tests/integration_tests/vdb/oceanbase/check_oceanbase_ready.py
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: 📚 documentation, dependencies, size:M, lgtm

#20890 chore: cancel enforcing uppercase of the text of plugin navigation button on the header bar
  web/app/components/header/plugins-nav/index.tsx
Labels: size:XS, lgtm

#20878 add service api ratelimit check
  api/controllers/service_api/dataset/dataset.py
  api/controllers/service_api/dataset/document.py
  api/controllers/service_api/dataset/hit_testing.py
  api/controllers/service_api/dataset/metadata.py
  api/controllers/service_api/dataset/segment.py
Labels: 📚 documentation, 💪 enhancement, size:M, lgtm

#20784 refactor(graph_engine): Merge duplicated if block
  api/core/workflow/graph_engine/graph_engine.py
Labels: 💪 enhancement, size:M, lgtm

#20797 unreachable-code for lb model fetch.
  api/core/model_manager.py
Labels: size:XS, lgtm

#20775 clean duplicate validate for dataset_configs
  api/core/app/app_config/easy_ui_based_app/dataset/manager.py
Labels: size:XS, lgtm

#20761 fix(api): add support for "image" icon when duplicate app (#20744)
  api/services/app_dsl_service.py
Labels: 💪 enhancement, size:XS, lgtm

#20521 feat: add search endpoint for Firecrawl Integration
  api/core/rag/extractor/firecrawl/firecrawl_app.py
Labels: size:M, lgtm

#20786 fix: add environment variable POSTGRES_USER
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: 📚 documentation, dependencies, size:XS, lgtm

#20014 wip: add check before install plugin
  web/app/components/header/account-setting/model-provider-page/install-from-marketplace.tsx
  web/app/components/plugins/card/index.tsx
  web/app/components/plugins/install-plugin/hooks/use-install-plugin-limit.tsx
  web/app/components/plugins/install-plugin/install-bundle/item/github-item.tsx
  web/app/components/plugins/install-plugin/install-bundle/item/loaded-item.tsx
  web/app/components/plugins/install-plugin/install-bundle/item/package-item.tsx
  web/app/components/plugins/install-plugin/install-bundle/steps/install-multi.tsx
  web/app/components/plugins/install-plugin/install-bundle/steps/install.tsx
  web/app/components/plugins/install-plugin/install-from-local-package/steps/install.tsx
  web/app/components/plugins/install-plugin/install-from-marketplace/steps/install.tsx
  web/app/components/plugins/install-plugin/utils.ts
  web/app/components/plugins/marketplace/list/card-wrapper.tsx
  web/app/components/plugins/marketplace/utils.ts
  web/app/components/plugins/plugin-detail-panel/detail-header.tsx
  web/app/components/plugins/plugin-item/index.tsx
  web/app/components/plugins/plugin-page/empty/index.tsx
  web/app/components/plugins/plugin-page/index.tsx
  web/app/components/plugins/plugin-page/install-plugin-dropdown.tsx
  web/app/components/plugins/types.ts
  web/app/components/tools/marketplace/index.tsx
  web/app/components/workflow/block-selector/market-place-plugin/action.tsx
  web/app/signin/LoginLogo.tsx
  web/i18n/en-US/common.ts
  web/i18n/en-US/plugin.ts
  web/i18n/ja-JP/common.ts
  web/i18n/ja-JP/plugin.ts
  web/i18n/zh-Hans/common.ts
  web/i18n/zh-Hans/plugin.ts
  web/types/feature.ts
  web/utils/var.ts
Labels: size:L, lgtm

#21162 fix: remove redundant PG_USER
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
  docker/middleware.env.example
Labels: size:XS, lgtm

#21153 bug: fix sequence number may be duplicated when multi-threads running the same workflow #21047
  api/core/repositories/sqlalchemy_workflow_execution_repository.py
Labels: size:S, lgtm

#21166 Fix: web app auth maybe failed
  web/app/components/app/app-publisher/index.tsx
  web/app/signin/components/sso-auth.tsx
Labels: size:S, lgtm, ☕️ typescript

#21164 fix: workflow shortcuts
  web/app/components/workflow/hooks/use-shortcuts.ts
Labels: size:XS, 🌊 feat:workflow, lgtm

#21085 add func args missing in apps chat.
  api/core/app/apps/advanced_chat/app_generator.py
  api/core/app/apps/workflow/app_generator.py
Labels: size:XS, 🔨 feat:tools, lgtm

#21194 Translation fix
  api/core/rag/datasource/vdb/weaviate/weaviate_vector.py
  web/i18n/de-DE/plugin.ts
  web/i18n/es-ES/plugin.ts
  web/i18n/fr-FR/plugin.ts
  web/i18n/it-IT/plugin.ts
  web/i18n/pt-BR/plugin.ts
  web/i18n/ro-RO/plugin.ts
  web/i18n/zh-Hant/app-log.ts
  web/i18n/zh-Hant/plugin.ts
Labels: 📚 documentation, size:S, lgtm

#21172 Add Filter of Get Workflow Logs
  api/controllers/console/app/workflow_app_log.py
  api/controllers/service_api/app/workflow.py
  api/services/workflow_app_service.py
  web/app/components/develop/template/template_workflow.en.mdx
  web/app/components/develop/template/template_workflow.ja.mdx
  web/app/components/develop/template/template_workflow.zh.mdx
Labels: 📚 documentation, size:M, 🌊 feat:workflow, lgtm

#20714 feat: add support for Matrixone database
  .gitignore
  api/.env.example
  api/commands.py
  api/configs/middleware/__init__.py
  api/configs/middleware/vdb/matrixone_config.py
  api/controllers/console/datasets/datasets.py
  api/core/rag/datasource/vdb/matrixone/__init__.py
  api/core/rag/datasource/vdb/matrixone/matrixone_vector.py
  api/core/rag/datasource/vdb/vector_factory.py
  api/core/rag/datasource/vdb/vector_type.py
  api/pyproject.toml
  api/tests/integration_tests/vdb/matrixone/__init__.py
  api/tests/integration_tests/vdb/matrixone/test_matrixone.py
  api/uv.lock
  docker/.env.example
  docker/docker-compose-template.yaml
  docker/docker-compose.yaml
Labels: size:L, 👻 feat:rag, lgtm

#21174 feat:conversation variable support file array
  api/core/workflow/nodes/variable_assigner/v2/constants.py
  api/core/workflow/nodes/variable_assigner/v2/helpers.py
  api/factories/variable_factory.py
  web/app/components/workflow/panel/chat-variable-panel/components/variable-modal.tsx
  web/app/components/workflow/panel/chat-variable-panel/type.ts
Labels: 💪 enhancement, size:L, lgtm

#21202 fix keyword search top-k not initial
  api/services/dataset_service.py
  api/services/entities/knowledge_entities/knowledge_entities.py
Labels: size:S, lgtm

#21187 fix(plugin/migrations) refactor data migration to use specific provider ID classes.
  api/services/plugin/data_migration.py
Labels: 📚 documentation, size:M, lgtm

#21221 Fix/dataset page may redirect to apps if it still getting user info and workspace info
  web/app/(commonLayout)/datasets/Datasets.tsx
  web/app/(commonLayout)/datasets/NewDatasetCard.tsx
  web/app/(commonLayout)/datasets/layout.tsx
Labels: size:M, lgtm, ☕️ typescript

#21213 fix: fix load_balancing_config save error
  api/controllers/console/workspace/load_balancing_config.py
Labels: size:XS, lgtm

#21211 chore: remove redundant code
  web/context/provider-context.tsx
Labels: size:XS, lgtm

#21258 fix: not permitted schema of markdown link cause page crash
  web/app/components/base/markdown-blocks/link.tsx
Labels: size:XS, lgtm

#21255 bug: fix minor exception msg missing
  api/libs/sendgrid.py
Labels: size:XS, lgtm

#21208 Feat: support selecting model in auto generator
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
  web/app/components/app/configuration/config/automatic/get-automatic-res.tsx
  web/app/components/app/configuration/config/code-generator/get-code-generator-res.tsx
  web/app/components/workflow/nodes/llm/components/json-schema-config-modal/json-schema-generator/index.tsx
  web/app/components/workflow/nodes/llm/components/prompt-generator-btn.tsx
Labels: 💪 enhancement, size:L, lgtm, ☕️ typescript

#18235 Knowledge base API supports status updates #18147
  api/controllers/console/datasets/datasets_document.py
  api/controllers/service_api/dataset/dataset.py
  api/services/dataset_service.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#21311 fix: wrong translation
  web/app/components/develop/template/template_chat.en.mdx
Labels: 📚 documentation, size:XS, lgtm

#21310 refactor: env check with function
  web/config/index.ts
Labels: size:S, lgtm, ☕️ typescript

#21309 fix: markdown_extractor lost chunks if it starts without a header(#21308)
  api/core/rag/extractor/markdown_extractor.py
  api/tests/unit_tests/core/rag/extractor/test_markdown_extractor.py
Labels: size:M, lgtm

#21325 Feature：Refactor batch update document status for #21324
  api/services/dataset_service.py
  api/tests/unit_tests/conftest.py
  api/tests/unit_tests/services/test_dataset_service.py
Labels: 💪 enhancement, size:XXL, lgtm

#21276 fix: hide marketplace information(#21275)
  web/app/components/plugins/plugin-detail-panel/operation-dropdown.tsx
  web/app/components/plugins/plugin-item/index.tsx
Labels: size:S, lgtm, ☕️ typescript

#21359 fix: Update segmentation type initialization to support parent-child mode based on document form
  web/app/components/datasets/create/step-two/index.tsx
Labels: size:S, lgtm, ☕️ typescript

#21340 fix: web error
  web/app/components/base/chat/chat/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#21291 feat: add config for max-tree-depth
  web/.env.example
  web/app/components/plugins/install-plugin/base/use-get-icon.ts
  web/app/components/plugins/plugin-page/index.tsx
  web/app/components/workflow/block-selector/market-place-plugin/list.tsx
  web/app/components/workflow/constants.ts
  web/app/components/workflow/hooks/use-checklist.ts
  web/app/components/workflow/nodes/_base/components/switch-plugin-version.tsx
  web/app/layout.tsx
  web/app/signin/components/social-auth.tsx
  web/config/index.ts
  web/docker/entrypoint.sh
  web/service/refresh-token.ts
  web/types/feature.ts
Labels: 📚 documentation, 💪 enhancement, size:L, lgtm

#21358 fix(migrate/tools): Correct parameter name in tool_builtin_providers migration function
  api/services/plugin/data_migration.py
Labels: size:XS, lgtm

#21373 Fixes #21357 Correct the wrong link destination (#quick-start)
  README_JA.md
Labels: 📚 documentation, size:XS, lgtm

#21385 Fixes #21366: Add link to the one-click Dify deployment solution on Alibaba Cloud DMS
  README.md
  README_AR.md
  README_BN.md
  README_CN.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_KL.md
  README_KR.md
  README_PT.md
  README_SI.md
  README_TR.md
  README_TW.md
  README_VI.md
Labels: 📚 documentation, size:M, lgtm

#21399 Improve App Icon Picker: Stable Modal Height & Collapsible Emoji Style Section
  web/app/components/base/app-icon-picker/index.tsx
  web/app/components/base/emoji-picker/Inner.tsx
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#21406 add dataset info in response
  api/controllers/console/datasets/datasets_document.py
Labels: size:XS, lgtm

#21413 add dataset info in response
  api/controllers/console/datasets/datasets_document.py
Labels: size:XS, lgtm

#21424 fix: last run not export var and ts problem
  web/app/components/workflow/types.ts
  web/config/index.ts
Labels: size:XS, lgtm, ☕️ typescript

#21444 fix: first message query error
  api/models/model.py
Labels: size:XS

#21454 fix(knowledge_base): Unchecked metadata name length
  api/services/metadata_service.py
  web/app/components/datasets/metadata/hooks/use-check-metadata-name.ts
  web/i18n/en-US/dataset.ts
Labels: size:S, lgtm

#21451 fix (conf/code): Variables not correctly filled can still be referenced
  web/app/components/app/configuration/config-prompt/advanced-prompt-input.tsx
  web/app/components/app/configuration/config-prompt/simple-prompt-input.tsx
  web/app/components/app/configuration/config/agent/prompt-editor.tsx
Labels: size:M, lgtm, ☕️ typescript

#21463 fix: inputs.items is undefined
  web/app/components/workflow/nodes/assigner/use-single-run-form-params.ts
Labels: size:XS, lgtm

#21457 fix: in plugin config panel appselector can not list all apps()
  web/app/components/plugins/plugin-detail-panel/app-selector/app-picker.tsx
  web/app/components/plugins/plugin-detail-panel/app-selector/index.tsx
Labels: size:L, lgtm

#21466 fix: update DocumentList to include max height and overflow styles
  web/app/components/datasets/common/document-picker/document-list.tsx
Labels: size:XS, lgtm, ☕️ typescript

#21476 feat(web): Contains sys.files in the default template.
  web/app/components/workflow-app/hooks/use-workflow-template.ts
  web/app/components/workflow/nodes/_base/components/memory-config.tsx
Labels: 💪 enhancement, size:XS, lgtm

#21335 Update smtp.py
  api/libs/smtp.py
Labels: 📚 documentation, 💪 enhancement, size:XS, lgtm

#21483 feat(oauth): refactor proxy context
  api/services/plugin/oauth_service.py
Labels: 📚 documentation, 💪 enhancement, size:S, lgtm

#21468 fix(event_handlers): DB dead lock
  api/events/event_handlers/__init__.py
  api/events/event_handlers/deduct_quota_when_message_created.py
  api/events/event_handlers/update_provider_last_used_at_when_message_created.py
  api/events/event_handlers/update_provider_when_message_created.py
  api/models/model.py
  api/pyproject.toml
  api/uv.lock
  tests/unit_tests/events/test_provider_update_deadlock_prevention.py
Labels: size:XL, lgtm

#20868 Feat/kb index
  api/core/indexing_runner.py
  api/core/rag/index_processor/processor/paragraph_index_processor.py
  api/services/vector_service.py
  web/app/components/datasets/documents/detail/completed/segment-detail.tsx
  web/app/components/datasets/documents/detail/new-segment.tsx
  web/eslint.config.mjs
Labels: size:L

#21515 fix: var inspect doc link error
  web/app/components/workflow/variable-inspect/empty.tsx
Labels: size:XS

#21526 fix: prompt editor insert context
  web/app/components/base/prompt-editor/plugins/component-picker-block/prompt-option.tsx
Labels: size:XS, lgtm, ☕️ typescript

#21497 chore: remove unused code
  api/models/model.py
  api/services/moderation_service.py
Labels: size:S, lgtm

#21409 fix: update retrieval method cache
  web/app/components/datasets/create/step-three/index.tsx
  web/app/components/datasets/create/step-two/index.tsx
Labels: size:XS, lgtm, ☕️ typescript

#21564 feat: add tooltip to workflow run node name
  web/app/components/workflow/run/node.tsx
Labels: size:S, 🌊 feat:workflow, lgtm

#21559 fix(web): optimize the pop logic of the tool selector (#21558)
  web/app/components/plugins/plugin-detail-panel/multiple-tool-selector/index.tsx
  web/app/components/workflow/block-selector/types.ts
Labels: size:M, 🔨 feat:tools, lgtm

#21574 fix: wrong token number when using qa_model and answer is updated.
  api/services/dataset_service.py
Labels: size:XS

#21539 feat: Add display control logic for the variable inspection panel
  web/app/components/workflow/header/header-in-normal.tsx
  web/app/components/workflow/variable-inspect/trigger.tsx
Labels: size:M, 🌊 feat:workflow

#21555 feat: to add tag when tag input is unfocus
  web/app/components/base/tag-input/index.tsx
  web/i18n/en-US/dataset-documents.ts
Labels: 💪 enhancement, size:M, lgtm, ☕️ typescript

#21576 feat: Refactor panel component, add adaptive width observer to optimize panel width management
  web/app/components/workflow/panel/index.tsx
Labels: 💪 enhancement, size:L, ☕️ typescript

#21612 style: decrease navbar z-index value from 30 to 15, fix style error
  web/app/components/header/header-wrapper.tsx
Labels: size:XS

#21605 fix: Resolving conflicts caused by tablestore dependency on enum34
  api/pyproject.toml
  api/uv.lock
Labels: dependencies, size:XS

#21624 feat(plugin): Add API endpoint for invoking LLM with structured output
  api/controllers/inner_api/plugin/plugin.py
  api/core/plugin/backwards_invocation/model.py
Labels: 💪 enhancement, size:M

#21198 Add Env 'CELERY_SENTINEL_PASSWORD' for celery connect redis sentinel.
  api/configs/middleware/__init__.py
  api/extensions/ext_celery.py
  docker/.env.example
  docker/docker-compose.yaml
Labels: 📚 documentation, size:XS, lgtm

#21669 feat: Add autofill by default value in endpoint plugin setting page.
  web/app/components/plugins/plugin-detail-panel/endpoint-modal.tsx
Labels: 💪 enhancement, size:S, lgtm, ☕️ typescript

#21671 fix(ui): no hover effect in copy button of code node
  web/app/components/workflow/nodes/_base/components/editor/base.tsx
Labels: size:S, lgtm

#21673 fix: #21427 correct segment settings when creating documents via API
  web/app/components/datasets/create/step-two/index.tsx
Labels: 📚 documentation, size:XS, lgtm

#21717 fix: keep search params in web app url when needs authorize
  web/app/(shareLayout)/layout.tsx
  web/app/(shareLayout)/webapp-signin/check-code/page.tsx
  web/app/(shareLayout)/webapp-signin/components/external-member-sso-auth.tsx
  web/app/(shareLayout)/webapp-signin/components/mail-and-password-auth.tsx
  web/app/(shareLayout)/webapp-signin/components/sso-auth.tsx
  web/app/(shareLayout)/webapp-signin/page.tsx
  web/app/components/share/text-generation/index.tsx
  web/service/base.ts
Labels: size:M, lgtm, ☕️ typescript

#21700 Add get document detail service api
  api/controllers/service_api/dataset/document.py
  api/controllers/service_api/wraps.py
  web/app/(commonLayout)/datasets/template/template.en.mdx
  web/app/(commonLayout)/datasets/template/template.ja.mdx
  web/app/(commonLayout)/datasets/template/template.zh.mdx
Labels: 📚 documentation, 💪 enhancement, size:L

#21680 fix: copy inspect variable value get extra quotes
  web/app/components/workflow/variable-inspect/right.tsx
Labels: size:S, ☕️ typescript
